[2022-09-23 02:38] michaelsproul commented on #3601
No worries! Glad to hear you got it sorted :blush:

[2022-09-23 02:38] #3601 closed, assigned to nobody

[2022-09-23 08:12] metachris commented on #3517
If there's wider interest in this feature as part of mev-boost, please signal your interest with a 👍 on https://github.com/flashbots/mev-boost/issues/273

[2022-09-23 08:13] metachris commented on #3517
btw, totally agree that ELs should provide a way to get the validator feeRecipient balance difference to be able to compare the value locally! would be important to keep pushing on this

[2022-09-23 19:38] tthebst commented on #3567
I think `nohup` does not work because lighthouse does implement its own `SIGHUP` [handler](https://sourcegraph.com/github.com/sigp/lighthouse/-/blob/lighthouse/environment/src/lib.rs?L410:37). I think `nohup lighthouse ...  & disown` at least prevent lighthouse from stopping when you exit the shell.

[2022-09-25 03:36] solid8tion opened #3605 "Builder Profit Threshold flag unrecognized"
## Description

The `--builder-profit-threshold` flag on the beacon node does not seem to be recognized.

## Version

v3.1.0

## Present Behaviour

I receive the following error when setting the  `--builder-profit-threshold` flag on the beacon node:

`error: Found argument '--builder-profit-threshold' which wasn't expected, or isn't valid in this context`

## Expected Behaviour

This seems to be d

[2022-09-25 03:49] solid8tion commented on #3605
Received response on Discord saying this will be available in the v3.1.2 release

[2022-09-25 03:49] #3605 closed, assigned to nobody

[2022-09-26 01:59] michaelsproul opened #3607 "Add flag to lengthen execution layer timeouts"
## Description

The engine API spec mandates that we time out after 8 seconds on any call to `newPayload` or `forkchoiceUpdated`. The problem is that on slow hardware this can seemingly lead to a livelock/death spiral (as reported by @jclapis and other Raspberry Pi enthusiasts). If some messages take say 8.1 seconds to process then the node will be stuck forever as it times out trying to process t

[2022-09-26 02:00] #3578 closed, assigned to nobody

[2022-09-26 02:00] michaelsproul commented on #3573
Resolved by #3592

[2022-09-26 02:00] #3573 closed, assigned to nobody

[2022-09-26 03:36] #3517 closed, assigned to nobody

[2022-09-26 03:36] #3514 closed, assigned to michaelsproul

[2022-09-26 03:36] #3550 closed, assigned to nobody

[2022-09-26 03:36] #3101 closed, assigned to nobody

[2022-09-26 03:36] #3556 closed, assigned to michaelsproul

[2022-09-26 04:53] gamell commented on #3579
I am seeing a similar issue, which is causing missed attestations. I am running Geth `v1.10.25-stable` and with Lighthouse ` v3.1.0-aa022f4` and I get these error logs in my beacon chain process  around once a day:

[code]

There are no error or warning logs at all on the Geth side, and the issue goes away without taking any action, until it happens again.

I confirmed that CPU, Memory and network

[2022-09-26 05:24] michaelsproul commented on #3579
@gamell Please try upgrading to Lighthouse v3.1.2 and setting `--prune-payloads false`. This will alleviate some of the load on your execution node.

[2022-09-26 05:31] michaelsproul commented on #3549
A consensus node with state history _is not_ required for an archival execution node. Lighthouse will store all historic blocks even when running in "pruned" mode, which is all that's required to fetch execution node history.

We don't have a light client.

I'll leave this issue open for someone to update the docs

[2022-09-26 05:32] #3541 closed, assigned to nobody

[2022-09-26 05:32] michaelsproul commented on #3533
Closing as resolved

[2022-09-26 05:32] #3533 closed, assigned to nobody

[2022-09-26 05:33] michaelsproul commented on #3527
Resolved by #3538

[2022-09-26 05:33] #3527 closed, assigned to nobody

[2022-09-26 05:34] michaelsproul commented on #3478
Resolved by #3521

[2022-09-26 05:34] #3478 closed, assigned to nobody

[2022-09-26 07:36] ytrezq commented on #3549
@michaelsproul sorry for the wording but how to run lighthouse in pruned mode with only storing the last 10 epochs then?

[2022-09-26 07:43] michaelsproul commented on #3549
@ytrezq There's no mode that just stores the last N epochs. Your options currently are:

- Store all blocks and some occasional states since the point at which you [checkpoint synced](https://lighthouse-book.sigmaprime.io/checkpoint-sync.html). This is the default and the closest we have to a "pruned" mode until changes like https://github.com/sigp/lighthouse/issues/3211 and https://github.com/sig

[2022-09-27 02:13] paulhauner opened #3612 "VC does not fallback for sync sigs when primary BN is optimistic"
## Description

When the VC attempts to publish a sync committee signature it will try and get the head block root from the first BN that returns a response, regardless if that BN is optimistic or not:

https://github.com/sigp/lighthouse/blob/01e84b71f524968f5b940fbd2fa31d29408b6581/validator_client/src/sync_committee_service.rs#L177-L209

I think the ideal behaviour would be trying to find a BN t

[2022-09-27 02:41] michaelsproul opened #3613 "Improve beacon node failover in validator client [tracking issue]"
## Description

I think the beacon node failover feature is in need of some love, particularly now that we are post-merge and it is complicated by the addition of the execution node.

There are several issues:

- Beacon nodes continue to self-report their status as synced when the execution node goes offline. This means they will be used by validator clients to produce sub-optimal attestations.
-

[2022-09-27 03:10] michaelsproul opened #3614 "VC should publish proposer preparation and validator registrations to all connected BNs"
## Description

Validator clients using fallback beacon nodes may miss out on quality block proposals in some situations because they don't send proposer preparation and validator registration messages to any beacon node except the primary. If the primary fails before these messages are re-sent, then a fallback BN which lacks the preparations and registrations will be used instead, likely resultin

[2022-09-27 12:01] AndriyAntonenko opened #3615 "Lighthouse stop sending new blocks to execution layer during syncing"
## Description
I am using `lighthouse` as a consensus layer for eth. My execution layer - erigon

## Version

Lighthouse v3.1.0-aa022f4
BLS library: blst
SHA256 hardware acceleration: true
Specs: mainnet (true), minimal (false), gnosis (false)

## Present Behaviour

Lighthouse started long syncing process. During this time erigon node (execution layer) didn't receive blocks for more then 10 minute

[2022-09-27 13:34] realbigsean commented on #3614
Yes, definitely need the changes in #3529!

For registrations, I imagine people using fallback BN's with builders would usually either have:
1. Both BN's connected to the same set of relays, so broadcasting registrations would end up doubling  the load of messages relays have to process
2. Only the primary BN has a builder configured, assuming if we are on our fallback node we should be as conserv

[2022-09-27 15:51] PacoBits opened #3616 "Fee recipient overwritten by the beacon node."
Fee recipient overwritten by the beacon node.

Our setup has produced a block with an incorrect fee recipient:https://beaconcha.in/slot/4700831 it used beacon fee recipient instead of  validator client  fee recipient

We have a 3-layer configuration with the validator client, the Beacon node and the execution client running separately.

[code]

[code]

`Execution Client - version Geth Version: 1.1

[2022-09-27 17:47] PacoBits opened #3617 "Block with an incorrect fee recipient"
Our setup has produced a block with an incorrect fee recipient: https://etherscan.io/block/15616137

We have been producing blocks correctly and after that incident it is still producing blocks with the fee recipient correctly.

We have a 3-layer configuration with the validator client, the Beacon node, a fallback beacon node and the execution client running separately.

These are our versions and

[2022-09-27 19:38] realbigsean commented on #3617
Yes our validator doesn't send proposer preparation information to fallback at the moment, so a poorly timed fallback but will cause this, the fix is being worked on in this PR: https://github.com/sigp/lighthouse/pull/3529

For now, use setting the config directly in the fallback BN is the best workaround

[2022-09-27 19:57] rcketscientist opened #3618 "Excessive logging"
## Description

I'm currently burning through almost 200MB of logs daily, mostly:

DEBG Failed incoming connection, error: Connection error: Connection limit: 72/72., from: /ip4/x.x.x.x/tcp/13000, our_addr: /ip4/x.x.x.x/tcp/9000, service: libp2p, module: lighthouse_network::service:350

Is this expected?

## Version

latest docker

## Expected Behaviour

Not burning through storage?

## Steps to r

[2022-09-27 20:48] pawanjay176 commented on #3614
I agree that registrations don't need to be sent to every beacon node for now, can add it later on if really required.

[2022-09-27 21:37] pawanjay176 commented on #3618
The log is fairly common. The latest version of libp2p should hopefully reduce the occurrence of this particular log.
If you don't want to store that many logs, you can use non-default values for the following flags. This can also be found with `lighthouse bn --help | less`

[code]

[2022-09-28 18:55] tthebst commented on #3504
I think the issue is that metric variables in lighthouse are defined as lazy static [variables](https://sourcegraph.com/github.com/sigp/lighthouse/-/blob/beacon_node/beacon_chain/src/metrics.rs?L760:20). This means `validator_monitor_beacon_block_total` is therefore created on first [access](https://sourcegraph.com/github.com/sigp/lighthouse@01e84b71f524968f5b940fbd2fa31d29408b6581/-/blob/beacon_n

[2022-09-28 22:56] philknows commented on #3561
Hey @michaelsproul ! Any ideas on when this may get implemented in Lighthouse? Thanks!

[2022-09-28 23:13] AgeManning commented on #3561
Oh yeah, will make a PR for this ASAP

[2022-09-29 00:40] michaelsproul commented on #3614
Awesome I'll mark this as closed by https://github.com/sigp/lighthouse/pull/3529 and we can re-open if we see issues with registrations

[2022-09-29 00:40] #3614 closed, assigned to nobody

[2022-09-29 00:42] michaelsproul commented on #3422
Resolved by #3529

Will be in the next release :tada:

[2022-09-29 00:42] #3422 closed, assigned to nobody

[2022-09-29 03:57] AgeManning commented on #3561
Should be good to go next release.

[2022-09-29 03:57] #3561 closed, assigned to nobody

[2022-09-29 03:59] AgeManning commented on #3618
Yeah, that log is saying others are trying to connect to you but you already have too many peers.

There's a lot of nodes out there and this log is useful to help identify if you are under a DOS attack or not. I think limiting the log file size as @pawanjay176 has suggested is the best solution for the time being.

[2022-09-29 03:59] #3618 closed, assigned to nobody

[2022-09-29 04:02] AgeManning commented on #3584
I suspect this is related to #3212 also. Once we have implemented a solution to that, I think that may also help.

[2022-10-01 08:30] BabyBluezz opened #3623 "How to get the historical floor price data (in 1 minute units) of a specified NFT ?"
**Sorry, as many paths have been tried without success. There are a lot of experienced people here, so will ask questions here.
   If this ask is inappropriate, please delete it.**

  **How to return the floor price of NFT at that historical moment through an NFT contract address and a timestamp with 1 minute precision.**

  This floor price is the floor price listed in the market (like the floor

[2022-10-02 11:28] ostracoder commented on #2394
Very annoying indeed. I have to login as my lighthouse user every time I want to see the logs.

[2022-10-02 19:09] GeemoCandama commented on #3607
I'd like to work on this issue. How could I write a good test for this feature? I have it set up to test whether the flag is being set correctly, but would like to test whether the timeouts are really being increased.
https://github.com/GeemoCandama/lighthouse/tree/flag-to-up-EL-timeouts

[2022-10-02 20:01] janickm commented on #2009
What about

[code]

given that error 11 should be EAGAIN, will setting up UPnP be retried in this case?

[2022-10-03 07:39] lfinbob commented on #3516
Here's an additional use-case for this:

My lighthouse VC is connected to 2 different BNs. I then switched the first BN's EC from Besu to Geth, requiring a Geth sync. Which takes many hours.
For all that time the VC dumbly uses the degraded BN instead of switching to the healthy fallback BN.

The VC continues to log that it is connected to 2 BNs:

Meanwhile the VC still chooses the unhealthy BN to

[2022-10-03 11:10] michaelsproul commented on #3613
Related:

- https://github.com/sigp/lighthouse/issues/3002. This switchback stickiness could be implemented as part of the "quality" assessment and switching mechanism.

Complementary:

- https://github.com/sigp/lighthouse/issues/3516. Publishing messages to all connected BNs is an orthogonal improvement that we could make alongside improving the current lightweight fallback system.

[2022-10-03 11:13] michaelsproul commented on #3516
@lfinbob We're aware of the issues with the current fallback implementation and have opened a tracking issue to gather feedback, and refine the design: https://github.com/sigp/lighthouse/issues/3613. I think the behaviour you observed is a textbook instance of the problem described in that issue, and that the flood-publishing of this issue could be implemented in addition to improvements to the fa

[2022-10-03 12:23] lfinbob commented on #3516
Great to read you guys are working on this, much appreciated.
I think flood publishing might be the fast & easy improvement, maybe a low-hanging fruit even.
Also it should have the secondary benefit of getting marginally better inclusion distances.

I vote for implementing this quickly, giving more time and thought to the more thorough enhancements described in #3613.
That would make the common tw

[2022-10-03 21:14] AgeManning commented on #2009
No we don't try again.
I'm not sure about the OS errors returned from the library in this case. I can't think of a common reason why a router would not respond to UPnP requests if it is ready and accepts it. I would imagine these 11 errors to be recurring, or very unlikely. Not sure if its worth building the machinery to retry 5 times to get the same result.
Do you see this error on restart contin

[2022-10-04 06:04] janickm commented on #2009
Yes, it's persistent for every start of lighthouse - also, I'm not sure if the UPnP requests ever get executed thereafter - how could I check (so there is likely no re-try performed thereafter?). FWIW, I have configured my router to accept UPnP requests.

[2022-10-04 07:01] michaelsproul commented on #3607
I think a CLI test to read the timeout from config would be sufficient for now. We can conduct some manual testing on low-spec devices to determine the impact

[2022-10-04 19:19] realbigsean opened #3625 "EIP-4844 Tracking"
## Description

Thanks a lot @dknopik and @mariusVanDerWijden for kick starting the Lighthouse implementation!

The main Lighthouse EIP-4844 branch will be here: https://github.com/sigp/lighthouse/tree/eip4844

This branch currently has a lot of boiler plate implemented but there is still a lot of functionality missing. The goal in the short term is to at least get this branch far enough along to

[2022-10-04 19:26] pawanjay176 commented on #3625
I think yes, because in the case when we get a `BeaconBlock` before the `Blob`, we can request for the corresponding `block_root` over RPC similar to how we do for attestations and sync committee messages.

[2022-10-05 00:04] AgeManning commented on #2009
Yeah. The UPnP library I have found to be quite flakey. A bunch of routers don't respond the way the library expects. UPnP is really kind of a fallback to try and get some open ports when people are not configuring it themselves. If it fails, it will not try again, to avoid opening too many ports all over the place.

It sounds like this library doesn't support your router. You really should be man

[2022-10-05 07:19] janickm commented on #2009
Great, thanks! I'm already forwarding the ports manually and using `--disable-upnp` for now.

Could you update this issue / share the tracking issue on this one? I could help test it on my setup

[2022-10-05 15:24] newearthmartin opened #3627 "Allowing more than one execution client"
## Description

Please allow more than one execution client so that they can all receive PoS headers.

## Present Behaviour

Nowadays, clients like Erigon will not do anything unless a beacon node is connected to them (because they are missing PoS headers). This prevents having a backup EL client because only one EL client will be synced at a given time.

This is important for client diversity.

E

[2022-10-05 15:43] mrabino1 commented on #3627
So basically a passive engagement to ensure they have the headers only? (and not an active engagement)

[2022-10-05 17:00] newearthmartin commented on #3627
Yes, one active engagement and multiple optional passive engagements. Not sure if it's possible to use them as a failover mechanism as well.

[2022-10-05 17:03] newearthmartin commented on #3627
Not sure also why this is not implemented at the ethereum protocol level. The PoS headers could be requested by the EL client, instead of injected into them. But this is beyond the scope of this feature request :)

[2022-10-05 18:20] newearthmartin commented on #3627
Ah there is a discussion about this here https://github.com/sigp/lighthouse/issues/3118

[2022-10-05 23:53] Liamlu28 opened #3628 "the Lighthouse service appears to be abnormal."
## Description

After configuring authrpc using the domain name, the Lighthouse service appears to be abnormal.
After configuring using the IP method, the service works fine.

     Lighthouse node
     root@eth-archive-lighthouse-5-0:/# cat /etc/hosts
    127.0.0.1	localhost
     10.12.147.56 erigon-0

      containers:
      -
        name: bn-node
        image: sigp/lighthouse:v3.1.2
        im

[2022-10-06 00:04] michaelsproul commented on #3628
If you're using a name other than `localhost` to refer to Erigon then you need to set `--authrpc.vhosts=$name`, e.g. `--authrpc.vhosts=erigon-0`. This prevents DNS rebinding attacks. See: https://github.com/ledgerwatch/erigon#beacon-chain-consensus-layer

[2022-10-06 02:00] Liamlu28 commented on #3628
[code]

I've updated the configuration parameters. According to the lighthouse log, this appears to be normal.

[2022-10-06 02:01] michaelsproul commented on #3628
Yeah that looks good! The `(unverified)` status should change to `(verified)` as soon as Erigon finishes syncing.

[2022-10-06 02:22] michaelsproul commented on #3628
I'll close this as resolved, please re-open if you encounter any further problems :blush:

[2022-10-06 02:22] #3628 closed, assigned to nobody

[2022-10-06 02:32] Liamlu28 commented on #3628
Thanks

[2022-10-07 11:35] xrchz commented on #3625
I'd be happy to add Rust bindings to c-kzg if someone at Lighthouse can coordinate on what interface would be good for them. We have a stripped down 4844 specific version of c-kzg in development here, currently adding C# bindings for Nethermind. https://github.com/dankrad/c-kzg/tree/4844/min-bindings

[2022-10-07 11:40] xrchz commented on #3516
I had a block proposal fail to use the builder network on my fallback because my primary was still syncing - I suspect flood publishing would have avoided this. Very keen to see it soon.

[2022-10-07 15:13] Adeel-trimulabs opened #3632 "Lighthouse Execution engine call failed (not getting latest blocks)"
## System information
Architecture: x86_64
RAM: 16 GB
Memory: 2 TB (gp3)

## Description

I am using lighthouse with geth for extracting latest blocks but it seem stucked.

## Version
CL client & version: `Lighthouse v3.1.2-01e84b7`
EL client & version: `Geth v1.10.25`
OS & Version: Linux (ubuntu)

## Present Behaviour

It seems concensus client does not synced. Latest blocks are not loading up by

[2022-10-07 23:56] uwuforever opened #3633 "Feature request for a more streamlined update process"
From https://stackoverflow.com/questions/1712033/replacing-a-running-executable-in-linux it should be possible to replace a running executable with `execve` without restarting it.

The update experience would be so nice if Lighthouse could detect if its binary has been overwritten with a new version, and either simply use execve to seamlessly switch over, or have an RPC API call that could trigger

[2022-10-08 01:40] michaelsproul commented on #3633
I'm hesitant to add anything like this because I don't think it really offers a substantial UX improvement over restarting the binary manually. If we used `exec` to run the new binary it would _not_ bypass Lighthouse's startup sequence, whether that's doppelgänger protection (VC) or re-loading the database (BN). To do anything more sophisticated would be very complex – somehow keeping the in-memor

[2022-10-08 01:44] michaelsproul commented on #3505
I'm making some changes to the on-disk pubkey cache in my tree-states PR, so it may make sense to roll this schema upgrade in there at the same time. Do you mind if I pick this one up @ethDreamer? 🙏

[2022-10-08 01:45] michaelsproul commented on #3633
This is the BN feature to improve startup times: https://github.com/sigp/lighthouse/issues/3505

[2022-10-08 01:46] ethDreamer commented on #3505
Yeah for sure 😊

[2022-10-08 04:23] uwuforever commented on #3633
Ah okay, that's a lot less useful than I was expecting. I'm happy to just stick to manual restarts in that case.

Could doppelganger protection detect that it was restarted on the same system? Maybe keep a copy of the last few attestations from this particular install in a temp file, so when the VC starts up again and detects the previous attestations, it can immediately confirm that there is no d

[2022-10-08 07:14] #3633 closed, assigned to nobody

[2022-10-08 07:49] uwuforever opened #3634 "Doppelganger Protection - remember attestations after restarting"
## Description

Doppelganger protection will wait for 3 missed attestations any time it finds attestations recently on the network... even when this isn't necessary.

When restarting a validator, the new VC instance should be able to recognize if the last several attestations were from the previous VC instance, and if they were,
1) The client that is being shut down quickly writes a small file to

[2022-10-09 16:08] maninthecryptosuit commented on #3001
I'm also in favour of this, it would help significantly reduce CPU, RAM, bandwidth and power usage on the backup node.

[2022-10-09 22:00] michaelsproul commented on #3001
Implemented in https://github.com/sigp/lighthouse/pull/3529 and will be part of the next release 🎉

[2022-10-10 19:18] culda opened #3636 "could not compile `simulator`"
## Description

Getting the following during `cargo build`

![image](https://user-images.githubusercontent.com/48595067/194937393-728771e6-6e56-4e66-b358-4f8be858efdb.png)

System:
Ubuntu 20.04.5 LTS

## Version

Please provide your Lighthouse and Rust version. Are you building from
`stable` or `unstable`, which commit?

rustc 1.64.0
stable: 01e84b71f524968f5b940fbd2fa31d29408b6581

## Present Beh

[2022-10-11 00:00] michaelsproul commented on #2005
Full deletion is now available via the keymanager API: https://ethereum.github.io/keymanager-APIs/#/Local%20Key%20Manager/deleteKeys

A CLI interface for the API is being developed in https://github.com/sigp/lighthouse/pull/3502

[2022-10-11 01:09] michaelsproul commented on #3636
Hey @culda. It looks like your machine probably ran out of memory during compilation. If you check `sudo dmesg -T` you'll probably see a log from the OOM killer saying that `rustc` was sent a SIGKILL.

It should work if you free up some memory and re-run it. If that doesn't work then a `cargo clean` will sometimes fix compiler caching issues.

[2022-10-11 15:06] culda commented on #3636
@michaelsproul thanks that was it. I was hoping to run this on an 8gb box, but I guess I'll try 16gb.

[2022-10-11 15:06] #3636 closed, assigned to nobody

[2022-10-13 00:43] michaelsproul opened #3638 "Replace uses of `SystemTime::now` by slot clock where possible"
## Description

There are a few places where we use `SystemTime::now` rather than the slot clock. These are fine when running on real machines with real clocks, but can cause issues in automated tests where the slot clock is spoofed but the system clock is not. For example, this condition trips on all our execution layer tests because of the `SystemTime::now`:

https://github.com/sigp/lighthouse/b

[2022-10-13 20:19] gballet opened #3639 "verkle trees: add 2 fields to ExecutionData"
## Description

With the verge, proofs and witness of the pre-state of an (EL) block execution are included in the blocks. As discussed with Mac and Paul, I am creating this tracking issue to create a branch with the required fields to be added to the `ExecutionData`.

## Expected Behaviour

The `ExecutionData` needs to have  two more, optional fields:

 * `VerkleProof`, a byte array of variable l

[2022-10-14 00:38] Spacesider opened #3641 "Validator fallback does not work when the execution engine is offline or unavailable"
## Description

My validator has multiple consensus node endpoints configured. The first being a Lighthouse-Nethermind pair, and the second being a Teku-Besu pair. The Lighthouse validator points to Lighthouse node as the primary, and the Teku node as the fallback.

While performing an upgrade on my Nethermind node, I ran into issues and Nethermind was offline for roughly an hour. After it was bac

[2022-10-14 00:55] michaelsproul commented on #3641
Sorry you ran into this, it's a known problem with our fallback mechanism post-merge. We are tracking these issues via this tracking issue: https://github.com/sigp/lighthouse/issues/3613.

[2022-10-15 16:37] paulhauner opened #3643 "Track block proposals in the validator monitor"
## Description

Making the [validator monitor](https://github.com/sigp/lighthouse/blob/stable/beacon_node/beacon_chain/src/validator_monitor.rs) track block proposals would help us raise alerts if there has been a missed proposal by a local/monitored validator. This has been requested several times and makes a lot of sense, especially now we have builders as an additional failure point.

## Implem

[2022-10-15 22:19] michaelsproul commented on #3643
Sounds like a nice addition. @tthebst has done some related work in https://github.com/sigp/lighthouse/pull/3635 which we could build on to track misses as you suggest

[2022-10-19 10:04] one-three-three-seven commented on #1617
A short update about the current status would be great. 🙂

[2022-10-20 01:04] #2371 closed, assigned to michaelsproul

[2022-10-20 04:56] AgeManning commented on #2009
Sure.

The first step is an automatic hole-punching technique in our discovery protocol (discv5). The current associated PR is here: https://github.com/sigp/discv5/pull/134

We then need to either invent a new technique or leverage libp2p methods to handle hole punching of discovered nodes across TCP.

[2022-10-20 05:37] AgeManning commented on #1617
Hey. Yep.
So pretty much all of our code is ready. I'll update Lighthouse's bootnodes and have a chat with other client teams to see what level of support they have. Once our bootnodes are updated and (hopefully a few other clients) we can start onboarding a bunch of ipv6/ipv4 nodes onto the network. We'll start with the testnets before moving to mainnet.
We'll try to include as many clients as po

[2022-10-20 16:48] divagant-martian commented on #3482
closing this in favor of https://github.com/sigp/lighthouse/issues/2981

[2022-10-20 16:48] #3482 closed, assigned to nobody

[2022-10-20 17:03] divagant-martian opened #3648 "Implement deterministic subnets peer discovery"
## Description
After #2847 we still need to implement the changes required to search for peers that should be subscribed to their deterministic long lived subnets. This search is in the form of prefix searching, in contrast to our current predicate search. After this is implemented, and as a separate issue, we also need to think how to deal with peers that should be subscribed a long lived subnet

[2022-10-20 18:21] divagant-martian commented on #2847
Most of this is closed with #3453 I've created https://github.com/sigp/lighthouse/issues/3648 with the remaining work

[2022-10-20 18:21] #2847 closed, assigned to divagant-martian

[2022-10-20 19:01] divagant-martian commented on #3092
assuming this closed by  #3248

[2022-10-20 19:02] #3092 closed, assigned to nobody

[2022-10-20 19:12] divagant-martian opened #3649 "Handle parent lookup race conditions"

[2022-10-21 02:21] paulhauner commented on #3627
This can be achieved with a third-party proxy like https://github.com/TennisBowling/executionbackup.

I appreciate that there's demand for this, but I prefer that this functionality is implemented in a stand-alone, works-with-any-client implementation rather than all the consensus clients implementing it individually. You can see more reasoning in #3318.

I'm going to close this as a "wont-fix" si

[2022-10-21 02:21] #3627 closed, assigned to nobody

[2022-10-21 02:25] newearthmartin commented on #3627
Ok thanks for answering. The benefits that I see is are: a matter of trust, and also syncing. Installing another program requires trust in that developer. But also what if lighthouse updates something, and the other client not yet, or viceversa and there is a mix up between messages.

[2022-10-21 02:27] paulhauner commented on #3607
Resolved via #3631

[2022-10-21 02:27] #3607 closed, assigned to nobody

[2022-10-21 02:36] paulhauner commented on #3398
I might close this once since we're done with the merge (I hope??).

Feel free to re-open if you disagree :relaxed:

[2022-10-21 02:36] #3398 closed, assigned to nobody

[2022-10-21 02:39] paulhauner commented on #2503
I'm going to close this since I don't see us implementing it anytime soon.

[2022-10-21 02:39] #2503 closed, assigned to realbigsean

[2022-10-21 02:43] paulhauner commented on #2691
I'll close this since we've already implemented optimistic sync (and done the merge :tada:)

[2022-10-21 02:43] #2691 closed, assigned to nobody

[2022-10-21 23:55] michaelsproul opened #3651 "Light client server support [tracking issue]"
## Description

We should support the full node side of the light client protocol.

The components we need for this are:

### Groundwork

- [x] Light client types in `consensus/types`. This includes `LightClientBootstrap`, `LightClientUpdate` and all the other types defined [here](https://github.com/ethereum/consensus-specs/blob/dev/specs/altair/light-client/sync-protocol.md#containers).
- [x] Abi

[2022-10-21 23:56] michaelsproul commented on #3651
I think we can start merging PRs for these features roughly in order, starting with the types

cc @Giulio2002 @pawanjay176

[2022-10-25 06:52] aabdullah29 opened #3654 "error[E0275]: overflow evaluating the requirement `Vec<u8>: std::marker::Send`"
## face the following error whie installing.

abdullah@dell:~/ethereum/lighthouse$ make
cargo install --path lighthouse --force --locked --features ""
  Installing lighthouse v3.1.2 (/home/abdullah/ethereum/lighthouse/lighthouse)
    Updating crates.io index
   Compiling libc v0.2.126
   Compiling proc-macro2 v1.0.42
   Compiling unicode-ident v1.0.2
   Compiling quote v1.0.20
   Compiling syn v1.

[2022-10-25 07:13] macladson commented on #3639
Hi Guillaume, thanks for writing this up!

I have a basic implementation of this here: https://github.com/macladson/lighthouse/tree/verkle-trees and from my local testing it is backwards compatible with standard Geth (just passing around empty Verkle fields).

I have a few clarifying questions:
- By `ExecutionData` I assume you mean `ExecutionPayload`?
- What is the maximum length of `VerkleProof`

[2022-10-25 22:08] #3516 closed, assigned to nobody

[2022-10-25 22:14] paulhauner opened #3656 "Release CI: `set-output` is deprecated and will be disabled"
## Description

The `release` CI is giving [this error](https://github.com/sigp/lighthouse/actions/runs/3324632202/jobs/5496437389#step:2:10):

[code]

I haven't looked into this, but I assume we need to make some change.

[2022-10-25 23:05] michaelsproul commented on #3656
started showing on the test-suite recently too

[2022-10-26 04:28] michaelsproul commented on #3654
That's strange, which compiler version are you using? What does `rustc --version` return in the directory `~/ethereum/lighthouse`?

I can't reproduce this issue locally, so it's likely a caching issue or a compiler version issue.

Other things to try:

- `cargo clean`
- `rm -r ~/.cargo/registry/cache`

[2022-10-26 07:20] michaelsproul opened #3661 "Implement per-validator reward APIs"
## Description

For the protocol fellowship I've proposed a project to add reward calculation APIs to the beacon-APIs standard (https://github.com/eth-protocol-fellows/cohort-three/pull/51). This issue contemplates the design and implementation on the Lighthouse side.

## Present Behaviour

Currently we have a few APIs for doing things with rewards, but none are fully satisfactory:

- There's [`/l

[2022-10-26 07:22] michaelsproul commented on #3661
CC @kevinbogner who is interested in working on this. Feel free to post questions/findings on this issue. Or hit me up on Discord.

Some related reading which might be useful:

- The spec: https://github.com/ethereum/consensus-specs/blob/dev/specs/altair/beacon-chain.md
- Ben Edginton's book: https://eth2book.info/
- Pintail's guide to post-Altair rewards: https://pintail.xyz/posts/modelling-the-i

[2022-10-26 18:13] petersn opened #3662 "Failure to sync"
## Description

Summary: After interrupting lighthouse with ctrl+c, it now refuses to start back up again.

Three days ago (2022-10-23) I attempted to sync Ethereum mainnet from scratch, by running in parallel:

[code]
and
[code]

I got these commands from tutorials on the internet, I will freely admit that I don't know what most of the options mean, so if there's some mistake in them I wouldn't b

[2022-10-26 20:09] michaelsproul commented on #3662
Hey, sorry about the crash.

There's a few strange things with your setup:

1. You should run Lighthouse v3.0.0 or later for mainnet. v2.5.1 does not have the config for the merge baked in and won't be able to merge correctly.
2. You should compile with the stable Rust compiler rather than nightly. Sometimes the nightly compiler has bugs that cause miscompilations, which cause issues downstream.

[2022-10-26 23:14] petersn commented on #3662
Thanks so much for the tips and resources! I'll try all of that out, especially the checkpoint sync, sounds great.

There is no virtualization. Lighthouse's output directory is to ext4, which is inside of LVM, inside of LUKS, inside of a partition (I think EFI), like this:
[code]
This should be as bog-standard as it comes, I'd hope. My `/` as setup by Ubuntu is basically exactly the same.

(The SS

[2022-10-27 07:26] shreyaspg opened #3663 "cannot find type `PackedEncoding` in crate `tree_hash`"
## Description
I am trying to import into my personal project and getting "cannot find type `PackedEncoding` in crate `tree_hash`"

## Version

 rustc --version
 rustc 1.64.0 (a55dd71d5 2022-09-19)

## Present Behaviour
[code]

 ## Cargo.toml

 Used fix from https://github.com/sigp/lighthouse/issues/3166
[code]

[2022-10-27 08:23] michaelsproul commented on #3663
Try changing the pinned `rev`, the one there is very old (Lighthouse v2.5.1).

[2022-10-27 08:44] shreyaspg commented on #3663
Thanks, I forgot to update the rev.

[2022-10-27 08:44] #3663 closed, assigned to nobody

[2022-10-27 10:26] aabdullah29 commented on #3654
abdullah@dell:~/ethereum/lighthouse$ rustc --version
rustc 1.66.0-nightly (758f19645 2022-10-24)

and i try
- `cargo clean`
- `rm -r ~/.cargo/registry/cache`

but find the same error.

[2022-10-27 10:42] lichangshu opened #3664 "Failed to get remote head and new block ranges"
## Description

i run lighthouse  by docker
[code]
Error log:

ERRO Error updating deposit contract cache   error: Failed to get remote head and new block ranges: EndpointError(FarBehind), retry_millis: 60000, service: deposit_contract_rpc

[code]

Geth by docker
[code]
log :
[code]

## Version

$ lighthouse --version
Lighthouse v3.2.0-fcfd02a
BLS library: blst-portable
SHA256 hardware acceleratio

[2022-10-27 10:50] michaelsproul commented on #3654
Try the stable compiler, 1.64.0. You can install it with `rustup toolchain add stable` and then set it as default with `rustup default stable`.

[2022-10-27 18:40] clifton commented on #3612
is `ERRO Unable to publish proposer preparation` a related issue? I get that when one of my beacon nodes is optimistic and the other is synced.

[2022-10-27 21:37] gsvpers opened #3667 "Beacon node fails to send metrics to remote endpoint"
## Description

Beacon node configuration that used to be capable of sending metrics to beaconcha.in now fails. Validator uses the same configuration and works fine.

## Version
3.1.2, 3.2.0, 3.2.1

## Present Behaviour

ERRO Failed to send metrics to remote endpoint, error: StatusCode(400), service: monitoring_client

## Expected Behaviour

Should only be seeing the log: INFO Sending metrics to r

[2022-10-28 02:56] michaelsproul commented on #2254
Several users have reported seeing this recently so I'm going to reopen it (related GitHub issue: <https://github.com/sigp/lighthouse/issues/3500>).

[2022-10-28 02:57] michaelsproul commented on #3500
Closing in favour of https://github.com/sigp/lighthouse/issues/2254 which has more detailed discussion about possible root causes.

[2022-10-28 02:57] #3500 closed, assigned to nobody

[2022-10-28 02:59] michaelsproul commented on #3667
The beaconcha.in devs have indicated that the free plan only includes one process worth of metrics, and they occasionally change how they meter this.

The workaround is to reduce the frequency that Lighthouse sends metrics: https://lighthouse-book.sigmaprime.io/advanced_metrics.html#update-period

[2022-10-28 02:59] #3667 closed, assigned to nobody

[2022-10-28 03:01] michaelsproul commented on #3664
This is due to Geth not being synced yet.

Geth can't finish syncing until Lighthouse syncs to head, so it's a good idea to use checkpoint sync to sync Lighthouse quickly: https://lighthouse-book.sigmaprime.io/checkpoint-sync.html

You'll need to delete your existing Lighthouse beacon node database for the checkpoint sync flag to take effect

[2022-10-28 04:23] lichangshu commented on #3664
Thank you for your reply.

Do I need to wait until the geth synchronization is complete?
Then restart lighthouse after clearing the database

[2022-10-28 04:24] michaelsproul commented on #3664
No, Geth won't finish syncing until Lighthouse syncs

[2022-10-28 05:42] michaelsproul opened #3669 "Add standard API for fork choice nodes"
## Description

There's a new HTTP API for dumping fork choice that we should implement: https://github.com/ethereum/beacon-APIs/pull/232.

## Version

Lighthouse v3.2.1

[2022-10-28 12:21] kausikds commented on #3669
@michaelsproul Can you give some more context of what should be the functionality of the API?

[2022-10-28 14:11] gballet commented on #3639
And thank you for working on it!

:tada:

I do!

Both are arbitraty-length, but if you want a maximum number that is safe, set them to 75K each for now.

There isn't, I naively thought it'd be easier for you to make a cl without an el than the other way around :sweat: I'll ping you when I got it to work.

[2022-10-29 01:38] michaelsproul commented on #3669
Hey @iKausik, happy to provide more context.

Fork choice is the process by which Lighthouse chooses the head block. To do this it keeps an in-memory store of all the blocks and attestations that it has seen in a [`ForkChoice`](https://github.com/sigp/lighthouse/blob/6d5a2b509fac7b6ffe693866f58ba49989f946d7/consensus/fork_choice/src/fork_choice.rs#L341-L353) struct, which internally contains a [`P

[2022-10-31 05:43] michaelsproul opened #3672 "Add a guide to running a full node to the book"
## Description

Now that the merge has occurred, our docs look a bit strange, because the instructions for running a node are split between several pages, including [Merge Migration](https://lighthouse-book.sigmaprime.io/merge-migration.html). I think it would be nice to have a page that steps through setting up a full node at a high-level, including checkpoint sync and connecting to the EL.

This

[2022-10-31 22:28] mrabino1 opened #3676 "Feature Request: Bandwidth constraint drives the reduction of peers"
## Description

Feature request to add a parameter to BN whereby the number of peers is reduced to fit the bandwidth constraints of the parameter.  With 4844 coming soon, the amount of data bandwidth being gossip'ed is going to significantly increase. For those on light bandwidth home connections, this can cause severe challenge if the beacon chain is not throttled back.

## Expected Behaviour

./

[2022-11-01 10:52] kevinbogner commented on #3672
I'm able to help here since I just did the setup a few days ago:)

PR should be created this week.

[2022-11-02 10:18] agermain opened #3678 "Feature request: extend global validator metrics"
## Description

Currently, `validator_monitor_validators_total` is a useful metric that can help infer the amount of expected attestations. However, Lighthouse emits high-cardinality metrics (validator-granularity) that make it an expensive operation (both to store and to query) to calculate the overall included/produced attestations by all managed validators.

## Version

N/A

## Present Behaviou

[2022-11-02 22:38] paulhauner opened #3679 "`publish-crate` CI is failing"
## Description

I just pushed the `eth2-ssz-v0.4.1` tag to trigger a publish to crates.io, however the [run failed](https://github.com/sigp/lighthouse/actions/runs/3381566007/jobs/5615610385) with:

[code]

I think it's an issue with [this line](https://github.com/sigp/lighthouse/blob/6d5a2b509fac7b6ffe693866f58ba49989f946d7/scripts/ci/publish.sh#L29). Locally, I get:

[code]

I suspect that we ne

[2022-11-02 22:50] michaelsproul commented on #3679
I wonder if we should add crate publishing to the release CI?

We could version the deps by Lighthouse's version and bump them all in one go. It would violate semantic versioning for the deps and lead to some versions with the same content and different version numbers, but at least the crates would get published consistently. Users downstream might also like the match between Lighthouse versions

[2022-11-03 01:02] michaelsproul commented on #2629
Resolved by #3235!

[2022-11-03 01:02] #2629 closed, assigned to nobody

[2022-11-03 01:05] michaelsproul commented on #3442
Closing this in favour of the other issue

[2022-11-03 01:05] #3442 closed, assigned to nobody

[2022-11-04 02:25] lichangshu commented on #3664
thank you very much 。

I ignored the mistake,
Today,  lighthouse is synced to the latest block
[code]
Geth has also started synchronizing, although it is not yet complete
[code]

[2022-11-04 02:25] #3664 closed, assigned to nobody

[2022-11-04 16:10] MariusVanDerWijden commented on #3654
Same thing happens to me
[code]
Rust version:
[code]

[2022-11-04 16:25] MariusVanDerWijden commented on #3654
Downgrading to 1.64.0 fixed it

[2022-11-04 20:42] realbigsean opened #3685 "KZG Crypto"
## Description

To support EIP 4844, we need to be able to verify KZG commitments against blobs using KZG proofs. We also need to be able to compute KZG proofs from blobs of data. @pawanjay176 is working on making rust bindings for https://github.com/benjaminion/c-kzg as well as allowing us to handle it generically so we can swap out the lib or stub out crytpo in testing

[2022-11-04 20:49] realbigsean opened #3686 "Blob syncing"
## Description

We have a fair bit of the boiler plate implemented for blob sync, but not the actual processing of rpc blob responses, which should be  [here](https://github.com/sigp/lighthouse/blob/eip4844/beacon_node/network/src/sync/manager.rs#L596). This is the one place where we will handle blocks and blobs independently, so we'll have to be able to handle receiving blocks but not blobs and v

[2022-11-04 20:56] realbigsean opened #3687 "Complete Blob Production"
## Description

We are missing a couple things for blob production
  - a cache in the beacon node that holds blobs between serving an unsigned block and receiving a signed block
  - the ability to constuct kzg proofs for inclusion in the signed block + blob struct that we will publish

Additionally I think there are still some remnants of the blob signing logic that can be removed, the signing dom

[2022-11-04 20:59] realbigsean opened #3688 "Consensus spec tests for EIP 4844"
## Description

With the ability to feature gate withdrawals entirely (https://github.com/sigp/lighthouse/pull/3684), we should be able to set up consensus spec tests, because these tests are built without withdrawals. So it'd be nice to integrate these before we attempt to join a testnet as it might help us catch any bugs a bit earlier.

[2022-11-04 21:06] realbigsean opened #3689 "Builder API for blobs"
## Description

This hasn't been spec'd out as far as I can tell, but it is something we should keep in mind. https://github.com/flashbots/mev-boost/issues/392

We would at least have to make sure we are following to whatever versioning scheme is implemented in the API, and I wonder if there is apetite for blinded blobs, in which case we'd end up having to make blobs generic over `Payload: Abstrac

[2022-11-04 21:10] realbigsean opened #3690 "Execution block generator usable across forks"
## Description

The execution block generator has become integral to a lot of our local testing. Currently it can only produce blocks with merge payload, but we should make sure it is able to work correctly across forks, and produce valid/invalid blobs as well. This will be important to fleshing out our internal testing across the new forks.

https://github.com/sigp/lighthouse/blob/stable/beacon_n

[2022-11-04 21:16] realbigsean opened #3691 "Local EIP 4844 testnet"
## Description

It would be really nice to easily spin up local testnets for 4844. We have [these scripts](https://github.com/sigp/lighthouse/tree/stable/scripts/local_testnet) which we could extend to work through 4844. Or we could work to make some sort of set up that spawns lighthouse processes in rust, which would make it a lot easier to monitor behavior in the network (because we have clients

[2022-11-04 21:17] realbigsean commented on #3625
### Outstanding tasks [Updated Nov. 4th]

Tasks required to join the next devnet:

- [x] KZG crypto WIP by @pawanjay176  https://github.com/sigp/lighthouse/issues/3685
- [x] Blob sync https://github.com/sigp/lighthouse/issues/3686
- [x] Complete blob produciton https://github.com/sigp/lighthouse/issues/3687

Tasks not required to join the next devnet:

- [x] Consensus spec tests https://github.com

[2022-11-04 22:23] michaelsproul commented on #3690
I think I've got this working in https://github.com/sigp/lighthouse/pull/2860. I cherry-picked @pawanjay176's changes from #2755 and made a few tweaks to get the tests passing.

[2022-11-04 22:47] realbigsean commented on #3690
Beast! Good reminder for me to re-review that PR 😅

I think there might still be some 4844 specific work to test blob validation, so I'll leave the issue open for now

[2022-11-05 10:21] ensi321 commented on #3661
After getting inputs from @michaelsproul and @potuz, @kevinbogner and I are attempting to answer some of the design questions so we can push forward the discussion:
DQ1: I think the reward API should operate on a single block/epoch for the sake of consistency with the rest of the Beacon API. Operating on a range may be more efficient on Lighthouse side but it might not be the case for other client

[2022-11-06 19:51] binomialstew opened #3694 "Endpoint Error (FarBehind)"
## Description

I am consistently seeing this error even though the blockchain seems to have completed sync:
`Nov 06 19:45:10.736 ERRO Error updating deposit contract cache   error: Failed to get remote head and new block ranges: EndpointError(FarBehind), retry_millis: 60000, service: deposit_contract_rpc`

## Versions
MacOS 12.6.1
Lighthouse v3.2.1 Stable - 6d5a2b5
rustc 1.64.0 (a55dd71d5 2022-09

[2022-11-06 20:28] gballet commented on #3639
@macladson I have created a test branch here https://github.com/gballet/go-ethereum/pull/136 with the instructions on how to test it with your branch. Let me know if you encounter any issue.

[2022-11-06 21:03] binomialstew commented on #3694
My command: `lighthouse b --network mainnet --datadir ~/Documents/geth-erigon --http --execution-endpoint http://127.0.0.1:8551 --execution-jwt ~/Documents/jwt.erigon.hex --metrics`

[2022-11-06 21:13] michaelsproul commented on #3694
The `FarBehind` and `Head is optimistic` messages mean that your execution node _is not_ fully synced. Can you show us some logs from your execution node? I suspect it's still finishing up sync

[2022-11-06 22:18] binomialstew commented on #3694
[code]

OK, so I guess I need to wait until the `pending` becomes `0`? I was looking at lighthouse logs that showed the time remaining to be completed.

[2022-11-06 22:18] CarlBeek commented on #3654
Was having the same issue on `stable`, but `1.64.0` worked. thanks @MariusVanDerWijden 👍

[2022-11-07 01:25] michaelsproul opened #3695 "Lighthouse releases do not compile with latest Rust (1.65.0)"
## Description

The latest Lighthouse release v3.2.1 cannot be compiled with Rust 1.65.0.

This is due to an inconsequential yet annoying incompatibility rather than a serious issue. The incompatibility is fixed in `unstable` and our next releases will be compatible with Rust 1.65.0.

## The Error

The compilation error indicating the incompatibility looks like this:

[code]

## The Workaround

Fr

[2022-11-07 03:49] michaelsproul commented on #3661
Perfect, I agree with those decisions. If you (@naviechan) and @kevinbogner can put together a draft PR to the [`beacon-APIs`](https://github.com/ethereum/beacon-APIs) repo then I can review it and we can start implementing! Let me know if you need any assistance.

Thanks!

[2022-11-07 11:43] dsimog01 commented on #3694
Hi! I am a DAppNode developer. We have been discussing this today and we think that maybe this log should be a warning rather than an error, as the consensus client is working properly, even though the EC might be still syncing...

[2022-11-07 12:14] pawanjay176 commented on #3694
Agree that we need to downgrade the logs. I think it's correct to remove the log altogether if the EL is still syncing. Related issue https://github.com/sigp/lighthouse/issues/2910 .

I'll make a PR for this sometime this week.

[2022-11-07 15:53] realbigsean opened #3698 "Improve builder monitoring"
## Description

It would be good to improve insight into how the builder API is working with lighthouse.

Some metrics we could add:
- builder API errors
  -  It would be worth trying to separate connectivity errors from block validation errors
  -  We should also try to add metrics for errors pre and post-signing because this has a big impact on whether it's a miss
- no payload provided by the bu

[2022-11-07 15:57] realbigsean commented on #3689
Thinking about this further - we will need `blob_kzg_commitments` in the builder bid so we can include them in a block, and we'll probably need to change the response for submitting a signed block to a builder to be changed from an `ExecutionPayload` to a `SignedBeaconBlockAndBlobsSidecar` or at least something that includes blobs and the kzg proof

[2022-11-07 16:14] realbigsean opened #3699 "Local payload comparison"
## Description

https://github.com/sigp/lighthouse/issues/3517 implemented an absolute comparison of a configured value to the value in a claimed "builder bid", but once https://github.com/ethereum/execution-apis/issues/307 is added, we can change the configurable value to be the margin a builder bid has to exceed the local payload by.

[2022-11-07 16:18] realbigsean opened #3700 "New payload SSE event"
## Description

It might be worth adding this before it's merged into the spec, I think it's a commonly desired feature https://github.com/ethereum/beacon-APIs/issues/244 - but if we implement it prior to the spec is merged we should probably make it an additional topic as opposed to modifying the head event

[2022-11-07 16:21] realbigsean opened #3701 "Use SSZ in builder API queries when possible"
## Description

Relevant spec issue: https://github.com/ethereum/builder-specs/issues/53
Relevant spec PR: https://github.com/ethereum/builder-specs/pull/54

[2022-11-08 05:51] michaelsproul commented on #3654
Closing in favour of https://github.com/sigp/lighthouse/issues/3695 which is pinned and provides a more concise summary.

[2022-11-08 05:51] #3654 closed, assigned to nobody

[2022-11-08 06:09] wmitsuda opened #3702 "Can't configure socket timeout for checkpoint sync"
lighthouse 3.2.1, macos

It seems there is no way to configure timeout for the checkpoint sync call, and from my tests it looks like it is hardcoded to 1 min.

Unfortunately, that makes checkpoint sync pretty unusable for mainnet, I'm trying various public endpoints, and they are much slower than 1 min (https://twitter.com/wmitsuda/status/1589857647217766400).

In fact, I'm trying to download a fi

[2022-11-08 06:17] wmitsuda commented on #3702
Ex: try the public endpoint from sigp

[code]

[2022-11-08 06:20] pawanjay176 commented on #3699
Related https://github.com/sigp/lighthouse/pull/3646

[2022-11-08 06:33] michaelsproul commented on #3702
Sorry yeah, there's an (immutable) timeout of 60 seconds since https://github.com/sigp/lighthouse/issues/3478 was implemented in https://github.com/sigp/lighthouse/pull/3521.

As a temporary workaround you can checkpoint sync with v3.1.2 and then switch to v3.2.1 (or muck around with manual checkpoint sync, but I know that's annoying).

[2022-11-08 06:39] michaelsproul commented on #3702
We should add a flag `--checkpoint-sync-url-timeout` which takes a value in seconds.

[2022-11-08 07:04] wmitsuda commented on #3702
ok, I think I was able to bootstrap the checkpoint sync with 3.1.0 (the hardcoded timeout was introduced in 3.1.2):

[code]

it took almost 2 min from logs, from my local machine (locate in South America) to sigp public endpoint.

[2022-11-08 07:05] wmitsuda commented on #3702
will wait for it to finish and then try to upgrade to 3.2.1, thanks for the help!

[2022-11-08 07:38] michaelsproul commented on #3702
as soon as the checkpoint is loaded it's safe to restart (you don't need to wait for e.g. block backfill)

[2022-11-08 11:48] happysalada opened #3703 "core dumped"
## Description

I've been running lighthouse with erigon, and yesterday I started getting lighthouse stuck in coredump and restart
here is the log
[code]
I'm afraid it doesn't contain a lot of info, happy to try to get more if you know what you want

## Version

3.2.1

## Present Behaviour

stuck in a core dump loop

## Expected Behaviour

no core_dump or possibly goes await after an automated res

[2022-11-08 11:49] michaelsproul commented on #3703
likely a hardware issue, I'd run a memtest: https://memtest.org/

[2022-11-08 12:09] happysalada commented on #3703
Just to be sure, the system started syncing for about a day before that.
After a reboot, sync is continuing, I'll leave this running for a while and will see if that happens again.
I'll try to run a memtest this weekend

[2022-11-08 12:10] michaelsproul commented on #3703
ok cool

can also recommend checkpoint sync to avoid the agony of syncing from genesis: https://lighthouse-book.sigmaprime.io/checkpoint-sync.html

[2022-11-08 12:29] happysalada commented on #3703
oh, thanks a lot for that!

[2022-11-08 23:22] michaelsproul opened #3704 "Use optimistic execution processing when syncing the finalized chain"
## Description

Presently Lighthouse will always send execution payloads to the EL, even while syncing.

This results in sync being really slow when it has any substantial distance to cover, with speeds usually sitting below the 1 slot/second mark because of how long the EL takes to respond.

I think we could drastically improve this situation by _not_ sending the execution payloads while syncing

[2022-11-09 01:47] michaelsproul commented on #3656
I'm going to fix this while making our protobuf install requests use the github token (continuation of https://github.com/sigp/lighthouse/pull/3621)

[2022-11-09 02:23] michaelsproul opened #3705 "CI warns about deprecated Node.js v12 in `setup-protoc`"
## Description

There are warnings on CI about Node.js v12 being used in the `setup-protoc` action. We are waiting on a fix for https://github.com/arduino/setup-protoc/issues/45.

[2022-11-09 03:41] michaelsproul commented on #3612
@clifton Yeah, it is. That also falls under the scope of the tracking issue to improve VC fallback behaviour: https://github.com/sigp/lighthouse/issues/3613

[2022-11-09 04:56] michaelsproul opened #3707 "Deposit contract finalization fails after checkpoint sync without deposit snapshot"
## Description

After checkpoint syncing my node from a public endpoint without `deposit_snapshot` support, I got an error log upon trying to finalize the cache:

...

I think this is because my node hadn't caught up to the finalized eth1 data. It recovered gracefully once it did, but I think it would be nice to avoid the `ERRO` log. We could just change it to a `WARN` if we think that it's too ha

[2022-11-09 04:57] michaelsproul commented on #3707
Full logs here: https://gist.github.com/michaelsproul/9171413dac5fbfa34b86953a00044319

cc @ethDreamer

[2022-11-09 04:59] michaelsproul opened #3708 "Add `finalized` to HTTP API responses"
## Description

We should implement https://github.com/ethereum/beacon-APIs/pull/254.

## Steps to resolve

We can likely use a slot comparison against fork choice's `finalized_checkpoint.epoch` for most of these.

[2022-11-09 05:15] michaelsproul opened #3709 "Compile with beta compiler on CI"
## Description

We've been "rugged" by new Rust releases a couple of times (recently: https://github.com/sigp/lighthouse/issues/3695). I think we could avoid this by compiling with the Beta compiler on CI. This will give us a bit more lookahead on changes that are going to break releases.

## Steps to resolve

- Add a job to `test-suite` which compiles Lighthouse with Rust beta. I don't think we s

[2022-11-09 06:02] pawanjay176 commented on #3704
This is really cool :ok_hand:

[2022-11-09 12:41] happysalada commented on #3703
I have a small question if you have a moment.
I naively thought that lighthouse would consume 100% of CPU syncing, it seems to sit at 30%, is there a setting that I missed ? Or am I capped by network speed ?

[2022-11-10 13:18] happysalada commented on #3703
Tiny Feedback, once during sync from genesis, lighthouse got stuck in a loop
[code]
After restarting my server, the sync is back on.

[2022-11-10 15:17] DanialAnsari opened #3713 "Cant seem to complete installation of lighthouse after executing make command"
## Description

Hey I trying to setup lighthouse to run a erigon node and for that when trying to install lighthouse and I am running into an issue while installation:

I am running the following commands:
[code]
And then running into the following error:

[code]

[2022-11-10 21:11] michaelsproul commented on #3713
Sorry yeah, there's an issue with the Rust 1.65 compiler https://github.com/sigp/lighthouse/issues/3695

[2022-11-10 23:08] michaelsproul commented on #3703
Hey @happysalada, I've never seen either of these messages `Corruption: bad block contents` or `Bus error` on healthy hardware. This is not a Lighthouse issue, but something specific to your hardware/software stack. Some hypervisors like Proxmox have broken implementations of hardware instruction pass-through (particularly AES) that can cause mysterious errors like this. Is your Nix setup using so

[2022-11-10 23:13] happysalada commented on #3703
No everything is running on baremetal

One more thing that i found surprising is that the sync rate slows down with time. It started at 40 slots per second then went down to 20 and now is at 5
Just a little surprising

[2022-11-10 23:17] michaelsproul commented on #3703
The reason for the slow down is the presence of more validators on the network as time goes on, so there are many more signatures to verify.

[2022-11-10 23:18] michaelsproul commented on #3703
Have you tried running a memory test and a SMART disk check?

[2022-11-10 23:21] happysalada commented on #3703
Im running zfs, that could be the reason for the problem. Let me check smartctl just to be sure

[2022-11-10 23:23] michaelsproul commented on #3703
You might also have more luck with checkpoint sync. Syncing from genesis is not something we've optimised for because it is massively slower and no more secure than using checkpoint sync due to [weak subjectivity](https://ethereum.org/en/developers/docs/consensus-mechanisms/pos/weak-subjectivity/). Our checkpoint sync implementation is optimised so you can sync in a few minutes, and there is now a

[2022-11-11 02:41] michaelsproul commented on #3702
Resolved by #3710 :tada: Will be in our next release

[2022-11-11 02:41] #3702 closed, assigned to nobody

[2022-11-11 16:08] wmitsuda opened #3715 "Backfilling is not resumed after paused"
I'm bootstraping a new LH mainnet instance, I'm noticing that during the backfilling process stops after some time running.

I don't know why it stops (lack of peers, maybe?), but what's worse is that is does not resume until LH restarts. I left it running overnight and it resumed immediately after a restart.

recent log (I don't have last night logs, but it was already stuck at the same distance)

[2022-11-11 16:55] wmitsuda commented on #3715
Update: I was able to find the logs where it apparently stops the backfilling process.

The main issue here I think is identifying if there is some bug in the resume process, but I find it strange why is keeps stopping.

[code]

[2022-11-13 08:27] danielrachi1 commented on #3709
Hi! I'm working on this and I'm already testing a possible solution. I'll create the PR in a few hours if my test workflows behave as expected.
My intention is to add a job that does the workaround you mentioned in #3695, but using `beta` instead of `1.64`.
After installing the dependencies listed in the [build from source guide](https://lighthouse-book.sigmaprime.io/installation-source.html), It'

[2022-11-13 16:26] MysticRyuujin opened #3718 "Beacon Node Fallback Issues"
## Description

My validator points to 5 different beacon nodes and today the "first" beacon node in the list (`172.21.4.1`) went into an "unsynced" state (issue with Besu database, EL not syncing). I then started receiving constant notifications that my validator was missing attestations.

Looking at the logs all I see is logs like this repeated:
[code]

All of the other beacon nodes in the list

[2022-11-13 21:01] michaelsproul commented on #3718
Sorry about this, the merge has revealed some issues with our fallback implementation which we are tracking via this issue: https://github.com/sigp/lighthouse/issues/3613. We haven't started on the implementation of any of the ideas in that issue yet, but will hopefully find some time soon (currently a lot of us are caught up in other projects: new hard forks, networking improvements, database ove

[2022-11-15 00:30] AgeManning opened #3723 "CLI Flag for GUI"
## Description

Add a CLI flag `--gui` that enables a number of configuration parameters required by the GUI.

For now, I think we only need to enable the http-api and the validator-monitor flags, but it might be handy in the future if extra features/flags are required.

[2022-11-15 00:40] AgeManning opened #3724 "Validator metrics for UI"
## Description

The UI requires some extra metrics such as current active validator count and some effective measures of how well a validator is performing.

Although the validator count can in principle be obtained from the standard HTTP API, it is not every efficient.

We should make some efficient version and put them under an endpoint like `lighthouse/ui/X`

The easiest first endpoint could be

[2022-11-15 07:08] paulhauner commented on #3643
#3727 and #3728 are some small changes to the validator monitor that I want to get included before we start on this one.

[2022-11-15 08:31] michaelsproul commented on #3709
Fixed by #3717 thank you @danielrachi !

[2022-11-15 08:32] #3709 closed, assigned to nobody

[2022-11-15 23:17] michaelsproul opened #3730 "Memory issues during genesis sync"
## Description

MigaLabs and now Gnosis have both reported Lighthouse using a lot of memory during genesis sync. We thought it might have been https://github.com/sigp/lighthouse/issues/2944, but with that issue resolved the problem is still occurring.

Looking at some metrics on the affected Gnosis servers it seems not to be a memory fragmentation issue, as the `non-mmap memory` is high (~10GB) an

[2022-11-15 23:19] michaelsproul commented on #3730
May be alleviated by https://github.com/sigp/lighthouse/pull/3697. It would be interesting to compare GNU malloc vs jemalloc during genesis sync

[2022-11-16 12:44] xanatos opened #3732 "Changing the log file permissions (at least under Windows)"
The log file is created with the `.restrict_permissions(true)`

https://github.com/sigp/lighthouse/blob/28aceaa213ad77a6a226242f12ea92b9fcac7342/lighthouse/environment/src/lib.rs#L223

This under Windows sets the file pemissions to OWNER_RIGHTS and nothing else (while normally under Windows files should inherit the permissions of the folder they are contained in), and it is quite a pain if you hav

[2022-11-16 16:58] brddd commented on #3667
While this is true, I'm part of the "goldfish" plan which allows monitoring of two machines, and still seeing this while monitoring only one machine.

Butta mentioned a lighthouse double send bug today in the beaconcha.in discord:   https://discord.com/channels/1020286473938927627/1020286475352424482/1042358746883555338

[code]

I have tweaked the metrics update period to reduce the number of erro

[2022-11-16 17:54] gsvpers commented on #3667
same.

[2022-11-16 22:20] michaelsproul commented on #3732
Definitely something we can fix, just needs somebody willing to dig into Windows permissions and do it. Last time I attempted it with https://github.com/sigp/lighthouse/issues/2394 I got overwhelmed by the complexity of Windows file perms and gave up.

[2022-11-17 05:06] michaelsproul commented on #2327
I've overhauled the pubkey cache on the `tree-states` branch by making it into a generic cache for all validator information. I might try a new approach there using a CoW map for the data so that we can clone it when reading, and then mutate a copy while writing to disk, which then gets swapped into place.

[2022-11-17 05:38] michaelsproul opened #3733 "Maximum clique enumeration for attestation aggregation in op pool"
## Description

Presently Lighthouse uses an opportunistic strategy for aggregating attestations added to the op pool. Any new attestation which can be aggregated with an existing one will be aggregated here:

https://github.com/sigp/lighthouse/blob/6d5a2b509fac7b6ffe693866f58ba49989f946d7/beacon_node/operation_pool/src/attestation_storage.rs#L163-L174

In our collaboration with Satalia they proto

[2022-11-17 13:39] paymog opened #3734 "Service attribute in logs pollutes datadog log ingestion/indexing"
## Description

Lighthouse outputs logs with a `service` field. For those of us monitoring lighthouse with datadog, this creates issues with how logs are categorized by datadog since `service` is a reserved field. Here's a sample log:

[code]

This causes datadog to categorize the log as coming from a service called `deposit_contract_rpc` which is incorrect. Here's an example of that:

<img width=

[2022-11-17 16:47] xanatos opened #3735 "Windows + Nssm + Lighthouse + AppRotateOnline 1"
Nssm is a quite commonly used (on Windows) tool to make an app a service. The version I'm using (taken from https://nssm.cc/download) is the [nssm 2.24-101-g897c7ad](https://nssm.cc/ci/nssm-2.24-101-g897c7ad.zip) (that is the pre-release).

I've done tests on two copies of Windows 11 Pro ITA (various subreleases... I had this problem from the beginning, 6 months ago)

Everything works correctly, u

[2022-11-18 01:51] macladson commented on #3732
To add more context to this, this is actually the behaviour of [Sloggers](https://github.com/sile/sloggers), the logging library responsible for the logfile. I think any changes should be made there, [see here](https://github.com/sile/sloggers/blob/master/src/permissions.rs#L43).

I actually was the one that implemented the strict permissions in the library. The way it works is that it mirrors the

[2022-11-18 04:26] danielrachi1 commented on #3708
I'd like to solve this :)

I'm currently trying to understand how beacon_node/http_api works and how could I implement the new flag. I'll probably be able to open a PR this weekend.

[2022-11-18 04:27] michaelsproul commented on #3708
Great! Thank you!

Let us know if you need any help

[2022-11-21 06:08] michaelsproul commented on #3708
@danielrachi If you'd like to put up a draft PR with the approach you're taking I'd be happy to check over it before you go to the effort of threading it through all the APIs. Sometimes handling the lock ordering and atomicity for these sorts of things can be a bit nuanced. The `execution_optimistic` flag demonstrates the sorts of patterns we usually use.

[2022-11-21 09:39] xanatos commented on #3732
Let's say that it is unexpected. And even Linux has support for ACL.
But I do like the other proposal you made, this one:

I do feel that there are different ways to setup a server and its services and its users, and your proposal lets the user choose how they want to handle everything.

[2022-11-21 15:24] danielrachi1 commented on #3708
Hi, I was busier than expected during the weekend, so I couldn't work on this. I'll follow your suggestion and open a draft PR as soon as I make any progress / decide an approach. (I expect to start working on this again on Wednesday.)

I hope this taking longer than expected is not a problem.

[2022-11-21 20:07] divagant-martian commented on #3649
closed by #3677

[2022-11-21 20:07] #3649 closed, assigned to divagant-martian

[2022-11-21 21:25] icculp commented on #2748
Rather than create a new issue, bumping this one to add another voice requesting config parameter support. Currently integrating lighthouse support into Node Launcher backend for Node Pilot (https://github.com/decentralized-authority/node-launcher/issues/68). Users will be limited in extending or customizing a lighthouse instance running within Node Pilot when the commands are fed in at runtime, s

[2022-11-21 22:12] michaelsproul commented on #2748
@icculp Sorry but the feature was never merged. The open PR is awaiting cleanup and review: https://github.com/sigp/lighthouse/pull/3079.

[2022-11-21 22:54] michaelsproul commented on #3708
Not a problem at all, we are very glad of any help :blush: If you weren't working on it, the issue would probably be sitting here neglected

[2022-11-22 16:42] arbora opened #3744 "Bad attestation source votes should be logged"
## Description

When Lighthouse logs `ERRO Previous epoch attestation(s) missing`, currently there is no indication whether that attestation was missing because of a bad attestation source vote or not. It should record in the log if a bad source vote occurred, *in addition* to logging the missed attestation.

## Version

v3.1.2

## Present Behaviour

The usual two epochs later, when an attestation

[2022-11-22 23:49] michaelsproul commented on #3744
To add a bit of context: one reason this is a bit funny at the moment is because of how attestation accounting works on-chain. In the state we just have a record of 3 bits:

- One bit for the source vote matching (and being on-time in <=5 slots)
- One bit for the target vote matching (and being on-time in <=32 slots)
- One bit for the head vote matching (on-time in 1 slot by definition)

So if all

[2022-11-24 02:43] michaelsproul commented on #3707
In v3.3.0 this will present as `WARN Failed to finalize deposit cache`

[2022-11-24 02:47] #3460 closed, assigned to nobody

[2022-11-24 02:47] #3612 closed, assigned to nobody

[2022-11-24 02:47] #3656 closed, assigned to michaelsproul

[2022-11-24 05:18] michaelsproul commented on #3695
Fixed by v3.3.0

[2022-11-24 05:18] #3695 closed, assigned to nobody

[2022-11-24 05:18] #3713 closed, assigned to nobody

[2022-11-24 05:21] michaelsproul opened #3750 "Fix multiline output for release notes on CI"
## Description

The release CI crashes when outputting the multiline string for the release notes. We should use a "here document" like `<<<EOF` to escape the mulitline string.

CI crashing: https://github.com/sigp/lighthouse/actions/runs/3537291461

Fix (option 2): https://trstringer.com/github-actions-multiline-strings/

Testing will require running the release flow on a dummy release on someone

[2022-11-25 10:08] xanatos commented on #3735
I've made some tests. The problem seems to be in the nssm . It hangs waiting for the pipes to close. I was able to make a very small program in rust that only logged something and that could reproduce the problem.

[code]

Luckily there seems to be a workaround. sloggers logs only on Stderr, and lighthouse, when launched as beaconnode or as a validator, only uses Stderr or logs through sloggers, s

[2022-11-28 09:59] yuroitaki commented on #3669
Hi I am interested in taking this up! So far I have successfully installed lighthouse and the local development environment, read about lighthouse architecture and its relationship with execution clients, played around with ganache — am ready to look into this issue and will post any questions in Discord!

[2022-11-30 03:06] macladson commented on #3723
Closed by #3731

[2022-11-30 03:06] #3723 closed, assigned to macladson

[2022-11-30 03:10] michaelsproul commented on #3704
Implemented in #3738 and will be in the release following v3.3.0!

[2022-11-30 03:10] #3704 closed, assigned to nobody

[2022-11-30 03:12] michaelsproul commented on #3672
Implemented in #3681! :tada:

We can still come back to refactor the "Become a validator" docs so I'll leave this issue open until then

[2022-11-30 03:12] #3588 closed, assigned to nobody

[2022-11-30 13:44] jmcruz1983 commented on #3212
Any update here?

[2022-11-30 14:11] jimmygchen commented on #3689
@0xGabi and I have started making changes on the builder spec and hopefully have a draft PR on the builder spec changes soon. I've summarised the discussions so far on this page: https://hackmd.io/@jimmygchen/B1dLR74Io

[code]

[2022-11-30 21:48] AgeManning commented on #3212
Yeah. There is more complexity here than we anticipated. So its not a straight-forward fix.

We're currently focusing on developing and testing protocol updates for the next hard-fork so this is currently being left as a lower priority task.

I imagine this to only disrupt a small number of nodes and only during backfill sync. If there is a greater urgency or bigger issue for this, we can re-evalu