[2022-04-05 08:09] ackintosh commented on #2700
[Here](https://github.com/ackintosh/sandbox/blob/master/rust/crate-sysinfo/src/lib.rs) is my sandbox code for the investigate.  (contains Japanese comment, sorry!)

[2022-04-05 18:00] abdulrabbani00 opened #3143 "Add HTTP Endpoint to Capture `BeaconState` and `BeaconBlock` for Head and Historical Slots"
- [Overview](#overview)
  * [Use Case](#use-case)
  * [Running the Nodes](#running-the-nodes)
- [Endpoints](#endpoints)
  * [`/proposed-latest-block`](#--proposed-latest-block-)
    + [Result We Want](#result-we-want)
    + [Potential Implementation](#potential-implementation)
  * [`/proposed-latest-state`](#--proposed-latest-state-)
    + [Result We Want](#result-we-want-1)
    + [Potential Imple

[2022-04-05 19:07] realbigsean commented on #3143
An important thing to note is  we *do* prune non-canonical blocks from a finalized portion of the chain. I wasn't sure about this in answering your questions yesterday but I verified. So I don't know that some of these will be possible with lighthouse (any endpoint that expects to produce multiple blocks or states at a single slot in a portion of the chain that has finalized). If you require these

[2022-04-05 19:33] mxinden commented on #2956
I find `HistogramTimer` a need feature of the `prometheus` crate. I think it is worth proposing it to the `prometheus-client` crate @ackintosh.

[2022-04-05 20:44] abdulrabbani00 commented on #3143
@realbigsean - This was super helpful. A few notes:

* We are only interested in the `forked` blocks for new blocks (as we are syncing from the head). We don't need this information for historical blocks.
* You're absolutely correct, we don't need the `range` endpoints if we can just query each `block` and `state` from genesis by the slot number.
* Using the standard API to get the full state and

[2022-04-06 00:07] michaelsproul commented on #3143
I'll add one thing about the range endpoints: fetching a range of states could be a lot faster than fetching states individually, because we reconstruct states by replaying blocks. For example if the DB has a full state at slot 2048, and the user wants states 2048-4096 then the DB will replay blocks `[2049], [2049, 2050], [2049, 2050, 2051], [2049, 2050, 2051, 2052], etc`. By replaying blocks one

[2022-04-06 10:48] yorickdowne opened #3144 "Virtualized CPU detected as potentially incompatible"
## Description

A virtualized CPU is detected as potentially incompatible, `WARN CPU seems incompatible with optimized Lighthouse build, advice: If you get a SIGILL, please try Lighthouse portable build`

Could CPU capability detection use the flags as shown by lscpu and thus be more accurate?

[code]

[2022-04-06 12:13] michaelsproul commented on #3144
Lighthouse logs that message based on the CPUID instruction, which is the same thing as /proc/cpuinfo. I think in your case the issue is that the flags don't include `adx` (which is what Lighthouse is looking for).

You may be able to configure the hypervisor to expose the host's ADX support.

[2022-04-06 14:13] yorickdowne commented on #3144
Thank you for the explanation!

[2022-04-06 14:13] #3144 closed, assigned to nobody

[2022-04-06 17:00] abdulrabbani00 commented on #3143
# GitHub Issue: Lighthouse

# Overview

I would like to add a few HTTP endpoints for my team's use case. I am more than happy and willing to write all the code needed to implement these features. I only ask for guidance and help.

_This is the second iteration of the proposal._

## Use Case

My teams use case is as follows:

1.  We want to capture every `BeaconBlock` and `BeaconState` for every sl

[2022-04-06 17:01] abdulrabbani00 commented on #3143
@michaelsproul and @realbigsean - Thank you both for your wonderful insight. I have compiled a second iteration of the proposal. I think this is far shorter and simpler to implement. Let me know your thoughts and if there's anything else to change (if the changes are minor I will simply update the proposal above instead of creating a new proposal).

[2022-04-07 15:38] realbigsean commented on #3143
@abdulrabbani00 Nice! I think the simplified spec with the additional event topics holding debug information, and the state range endpoint all seem like reasonable additions to lighthouse.

@michaelsproul  This is sweet! I also noticed we have a `block_rewards` events topic gated behind a `lighthouse` feature -- that might be a good way to add full beacon block and beacon state events too. Then th

[2022-04-07 16:33] jdevcs opened #3147 "Sync stalls on phase0 blocks with LH v2.2.0"
## Description

Beacon node is unable to sync and `start_slot` is always 0

## Version

using docker image: latest or v2.2.0

## Present Behavior

`curl --location --request GET 'http://localhost:5052/lighthouse/syncing'`

its always responding

[code]
and is at start_slot 0

[code]

## Expected Behaviour

start_slot should increase

## Steps to resolve

For simple reproducing:
`docker run -p 9000

[2022-04-07 16:42] pawanjay176 commented on #3147
Thanks for the issue. We are testing a fix with this PR https://github.com/sigp/lighthouse/pull/3146

If you are syncing fresh, then I recommend downgrading to `v2.1.5`

[2022-04-07 17:24] abdulrabbani00 commented on #3143
@realbigsean - Thanks for the insight. I think there might be a way to simplify the spec even more and remove 2/3 endpoints.

Scenario:
1. I query `events?topic=head`, and I get the `block` and `state` in ssz encoded format.
2. I query a new endpoint: `/lighthouse-events?topic=proposed-latest-block`. This endpoint returns a json object of the `BeaconBlock`.
3. I query a new endpoint: `/lighthouse-

[2022-04-07 17:32] abdulrabbani00 commented on #3143
Another thought is, what if, instead of implementing a new endpoint that takes a `start` and `end` slot, we implement a cache?

Scenario:
* I query: `​/eth​/v2​/debug​/beacon​/states​/10`
  * Lighthouse runs block `1-10` on top of the state at block `1`.
  * Lighthouse stores the state at slot `10` in a `debug_state_cache`.
  * I get a JSON object.
* I query: `​/eth​/v2​/debug​/beacon​/states​/11`

[2022-04-08 03:53] michaelsproul commented on #3143
I prefer the range approach to a cache for now, because cache logic similar to what you mention has already been implemented, but it's lurking in my `tree-states` branch (https://github.com/michaelsproul/lighthouse/tree/tree-states)  and won't be part of Lighthouse `unstable` for a while. The `tree-states` branch changes the in-memory representation of states from flat bytes to copy-on-write trees

[2022-04-08 05:38] paulhauner opened #3151 "Restrict sync committee messages to optimistic blocks"
## Description

The [optimistic sync spec](https://github.com/ethereum/consensus-specs/blob/dev/sync/optimistic.md) declares:

We need to ensure that a Lighthouse BN/VC pair will not sign sync committee messages that reference an optimistic `beacon_block_root`.

## Steps to resolve

The first change is to return an error in [`BeaconChain::get_aggregated_sync_committee_contribution`](https://github

[2022-04-08 11:53] abdulrabbani00 commented on #3143
@michaelsproul

* Does the current `head` topic not emit the full `BeaconState` and `SignedBeaconBlock` in an SSZ encoded format?
* Also, from a performance perspective, do you think it would be better to get the SSZ encoded object and decode it or transmit the entire JSON object over the wire? If decoding SSZ --> JSON is fairly performant, it might be better to take this approach, especially if w

[2022-04-08 17:42] fireduck64 opened #3154 "VC metrics for number of beacon nodes"
## Description

For this log line, are these numbers in the metrics as well?  I can't find them.

Apr 08 17:25:17.000 INFO Connected to beacon node(s)             synced: 4, available: 4, total: 4, service: notifier

I'd like to set an alert on number of beacon nodes.

## Version

Lighthouse/v2.2.0-bac7c3f (from docker)

## Present Behaviour

The data line appears in the logs but not the metrics (

[2022-04-10 17:30] one-three-three-seven commented on #2023
I'm the one who created the bounty, I would really like full IPv6 support. I would like to run Lighthouse within IPv6-only environments without additional setup, no manual peering or similar. This issue and https://github.com/sigp/lighthouse/issues/1617 being fixed would be a huge progress.

@divagant-martian I have seen you already announced to work on this issue and made progress. If you want to

[2022-04-10 17:40] divagant-martian commented on #2023
Hi @one-three-three-seven just answered via gitcoin. I've been working on this on the side lately and would be happy to claim and finish the work. I also aim for full support. As I said in the gitcoin answer, this should be more or less a 3 steps work. First, discovery, then the rpc, and finally some additional servers. This is in order of more to less work required. The discovery progress I expec

[2022-04-11 08:46] Kilo777 opened #3155 "Hello"

[2022-04-11 08:54] #3155 closed, assigned to nobody

[2022-04-11 12:23] abdulrabbani00 commented on #3143
@michaelsproul and @realbigsean - I believe this should be the last proposal here.

I update the `head?topics` endpoint to accept a new parameter which would provide the entire SSZ encoded object or JSON  for the `state` and the `block`. Let me know if this is feasible, or if we will have to move this functionality to a non-standard endpoint. If I can get your teams sign off and blessing, I can st

[2022-04-12 04:26] paulhauner commented on #3154
That seems like a good idea and fairly simple to implement!

[2022-04-12 04:30] paulhauner opened #3156 "Check `fee_recipient` returned from EE"
## Description

It's possible that an EE will return a different fee recipient to the one provided (the `suggested_fee_recipient`) in [`get_payload`](https://github.com/sigp/lighthouse/blob/bac7c3fa544495a257722aaad9cd8f72fee2f2b4/beacon_node/execution_layer/src/lib.rs#L563-L702). Whilst this is legal behaviour, I think it would make sense to raise some sort of log whenever the EE returns a differ

[2022-04-12 06:58] michaelsproul commented on #3147
Closing as this is fixed in v2.2.1, but I'll leave this pinned a bit longer

[2022-04-12 06:58] #3147 closed, assigned to nobody

[2022-04-13 13:03] eklm commented on #2421
Hi @michaelsproul! Didn't have a chance to look at this yet, but I now get back to it and investigated the current implementation. So you are suggesting to move the orphaned blocks to different column in the hot db or also to the cold db?

The second variant looks much better for me (`OrphanedBlockRoots: Slot => Vec<Hash256> `and `OrphanedBlocks: Hash256 => SignedBeaconBlock<E>`) as `DBColumn::Orp

[2022-04-14 00:16] paulhauner commented on #3151
@michaelsproul I know you've done a lot of work on sync committees, so I'd be interested to know if what I've written makes sense and if you have a better suggestion? :pray: :relaxed:

[2022-04-14 00:45] michaelsproul opened #3159 "Add transactions to EE integration tests"
## Description

In https://github.com/sigp/lighthouse/pull/3157 we removed finalized payloads from the database in favour of reconstructing them from the execution layer. Our reconstruction depends on the correctness of the `ethers` library's transaction encoding, and it would be good to ensure this is correct in CI.

To do this we need to add some transactions to the execution blocks in our EE in

[2022-04-14 01:53] michaelsproul commented on #3151
Looks good, and I favour option (2) as well. I don't even think we need an extra request because I think we could read the optimistic status when we fetch the block root here:

https://github.com/sigp/lighthouse/blob/db0beb51788576565cef9534ad9490a4a498b544/validator_client/src/sync_committee_service.rs#L177-L187

[2022-04-14 23:09] mining-visualizer commented on #3130
I hope that something can be done about this.  I much prefer having log files in my local time zone.

[2022-04-18 14:57] abdulrabbani00 commented on #3143
Hello Guys,

We have decided we are going to stick with the currently existing features within the lighthouse for our use case. The current performance we are seeing is perfectly fine for what we are trying to achieve. I appreciate all your help, and if we need anything else I will be sure to raise another issue.

Please let me know if there is anything I can ever do for your team.

Thank you,
Abd

[2022-04-18 14:57] #3143 closed, assigned to nobody

[2022-04-23 07:03] SenatorGrimm opened #3164 "monitoring-endpoint push frequency too high for free tier Beaconcha.in API"
Currently both Beaconnode and Validator client push 1 update each every minute. That sums up to 89.280 calls per month (31 days * 24 hrs * 60 minutes * 2 calls per minute) while the Beaconcha.in Free Tier API calls are limited to 30.000 calls per month. Most Solo stakers won't be willing to spend 59USD per month to upgrade to a paid Tier API level. Is there a possibility to customize the update fr

[2022-04-23 21:23] SenatorGrimm commented on #3164
Manuel confirmed that this is a UI bug on Beaconcha.in and the client monitoring bypasses the limit.
![image](https://user-images.githubusercontent.com/53111731/164946334-2313a68d-c920-4188-a59f-a27c9a481d50.png)

[2022-04-23 21:23] #3164 closed, assigned to nobody

[2022-04-25 12:29] xanatos commented on #2394
I'll add that even the logger sets the log files a owner-only

https://github.com/sigp/lighthouse/blob/28aceaa213ad77a6a226242f12ea92b9fcac7342/lighthouse/environment/src/lib.rs#L223

This is quite annoying if you want to run lighthouse as a service, and then use another use to look at the logs.

[2022-05-02 09:12] ackintosh opened #3166 "`eth2_hashing` v0.3.0 is not published"
## Description

[eth2_hashing - Rust](https://docs.rs/eth2_hashing/latest/eth2_hashing/)

Current latest version of `eth2_hashing` is [v0.3.0](https://github.com/sigp/lighthouse/blob/stable/crypto/eth2_hashing/Cargo.toml#L3), but that is not published on crates.io.

I noticed that a release procedure is defined in the [publish-crate](https://github.com/sigp/lighthouse/blob/stable/.github/workflows

[2022-05-02 11:06] ackintosh commented on #3102
How about using `env!("CARGO_PKG_VERSION")` as [the fallback](https://github.com/sigp/lighthouse/blob/aa72088f8fc91d41106a8afce7a0179cde64ce5d/common/lighthouse_version/src/lib.rs#L20)?

I will file a PR if it looks good to you. 😃

[2022-05-02 12:08] realbigsean commented on #3102
I think this would result in us displaying the version of the `lighthouse_version` crate, which is `0.1.0` right now.. but maybe we should actually track this version with our lighthouse release version? Would just need to add it to the `change_version.sh` script

[2022-05-02 13:08] ackintosh commented on #3102
I noticed that the `change_version.sh` script does the replacing below:

https://github.com/sigp/lighthouse/blob/46a06069c605842111d68b85b3e9aeea1974e202/scripts/change_version.sh#L34

the `VERSION_CRATE` variable points `lighthouse_version/src/lib.rs`:

https://github.com/sigp/lighthouse/blob/46a06069c605842111d68b85b3e9aeea1974e202/scripts/change_version.sh#L17

---

Therefore we don't need to u

[2022-05-03 22:34] torfbolt commented on #1617
I'd like to bump this issue, ipv6 is not the future any more, it's the present. Not having dual stack support excludes a large user base (those behind carrier grade NAT) from inbound connections, and thereby makes the peering process unnecessarily inefficient.

Are there upstream tickets for the mentioned issues in libp2p? Can you maybe link them to improve awareness?

[2022-05-04 07:59] one-three-three-seven commented on #1617
@torfbolt I fully agree with you. This feature is work in progress, you can see the progress there:

https://github.com/sigp/lighthouse/issues/2023
https://github.com/sigp/discv5/pull/107

I have done a lot of testing with different Ethereum clients, the IPv6 support is pretty bad. No client seems to be capable to run within IPv6-only networks by default. I'm currently doing Gitcoin bounties and h

[2022-05-05 03:28] AgeManning commented on #1617
Yes. @divagant-martian is currently working on this. The discovery side (arguably) the hardest part is mostly complete and under-review.

The support is non-trivial also in p2p networks. If the majority of nodes use ipv4 (currently the case) and can only contact ipv4 nodes, ipv6-only peers could get segregated and fall victim to various attacks such as eclipses. I guess in a p2p setting, its not a

[2022-05-05 10:55] GerardBri opened #3169 "`Peer sent invalid block in single block` seems to cause beacon node desync (malicious ?)"
## Description

My node seems to receive 28 invalid block, and some minutes after, my node is desynced :(
Since March~April, my node get more and more desync/crash and i have to purge-db and restart all the node, so this time, i keep the logs, and try to understand why :)

the typical log which seems to be the root cause is :
[code]

## Version

Release from github : **Lighthouse v2.2.1-aa72088**

[2022-05-05 11:52] pawanjay176 commented on #3169
Hey @GerardBri can you share the debug logs from `$datadir/beacon/logs/beacon.log`?

[2022-05-05 12:33] GerardBri commented on #3169
sure @pawanjay176 ,

full logs are in attachment below (truncated, because it's heavy, it starting from 03:00) and here is a summary of the first bad block received, i think
first bad blocks start at **03:07:47.396**

[code]

my previous logs are time with GMT+2, here we've got GMT

### debug log
🗒️ starting from 03:00:00 : [mybeacon.log.zip](https://github.com/sigp/lighthouse/files/8631187/mybeac

[2022-05-05 12:40] pawanjay176 commented on #3169
Thank you! Can you share your hardware setup as well? Looks like your node did the state transition correctly the second time around (after you purged the db) so I'm guessing some sort of temporary db corruption.

[2022-05-05 13:24] GerardBri commented on #3169
well, there isn't the purge in the log, i've restart with `--purge-db` only hours after :)

the beacon node run in a proxmox VM with 4 full CPU, 8GiB RAM, 300 GiB disk
default BIOS : SeaBIOS,
default machine : i440fx,
default SCSI controller : VirtIO SCSI,
QEMU guest agent : enabled

[2022-05-05 14:17] GerardBri commented on #3169
In addition, i have all the grafana dashboard with prometheus records
some captures here could help perhaps
(we can see starting issue at **\~ 05:20** (03:30 in UTC logs) and the purge db / restart at **\~ 11:00*

![screen_2022-05-05 16-03-10](https://user-images.githubusercontent.com/83615406/166942987-c275c1a3-ec40-45c4-b7f1-64680658279e.png)
![screen_2022-05-05 16-05-23](https://user-images.git

[2022-05-05 23:43] bergkvist commented on #1430
I'm trying to run validators inside Kubernetes, in which case these lock files don't really provide any kind of protection.

Using a "StatefulSet" with replicas=1 in Kubernetes I can make sure that I'm not running two validators at the same time - so that solves the same problem in a different way.

If I specify `validator-definitions.yml` and keystore contents in a "ConfigMap"/"Secret" in Kuberne

[2022-05-06 00:20] michaelsproul commented on #3169
Hi @GerardBri,

There's definitely something very unusual going on with your node. This is the sort of issue we only see a handful of times per year, and usually it's very difficult to get to the root cause.

Some basic things to start with:

1. Try running a memory test within the VM. You could use [memtester](https://linux.die.net/man/8/memtester), or the memory-intensive mode of [Prime95](https

[2022-05-09 22:10] GerardBri commented on #3169
Thanks for your help @michaelsproul :pray:
Well i've run `Memtest86+` on the host while 1 hour without any issues.
So i decided to check proxmox VM settings, and the cpu was set as a `host` cpu, so i've changed to default `kvm64`, we'll see if it's better in future

[2022-05-09 23:24] paulhauner opened #3173 "Implement `feerecipient` API for keymanager (VC)"
## Description

An endpoint has been added to the keymanager API (our VC implements this) to support dynamically changing the suggested fee recipient:

https://github.com/ethereum/keymanager-APIs/pull/24

I've had a few questions about this from large pools, it seems like desirable functionality. It *should* be fairly straight-forward to implement. We'll want to make sure we update our [suggested

[2022-05-12 05:31] AgeManning commented on #1617
For those interested in this feature and those watching #2023

Update: @divagant-martian has completed most of the work required to support this. There are still a few smaller things we need to cover, but for the reasons I'll list below, we do not plan to support this feature until after the merge (the upcoming hard-fork merging the current Ethereum proof of work chain with the beacon chain).

The

[2022-05-13 02:43] michaelsproul opened #3176 "Don't mark EL as offline if non-essential API call fails"
## Description

If payload reconstruction or another non-critical call to the EL fails I think we should avoid marking the EL as offline. Currently there is an incompatibility with ethereumjs that results in Lighthouse & ethereumjs stalling due to the inability to reconstruct payloads. IMO we should keep running and issuing forkchoiceUpdated/notifyNewPayload messages while ignoring the getBlockByH

[2022-05-13 05:36] hezhao opened #3177 "Windows users need to download Visual C++ Redistributable for vcruntime140_1.dll not found error"
## Description

Running `.\lighthouse.exe --version` the pre-built binary in PowerShell does not show anything, double click on the binary will show "vcruntime140_1.dll not found" error.

## Version

Lighthouse v2.2.1 pre-built binary for Windows

## Steps to resolve

Download the latest [Visual C++ Redistributable for Visual Studio 2015, 2017, 2019, and 2022](https://aka.ms/vs/17/release/vc_redis

[2022-05-13 05:57] michaelsproul commented on #3177
Which version of Windows?

[2022-05-15 22:56] hezhao commented on #3177
I'm running Windows 10.

[2022-05-16 08:43] paulhauner commented on #3176
Sounds like a good idea. Once we implement #3118, we might not even track the online/offline state at all! We'll just try anything anytime and see how it pans out.

[2022-05-16 20:43] #3058 closed, assigned to ethDreamer

[2022-05-17 10:18] zsluedem commented on #3114
@michaelsproul https://github.com/sigp/lighthouse/pull/3185 add a pr to fix it.

[2022-05-17 17:58] z3n-chada opened #3187 "Request to add support for RPC API: /eth/v2/debug/beacon/states/"
## Description

There is currently no support for the /eth/v2/debug/beacon/states API call.

## Version

all (currently built on unstable:db8a6f81ea25ceaca1842e030f9dd1331a5ac28b)

## Present Behaviour

Requests to this endpoint over http result in:

"BAD_REQUEST: Unsupported endpoint version: v2"

## Expected Behaviour

A dump of the beaconstate object.

## Steps to resolve

Implement this API fo

[2022-05-17 21:28] michaelsproul commented on #3187
Lighthouse does already implement the API at v2, you can see the code for that [here](https://github.com/sigp/lighthouse/blob/aa72088f8fc91d41106a8afce7a0179cde64ce5d/beacon_node/http_api/src/lib.rs#L1602-L1613).

However, our implementation is currently affected by two bugs which will cause it to return a 405 if a complex `Accept` header is provided, see https://github.com/sigp/lighthouse/issues/

[2022-05-18 00:44] paulhauner opened #3189 "Set `safe_block_hash` to the justified block hash"
## Description

As pointed out by @michaelsproul, we are setting the `safe_block_hash` value as per an old specification:

https://github.com/sigp/lighthouse/blob/38050fa460c28812f5c2026765fe12f497f03ef5/beacon_node/execution_layer/src/lib.rs#L851-L857

The new specification declares that we should use the block hash of the *justified checkpoint* instead:

https://github.com/ethereum/consensus-spe

[2022-05-18 00:44] paulhauner commented on #3189
I will fix this in #3175

[2022-05-18 06:55] #3098 closed, assigned to nobody

[2022-05-18 06:58] #3083 closed, assigned to nobody

[2022-05-18 06:59] #3068 closed, assigned to tthebst

[2022-05-18 07:00] michaelsproul commented on #3044
Closing as duplicate of #3011

[2022-05-18 07:00] #3044 closed, assigned to nobody

[2022-05-18 07:02] michaelsproul commented on #3006
Resolved by #3023

[2022-05-18 07:02] #3006 closed, assigned to nobody

[2022-05-18 07:04] michaelsproul commented on #2904
Closing because this is stale, and the scope is overly broad. If we find a specific bug that induces increased CPU usage we can open a new issue

[2022-05-18 07:04] #2904 closed, assigned to nobody

[2022-05-18 07:08] michaelsproul commented on #2567
Closing as overly broad. Our bandwidth is mostly a function of the spec, and there is work being done on that in other repos

[2022-05-18 07:08] #2567 closed, assigned to nobody

[2022-05-18 07:09] michaelsproul commented on #2553
We haven't seen this since #2549 was merged, so I think it's fixed

[2022-05-18 07:09] #2553 closed, assigned to AgeManning

[2022-05-18 07:12] michaelsproul commented on #2134
Closing as duplicate of #3011

[2022-05-18 07:12] #2134 closed

[2022-05-18 07:13] michaelsproul commented on #1963
Fixed in more recent versions of Lighthouse thanks to @macladson's logging overhaul

[2022-05-18 07:13] #1963 closed

[2022-05-18 07:15] michaelsproul commented on #1709
Closing as invalid

[2022-05-18 07:15] #1709 closed

[2022-05-18 07:16] michaelsproul commented on #1773
Upstream spec PR was closed, and we have a myriad of other fork choice attack mitigations these days :grin:, e.g. proposer boost

[2022-05-18 07:16] #1773 closed

[2022-05-20 11:06] donkodimov opened #3196 "Beacon Node not updating new timezone and not syncing"
## Description

After manually changing the timezone,  lighthouse client logs still showing the old timezone.

## Version

Please provide your Lighthouse and Rust version. Are you building from
`stable` or `unstable`, which commit?

Lighthouse v2.2.1-2291a14
rustc 1.61.0 (fe5b13d68 2022-05-18)

## Present Behaviour

Describe the present behaviour of the application, with regards to this
issue.

cl

[2022-05-20 11:18] pawanjay176 commented on #3196
Are you trying to sync one of the merge testnets? This issue is known and we are working on a fix which should be merged to the `unstable` branch soon.

The logging issue is already known, unfortunately it's an issue in one of our upstream logging libraries. See https://github.com/sigp/lighthouse/issues/3130 for details.

[2022-05-20 11:34] donkodimov commented on #3196
Yes, I am following this [guide](https://github.com/remyroy/ethstaker/blob/main/merge-devnet.md)  and trying to sync to kiln testnet.
So the error has nothing to do with the timezone?

[2022-05-20 11:41] pawanjay176 commented on #3196
Yep this is an issue on merge networks which is related to the async runtime we use in Lighthouse. The timezone issue is a logging issue.

[2022-05-20 12:06] michaelsproul commented on #3196
Ah, @pawanjay176 I think this is a regression introduced by my recent PR https://github.com/sigp/lighthouse/pull/3168. The previous panic was already fixed in https://github.com/sigp/lighthouse/pull/3165.

[2022-05-21 02:29] michaelsproul commented on #3196
The fix has been merged to unstable now 🎉

[2022-05-21 02:29] #3196 closed, assigned to nobody

[2022-05-22 01:24] michaelsproul commented on #3187
I'm going to close this, please re-open if you have more info to indicate that it isn't a duplicate

[2022-05-22 01:24] #3187 closed, assigned to nobody

[2022-05-22 07:29] mrabino1 opened #3200 "Adding an item to the beaconchain health for execution endpoint status"
Especially as we approach the merge and folks are "wiring" their CL to EL. ..pls consider adding to the status / health query to see if the execution endpoint is properly "connected" and responding as intended

so using
curl -X GET "http://localhost:5052/lighthouse/health" -H  "accept: application/json" | jq

consider adding the following:
execution_endpoint_status: UP

and UP would represent that

[2022-05-22 08:48] donkodimov commented on #3196
Great!

[2022-05-23 06:01] michaelsproul commented on #3026
Thanks @tthebst for starting to look into this.

Here are a few pointers that might be useful:

* The code for the state reconstruction lives in this function: https://github.com/sigp/lighthouse/blob/79db2d4deb6a47947699d8a4a39347c19ee6e5d6/beacon_node/store/src/reconstruct.rs#L18
  It will probably need to be modified to take an argument like the "maximum number of slots to reconstruct in one pas

[2022-05-23 06:06] paulhauner commented on #3069
I have thought through this and come up with some use-cases and changes required to achieve them. I have already done *some* of this work in the abandoned #3160, but it's not necessarily the same as this.

## Overview

### Use case 1: Pre-merge

The user wants to use multiple eth1 nodes:

`lighthouse bn --eth1-endpoints http://localhost:8545,http://shared-backup.com`

### Use case 2: Post-merge

T

[2022-05-23 06:40] mrabino1 commented on #3069
Humor the basic question.. Will the execution-endpoint serve the same content as that what would have been served with port 8545 (but with additional content capabilities like block production)? thx.

[2022-05-23 06:49] pawanjay176 commented on #3069
Yes that's correct. It will be a jwt-authenticated endpoint over which the execution engine will expose the engine namespace and all other namespaces that are exposed over the non-auth http endpoint (eth, net etc)

[2022-05-23 09:42] jmcruz1983 opened #3207 "Beacon data directory grows indefinitely"
## Description

Running beacon with `--datadir=/data` and mounted that directory in a separated volume,
I noticed following issue that volume keeps growing and thus I need to resize it,

Running for about 90 days already filled up 100 GiB

<img width="1634" alt="beacon" src="https://user-images.githubusercontent.com/15966694/169791407-b70a05bb-a534-465d-8641-e260ee0a8e9c.png">

From beacon options

[2022-05-23 10:42] michaelsproul commented on #3207
Most of that space (~80GB) is consumed by the beacon blocks themselves, and there are more of them to store with each passing day. We have a few plans up our sleeve to curtail the growth:

1. Apply compression to the blocks (likely a 2-4x reduction). This can be done at any time but needs to be done carefully and with a DB migration. We'll probably do it after the merge.
2. Limit the storage of hi

[2022-05-23 10:55] jmcruz1983 commented on #3207
Thanks @michaelsproul for suggestions,
I'll keep an eye on upcoming upgrades & feature flags,

About checkpoint sync, we do use that one to avoid full re-sync,
but as side effect beacon node becomes bit unstable for some hours (like 24h)
as it is backfilling in the background and getting CPU spikes,
Can you confirm that this behaviour is still happening?
Thanks

[2022-05-23 11:03] michaelsproul commented on #3207
Yeah, we've had a few reports of that. We also need to open an issue for rate-limiting block backfill, thanks for the reminder!

[2022-05-24 00:54] michaelsproul opened #3208 "Compress and linearise beacon blocks on disk"
## Description

Beacon blocks alone now consume around 80GB of disk space on mainnet.

I think we could be more efficient with storage by using compression. Recently I'm particularly fond of `zstd` compression, which is fast and could probably offer a 2-4x reduction.

The complicating factor is that compressing blocks requires a database schema upgrade, as well as a moderately sophisticated migrat

[2022-05-24 00:56] michaelsproul commented on #3208
Another change we could implement at the same time would be linearising finalized blocks in the freezer database. Currently we key them by block root indefinitely, which leads to lots of non-sequential reads. Finalized blocks could be keyed by slot, which would make it quicker to replay them or serve them via BlocksByRange.

[2022-05-24 01:03] michaelsproul opened #3209 "Prune historic blocks"
## Description

Currently Lighthouse stores every block from genesis to the current head, with no option to drop the older parts of history.

The p2p spec defines a parameter `MIN_EPOCHS_FOR_BLOCK_REQUESTS` equal to ~5 months, which we could adopt as the default backfill period for new checkpoint synced nodes.

https://github.com/ethereum/consensus-specs/blob/dev/specs/phase0/p2p-interface.md#cons

[2022-05-24 01:07] michaelsproul opened #3210 "Remove alignment limitations from checkpoint sync"
## Description

Currently Lighthouse's checkpoint sync requires that the checkpoint state is not from a skipped slot, see: https://lighthouse-book.sigmaprime.io/checkpoint-sync.html#alignment-requirements

This limitation is somewhat artificial, and was taken in order to simplify the initial implementation. I've forgotten exactly _why_ but I'll post more info on this issue when I dive back into it

[2022-05-24 01:17] michaelsproul opened #3211 "Add a mode to run without freezer states"
## Description

Presently Lighthouse copies finalized states to the freezer DB upon finalization. Validating nodes do not actually require these states at all and would be justified in dropping them entirely. Other clients (e.g. Teku and Nimbus) already implement this mode of operation.

I think it should be fairly straight-forward to implement, we could wrap the copying of states in a conditional

[2022-05-24 01:24] michaelsproul opened #3212 "Rate limit historic block backfill"
## Description

Several users here (https://github.com/sigp/lighthouse/issues/2904) and on Discord have reported their nodes becoming overwhelmed during backfill sync.

We haven't identified a specific issue with backfill sync that could cause this, but could defensively add a flag to rate-limit backfill sync, to prevent it from overwhelming other functionality.

I think we should probably do the

[2022-05-24 01:26] michaelsproul commented on #3207
Ok, closing in favour of 5 new issues which I've finally put down on paper!

#3212 #3211 #3210 #3209 #3208

[2022-05-24 01:26] #3207 closed, assigned to nobody

[2022-05-24 01:42] divagant-martian commented on #3212
Since the beacon processor's job already handles a sort of load balancing prioritizing some jobs over others, it would be easier to handle there. Sync isn't async so adding delays wouldn't be that simple. Thoughts?

[2022-05-24 01:44] michaelsproul commented on #3212
Oh yeah, I hadn't considered that + assumed sync _was_ async

[2022-05-24 05:29] AgeManning commented on #3212
Some thoughts - I dont think we go too fancy and have dynamic adjustments to load based on time of processing in the queue (but we could if someone really wanted to). Some simple ways to approach:
- Configurable batch buffer sizes - We have a fixed buffer size, which keeps the processor busy with blocks (depending on its speed). If we set the batch buffer size to 1 for example, then we would proce

[2022-05-24 05:42] divagant-martian commented on #3212
Agree on not doing a fancy load balancing or anything like that, just reviewing job priority in the beacon processor. If it's already low priority and it's still interfering with other jobs, lowering the batch size should help. If we "add a delay" I would think about it not on the job but on the queues, throttling how often we _start_ processing those. Given the options, after a review/adjustment

[2022-05-24 22:50] divagant-martian commented on #3212
I'll handle this as we agreed, but I'm curious why is this assumed to be related to backfill sync?

[2022-05-24 23:27] michaelsproul commented on #3212
The evidence is pretty much anecdotal, Juan noticed it on a bunch of VPS nodes he manages (https://github.com/sigp/lighthouse/issues/3207#issuecomment-1134521896), and another Discord user was having trouble but I just checked the message history and it turns out they were running an HDD :scream:

Ahhh, @divagant-martian you were totally right about the prioritisation though. I think backfill batc

[2022-05-25 00:49] paulhauner opened #3216 "Signature caching in the VC"
## Description

@jmcruz1983 (Juan) has pointed out that Lighthouse is doing orders of magnitude more signing requests to Web3Signer than Teku. At scale (e.g., thousands of validators), this can overload infrastructure and cause real problems.

Based on some data from Juan, I suspect this is caused by duplicate signing of selection proofs (I'm not sure if it's for [attestations](https://github.com/

[2022-05-25 00:55] paulhauner commented on #3216
Oh wait, I just realised that those `signature_cache`s need to be *per validator*. Perhaps attaching them to the `SigningMethod` would be more appropriate.

[2022-05-25 00:56] michaelsproul commented on #3216
We already pre-compute all the sync selection proof signatures. It could be that this burst of signing is what shows up on web3signer's end.

Or, alternatively if we do adopt a cache we can probably drop the signature pre-compute, as I think a cache would obsolete the pre-compute.

[2022-05-25 02:39] zsluedem commented on #2629
@michaelsproul Hello. I am looking around and trying to take this one. But I am not sure if this issue is obsolete or not.

Currently, the BLS_tests are using the test cases provided in https://github.com/ethereum/consensus-spec-tests. But the latest version [1.2.0-rc.1](https://github.com/ethereum/consensus-spec-tests/tree/v1.2.0-rc.1/tests/general/altair/bls) of consensus-spec-tests already excl

[2022-05-25 06:46] mrabino1 commented on #3212
Personal experience.. I was using a VPS (now migrated).. and it was using an SSD.. and I experienced missed attestations during the historic block sync after a checkpoint sync.. I do believe this move to making that job a lower priority is the right path. what matters the most after a sync, is continued operations.. the back-fill will finish when it finishes..

[2022-05-25 15:42] z3n-chada opened #3220 "BeaconAPI Spec Conformance"
## Description

Issues with spec conformance for BeaconAPI json-rpc endpoint.

## Version
unstable

## Present Behaviour

## Expected Behaviour
| API Path                                              | Inputs | Issue                         |
|:----------------------------------------------------- |:------ |:----------------------------- |
| /eth/v1/beacon/states/(state)/root                    |

[2022-05-27 04:43] michaelsproul commented on #3220
We're aware of this and have an open PR to implement this here: https://github.com/sigp/lighthouse/pull/3070.

Closing as a duplicate of https://github.com/sigp/lighthouse/issues/3031

[2022-05-27 04:43] #3220 closed, assigned to nobody

[2022-05-29 23:27] macladson commented on #3154
Resolved by #3193

[2022-05-29 23:27] #3154 closed, assigned to nobody

[2022-05-30 03:36] #3102 closed, assigned to nobody

[2022-05-30 04:13] #3141 closed, assigned to nobody

[2022-05-30 04:16] #3114 closed, assigned to nobody

[2022-05-30 07:08] ackintosh commented on #3092
Hi, I'm interested in this issue. 🙂

As my first step in learning about this issue, I ran code coverage. The following is result about `PeerManager::prune_excess_peers()`. I believe this could be useful.

<img width="482" alt="image" src="https://user-images.githubusercontent.com/1885716/170935964-260bd7cd-9ff5-499e-ac24-3438a6c822a8.png">

[2022-05-30 12:59] amaurer opened #3230 "Error after upgrade from 2.2.1 to 2.3.0 (Docker)"
## Description

Changed the version in docker-compose.yml from 2.2.1 to 2.3.0, watched logs and saw failures. I changed back to 2.2.1 and beacon and validators started properly.

## Version
2.3.0

## Present Behaviour

[code]

## Expected Behaviour

Upgrade from 2.2.1 without error

## Steps to resolve

- Synced mainnet beacon chain with validators on same node, both running 2.2.1
- Change version

[2022-05-30 14:05] MysticRyuujin commented on #3230
I got this same error on my validator going from 2.2.0 to 2.3.0

[2022-05-30 14:16] MysticRyuujin commented on #3230
Updating Docker and restarting fixed it

[2022-05-30 17:48] pawanjay176 commented on #3230
This seems to be a consequence of us using `ubuntu:latest` as our base docker image which has some issues with the `clone3` syscalls on older docker engine versions https://docs.docker.com/engine/release-notes/#201010 .

Updating your docker should fix it as @MysticRyuujin pointed out. We'll probably move to stabler base images in our dockerfile from next release onwards. Sorry for the trouble!

[2022-05-31 01:00] AgeManning commented on #3092
Nice. Do you have specific questions about this or anything I can do to help extend the tests?

[2022-06-01 06:16] AgeManning commented on #2847
Update with more specific details:

The spec issue contains the latest updates on what we are trying to achieve. From an implementation side:

We have two files: https://github.com/sigp/lighthouse/blob/stable/beacon_node/network/src/subnet_service/attestation_subnets.rs and https://github.com/sigp/lighthouse/blob/stable/beacon_node/network/src/subnet_service/sync_subnets.rs

which handle attestati

[2022-06-01 17:03] ackintosh commented on #3092
Thank you!

I have read about the implementation of pruning, but I can not understand what the `attestation subnet` and `sync committee subnet` are. (I have googled but no luck.) 💦

https://github.com/sigp/lighthouse/blob/df40700ddd2dcc3c73859cc3f8e315eab899d87c/beacon_node/lighthouse_network/src/types/subnet.rs#L10-L15

[2022-06-03 02:16] AgeManning opened #3237 "Remove deficit gossipsub scoring during topic transition"
## Description

When we fork, we transition between gossipsub topics. We remain subscribed to old topics to keep track of any stragglers. As the optimal case involves everyone shifting to new topics, we would expect little to no messages being sent along the old topics.

This poses an issue for gossipsub scoring which expects a minimum number of messages to be sent on a given topic. Thus peers tha

[2022-06-03 02:21] AgeManning opened #3238 "Ignore aggregate subsets on gossip"
## Description

We should implement: https://github.com/ethereum/consensus-specs/pull/2847

This should help filter out duplicates and subset aggregate attestations.

We might need another error case for attestation and sync committee aggregate processing. Potentially @michaelsproul may be best suited for that modification.

We should also adjust the scoring parameters on these topics to account o

[2022-06-03 04:02] AgeManning commented on #3092
These are ethereum-2 terms.

High level overview can be seen here: https://kb.beaconcha.in/attestation

Technical specifications are:

- https://github.com/ethereum/consensus-specs/blob/dev/specs/phase0/validator.md#attesting
- https://github.com/ethereum/consensus-specs/blob/dev/specs/phase0/p2p-interface.md#the-gossip-domain-gossipsub

Sync committees were introduced in Altair. Can see here: htt

[2022-06-03 12:51] amaurer commented on #3230
Confirmed, upgraded docker from 19 to 20 and the instance started. Thanks.

[2022-06-03 12:51] #3230 closed, assigned to nobody

[2022-06-05 23:02] michaelsproul opened #3241 "Remove equivocating validators from fork choice"
## Description

The latest consensus spec includes a fortification of fork choice against attacks involving equivocating validators.

We should implement the changes as described in https://github.com/ethereum/consensus-specs/pull/2845 and the latest version of the fork choice spec: https://github.com/ethereum/consensus-specs/blob/dev/specs/phase0/fork-choice.md

## Steps to resolve

* Update fork

[2022-06-05 23:05] michaelsproul opened #3242 "Update EF consensus tests to v1.2.0"
## Description

We should update the EF tests to v1.2.0-rc.1 which was recently released: https://github.com/ethereum/consensus-specs/releases/tag/v1.2.0-rc.1.

Most of the tests should pass without any modifications. We may need to skip a few fork choice tests until https://github.com/sigp/lighthouse/issues/3241 is implemented.

[2022-06-06 11:24] pablomendezroyo commented on #3230
For anyone looking for a temporary fix, add the following to the `docker-compose.yml` file or find a way to add it to the Docker image provided by the lighthouse team.

This may entail security assumptions, make sure you are aware of them before implement it on production
[code]

[2022-06-07 07:12] MinwooJ opened #3247 "Ropsten testnet invalid ttd error."
## Description

The ropsten testnet ttd is changed to `50000000000000000` but when I run the geth node and connected latest stable version of lighthouse(v2.3.0), I get invalid ttd error from the engine api. I saw the PR(https://github.com/sigp/lighthouse/pull/3240) you have updated. When will this update be released for docker image? Or is there any running command to config ttd?

## Version

stab

[2022-06-07 07:42] michaelsproul commented on #3247
If you use the `:latest-unstable` tag for your docker images then you'll pull in the latest patch which includes the TTD

you can also use the TTD override flags with v2.3.0:

* for the beacon node: `--terminal-total-difficulty-override=50000000000000000`
* and for the validator client: `--terminal-total-difficulty-override=50000000000000000`

[2022-06-07 09:10] MinwooJ commented on #3247
I used that TTD override flag to run the client. Thank you!

[2022-06-08 10:45] paulhauner opened #3249 "Periodically log the TTD"
It would be nice to periodically log the configured TTD in the time between Bellatrix and the transition block being finalized (especially when there's an override).

A bonus task could be polling the EL for the current difficulty and displaying that in decimal.

[2022-06-09 04:55] michaelsproul opened #3251 "HTTP API tests do not work for Bellatrix fork"
## Description

As @macladson discovered while testing https://github.com/sigp/lighthouse/pull/3070, the `http_api` tests are incompatible with the Bellatrix fork due to the interactions between async and blocking tasks. This is now picked up by the linter introduced in https://github.com/sigp/lighthouse/pull/3250 as well.

This is a tracking issue with several follow-up items, to ensure we don't

[2022-06-09 23:44] michaelsproul opened #3260 "Improve merge UX by removing `--merge` and adding preparedness indicators"
## Description

Here's a plan to improve merge UX:

- [x] deprecate the `--merge` flag, by enabling everything it does currently by default
- [x] clean up the logs for merge-related functionality so that:
  - if a Bellatrix epoch is set, we log loudly about the absence of EE endpoints, suggested fee recipients, etc
  - if no Bellatrix epoch is set, we _do not_ log loudly about the absence of merge

[2022-06-09 23:45] #3247 closed, assigned to nobody

[2022-06-11 14:25] GerardBri commented on #3169
Hello there !
My crash still occur :'(

My investigation was the following :
- running `Memtest86+` :heavy_check_mark:
- change the proxmox cpu type from `host` to default `kvm64` :heavy_check_mark:
- use the portable version of lighthouse Lighthouse/v2.2.1-aa72088 :heavy_check_mark:

But i've got still the crash with this message **Peer sent invalid block in single block** :negative_squared_cross

[2022-06-12 12:41] #1202 closed

[2022-06-13 01:20] ethDreamer opened #3264 "Remove `fee_recipient_file` functionality"
The original purpose of the `fee_recipient_file` was to allow the user to change a validator's `fee_recipient` on the fly (that is, without restarting the validator client).

But there is now a new [validator keymanager API endpoint](https://ethereum.github.io/keymanager-APIs/#/Fee%20Recipient) for doing this. See:
* #3173
* #3213

In order to implement this API endpoint, we must persist changes t

[2022-06-14 02:34] hujw77 opened #3265 "Wrong `sync_committee_bits` value from beacon block rpc on kiln testnet"
## Description
On kiln testnet, `sync_committee_bits` value from beacon block rpc always is `0xf7fffeefebd6ff6faf7ffffd7dfffffe6ff6bfbfffdedefffffff7fff5f77dace7fffb7fddffaefdfffffeffefffbdfffffbe6fb5fffb7fefd7f3fffffffbffb`
the value would not change. This seems to be an obvious bug.
## Version

stable

## Present Behaviour

shell script to reproduce it
[code]

## Expected Behaviour

<img width="

[2022-06-14 05:19] ackintosh commented on #3166
Currently, this is no longer an issue for me. 😃

[2022-06-14 05:19] #3166 closed, assigned to nobody

[2022-06-14 05:24] michaelsproul commented on #3265
This isn't a bug in Lighthouse, that's how sync committee bitvectors are encoded. The spec defines bitvector serialisation here: https://github.com/ethereum/consensus-specs/blob/dev/ssz/simple-serialize.md#bitvectorn.

The 0xf7 at the start of the bitfield corresponds to 0b11110111 in MSB-first binary, or 0b11101111 in LSB-first binary (which is what your screenshot of the explorer shows). Either

[2022-06-14 05:24] #3265 closed, assigned to nobody

[2022-06-14 13:45] mcdee opened #3266 "Invalid "Failure verifying attestation for gossip""
## Description

Lighthouse generates a "Failure verifying attestation for gossip" when seeing duplicate attestations.

## Version

2.3.1

## Present Behaviour
Logs are present of the form:

[code]

There are two issues here:
1. this is logged as an error, however it doesn't appear that this is an error for the network, validator or node.
2. the error states that this is a verification issue, howev

[2022-06-14 13:51] mcdee opened #3267 "suggested_fee_recipient erroneous log warning"
## Description

#3202 generates a lot message when there is a suspected mismatch between expected and actual fee recipient, however this only considers the value supplied on the command line and not that provided by the standard API endpoint.

## Version

2.3.1

## Present Behaviour

Warnings are raised when there is a mismatch between the suggested fee recipient supplied on the command line and t

[2022-06-15 05:58] michaelsproul opened #3270 "Optimize computation of historic beacon committees"
## Description

Presently Lighthouse will reconstruct the state _at_ the epoch requested for API calls like `/eth/v1/beacon/states/head/committees?epoch=2988`.

https://github.com/sigp/lighthouse/blob/564d7da656803f5e06e53a303972580be54500bf/beacon_node/http_api/src/lib.rs#L684-L686

As discovered experimentally by @jclapis and expanded on by @ajsutton, this isn't actually necessary, and we could

[2022-06-15 21:03] tamaszl opened #3274 "error: failed to compile `lighthouse v2.3.1 (/root/lighthouse/lighthouse)`, intermediate artifacts can be found at `/root/lighthouse/target`"
## Description

Please provide a brief description of the issue.

make
cargo install --path lighthouse --force --locked --features ""
  Installing lighthouse v2.3.1 (/root/lighthouse/lighthouse)
    Updating crates.io index
   Compiling lighthouse v2.3.1 (/root/lighthouse/lighthouse)
error: failed to compile `lighthouse v2.3.1 (/root/lighthouse/lighthouse)`, intermediate artifacts can be found at

[2022-06-15 22:07] michaelsproul commented on #3274
Are you compiling on a memory-constrained device? If you check `sudo dmesg -T` after the compilation failure it might mention that rustc was killed by the out-of-memory (OOM) killer.

If you have another machine with more RAM available you can also cross-compile: https://lighthouse-book.sigmaprime.io/cross-compiling.html

[2022-06-15 22:22] tamaszl commented on #3274
[Wed Jun 15 21:48:48 2022] Out of memory: Killed process 56601 (rustc) total-vm:2934036kB, anon-rss:1563564kB, file-rss:0kB, shmem-rss:0kB, UID:0 pgtables:5528kB oom_score_adj:0

[2022-06-15 22:25] #3274 closed, assigned to nobody

[2022-06-16 15:42] yperbasis commented on #2115
Yes, please use `eth_chainId` rather than `net_version`. Per the [spec](https://github.com/ethereum/execution-apis/blob/main/src/engine/specification.md#underlying-protocol) EL should only expose `engine_` and `eth_` methods on the Engine API port. Erigon doesn't expose `net_` methods by default.

[2022-06-17 04:31] paulhauner opened #3276 "Add timeout for POST `SignedContributionAndProof`"
## Description

We presently don't have a timeout for publishing contribution and proofs:

https://github.com/sigp/lighthouse/blob/564d7da656803f5e06e53a303972580be54500bf/common/eth2/src/lib.rs#L898-L913

It would be nice if we could have a shortened timeout like for attestations:

https://github.com/sigp/lighthouse/blob/564d7da656803f5e06e53a303972580be54500bf/common/eth2/src/lib.rs#L748-L749

T

[2022-06-17 07:22] ricardolyn commented on #3264
Instead of having an API that external actors need to push data to it, why isn't implemented an argument that allows passing an endpoint to Lighthouse where it can pull the whole data when necessary? Similar to what Teku does with [this argument](https://docs.teku.consensys.net/en/latest/Reference/CLI/CLI-Syntax/#validators-proposer-config).

[2022-06-17 07:27] michaelsproul commented on #3264
@ricardolyn That's a good design too, but the "push-based" API is what is being standardised across clients (incl Teku): https://ethereum.github.io/keymanager-APIs/

[2022-06-17 10:26] ricardolyn commented on #3264
We have it implemented in our system already.

Yes. my main point is around the deprecation of file support. With the file, we can change fee recipients in bulk. It will be good to keep the functionality while there is no alternative like Teku.

When using the key manager API, if we have to update several validators simultaneously (imagine 1000), will this raise any issues on the lighthouse?

than

[2022-06-19 23:21] michaelsproul commented on #3264
@ricardolyn I imagine this wouldn't create any issues. Each request would take just 10-100 milliseconds to run and the whole operation should complete in around a minute

Do you envisage updating 1000s of fee recipients at a time to _different_ values? Or would you likely be updating them all to the same value? Would you be well-served by a method to update the default fee recipient, as @realbigse

[2022-06-20 04:12] mrabino1 commented on #3264
From my lens, I very much wish there was a `default_fee_recipient` in the validator_definitions.yaml ... would make life easier for sure.. /mr

[2022-06-20 07:32] ricardolyn commented on #3264
@michaelsproul, we provide a service to customers, and multiple customer stakes' are allocated through our validators.

We could have 1000 fee recipients updated at the same time to different values or the same values. It all depends on how our customers update their records (for example, they can update their account to 1000 validators at once to the same address).

The default fee recipient is n

[2022-06-21 01:55] macladson commented on #2944
Closed by #3271

[2022-06-21 01:55] #2944 closed, assigned to nobody

[2022-06-21 18:10] liemle82 opened #3280 "More descriptive eth endpoint fallback text"
## Description

Add a more descriptive word/phrase that a fallback eth node endpoint was found and usable.

Currently displayed when a fallback happens:
Jun 21 17:57:09 eth-node2 lighthouse[692]: Jun 21 17:57:09.840 WARN Error connecting to eth1 node endpoint  action: trying fallbacks, endpoint: http://192.168.1.231:8547/, service: eth1_rpc

Suggestion to add the text in parenthesis () below:
Jun

[2022-06-22 20:47] liemle82 commented on #3280
figured out this request/issue isn't needed. didn't notice that there's already a message that says "Fetched data from fallback             fallback_number: 1, service: eth1_rpc"

[2022-06-22 20:47] #3280 closed, assigned to nobody

[2022-06-25 12:14] michaelsproul opened #3285 "Audit prometheus histogram buckets"
## Description

Presently our metrics always use the default buckets for histograms, which work OK for times of a few milliseconds to a second, but not so well for shorter/longer times, or large integer values.

I propose we:

- Introduce a new primitive in the `lighthouse_metrics` crate for defining histograms together with their buckets. The underlying machinery already exists in the `prometheus

[2022-06-25 12:26] michaelsproul commented on #3266
The reason we currently log this as such a loud error is because this is also the sort of thing you'd expect to see while running multiple validator clients with a key (i.e. a slashable configuration). I'm in favour of reducing the noisiness of this log when running with multiple _beacon nodes_, particularly as it causes all sorts of mess when timeouts and failovers are involved.

Maybe we could k

[2022-06-25 12:47] dapplion commented on #3285
Buckets of whole numbers, lowest bucket should be 1
- beacon_operations_per_block_attestation_total_bucket

Misc:
- beacon_block_total_size_bucket: bucket size should range avg block size

This buckets could be proportional to slot time, and extend beyond 1x  SECONDS_PER_SLOT to capture really bad network conditions
- beacon_block_gossip_propagation_verification_delay_time
- beacon_block_gossip_sl

[2022-06-25 14:39] mcdee commented on #3266
I can understand why you would want this to be loud by default, because running multiple beacon nodes is not going to be the common case and those that do should be able to handle another step or two with configuration.  I think that a flag to tell the beacon node it is expected to see duplicate operations on the network and via its API, and hence to relax about them with respect to logging (and p

[2022-06-27 22:08] sragss commented on #3276
Can I take this?

Are there existing networking integration tests?

[2022-06-27 22:31] michaelsproul commented on #3276
@sragss that would be great, thanks!

The main test of VC<->BN interaction is via the `simulator` crate, which runs a mini network under ideal conditions. It doesn't currently test the `--beacon-nodes` fallback however

edit: link to simulator: https://github.com/sigp/lighthouse/blob/stable/testing/simulator/src/main.rs

[2022-06-28 09:01] jmcruz1983 commented on #3209
Any update here?

[2022-06-28 10:41] dapplion commented on #3189
A network deployment with only lighthouse and nethermind nodes stalled because nethermind errors on all fork-choice update calls with:

`"Inconsistent forkchoiceState - safe block hash. Request: ForkchoiceState: (HeadBlockHash: 0xa2e14ea188d4dc9b247b45367a4b45b45eabfe5ebbf0cd15eaba5ccc4902ff7b, SafeBlockHash: 0xa2e14ea188d4dc9b247b45367a4b45b45eabfe5ebbf0cd15eaba5ccc4902ff7b, FinalizedBlockHash: 0

[2022-06-28 23:41] michaelsproul commented on #3189
The relevant check in Nethermind that we're tripping is here:

https://github.com/NethermindEth/nethermind/blob/a35d4f1d192494b61d91d34bc74bfbf8866aaa8b/src/Nethermind/Nethermind.Merge.Plugin/Handlers/V1/ForkchoiceUpdatedV1Handler.cs#L175-L180

The consistency check requires:

1. The safe block hash is zero, or
2. The safe block hash is part of Netheremind's canonical chain

https://github.com/Net

[2022-06-28 23:50] michaelsproul commented on #3189
Actually I'm not sure that the block currently being imported isn't considered part of the canonical/"main" chain. These lines would seem to suggest it gets added before the consistency check: https://github.com/NethermindEth/nethermind/blob/a35d4f1d192494b61d91d34bc74bfbf8866aaa8b/src/Nethermind/Nethermind.Merge.Plugin/Handlers/V1/ForkchoiceUpdatedV1Handler.cs#L161-L166

[2022-06-29 01:46] michaelsproul commented on #3189
I actually think the ultimate cause of death for the Gnosis devnet was a payload reconstruction issue: https://github.com/gnosischain/consensus-deployment-ansible/issues/6#issuecomment-1169445538

[2022-06-29 01:53] michaelsproul commented on #3209
On the backburner, we're hesitant to add this feature without opt-in from other client teams and a good solution to providing access to the historical data.

[2022-06-29 21:15] realbigsean opened #3295 "[builder API] Make gas limit configurable"
## Description

Currently we are hard-coding , this should be configurable on a per-validator basis. We will likely want to track this in the validator definitions file, and allow users to update it via the HTTP API.

[2022-06-29 21:18] realbigsean opened #3296 "[builder API] Enable Web3Signer tests for validator registration"
## Description

We currently run tests against the Consensys web3 signer. We have tests in https://github.com/sigp/lighthouse/pull/3194 that are commented out until the functionality for validator registration signatures are implemented.
[This is the relevant Consensys issue.](https://github.com/ConsenSys/web3signer/issues/577)

[2022-06-29 21:22] mrabino1 commented on #3295
Interesting.. so the 30MM gas limit would be variable.. I would hope that we have a parameter to allow for the default to be 30MM

[2022-06-29 21:26] realbigsean opened #3297 "[builder API] Verify signatures on bids"
## Description

We receive execution payload headers wrapped in `BuilderBid` objects. These objects include signatures made by the builder. We should verify these signatures are correct so we can retroactively identify bad acting by builders.

We don't yet have this functionality because a local instance of `mev-boost` will already perform this. But because you can directly connect lighthouse to a

[2022-06-29 21:37] realbigsean opened #3298 "[builder API] Update to v0.2.0"
## Description

The latest version of the builder specs was just released [here](https://github.com/ethereum/builder-specs/releases/tag/v0.2.0)

[2022-06-30 01:32] paulhauner commented on #3061
This has gone stale and doesn't seem to be necessary anymore.

[2022-06-30 01:32] #3061 closed, assigned to nobody

[2022-06-30 01:34] paulhauner commented on #3260
This was completed in #3214 :tada:

[2022-06-30 01:36] paulhauner commented on #3118
This has been achieved in #3214. There's still some redundancy code lingering in the background that will be cleaned up by #3284 and similar PRs.

I'm going to close this since I think that restricting this feature from users is the *must have* task, will the corresponding clean-ups are nice to have (and already underway).

[2022-06-30 01:36] #3118 closed, assigned to nobody

[2022-07-01 05:57] macladson opened #3302 "VC using excessive memory when using Web3Signer"
Credit to @jmcruz1983 for discovering.

## Description

Running a validator client using Web3Signer uses significantly more memory than an equivalent local signer.
The problem becomes more pronounced at higher numbers of validator clients.

I ran a local network using custom scripts (based on the existing scripts at `scripts/local_testnet` which create 4 validator clients, 3 using local signers an

[2022-07-01 08:45] jmcruz1983 commented on #3302
Great finding guys!
any idea when this can make it to unstable branch?

[2022-07-01 13:30] realbigsean commented on #3295
There's some discussion around it here: https://github.com/ethereum/builder-specs/issues/17

But yes, I think we'd keep 30MM as a default, just want to make sure it's possible for validators to set it if they wish

[2022-07-04 08:22] xrchz commented on #1617
Really looking forward to this, and sad I won't be able to test it out before the merge. My nodes will certainly be advertising ipv6.

[2022-07-04 22:59] matthewdarwin opened #3306 "Compile fails on Ubuntu 18.04"
## Description

Compile fails on Ubuntu 18.04.  leveldb will not compile with "parallel 20" option. cmake is version 3.10.2-1ubuntu2.18.04.2

and tries to run
[code]

Manually changing into the build directory and running without the "--parallel" "20" will compile that component correctly.

## Version

unstable, from just now.

## Present Behaviour

Will not compile

## Expected Behaviour

Should

[2022-07-05 00:10] michaelsproul commented on #3306
The minimum version of CMake needed to compile Lighthouse is v3.12, although it's interesting that you got it to compile by just removing a single flag.

We're not inclined to change our dependencies to support earlier versions of CMake, so we recommend updating CMake if you'd like to compile on 18.04.

Another option is to use our cross-compilation toolkit, which does a better job of maintaining

[2022-07-05 00:10] #3306 closed, assigned to nobody

[2022-07-05 01:09] divagant-martian opened #3307 "Remove redundancy in the ulrs in the execution layer' config"
## Description

After removing the fallback for engines in the execution_layer crate, we don't need the `secret_files` and `execution_endpoint` to be able to hold more than one in each field. Those could be changed to be options or even mandatory fields.

The relevant code is [here](https://github.com/sigp/lighthouse/blob/748475be1ded2c9a29cbd8b985f6ae2980720a36/beacon_node/execution_layer/src/lib

[2022-07-05 01:11] sept-en opened #3308 "`eth2_hashing`: redundant dependencies blocking WASM support"
## Description

`eth2_hashing` crate uses `cpufeatures` as a mandatory dependency. `cpufeatures` has a [restriction](https://github.com/RustCrypto/utils/blob/846ae596590941ee87844b54cff8bfbaf3f6bc42/cpufeatures/src/lib.rs#L70) saying `"This crate works only on `aarch64`, `x86`, and `x86-64` targets."`. Because of that, it will not allow compiling this crate to `wasm32` target-arch.

Basically, `et

[2022-07-05 01:31] pawanjay176 commented on #2961
Fixed in #3056

[2022-07-05 01:31] #2961 closed, assigned to nobody

[2022-07-05 01:49] michaelsproul commented on #3270
Resolved in #3272, will be in the next release (v2.3.2 or v2.4.0)

[2022-07-05 01:49] #3270 closed, assigned to michaelsproul

[2022-07-05 02:27] matthewdarwin commented on #3306
Sure.  It would be helpful if the required version was documented.  Doesn't say anything about minimum cmake version on https://lighthouse-book.sigmaprime.io/installation-source.html

[2022-07-05 02:42] michaelsproul commented on #3306
Good point, opened a PR https://github.com/sigp/lighthouse/pull/3310

[2022-07-06 02:02] siladu commented on #3296
Hi @realbigsean web3signer validator registration support is available on master now.
If you use docker it's on the develop tag: `docker pull consensys/web3signer:develop`

We're expecting to release web3signer 22.7.0 this week or next with this in.

The shape of the signing request is documented here under the `VALIDATOR_REGISTRATION` type: https://consensys.github.io/web3signer/web3signer-eth2.h

[2022-07-06 02:35] michaelsproul commented on #3264
Thanks for the feedback @ricardolyn. In the interest of making progress with our fee recipient API we're going to continue with removing the fee recipient file support. We'll revisit the performance of the API if it proves troublesome in practice, and may add a pull-based API like Teku in future. If you could please migrate your tools to use the HTTP API before upgrading to our next release that w

[2022-07-06 02:44] mrabino1 commented on #3264
for sanity, support for the fee recipient embedded in `validator_definitions.yml` is still part of the plan.. yes?

[2022-07-06 02:48] michaelsproul commented on #3264
Yep, it just won't be part of that PR we're merging now. For now the default can be set with the CLI flag `--suggested-fee-recipient` on the VC.

[2022-07-06 21:11] marioevz opened #3314 "`baseFeePerGas` field in ExecutionPayloadV1 is too permissive"
## Description

Execution client's Engine API specifies `baseFeePerGas` as a `QUANTITY` field which has the following restrictions:

Currently is possible to feed lighthouse the following spoofed values and they will end up in the Execution payload without issues:
- `Spoofing (node X) baseFeePerGas, 0xce187 -> ce187` (No `0x` prefix)
- `Spoofing (node X) baseFeePerGas, 0xeb89a -> 0x0eb89a` (Leadin

[2022-07-07 01:09] ronaldjmaas opened #3315 "Failover not working for execution API in Sepolia test network"
## Description

During testing the transition from PoW to Pos on Sepolia I noticed that failover to another execution client is not working as expected for the execution API

## Version

Lighthouse v2.3.2-rc.0-45b2eb1

## Present Behaviour

I setup Lighthouse Beacon Node + Besu on localhost and Geth on a 2nd machine. Both eth1 endpoints and execution API end points are configured to connect to bot

[2022-07-07 01:52] michaelsproul commented on #3315
Hey, sorry to hear you're having issues.

Execution engine failover never worked particularly well and has been removed in our `unstable` branch as of this PR: https://github.com/sigp/lighthouse/pull/3214. The full rationale for removing this is described here: https://github.com/sigp/lighthouse/issues/3118. The solutions for multi-EL that exist today are:

- https://github.com/karalabe/minority
-

[2022-07-07 02:05] ronaldjmaas commented on #3315
Thanks for quick reaction. I understand the rationale and for the upcoming Goerli merge I make sure I setup 2 Lighthouse BNs each connecting to a single EL node.

Only ask for you and your team can do is updating the Lighthouse documentation + help text describing the --execution-endpoints and --jwt-secrets arguments.

[2022-07-07 02:14] michaelsproul commented on #3315
Thanks, updating the docs is on our TODO list (tracked by this issue: https://github.com/sigp/lighthouse/issues/3260).

[2022-07-07 02:14] #3315 closed, assigned to nobody

[2022-07-07 03:10] ronaldjmaas commented on #3260
Also relating to #3315 : as Lighthouse does not support multiple execution endpoints anymore, please update the description for the following arguments accordingly:
--execution-endpoints <EXECUTION-ENDPOINTS>
--jwt-secrets <JWT-SECRETS>

and post merge:
--eth1-endpoints <HTTP-ENDPOINTS>

[2022-07-07 04:27] michaelsproul commented on #3260
@ronaldjmaas The `--help` for those flags has already been updated, in fact they're absent from `--help` as they are now just aliases to the new flags. The release notes for the next release will note this backwards-incompatible change.

[code]

[code]

I think `--eth1-endpoints` needs its description updated soon too.

[2022-07-07 17:02] marioevz commented on #3314
I've updated the hive simulator branch, please update to the latest commit and use this command instead to run only a single test case:
[code]

[2022-07-07 17:20] marioevz opened #3316 "Transition payload production might fail if the TTD block timestamp coincides with the slot time"
## Description

Transition payload production might fail with the following error if the TTD block matches the slot time, because lighthouse attempts to produce a payload with `timestamp==parent.timestamp`:
(Geth/v1.10.20-stable-8f2416a8)
[code]

Using branch https://github.com/marioevz/hive/tree/all-tests-plus-cl-clients and the following command reproduces the issue every time:
[code]

Note: Tes

[2022-07-08 00:35] #3308 closed, assigned to nobody

[2022-07-08 16:36] realbigsean commented on #3296
Thanks @siladu !

[2022-07-08 16:40] realbigsean opened #3319 "[builder API] Increase/add Timeouts"
## Description

Thanks @ralexstokes for pointing this out.

We are currently using a 500ms timout on the `getHeader` request, but 1 second is specified. I don't think this should make any difference because we already are querying both the builder API and the local EE for a payload at the same time and comparing the two. The timeout on the local EE is 2 seconds, so changing the builder timeout sho

[2022-07-11 08:50] metachris opened #3323 "SSE subscription issue for head events"
## Description

I'm doing a SSE subscription on the `head` event, and all 5-10 events it's getting a colon, which is invald:

subscribing like this:

[code]

output:
[code]

## Version

Please provide your Lighthouse and Rust version. Are you building from
`stable` or `unstable`, which commit?

fff4dd631

## Present Behaviour

Receiving invalid lines with colon

## Expected Behaviour

Not receivin

[2022-07-11 10:25] michaelsproul commented on #3323
The `:` characters signal the start of a comment per the SSE spec, and are explicitly allowed by the beacon-APIs spec. Please see https://github.com/sigp/lighthouse/issues/2681 for the previous discussion

[2022-07-11 10:27] #3323 closed, assigned to nobody

[2022-07-11 12:00] metachris commented on #3323
Thanks for the context! Missed the previous conversation and just noticed that https://github.com/r3labs/sse reports an error

[2022-07-11 12:07] michaelsproul commented on #3323
No prob! Hopefully the issue with `r3labs/sse` is straightforward to fix :pray:

[2022-07-11 14:27] realbigsean commented on #3298
Completed in 882b8fa2186786da6922050ae416f616dab3791b

[2022-07-11 14:27] #3298 closed, assigned to nobody

[2022-07-12 01:52] paulhauner commented on #3176
This should be resolved in #3324

[2022-07-12 04:44] paulhauner commented on #3032
To be clear, I think we should only pause sync by these rules:

[code]

In particular, we *do want to keep syncing if the EE is syncing*. Our optimistic sync implementation means that this is safe (enough). Tagging @pawanjay176 and @divagant-martian :)

[2022-07-12 04:45] paulhauner commented on #3069
Resolved via #3215 :tada:

[2022-07-12 04:45] #3069 closed, assigned to ethDreamer

[2022-07-12 04:46] paulhauner commented on #3173
Resolved via #3213 :tada:

[2022-07-12 04:46] #3173 closed, assigned to ethDreamer

[2022-07-12 05:07] paulhauner opened #3326 "Avoid subscribing to all subnets with an optimistic head"
## Description

The BN can follow the beacon chain whilst the EE is syncing, this is called *optimistic sync*. A node has an *optimistic head* when the head of the beacon chain has not been verified by the EE because that EE is syncing. An optimistic head can be identified with:

[code]

When the head is optimistic, the BN cannot produce attestations since it would be unsafe to attest to a block t

[2022-07-12 05:14] paulhauner commented on #3251
Perhaps we can close this if/when #3325 merges without waiting for #3070?

[2022-07-12 05:15] AgeManning commented on #3326
We currently disable all gossipsub subscriptions whilst we are syncing. We call these `CoreTopics`.

I guess if we are an aggregator for a subnet we should still subscribe to these subnets. I guess you're suggesting to just delay subscribing to the long-lived subnets and/or those included by `--subsribe-all-subnets`.

We are working on a new long-lived subnet subscription model, but its to be test

[2022-07-12 23:11] paulhauner commented on #3251
Resolved via #3325

[2022-07-12 23:11] #3251 closed, assigned to nobody

[2022-07-12 23:13] paulhauner commented on #3326
We're not going to be an aggregator when we have an optimistic head either.

Yep, I think that sounds right.

[2022-07-13 11:17] adv0r opened #3329 "Beacon client fails with suggested-fee-recipient set in execution line, not in yaml definitions"
## Description
The `suggested-fee-recipient` is added to the  `lighthouse/mainnet/validators/validator_definitions.yml` as indicated in the docs.

Lighthouse bc works just fine.

So I tried to add it also as a parameter `--suggested-fee-recipient` to the Exec line, for redundancy, and it causes an error:
`The following required arguments were not provided:    --merge`

So I'm wondering, why doesn'

[2022-07-13 11:26] michaelsproul commented on #3329
This should be fixed as of the latest commit to unstable. The `merge` flag is no longer necessary (for anything)

[2022-07-13 23:11] paulhauner commented on #3176
Resolved in #3324

[2022-07-13 23:11] #3176 closed, assigned to nobody

[2022-07-14 07:09] siladu commented on #3296
Hi again @realbigsean this has now been released: https://github.com/ConsenSys/web3signer/releases/tag/22.7.0

Note, since my last message, the request format has changed: we no longer require an epoch to be sent.

[2022-07-15 13:02] realbigsean opened #3337 "[builder API] Add `--builder-timestamp-override`"
## Description

From @ciaranmcveigh in Discord

[2022-07-15 13:45] realbigsean commented on #3296
Completed in 7aa2a74da7b54325445b88efb345d910b11b2c32

[2022-07-15 13:45] #3296 closed, assigned to nobody

[2022-07-15 15:33] realbigsean opened #3338 "Goerli / Prater network alias"
## Description

This was brought up in Discord by @yorickdowne. It feels like we should support `--network goerli` because it's the longer-standing network name and it's not intuitive to have a different EL and CL network name. We've had a discrepancy in EL/CL names the past but not on testnets that are planned for long-term use.

It's not as easy as I originally thought to support both names thou

[2022-07-17 08:54] paulhauner commented on #3338
I have a feeling that other consensus clients will adopt this alias and that we'll be expected to as well. I would lean towards (3), I'm not exactly sure how to go about it though. I suspect it's possible but it'll involve fiddling with some macros.

[2022-07-18 05:24] #3264 closed, assigned to nobody

[2022-07-18 05:29] michaelsproul commented on #3156
IMO we might want a flag that prevents the VC from signing any block with a divergent fee recipient. This would apply to blocks from builders too, which I think the check from #3202 does not. _Filtering_ available blocks by their fee recipient would be superior, but I don't think the current builder APIs really allow that (unless you use multiple relays?).

(I've been thinking about this in the co

[2022-07-18 06:02] michaelsproul commented on #3189
I'll take this

[2022-07-18 18:29] realbigsean commented on #3337
Resolved in #3340

[2022-07-18 18:29] #3337 closed, assigned to nobody

[2022-07-18 19:49] marioevz opened #3344 "Unexpected behavior on hive optimistic sync tests"
## Description

Currently all optimistic sync tests running lighthouse have an unexpected behavior where the node does not seem to be attempting to sync to the other nodes even after `SAFE_SLOTS_TO_IMPORT_OPTIMISTICALLY` slots have passed.

The test cases use 2 or 3 nodes (depending on the test case) and to put them in optimistic sync mode the execution clients are started with two different preco

[2022-07-18 23:07] michaelsproul commented on #3329
Closing this as resolved, let me know if you manage to reproduce the issue on `unstable`

[2022-07-18 23:07] #3329 closed, assigned to nobody

[2022-07-18 23:07] michaelsproul commented on #3314
Fixed by #3321

[2022-07-18 23:07] #3314 closed, assigned to pawanjay176

[2022-07-18 23:08] michaelsproul commented on #3276
Resolved in #3291

[2022-07-18 23:08] #3276 closed, assigned to sragss

[2022-07-18 23:45] paulhauner commented on #3338
I'm going to have a play around and see if I can make this work now.

[2022-07-19 01:42] paulhauner commented on #3338
I didn't consider this properly, but if we just use an alias then users will use `--network goerli` and end up with a `.lighthouse/prater` data directory. That might be a bit challenging for our documentation.

I'm going to have a look at making a unique Goerli network that shares the same genesis state as Prater. I think the only real downside to just having Prater/Goerli separate is the duplicat

[2022-07-19 06:26] paulhauner commented on #3316
Resolved via #3331. Thanks for raising this one @marioevz, great find :heart:

[2022-07-19 06:26] #3316 closed, assigned to pawanjay176

[2022-07-19 07:54] paulhauner commented on #3338
I have two competing implementations at:

- #3346
- #3348

[2022-07-19 08:55] ricardolyn commented on #3264
@michaelsproul why do you need to remove the file support to make progress with the API?

[2022-07-19 09:28] michaelsproul commented on #3264
@ricardolyn The PR implementing the API removed the file support for the reasons described in the OP, i.e. to keep things simple.

We won't add it back, but we may add a pull-based API like Teku's if the performance of the standard API is proved to be inadequate. If you'd like to expedite the pull-based API you could help us benchmark the current API 🙏

[2022-07-19 10:38] ricardolyn commented on #3264
@michaelsproul thanks. It would be best if you looked to https://github.com/flashbots/mev-boost/issues/154, which will be implemented on top of the Teku push-based approach. Will lighthouse support the per account relay config in that issue?

[2022-07-19 14:03] realbigsean commented on #3264
We only support a single builder/relay connection. To use multiple, you can connect to mev-boost, and there you can configure the relay-validator mapping

[2022-07-19 23:48] michaelsproul commented on #3264
@ricardolyn How quickly do you need your updates applied? I noticed that with a pull-based approach we'd need to either reload a large (multi MB) file every time we propose _or_ space the updates out (which seems to be what Teku does). I've raised this on the mev-boost issue too: https://github.com/flashbots/mev-boost/issues/154#issuecomment-1189642419

[2022-07-20 02:20] macladson commented on #3302
Hi @jmcruz1983, an optimization for the memory usage is now present in `unstable`.
You will be able to test the changes in the `latest-unstable` or `latest-unstable-modern` docker images.

It is also worth noting that the optimization works best when your validators all share a single client identity. If your validators all have unique client identities then you likely won't see any improvements.

[2022-07-20 04:00] ethDreamer commented on #3344
So I found one bug with this. We were inappropriately downscoring the peer and disconnecting it when it sent us a block we couldn't optimistically import. I've created #3350 to address that. Unfortunately this hasn't solved the issue. What happens now is the following:
1. Block comes in from gossip
2. Lighthouse finds it does not have the parent for this block
3. Request block from RPC
4. Go to st

[2022-07-20 04:07] paulhauner opened #3351 ""Error fetching block for peer" whilst EE is syncing"
## Description

Whilst the CL has optimistically synced to the head but the EL is still syncing, we frequently log these errors:

[code]

I assume this is because Lighthouse needs to contact EE to convert the blinded block into a full block (i.e., retrieve the payload).

I propose that we should handle this how we handle historical block requests whilst we're still backfilling; with `RPCResponseEr

[2022-07-20 04:45] paulhauner commented on #3344
Is the reason we do a parent-by-parent lookup here because there's no finality on the network?

[2022-07-20 06:29] AgeManning commented on #3344
Let me explain the behaviour in detail, as there may be some misunderstanding here.

Lighthouse under normal operation should sync until it reaches the head of the chain. There are some circumstances where a node can fall out of sync, or temporarily miss blocks. We have a mechanism to catch back up to head without having to run a full blown sync. In these cases when we only need to grab a few bloc

[2022-07-20 07:20] AndyBarnard commented on #3307
between the code example and this issue I can't tell - are you saying `execution_endpoints` and `secret_files` don't need to be vectors, and can be `Option`s, or are you saying just `builder_url` should be an `Option`?

[2022-07-20 08:22] paulhauner commented on #3338
Regarding option A (#3346) vs option B (#3348), it seems that we have consensus among LH developers that option A is preferred. I am also of that mind.

The difference between the two is:

- Option A: use `--network goerli` and get a datadir in `~/.lighthouse/goerli`
- Option B: use `--network goerli` and get a datadir in `~/.lighthouse/prater`

I think the nice things about option B is that it:

[2022-07-20 10:54] ricardolyn commented on #3264
@michaelsproul we need the updates before the block proposers are selected. I believe Teku spaces the updates out and pulls the data when a validator from the ones it manages is chosen to propose a block. I think this solution should be enough.

[2022-07-20 20:17] realbigsean opened #3355 "[builder API] Beacon chain health checks"
## Description

Provide some basic configurable chain health checks to determine whether or not we should propose blocks through the builder API.

I'm proposing we add three new flags, each controlling a condition that describes a "healthy beacon node". And if all three conditions are met, the builder API will be used.

- `--builder-fallback-skips` default value `3`
  - the number of slots prior t

[2022-07-20 20:30] realbigsean opened #3357 "[builder API] Enable builder API usage on a per-validator basis"
## Description

Allow enabling or disabling use of the builder API on a per-validator basis. We could store information about whether the builder API should be used for a validator in the validator definitions file. This would give us all the functionality described by the config file in this issue: https://github.com/flashbots/mev-boost/issues/154 event though we don't directly support that forma

[2022-07-21 05:01] paulhauner commented on #3249
Resolved by #3339 :tada:

[2022-07-21 05:01] #3249 closed, assigned to pawanjay176

[2022-07-21 18:31] pawanjay176 commented on #3260
This was completed in #3349 :tada:

[2022-07-21 22:40] michaelsproul commented on #3260
I think the original purpose of this issue has been accomplished! We can continue tweaking merge UX over the next few weeks

[2022-07-21 22:40] #3260 closed, assigned to nobody

[2022-07-21 22:41] michaelsproul commented on #3241
I'll take this for v2.5.0

[2022-07-21 22:42] michaelsproul commented on #3242
Tentatively adding this for v2.5.0, as it's closely related to https://github.com/sigp/lighthouse/issues/3241

[2022-07-21 22:48] #3357 closed, assigned to nobody

[2022-07-21 22:49] #3355 closed, assigned to nobody

[2022-07-21 22:49] #3319 closed, assigned to nobody

[2022-07-21 22:49] #3297 closed, assigned to nobody

[2022-07-21 22:49] #3295 closed, assigned to nobody

[2022-07-21 23:15] paulhauner commented on #3189
Resolved via #3347 :tada:

[2022-07-21 23:15] #3189 closed, assigned to michaelsproul, paulhauner

[2022-07-21 23:57] realbigsean commented on #3156
I agree!

If we add this flag, we can make a fee recipient mismatch on a block from the builder API a `BlockError::Recoverable` error in the block service, so we will use full block endpoints as a fallback (a local execution engine, which will probably respect the fee recipient).

Yeah, this one sounds like it'd be a good feature in `mev-boost` though.

[2022-07-22 01:22] michaelsproul commented on #3295
I've opened a PR to add a standard HTTP API for the gas limit too: https://github.com/ethereum/keymanager-APIs/pull/39

I'll open a Lighthouse issue for its implementation if the feedback is favourable

[2022-07-22 01:48] #1864 closed

[2022-07-22 01:48] #3159 closed, assigned to nobody

[2022-07-22 01:48] #3338 closed, assigned to nobody

[2022-07-22 03:58] michaelsproul commented on #2994
Closing this as we now support the fee recipient HTTP API and fee recipients in the validator definitions YAML

[2022-07-22 03:58] #2994 closed, assigned to nobody

[2022-07-22 04:21] michaelsproul commented on #3264
@ricardolyn Based on a conversation with the Teku devs I think they're not re-reading the config file on every block proposal, but just doing it once per epoch.

If we do adopt the proposer config format in Lighthouse we'd likely do it with 2 separate flags `--proposer-config` and `--proposer-config-url`. This would allow us to only re-read the file on a IO notification from the OS (using somethin

[2022-07-22 08:14] ricardolyn commented on #3264
correct. I checked the logs yesterday, and it is once per epoch. I had the wrong assumption.

HTTP API.

[2022-07-22 09:02] ricardolyn commented on #3264
@michaelsproul do you know if this is something you plan to implement soon? as we are near the Goerli+Prater merge, and we need to quickly decide if we swap to the KeyManager API before it (not too long now), which was not our most attractive option. thank you 👍

[2022-07-22 11:00] michaelsproul commented on #3264
Hey @ricardolyn, it's probably not something we'll get to before the Goerli merge, we've got a lot of other high prio changes we need to ship. I think it would be good to use the keymanager API, and even the Lighthouse API for gas limits (https://github.com/sigp/lighthouse/pull/3342) until the gas limit API I proposed is accepted (https://github.com/ethereum/keymanager-APIs/pull/39).

[2022-07-22 17:52] divagant-martian commented on #3307
`builder_url` is not related to this issue. Just `execution_endpoints` and `secret_files`. Happy to help if you want to give this a go

[2022-07-22 18:28] jburnett commented on #1488
Is there a workaround for v2.4.0?

[2022-07-23 04:03] AndyBarnard commented on #3307
ah my fork didn't have `builder_endpoints` as an `Option`, got a little mixed up there. I'll give it a go now!

[2022-07-23 17:26] philipmw opened #3369 "Support builds that are reproducible and do not require network access"
## Description

I want to build Lighthouse for NixOS. This requires that Lighthouse builds in a reproducible way without needing network access.

## Version

2.4.0

## Present Behaviour

In several places of the code, Lighthouse downloads files via HTTPS during build.

## Expected Behaviour

Lighthouse should support finding the needed files on the filesystem (placed there by the packager) without

[2022-07-25 07:37] michaelsproul commented on #3210
Another desirable property: checkpoint sync from a state alone, without having to load the block.

[2022-07-25 12:04] macladson commented on #3031
Implemented in #3070.

[2022-07-25 12:04] #3031 closed, assigned to macladson

[2022-07-26 00:02] ralexstokes commented on #3369
I had to work through the same issue and this was my solution:

https://gist.github.com/ralexstokes/e9e123ccc9386ad6de1470e3c9011d99

it just applies the result of what the network request would output

I *think* the output is static which suggests this could even be hardcoded into the repo -- I'd ask the maintainers to reconsider this aspect of the build at some point because it does complicate t

[2022-07-26 02:36] michaelsproul opened #3373 "Prune fork choice equivocating indices"
## Description

We added tracking of equivocating indices to fork choice in https://github.com/sigp/lighthouse/pull/3371, but no mechanism to prune the set of equivocators.

The spec states that we should maintain the set of equivocating indices since "at least finalization", but I think this is perhaps slightly too short, as validators remain active and capable of attesting until their `exit_epoc

[2022-07-26 04:22] paulhauner commented on #3267
Resolved via #3363 :tada:

[2022-07-26 04:22] paulhauner commented on #3156
Resolved via #3363 :tada:

[2022-07-26 04:23] #3267 closed, assigned to nobody

[2022-07-26 04:23] #3156 closed, assigned to nobody

[2022-07-26 05:51] philipmw commented on #3369
That's a neat approach. Is anything keeping you from contributing this to Nixpkgs?

[2022-07-26 14:36] ralexstokes commented on #3369
lack of knowledge and somewhat time -- do I just make a PR to that repo? any links to docs etc? I'm relatively new to Nix world

[2022-07-26 16:41] philipmw commented on #3369
You already did the hard part! Now the easy part is to just make a pull request to the Nixpkgs repo. Here's a chapter in the NixOS manual that describes the process: https://nixos.org/manual/nixpkgs/stable/#chap-submitting-changes

One difference I noticed between my approach and yours is that I am building the full package, while you seem to be omitting tests. Did you run into any particular diff

[2022-07-27 00:39] michaelsproul opened #3379 "Remove `INVALID_TERMINAL_BLOCK` status and handling"
## Description

The latest spec has removed the `INVALID_TERMINAL_BLOCK` status. We should update Lighthouse according to the changes described here: https://github.com/ethereum/execution-apis/pull/217. Our version of this status is called `InvalidTerminalBlock`, and grepping for it currently yields 22 results

## Version

v2.4.0

[2022-07-27 03:12] macladson commented on #3151
Implemented in #3191

[2022-07-27 03:12] #3151 closed, assigned to macladson

[2022-07-27 04:47] paulhauner commented on #3326
I'm dropping the `v2.5.0` tag after a chat with @AgeManning. I think it's totally fine that this isn't in v2.5.0 and I wouldn't like to rush this or delay the release :relaxed:

[2022-07-27 10:56] paulhauner commented on #3351
Resolved in #3365 :tada:

[2022-07-27 10:56] #3351 closed, assigned to pawanjay176

[2022-07-27 16:57] ralexstokes commented on #3369
yeah I skipped the stuff I did not need, feel free to take this and run w/ it if you want

if you improve what I had, I'd love to see it at some point!

[2022-07-28 22:32] paulhauner commented on #3241
Resolved via #3371 :tada:

[2022-07-28 22:32] #3241 closed, assigned to michaelsproul

[2022-07-28 22:32] paulhauner commented on #3242
Resolved via #3371 :tada:

[2022-07-28 22:32] #3242 closed, assigned to michaelsproul

[2022-07-29 02:31] sept-en opened #3386 "`crypto/bls`: redundant `blst` non-optional dependency"
## Description

`crypto/bls` crate supports two external crates for BLS signatures operations: `blst` and `milagro_bls`. `blst` is used by default and `milagro_bls` is optional. However, the current implementation implies that even though `milagro_bls` is used, `blst` will be compiled and included in the `bls` library.

## Version

Rust version: 1.62.0
Lighthouse version: `unstable` branch, at htt

[2022-07-29 07:35] michaelsproul opened #3388 "No Bellatrix preset in `/eth/v1/config/spec`"
## Description

There's a `TODO(merge)` here which prevents Lighthouse from serving the Bellatrix presets on `/eth/v1/config/spec`:

https://github.com/sigp/lighthouse/blob/21dec6f603edd53ad8d2372941c77ab8098d3b5a/consensus/types/src/config_and_preset.rs#L18-L20

We should try re-enabling that preset and possibly removing all of the other defaults added in https://github.com/sigp/lighthouse/pull/2

[2022-07-29 17:27] karalabe opened #3390 "Sync stuck on execution engine delayed restart"
## Description

I had a Geth + Lighthouse combo running (n sync) on the Sepolia testnet. Stopped Geth for a couple hours, but left Lighthouse running (and printing errors). A few hours later I restarted Geth, but Lighthouse (or the combo) seems to be stuck in a bad state as neither progresses, and I assume both is waiting for the other?

On the Geth side, we have a clean startup:

[code]

On the L

[2022-07-29 19:01] pawanjay176 commented on #3390
@karalabe We shouldn't be loosing peers even if the execution engine is offline. Could you share the debug logs for lighthouse as well? It should be in `$datadir/beacon/logs/beacon.log`

[2022-07-29 20:06] pawanjay176 commented on #3390
Okay I am able to reproduce the issue locally, will check it out.

[2022-07-29 23:52] pawanjay176 commented on #3390
Thanks for the report! The issue is that we are trying to sync even when the execution layer is offline which leads to a bunch of peers getting banned. We had a PR where we removed all peer scoring on execution engine errors but looks like we didn't cover all the cases.

We ideally shouldn't be syncing when execution layer is offline, we have a WIP PR here that is trying to fix that https://github

[2022-07-30 05:08] paulhauner commented on #2983
Resolved via #3372 :tada:

[2022-07-30 05:08] #2983 closed, assigned to ethDreamer

[2022-08-01 00:21] paulhauner opened #3394 "Don't use a builder with an optimistic head"
## Description

Lighthouse currently will allow proposing a block atop a head which it knows to be optimistic. Whilst this *seems* wrong, it is legitimate since an EL can only build a payload atop a parent payload when the parent is known and valid. Therefore, if the EL is able to produce a payload atop a payload which *Lighthouse* considers to be optimistic, then Lighthouse just had an outdated v

[2022-08-01 00:29] paulhauner commented on #3032
Re-opening since this has not been resolved. The fix for this is a WIP in #3094.

[2022-08-01 00:31] paulhauner commented on #3390
Thanks for reporting @karalabe and diagnosing @pawanjay176 :pray:

FYI, Lighthouse is not rejecting Geth as a CL here. It's failing to sync the deposit contract logs which is a totally separate process to anything merge-related. The issue was LH losing all its peers due to mishandling of the offline EL; a restart allowed it to find peers again.

---

@pawanjay176 my understanding is that you fixed

[2022-08-01 03:56] michaelsproul opened #3398 "Don't log "ready for the merge" if beacon node isn't synced"
## Description

A user on Discord identified that Lighthouse will log `INFO Ready for the merge` even when Lighthouse itself is not synced.

## Steps to resolve

Extend the logic added in #3339 to take into account Lighthouse's sync status. We could add a new variant to the `MergeReadiness` enum like `BeaconNodeNotSynced` (and rename `NotSynced` to `ExecutionNodeNotSynced`).

Alternatively we coul

[2022-08-01 07:53] thegostep commented on #3355
This is beautiful. Some questions:

- Why these default values? I the more conservative the defaults are, the more false positives there will be, the more customer support will be needed, and the higher the risk of targeted attacks.
- I like that these checks are on a rolling basis, this allows for the nodes to automatically recover.
- should any of these be standardized with other clients?

[2022-08-01 17:22] zx8 commented on #1905
Is there any chance we could get this resolved?

Lighthouse was just flagged as one of the only containers we are running as `root` in a recent security audit, and we'd really prefer not to have to run a fork to fix it ourselves. 🙏

I understand the backwards-compatibility concern, so perhaps in the interim you could provide a separate tag which runs as non-root, and people like ourselves can use

[2022-08-02 01:25] michaelsproul opened #3403 "Implement standard gas limit API"
## Description

We should implement the standard `gas_limit` API alongside our implementation of the fee recipient API.

The implementation can probably be quite similar to the `feerecipient` API added in #3213.

We should also update the docs here, which currently reference the non-standard PATCH API: https://lighthouse-book.sigmaprime.io/builders.html#enabledisable-builder-proposals-and-set-gas-

[2022-08-02 02:11] pawanjay176 commented on #3390
@paulhauner the peer downscoring issue is something specific to sync where we ban all peers in a chain if batch processing of that range of blocks fails multiple times (which is what happened when the EE is offline for a while). #3384 fixed a part of the problem but not entirely.

I think it's okay to keep this issue open while we fix this in #3094 and other smaller PRs.

[2022-08-02 02:14] michaelsproul opened #3404 "Counterintuitive `warp` error for `Unsupported endpoint version`"
## Description

When hitting the `/eth/v2/validators/blocks/{slot}` endpoint with an invalid `randao_reveal` (and `verify_randao=true` or empty) Lighthouse will return this error:

[code]

This makes _zero sense_, as the endpoint is cleared declared supporting v2 here:

https://github.com/sigp/lighthouse/blob/2983235650811437b44199f9c94e517e948a1e9b/beacon_node/http_api/src/lib.rs#L1928-L1935

Add

[2022-08-02 02:26] michaelsproul commented on #3404
It may be that we want to avoid `and_then` for our handlers and instead use `then`. The `warp` docs state:

[2022-08-02 03:01] paulhauner opened #3405 "Rename `--private-tx-proposals` to something builder-y"
## Description

I was looking for the flag to enable blinded/builder payloads on the VC and was expecting something along the lines of `--builder`. I know it's been a while since we added the `--private-tx-proposals` flag so I thought maybe we could consider renaming it and adding a backwards-compatible alias to `--private-tx-proposals`.

I'm creating this issue rather than a PR since I'm a bit be

[2022-08-02 03:52] pandaplusplus opened #3407 "the method `engine_exchangeTransitionConfigurationV1` does not exist/is not available"
## Description

After I started the geth and lighthouse client,  I got the error/warn alert in the geth log file,

[code]

in the lighthouse log file,

[code]

Below is the client information I used
[code]

[2022-08-02 04:54] michaelsproul commented on #3407
You need to use port 8551 for Geth's authenticated API, not port 8545. You'll also need `--authrpc.addr 192.168.0.248` to listen on that IP rather than just `localhost`

[2022-08-02 05:15] pandaplusplus commented on #3407
Greet, got it, thanks a lot.

[2022-08-02 05:15] #3407 closed, assigned to nobody

[2022-08-02 10:57] pablomendezroyo opened #3409 "Flag to define headers in engine API requests"
### Description

With the upcoming merge, 1 EL node cannot receive the head chain from multiple CL nodes due to subjectivity. For this reason, makes sense to look for ways to restrict the use of the engine API in the EL, so it is used by one CL at a time.

### Describe the solution you'd like

In addition to the `auth-token` would be nice to add headers to the EL endpoint (`--execution-endpoint`)

[2022-08-02 11:45] TobiWo commented on #3388
Hi @michaelsproul, while connecting the teku vc to the lighthouse bn I'm receiving the following error:
[code]
This only happens when teku is running with `--network=auto`. So is this issue here the reason for the error I receive? If it is not I would open a new issue.

[2022-08-02 12:10] michaelsproul commented on #3388
@tobisako Yeah this issue is the cause of that. So Teku is usable if you specify the network manually?

[2022-08-02 12:35] dB2510 commented on #3388
@TobiWo teku should work if you specify for example: `--network=goerli`

[2022-08-02 13:45] TobiWo commented on #3388
@michaelsproul Yes, if I specify the network manually, as stated by @dB2510, everything works fine.

[2022-08-02 17:22] realbigsean commented on #3405
It's actually currently named `--builder-proposals` and has an alias to `--private-tx-proposals`

[2022-08-02 17:22] realbigsean commented on #3405
Does that name seem reasonable?

[2022-08-02 19:45] JamesCropcho opened #3413 ""Previous epoch attestation(s)" errors and warnings—how to remedy or at least reduce?"
## Description

The log of `lighthouse beacon_node` (when restricted to `ERRO` and `WARN`) has clumps of entries like:

[code]

These clumps appear perhaps once every two hours on a beacon node whose validator client has ~100 validators. Notable configuration includes:
[code]

`--block-cache-size` is left to the default.

`--target-peers` was lowered in the interest of reducing compute costs by re

[2022-08-02 20:06] ghost opened #3414 "Add validator metric for missed blocks"
## Description

Hello!
Currently, validator monitoring feature allows monitoring plenty of useful things in beacon node about validators, gathering information from api/gossip/blockchains.
We also can monitor new blocks produced by our validators via `validator_monitor_beacon_block_total`metric
and `validator_monitor_prev_epoch_beacon_blocks_total`, but we can't see missed blocks. I think it will

[2022-08-02 23:08] pawanjay176 commented on #3413
I think the first thing to do is increase your target peers to the default value (80). Keeping your target peers at such a low value will lead to your node not finding enough peers in the required attestation subnets which will lead to your attestation not reaching enough aggregators and eventually not getting included in blocks.

Increasing the target peers will not have that big effect on the ba

[2022-08-03 00:56] paulhauner opened #3416 "Validator registrations on non-builder BNs"
## Description

There might exist a setup where a VC has two BNs:

- BN A: Uses a `--builder`.
- BN B: Does not use a `--builder`.

If BN A goes down, the VC will switch to BN_B and then start to publish validator registrations. However, that will fail and we'll get the following log:

[code]

This will cause the VC to set the BN as "offline". It might be nice to try and handle this differently, i

[2022-08-03 02:41] michaelsproul commented on #3409
Geth's `vhosts` flag checks the HTTP request's [`Host`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Host) header against the server's list of allowed hostnames. So if you're hosting Geth on `localhost` (with `--authrpc.vhosts localhost`, the default), it will refuse requests made to `geth.com` (assuming traffic from `geth.com` is routed to Geth via a reverse proxy).

To use this to e

[2022-08-03 10:22] moshe-blox opened #3418 "Missing `version` in `/eth/v1/validator/blinded_blocks/{slot}`"
## Description

Blinded block production (`/eth/v1/validator/blinded_blocks/{slot}`) is missing the `version` field in it's response, when it should be "bellatrix" ([spec](https://github.com/ethereum/beacon-APIs/blob/master/apis/validator/blinded_block.yaml#L46-L49)).

## Version

Built from `builder-api` branch.

## Present Behaviour

`/eth/v1/validator/blinded_blocks/{slot}` on Sepolia returns:

[2022-08-03 16:02] JamesCropcho commented on #3413
Thank you for your insight and helpful reply, Pawan, as well as the link to the earlier comment.

Okay, I have increased `target-peers` to the default.

Also, "for fun" I have increased `block-cache-size` to 15—my `lighthouse beacon_node` seems to require 8 cores and I have a suplus of RAM. If you believe I should not mess with `block-cache-size` kindly let me know and I'll restore the default val

[2022-08-03 16:02] #3413 closed, assigned to nobody

[2022-08-03 18:35] torfbolt opened #3421 "Time discrepancy false positive with Teku"
## Description

During the doppelganger protection phase I received multiple error messages from the VC warning about time discrepancy, even though both VC and BN run on the same machine with correct NTP time.

## Version

2.5.1 running on Prater

## Present Behaviour

After upgrading to 2.5.1 and restarting, the Lighthouse VC went into the doppelganger listening phase. It successfully connected t

[2022-08-03 18:52] torfbolt opened #3422 "VC: Update subnet subscription and attestation aggregation for all connected BNs"
## Description

As a Ethereum validator I would like to be able to use a Lighthouse validator client with redundant beacon nodes, without subscribing to all subnets.

## Version

2.5.1

## Present Behaviour

A Lighthouse VC can currently connect to several BNs for redundancy. However, it does not keep all of these BNs informed about its duties, only the currently preferred one. It is therefore req

[2022-08-03 19:36] realbigsean commented on #3355
thanks @thegostep !

Definitely open to changing them, but went with conservative values to (hopefully) favor liveness because fallback here still results a proposal which seems most important to me. The proposer still gets block rewards, tx fees, and the network still gets attestation inclusion and a new set of transactions included. False positives aren't ideal but some number of false positives

[2022-08-03 21:25] JamesCropcho opened #3423 ""Failed to send scheduled attestation" errors—how to remedy or at least reduce?"
## Description

The log of `lighthouse beacon_node` has _large_ clumps of entries of:

[code]
_[…and so on and so on]_

Everything is working perfectly (e.g. no recent restarts) save for the occasional `Previous epoch attestation(s) failed to match head` and `Previous epoch attestation(s) had sub-optimal inclusion delay` warnings, and then all at once I get more than 100 of those `ERRO` log entrie

[2022-08-03 22:47] winksaville opened #3424 "Lighthouse book - Merge Migration section confusing"
## Description

I found the [Merge Migration](https://lighthouse-book.sigmaprime.io/merge-migration.html) instructions confusing. Mainly because I wasn't sure if new options were needed right now or should be added closer to when the merge is supposed to occur.

## Version

v2.5.1

## Present Behaviour

The confusion started here:

---
As of [v2.4.0](https://github.com/sigp/lighthouse/releases/tag

[2022-08-04 07:17] pablomendezroyo commented on #3409
thank you for the suggestion!

[2022-08-04 07:17] #3409 closed, assigned to nobody

[2022-08-04 07:17] michaelsproul commented on #3421
Have you inquired with Teku about this? It looks like it might be a discrepancy in how we define the `sync_distance` in the `/eth/v1/node/syncing` endpoint. Lighthouse tries to use the `sync_distance` to work out the remote beacon node's current slot here:

https://github.com/sigp/lighthouse/blob/df51a73272489fe154bd10995c96199062b6c3f7/validator_client/src/check_synced.rs#L58-L71

[2022-08-04 15:38] realbigsean commented on #3394
Let me know what you think about the implementation in  #3412

Builder queries are made with the parent block hash so as long as we are checking that this execution status is not optimistic, we should be good.

By adding this to the `is_healthy` check, we use the fallback-from-builder logic that already exists for other chain health conditions

[2022-08-04 16:05] yorickdowne opened #3427 "Bug: VC does not fail over to second CL when first CL is returning unexpected response"
## Description

LH VC 2.51 towards Nimbus CL 22.7.0 and Lighthouse CL 2.5.1.

The VC shows 1 beacon active, but does not process duties. It should show Lighthouse active but am not sure it does. Validators were not attesting; eventually the image failed its own health check and restarted. Logs attached, but not until restart, just the first few iterations.
[_staking-prater-lido_lh-validator-lido.1

[2022-08-04 20:33] torfbolt commented on #3421
I think I found out when this happens: if there are two or more consecutive empty slots on the beacon chain. So it looks like Teku doesn't update the head slot (or sync distance) when there are empty slots, while lighthouse expects it to go up.

Teku logs on Prater:

Aug 04 20:17:04 schnecki teku[831696]: 20:17:04.346 INFO  - Slot Event  *** Slot: 3594685, Block:

[2022-08-05 00:58] macladson commented on #3418
To add some more context to this issue:

Currently endpoints which respond with `version` such as:
- `/beacon/blocks/{block}`
- `/debug/beacon/states/{state_id}`
- `/validator/blocks/{slot}`
will only do so when using the `v2` endpoint (this is consistent with the spec for the above endpoints).

*However*

`eth/v1/validator/blinded_blocks/{slot}` is currently the only `v1` endpoint which returns `

[2022-08-05 11:49] ch4r10t33r opened #3431 "The Linux binaries for the latest version 2.5.1 provided https://github.com/sigp/lighthouse/releases do not work."
## Description

The Linux binaries for the latest version 2.5.1 provided https://github.com/sigp/lighthouse/releases do not work.

## Version

Binary of v2.5.1 present in URL https://github.com/sigp/lighthouse/releases

## Present Behaviour

The binaries present in both the zip files (https://github.com/sigp/lighthouse/releases/download/v2.5.1/lighthouse-v2.5.1-x86_64-unknown-linux-gnu.tar.gz and

[2022-08-05 13:14] michaelsproul commented on #3431
Do you have an ARM CPU? I just downloaded the v2.5.1 binary and it's definitely an x86-64 binary:

[code]

[code]

[2022-08-05 13:28] realbigsean opened #3432 "Error in VC when fee recipient is only set in the BN"
## Description

This was brought up in Discord: in the VC we log an error if the fee recipient isn't set *in the VC*. But it could be set with the BN's fee recipient flag.

https://github.com/sigp/lighthouse/blob/stable/validator_client/src/preparation_service.rs#L273

We have to decide whether it should be possible for the BN's fee recipient to be used as the primary configuration. If we decide y

[2022-08-05 13:30] realbigsean commented on #3091
Completed in https://github.com/sigp/lighthouse/pull/3134

[2022-08-05 13:30] #3091 closed, assigned to nobody

[2022-08-05 14:50] ghost opened #3433 "State Reconstruction reaches a faulty state"
## Description

I started my lighthouse client with the `--reconstruct-historic-states` flag and restarted the client. Once I started the client again, I got an error that did not stop the client, only stopped the state reconstruction:

`ERRO State reconstruction failed error: VectorChunkError(Missing { chunk_index: 357 }), service: beacon`

## Version

Using version `2.5.1-stable` (non-portable).

[2022-08-05 22:51] michaelsproul commented on #3433
I think this is an instance of this bug https://github.com/sigp/lighthouse/issues/3011, which I've been trying to solve on and off for a while. The strangest thing about it is that it doesn't seem to happen consistently (and AFAICT there's no obvious flaw in the logic).

Recently @tthebst also had a go at fixing it and found a more reliable way to reproduce it, I need to go and dig in to his chang

[2022-08-05 23:03] ghost commented on #3433
Thank you for your answer. Actually, I had over 600GB free on my SSD when this issue occurred. A few details I should probably have mentioned in the description:

- The issue occurred on 2 of my nodes (on separate servers and separate networks) when I restarted the node process a lot (I was testing a few things), after about 20-30 restarts of running the node for a while and then restarting. Both

[2022-08-06 15:49] djbakerman commented on #2994
for the SFR would that be an ETHv1 or ETHv2 address? Any reason why it should not be the same as the validator public address?

[2022-08-06 17:54] michaelsproul commented on #2994
@djbakerman We just added an FAQ on this exact point! You can give it a test drive here: https://lighthouse-book.sigmaprime.io/suggested-fee-recipient.html#why-do-i-have-to-nominate-an-ethereum-address-as-the-fee-recipient

Let us know if that helps or if you think there's anything you think we should add

[2022-08-07 23:49] macladson commented on #3418
Fixed in #3429

[2022-08-07 23:49] #3418 closed, assigned to macladson

[2022-08-08 06:02] macladson commented on #2967
Implemented in #3393

[2022-08-08 06:02] #2967 closed, assigned to nobody

[2022-08-08 06:07] macladson commented on #2820
Fixed in #2911

[2022-08-08 06:07] #2820 closed, assigned to nobody

[2022-08-08 07:49] michaelsproul opened #3435 "Log more detail when JWT auth fails"
## Description

Currently we swallow the error message when JWT auth fails. This makes it harder for users to debug issues with their JWT.

[2022-08-08 11:36] djbakerman commented on #2994
Thank you that was helpful.  Perhaps obvious, but it's worth mentioning something like: "If the execution node is testnet, ensure the ETHv1 address is a testnet address"

[2022-08-08 12:42] greg7mdp opened #3436 "File `validator_definitions.yml` constantly being overwritten, preventing secure setup"
## Description

I'm trying to setup a secure system, where the validator password is stored in a Aegis Secure Key, so if the system in disconnected from power, it will not start validating when being plugged back in (see https://technicallynottechnical.medium.com/guide-to-securing-an-ethereum-2-0-validator-wallet-from-getting-slashed-due-to-theft-ubuntu-linux-89ad9233a67e),

The idea is that `vali

[2022-08-08 15:37] northwestnodes-eric opened #3437 "Metrics endpoint does not send back Content-Type http header"
## Description

The Prometheus metrics endpoint does not set a `Content-Type` header when returning metrics. This causes the DataDog Agent ("DD Agent") we use to error out. Unfortunately we have no way of forcing the DD Agent to ignore http headers. The Geth metrics endpoint, which does set a `Content-Type` header, works fine.

## Version

Latest, cookie cutter binary.

## Present Behaviour

Error

[2022-08-08 21:37] realbigsean opened #3440 "Validator registrations submitted before validator activation"
## Description

[Brought up in Discord](https://discord.com/channels/605577013327167508/618981555985186827/1006309353730625648)

This line sneakily makes sure we don't include pre-activation validators in our prepare beacon proposer requests https://github.com/sigp/lighthouse/blob/stable/validator_client/src/preparation_service.rs#L269

Because there's no validator index necessary for the equivale

[2022-08-08 22:09] ghost commented on #3436
Instead of putting the whole `validator_definitions.yml` on the secure storeage and symlinking, you could replace  `voting_keystore_password: <password>` in `validator_definitions.yml`  with `voting_keystore_password_path: /secure_storage/password.txt` The VC should fail to start up if it has no access to `/secure_storage/password.txt`

[2022-08-08 22:29] yorickdowne opened #3442 "Getting fee recipient for unknown validator pubkey results in 405"
## Description

When calling `eth/v1/validator/$__pubkey/feerecipient` with an unknown or malformed pubkey, a 405 method not allowed is returned.

[code]

Should this be 404 as per https://github.com/ethereum/keymanager-APIs/blob/master/apis/local_keystores.yaml ?

[2022-08-08 22:56] michaelsproul commented on #3436
We use a setup similar to what @aascft3 describes for some of our validators, although we use a `--secrets-dir` to point to the encrypted volume (same idea though).

[2022-08-08 23:00] michaelsproul commented on #3442
Yeah it should be. We're fighting a battle with our HTTP library to get it not to morph 404s into 405s. The tracking issue for that is here: https://github.com/sigp/lighthouse/issues/3112

[2022-08-09 00:00] greg7mdp commented on #3436
Fantastic! Thanks for the tip @aascft3 and @michaelsproul !

[2022-08-09 00:11] greg7mdp commented on #3436
Works great. Closing the issue. Thanks again.
PS: Lighthouse rocks. I tried Teku but the cpu temp average went up by 10 degrees (compared to prysm). So I switched to lighthouse and my temps went back down to the prysm level.

[2022-08-09 00:11] #3436 closed, assigned to nobody

[2022-08-09 09:25] ciaranmcveigh5 opened #3444 "Builder api registration pubkey override for Distributed validators"
## Description

For distributed validators to generate an aggregate signature the signed contents must be the same.

In the builder registration payload there is a pubkey field.

Each co-validator in a distributed validator has a pubkey-share which together form the aggregated pubkey that the network see's

The co-validators are currently putting their local key which is the pubkey-share into the

[2022-08-09 15:36] jvbriones opened #3446 "Allow provisioning of the api-token.txt file (HTTP server auth)"
## Description

To communicate via HTTP [a Bearer token](https://lighthouse-book.sigmaprime.io/api-vc-auth-header.html) is needed which is generated at the startup and placed in _validators-dir/api-token.txt._ This HTTP communication is now required for some actions, e.g. after https://github.com/sigp/lighthouse/issues/3264, the only way now to update the fee recipient config is via [Key Manager A

[2022-08-10 01:57] michaelsproul commented on #3446
This is on our long-term TODO list, so I'll leave this issue open, however if you'd like an immediate workaround you _can_ provision the API token if you generate a valid secp256k1 keypair.

Lighthouse's API token is actually serving a dual purpose, it acts as both a shared secret _and_ the public key for the validator client's signed responses. There's some information on the signing process [her

[2022-08-10 07:51] paulhauner commented on #3405
Ooh nice, that's perfect!

[2022-08-10 07:51] #3405 closed, assigned to nobody

[2022-08-10 07:51] paulhauner commented on #3394
Resolved via #3412 :tada:

[2022-08-10 07:51] #3394 closed, assigned to realbigsean

[2022-08-10 07:56] paulhauner opened #3448 "Enable `block_lookup_failed` EF test"
## Description

We are currently skipping an EF test:

https://github.com/sigp/lighthouse/blob/df51a73272489fe154bd10995c96199062b6c3f7/testing/ef_tests/src/cases/fork_choice.rs#L159-L164

I haven't looked into this deeply, but I suspect that #3372 gives us what we need to re-enable this test!

CC'ing @ethDreamer since he might be interested :relaxed:

[2022-08-10 12:14] jmcruz1983 commented on #3446
Thanks @michaelsproul for the workaround,
I am just wondering how this would work together with lighthouse validator using a remove web3signer,
would this key pair conflict in some way?

[2022-08-10 12:35] michaelsproul commented on #3446
Hey @jmcruz1983, I don't think there's any conflict even when using web3signer, the VC just needs an arbitrary secp256k1 key on disk to sign the HTTP responses. If you don't care about those signatures (and most people don't) then there's no need to have that signing key come from web3signer. Those signature on the HTTP response just prove to the caller that it is communicating with the authentic

[2022-08-10 15:21] realbigsean commented on #3416
Agree we definitely shouldn't be marking the BN as offline.. seems like a bug (my bad). For a log level I think we would want at least a `WARN` because this could be misconfiguration of the backup node.

I'm guessing this `WARN` would most frequently be annoying with Infura as a backup, but with the merge an Infura shouldn't be used as a backup anymore anyways.

I'm not sure this case should warra

[2022-08-10 23:23] paulhauner commented on #3266
Resolved via #3341.

The new behaviour will be to return a 200 OK when duplicate messages are found, effectively declaring that an already-seen message has been successfully broadcast (just not in this call).

[2022-08-10 23:23] #3266 closed, assigned to paulhauner

[2022-08-10 23:30] michaelsproul commented on #3416
I _think_ Infura are planning to continue supporting hosted BNs after the merge, so this may be quite common. Although I agree a WARN is fine.

[2022-08-11 00:15] michaelsproul commented on #2342
Reopening this now that we are planning to support LMDB again.

[2022-08-11 05:34] xrchz opened #3455 "Missing chunk in forwards iterator"
## Description

I am occasionally seeing logs like this:
[code]

This started happening after I turned on the `--builder` option and restarted the beacon node (on Görli) -- the option may be a coincidence.

## Version

Lighthouse v2.5.1-df51a73

## Present Behaviour

Errors are being logged

## Expected Behaviour

These errors shouldn't happen

## Steps to resolve

Unknown

[2022-08-11 05:35] xrchz commented on #3455
On Discord @michaelsproul suggested this might be related to #3433

[2022-08-11 05:38] michaelsproul commented on #3455
@xrchz Can you please post the output of `curl "http://localhost:5052/lighthouse/database/info`?

It might be that because of checkpoint sync your node lacks those chunks, and we're just failing to check that before trying to load them

[2022-08-11 06:28] xrchz commented on #3455
[code]

[2022-08-11 06:44] michaelsproul commented on #3455
Based on that it seems like your node should have all blocks and therefore all block roots. Can you please DM me your full debug logs (from `$datadir/beacon/logs`) on Discord?

[2022-08-11 16:13] jvbriones opened #3457 "GET fee recipient (key manager API) always returns the default one even if a new one was already set"
## Description

After a POST for a {pubkey} with a new fee recipient value (via [Key manager API](https://ethereum.github.io/keymanager-APIs/#/Fee%20Recipient)) we can check that the new value is properly saved in the _validator_definitions.yml_ file. Nonetheless, the next time requesting GET for the same {pubkey} LightHouse returns the default fee recipient value (set at startup with _--suggested

[2022-08-11 19:56] whysthatso opened #3458 "error 'terminate called after throwing an instance of 'std::length_error'' after unclean shutdown"
## Description

when starting with the following config:

[code]
i'm receiving this output with a subsequent abort:

[code]
i'm curious if this could be caused by data corruption due to an unclean shutdown?

## Version
Lighthouse/v2.3.1-564d7da
this is running on archlinux, source is AUR: https://aur.archlinux.org/packages/lighthouse-ethereum

[2022-08-11 21:56] ghost opened #3460 "Metric `validator_monitor_prev_epoch_beacon_blocks_total` always 0"
## Description

Hello! I found out that metric `validator_monitor_prev_epoch_beacon_blocks_total` always shows `0` regardless of real block produces.
For example, in ropsten validator id `101918`. We can see that it [produce last block](https://ropsten.beaconcha.in/validator/101918#blocks) at 10th August, 10:59 PM. Now, how looks `validator_monitor_prev_epoch_beacon_blocks_total` and `validator_mo

[2022-08-11 22:29] whysthatso commented on #3458
removing the datadir fixed the problem, so i assume it's a data corruption issue. what would be the best practice to possibly fix data corruption in the future? any tools for that?

[2022-08-12 00:07] paulhauner commented on #3388
Resolved via #3425 :tada:

[2022-08-12 00:07] #3388 closed, assigned to michaelsproul

[2022-08-12 00:07] paulhauner commented on #3379
Resolved via #3385 :tada:

[2022-08-12 00:07] #3379 closed, assigned to pawanjay176

[2022-08-12 18:07] jclapis opened #3465 "Lighthouse is sending `exited` validators to MEV-Boost but should only send `active` or `pending` ones"
## Description

I recently set up MEV-Boost for Goerli/Prater. I have several exited validators on Prater (such as https://prater.beaconcha.in/validator/0x8aff2971a436a9a8783fb5574f923bb70b06f74e155961f1b448be0a733230ac5b600e87be1db201ba733cfce57b4660 which was used for slash testing) and during Lighthouse's validator registration process, it sends this validator over to MEV-Boost which causes it

[2022-08-15 01:36] michaelsproul commented on #3421
I've seen several reports now of users seeing this even when they're not using doppelganger protection. I think your diagnosis about the head slot behaviour must be correct.

[2022-08-15 02:23] banteg opened #3468 "validator client opens too many file descriptors"
## Description

when loading validator keys, lighthouse seems to keep file descriptors hanging, which leads to the validator failing to start when it's loading a lot of keys (2000 in my case)

## Version

Lighthouse v2.5.1-df51a73

## Present Behaviour

[code]

## Expected Behaviour

the client should successfully start up with any number of validators and default linux config (ulimit of 1024).

#

[2022-08-15 02:30] michaelsproul commented on #3468
We do close the keystore files after reading them, I think the issue you're encountering is due to the `.lock` file that we open for each keystore. This prevents accidental re-use of keystores by multiple validator clients.

Increasing the file descriptor limit is the recommended workaround (as you know). Open to other ideas for addressing this as well though.

[2022-08-15 02:46] banteg commented on #3468
my apologies, i didn't see these were the lock files, you are correct. i think this issue can only really manifest itself on testnets given how large of a stake you need, but it might be helpful to mention this in the docs in case someone else tries to run >1000 validators.

[2022-08-15 06:15] michaelsproul commented on #3403
Implemented in #3450!

[2022-08-15 06:15] #3403 closed, assigned to realbigsean

[2022-08-15 12:34] hukkin opened #3469 "Add `--minimum-peers-per-subnet`"
## Description

I was experiencing https://github.com/sigp/lighthouse/issues/2858 with the issue persisting after restarting the node, and I suspect it was because I've been running with `--subscribe-all-subnets` and my peer count has been set at the default value. I suspect my peer count per subnet has been too low.

Prysm has the following setting/behavior which could be good for lighthouse too:

[2022-08-16 02:23] michaelsproul commented on #3457
I can't reproduce this issue. When I make a POST request to set the fee recipient it gets reflected in the GET request and is written to the `validator_defintions.yml`.

The commands I used to test this were:

POST:

[code]

and then GET

[code]

meanwhile my `lighthouse vc` is running using a different address for the `--suggested-fee-recipient` default:

[code]

Are you sure that your POST reque

[2022-08-16 08:00] jvbriones commented on #3457
The POST is working fine (202) and saving into the `validator_defintions.yml` the given fee recipient config.

The problem seems to be with the GET when having more than one validator configured. It only returns properly the first entry, for the rest _pubkeys_ it always returns the default `--suggested-fee-recipient` value.

Please try it out again with several _pubkeys_ configured in validator_de

[2022-08-16 09:53] corverroos opened #3471 "Incorrect voluntary exits domain calculation"
## Description

Lighthouse defaults to latest fork version when calculating voluntary exit domain instead of calculating fork version from exit's epoch field. This results in lighthouse erroring when voluntary exits with very old epochs are submitted.

## Version

v2.5.1

## Present Behaviour

Lighthouse defaults to latest forkversion when calculating voluntary exit domain. See [source](https://gi

[2022-08-16 10:59] HikaruG opened #3472 "POST query returns METHOD_NOT_ALLOWED"
## Description
I'm struggling to use the POST queries of both the eth1 standard / the lighthouse endpoints.

## Version
Lighthouse v2.5.1-df51a73
Here is the lighthouse cmd I'm using:
`lighthouse --network prater vc --beacon-nodes http://<some_beacon_node_ip>:5052 --datadir /var/lib/lighthouse/validator --http --http-address 0.0.0.0 --unencrypted-http-transport --suggested-fee-recipient <some_test

[2022-08-16 11:20] michaelsproul commented on #3472
I ran into the same thing today, you unfortunately need to set the `Content-Type: application/json` header for it to work

[2022-08-16 11:24] HikaruG commented on #3472
Thank you for your prompt answer, it worked as expected!

[2022-08-16 11:24] #3472 closed, assigned to nobody

[2022-08-16 17:10] ethDreamer commented on #3457
@jvbriones
The `POST` request has the `PUBKEY` as part of the URL because the request applies **only to that specific** `PUBKEY`. This is the expected behavior:
 * `GET` `PUBKEY1`
 * > default
 * `GET` `PUBKEY2`
 * > default
 * `GET` `PUBKEY3`
 * > default
 * `POST` `PUBKEY2` `FEE_RECIPIENT2`
 * > null
 * `GET` `PUBKEY2`
 * > FEE_RECIPIENT2
* `GET` `PUBKEY3`
* > default
* `POST` `PUBKEY3` `FEE_REC

[2022-08-16 20:06] wjmelements opened #3474 "Does not build"
## Description

Does not build
## Version

* rustc 1.59.0
* cargo 1.59.0

## Present Behaviour

Does not build. Log:
[code]

## Expected Behaviour

Should build

[2022-08-16 20:27] wjmelements commented on #3474
I have determined that it does not build with rust 1.59.

Rust 1.59 is newer than lighthouse, and it is the `stable` version for Ubuntu LTS. There is no reason that lighthouse should require such a bleeding edge rust version.

[2022-08-16 22:17] pawanjay176 commented on #3474
Hey @wjmelements , you need to use the latest stable version of rust (1.63.0) for building lighthouse. Using  `rustup `https://lighthouse-book.sigmaprime.io/installation-source.html#dependencies for installation is better imo compared to the OS provided packages as it is easier to update.
The newer versions come with useful improvements and more stabilised standard library apis which is useful for

[2022-08-16 22:24] wjmelements commented on #3474
That is the issue I am reporting here. You should support 1.59. It's not old.

Easier than being automatically updated with everything else? That could only mean that it is updating itself in the background, which would be a huge security issue on a crypto system. It's more likely that you don't have a great package manager (or are bad at using them?) than that this is how it behaves, but I could

[2022-08-16 22:35] michaelsproul commented on #3474
You're not doing a very good job of persuading us to change anything by being condescending @wjmelements.

Asking for a lower minimum supported Rust version is a fair enough request but there's no need for you to be rude about it.

The recent MSRV bump was made to support a new dependency written by an external collaborator which _was_ written recently. We'll look into whether we can lower the MSR

[2022-08-16 22:36] wjmelements commented on #3474
Is there a documented minimum version? I only see instructions insisting on the latest version.

[2022-08-16 22:38] wjmelements commented on #3474
ah MSRV is "minimum supported rust version"

[2022-08-16 22:39] wjmelements commented on #3474
ok it's in `lighthouse/Cargo.toml`

[2022-08-16 22:40] michaelsproul commented on #3474
yes the minimum version is stated in `lighthouse/Cargo.toml`.

Cargo is meant to spit out a nice error about the minimum version but I think old versions of Cargo fail on`dep:` style dependencies before they have a chance to emit that nice error.

[2022-08-16 22:42] wjmelements commented on #3474
That particular error also was hard to google in that there were no results that just said to bump the rust version, so not great. But the troubleshooting instructions in the docs helped me identify the issue a few hours ago.

[2022-08-16 22:43] wjmelements commented on #3474
Another improvement could be modifying the docs here https://lighthouse-book.sigmaprime.io/installation-source.html#compilation-error to specify >= MSRV instead of latest version.

[2022-08-17 10:18] hukkin commented on #3469
https://github.com/sigp/lighthouse/issues/2858 has no longer happened to me since a few days when I increased `--target-peers` from 80 (the default) to 140. Perhaps this information is useful to other lighthouse users who have `--subscribe-all-subnets` enabled.

[2022-08-17 10:48] OisinKyne opened #3478 "Have `--checkpoint-sync-url` timeout"
## Description

I have setup LH as a BN on goerli using the following settings
[code]
However it seems there might be an issue with that ethdevops.io API not returning any data. As a result, LH just hangs indefinitely waiting for a response. Preferably it would either retry or give up and sync another way (e.g. fallback to a hardcoded weak subjectivity checkpoint within the codebase or a full sync

[2022-08-18 09:00] jvbriones commented on #3457
This issue could be related with my local env (Mac M1). The 2.5.1 version deployed **in our dev environment it's working as expected.** No idea why is not working for me, but from this point on, I will share my findings in case it helps. If it's not reproducible anymore I guess we better close it.

-----

Yes, the POST has been always working fine. The issue is related with the GET, since is not r

[2022-08-18 14:13] mksh commented on #3166
Note for anyone who could be stumbled upon this: to use customized Lighthouse version of crates, you need to have `patch.crates-io` section in `Cargo.toml` to point to Lighthouse source, as described in https://doc.rust-lang.org/cargo/reference/overriding-dependencies.html#the-patch-section

e.g.

[code]

[2022-08-18 18:37] wjmelements opened #3480 "Prater does not merge with goerli when goerli is syncing, even if goerli has reached TTD"
## Description

Prater does not merge with goerli

## Version

rust 1.63
stable 2.5.1
geth 1.10.21

## Present Behaviour
Prater:
[code]
Görli:
[code]
Görli `eth_syncing`:
[code]

## Expected Behaviour

It should merge.

## Steps to resolve

Sync goerli and try to merge with prater. Seems that it won't work if goerli has ever heard of a post-merge block before.

[2022-08-18 18:46] wjmelements commented on #3480
Seems to be because Prater is not synced, but weird that the error calls out the execution client as not synced when it doesn't get any more synced than that.

[2022-08-18 18:53] wjmelements commented on #3480
Interestingly it starts out saying it is ready. Here is where it goes from saying it is ready for the merge to where it says it is not ready:
[code]

[2022-08-18 19:06] wjmelements commented on #3480
I have verified that your code will prevent merging on any non-false value, so this is the issue. I am working around by treating all values as synced but this won't work for others.

[code]

[2022-08-18 20:21] pawanjay176 opened #3482 "Maintain attestation subnet peers"
## Description

Currently, for attestation subnets, we find peers in the required subnet from discovery and give it to the peer manager to dial. If we connect to all the discovered peers in that subnet then they disconnect before the attestation duty for some reason, we might get in a situation where we don't have enough peers in that subnet to publish the message.

To fix this, we could modify th

[2022-08-18 21:14] pawanjay176 commented on #3480
This is normal with genesis sync. The merge will happen when lighthouse also reaches the slot corresponding to the ttd. Right now, your geth node is synced upto ttd but lighthouse is still catching up. Once lighthouse reaches ttd, it will start feeding execution payloads to geth which will result in lighthouse and EE syncing in lockstep from that point onwards.

An alternative is to use checkpoint

[2022-08-19 03:41] michaelsproul commented on #3432
I think this will cause blocks with 0 transactions to be proposed, because the beacon node will skip sending proposer preparation messages when it doesn't have any proposer preparation data, see:

https://github.com/sigp/lighthouse/blob/c2604c47d6d286728f36563bb503a7a0d4a7bf57/beacon_node/beacon_chain/src/beacon_chain.rs#L3717-L3721

And the VC avoids sending any proposer preparation data when it

[2022-08-19 19:37] realbigsean commented on #3416
Mentioned in the linked PR, but I think adding a `--builder-beacon-nodes` flag might be the best way to fully support VC fallback from builder BN's to non-builder BN's.. what do you guys think of that type of thing?

I'm not sure if we'd be teetering on too many config options to where it's not worth the complexity

[2022-08-22 06:27] #3424 closed, assigned to nobody

[2022-08-22 06:27] #2638 closed, assigned to michaelsproul

[2022-08-22 06:27] #2962 closed, assigned to michaelsproul

[2022-08-22 06:38] paulhauner commented on #3386
Resolved via #3387 (please correct me if I'm wrong :pray:)

[2022-08-22 06:38] #3386 closed, assigned to nobody

[2022-08-22 15:31] SwaroopH commented on #3480
Ran into this issue a week agowhen my geth db got corrupted post sync. A fresh sync was waiting for beacon client sync switch-over after reaching TTD. And Lighthouse wouldn't proceed since execution endpoint wasn't up to date.

Running a `--purge-db` and using `--checkpoint-sync-url` from a 3rd party helped get back into sync

[2022-08-22 21:15] JamesCropcho opened #3492 "Best set of runtime arguments for maximizing revenue? Best set of compile-time arguments?"
Let us assume that AWS resources are free.
Let us further assume that none of our EC2 instances are constrained by networking throughput, CPU use, RAM capacity, disk I/O, or the rest.

What would be the best set of runtime arguments to maximize validator revenue? The question applies to both the Beacon Node and the Validator Client.

A non-default `--block-cache-size` ?

A non-default `--target-pe

[2022-08-23 00:29] michaelsproul commented on #3492
The most impactful flags are `--subscribe-all-subnets` and `--import-all-attestations`. If you enable both and your machine can handle the load then your blocks will end up containing more attestations on average and being up to 5% more profitable.

Other than that, Lighthouse is designed to run optimally by default on whatever hardware it's given. Having a fast CPU helps, particuarly one that sup

[2022-08-23 17:32] JamesCropcho commented on #3492
Thank you, Michael. That is very helpful, as well as interesting.

For the `lighthouse beacon_node` instance I was using a Xeon CPU with a whopping 4 GHz clock speed, however it lacked lacked support for SHA256 native instructions. I have since switched to a 3.5 GHz Ice Lake CPU which does support SHA256 native instructions (and both supported ADX). I am tentatively pleased with the results, altho

[2022-08-23 17:49] SwaroopH commented on #3480
Unfortunately, it looks like our geth <> lighthouse keeps going out of sync. I need to keep forcing the checkpoint to get back in sync.

[2022-08-23 23:16] michaelsproul commented on #3480
@SwaroopH There's a bug in the latest Geth release that causes it to mark valid blocks as invalid, and Lighthouse currently isn't designed to recover from this. Lighthouse remembers the invalid blocks and refuses to re-process them as valid. It's implemented this way as a defensive measure against execution layer consensus faults, which we expect to be rare and in need of manual attention (e.g. re

[2022-08-23 23:18] michaelsproul commented on #3480
@wjmelements Do you mind if I close this issue? It seems there's no actionable change required by Lighthouse in response to what you observed, except maybe to change the "Ready for the merge" log to indicate that Lighthouse isn't ready to merge until it has finished syncing (and I would prefer to open a targeted issue for that).

[2022-08-24 01:21] michaelsproul commented on #3478
This is a good idea. The HTTP client for checkpoint sync sets a timeout here: https://github.com/sigp/lighthouse/blob/df51a73272489fe154bd10995c96199062b6c3f7/beacon_node/client/src/builder.rs#L276-L277

However that timeout only applies to certain requests common to the validator client. I think we could add two new timeouts for `get_beacon_blocks_ssz` and `get_debug_beacon_states`, which are the

[2022-08-24 01:25] michaelsproul commented on #3492
Yeah you can use the binary. Compiling from source _might_ yield some additional benefits, particularly if you use something like `RUSTFLAGS='-C target-cpu=native'` to ask LLVM to tune the binary to your specific CPU, however this isn't an avenue we've investigated much.

You should get confirmation of SHA-256 acceleration in `lighthouse --version`:

BLS library: blst
**SHA256 hardware acceleratio

[2022-08-24 03:41] michaelsproul commented on #3458
AFAIK no tools exist to repair corrupt LevelDB databases. It's an unfortunate reality that a re-sync is the best option if this happens.

What filesystem were you running Lighthouse on? Did you have a power outage that could have corrupted the DB?

[2022-08-24 06:02] Sajjon opened #3500 "invalid address-in-use error on macOS?"
## Description

I've updated to 1.10.21 of Geth and 3.0.0 of Lighthouse, I'm trying to launch lighthouse in two tabs (I used to run terminal tab with `lighthouse bn --staking` and one with `lighthouse vc`):

I've launch `geth` with:

[code]

Im trying to launch lighthouse with

[code]

But this fails to launch, I get "Address already in use"

Error log

[code]

## Version

Please provide your Ligh

[2022-08-24 06:14] Sajjon opened #3501 "Documentation: Post Merge instructions unclear"
Pre-Merge I used to run lighthouse in two terminal tabs, one `lighthouse bn --staking` tab and and one `lighthouse vc` tab.

The Handbook has a special section for Post-Merge setup, it explicitly states that

[code]

should be migrated to:

[code]

I guess this is what I've previously used `lighthouse bn --staking` for.

But what is the recommended new command for `lighthouse -vc`? Is it not neede

[2022-08-24 06:29] michaelsproul commented on #3500
If you're getting an address-already-in-use error then you've probably already got Lighthouse running in another tab somewhere. You can look for the process ID using `ps` like this:

[code]

e.g. on my machine I have this:

If you see a `lighthouse bn` process there (before you start Lighthouse in the current tab), then that means it's already running. You could try to find the tab where it's runn

[2022-08-24 06:31] michaelsproul commented on #3501
`lighthouse vc` is still required, and its configuration can remain mostly the same. The only change necessary to the VC is the addition of the `--suggested-fee-recipient`. That's bullet point 2 here: https://lighthouse-book.sigmaprime.io/merge-migration.html#necessary-configuration

[2022-08-24 06:32] whysthatso commented on #3458
@michaelsproul i've asked a related, yet more general question in the recent reddit AMA [here](https://www.reddit.com/r/ethereum/comments/wpqmo1/comment/iki5qb4/)

server locked up due to power issues, yes.
i've played around with deleting the last bunch of block files, and putting the pointer to a known complete block, deleting the manifest. that caused the db driver (?) to recheck all blocks (co

[2022-08-24 07:41] Sajjon commented on #3501
@michaelsproul nice, I believe lots of people would love that in the handbook, something like:

or similar.

[2022-08-24 07:48] michaelsproul commented on #3501
Yeah good idea. I'll try find some time tomorrow to add that

[2022-08-24 08:12] Sajjon commented on #3500
@michaelsproul I did check for used ports with `lsof` and I killed all terminal windows and rebooted machine (I have **no** daemons setup to start when my Mac starts), so I'm pretty sure that was not the cause, why I opened this issue.

Without rebooting or anything, I downgraded Lighthouse to 2.5.1 and re-ran lighthouse, then it worked. So it feels like a regression bug, but I fully understand th

[2022-08-24 09:59] ghost opened #3504 "Metric `validator_monitor_beacon_block_total` starts from 1"
## Description

I want to create a table with blocks, proposed by our validators, but I found out that `validator_monitor_beacon_block_total` starts immediately from 1.  This is a problem because it's really hard to detect exactly this first appearance in Prometheus via `changes`, `rate` and other functions.

Metric `validator_monitor_beacon_block_total` starts from 1 and before that event it does

[2022-08-24 20:20] JamesCropcho commented on #3492
Again, thank you for the valuable guidance, Michael.

Expecting no noticeable difference in performance I built the executable, on the `beacon_node` target/production machine (the aforementioned 3.5 GHz Ice Lake CPU) via

```env RUSTFLAGS='-C target-cpu=native' FEATURES="modern" make```

```$ lighthouse --version```

(I'm not running a Slasher because my understanding is that it does not presently

[2022-08-25 04:36] michaelsproul opened #3505 "Store pubkey cache decompressed on disk"
## Description

Currently Lighthouse takes a long time to start up while it reloads the public key cache from disk.

The fundamental reason for this is that it stores the BLS pubkeys in their compressed form and then has to decompress every one of them for the in-memory cache:

https://github.com/sigp/lighthouse/blob/18c61a5e8be3e54226a86a69b96f8f4f7fd790e4/beacon_node/beacon_chain/src/validator_p

[2022-08-25 06:36] SwaroopH commented on #3480
I was using an older version. Anyway, I did use the new hotfix from today and that too runs into the same issue eventually and I have to purge lighthouse db to kickstart syncing.

[2022-08-25 06:39] michaelsproul commented on #3480
Is your Geth database getting continuously corrupted? If so, Lighthouse needs to re-sync when that happens

[2022-08-25 06:44] SwaroopH commented on #3480
No, the corruption was a one off. I have a freshly synced node that stops syncing after a few hours of consensus updates from lighthouse.

Geth warning:
`Beacon client online, but no consensus updates received in a while. Please fix your beacon client to follow the chain!`

Lighthouse error:
`ERRO No synced execution endpoint`

At this stage, the only option I have is to purge lighthouse db use ch

[2022-08-25 06:51] michaelsproul commented on #3480
Ok this is more interesting. Can you please DM or email me Lighthouse's debug logs from when this occurred? You can find debug logs in `$datadir/beacon/logs/beacon.log`. You can DM me on Discord (`@sproul#3907`) or my email is `<firstname>@sigmaprime.io`.

[2022-08-25 10:13] Sajjon commented on #3501
@michaelsproul how should I use `--suggested-fee-recipient` arg? does it take a value? looks in code like it does, should that value be in quotation marks? or not? start with leading "0x"? I have not found any documentation about an **example usage** of this arg, that would be very helpful!

Take a look at https://lighthouse-book.sigmaprime.io/suggested-fee-recipient.html

I would like to see a ch

[2022-08-25 19:42] wjmelements commented on #3480
Sounds fine to me so long as you do open that targeted issue. It should be clear why the merge isn't happening in this situation, and mis-attribution can waste a lot of time.

[2022-08-25 21:47] hukkin opened #3507 "`GET /eth/v1/validator/{pubkey}/feerecipient` returns HTTP 500 when fee recipient is not set"
## Description

This keymanager API endpoint returns a server error if fee recipient is not set in `validator_definitions.yml` or via `--suggested-fee-recipient`

## Version
https://hub.docker.com/layers/lighthouse/sigp/lighthouse/v3.0.0-modern/images/sha256-d34333dbdbd4a3b3266cb908945ede038c923af90bb49d2399da4375173cdef5?context=explore

## Present Behaviour

HTTP 500 Internal Server Error

## Ex

[2022-08-26 01:00] michaelsproul commented on #3500
@Sajjon You'll need to run v3.0.0 for the merge, do you get anything different when you change Lighthouse's port with e.g. `--port 9001`?

[2022-08-26 01:05] michaelsproul commented on #3500
If you could also send me the debug logs from `~.lighthouse/mainnet/beacon/logs/beacon.log` that would be helpful. I'm `@sproul#3907` on the Lighthouse Discord, or my email is `<firstname>@sigmaprime.io`.

[2022-08-26 01:34] michaelsproul commented on #3501
I've updated the docs in this PR: https://github.com/sigp/lighthouse/pull/3509

Regarding the fee recipient: 0x-prefix or no prefix will both work. Quotes are fine if you're running in a shell as the shell will strip them. In general, avoid quotes as Lighthouse won't parse them, and won't work if they're passed through verbatim from a `docker-compose` config, etc.

[2022-08-26 01:34] #3501 closed, assigned to nobody

[2022-08-26 01:38] michaelsproul commented on #3480
Ah, there's already an issue for the logging issue here: https://github.com/sigp/lighthouse/issues/3398

I'll close this issue now so we can keep it focussed.

It seems @SwaroopH's issues stem from a reverse proxy getting in the way, and I'm helping him debug that via Discord DMs.

[2022-08-26 01:38] #3480 closed, assigned to nobody

[2022-08-26 02:03] michaelsproul commented on #3474
Unfortunately I think the ship has sailed on lowering the MSRV below 1.62. I had a look at what would be required and it seems we'd have to revert quite a lot of changes and modify several dependencies.

What we'll try to do is prevent it from drifting upwards in future. I notice that Ubuntu only ships `rustc` 1.59.1 in 22.04, and in future a constraint like that could help us maintain a lower MSR

[2022-08-26 02:03] #3474 closed, assigned to nobody

[2022-08-26 02:11] michaelsproul commented on #3440
Resolved by #3441

[2022-08-26 02:11] #3440 closed, assigned to nobody

[2022-08-26 02:12] #3431 closed, assigned to nobody

[2022-08-26 02:17] michaelsproul commented on #3302
Hey @jmcruz1983 are you satisfied with the VC memory improvements? Any more issues since updating?

[2022-08-26 05:13] michaelsproul opened #3510 "Try new robust Accept header parser"
## Description

It seems a robust parser for Accept headers has finally emerged. We have rudimentary Accept header parsing but it's incorrect in case of quoted commas. For more context see: https://github.com/sigp/lighthouse/pull/3185#discussion_r875285613.

In the fullness of time we should delete our `.split(',')` implementation in favour of the `MediaTypeList` implementation: https://docs.rs/me

[2022-08-26 07:41] michaelsproul commented on #3455
Added some debugging tools in this PR which might help us get an idea of what happened: https://github.com/sigp/lighthouse/pull/3511

[2022-08-26 07:41] michaelsproul commented on #3433
Added some debugging tools in this PR which might help us get an idea of what happened: https://github.com/sigp/lighthouse/pull/3511

[2022-08-26 08:40] xihucuyu888 opened #3512 "build from source code error"
## Description

build from  source code  error

## Version

stable

## Present Behaviour

make install-lcli

cargo install --path lcli --force --locked --features ""
  Installing lcli v3.0.0 (/opt/ethpos/lighthouse/lcli)
    Updating crates.io index
   Compiling leveldb-sys v2.0.9
   Compiling num-bigint v0.4.3
error: failed to run custom build command for `leveldb-sys v2.0.9`

[2022-08-26 09:32] michaelsproul commented on #3512
you probably need to install cmake

see the deps for building from source here: https://lighthouse-book.sigmaprime.io/installation-source.html#dependencies

[2022-08-26 10:59] jmcruz1983 commented on #3302
HI @michaelsproul
yes we are happy with current memory footprint,
great improvement since `v2.5.1` & `v3.0.0`
<img width="1623" alt="mem usage" src="https://user-images.githubusercontent.com/15966694/186889549-da998320-4a9b-489e-bcf6-d8e55df6c11b.png">

FYI,
this chart includes tests with internal versions + latest public releases

Thanks!
/Juan

[2022-08-26 16:34] winksaville opened #3513 "visual studio code with rust-analyzer reports nightly compiler needed"
## Description

I ran VSCODE using `code .` from root of lighthouse repo and the following message was displayed:

[code]

## Version

[code]

## Present Behaviour

Got an error notification as noted above

## Expected Behaviour

Don't expect the error notification.

## Steps to resolve

As suggested in the error message, adding rust-toolchain.toml with "nightly" resolves the problem, but if that'

[2022-08-26 17:09] winksaville opened #3514 "Allow DURATION for monitoring_endpoint to be configurable"
## Description

For me beaconcha.in is returning a StatusCode(429), "Too many requests", in response to a `Sending metrics` request when I use `--monitoring-endpoint`.

## Version
[code]
## Present Behaviour

[code]

The problem is that [beaconcha.in](https://beaconcha.in/pricing) has a rate limit of 30,000/mth on the free tier. But in monitoring_ap/src/lib.rs we see DURATION is 60 seconds:
[code]

[2022-08-26 18:01] pawanjay176 commented on #3513
I think your `rustc` version is too old. We are currently using 1.63 and minimum supported version is 1.62. We are trying to do a better job of documenting required rust versions. Check this comment https://github.com/sigp/lighthouse/issues/3474#issuecomment-1227957275

[2022-08-26 18:27] winksaville commented on #3513
@pawanjay176, that worked and I don't see the error notification and rustup check reports:
[code]
But the weird thing is `rustc --version` is 1.52 if in `lighthouse/`:
[code]
But it's 1.63 if I'm in its parent:
[code]
Could you explain that?

[2022-08-26 18:33] pawanjay176 commented on #3513
Ohh you might have done an override at some point in the lighthouse directory? Try this from the lighthouse directory
[code]

[2022-08-26 19:41] realbigsean commented on #3432
We'd still get a chance to include transactions in the fallback here: https://github.com/sigp/lighthouse/blob/stable/beacon_node/execution_layer/src/lib.rs#L799

But this lack of delay between fcu and getPayload causes issues for some EE's so it's not good that we'd consistently get here.. so the `ERROR` seems like a good thing in potentially dissuading users from only configuring fee recipient in

[2022-08-26 19:48] winksaville commented on #3513
Sure enough, IIRC something was broken at one point and I was using override. Add good now, TXS!
[code]

[2022-08-27 02:12] #3513 closed, assigned to nobody

[2022-08-27 12:24] lfinbob commented on #3001
I'm very much in favor of this. With the post-merge reality setting in we'll have a lot of staking enthusiasts using a simple fall back EL+CL. Rocket Pool makes this dead simple for example.
They will assume that a fall back beacon node works automatically and without missing attestations (proposals, sync commitees). But it doesn't. Unless you specify `--subscribe-all-subnets` which is wasteful to

[2022-08-27 12:40] lfinbob commented on #3002
I had a disappointing fallback experience today where this would have helped:
My lighthouse validator is connected to 2 different lighthouse beacon nodes.
The primary one is on the same machine, the other is remote.
Then, on the primary machine I changed my beacon node's p2p port and restarted it.
It had 0 (or low) peers for ~15 minutes, because I was slow to update my firewall rules.
During that

[2022-08-27 18:37] lfinbob opened #3516 "VC: Publish to multiple BNs"
I have my lighthouse VC connected to 2 BNs (primary and fallback).
I propose to add a flag that makes the VC publish messages via _all_ connected BNs concurrently.
That would sidestep bad fall-back experiences (see [comment in 3002](https://github.com/sigp/lighthouse/issues/3002#issuecomment-1229185227)) with missed attestions/proposals/sync committees.
It would also increase the chances of messag

[2022-08-27 21:52] allboxes opened #3517 "Allow users to set a fee cutoff to determine whether or not to use a block supplied by the builder API"
## Description

User's are required to make a binary choice between using a centralized block builder or forgoing MEV.

## Expected Behaviour

Allow user's to set a fixed fee (e.g. 0.2 ETH) under which they will use a locally produced block.

In this way validators can gain exposure to large MEV opportunities while still contributing to decentralized block building when MEV is small/non existent.

[2022-08-27 22:24] michaelsproul commented on #3517
I like this idea a lot!

[2022-08-28 16:56] allboxes commented on #3517
[ajsutton](https://github.com/ajsutton) suggested I submit this to MEV-Boost instead.  Ill update this issue if they implement/reject handling it there.

[2022-08-28 17:19] MaboroshiChan commented on #3510
Hi. I think I have a fix for this issue using the tool you've provided, and have added a test case in which a parameter is a string which contains a quoted comma. This will be my very first commit.

[2022-08-28 22:49] michaelsproul opened #3518 "Remove interval slot timers from the slasher in favour of dynamic waits"
## Description

Currently Lighthouse has two ways of running regular tasks at an offset within a slot:

1. Using interval timers which fire every 12 seconds beginning at the correct offset
2. Using a duration to the desired offset in the slot, which is constantly remeasured using the slot clock

As time has gone on we've realised that (2) is superior in the presence of clock drift, and have ported

[2022-08-28 23:32] michaelsproul commented on #3518
I've fixed the notifier in this PR: https://github.com/sigp/lighthouse/pull/3519

I'm less sure of how to fix the slasher because it doesn't run every slot but instead runs on an arbitrary `update_period`. I'll think about it and come back to the slasher.

[2022-08-29 09:36] MaboroshiChan commented on #3478
I am planing to work on this issue. If the timeout is triggered, the simplest action is simply terminating the process. My question is that should user be asked to choose another option such as retrying or resuming default syncing?

[2022-08-29 09:58] michaelsproul commented on #3478
I think it's OK to just exit. Lots of users run lighthouse under systemd which will retry a couple of times by default. Users on the CLI can always retry manually

[2022-08-29 20:23] michaelsproul opened #3524 "Log fee recipient addresses"
Several users have requested a log in the VC and/or BN with the fee recipient for each validator.

We could log the value of the fee-recipient flag if set, or else the value from the validator definitions.

Logging in the BN could occur upon first receiving a proposer preparation message.

[2022-08-29 23:28] pawanjay176 commented on #3524
Should we provide an optional flag to turn the logging off if the vc is running a lot of validators? would be a lot of logs otherwise.

[2022-08-29 23:37] michaelsproul commented on #3524
Yeah I think that would be a good idea

[2022-08-30 09:58] Sajjon opened #3527 "Add CLI flag to force coloured log output"
## Description

I'm setting up Lighthouse to start as a background service on macOS using LaunchAgents. The LaunchAgent is a background running service which starts lighthouse by running a bash script I've written, let's call it `start_lighthouse_bn.sh`. Due to how LaunchAgents work on macOS I need to source my ENV variables first, which my script depends on, allowing me for neat start lighthouse

[2022-08-30 12:48] realbigsean commented on #3517
I think we should add this in lighthouse because MEV-boost won't have the ability to do the local vs. relay comparison because it doesn't connect to a local EE.  We'll need the execution APIs to eventually add a post-transaction fee recipient balance field to the `getPayload` response in order to support it.  But I think this feature on its own lays the groundwork nicely!

[2022-08-30 17:06] winksaville commented on #3514
@michaelsproul any thoughts on this issue?

[2022-08-30 20:27] pawanjay176 opened #3528 "Return `InvalidToken` only for jwt token errors"
## Description

Currently, we return the `InvalidToken` execution endpoint error if the HTTP error code is 401 or 403. However, execution clients can return jwt errors for other types of errors as well (e.g. incorrectly set vhosts on geth) which might be potentially confusing to debug.

Also, different ELs return different errors codes/responses for jwt errors:
1. geth returns 403 with a a respons

[2022-08-30 22:00] xtc0r commented on #3524
Are you exposing the full ETH address or just the first and last 4 to 6 digits?
The latter might be enough and keeps the users save when posting logs.

[2022-08-30 22:04] pawanjay176 commented on #3524
It is the latter, this is a sample log

[code]

[2022-08-31 06:02] michaelsproul commented on #3527
I think this would require some changes to the logger. We would need to add a CLI flag like `--log-colour` (alias `--log-color`) to force outputting coloured logs to the terminal. I don't think we should add a flag to write colour directly to logfiles.

The `TermDecorator` that we construct here could be modified using [`force_color`](https://docs.rs/slog-term/latest/slog_term/struct.TermDecorator

[2022-08-31 06:07] michaelsproul commented on #3514
Seems like it should be a straight-forward fix. We're pretty flat out on getting ready for the merge but can probably squeeze it in for v3.1.1. I'll have a go at it now.

[2022-08-31 06:38] Sajjon commented on #3527
@michaelsproul nice! I might give it a go if I find some free time this weekend.

Unfortunately the `unbuffer` and `tee` solution did not work in macOS (Ventura) (after having `brew install expect` which seems to be the package unbuffwe is part of). Any ideas on alternative flags for macOS?

[2022-08-31 06:54] michaelsproul commented on #3527
This page suggests `stdbuf` but it doesn't seem to work with `lighthouse` (probably because we use static linking): https://stackoverflow.com/questions/3465619/how-to-make-output-of-any-shell-command-unbuffered

[2022-08-31 07:03] michaelsproul commented on #3514
Here you go @winksaville: https://github.com/sigp/lighthouse/pull/3530

I wonder whether we should still change the default, as I recall beaconcha.in meters monitoring traffic differently to standard API traffic. CC @Buttaa

[2022-08-31 07:12] michaelsproul commented on #3528
What do you mean by an _actual_ JWT error? Ideally I think we should log the error message if we get a 401/403 which is what I was trying to do in https://github.com/sigp/lighthouse/pull/3454, https://github.com/sigp/lighthouse/issues/3435. For Nethermind I guess we should look for that non-null `error` value and translate that to an error as well (while preserving the error).

[2022-08-31 08:34] manuelsc commented on #3514
I think we should keep the default at 1min but provide the possibility to override. We'll check on our end whether there are any issues that count the metrics traffic wrongly.

I'm not sure if you already utilize this but we added the possibility to batch all the metrics in one single request on our end: https://github.com/gobitfly/eth2-client-metrics
This could reduce traffic and fix edge cases f

[2022-08-31 11:51] artjoma opened #3533 "Manual checkpoint sync question"
Could you please advice. According to documentation:

[code]
[code]

Where I can get BeaconState blob and SignedBeaconBlock blob files. Export from lighthouse node or how ?

[2022-08-31 15:01] winksaville commented on #3514
@manuelsc, @michaelsproul my opinion the default should be 2min, so the default rate is below the 30,000/mth, but since the `--monitoring-endpoint-frequency` it's not a big deal either way.

[2022-08-31 15:10] manuelsc commented on #3514
@winksaville The monitoring endpoint has a different API limit than the rest of beaconcha.in´s API and is not counted toward your normal limit. We'll review the limit on our end though since I'm not sure whether they are enough for unbatched metric reports. Ideally lighthouse adapts the batched metrics approach, alternatively we need to adapt the custom limit for the endpoint.

[2022-08-31 16:00] winksaville commented on #3514
Hmm, what is actually counted in the request limit on beaconcha.in isn't clear to me at all. All I know is that in the on [this page](https://beaconcha.in/user/settings#api)account the monthly total is 120,000+ requests/mth which is above 30,000, there is a link to [upgrade plan](https://beaconcha.in/pricing) and the response from the send-metrics beaconcha.in was a 429 "Too many requests".

So AF

[2022-08-31 16:11] realbigsean commented on #3533
Check the standard beacon API endpoints. Make sure to use the correct header to get SSZ encoding.

https://ethereum.github.io/beacon-APIs/#/Debug/getStateV2

[2022-08-31 19:05] pawanjay176 commented on #3528
I meant the error returned by the the EL for invalid jwt. The fact that all ELs respond in different formats and error codes makes this a bit annoying, but I think we can change the `InvalidToken` error to something like `AuthenticationError` to keep it more general and just log whatever the EL returns in the error field if 403/401. Made an issue in nethermind to return the correct response code h

[2022-08-31 19:17] pawanjay176 commented on #3514
We do send the beacon, validator and system metrics in a single request.

[2022-08-31 21:07] pawanjay176 commented on #3524
Completed in #3526

[2022-08-31 21:07] #3524 closed, assigned to pawanjay176

[2022-09-01 01:17] #3448 closed, assigned to paulhauner

[2022-09-01 01:54] michaelsproul commented on #3518
Re-opening for the slasher

[2022-09-01 06:19] 3cl1ps commented on #2858
had this bug on 3.0.0 once a week, updated to 3.0.1. following.

[2022-09-01 10:04] manuelsc commented on #3514
I see, I don't think that this is a lighthouse issue then. In order to track two nodes or two machines you need a premium beaconcha.in subscription of Goldfish or higher. Otherwise those errors you are seeing are perfectly normal since you have reached the limit of your free tier. If you are having a premium subscription please reach out to us and open an issue at the beaconcha.in explorer repo.

[2022-09-01 11:23] michaelsproul commented on #3514
Awesome, I've changed the default back to 1min in the PR

[2022-09-01 11:38] jun0tpyrc opened #3535 "v3.1.0 Mainnet fail for checkpoint sync - checkpoint state from remote 0x9dd28c19bd3a6a5db1aaa76f06f9da8d140eda759c186d0c030f1fe7f29e0d44: StatusCode(504)"
Sep 01 11:32:37.297 INFO Starting checkpoint sync                remote_url: https://eth2-beacon-mainnet.infura.io/, service: beacon
Sep 01 11:33:38.598 CRIT Failed to start beacon node             reason: Error loading checkpoint state from remote 0x9dd28c19bd3a6a5db1aaa76f06f9da8d140eda759c186d0c030f1fe7f29e0d44: StatusCode(504)

^ Tried to prune to confirm once more , Looks infura is failing as

[2022-09-01 11:48] jun0tpyrc commented on #3535
I would take this as our temp checkpoint-sync source transient error first 🙏
 5 attempts , first 2 failing , last 3 working

[2022-09-01 11:48] #3535 closed, assigned to nobody

[2022-09-01 14:38] winksaville commented on #3514
I'd like to be to do this as it could save bandwidth and halve the request count!

I've looked at the code AFAICT reporting metrics from beacon-chain sends [beacon and system metrics](https://github.com/sigp/lighthouse/blob/aa022f46855df2a1420a6a80a788c73dc2779aa7/beacon_node/client/src/builder.rs#L563) and reporting metrics from validator_client sends [validator and system metrics](https://github

[2022-09-02 14:37] ghost opened #3536 "Heavy HTTP requests halt the client"
## Description

If I do consecutive HTTP querying of the node it either halts or starts restarting multiple times in a row.

Endpoints being called:

1. `eth/v1/beacon/states/finalized/validators/BLS_KEY`
2. `eth/v1/beacon/states/finalized/finality_checkpoints`

Approximate request rate is 3 requests / second.

I experimentally discovered that the reason behind the halt was the high usage of endpo

[2022-09-02 14:57] winksaville commented on #3536
I wouldn't call 3req/sec heavy. Have you tried 100 or 1000/sec?

Are you making the requests from a another computer on the same network or are you making the requests from the same computer?

I'd like to duplicate the issue. If feasible, please create a repo with the code that reproduces the issue.

[2022-09-02 19:05] tthebst commented on #2449
I will look into this. Sounds interesting

[2022-09-02 23:35] michaelsproul commented on #3536
When you get a `ValidatorPubkeyCacheLockTimeout` it will set block processing back quite substantially because it will have to re-assess the chain it's on and keep re-processing the failed blocks until they succeed. IMO the lock timeout is now more trouble than it's worth, but we haven't had the impetus to disable it by default. You can opt-out with the `--disable-lock-timeouts` flag (more info he

[2022-09-03 10:16] ghost commented on #3536
Thank you for your reply.

The query problem is quite weird, to be honest. I can query `eth/v1/beacon/states/finalized/validators/BLS_KEY` with high-rates and no problems, but if I specify an endpoint `eth/v1/beacon/states/SLOT_NUMBER/validators/BLS_KEY` which is further from the head SLOT (as far as 10 SLOTS away) it stalls the server and the requests takes a while (7-10 seconds).

And to answer

[2022-09-03 10:27] michaelsproul commented on #3536
@JustinZal the reason queries far from the head take so long (like multiple minutes) is because they involve replaying thousands of blocks in the default configuration, which is optimised for space efficiency. You can tweak the database to prioritise speed at the expense of using more space, see https://lighthouse-book.sigmaprime.io/advanced_database.html

[2022-09-03 11:01] ghost commented on #3536
Thank you very much! This section is extremely useful. For some reason haven't come across it before.

[2022-09-03 12:31] antondlr commented on #3528
I think the true solution would be for all (current and future) EL's to offer streamlined, predictable behaviour on failure, ideally including an error message in the JSON response that we can re-use on top of the error code (e.g.: 401 for JWT or other auth issues, 403 for mismatching host headers, disallowed sources, etc ?)
Is this not defined in the OpenRPC base? If not, can we get it included i

[2022-09-03 14:42] FabianSchuessler opened #3539 "--monitoring-endpoint cuts off the rest of the command parameters?"
## Description

I noticed some really weird and reproducible behaviour regarding the order the of command options. It seems like when you put monitoring-endpoint before execution-endpoint, then this command option will be cut off.
It doesn't seem like a C&P error on my side.

## Version
v3.1.0-aa022f4 and at least v3.0.0
always stable

## Present Behaviour

[code]

`lighthouse bn --staking --metri

[2022-09-04 00:18] michaelsproul commented on #3536
Awesome! If you're running an explorer or similar it's a good idea to run with a lower `--slots-per-restore-point`.

I'm curious whether you've had a chance to try any of my suggestions from here: https://github.com/sigp/lighthouse/issues/3536#issuecomment-1235979039 ? I think they should help quite a bit, particularly the memory arena one.

[2022-09-04 05:45] michaelsproul commented on #3539
I think the explanation posted on Discord that this is due to your shell interpreting the `?` character as a control character and terminating the command early makes sense. You can see the shell trying to run the text after the URL as a separate command:

[code]

Quoting the monitoring endpoint URL should alleviate this.

I'll close this for now but please feel free to re-open if you find new inf

[2022-09-04 05:45] #3539 closed, assigned to nobody

[2022-09-04 05:47] michaelsproul commented on #3512
closing this due to inactivity, let us know if you still have issues @xihucuyu888

[2022-09-04 05:47] #3512 closed, assigned to nobody

[2022-09-05 07:00] 3cl1ps commented on #2858
error is still there, here just after a restart of the beacon service :
[code]

[2022-09-05 07:03] michaelsproul commented on #2858
@3cl1ps it's possible (and likely) to get the warning immediately after start-up when the node hasn't got enough peers yet

If you're seeing it when the node otherwise has a high peer count, then that's an issue. One common cause is not having ports forwarded properly, can you please run `curl http://localhost:5052/lighthouse/nat` and show us the output?

[2022-09-05 07:17] 3cl1ps commented on #2858
thx for fast  response
➜  ~ curl http://localhost:5052/lighthouse/nat
{"data":true}

full logs :
https://paste.ubuntu.com/p/fxzmDVPkvn/

[2022-09-05 07:45] 3cl1ps commented on #2858
debug log :
http://sprunge.us/72J4Uh

and attestation (in)effectiveness on beaconcha.in

![image](https://user-images.githubusercontent.com/2938587/188399281-caca9c40-8c43-43eb-bdea-8b09839a12bc.png)

[2022-09-05 17:19] Sajjon opened #3541 "beacon: `WARN Error signalling fork choice waiter`"
## Description

My `lighthouse beacon_node` reported - `WARN Error signalling fork choice waiter`:

[code]

## Version

3.1.0 Stable:

[code]

## Present Behaviour

`WARN Error` in logs

## Expected Behaviour

I would have hoped to see no warnings messages just before the merge.

## Steps to resolve

Dunno....

[2022-09-05 20:38] duelinggalois opened #3543 "warning: package `cpufeatures v0.2.2` in Cargo.lock is yanked"
## Description

Saw the following warning during compile and didn't see anything in the issues

[code]

## Version

* aa022f468 (HEAD -> stable, tag: v3.1.0, origin/stable, origin/HEAD) v3.1.0 (#3525)

## Present Behaviour

See a warning about a "yanked" registry. I do not know what this means, but stack overflow suggests

https://stackoverflow.com/questions/68509895/what-does-package-foo-in-cargo

[2022-09-06 06:54] AgeManning commented on #2858
I had a look through your logs. It looks like your system clock could be out. You are kicking peers for sending attestations at the wrong time.

You should make sure your system clock is synced to a network clock, using something like ntp.

[2022-09-06 07:26] 3cl1ps commented on #2858
thanks for looking into this. i used somer esta's guide with ntp service configured :
System clock synchronized: yes
NTP service: active

i had a case with this service being active but not sync, i'll watch this next time i have bad effectiveness.

for anyone reading this, this is a kind of error to look for :
```Sep 05 08:31:55 eth3 lighthouse[26048]: Sep 05 07:31:55.984 DEBG Invalid attestation

[2022-09-07 00:57] michaelsproul opened #3548 "Clarify "awaiting activation" logs when doppleganger protection enabled"
## Description

Currently the validator client logs `Awaiting activation` when doppelganger protection is enabled, which is a bit confusing because it's the same message for validators that aren't active at all. I think we should override this message when doppelganger protection is enabled to say something more informative like `Validators paused while waiting for doppelganger detection, reactiva

[2022-09-07 01:24] AgeManning commented on #2858
Awesome. I'll add something to our FAQ docs, as a time sync issue is a common occurrence.

If it is now behaving as expected, feel free to close the issue :)

[2022-09-07 06:49] 3cl1ps commented on #2858
I can't, i didn't open it.

[2022-09-07 10:37] ytrezq opened #3549 "Please add to the faq if running a pruned consensus node is required for a full archival consensus client node."
I couldn’t find the answer myself. I just need my own node enpoint `parity_tracecallmany` for evading Tornado Cash rpc censorship so I would like to reduce database size for the consensus layer since I just need the execution layer.

I also failed to find how to run lighthouse as a light client.

[2022-09-07 12:30] michaelsproul opened #3550 "Strict fee recipient fails all block proposals before TTD is reached"
## Description

All Bellatrix blocks before TTD contain a 0x0 fee recipient and will fail the equality check done by `--strict-fee-recipient` here:

https://github.com/sigp/lighthouse/blob/aa022f46855df2a1420a6a80a788c73dc2779aa7/validator_client/src/block_service.rs#L380-L389

This is checked for both blinded and full blocks, so the fallback from blinded to full doesn't save us.

We should check

[2022-09-07 14:08] realbigsean commented on #3423
These logs generally indicate it's an issue of system resources, if it doesn't look RAM is near it's limit, it might be a limitation of the CPU or disk. If the VPS uses shared CPUs that might be causing issues, it could be throttling you during the bursts you are seeing. So increasing the number of CPUs might solve it (although 8 should be plenty if you are just running lighthouse on this machine)

[2022-09-07 16:27] divagant-martian commented on #3390
Should be solved after #3439 and #3032. Feel free to reopen if the issue persists

[2022-09-07 16:27] #3390 closed, assigned to nobody

[2022-09-07 23:17] chaseadam opened #3554 "Error updating deposit contract cache: BadTransaction WrongNonce"
## Description

Syncing fresh prater beacon using Goerli Akula execution node. Get the following error after Akula is synced:

[code]

This may be a bad sync or an Akula problem. I am syncing another fresh instance of Akula to see if I can reproduce.

## Version

Commit 18c61a5e8be3e54226a86a69b96f8f4f7fd790e4 container build with `podman` running in rootless `podman` container

## Present Behavio

[2022-09-07 23:22] AgeManning commented on #2858
Fair. Assuming this is resolved.

[2022-09-07 23:22] #2858 closed, assigned to nobody

[2022-09-08 06:23] michaelsproul commented on #3302
Awesome, I am going to close this issue as resolved!

@macladson I think we're probably also safe to close https://github.com/sigp/lighthouse/pull/3223, unless you think we might want to merge it anyway?

[2022-09-08 06:23] #3302 closed, assigned to nobody

[2022-09-08 06:30] michaelsproul opened #3556 "Finalized execution payloads not deleted from disk"
## Description

There was an omission from the payload separation PR (https://github.com/sigp/lighthouse/pull/3157): the finalized payloads _are not_ actually being pruned from disk on finalization! This is despite the PR description claiming they should be pruned in `migrate_database`.

The impact of this is rather minimal for now, as it takes these payloads a while to amass on disk. I have a cha

[2022-09-08 07:09] michaelsproul commented on #3554
I suspect this is an issue on Akula's side, as far as I know we've never seen this error from any other execution client. If you want to check whether it resolved itself after Akula synced some more you could try purging Lighthouse's view of Akula's logs using `--eth1-purge-cache` as an argument to `lighthouse bn`.

[2022-09-08 07:12] michaelsproul commented on #3541
this warning is harmless, but usually indicates the clock readjusting, or fork choice taking too long to run due to resource constraints

if it only happens infrequently it isn't an issue, but would point to clock sync issues or resource constraints

[2022-09-09 17:43] philknows opened #3561 "Modification of agent version for Lodestar"
## Description

Reference: https://github.com/ChainSafe/lodestar/issues/4465

Lodestar is looking to modify the agent version gossiped from the default libp2p string `js-libp2p/0.36.2` to `lodestar/version`. We are requesting an update to your client on how you identify Lodestar nodes for better tracking and referencing of Lodestar peers on the network for debug purposes. We will not implement unt

[2022-09-11 00:55] alex88 opened #3562 "Tests fail on IPV6 enabled machines because of ganache fork endpoint"
## Description

On IPV6 enabled machines tests involving ganache fork fails because localhost resolves to `::1` instead of `127.0.0.1` which is the default ganache listening address.

## Version

Unstable cfa518a

## Present Behaviour

Tests fail with:

[code]

## Expected Behaviour

Tests should pass

## Steps to resolve

Change the ganache fork endpoint hostname from `localhost` to `127.0.0.1` t

[2022-09-11 16:50] alex88 commented on #3468
What's the default limit for file locks? In my case that's unlimited while the file descriptors is 1024 as expected:

[code]

Could something like advisory locks work? I gave it a quick try using `lslocks` and it seems you can go over 1024 locks (currently tested with 5000)

[2022-09-11 16:59] aga7hokakological commented on #3548
I would like to take up this issue.
As far as I understand I just need to make changes in [notifier.rs](https://github.com/sigp/lighthouse/blob/stable/validator_client/src/notifier.rs#L120-L128) right?

[2022-09-11 19:24] noslav commented on #2327
Hi lighthouse team, we're currently experiencing issues related to this please find the following log

[code]

The bn is running with the following config -
[code]

To add we've no idea of the status of the beacon node sync from the above log but a quick size scan of the datadir gave me the following -

[code]

the running CL version -

[code]

in conjunction with EL version -

[code]

OS -
[code]

[2022-09-11 22:15] michaelsproul commented on #2327
@noslav Try turning on the `--disable-lock-timeouts` flag. It will silence the error and prevent spurious retries but _will not_ make the node process blocks any faster (the fundamental reason for the timeout). You might want to look into improving the CPU and or I/O performance of your hardware as well.

This issue is about improving our handling of the cache, which will not be available until a

[2022-09-11 23:43] michaelsproul commented on #2715
I stumbled on this searching for something else. I think we can safely close it now that this feature is implemented and working!

[2022-09-11 23:43] #2715 closed, assigned to nobody

[2022-09-12 00:17] noslav commented on #2327
thank you for the quick turnaround!

[2022-09-12 08:08] paulhauner commented on #1664
Closing due to inactivity

[2022-09-12 08:08] #1664 closed

[2022-09-12 08:09] paulhauner commented on #1692
Closing this since WS sync is possible from the beacon-API

[2022-09-12 08:09] #1692 closed

[2022-09-12 08:11] paulhauner commented on #2115
Resolved by #3214

[2022-09-12 08:11] #2115 closed

[2022-09-12 08:12] paulhauner commented on #2031
I'm going to close this once since it hasn't had much interest for quite some time. Free free to re-open if you really desire this feature.

[2022-09-12 08:12] #2031 closed

[2022-09-12 08:15] paulhauner commented on #2139
I'm going to close this for two reasons:

1. Inactivity
2. Since the merge, remote "eth1 endpoints" are no longer relevant. All users should have a local EE and I'm not sure why it would need further authentication.

[2022-09-12 08:15] #2139 closed

[2022-09-12 08:17] paulhauner commented on #2566
Closing due to inactivity.

[2022-09-12 08:17] #2566 closed, assigned to nobody

[2022-09-12 08:20] paulhauner commented on #3032
Resolved via #3428

[2022-09-12 08:20] #3032 closed, assigned to divagant-martian

[2022-09-12 08:21] paulhauner commented on #3087
Closing as resolved via https://github.com/libp2p/rust-libp2p/pull/2558

[2022-09-12 08:21] #3087 closed, assigned to nobody

[2022-09-12 08:24] paulhauner commented on #3169
I'm closing this one due to inactivity, please feel free to re-open if the issue persists.

[2022-09-12 08:24] #3169 closed, assigned to nobody

[2022-09-12 08:25] paulhauner commented on #3216
Closing since #3223 implemented this feature and saw little to no benefit.

[2022-09-12 08:25] #3216 closed, assigned to nobody

[2022-09-12 14:58] jactttttt opened #3567 "lighthouse doesn't work with `nohup`"
## Description

use **nohup** to run lighthouse background, but lighthouse random shut down and print log as below

## Version

Lighthouse v3.1.0-aa022f4
BLS library: blst-portable
SHA256 hardware acceleration: false
Specs: mainnet (true), minimal (false), gnosis (true)
## Present Behaviour

Describe the present behaviour of the application, with regards to this
issue.

lighthouse random shut down

[2022-09-12 20:35] noslav commented on #2327
@michaelsproul your suggestion helped, thank you! However, I'm wondering why in my logs I don't get the mentioned line here in the [faq section](https://lighthouse-book.sigmaprime.io/merge-migration.html) on the merge migration page

[code]
logs currently only show the following

[code]

has this anything to do with my EL configuration?

[2022-09-12 21:26] michaelsproul commented on #2327
@noslav Remove the flag `--debug-level crit`, that flag is causing your node to _only_ log critical errors, which is quite a strange configuration and probably not what you want!

[2022-09-12 21:28] michaelsproul commented on #3567
We've had another report of this, it seems that there's a bug preventing Lighthouse from working with `nohup`. Please use another method to run Lighthouse until the issue is resolved (e.g. supervisord, systemd, screen, tmux, etc)

[2022-09-13 00:41] jactttttt commented on #3567
ok. thx

[2022-09-13 00:43] michaelsproul commented on #3210
I think the simplest way to solve this would be to advance the provided state to the nearest epoch boundary, although I might wait for the discussion [here](https://github.com/ethereum/beacon-APIs/pull/226#issuecomment-1244747806) to be resolved until implementing that change.

[2022-09-13 00:45] michaelsproul commented on #3567
I'm going to leave this open so we can investigate the issues with `nohup`

[2022-09-13 04:43] michaelsproul opened #3572 "Research feasibility of disabling optimistic sync"
## Description

In https://github.com/sigp/lighthouse/pull/3447 a flag was implemented to naively disable optimistic sync. However, it isn't clear that this naive disabling of optimistic sync is safe or correct in general.

If we want to revisit the idea of disabling optimistic sync via a flag I think we should dive deep into the different scenarios and write lots of tests for them. Integration te

[2022-09-13 05:40] oxlime commented on #3482
Is this still open. I'd like to tackle this issue.

[2022-09-13 13:15] aga7hokakological commented on #3548
@michaelsproul what should be the reactivation epoch? It should be the next one right?

[2022-09-14 00:09] michaelsproul commented on #3554
I'll close this assuming this is an Akula bug. Feel free to re-open if new info emerges to suggest otherwise

[2022-09-14 00:09] #3554 closed, assigned to nobody

[2022-09-14 00:10] michaelsproul commented on #3562
Resolved by #3563, thanks!

[2022-09-14 00:10] #3562 closed, assigned to nobody

[2022-09-14 00:23] pawanjay176 opened #3573 "Contract creation tx in execution integration tests is invalid"
## Description

In the execution engine integration tests, we use the `ethers-rs` library to generate dummy transactions to check the payload reconstruction logic. While trying to integrate `ethers` ganache-cli replacement, I found that the deposit contract creation transaction is actually invalid (`tx_receipt.status == 0` for that transaction).

The transaction is created here.
https://github.com

[2022-09-14 02:53] alex88 commented on #3469
I think the same happened to me, I have 2 instances running with all subnets subscribed and at some point the `work events received` metric dropped, it went back up automatically 8 hours later when a few peers have been purged and new ones joined in.

[2022-09-14 10:28] aratz-lasa opened #3575 "Missing head events"
## Description

When I subscribe to head events through `eth/v1/events?topics=head`, from time to time, I get a jump in the slots. In other words, I miss some slots. Moreover, when I miss the slot, I usually get a event which is completely blank and cannot be unmarshalled to JSON.

## Version

I'm using the v3.1.0 version.

## Expected Behaviour

I expect to receive head events for all the slots.

[2022-09-14 12:53] michaelsproul commented on #3575
The blank events are keep-alive comments, which are part of the SSE spec and mentioned in the beacon chain spec: https://ethereum.github.io/beacon-APIs/#/Events/eventstream

The absence of head events at some slots is probably due to skipped slots. The current semantics of the `head` event is that it fires only when the head changes, so there won't be any event published if a slot is skipped (the

[2022-09-14 12:57] aratz-lasa commented on #3575
Okay, @michaelsproul thank you very much for your fast response!

[2022-09-14 13:31] aga7hokakological commented on #3548
@michaelsproul I have made a pull request. What should be the reactivation epoch? It should be the next one right?
According to the documentation it is

so I am adding it as 3 epochs.

How should test for this. test script (./doppelganger_protection.sh success) won't show notification from the rust file?

[2022-09-14 15:59] #3575 closed, assigned to nobody

[2022-09-14 20:48] fomotrader commented on #1581
Any docs on how to use this flag, I think I"m using it incorrectly and trying to spin up my client now

[2022-09-14 21:43] pawanjay176 commented on #1581
Here are the docs for the flag. You can check with `lighthouse bn --help`
[code]

Note that Lighthouse will not connect to this peer_id given the flag. Just that it will not remove it from it's peer list once connected. You can connect to it by passing it in the `--libp2p-addresses` flag

[code]
The multiaddr format is `/ip4/<IP-ADDR>/tcp/<PORT>`

[2022-09-15 05:50] Sajjon opened #3578 "<LH BN>: "Ready for the merge" -> <GETH>: "Etherbase automatically configured" -> <LH BN>: "Not ready for merge" -> <LH BN>: "Ready for the merge""
## Description

I just saw Lighthouse BN log: `"Not ready for merge"`, just half a second after GETH logged `"Etherbase automatically configured"` (which it rarely does), here is an excerpt of Lighthouse BN and GETH logs.

**Note that Lighthouse logs are offset by 2 hours, is this a bug in Lighthouse, relating to time zones? I think it related to: https://github.com/sigp/lighthouse/issues/3130**

[2022-09-15 05:59] michaelsproul commented on #3578
That's OK. The "not ready" is just because Geth momentarily told you it wasn't synced. Lighthouse will keep trying to use Geth to validate blocks even if Geth is claiming not to be synced.

[2022-09-15 14:25] baguettex commented on #3528
latest version awalys print Auth(InvalidToken) :(

[2022-09-15 18:50] PanosChtz opened #3579 "Increased frequency of missed attestations post-merge, errors in consensus client"
## Description

I am experiencing frequent missed attestations since the merge. I have 7 so far, which is definitely abnormal. I suspect that these might be correlated with errors I see in the log below.

## Version

Lighthouse v3.1.0
aarch64 binary (NOT portable)

## Present Behaviour

I examined the logs of the beacon client around the point of my last missed attestation at slot 4703169, here's

[2022-09-15 19:20] PanosChtz commented on #3579
The issue continues very frequently. I missed attestation at slot 4703670, here are the logs a few minutes before:

[code]

and from validator:
[code]

[2022-09-15 22:49] michaelsproul commented on #3579
Sorry about the missed attestations, we'll be working on several optimisations to make all of this a bit smoother.

What hardware are you running on, and which execution client are you using?

We've seen a few reports of issues like this which are often related to running Besu as the EL. Our theory is that it gets overwhelmed by the requests to reconstruct blocks which has knock-on effects on Ligh

[2022-09-16 00:31] PanosChtz commented on #3579
I'm using a RPi4 and my EL client is Geth.
Now the problems have become worse.
I am getting this error all the time:

[code]

I restarted lighthouse service, and now it seems that lighthouse is consistently about 70 slots behind and cannot catch up:
[code]
Any ideas?

[2022-09-16 00:41] onyxrev commented on #3579
Second data point. I am observing the same issues with Geth. I've restarted both Geth and Lighthouse and will see what happens from there. Does not appear to be CPU or memory bound, as far as I can tell.

This is on a i5-10210U w/32GB RAM and a 2TB SSD drive running Ubuntu directly on the metal with 1Gb fiber internet.

[2022-09-16 00:48] michaelsproul commented on #3579
@PanosChtz You can try to improve your situation slightly by adding `--disable-lock-timeouts` to your beacon node flags. This will stop the Pi from getting stuck in a retry loop as it times out on the same block over and over.

[2022-09-16 00:50] michaelsproul commented on #3579
@onyxrev It appears that I/O is the biggest bottleneck in cases like this, although your 2TB SSD should be able to keep up. How often are you getting timeouts, and do you see the `CRIT` with `ValidatorPubkeyCacheLockTimeout`?

[2022-09-16 01:32] michaelsproul commented on #2844
I'm going to revisit this in the context of `tree-states`. Although the early attester cache takes writes off the hot path of attesting, they still happen and consume resources at some point. I think we could instead store more of the unfinalized state in memory, and write it to disk in batches periodically. This way we can hopefully put data in its final position when writing it, rather than writ

[2022-09-16 12:52] sealbox opened #3584 "ERRO Aggregate attestation queue full"
I am running lightouse version 3.1.0 and syncing from snapshot using following command:

[code]
It worked fine for few hours, got synced, but now it stopped syncing and is throwing following error:

[code]

What should I do?

[2022-09-16 13:42] PanosChtz commented on #3579
@michaelsproul after chatting with you on discord the verdict was that my Pi could not just keep up, since it was falling behind increasingly in slots. Feel free to close this issue after the other users here have resolved theirs. Thanks!

[2022-09-16 14:48] onyxrev commented on #3579
@michaelsproul Not seeing that `ValidatorPubkeyCacheLockTimeout` error, but I am seeing some EL <> CL communication issues via the `ExecutionLayerErrorPayloadReconstruction` error that is floating around in the Discord channels. The system was configured and ready for the merge and Geth appears to be listening properly on 8551.

[code]

and

[code]

[code]

[code]

[2022-09-16 15:08] ronaldjmaas commented on #3579
Referring to OP's validator logs. I believe the attestation fails because validator attests the parent block instead of the actual block it needs to attest. So the head_block in

Successfully published attestations type: unaggregated, slot: 4703169, committee_index: 46, head_block: 0x1fc17f075f6ca7b260cd17d278776c05390c7966daa6ce386d994fe9fcdf14d0, validator_indices: [XXXXXX], count: 1, service: a

[2022-09-16 15:10] ronaldjmaas commented on #3579
Furthermore the same issue is reported the Besu Github:

https://github.com/hyperledger/besu/issues/4398

[2022-09-16 17:07] maninthecryptosuit commented on #3579
I also missed an attestation. No errors in LH BN on VC at the time but Besu has been having JSON streaming errors. Not sure if related. [See issue over at Besu github](https://github.com/hyperledger/besu/issues/4398#issuecomment-1248470636).

Example of LH errors seen:

Lighthouse sometimes complains about "Error Execution engine call failed" and "Error during execution engine upcheck":

[code]

[2022-09-16 19:23] winksaville commented on #3584
Just guessing, is your disk full or maybe insufficient RAM?

[2022-09-17 20:50] xrchz commented on #3465
This is closed by #3473 right?

[2022-09-17 22:12] michaelsproul commented on #3465
Yeah good catch, ty!

[2022-09-17 22:12] #3465 closed, assigned to realbigsean

[2022-09-18 04:02] sealbox commented on #3584
No, my disk has plenty of space left and RAM is not utilized in 100%. I was also suspecting the system limit on open files handles, but I check soft , hard limits nad system.max-file, but everything is set much, much beyond 4096. I don't know what to do?

[2022-09-18 05:54] michaelsproul commented on #3584
This is indicative of a CPU or I/O bottleneck usually. It doesn't mean your node is inviable but it will probably lead to suboptimal validator performance if you are running validators.

Since the merge we've noticed several ways to improve performance which should help issues like this, and will have a series of releases coming soon to address them.

What hardware are you running on?

[2022-09-18 07:01] xrchz commented on #3507
What fee recipient will be used for block production in this case? That's probably what should be returned (with HTTP 200).

[2022-09-18 07:47] michaelsproul commented on #3507
It depends on the beacon node. If the BN has a fee recipient set then it will be used, but the VC doesn't have a way of knowing that so I think a 404 response is most feasible.

In the case where the BN doesn't have a fee recipient, the funds are burnt at the 0x01 address: https://github.com/sigp/lighthouse/blob/aa022f46855df2a1420a6a80a788c73dc2779aa7/beacon_node/execution_layer/src/lib.rs#L57-L6

[2022-09-19 06:06] michaelsproul opened #3588 "CLI tests for logging flags"
## Description

Two recent PRs have added new logging flags which can't be tested by our current CLI testing framework due to the `LoggerConfig` not being part of the `client::Config` that gets persisted to disk.

The flags that would be good to test are:

- https://github.com/sigp/lighthouse/pull/3538
- https://github.com/sigp/lighthouse/pull/3586

## Steps to resolve

Add the `LoggerConfig` to `

[2022-09-19 11:42] michaelsproul commented on #3543
Will be closed by https://github.com/sigp/lighthouse/pull/3585

[2022-09-19 11:42] #3543 closed, assigned to nobody

[2022-09-20 13:51] ethDreamer commented on #3505
I'll dive into this - gotta keep those startup times fast :D

[2022-09-20 15:29] ethDreamer commented on #3505
I've decided to work on withdrawals for now and I'll come back to this if someone doesn't hop on it :)

[2022-09-20 20:29] onyxrev commented on #3579
Happy to report that attestations have stabilized on my end. I suspect that misbehaving clients on the network added load on my execution layer, causing it to fall behind.

[2022-09-22 23:06] Wazzymandias opened #3601 "Error whist recomputing - ForkChoiceError, find_head failed"
## Description

Lighthouse beacon and validator client were running smoothly for several days, but after a hard reboot the beacon client is no longer syncing to latest state and constantly loops on error `Error whist recomputing head`

## Version

`sigp/lighthouse:v3.1.0`

## Present Behaviour

Running lighthouse as docker container with the command:
[code]

Despite healthy peer count, the beacon

[2022-09-22 23:30] michaelsproul commented on #3601
This is an issue with your execution node. It is telling Lighthouse that valid blocks from the canonical chain are invalid, so Lighthouse is left without a valid head to sync to. Once you fix your execution node to stop reporting valid blocks as invalid (probably by re-syncing it) then Lighthouse will be able to recover by restarting (i.e. no need to re-sync Lighthouse).

Which execution client ar

[2022-09-22 23:34] Wazzymandias commented on #3601
That makes sense, I'm running [erigon v2022.09.03](https://github.com/ledgerwatch/erigon/releases/tag/v2022.09.03)

[2022-09-23 02:32] Wazzymandias commented on #3601
After several restarts and switching to a different version of my execution client, the issue seems to have resolved itself. I've updated the issue with an edit that includes what steps I took to resolve.

As a result I am comfortable with the team closing this ticket, thank you very much for the fast and helpful response!