[2020-12-08 07:25] AgeManning commented on #2063
@glamperd - Your issue is distinct from this one. It looks like either your network has gone down, or your node froze for some reason (potentially processing something external).

@diglos - The WARN message you are seeing, occurs when you don't have any peers that are also subscribed to your specific subnet. Under normal operation this should be unlikely but there are number of things that can pot

[2020-12-08 11:08] diglos commented on #2063
Thanks!. We will enable debug mode and report here as soon as the issue comes back.

I would discard NTP as the Beacon restart solved the problem (it's been ok for more than 1 day now)

Regards!

[2020-12-08 17:07] realbigsean commented on #1674
PR in `cross` to support `x86_64-apple-darwin`: https://github.com/rust-embedded/cross/pull/480

[2020-12-08 22:34] superphiz opened #2069 "Enable Doppleganger Detection to reduce the likelihood of slashing"
## Description

Stakers with the best intentions are inclined to create redundant staking solutions to reduce the risk of downtime. These redundant solutions may involve copies of validator keys on multiple machines that can lead to accidental slashing.

## Version

N/A

## Present Behaviour

slashing protection is enabled on client running on a single machine but not to detect attestations from k

[2020-12-08 22:40] djrtwo commented on #2069
Also suggest that it could be override with a flag `--override-doppleganger-detection-UNSAFE`

Cool thing is it might promote education. You might wonder why you take a couple of epochs to start making attestations and look it up. You then learn about the flag and about slashing risks

[2020-12-09 00:04] michaelsproul commented on #2069
I like the name ;)

I agree this is something we should implement

[2020-12-09 02:41] paulhauner commented on #2069
Sounds good to me. I believe @dankrad also proposed a similar (identical?) scheme prior to mainnet but we never found the time to implement.

Some misc points to note:

- By default, BNs don't listen to all the attestation subnets so they're going to be restricted to attestations that are either on-chain or published as aggregates on the beacon subnet. I don't think this is a major issue.
- Lighth

[2020-12-09 03:59] michaelsproul commented on #2048
I'm starting work on this now

[2020-12-09 15:35] djrtwo commented on #2069
`beacon/state/validators/{index}/online`
`beacon/state/validators/{index}/online?epoch_lookback=3`

Something like the above, where "online" is defined as having a message included on chain in the past 2 epochs (attestation, maybe block). Not sure if `epoch_lookback` is good or not. Arbitrary lookback on this can be expensive.

[2020-12-09 21:14] isoosiss7 commented on #2064
I'll take this as an exercise.

[2020-12-10 00:21] paulhauner opened #2074 "Read validator graffiti from file"
## Description

Some users have been requesting some funky graffiti requirements (e.g., drawing stuff on beaconcha.in walls, etc). I think we can satisfy practically any scenario by just reading the graffiti from a file.

## Steps to resolve

- Add a `--graffiti-file` flag to BN, VC.
- Try to read from the file each time we produce/sign a block (not just at startup).
- If the file read fails or th

[2020-12-10 00:25] michaelsproul commented on #2074
I guess this would supersede https://github.com/sigp/lighthouse/pull/2044

I don't think we'd need any option to set it per validator in that case?

[2020-12-10 00:30] GregTheGreek commented on #2074
I (Lodestar) will be working on a service to update the file in a nice seamless way :)

[2020-12-10 06:54] pawanjay176 commented on #2074
I assumed it was to sorta improve validator privacy. i.e. if 10 vals running on a single vc have the same graffiti vs each having different graffiti.

If the graffiti-file will keep getting updated for the graffiti wall, I don't think we need separate graffiti's per validator. But I might be missing some other use case here.

[2020-12-10 09:51] divagant-martian commented on #635
Interested in working on this but I've been told @blacktemplar might be interested too?

[2020-12-10 10:11] blacktemplar commented on #635
Didn't start to work on that yet, so go for it :). Just a small thought about the cache: Would we wait until either the block is known or the cache expires before reporting the validity of the message to gossipsub? Currently gossipsub expects validation to be "fast", but I guess instead of ignoring the message it is always better to just wait and maybe process it later.

[2020-12-10 13:21] blacktemplar commented on #1712
I just saw that the web3 got updated in https://github.com/sigp/lighthouse/pull/1989, updated the table :)

[2020-12-10 13:51] bachp commented on #1926
Currently still an issue on [unstable](https://github.com/sigp/lighthouse/commit/1abc70e815a8dd078b8958450a7516e32cc693cd) with `cargo vendor`:
[code]

[2020-12-10 15:28] GregTheGreek commented on #2074
ACtually that would be optimal imo. It would be nice to be able to delegate which validator pulls which graffiti..
Could the config resemble something like:
[code]

[2020-12-10 17:41] blacktemplar commented on #1926
I think we can close this issue as a duplicate of https://github.com/sigp/lighthouse/issues/1712, at least the three mentioned dependencies are all listed there too.

[2020-12-10 22:06] Bombommi commented on #2058
I use an openethereum local node and have same error...

`Dec 10 21:44:23 instance-2 lighthouse[85132]: Dec 10 21:44:23.166 INFO UPnP Attempting to initialise routes    service: UPnP
Dec 10 21:44:23 instance-2 lighthouse[85132]: Dec 10 21:44:23.193 INFO HTTP API started                        listen_address: 127.0.0.1:5052
Dec 10 21:44:23 instance-2 lighthouse[85132]: Dec 10 21:44:23.354 INFO Sync

[2020-12-10 22:31] michaelsproul commented on #1712
Mere hours after you did, they released a new version, 0.14! :weary: It doesn't help us much (no IPC, no Tokio 0.3), so I don't think we need to rush to update: https://github.com/tomusdrw/rust-web3/releases/tag/v0.14.0

[2020-12-11 10:44] jamesmorgan commented on #1996
Ive just been looking for logs to diagnose a problem but couldn't find them and then found this issue. I think having a sensible and default logging config defined and enabled is definitely required as well. Makes it hard to know whats happened when issues arise if I cant look back and easily see the problem.

[2020-12-11 17:01] superphiz opened #2082 "Add PPA installation method for lighthouse packages"
## Description

Installing and updating lighthouse is currently a manual process requiring extensive communication networks to ensure updates are pushed in a timely fashion. Providing updates through the debian/ubuntu personal package archive (PPA) system can vastly improve the installation experience and increase the security of the network by expediting client upgrades.

## Version

N/A

## Pres

[2020-12-11 18:12] pawanjay176 commented on #2063
@diglos for the duration of the issue, were all attestations missed? or did you also get some successful attestations with a higher inclusion distance?

[2020-12-11 18:53] diglos commented on #2063
Not all were missing, some of them went through, even with 0 distance. See the screenshots below:

First missing attestations:

![image](https://user-images.githubusercontent.com/16838272/101942650-28555880-3bea-11eb-86e8-fedab5598739.png)

Then, it continues to miss some more until a Beacon restart is performed:

![image](https://user-images.githubusercontent.com/16838272/101942754-4f138f00-3bea-

[2020-12-11 19:14] realbigsean commented on #2082
I'm happy to add this + a publish to hombrew in #2077

[2020-12-12 22:03] michaelsproul commented on #1787
I just mean that we store a table in the DB that is exactly the same as the current pubkey cache, so we get DB writes rather than hand-rolled ones.

A user on Discord reported corruption after a power outage:

[code]

[2020-12-13 21:52] AgeManning commented on #635
Yeah, currently we ignore it. In principle the block-lookup should be fast.

I imagine its strictly better if we then forward it after the block lookup. Better to potentially send late, than never send at all.

[2020-12-13 22:21] isoosiss7 commented on #2064
Pls review:
https://github.com/sigp/lighthouse/pull/2085

[2020-12-13 22:56] #1879 closed

[2020-12-13 22:56] #1982 closed

[2020-12-13 22:56] #1669 closed

[2020-12-13 22:56] #2035 closed

[2020-12-13 22:56] #1264 closed

[2020-12-13 22:56] #1512 closed

[2020-12-13 22:56] #2028 closed

[2020-12-13 23:46] michaelsproul opened #2086 "Resolve RUSTSEC-2020-0091"
## Description

One of our dependencies (`arc-swap` via `slog-scope`) recently had a memory unsafety vulnerability discovered, `RUSTSEC-2020-0091`:

https://github.com/RustSec/advisory-db/blob/master/crates/arc-swap/RUSTSEC-2020-0091.md

Determining whether this is reachable from Lighthouse is an open question.

## Version

v1.0.4

## Steps to resolve

I suspect a `cargo update` will sort us out,

[2020-12-13 23:54] michaelsproul commented on #2086
It seems that the vulnerability can't be triggered from `slog-scope` (and therefore Lighthouse). It effects `arc_swap::access::Map`, which is unused by `slog-scope`. It seems `slog-scope` only uses the most basic features of `arc-swap`, see:

https://github.com/slog-rs/scope/blob/7c93a607ebf14567840331228da0a7f19d1fcfa5/lib.rs

This means the v1.0.4 is viable.

[2020-12-14 11:32] BeroBurny opened #2087 "lcli docker"
## Description

After release version `1.0.4` there is missing `lcli` in the docker image.
This tool is used for creating testnet configurations for lighthouse clients, and help developers who create tools around the beacon node and validator.

## Version

stable - v1.0.4

## Present Behaviour

`lcli` is missing command from docker.

## Expected Behaviour

Able to use `lcli` without need to pull t

[2020-12-14 12:46] BeroBurny opened #2088 "EventSource missing chain_reorg"
## Description

EventSource has missing `chain_reorg` topics [ETH2 Events spec](https://ethereum.github.io/eth2.0-APIs/#/Events/eventstream)

## Version

Lighthouse/v1.0.4-1abc70e/x86_64-linux (stable and unstable branch)

## Present Behaviour

return `400 Bad Request` on url `/eth/v1/events?topics=chain_reorg`

## Expected Behaviour

should work as every else topis from eth2 spec (head, block, at

[2020-12-15 00:50] michaelsproul commented on #2087
Are you also making use of the `minimal` spec? I had a quick browse of your `ChainGuardian` repo, and it seems you are?

We removed `lcli` (and the minimal spec) from the default build because they both consume a significant amount of compilation time on CI/CD, while being unused by almost all our users (PR here: https://github.com/sigp/lighthouse/pull/1989). As far as I understand our intention w

[2020-12-15 00:51] michaelsproul commented on #2088
Thanks for the report! This is being worked on in https://github.com/sigp/lighthouse/pull/2090

[2020-12-15 05:36] memsido opened #2093 "eth1 node communication"
## Description

The beacon seems to be working fine, but reporting is all over the place (journalctl -fu over the lighthouse service):

Dec 15 16:28:49.139 INFO Synced                                  slot: 98842, block: 0x73c9…d616, epoch: 3088, finalized_epoch: 3086, finalized_root: 0x5041…8d1b, peers: 55, service: slot_notifier

Dec 15 16:28:49.139 WARN Syncing eth1 block cache                e

[2020-12-15 06:38] #2093 closed

[2020-12-15 06:39] memsido commented on #2093
Non-issue, something else is wrong. Reverted to older version, issue persists

[2020-12-15 06:41] pawanjay176 commented on #2093
@memsido this error indicates that your eth1 node is not yet synced. Could you do `geth attach http://localhost:8545` and check `eth.syncing` in the json rpc console?

[2020-12-15 06:45] memsido commented on #2093
@pawanjay176 You are right, it is not synced! I am failing to understand how thats even possible. It was synced a week ago, I did not even think about checking that. Thank you, tho, now I have even more questions.

[2020-12-15 07:25] pawanjay176 commented on #2093
There have been instances of geth needing to resync when there are power outages. You could have also lost peers for some reason.

[2020-12-15 08:34] memsido commented on #2093
Just an afterthought - would a restored time machine backup of a sandbox with a running virtual server work in this situation? Could such restored node sync from a backup?

Thank you for your insight.

[2020-12-15 12:02] BeroBurny commented on #2087
I'm working to update scripts that include moving to `mainnet` spec, as part of [different branch](https://github.com/NodeFactoryIo/ChainGuardian/tree/docker-localhost) and current code on the master will be removed

<hr>

I'm aware that is an internal tool and unstable used for developing and testing that is the reason why I think the best solution is to build `lcli` to a separate Docker image, w

[2020-12-15 12:50] BeroBurny opened #2094 "Local tesnet with one beacon node"
## Description

After following instruction from [scripts/local_testnet](https://github.com/sigp/lighthouse/tree/unstable/scripts/local_testnet) block is not initialized with one beacon node

## Version

branch `unstable` (Lighthouse/v1.0.4-c1e27f4+)

## Present Behaviour

running one beacon node and validator in validator got an error `SERVICE_UNAVAILABLE: beacon node is syncing: sync is stalled`

[2020-12-16 03:13] winlin opened #2097 "v1.0.4 missing field `dependent_root`"
## Description
When I update from v1.0.3 into v1.0.4, the `validator_client` always print there error:

ERRO Failed to download validator duties     error: Failed to get proposer indices: Reqwest(reqwest::Error { kind: Decode, source: Error("missing field `dependent_root`", line: 1, column: 4928) }), service: duties

## Version
v1.0.4

[2020-12-16 03:15] realbigsean commented on #2097
@winlin make sure you update and restart both the validator client and the beacon node

[2020-12-16 03:17] winlin commented on #2097
no we update the validator client first without update the beacon node.

does it need to update the beacon node first and then update the validator client? right?

[2020-12-16 03:34] realbigsean commented on #2097
From v1.0.3 to v1.0.4, the communication between the beacon node and validator client has changed. So you need to update both to v1.0.4 in order for them to communicate.

[2020-12-16 03:53] winlin commented on #2097
thanks for the help, it need to update both side.

[2020-12-16 03:53] #2097 closed

[2020-12-16 08:15] mpetrunic commented on #2087
I guess we only need lcli for creating testnet configuration and keys. We could write own little script to update genesis time.

Have you considered just creating another docker image with just lcli? That way, lighthouse build time would be independent of lcli. Also building image in github actions and pushing on dockerhub is significantly faster than building on dockerhub.

tbh I cannot even buil

[2020-12-16 12:23] #2046 closed

[2020-12-16 12:37] pawanjay176 commented on #2058
@Bombommi sorry for the late reply. OE nodes seem to have a lot of issues with receipts.
Warp syncs have a lot of missing receipts for certain ranges of blocks. You can use this script to check if your OE node has all receipts or not
https://github.com/pawanjay176/deposits-checker/blob/master/main.py
use it as
`python3 main.py <oe-endpoint> <trusted-endpoint (e.g. infura)>`

[2020-12-16 15:27] realbigsean commented on #2074
I liked the idea of being able to manage graffiti via the VC API, which was made easy by adding graffiti to the `validator_definitions.yml` like in #2044. Is the reason to add a separate file for graffiti so we don't have to reload the whole `validator_definitions.yml` file? Or so that we don't promote editing that file frequently or automatically?

Either way I'm definitely in favor of enabling p

[2020-12-16 22:12] michaelsproul commented on #2087
Yeah, I think based on the feedback in this issue this is a good way forward. We've just added some new configuration for building Docker images on Github, which as you said is _so_ much better than relying on Docker Hub's builds. I'll see if I can add `lcli` to the mix for the next release (although if we miss the deadline it might need to live on `unstable` until the new year)

[2020-12-17 01:47] riversyang commented on #2063
I'm also facing the issue. After upgraded to v1.0.4, my bn node can only connected up to 3 ~ 6 peers, which caused only a few attestations can be published. The warning message is exactly the same as this issue.

WARN Could not publish message error: InsufficientPeers, service: libp2p

I'm running lighthouse bn in a NAS server(in docker) which already made port forwarding(9000 tcp/udp) in my route

[2020-12-17 03:41] deni64k opened #2099 "tokio-runtime-worker panicked"
## Description

Hello,

We see this error after which Lighthouse paralyzes. No backtrace, unfortunately.

[code]

## Version

[code]

[code]

## Present Behaviour

Lighthouse Beacon Node stops any network activity and doesn't submit attestations.

## Expected Behaviour

Lighthouse Beacon Node performs network activity and submits attestations.

## Steps to resolve

We simply restarted the node.

[2020-12-17 11:46] pawanjay176 commented on #2074
I think both are correct.

I too liked having the graffiti in the `validator_definitions.yml` as it was simple for the user (user just has to enter an extra graffiti entry for required validators).

With the separate file, the user would have to manually copy pubkey entries from `validator_definitions.yml` to the file in the beginning. Would the service also be doing this initialisation @GregTheGr

[2020-12-17 16:47] realbigsean commented on #2099
Seems related to this issue: #1067

I'd guess it's got something to do with the very high peer count

[2020-12-18 17:00] veorq opened #2102 "Missing check on seed and password length"
This is called in wallet.rs, where a wallet can be created from non-empty seed and password of any size (no length check in`WalletBuilder::from_seed_bytes()`):

https://github.com/sigp/lighthouse/blob/c6baa0eed131c5e8ecc5860778ffc7d4a4c18d2d/crypto/eth2_key_derivation/src/derived_key.rs#L38-L52

I'd enforce minimal length in the new wallet logic, and in the recovery functions.

[2020-12-20 16:25] apalade commented on #1787
I am experiencing the same problem after a power outage.

`
Dec 20 15:24:26 pala lighthouse[50671]: Dec 20 15:24:26.109 CRIT Failed to start beacon node             reason: Unable to open persisted pubkey cache: ValidatorPubkeyCacheFileError("InconsistentIndex { expected: Some(48577), found: 0 }")`

So the only current way out of this right now is to resync the database?

[2020-12-20 22:10] michaelsproul commented on #1787
I've sent you the file on Discord, but just in case you check GH first:

Yeah :\

An earlier backup might work if you get lucky, but a backup from another node is more reliable.

[2020-12-21 00:09] AgeManning commented on #2063
We addressed some issues that could cause this in `v1.0.4`. If you could reach out to one of us on the discord server and provide some debug logs, we might be able to identify the issue.
You should always find more than 3~6 peers and if not something is wrong.

[2020-12-21 00:41] AgeManning commented on #2099
Yes. The previous issue was in the delay queues managing the ping and meta-data intervals. There must still be an issue in tokio when these are pushed with very high peer counts.

It looks to me like it is currently being addressed in tokio by this PR: https://github.com/tokio-rs/tokio/pull/3270

Hopefully we can update tokio once that gets merged to resolve this issue. It seems to be me its curre

[2020-12-21 01:59] AgeManning commented on #2063
I've noticed a similar thing initially.

It looks like there are a lot of prysm peers in the DHT. So when your node tries to discover new peers, it finds a lot of prysm peers. Prysm, once they have reached their target peers do not accept new connections. So you discover lots of peers but just can never connect to them. And you must cycle through many peers until you find other client peers or pee

[2020-12-21 01:59] AgeManning commented on #2063
I found after about 10-15 mins, I find some lighthouse nodes and easy reach the 50 peer target that I expect however.

[2020-12-21 02:04] AgeManning opened #2107 "Filter full peers from DHT"
## Description

Prysm do not allow new connections once their client has reached their desired peer count. The Eth2 DHT has a large quantity of full prysm peers making discovery slow to find useful peers to connect to.

I think we should attempt to filter out these peers from our stored DHT to make it easier to find contactable and useful peers. Lighthouse nodes could do this by attempting to conn

[2020-12-21 02:05] AgeManning commented on #2063
Will try and improve initial discovery by filtering out the "full" peers from the DHT: https://github.com/sigp/lighthouse/issues/2107

[2020-12-21 07:12] paulhauner opened #2110 "Use KeyCache in VC API"
## Description

We have a `POST lighthouse/validators/keystore` endpoint on the VC API:

https://github.com/sigp/lighthouse/blob/65dcdc361b0c91dabe53c886e32aa7952251be68/validator_client/src/http_api/mod.rs#L343

It does not call the [`KeyCache::add`](https://github.com/sigp/lighthouse/blob/65dcdc361b0c91dabe53c886e32aa7952251be68/validator_client/src/key_cache.rs#L222) function, which means the V

[2020-12-21 07:12] paulhauner commented on #2066
I've created #2066 to track the `KeyCache`-specific part of this issue.

[2020-12-21 07:14] paulhauner commented on #2110
I created this issue in error. We already supported this functionality as pointed out in #2071.

[2020-12-21 07:14] #2110 closed

[2020-12-21 07:14] paulhauner commented on #2066
Please ignore #2066.

[2020-12-22 01:33] michaelsproul commented on #2086
This issue will be fully resolved once https://github.com/sigp/lighthouse/pull/2084 lands in `stable`

[2020-12-22 03:27] michaelsproul opened #2112 "Avoid storing redundant attestations in slasher DB"
## Description

The slasher stores all the attestations provided to it individually, even if some of them contain duplicate information. The most common instance of this seems to be unaggregated attestations stored alongside their aggregate, which wastes space. I suspected this was an issue, but hadn't measured how bad it was in practice. The use of `--subscribe-all-subnets` on some of the SigP no

[2020-12-22 04:40] michaelsproul commented on #1863
Marking this as resolved. There exist several metrics for the slasher, and we can always add more as required.

[2020-12-22 04:40] #1863 closed

[2020-12-22 05:01] michaelsproul opened #2113 "Allow database to omit restore points"
## Description

As an incremental step towards supporting weak subjectivity sync in the database I think we should implement a mode of operation for the database where it doesn't store any states between genesis and the split state (~= finalization). This could be done by changing `slots-per-restore-point` to an `Option<u64>`, and using the `None` value to indicate this mode.

Some changes that wi

[2020-12-22 07:18] michaelsproul opened #2114 "Shutdown gracefully on SIGPIPE, SIGHUP"
## Description

When running Lighthouse in a shell pipeline it fails to exit gracefully because of the lack of signal handler for `SIGPIPE`. I noticed that my Lighthouse nodes wouldn't shutdown gracefully from my runner script, and it took a bit of digging to find the cause.

This command reproduces the issue (`bash` assumed):

[code]

Or equivalently:

[code]

Both of these commands redirect ligh

[2020-12-22 11:14] MariusVanDerWijden opened #2115 "Use 'eth_chainID` instead of `net_version`"
# 💎 Issue
Lighthouse currently uses `net_version` to query for the chain id. While this works in most cases, it might make it possible to connect to an ETC node by mistake as discussed here: https://eips.ethereum.org/EIPS/eip-695

Generally the `eth_chainID` should always be preferred to `net_version`
Additionally geth currently has a bug which impacts `net_version` and makes it impossible to run

[2020-12-22 11:44] pawanjay176 commented on #2115
We use both the `eth_chainId` and `net_version` to decide the eth1 chain as the eth2 config defines both https://github.com/ethereum/eth2.0-specs/blob/dev/configs/mainnet/phase0.yaml#L54-L55.

Agree that we don't really need the eth1 `networkId`  for eth2. I'm not really sure why we have it in the config.
Maybe we could make a PR to remove the eth1 `network_id` requirement from the eth2 mainnet co

[2020-12-24 00:44] #2048 closed

[2020-12-24 00:44] #1674 closed

[2020-12-24 00:44] #1883 closed

[2020-12-24 00:44] #2061 closed

[2020-12-24 00:44] #2066 closed

[2020-12-24 01:39] hukkinj1 opened #2118 "--beacon-node flag broken in v1.0.5"
## Description

The `--beacon-node` flag should be deprecated in v1.0.5, but seems completely broken. I'm running with `lighthouse-docker` and keep getting the following logs on startup
[code]

## Version

Docker tag `v1.0.5`

## Present Behaviour

Validator not connecting to beacon node with `--beacon-node`

## Expected Behaviour

Validator connects to beacon node with `--beacon-node`

## Steps t

[2020-12-24 03:08] paulhauner opened #2119 "Slasher error prevents BN startup on v1.0.5"
## Description

After updating to `v1.0.5`, many users have experience this error which prevents BN startup:

[code]

## Version

https://github.com/sigp/lighthouse/releases/tag/v1.0.5

## Work-around

You can one of two things to resolve this temporarily:

1. Delete the `~/.lighthouse/mainnet/beacon/slasher_db` directory, then restart the BN.
1. Omit the `--slasher` flag.

## Additional Info

I'm

[2020-12-24 08:25] michaelsproul commented on #2119
Damn it I think I know what this is. The broadcast PR added a field to the config (which is stored on disk) without updating the schema version or implementing a migration 😭 Sorry, that's my bad.

I can likely fix it once I'm back on Jan 4 for a v1.0.6 release.

[2020-12-24 09:09] paulhauner commented on #2118
Thanks for raising this @hukkinj1.

It seems the issue is here:

https://github.com/sigp/lighthouse/blob/9ed65a64f8fc518c98b381e628556df9bf906acb/validator_client/src/config.rs#L109-L111

We assume that if `beacon-nodes` is `Some`, then it has been provided on the CLI. However, this is not true since it has a default value and will always be `Some`:

https://github.com/sigp/lighthouse/blob/9ed65a6

[2020-12-24 09:10] paulhauner commented on #2118
Users with this issue should switch to the `--beacon-nodes` flag until we can get a fix out. This might not be possible until next year, considering that although this bug is annoying it's not necessarily critical.

[2020-12-24 10:41] michael1011 commented on #2119
+1 can reproduce

[2020-12-24 12:46] syspulse opened #2120 "libc dependency change GLIBC_2.25"
## Description

libc dependency was upgraded in 1.0.5 build
Default Ubuntu 16.04 LTS is broken:
`/lighthouse: /lib/x86_64-linux-gnu/libc.so.6: version 'GLIBC_2.25' not found (required by ./lighthouse)`

This is a bit "painful" since nobody wants validator downtime and it is not 5 minutes fix to make it work on existing setup

## Version

**lighthouse 1.0.5**
**Ubuntu 16.04.7 LTS**

## Present Beha

[2020-12-24 15:08] remyroy commented on #2074
This is related to #2031 and #1944.

I like having it both in `validator_definitions.yml` and being able to manage the graffiti via the VC API.

[2020-12-24 16:02] emilianobonassi commented on #2119
Me too. Probably slasher db model changed. As per doc, slasher component is experimental and this is something which should happen.

TBH currently I wasn't able to slash anyone with the current setup.

[2020-12-24 20:58] michael1011 commented on #2119
Yes, I am aware of that. But imho an upgrade to a new release should still not break your node and force you to downgrade again.

Same. But that's not my major issue with lighthouse right now :sweat_smile:

[2020-12-25 07:32] m0n5t3r commented on #2082
I came up with [this](https://gist.github.com/m0n5t3r/7f066384d3d38cde034cd11fc1e80ad5) to do the manual updates and have https://github.com/sigp/lighthouse/releases.atom in my tt-rss to see when releases happen, but yeah, a PPA / snap would be nice

However, switching to a package may or may not be easy (not sure where you'd discuss the scope of this), because generally with a package that implem

[2020-12-25 14:53] NessDan commented on #1209
Hi, I'm having this same problem.

Fresh installation of `lighthouse v1.0.5 Baby Legs`. My `geth v1.9.25-stable-e7872729` is fully synced, and turning on the beacon node with this command: `lighthouse bn --staking --eth1-endpoints "http://127.0.0.1:8545,http://127.0.0.1:8546" --graffiti "<a href='keyboard.gg'>⌨⌨</a>" --freezer-dir "/ext-hdd/freezer" --port "9001" --target-peers "75"`

[code]

It s

[2020-12-26 08:17] m0n5t3r opened #2123 "IP Address change causes missed attestations"
## Description

When my ISP sees fit to reset the connection, causing an IP address change, libp2p takes 5 minutes to even notice the address change, but the beacon stops talking to the network for a much longer long time

## Version

released Lighthouse v1.0.5-9ed65a6

## Present Behaviour

Context: the router detected a connection drop and reconnected at `08:02:52`

[code]
The validator kept thi

[2020-12-26 08:44] m0n5t3r commented on #2069
Not sure how hard it would be, but the ideal solution would be some sort of communication channel between validators with the same key, so they can either

* fire in a round-robin fashion (the node that goes down will still miss its attestations, but you only lose 1/n instead of n attestations), or
* vote / elect the one that should be active (this would require an odd number of validators for HA,

[2020-12-26 14:32] pawanjay176 commented on #1209
@NessDan your geth node could be corrupted. Can you run the script here
https://github.com/pawanjay176/deposits-checker/blob/master/main.py

[code]

If your geth node is fine, it should print out `All calls match` in the end.

[2020-12-26 20:51] NessDan commented on #1209
@pawanjay176 thanks for the script, it was making progress but suddenly:

[code]

[2020-12-26 21:54] dlehenky opened #2124 "Add Validator Index to "Published" VC Log Events"
## Description

Seems like essential info. Just add the validator index to "publish" events, so we know which key is responsible. This would be for both attestations and proposals.

## Version

master

## Present Behaviour

Information on specific validator is not present.

[2020-12-27 21:31] paulhauner commented on #2124
Thanks @dlehenky, but the API is not specified here. Instead, it's specified at https://github.com/ethereum/eth2.0-APIs so that multiple client implementations can collaborate. Lighthouse doesn't "own" the API definition.

Could you please raise this issue over there? Thanks.

[2020-12-27 21:31] #2124 closed

[2020-12-27 21:42] paulhauner commented on #2120
I'm not exactly sure why the `GLIBC_2.25` tends to break, but I suspect it's related to BLST and @michaelsproul might have more info. In my experience a `cargo clean` resolves it. You're getting that issue at *compile time* right, not runtime?

If you check out the [cross-compiling](https://lighthouse-book.sigmaprime.io/cross-compiling.html) section of the docs you can see how to build portable bi

[2020-12-27 23:56] michaelsproul commented on #2120
I don't think this is related to BLST

It could be related to the fact the new automated release flow stopped building the x86_64 binaries inside the Cross Docker containers:

https://github.com/sigp/lighthouse/blob/9ed65a64f8fc518c98b381e628556df9bf906acb/.github/workflows/release.yml#L78-L84

Running `objdump -T lighthouse-v1.0.5 | grep GLIBC` on the portable binary reveals a dependency on `gete

[2020-12-28 06:53] pawanjay176 commented on #1209
@NessDan looks like there's some issue with your local node as it suddenly closed connection. You can ping me on the sigp discord (@pawan) and I can try to help you out.

[2020-12-28 07:04] NessDan commented on #1209
Update for anyone who finds this thread: Since this was a fresh installation of lighthouse (no validators imported or anything important) I was able to delete the `~/.lighthouse` directory along with my freezer folder and it synced up perfectly.

Seems like the issue was me launching Lighthouse before my eth 1 node had synced.

[2020-12-28 09:53] parithosh opened #2127 "Custom testnet validator fails pre-genesis"
## Description

A custom testnet was setup with a genesis date in the future. The beacon and validator nodes were started with the custom spec. The validator crashes immediately stating genesis has not been observed yet (logs added below).

## Version

The docker image of lighthouse, `sigp/lighthouse:v1.0.4`

## Present Behaviour

The validator docker image was started with the custom config found

[2020-12-28 10:35] syspulse commented on #2120
@paulhauner It's not so much about upgrading and using latest LTS, but amount of effort it might require if your infra setup is "settled" and validators are working fine.
I do suspect that a lot of validators are well beyond old LTS distros. For me the source build is very simple and that's what I immediately did. I hope for others who encounter this issue it will be painless as well.
@michaelspro

[2020-12-28 11:14] pawanjay176 commented on #2127
@parithosh could you paste the full commands you used to start the beacon and validator?
I think you could get this when bn and vc are using different configs.

[2020-12-28 15:33] parithosh commented on #2127
The beacon node was started with:
[code]

The validator was started with:
[code]

[2020-12-28 21:38] dankrad commented on #2069
There is no guaranteed channel to reach all validators with one key, and I would think trying to construct one would increase the validator privacy problems by multitudes. Not to mention that it would be quite complex.

The solution suggested here can be implemented in a few extra lines of code and already gives a pretty good protection.

[2020-12-28 22:36] clifton opened #2128 "Unable to get fork choice head: ... InvalidBestNode"
## Description

My beacon client was running for about 1 week uninterrupted and suddenly began to fail.

`Dec 28 17:01:05.696 CRIT Failed to start beacon node reason: Failed to build beacon chain: Unable to get fork choice head: ProtoArrayError("find_head failed: InvalidBestNode { start_root: 0xa498fe73df9ac05d997b9ca092b294eae91eb8e239946133e177ba3f684be028, justified_epoch: Epoch(6050), finalize

[2020-12-28 23:11] AgeManning opened #2129 "Update to tokio v1.0"
## Description

We are currently at tokio 0.3 and only some of the ecosystem updated to this intermediate version leaving us with scattered dependencies that we manually updated.

Once all the ecosystem have updated to tokio v1 we should do a clean update across our dependencies that rely on tokio.

The main ones are:
- [x] hyper
- [x] warp
- [x] discv5
- [ ] web3
- [x] reqwest

[2020-12-29 01:29] paulhauner commented on #2120
Yep, understood @syspulse. This was an unintentional break, so apologies for that.

@realbigsean, I forget why we couldn't use cross in the release CI..

[2020-12-29 02:40] hermanjunge commented on #2129
Adding myself to this thread, as AFAIK `reqwest` is only used by testing in the Remote Signer. Maybe it'd be better to find an alternative for mock HTTP calls.

[2020-12-29 02:42] realbigsean commented on #2120
We can't use `cross` for macOS but we can use it for linux still.. I opted not to use it for either to keep the workflow simpler, so my bad here. I can update the workflow to use `cross` for linux in the next couple of days

[2020-12-29 22:11] #2118 closed

[2020-12-29 22:11] #2119 closed

[2020-12-29 23:05] AgeManning opened #2131 "Shorten discv5 vote timeout and time pings per peer"
## Description

Discv5 currently keeps IP voting history for 5 minutes as this is the time window for pinging peers. This makes it harder for malicious nodes to quickly manipulate our ENR IP, however it is less reactive.

For efficiency we also ping peers in our routing table every 5 minutes. This creates bursts of pings and again makes the ENR IP less reactive. We should revert back to using a De

[2020-12-29 23:16] AgeManning commented on #2123
There's a few things here.

Firstly the log "Address Updated" is mostly irrelevant to the current peers connected and reactive time of being able to submit attestations. That log refers only to discovery and its slow to update because it keeps a longer history. I've made an issue to make it more reactive: https://github.com/sigp/lighthouse/issues/2131 however it will have little effect to what you

[2020-12-29 23:51] m0n5t3r commented on #2123
I've tunneled it to a VPS with a stable ip now (which basically solved the issue - wireguard took the address changes like a champ and there were no missed attestations, and adds some privacy) - on which occasion I discovered geth was generating insane amounts of traffic, so I suspect the ISP was kicking me offline every 100 GB or so, or it didn't like me exchanging UDP packets with some 100 rando

[2020-12-30 00:29] AgeManning commented on #2123
wooh 100GB of data? Were you syncing?

[2020-12-30 10:14] m0n5t3r commented on #2123
nope, funnily enough I had no issues while syncing (the validator wasn't active at that point); based on geth's own metrics it was doing 600 kB/s constantly (p2p ingress + egress), but the linux ethernet metrics showed ~1.5 MB/s; this means 126 GB/day (also, this is doubled for the vpn endpoint); I'd still like to run a full eth1 node eventually, but probably in a datacenter somewhere (VPS storage

[2020-12-30 19:49] realbigsean opened #2133 "Extra field in the `node/syncing` endpoint"
## Description

NessDan in discord pointed out that or VC doesn't work with with Teku's BN. It's because we have an additional `is_syncing` field in the `/node/syncing` endpoint response.

## Version

v1.0.6

## Present Behaviour

[code]

## Expected Behaviour

VC compatible with teku.

## Steps to resolve

Because the `/node/syncing` endpoint returns with a sync distance of 1 when we receive a bl

[2020-12-30 23:32] AgeManning commented on #2123
hmm. I'm running a synced geth node and it seems to be sitting around 130-300kB/s. Mostly in the low 100's but jumps to 300kB/s every now and then.

Strange yours was at 600kB/s constantly.

[2020-12-31 06:44] pawanjay176 commented on #2129
Made a PR for discv5 here https://github.com/sigp/discv5/pull/57

[2020-12-31 10:06] pawanjay176 opened #2134 "StateRootMismatch while syncing on windows"
## Description

Seeing syncing issues with nodes running on vms on top of windows. Syncs fine for a while and then stops with
`DEBG Invalid block received                  outcome: StateRootMismatch`

Checking further, it looks like we get the state mismatch because the `randao_mixes` in the state on which the block was being applied to was different than the canonical state by a bit. So it looks

[2021-01-01 17:57] elsesiy opened #2139 "Support custom http headers for remote eth1 endpoints"
## Description

A user can either run a local eth1 endpoint via geth, oe, etc. or use a remote service such as Infura, Alchemy, etc. When opting for the latter, providers usually offer multiple layers to secure API access which is good practices especially if using a paid tier.

`--eth1-endpoints` allows the user to specify multiple endpoints but doesn't allow for additional configurations per end

[2021-01-02 14:43] winlin opened #2140 "the fallback beacon node was considered to be unworkable, but it works well"
## Description

I set --beacon-nodes with two endpoints, for example:
[code]
when the `a` shutdown, but `b` works well, the validate-node consider it unusable but `b` works well, I can
`telnet b.b.b.b:5052`
and get 200 response with :

[code]

[code]

## Version

v1.0.6

[2021-01-03 23:09] michaelsproul opened #2141 "Remove tempdir in favour of tempfile"
## Description

We use both the `tempdir` and `tempfile` crates, but `tempdir` is no longer maintained and should be removed:

[code]

From https://github.com/sigp/lighthouse/runs/1619499019

## Version

v1.0.6

[2021-01-03 23:32] paulhauner commented on #2140
Thanks for raising this @winlin.

The error for `b` is:

[code]

This means that the `b` node is reachable, but it didn't have an attestation available for aggregation. This is expected behaviour when the `--subscribe-all-subnets --import-all-attestations` flags are not provided to `lighthouse bn`.

I've been planning to write up some docs explaining this, I'll do that today or tomorrow and link t

[2021-01-04 02:27] winlin commented on #2140
Very nice. Thanks @paulhauner .  It should be noted, we take the two validator node as the backup for each other, that mean `a` will be the backup node for `b`. so can we add `--subscribe-all-subnets --import-all-attestations` on `a` too ?

[2021-01-04 02:59] paulhauner commented on #2140
Yep, the only cost of those two flags is resource consumption. It'll cause the nodes to process all attestations on all 64 subnets, instead of ~1 per validator. The resource usage increase is roughly 2x, but it varies.

[2021-01-04 04:19] winlin commented on #2140
yes, you are right. after we add these two flags, the CPU usage increase from 6% into 12%.

[2021-01-04 06:52] paulhauner commented on #2140
Thank you for the feedback @winlin, much appreciated.

Please find my (draft) notes on the topic here: https://github.com/sigp/lighthouse/pull/2142/files

[2021-01-04 08:45] winlin commented on #2140
I have read the note, very clear. Good work.

[2021-01-04 22:36] jcracknell commented on #2139
You may be able to authenticate using HTTP basic authentication by embedding it in the URL:

    https://:<project-secret>@<network>.infura.io/v3/YOUR-PROJECT-ID

Note the `:` indicating an empty username.

[2021-01-04 23:56] elsesiy commented on #2139
@jcracknell This won't work for `Bearer` or any other scheme afaik & it still won't be possible to specify e.g. a custom user agent

[2021-01-05 00:21] gak commented on #2031
I'm casually investigating this, and have a few questions. I can see that both the bn and vc can specify a graffiti, and there is a rule where the vc overrides the bn configured graffiti if specified.

If one was to implement this issue, should this logic live in the vc?

Does the bn actually need this functionality?

[2021-01-05 03:02] remyroy commented on #2031
I believe the vc should ultimately be deciding the value of the grafiti. I'm not sure if it is still needed in the bn. Someone might want to run the bn alone just as a health benefit or for an explorer. In a way, if you want better role seperation, bn should not know about any grafiti value.

[2021-01-05 03:54] gak commented on #2031
Related PR https://github.com/sigp/lighthouse/pull/2044 for graffiti per validator in `validator_definitions.yml`.

[2021-01-05 07:25] AgeManning commented on #2031
It seems this feature is getting a bit of attention.

I believe our current plan was to get the VC to read from a file before block production.

It might make sense to just add an endpoint to the VC HTTP API. However this API is restricted and should only be used locally for security reasons, so will limit its accessibility.

The VC is ultimately deciding the value of the graffiti (this is why it

[2021-01-05 07:26] AgeManning commented on #2031
#2074 is the relevant issue to track for this

[2021-01-06 00:36] michaelsproul commented on #2129
Reqwest has support now: https://github.com/seanmonstar/reqwest/releases/tag/v0.11.0

btw @hermanjunge `reqwest` is used by the `eth2` crate which wraps API access to the beacon node for the validator client (amongst other things).

[2021-01-06 17:27] bytniak commented on #2123
I have very similar issue. I bonded 2 network interfaces in the "active backup" mode. Each network interface is connected to different ISP. Once primary interface is down it takes from 5 min to 15 min for the lighthouse beacon node to react.
I'm connected to 100 peers and 5m-15min later still starts to gradually decreasing from 100 peers, while still not syncing with the network.

[2021-01-07 01:00] AgeManning opened #2146 "Improve lighthouse's disconnect responsiveness"
## Description

Users are reporting Lighthouse taking 5 to 15mins for Lighthouse to drop their peers once a connection drops/changes (https://github.com/sigp/lighthouse/issues/2123).

It is known that discv5 will take at least 5m to update the ENR, but that is unrelated and addressed in a separate issue (#2131)

In current stable we ping every 30 seconds. It should take 2 failed pings to disconnec

[2021-01-07 01:00] AgeManning commented on #2123
I've reduced the ping interval which should make this more responsive. However, the current settings shouldn't take 5m to drop and reconnect 100 peers.

I've made a separate issue to investigate and correct this: https://github.com/sigp/lighthouse/issues/2146

[2021-01-07 19:55] pawanjay176 commented on #2146
Looks like this happens because a ping timeout is a `HighToleranceError` which leads to a disconnection after ~10mins.
Changing the ping timeout to `LowTolerance` is kicking out all peers in ~1minute.

[2021-01-07 21:52] bwtimmermans commented on #2146
My similar experience (version: Lighthouse/v1.0.5-9ed65a6) is that very short connection outages, like <30s, often result in one or more missed attestations by Lighthouse, but not Teku, on the same network. The situation is I have a faulty telephone line awaiting repair and periodically the ADSL drops for about 30s before reconnecting. This afternoon I missed 4 attestations in a row on a LH valida

[2021-01-08 07:09] AgeManning commented on #2146
@pawanjay176 nice.

We were not scoring the negotiation timeouts as I had expected. #2147 should make lighthouse significantly more responsive to disconnects.

[2021-01-08 07:09] #2146 closed

[2021-01-08 07:10] AgeManning commented on #2123
Lighthouse should now be significantly faster in the next release. There was a scoring bug which allowed peers to linger around longer than they should have.  I'll consider this resolved in #2147

[2021-01-08 07:10] #2123 closed

[2021-01-11 12:16] #2141 closed

[2021-01-11 12:17] michaelsproul commented on #2086
Resolved as of v1.0.5

[2021-01-11 12:17] #2086 closed

[2021-01-12 16:01] realbigsean commented on #2082
It seems like Polkadot has a pretty good framework for how we could set this up: https://github.com/paritytech/polkadot/pull/1676/files

I think this is a reasonable and if and if users want to implement something more complicated, like you described, they can. But something more complicated might be risky to include in this repo, so a mistake doesn't take down a large portion of the network

[2021-01-14 13:39] realbigsean commented on #878
tokio 0.3 uses mio 0.7 so I'm going to close this for now 🤞  Ran debug tests on my mac and they passed

[2021-01-14 13:39] #878 closed

[2021-01-14 13:52] realbigsean commented on #1426
fixed with the move to github actions

[2021-01-14 13:52] #1426 closed

[2021-01-14 17:57] realbigsean commented on #1619
Implemented in #2080

[2021-01-14 17:57] #1619 closed

[2021-01-14 18:15] realbigsean commented on #1902
We resolved this by having `latest` track our `stable` branch, a `latest-unstable` docker tag which tracks our `unstable` branch, and version specific tags

[2021-01-14 18:15] #1902 closed

[2021-01-14 18:18] #1926 closed

[2021-01-14 18:56] realbigsean commented on #1987
fixed in #2029

[2021-01-14 18:56] #1987 closed

[2021-01-14 18:58] realbigsean commented on #1992
fixed in #2029

[2021-01-14 18:58] #1992 closed

[2021-01-14 19:03] realbigsean commented on #1939
I can't reproduce this, so going to close it

[2021-01-14 19:03] #1939 closed

[2021-01-14 19:07] #2043 closed

[2021-01-14 19:09] realbigsean commented on #2050
I believe the fallback implementation is in line with the requested behavior in this issue

[2021-01-14 19:09] #2050 closed

[2021-01-14 22:23] paulhauner commented on #1307
Did you already clear this up @michaelsproul? I vaguely recall something.

[2021-01-14 22:25] paulhauner commented on #1653
Closing this since we're not getting demand for it and we can leave it up to third-party tooling.

[2021-01-14 22:25] #1653 closed

[2021-01-14 22:27] paulhauner commented on #1691
Closing since we're going to reboot the VC GUI and this is irrelevant now.

[2021-01-14 22:27] #1691 closed

[2021-01-14 22:30] paulhauner commented on #1942
I'm going to close this once since it seems the original error is likely based on filesystem corruption. The issue from @lightclient has been fixed by upgrading tokio (the issue was inside it).

[2021-01-14 22:30] #1942 closed

[2021-01-14 22:31] paulhauner commented on #1947
Closing since this has been implemented.

[2021-01-14 22:31] #1947 closed

[2021-01-14 22:32] paulhauner commented on #1993
Closing this since I assumed it's been fixed by upgrading `tokio`. Please reopen if that's not the case.

[2021-01-14 22:32] #1993 closed

[2021-01-14 22:35] paulhauner commented on #1994
I'm closing this since this issue is inactive and I'm not sure where the issue is. I think there's some confusion between beacon blocks and eth1 blocks.

[2021-01-14 22:35] #1994 closed

[2021-01-14 22:36] paulhauner commented on #2058
Closing since it seems to be an OE issue.

[2021-01-14 22:36] #2058 closed

[2021-01-14 22:37] paulhauner commented on #2063
The sudden drops in peer count are potentially related to #2155.

[2021-01-14 22:40] paulhauner commented on #2087
Another option is to add a `Dockerfile` to the `lcli` directory which would allow users to build the image themselves (without setting up a Rust dev env). I personally prefer this over setting up our own dockerhub repository for `lcli`.

[2021-01-14 22:44] paulhauner commented on #2140
Resolved in #2142

[2021-01-14 22:44] #2140 closed

[2021-01-15 01:21] michaelsproul commented on #1307
Not yet, it's still as it was when this issue was written

[2021-01-15 07:48] mpetrunic commented on #2087
That doesn't really solve anything. It's easy to create docker image for lcli. The core issue is keeping it updated on code change in this repo 😄

[2021-01-15 10:44] joe-bowman opened #2157 "Beacon-nodes optionally round-robin / random"
## Description

Currently beacon node redundancy is ordered (which is a sensible default when your setup has a primary node, and a second one for failover scenarios); but in a situation where you have multiple beacon nodes for redundancy, and multiple validator nodes dependent on these, random assignment of beacon nodes would be preferable.

An optional parameter --bn-randomize (or similar), that

[2021-01-15 19:47] pixsll commented on #2053
After some time I've looked again at this issue.
I now understand why this has happened.
In validator_client there is this piece of code:
[code]
Now only upon starting validator client we're recursively going through all validators and if there exists corresponding secret file
 and this validator is not yet added to validator definitions, we're adding it.

I've encountered this issue because I was

[2021-01-15 20:16] paulhauner commented on #2157
I'm not convinced of on this one. Adding random choice adds a significant amount of complexity to the validator client, a critical component that we like to keep simple.

If you want to spread your VCs across BNs, I would suggest doing so at the devops layer (i.e., change the ordering of the `--beacon-nodes` flag manually). That way the user has more control and the VC is simpler.

In regards to l

[2021-01-15 20:37] joe-bowman commented on #2157
This was going to be my fall back; just adds a bunch of complexity my end :+1:

Does it not just require shuffling the endpoint Vector in /common/lib.rs (although I guess this has a similar impact on eth1 nodes, and we probably want to be able to randomise one exclusively of the other).

[2021-01-15 20:55] FelipeRosa commented on #2129
web3 also updated to tokio 1.0: https://github.com/tomusdrw/rust-web3/releases/tag/v0.15.0

[2021-01-17 12:08] MaxIsMyName opened #2159 "Contents of validator defs. file is deleted"
## Description

Having run out of space on my Geth ethereum 1 node, I switched over to infura and deleted the chaindata directory and stopped the Geth service. After syncing back up with the beacon, which is now running without errors, the validator client is refusing to validate.

In the logs, all I can see is:

[code]

## Version

1.0.6

## Present Behaviour

Validator exits

## Expected Behavio

[2021-01-17 12:34] michaelsproul commented on #2159
As discussed on Discord, I think this is a bug, as the validator definitions YAML ended up empty

I think a race condition like this is possible:

1. Lighthouse truncates file upon opening it in write mode (need to verify where this happens)
2. Disk is filled independently
3. Lighthouse fails to write the YAML because the disk is now full

[2021-01-17 12:58] MaxIsMyName commented on #2159
Solution that worked for me:

Re-import validator keys, something like this depending on your setup:
[code]

But note that you will have to edit the outputted validator_definitions.yml to add your password (https://lighthouse-book.sigmaprime.io/validator-management.html).

[2021-01-17 22:47] paulhauner commented on #2157
Yeah, I feel you. We use Ansible and had to deal with the assignment of VCs to BNs as well, it's a bit awkward. On our end we needed to ensure an even distribution, so randomness wouldn't work for us as there's a decent chance of a double-assignment.

We could shuffle the incoming list, but we'd still have the behaviour where the first in the list is used the majority of the time (or, all of the t

[2021-01-17 22:49] paulhauner commented on #2159
I believe I've seen this before as well. I'm going to flag it as a bug.

[2021-01-18 12:27] xaviarias opened #2161 "Docker image doesn't contain lcli command"
## Description

I'm trying to run the Docker latest unstable using the Local Testnet scripts, but doesn't contain Lighthouse binaries:

`lcli: command not found`

## Version

Building from Docker [latest unstable image](https://hub.docker.com/layers/sigp/lighthouse/latest-unstable/images/sha256-a4c2e9ff5e06fdf6e7ebed86bf7545e27cf24edbba9ab10d9c9ea49f90d5e1f5).

## Present Behaviour

When starting

[2021-01-18 13:18] michaelsproul commented on #2161
Closing as a duplicate of https://github.com/sigp/lighthouse/issues/2087

We hope to improve this soon

[2021-01-18 13:18] #2161 closed

[2021-01-19 06:31] paulhauner commented on #2157
I'll close this for now, let me know if anyone really wants this feature.

[2021-01-19 06:31] #2157 closed

[2021-01-20 15:03] pawanjay176 commented on #2129
warp seems good to go as well https://github.com/seanmonstar/warp/releases/tag/v0.3.0

[2021-01-20 19:18] realbigsean commented on #1205
I had a couple questions about this after looking at #2070
- is there any reason not to use `ZeroizeString` everywhere?
- is there any reason not to remove `PlainText` entirely (are there any places we may still may want a zeroizing `Vec<u8>`)?

[2021-01-20 19:30] realbigsean commented on #2133
Closing this because it looks like this will be updated in the API spec: https://github.com/ethereum/eth2.0-APIs/pull/121

[2021-01-20 19:30] #2133 closed

[2021-01-21 01:00] paulhauner opened #2169 "Allow attesting to older slots"
## Description

#2130 resolves an immediate issue in a brute-force manner.

However, we could provide protection for the described attack whilst still allowing attestation production for *some* previous slots. If we have the head `BeaconState` then there's no reason we can't attest to earlier slots in it's current epoch or all slots in it's previous epoch (this is because the shuffling is known fo

[2021-01-21 04:19] #2064 closed

[2021-01-21 04:19] #2120 closed

[2021-01-21 10:30] ayushmishra2005 commented on #1720
@paulhauner I would like to pick this issue. As a first step, I have raised a PR in `blst` library https://github.com/supranational/blst/pull/52/files to expose safe blst_scalar constructors.

Once this PR gets merged, I would make corresponding changes here https://github.com/sigp/lighthouse/blob/32338bcafa90e481fc841a94bb7c9016fdc34664/crypto/bls/src/impls/blst.rs#L67-L73

[2021-01-21 23:42] paulhauner commented on #2099
Tokio https://github.com/tokio-rs/tokio/pull/3270 has been merged into their `master` so I assume we'll see a release soon.

[2021-01-22 00:14] paulhauner commented on #2099
It seems [`tokio_util`](https://crates.io/crates/tokio-util) was updated to `0.6.2` and that contains https://github.com/tokio-rs/tokio/pull/3270.

[2021-01-22 08:18] b-m-f opened #2170 "Beacon-node crashing on Mainnet"
## Description

This morning my beacon-node crashed with
[code]

## Version

1.0.6

## Present Behaviour

Upgraded to 1.1.0 already

## Expected Behaviour
Not crash

## Steps to resolve

No idea, also cant reproduce as the validator is live

[2021-01-22 09:19] pawanjay176 commented on #2170
@b-m-f what hardware setup are you using?

[2021-01-22 13:56] b-m-f commented on #2170
@pawanjay176
Debian 10
1vCPU
2GB RAM

Will take a look at the Grafana DashBoard later to see if there is helpful information

[2021-01-23 12:45] b-m-f commented on #2170
So here is a small update:

All except one metric seem to be normal and similar before and after the crash.
The only thing that stands out is the following:

![image](https://user-images.githubusercontent.com/2843450/105578533-45e91680-5d81-11eb-971a-1a728a3b4fc5.png)

[2021-01-24 20:50] realbigsean commented on #2129
Ive started working on this

[2021-01-24 22:37] paulhauner commented on #2170
Looks very similar to this other tokio panic: https://github.com/sigp/lighthouse/issues/2099

[2021-01-25 02:37] Yoldark34 commented on #1788
@stefa2k
Workaround for beacon node with validator monitor.

`validator_monitor_unaggregated_attestation_total*384`
Gives you the qty of seconds since restarted

Reduce to the last value if you got multiple validator. It will provide you with a good enough estimation of when your beacon node restarted.

Still looking for a reliable not resource intensive way to know when the validator process rest

[2021-01-25 14:28] Yoldark34 commented on #1788
@stefa2k
For the validator process :

`vc_signed_attestations_total*384 reduced / with validator_monitor_validators_total`
I dont undestand why i can't do in a single query
`vc_signed_attestations_total/validator_monitor_validators_total*384`

Best regards

[2021-01-26 11:54] manuelsc opened #2176 "Could not publish message"
## Description

I'm getting random "Could not publish message: InsufficientPeers" errors from libp2p when publishing attestations. I'm suspecting my internet connection to be the root cause of this. It's not down but it appears that there's quite a high packet drop rate.

So I'm getting errors that the message could not be published but lighthouse logs it as "Successfully published attestations".

[2021-01-27 06:42] pawanjay176 commented on #2176
@manuelsc
The `Successfully published attestations` log you are getting is a validator client log. It basically implies that the VC created a valid attestation and successfully sent it to the beacon chain via http api for the beacon chain to publish. It doesn't guarantee that the beacon chain published it correctly to the network.

Regarding the `InsufficientPeers` , there was a bug in 1.0.6 where

[2021-01-28 11:29] manuelsc commented on #2176
@pawanjay176 thanks for the update. I tried 1.1.0 again which resolved the "Could not publish" errors. I still missed attestations but that was on me, for some reason the ntp client wasn't running. Sorry for the mistake, everything is working now :)

[2021-01-28 11:29] #2176 closed

[2021-01-31 00:29] clifton commented on #2134
This happened to me on ubtuntu 18.04 in wsl2 in a docker container twice (once about a month ago and again this morning)

[2021-02-03 12:20] BeroBurny opened #2185 "Aggregate and profs"
## Description

Use lighthouse beacon node with chain safe's lodestar-validator attestations work fine
but when comes to `aggregate and profs` sometimes HTTP return 200 but most time is `400` with an error `Verification: InvalidSelectionProof`

## Version

**docker** sigp/lighthouse:v1.1.0

## Present Behaviour

**POST** `/eth/v1/validator/aggregate_and_proofs`
with body
[code]

return error **400

[2021-02-03 12:29] BeroBurny opened #2186 "bn /eth/v1/beacon/blocks/{block_id} return wrong information on skipped block"
## Description

Making get request on skipped block return earliest not skipped block

## Version

**docker** sigp/lighthouse:v1.1.0

## Present Behaviour

GET /eth/v1/beacon/blocks/554465
https://pyrmont.beaconcha.in/block/554465

return information of block 554464
https://pyrmont.beaconcha.in/block/554464

## Expected Behaviour

GET /eth/v1/beacon/blocks/{block_id} (on skipped block)
should retu

[2021-02-04 23:48] paulhauner commented on #2185
I can see @realbigsean is taking this one on, thanks Sean :) FWIW, the first thing I would do is see if the selection proof passes [`is_aggregator`](https://github.com/ethereum/eth2.0-specs/blob/dev/specs/phase0/validator.md#aggregation-selection). From the block root it seems like @BeroBurny is running this on Pyrmont.

[2021-02-05 21:31] realbigsean commented on #2185
This is failing for me:
[code]

[2021-02-08 07:46] mpetrunic commented on #2185
You are using mainnet spec here from what i see, but that aggregate is from pyrmont.

[2021-02-08 16:08] realbigsean commented on #2185
I updated to this to be more accurate (I think the only spec config used here is `TARGET_AGGREGATORS_PER_COMMITTEE` which is the same on both networks anyways), but it's still failing for me:

[code]

[2021-02-10 23:07] paulhauner opened #2189 "Use tokio-stream BroadcastStream"
## Description

#2172 by @realbigsean introduces the `BroadcastStream` which is copy-pasted from a tokio PR:

https://github.com/sigp/lighthouse/blob/d06dd14f549ba9e0315dd6413c45e797bcf357cd/beacon_node/http_api/src/broadcast_stream.rs

Once https://github.com/tokio-rs/tokio/pull/3384 makes it into a release we should replace our copy-paste implementation with an import from `tokio-stream`.

[2021-02-15 06:47] paulhauner commented on #2185
I'm going to close this for now, it seems like the aggregate was indeed invalid. Feel free to re-open if you find otherwise :)

[2021-02-15 06:47] #2185 closed, assigned to realbigsean

[2021-02-15 06:47] paulhauner commented on #2129
Resolved in #2172

[2021-02-15 06:47] #2129 closed

[2021-02-15 06:49] paulhauner commented on #2099
Hopefully resolved in #2172, which includes `tokio-util 0.6.3`.

[2021-02-15 06:49] #2099 closed

[2021-02-15 06:51] paulhauner commented on #1053
Closing this since genesis has come and gone.

[2021-02-15 06:51] #1053 closed

[2021-02-15 06:54] paulhauner commented on #1720
I'm going to close this since BLST doesn't seem interested in providing the functionality.

[2021-02-15 06:54] #1720 closed

[2021-02-15 09:45] ixaeon commented on #2074
Since the graffiti-file isn't critical to system function, it could be its own file separate from `validator_definitions.yml` which would be less specific and make sense for the beacon to use.

The user gets the benefit of being able to simply replace or edit a single file that won't interfere with system operation or cause anything to need reloading.

[2021-02-15 19:18] pawanjay176 commented on #2074
@ixaeon added support for a separate graffiti file in #2044

[2021-02-16 00:06] michaelsproul commented on #2113
One problem with this approach: it's hard to fill in the state roots at skipped slots, at least initially. I'm going to pursue more drastic database changes and then reconsider whether this change is necessary. Closing for now

[2021-02-16 00:06] #2113 closed

[2021-02-16 15:30] sandakersmann opened #2203 "Error compiling v1.1.1 on Ubuntu 20.04"
**Get this error while compiling:**

Compiling validator_client v0.3.5 (/home/ethereum/git/lighthouse/validator_client)
error[E0658]: use of unstable library feature 'bool_to_option'
  --> beacon_node/network/src/nat.rs:55:46
   |
55 |                     interface.ip().is_ipv4().then(|| interface.ip())
   |                                              ^^^^
   |
   = note: see issue #64260 <https:

[2021-02-16 15:56] realbigsean commented on #2203
@sandakersmann can you check what version of rust you are compiling with? `rustc --version` you'd get this error if you haven't updated to `1.50.0`, which was recently released

[2021-02-16 16:15] wouterdegeus opened #2204 "Validator node not starting"
## Description

Was running v1.1.0 just fine (both Beacon and Validator nodes), built v1.1.1 and restarted. Beacon node comes up just fine, validator node gets stuck after `INFO Starting validator client` message.

Note that I'm building this using Docker with a somewhat customized Dockerfile to have it run as non-root user:
[code]

When starting the new version it begins with a warning and then s

[2021-02-16 16:24] sandakersmann commented on #2203
@realbigsean Thanks :) Updated Rust and now it works.

[2021-02-16 16:24] #2203 closed, assigned to nobody

[2021-02-16 16:26] realbigsean commented on #2204
@wouterdegeus could you share the commands you are using to start up the BN and VC? I think this might be due to an issue parsing a url associated with the `--http-allow-origin` flag.

this looks like where the panic is coming from: https://github.com/seanmonstar/warp/blob/29651e9adaff8ced761b0a0e61e1e729abe18271/src/filters/cors.rs#L619

[2021-02-16 16:31] wouterdegeus commented on #2204
Using docker-compose, command for the beacon node:
[code]
Validator:
[code]
The graffiti tag comes from my .env file.

[2021-02-16 16:35] realbigsean commented on #2204
Thanks!

I'd try removing `--metrics-allow-origin '*'` from both commands, and see if that fixes things. It might mess up your ability gather metrics for the time being, but I'll start looking into a fix

[2021-02-16 16:49] wouterdegeus commented on #2204
That fixes it - node is now up and running on v1.1.1 without warnings.
Appears like my prometheus can access it without the allow-origin specification, so this is probably more secure anyway. I've been tinkering with the monitoring config last month :)
Thanks!

[2021-02-16 16:58] #2204 closed, assigned to nobody

[2021-02-16 18:39] realbigsean opened #2205 "Cors wildcard panics"
## Description

It seems like `--http-allow-origin` and `--metrics-allow-origin` can no longer parse `'*'`, as seen in #2204 .  I'm not sure about where we lost this ability but we had added a change to warp here a while ago:

https://github.com/paulhauner/warp/commit/a7685b76d70c3e5628e31d60aee510acec3c5c30

In order to set the `Access-Control-Request-Headers` to `*` instead of `null`.

## Versio

[2021-02-16 20:30] onchained opened #2207 "Failing to compile v1.1.1"
## Description

trying to compile throws the following error:
```error: failed to run custom build command for "openssl-sys v0.9.60"```

## Version

Rust version is 1.50
Trying to compile v1.1.1
Using Ubuntu 20.04.1 LTS

## Present Behaviour

Describe the present behaviour of the application, with regards to this
issue.

## Expected Behaviour

How _should_ the application behave?

## Steps to reso

[2021-02-16 21:07] paulhauner commented on #2205
I vaguely recall trying to use null but it had a different effect.

We might have to update our fork again.

[2021-02-17 17:57] maurodelazeri opened #2208 "Validator node does not start after updating from v1.1.0 to v1.1.1"
## Description

Please provide a brief description of the issue.

I use the client with docker... I cant update from the previous version to the new version

Previous version:

[code]

New version: latest

## Version

Please provide your Lighthouse and Rust version. Are you building from
`stable` or `unstable`, which commit?

[code]

## Present Behaviour

The beacon node works fine, but the valida

[2021-02-17 17:59] maurodelazeri commented on #2208
the example above is the `testnet`, I normally leave it running for a while before put it in the mainnet

[2021-02-17 18:58] realbigsean commented on #2208
Hi @maurodelazeri , this is because the wildcard symbol`'*'` isn't available for the `--http-allow-origin` and `--metrics-allow-origin` flags at the moment. It isn't supported in one of our upstream dependencies, and we had added it into a forked version as a workaround, but during latest lighthouse update we've moved back to the original dependency. So you could either remove the flags entirely (

[2021-02-17 18:58] realbigsean commented on #2208
Closing this because it's a duplicate of #2205

[2021-02-17 18:58] #2208 closed, assigned to nobody

[2021-02-17 19:01] realbigsean commented on #2207
@onchained would you mind sharing a larger sample of logs? And are you building using `make` ?

[2021-02-17 21:36] maurodelazeri commented on #2208
hey @realbigsean got it... I will keep running the 1.1.0 and follow the #2205
Thanks

[2021-02-18 07:10] ChosunOne commented on #2205
Just experienced this error myself.  This is pretty serious as I was starting to lose eth after upgrading.

[2021-02-18 20:45] onchained commented on #2207
@realbigsean  Yep, building using make.

These are the logs:

[code]

[2021-02-19 02:21] #2205 closed, assigned to nobody

[2021-02-19 03:09] maurodelazeri commented on #2205
Updated, looks good!

[2021-02-19 03:17] paulhauner commented on #2204
Thanks for raising this thoughtful and detailed issue @wouterdegeus :)

A fix has been released in https://github.com/sigp/lighthouse/releases/tag/v1.1.2

[2021-02-19 03:19] paulhauner commented on #2205
For the record, a fix has been released in https://github.com/sigp/lighthouse/releases/tag/v1.1.2

[2021-02-19 14:27] realbigsean commented on #2207
I'm not able to reproduce this. But it seems similar to this issue: https://github.com/sfackler/rust-openssl/issues/1356

Maybe you need to update `make`? `sudo apt update ; sudo apt-get install build-essential`

[2021-02-19 16:06] onchained commented on #2207
Tried updating make, but the issue is still happening.

I will try restarting the node 🤷

[2021-02-19 18:29] realbigsean opened #2214 "False positive `WARN` logs `State advance too slow`"
## Description

Seems like this log happens whenever `current_slot` is an orphaned block

## Version

v1.1.1

[2021-02-20 03:25] ethDreamer commented on #2107
I'll check this out this weekend

[2021-02-20 06:24] Wazzymandias opened #2215 "Beacon Node memory spikes and crashes, nonstop loop ENR address update"
## Description

Intermittently the beacon node spikes in memory usage and consumes all memory and swap of the host system.
The spike in memory usage occurs after a large amount of messages related to updating and persisting ENR.

## Version

Reproduced in 1.1.0+ using lighthouse docker images

Lighthouse Beacon Client Docker Images
- sigp/lighthouse:v1.1.0
- sigp/lighthouse:v1.1.1
- sigp/lighthous

[2021-02-20 08:16] pawanjay176 commented on #2215
I believe this is an issue with IPV6. Disabling ipv6 should work as a temporary fix.

[2021-02-20 09:02] shamanov-d commented on #2215
A similar problem, I wonder what it happens to different people=/

[2021-02-20 09:13] shamanov-d commented on #2215
flag `--disable-enr-auto-update` - as a temporary, not entirely correct solution, it will also work.

[2021-02-20 18:22] pawanjay176 commented on #2215
`--disable-enr-auto-update` might give issues with discovering peers. Better to disable ipv6 on your machine.

[2021-02-21 03:42] paulhauner commented on #2215
Please see https://github.com/sigp/lighthouse/pull/2216#issuecomment-782790555 for a hotfix to this issue.

[2021-02-22 01:13] ethDreamer commented on #2107
Okay so... may have bitten off more than I could chew in a weekend lol. But I made some good progress before getting blocked by unanswered questions.

This is what's giving me the most trouble. This implies a mixing across layers (discv5 & libp2p), not sure if that's necessarily bad.

Checking for liveness upon discovery of a new node is discouraged in the [discv5 spec under 'Table Maintenance In

[2021-02-22 08:25] paulhauner commented on #2215
Resolved in #2216. Thanks for the detailed report @Wazzymandias!

[2021-02-22 08:25] #2215 closed, assigned to nobody

[2021-02-22 08:29] paulhauner commented on #2214
Resolved in #2218

[2021-02-22 08:29] #2214 closed, assigned to nobody

[2021-02-22 10:04] wouterdegeus opened #2220 "Lighthouse Beacon node OOM"
## Description

After I got a notice regarding my Validator missing an attestation I went through the logs to find it unable to connect to the Beacon Node.
Checking the Beacon Node it became clear that it got stuck in some sort of loop, which after a while triggered the OOM killer (freeing up to 15GB of memory from what I see in Grafana).

The logs show this:
[code]
Until OOM finally kills it.
A q

[2021-02-22 11:08] michaelsproul commented on #2220
Hi @wouterdegeus! Thanks for the detailed bug report. This is a known issue that was fixed in v1.1.3 released just a few hours ago. Please try that release and let us know if your problems persist!

Closing as a duplicate of https://github.com/sigp/lighthouse/issues/2215, will re-open as necessary

[2021-02-22 11:08] #2220 closed, assigned to nobody

[2021-02-23 01:33] onchained commented on #2207
No success here.

[2021-02-23 12:14] AgeManning commented on #2107
Hey!
Yeah, the issue itself is somewhat easy to implement, but understanding everything that is going on requires a bit of background knowledge, which it sounds like you dove into.

Let me try and answer your questions sequentially.

This is a good point. I'm not sure about this either. In theory, we should keep the DHT as large as possible. In Eth2 we've added some keys to the ENR that help us id

[2021-02-23 17:53] potuz commented on #635
Ever since prysm added a flag to attest as soon as a block is received, in version 1.2.0, their Discord channel has received several complains from users holding many keys.  Since when they propose a block, typically they will be attesting on the same slot, and some of the attestations go missing. This is presumably due to the fact that the attestation leaves the server right after the block, but

[2021-02-24 00:21] AgeManning commented on #635
Yeah. I think its fine to send the attestation with the block. Once this issue is resolved, we would cache the attestation, search for the block via the RPC and re-process the attestation. In this sense, it should be handled gracefully, provided the block is available from a peer that forwarded it.

[2021-02-24 16:02] realbigsean commented on #2207
You could try `make clean` and re-cloning the project, but I'm not sure what else to suggest because I'm not able to reproduce it :/

[2021-02-24 18:01] mFarghaly opened #2224 "Add [--password-path] flag to [lighthouse account validator import] subcommand"
## Description
Currently `lighthouse account validator import` subcommand only supports reading password interactively or reading from stdin.

## The problem
In environments like Kubernetes, container can't read input from stdin and can't work interactively

### Version
we're using latest released version `v1.1.3`

### Expected behavior
`lighthouse account validator import` should accept `--passwo

[2021-02-24 23:41] paulhauner commented on #2224
Thanks @mFarghaly, good suggestion.

After discussion with @realbigsean, there's two design questions here:

1. The `validator import` command can import multiple validators. How do we handle that?

I think the simplest solution would be to require `--reuse-password` when `--password-path` is supplied, meaning that the password file contains a single password which applies to all validators. Would

[2021-02-25 00:08] mFarghaly commented on #2224
This works!

Another approach is `--password-path` can be used only with `--keystore` option to import a single keystone at a time. In other words `--password-path` can't be used with `--directory` option.

Prioritizing security here, I prefer reading password content from password path, or copying the file to `{data dir}/secrets/{validator public key}` to make sure it won't cause an issue if user

[2021-02-25 12:01] mcdee opened #2225 "Feature request: add beacon node version to prometheus metrics"
## Description

It would be handy to expose the version of the beacon node through a prometheus metric.

## Version

Feature request.

## Present Behaviour

The version is available through logs but that isn't so useful for remote monitoring.

## Expected Behaviour

A prometheus metric like:

[code]

would be nice. Additional labels can be added for other items if desired (commit hash or whatever)

[2021-02-25 22:19] michaelsproul commented on #1787
Another instance on Discord today after power failure:

[code]

[2021-02-25 23:00] paulhauner commented on #2225
I agree, great suggestion.

[2021-02-25 23:38] paulhauner commented on #2224
I'm not necessarily opposed to it, but that would be different to the current behaviour of `validator import`. What's the benefit you see for password in `{data dir}/secrets/{validator public key}` vs. `validator_definitions.yml`?

[2021-02-26 00:16] michaelsproul commented on #1013
Another one to remove, `.abs()` from fork choice

[2021-02-26 03:26] Jayhem opened #2227 "feature request - Add a way to remove the deposit data"
## Description

In some cases the deposit data gets corrupted when running the beacon with redundant eth1 endpoints. When this happens the beacon cannot recover, it would be useful to give the user an option to remove the deposit data via a flag/option.

## Version
Lighthouse v1.1.3-46920a8
BLS Library: blst
Specs: mainnet (true), minimal (false), v0.12.3 (false)

## Present Behaviour

The only wa

[2021-02-26 03:36] michaelsproul commented on #2227
I think the `--eth1-purge-cache` flag solves your problem? (`lighthouse bn --eth1-purge-cache`)

Although I agree with your broad point that we should be able to recover from faulty Eth1 nodes more readily

[2021-02-26 06:35] pawanjay176 commented on #2227
Ideally, the eth1 syncing should recover (should stop logging `NonConsecutive` errors) once you point it to a correctly synced endpoint. If you haven't yet purged your eth1 cache with the `--eth1-purge-cache` option yet, it'd be helpful if you could send us the output from
`curl localhost:5052/lighthouse/eth1/syncing`
`curl localhost:5052/lighthouse/eth1/deposit_cache`

[2021-02-26 15:24] mFarghaly commented on #2224
gotcha! there's no big difference.

[2021-02-26 16:38] Jayhem commented on #2227
I have erased the db and restarted a couple of days ago, so I cannot provide this info.
I had it happen twice fairly quickly by simply having 2 remote eht1 endpoints configured, so maybe that is a configuration you would want to test out.

[2021-02-28 22:54] ethDreamer commented on #2107
@AgeManning

ahhh I see now thanks.

Okay I *think* my latest update to #2219 should do that. There's a few points that need closer inspection though:

1. I didn't have enough time this weekend to ensure that I inserted these things at the best place in the code
2. If newly inserted peers are successfully dialed, they will become peers, not sure if that's an issue
3. I didn't ensure that network_g

[2021-03-01 01:03] paulhauner opened #2232 "Spec v1.0.1"
## Description

[Spec v1.0.1](https://github.com/ethereum/eth2.0-specs/releases/tag/v1.0.1) claims it has some new tests:

I haven't looked at the tests, but we should review them and implement them (or declare why we aren't going to).

[2021-03-01 01:04] paulhauner commented on #2232
@michaelsproul you might find this interesting :)

[2021-03-01 01:04] michaelsproul commented on #2232
Oh yeah I'm happy to take this :+1: Should be straight-forward

[2021-03-01 01:07] paulhauner commented on #1788
Oh I understand. Sorry, I was reading this as "the duration LH took to start up" instead of "the timestamp at which LH was started".

This seems quite easy to achieve.

[2021-03-01 06:30] pawanjay176 commented on #2227
I have somehow never been able to replicate this issue locally, even with OE and Nethermind nodes as fallbacks.

Closing this as we already have a way to remove deposit data, feel free to reopen :)

[2021-03-01 06:30] #2227 closed, assigned to nobody

[2021-03-01 07:43] paulhauner opened #2236 "HF1 Fork Choice"
## Description

HF1 introduces two changes to fork choice, as Vitalik has documented [here](https://notes.ethereum.org/@vbuterin/HF1_proposal#Proposed-fork-choice-changes-for-approximately-simultaneous-deployment-with-HF1):
- Block/slot fork choice
    - PR: https://github.com/ethereum/eth2.0-specs/pull/2197
    - [Paper](https://econcs.pku.edu.cn/wine2020/wine2020/Workshop/GTiB20_paper_8.pdf)
-

[2021-03-02 03:05] michaelsproul opened #2237 "Resolve RUSTSEC-2020-0146"
## Description

Our current version of `libp2p` depends transitively on `generic-array 0.12.3` which is vulnerable https://rustsec.org/advisories/RUSTSEC-2020-0146

[2021-03-02 03:53] michaelsproul commented on #2237
Updating libp2p alone doesn't help, `libsecp256k1` and `warp` are also problematic (even with #2238 merged)

[code]

Dep graph generated using `cargo deny check bans` and this `deny.toml`:

[code]

[2021-03-02 22:27] michaelsproul commented on #2237
`generic-array` has released a patched `0.12.4` version which we can upgrade to, PR incoming

[2021-03-04 02:39] #2237 closed, assigned to nobody

[2021-03-04 02:39] #1787 closed

[2021-03-04 02:40] #2232 closed, assigned to michaelsproul

[2021-03-05 12:57] pawanjay176 commented on #2074
Fixed in #2044

[2021-03-05 12:57] #2074 closed

[2021-03-05 15:25] parithosh commented on #2127
Retested on `v1.1.3` and it now behaves as expected. The validator doesn't crash anymore and instead waits + polls the beacon again.

[2021-03-05 15:25] #2127 closed

[2021-03-06 11:39] Chain-Fox opened #2245 "beacon_node/store: potential deadlock in hot_cold_store.rs"
## Description

Following #1241, for parking_lot::RwLock, “attempts to recursively acquire a read lock within a single thread may result in a deadlock.” I found two pairs of locks that may have potential deadlocks through static analysis, both in beacon_node/store/src/hot_cold_store.rs.

https://github.com/sigp/lighthouse/blob/46920a84e857d6c086adf4b42810ac03de94ed3e/beacon_node/store/src/hot_cold

[2021-03-07 04:29] michaelsproul commented on #2245
This is awesome, thank you! I'll look at implementing fixes this week, and will read some more about your tool to see if it's something we could incorporate into our CI process

[2021-03-09 08:51] olelis opened #2250 "Wrong block returned when you fetch information about orphaned/missed blocks"
## Description

When you fetch information about orphaned block, then it shows information about previous block,
For example, if you do following request: `/eth/v1/beacon/blocks/57223`, system will return information about slot `57222`

[code]

Same happens for "missed" blocks, for example, query `/eth/v1/beacon/blocks/123` returns slot 122

However, this works fine for normal, existing blocks.

#

[2021-03-10 05:30] #1621 closed

[2021-03-10 05:30] #2189 closed, assigned to realbigsean

[2021-03-10 05:30] #1788 closed

[2021-03-10 23:12] michaelsproul opened #2254 "Restarting Lighthouse sometimes stalls due to in-use sockets"
## Description

Some users have reported that Lighthouse cannot be restarted quickly due to TCP ports not being freed immediately after process exit. After a bit of research, it seems that this is a consequence of TCP's design, and that most operating systems wait 30-120 seconds after socket closure in order to avoid delayed packets being sent to a new listener. This thread has a good summary: htt

[2021-03-10 23:15] michaelsproul commented on #2254
This may also be the source of some CI failures:

[code]

https://github.com/sigp/lighthouse/runs/2001822504?check_suite_focus=true

[2021-03-11 08:13] Yoldark34 commented on #1788
Thanks <3

[2021-03-12 12:14] vsmelov opened #2255 "sample issue"
please check that it does not break the oracle

[2021-03-12 12:16] #2255 closed, assigned to nobody

[2021-03-12 12:49] vsmelov opened #2256 "sample issue"
please check that it does not break the oracle

[2021-03-12 12:49] #2256 closed, assigned to nobody

[2021-03-12 12:51] michaelsproul commented on #2256
please stop doing this

[2021-03-12 12:55] michaelsproul commented on #2256
sorry, after seeing https://github.com/sigp/lighthouse/issues/2255 I assumed this was spam, did you intend this as a note for yourself on a fork of Lighthouse or another repo?

[2021-03-13 14:25] omniproc commented on #2139
@elsesiy true but what's the use case? You want to make sure requests are authenticated.  Infura offers the *option* to speficy a user-agent to somewhat limit access but that doesn't really protect you from much and it certainly isn't desireable over HTTP basic auth. Basic auth is as good as anything to fullfill the requirement you initially named. Why do you need bearer auth?

[2021-03-14 22:43] paulhauner commented on #2186
As an update to those watching, it's not immediately clear what the return result *should* be: https://github.com/ethereum/eth2.0-APIs/issues/126

However, I think it's reasonable for us to start returning 404 on skipped blocks. That seems to be what other clients have assumed.

[2021-03-14 22:43] paulhauner commented on #2250
Thanks @olelis. This exists at https://github.com/sigp/lighthouse/issues/2186 so I'll close this for now.

[2021-03-14 22:43] #2250 closed, assigned to nobody

[2021-03-14 23:07] paulhauner commented on #2139
@elsesiy I'd be interested in the following:

- Are there any providers which *don't* work with the simple token-in-the-url scheme?
- Do the other eth2 or eth1 clients already provide this header functionality?

It's a reasonable amount of complexity to add these headers and I'm not sure exactly what's to gain. When using HTTPS the information in the URL is encrypted in exactly the same way as the

[2021-03-15 01:00] paulhauner commented on #2236
Closing this since the change has been abandoned for Altair. See:

- Block/slot: https://github.com/ethereum/eth2.0-specs/pull/2197#issuecomment-796282145
- Balance attack: https://github.com/ethereum/eth2.0-specs/pull/2101#issuecomment-796278060

[2021-03-15 01:01] #2236 closed, assigned to paulhauner

[2021-03-15 06:43] paulhauner opened #2258 "Add support for --network prater"
## Description

The Prater testnet is launching next week and we need to include it's config in a release before then: https://github.com/eth2-clients/eth2-testnets/pull/40

We should add it to our "baked-in" configs so we can do things like `lighthouse --network prater bn`.

[2021-03-15 06:49] paulhauner opened #2259 "Publish the ssz crate to crates.io via CI"
## Description

I own the [`eth2_ssz`](https://crates.io/crates/eth2_ssz) crate which has a very outdated version of SSZ.

It would be nice to add something to CI to ensure that we keep that crate updated whenever we merge to `stable`. I could quite easily create an additional owner for the crate and then add their credentials to CI.

[2021-03-16 15:03] djoyahoy opened #2262 "Feature Request: Add flag to validator client for custom CA certs"
## Description

I would like a flag to provide custom CA certificates to the validator client when connecting to the beacon http endpoint.

## Version

N/A

## Present Behaviour

Users need to have custom ca certs installed on the OS.

## Expected Behaviour

Users can supply a flag to the validator client to use custom ca certs.

[2021-03-16 19:42] pawanjay176 commented on #2254
Turns out libp2p has `SO_REUSEADDR`  set for all its tcp sockets by default (https://github.com/libp2p/rust-libp2p/blob/master/transports/tcp/src/lib.rs#L330).

From the socket [docs](https://man7.org/linux/man-pages/man7/socket.7.html) for `SO_REUSEADDR`

We always bind to `0.0.0.0` in libp2p and I think that's why we sometimes see `AddrInUse` errors inspite of our sockets having the  `SO_REUSEAD

[2021-03-18 02:52] michaelsproul opened #2267 "Fix TimedOut errors in no-eth1-simulator"
## Description

Tracking issue with notes + info for the issue plaguing CI, e.g.

https://github.com/sigp/lighthouse/runs/2135710154

[2021-03-18 02:54] michaelsproul commented on #2267
Continuing from https://github.com/sigp/lighthouse/pull/2263#issuecomment-801536332

I think we may be hitting an instance of https://github.com/seanmonstar/reqwest/issues/1067, whereby the read of the response is timing out for some reason.

[2021-03-18 03:05] michaelsproul commented on #2267
I'm thinking now it must be a race condition involving the beacon nodes getting dropped

[2021-03-18 04:24] paulhauner commented on #1932
Did you mean to reopen this @pawanjay176?

[2021-03-18 05:36] michaelsproul commented on #2267
Fixed by Paul in #2263

[2021-03-18 05:36] #2267 closed, assigned to nobody

[2021-03-18 06:59] pawanjay176 commented on #1932
Nope, I did want to close. Thought it gets closed magically when the PR lands on stable.
Closing now.

[2021-03-18 06:59] #1932 closed

[2021-03-18 07:23] #2052 closed

[2021-03-18 07:23] #2258 closed, assigned to pawanjay176

[2021-03-18 07:50] paulhauner commented on #2170
Closing since we believe this is resolved in #2172.

[2021-03-18 07:50] #2170 closed

[2021-03-18 12:49] Brianfit opened #2271 "Silent Failure after Cache Lock Timeout"
## Description

After a brief loss of connectivity and Cache Lock Timeout, Lighthouse continues to log Block Received and Synced messages despite attestations actually failing

## Version

Lighthouse v1.1.3-46920a8

## Present Behaviour

VC fails, Attestations fail, log carries on with INFO messages

## Expected Behaviour

VC fails, Attestations fail, log issues CRIT or ERRO warning that VC is dow

[2021-03-18 13:06] pawanjay176 commented on #2271
Could you reupload the logs? I think it didn't upload properly.

[2021-03-18 16:09] Brianfit commented on #2271
@pawanjay176 Sorry about that. Fixed.

[2021-03-18 22:57] michaelsproul commented on #2271
Interpreting the logs:

1. It looks like the Lighthouse beacon node (PID 251005) was killed by the OOM killer, and its resident set size was ~3.79GB when it was killed. This is about what we expect these days for mainnet, without the use of the [memory allocator hack described here](https://lighthouse.sigmaprime.io/update-34.html) (which we are not yet ready to enable universally).
2. Your `system

[2021-03-18 23:15] michaelsproul commented on #2271
I'm trying to work out what systemd configuration would case the behaviour you're experiencing. Would you mind posting the contents of any Lighthouse-related `.service` files from `/etc/systemd/system/`?

[2021-03-19 17:47] Brianfit commented on #2271
Thanks, Michael. I appreciate the detailed forensics -- very helpful. And to be clear, I was back up and running on reboot. I've been preparing a move of Geth on to another Pi to reduce memory pressure, and will finish that job this weekend. I've had a couple other instances of out-of-memory events, but I thought I'd solved it by removing glances as a background process.

Not knowingly! I followed

[2021-03-19 21:52] djoyahoy opened #2273 "Feature Request: Add flag to specify location of slashing protection database file"
## Description

I would like a flag on the validator client that allows me to specify where the slashing database file is written. This would allow me to separate the slashing database from sensitive keystore data.

## Version

N/A

## Present Behaviour

Currently, the database is written to the validators dir, which also contains the definitions file and keystore data.

## Expected Behaviour

The

[2021-03-20 03:12] michaelsproul commented on #2273
Good idea! I think this is something we could safely implement. We'll look into it next week

[2021-03-20 03:46] michaelsproul opened #2274 "Consider being less strict about chain spec in VC"
## Description

Currently a Lighthouse VC will reject any unknown fields included in a chain spec fetched from its BN. This has caused Lighthouse VCs to stop working with Teku BNs hosted by Infura, which is unfortunate.

See the corresponding issue on the Teku repo for more information: https://github.com/ConsenSys/teku/issues/3749

## Version

Lighthouse v1.2.1

[2021-03-21 02:54] paulhauner commented on #2274
This seems reasonable to me. Something irks me about silently accepting and then ignoring a configuration value, but it seems like it's better than the alternative.

[2021-03-22 09:06] pawanjay176 opened #2275 "/beacon/states/{state_id}/validators/validator_id returns incorrect error code"
## Description

The eth2 api https://ethereum.github.io/eth2.0-APIs/#/Beacon/getStateValidator spec is a bit unclear as to what to return when the validator_id is not present in the given state.
We return a 404 in this case. Teku seems to be returning 400. Found this incompatibility when testing a lighthouse pyrmont validator with a teku infura beacon node.
Got the error
[code]
## Version

unstabl

[2021-03-22 19:22] djoyahoy opened #2276 "Feature Request: Validator client logs should scrub beacon endpoint data"
## Description

The validator client logs the entire beacon http endpoint including basic auth fields. It should scrub sensitive information when logging.

## Version

Lighthouse v1.2.1-b34a79d
rustc 1.50.0

## Present Behaviour

Log lines which print the current beacon endpoint include auth data. For example:
[code]

## Expected Behaviour

The logs should scrub that information and simply output

[2021-03-23 01:28] AgeManning opened #2278 "Implement Altair P2P update"
## Description

The upcoming fork has some modifications to the RPC and gossip topics.

This is a tracking issue to implement the modifications specified in: https://github.com/ethereum/eth2.0-specs/pull/2244c

[2021-03-23 16:15] djoyahoy opened #2280 "Bug: Validator client is ahead of current epoch"
## Description

I have one beacon node and one validator running on separate pods in the same kubernetes namespace. They are running against the pyrmont test network. The validator is still submitting attestations correctly. However, the validator is intermittently reporting:

[code]

The client and the beacon containers report the same time and are running on the same node so I don't suspect ther

[2021-03-23 23:09] michaelsproul commented on #2280
I think this must be a consequence of #2243 where we removed a 100ms delay from the duties service. For now downgrading to v1.2.0 should be safe.

To resolve the issue I think we have a few options:

- Add the delay back in. I'm not fond of this option because it punishes nodes without clock sync issues by forcing them to always wait the delay. We could make the delay 0 by default and configurable

[2021-03-23 23:57] paulhauner commented on #2280
Hmm, interesting. AFAICT there's necessarily *some* clock drift happening here, but it could be very slight. I think we could do better to tolerate this drift, though.

I agree.

I also prefer this style of approach. My initial thoughts are to add a [`MAXIMUM_GOSSIP_CLOCK_DISPARITY`](https://github.com/sigp/lighthouse/blob/b34a79dc0b02e04441ba01fd0f304d1e203d877d/beacon_node/beacon_chain/src/beaco

[2021-03-25 04:59] michaelsproul commented on #1835
I'm removing this FIXME in https://github.com/sigp/lighthouse/pull/2279 because I don't think that test is relevant to us. The `Eth1Block` from the spec is a loosely defined object, and our `Eth1Block` has two more fields than it:

https://github.com/sigp/lighthouse/blob/b34a79dc0b02e04441ba01fd0f304d1e203d877d/common/eth2/src/lighthouse.rs#L173-L181

[2021-03-25 04:59] #1835 closed

[2021-03-25 16:41] djoyahoy commented on #2276
This behavior also appears in some of the prometheus metrics output by the `/metrics` endpoints. For example, the metrics `eth1_endpoint_requests` and `eth1_endpoint_errors`.

[2021-03-25 16:54] seh commented on #2276
I confirmed that the traces published via OpenCensus **don't** include these details.

[2021-03-25 23:00] paulhauner opened #2282 "Reduce eth_chainId and net_version calls to eth1 node"
## Description

I noticed that a significant portion (~30%) of our calls to eth1 nodes are to the `eth_chainId` and `net_version` endpoints. Here's a graph from Infura showing the usage from several BNs:

![infura](https://user-images.githubusercontent.com/6660660/112553865-66812b80-8e19-11eb-8e24-7d4adde0eae2.png)

Considering that Infura (and other services) are billed per-request, we could prov

[2021-03-25 23:15] paulhauner commented on #2276
Perhaps we can just include the base URL (i.e., http://infura.io) instead of the entire path. It is useful to know which endpoint is doing what.

[2021-03-26 05:17] michaelsproul commented on #1890
I think this is still an issue, based on the fact that slasher DB sizes are steadily increasing.

[2021-03-26 07:04] pawanjay176 commented on #2282
Additionally, I think we can safely increase the auto update interval for all eth1 calls from 7 seconds to atleast 1 minute. Given the `ETH1_FOLLOW_DISTANCE` being significantly large and the eth1 block time being 14 seconds, polling the eth1 node every 7 seconds is a waste of resources imo (after we are synced with the eth1 chain).  We would need ~ 1/8th the current requests with a 1 minute updat

[2021-03-29 11:55] andrejpodzimek commented on #1617
Automatic preference of IPv6 may not have been ideal 15+ years ago, but *today* is not 15+ years ago. :wink: IPv6 is (quite fortunately) preferred on most systems by default.

(IMHO, instead of an `--ipv6` flag, it might be better to require extra flags for sticking with IPv4, e.g. `--my-network-is-misconfigured`.)

Side-note: “Wildcard” sockets (bound to `::`) work perfectly fine with all sorts o

[2021-03-29 12:12] andrejpodzimek commented on #1617
[These](https://github.com/sigp/lighthouse/search?q=%22is+not+a+valid+IPv4+address%22) are (some of) the code locations in `lighthouse` that explicitly require IPv4. I’m struggling to understand why: Is anything IPv4-related hardcoded into the Ethereum protocol(s), making IPv4 addresses a necessity? Many (most?) IPv6 address parsers can parse IPv4 addresses in a backward-compatible way while also

[2021-03-29 14:51] realbigsean commented on #2224
Closed in #2228

[2021-03-29 14:51] #2224 closed, assigned to nobody

[2021-03-29 21:40] michaelsproul commented on #2273
@djoyahoy Did you mean to close this? If this is still a feature you need, best to leave the issue open until we actually implement it 😅

[2021-03-29 22:43] djoyahoy commented on #2273
@michaelsproul my mistake. Thank you!

[2021-03-30 00:57] michaelsproul opened #2286 "Optimise slasher storage of attester data"
## Description

The slasher database is still growing, but ideally we would like it to settle down to an approximately constant size. I initially thought this was a problem with pruning (#1890), but it seems that isn't the case.

Analysing a slasher DB from mainnet which has been in use since genesis 4 months ago, we see a large number of pages in use for the `attesters` sub-database. In a DB of ~

[2021-03-30 00:58] michaelsproul commented on #1890
Closing in favour of https://github.com/sigp/lighthouse/issues/2286, as I think our disk usage issues are not due to a bug in pruning

[2021-03-30 00:58] #1890 closed

[2021-03-30 04:23] paulhauner commented on #2280
Resolved in #2283

[2021-03-30 04:23] #2280 closed, assigned to paulhauner

[2021-03-30 04:24] paulhauner commented on #2274
Resolved in #2277

[2021-03-30 04:24] #2274 closed, assigned to michaelsproul

[2021-03-30 11:25] andrejpodzimek commented on #2023
Here are a few observations (and also follow-ups on my comments under #1617 and openethereum/openethereum#156):

* In `openethereum`, listening on `::` works as [expected](https://www.unix.com/man-page/posix/7/ipv6/), i.e., IPv6 “wildcard” sockets exhibit their default dual-stack behavior. So one can see `tcp6` peer connections in `netstat -atpn`, such as:
[code]
  Notice **`tcp6`** versus IPv4 ad

[2021-03-30 22:45] AgeManning commented on #1617
The main issue is discv5 and libp2p.

Last i checked libp2p had full support but there was an issue with binding to `::`.

As for discovery, we have things called ENR records, which store key value of ip4/ip6 ports on which to connect to. It needs to be updated to handle the cases where nodes are on different ip versions and make decisions about how we are going to connect.

Doing this update is o

[2021-04-01 12:40] pawanjay176 opened #2293 "eth_chainId may return an error for unsynced eth1 nodes"
## Description

Earlier, geth used to return chainId as 0 when it was not fully synced. With https://github.com/ethereum/go-ethereum/pull/21686 , now it returns an error if it's not past the eip 155 block. Need to handle this error scenario.

## Version

Lighthouse stable, Geth 1.10

## Present Behaviour

We get an `Endpoint NotReachable` error on lighthouse when geth sync is not past the eip 155

[2021-04-02 02:07] jmcph4 commented on #2293
@pawanjay176 Are you suggesting adding the "Not Synced" error condition to `EndpointError` here?

https://github.com/sigp/lighthouse/blob/9eb1945136cc2e517bed47d7a8a1cb1c6915d23a/beacon_node/eth1/src/service.rs#L45

[2021-04-03 13:45] pawanjay176 commented on #2293
@jmcph4 the `EndpointError::FarBehind` implies that the eth1 node is not synced so we can use that instead.

I think the simplest way to resolve this would be to return a `Eth1Id::Custom(0)` on getting the error message from the eth1 node since we return a `FarBehind` endpoint on getting chainId of 0 anyway
https://github.com/sigp/lighthouse/blob/9eb1945136cc2e517bed47d7a8a1cb1c6915d23a/beacon_nod

[2021-04-05 04:18] jmcph4 commented on #2293
@pawanjay176 Thanks for the clarification. I'm currently just playing around with the various RPC calls and seeing how both Geth behaves and how Lighthouse handles responses.

Do you think `match`ing against the Geth error string in `eth_chain_id` is the way to go?

[2021-04-05 07:18] pawanjay176 commented on #2293
Yep. This is the only case afaik where we need to parse an error from geth into something valid. If I remember correctly, Nethermind and OpenEthereum return the correct chain id right from when syncing starts, so this is a geth specific issue.

I can't think of a better way. @paulhauner any ideas?

[2021-04-06 00:16] michaelsproul commented on #2259
One difficulty with auto-publishing crates is determining when they've changed "enough" to require a version bump/republish. And I think the version bump needs to be done manually (it needs to already be set in the `Cargo.toml` before attempting to publish). So far the best I can come up with is this:

1. Have a job on CI that detects code changes to the crate in question and _fails_ if the code i

[2021-04-06 19:25] remyroy commented on #2254
Properly closing all connections and using `SO_REUSEADDR` would really be useful for an update process with minimal downtime (stopping services, updating binary, restarting services).

[2021-04-07 22:52] rauljordan commented on #2286
Hi @michaelsproul we ended up going with this schema: https://github.com/prysmaticlabs/prysm/pull/8720 to help us reduce the size. We also incorporated the idea of 5 byte validator indices and 2 byte epochs modulo history_length. We ended up incorporating attesting indices as a quick-and-dirty way of reducing duplication in the db in our case

[2021-04-10 22:07] remyroy commented on #1237
My naive attempt at compiling Lighthouse 1.2.2 gave me this output on Windows 10.

[code]

WSL is very far from ideal to run Lighthouse on Windows. Full support and official binary for Windows would be appreciated.

[2021-04-14 01:56] KaiRo-at commented on #1864
I'm seeing this after I had to switch to a newly synched node (with OpenEthereum 3.2) due to the old node not being upgradeable to the Berlin HF for some reason that doesn't play a role in this issue report. Now I'm getting:
[code]
with Lighthouse 1.2.2 (docker container)

[2021-04-14 03:19] remyroy commented on #2254
I just upgraded to v1.3.0 and I did not have this issue compared to recent previous versions. Was this recently fixed?

[2021-04-14 04:33] michaelsproul commented on #2254
Not as far as I'm aware. As @pawanjay176 pointed out we're already using `SO_REUSEADDR`, so there must be something else at play (and maybe only in some cases, like if there are certain connections in use when the process exits).

We could maybe try `SO_REUSEPORT` instead, as it seems to be the more modern flag. Or as Pawan says, see if we can trace the issue to an unclosed libp2p stream.

[2021-04-14 11:00] mpetrunic commented on #2094
Hey there,
I don't think this PR resolves this issue. If I'm not missing something this still doesn't allow us to start local testnet with just one beacon node?

[2021-04-14 12:34] pawanjay176 commented on #2094
Just checked the testnet scripts with a single testnet node and it failed for me too.
I think the issue is that the networking code doesn't set the `SyncStatus` to `Synced` unless it has atleast one peer. This causes the beacon node http to return the `sync is stalled` error for every attester/proposer api invocation, so the chain doesn't progress.

A temporary workaround here would be to start wi

[2021-04-14 23:41] macladson commented on #2276
I'm going to jump on this.

[2021-04-14 23:42] macladson commented on #2282
I'm jumping on this.

[2021-04-16 01:50] paulhauner opened #2313 "HTTP timeout too long for VC attestation duty"
## Description

I recently noticed a `CRIT` error on a VC (sorry, I lost the log) that expressed the following:

1. The primary BN timed out when trying to produce an attestation with `/eth/v1/validator/attestation_data`
1. The secondary BN failed with [`AttestingPriorToHead`](https://github.com/sigp/lighthouse/blob/3a24ca5f14c6e6d6612fd43eca82aa0c1e6aba16/beacon_node/beacon_chain/src/beacon_chain

[2021-04-16 17:43] KaiRo-at commented on #1864
We have a second beacon node that connects to the same ETH1 node(s) which interestingly did not show the issue. I fixed the bugged node by copying over the DB from the working node.

[2021-04-16 18:10] realbigsean commented on #1864
@KaiRo-at sorry missed this here, but `--eth1-purge-cache` might fix it on the original as well

[2021-04-18 23:27] paulhauner opened #2316 "Use long-running tokio tasks to prevent VC missing duties on shutdown"
## Description

When the `lighthouse` binary is shut down, it [waits](https://github.com/sigp/lighthouse/blob/3a24ca5f14c6e6d6612fd43eca82aa0c1e6aba16/lighthouse/src/main.rs#L346) for any existing tokio tasks to complete. We could exploit this to make sure that the VC won't shutdown until it's completed any current-epoch duties.

For example, if we learn that a block proposer has a proposal slot t

[2021-04-21 02:27] PJ-Finlay commented on #505
I had a similar problem solved with:
[code]

[2021-04-23 02:00] paulhauner commented on #1643
Resolved by #2243

[2021-04-23 02:00] #1643 closed

[2021-04-23 10:20] paulhauner commented on #505
Thanks :) FYI, more deps can be found here: https://lighthouse-book.sigmaprime.io/installation-source.html#dependencies

[2021-04-23 10:29] paulhauner commented on #2271
I agree that this would be nice, however the BN/VC relationship is structured such that the BN has no knowledge of the validator client. It's annoying in this case, but it's very nice in many other cases (such as your VC being able to arbitrarily switch to any other BN on the fly).

I think what would really help you here is the `--validator-monitor-auto` flag on `lighthouse bn`. If you add this f

[2021-04-23 10:30] #2271 closed, assigned to nobody

[2021-04-27 11:23] michaelsproul opened #2322 "Add command for disabling all validator keys"
## Description

When moving between clients, it's nice to know that the old client will not _return from the dead_ and start validating with keys that were just moved to a new client. To disable keys in Lighthouse currently requires the user either to move/delete them from disk manually (which causes a failure on startup) or edit the validator definitions file to contain `enabled: false`. I think

[2021-04-27 23:31] maurodelazeri opened #2323 "--eth1-endpoints fallback to the second endpoint even when the first is working fine"
## Description

I have been using the `--eth1-endpoints` with two clients from the very beginning, I mainly use geth local but I have infura as "backup" but recently I noticed that my infura endpoint is getting a lot of request, way more than the `100,000` in the free plan, but I believe this request should be only for my local geth and only go to infura if the first endpoint fails, am I right? ap

[2021-04-28 06:33] pawanjay176 commented on #2323
Are you getting any WARN logs similar to
`Error connecting to eth1 node endpoint, action: trying fallbacks`

[2021-04-28 14:50] maurodelazeri commented on #2323
Nope, looks all good... if I stop geth... yes I see `Error connecting to eth1 node endpoint, action: trying fallbacks` but only if I stop geth

[code]

[2021-04-28 15:00] maurodelazeri commented on #2323
I create a new API key with infura to make sure, nothing else is using it, I ll update here in a few hours

[2021-04-28 15:22] pawanjay176 commented on #2323
You can also enable debug logs on your geth with `--verbosity 4` option to check if it's receiving and responding to requests.
You will see logs like
[code]

[2021-04-29 02:30] AgeManning opened #2325 "Minimum Outbound Peers"
## Description

Although this usually happens due to the bootstrap process, we should make it explicit. Reserve a fraction of our target peer count for outbound-only connections.

Implementing this comes in two forms. The first is continuing discovery queries until we have filled our outbound quota, and secondly, not removing peers if they will drop us below our outbound quota.

[2021-04-29 05:30] paulhauner opened #2327 "Optimize against ValidatorPubkeyCache timeouts"
## Description

A user in Discord recently posted the following log:

[code]

This user was not the first one, I've personally seen quite a few users report this same rror.

The `validator_pubkey_cache` is protected by a `TimeoutRwLock`. This means there can only be lock contention when something holds the *write lock*.

I think (it's worth confirming) this is the only place we take a write-lock o

[2021-04-29 06:16] michaelsproul commented on #2327
The default backing is the DB now (since https://github.com/sigp/lighthouse/pull/2234), so we can't use an intermediate file per se, although I agree we can probably do a prepare/commit step with a read lock initially during the DB write, and then a write lock during the mutation.

[2021-04-29 06:38] paulhauner commented on #2327
Oh yeah, I forgot about this.

We just need to maintain some sort of mechanism to ensure we mutate the DB and in-memory cache in lock-step. That might involve moving the locks inside `ValidatorPubkeyCache`.

[2021-04-29 12:49] maurodelazeri commented on #2323
ok, we can disregard this... apparently the infura API key was compromised and after revoking and create a new one I see no requests to infura anymore, so, lighthouse is working as expected.

[2021-04-29 12:49] #2323 closed, assigned to nobody

[2021-04-30 12:32] remyroy opened #2328 "Implement 2 minutes beacon node sync with checkpoint state"
## Description

Implement a *fast* way to sync the beacon node from scratch using a checkpoint state. See [this video by Adrian Sutton](https://www.youtube.com/watch?v=ce9uVRl23zI) from the Teku development team. You can get more details on [the related Teku documentation page](https://docs.teku.pegasys.tech/en/latest/HowTo/Get-Started/Checkpoint-Start/).

## Present Behaviour

It can take a few h

[2021-04-30 13:30] michaelsproul commented on #2328
This is a much desired feature for us too! We have it 90% implemented on this branch and will finish it off as soon as we have some bandwidth: https://github.com/sigp/lighthouse/pull/2244

The main piece remaining is backfilling state (syncing backwards)

[2021-04-30 13:32] remyroy commented on #2328
Sorry. Looks like this is a duplicate.

[2021-04-30 14:06] michaelsproul commented on #2328
Yeah, I'll close as duplicate of https://github.com/sigp/lighthouse/issues/1891

[2021-04-30 14:06] #2328 closed, assigned to nobody

[2021-05-03 13:48] Sajjon opened #2329 "Apple Silicon M1 support?"
I would like to know if Lighthouse supports Apple Silicon M1 chip?

[2021-05-03 13:53] estensen commented on #2329
Not natively, but Lighthouse runs great with [Rosetta](https://support.apple.com/en-us/HT211861)

[2021-05-04 01:35] michaelsproul commented on #2329
It looks like we're mainly blocked on M1 support in the Rust compiler, which should hopefully appear in the next year or so: https://github.com/rust-lang/rust/issues/73908

If anyone with an M1 Mac would like to try compiling Lighthouse with the existing tier 2 support, you might be able to follow a similar process to the one described here: https://github.com/BurntSushi/ripgrep/issues/1737. Altho

[2021-05-05 14:05] GerardBri opened #2332 "a lot of warning messages or error messages"
## Description

I monitor all logs from beacon and validators binaries, then if a log doesnt respect a pattern like "INFO", i raise an alert.

And time to time, i 've got some alert on warning messages like :

[code]
or
[code]

some of
[code]

and
[code]

Is there any fix possible or my beacon node had issues ?

## Version

Lighthouse v1.3.0-3a24ca5

## Present Behaviour

a lot of WARNING message,

[2021-05-06 04:32] paulhauner commented on #2276
Resolved in #2326, thanks @macladson.

[2021-05-06 04:32] #2276 closed, assigned to nobody

[2021-05-06 18:12] ibhagwan opened #2334 "Auto-init slashing DB for auto-detected manually imported validators?"
## Description

Add manually imported validators to the slashing protection DB or add the ability to `--init-slashing-protection` per validator.

## Version

[code]

## Present Behaviour

In order to avoid having my validator password stored as clear text in `validator_definitions.yml` I used `lighthouse validator account recover` when creating my keys (using the `deposit` tool) on a different (ai

[2021-05-06 20:41] ibhagwan commented on #2334
I was able to find a workaround for the above using a combination of `lighthouse account validator import` and editing the `validator_definitions.yml` file to reflect the `secrets/<pubkey>` file path.

More details can be found [here](https://github.com/ibhagwan/eth2-validator-guide#add-validators-using-the-lighthouse-wallet).

[2021-05-06 20:41] #2334 closed, assigned to nobody

[2021-05-07 02:02] AgeManning commented on #2332
These occur if your computer's CPU is overloaded. I.e it cannot process the required amount data in the time frame needed.

What is the CPU usage on your machine and what are its specs?

[2021-05-07 02:04] AgeManning opened #2335 "Add back gossipsub tests"
## Description

Gossipsub tests were removed due to their non-deterministic behaviour and the upgrade to 1.1.

It is stable again and similar tests should be built and added back to the code base.

[2021-05-07 06:09] michaelsproul commented on #2327
It took me ages to find, but an `upgrade`-able lock might be useful for this: https://docs.rs/lock_api/0.4.2/lock_api/struct.RwLockUpgradableReadGuard.html#method.upgrade

https://docs.rs/lock_api/0.4.2/lock_api/struct.RwLock.html#method.upgradable_read

[2021-05-07 17:35] GerardBri commented on #2332
I don't think the computer's CPU is overloaded, it's moreover underload

- I've got an max of **120%** CPU usage with `openethereum` running   (avg 40-80%)
- and `lighthouse` use about **~20%**,
so **140%** usage with a 6x core CPU, we 're far from a full 600% usage.

In addition :
`load average: 0.72, 1.14, 1.43` which seems to be normal and underused with a 6x core CPU and 16GB of RAM

[2021-05-07 23:38] michaelsproul commented on #2332
Some of the logs you've posted are warnings to do with node performance and are legitimate cause for investigation, but you're right that some of the others are not. The ones that indicate real problems are:

- Timing out to a node's request. This shouldn't happen if your node is performing well. This often involves reading blocks from disk to serve to a peer, so it could be your I/O letting you d

[2021-05-08 09:31] michaelsproul commented on #2159
This just happened to another user on Discord. I'll spend a few hours on Monday to get it fixed.

[2021-05-10 18:54] cjuha commented on #2329
I have been running Lighthouse compiled on rustc 1.51.0 (stable-aarch64-apple-darwin) successfully on a M1 Mac Mini. Lighthouse has compiled without problems to an arm64 binary since around version 1.1.1, and has been rock stable since version 1.2.2.

[2021-05-11 17:13] Sajjon commented on #2329
@cjuha Do you mean that you'r running Eth 2.0 beacon chain with 32 ETH staked using Lighthouse with you M1 machine?

Or do you mean you have been running Lighthouse for bit and then shut it down, but not felt confident enough to actually stake your 32 ETH with it?

I'm contemplating on starting staking now on my M1 Mac mini or if I should wait until support... seams more offical/stable.

Thanks!

[2021-05-11 17:59] cjuha commented on #2329
@Sajjon I am staking with the M1 Mac Mini, and have been doing so for several months now. Since Lighthouse version 1.2.2, validator average effectiveness (as reported by Beaconcha.in) has constantly been 98-100%. I have been greatly liking the fact that the machine is very stable, silent, and energy efficient. I can see these becoming popular validator boxes in the future once the platform matures

[2021-05-12 03:25] michaelsproul commented on #2159
Closed by #2338

[2021-05-12 03:25] #2159 closed

[2021-05-13 02:38] michaelsproul opened #2342 "LMDB slasher pre-allocates max DB size on Windows"
## Description

All current releases of LMDB (up to 0.9.29) require the full size of the database to be allocated on Windows. This means that the slasher will create a 256GB file immediately upon starting!

## Details

It turns out the LMDB codebase has two main branches:

- [`mdb.RE/0.9`](https://github.com/LMDB/lmdb/tree/mdb.RE/0.9): stable code deemed worthy of release as part of the v0.9.x ser

[2021-05-13 02:39] michaelsproul commented on #2342
Blocked on a suitable release of LMDB

[2021-05-17 06:47] kevlu93 commented on #2325
has anyone started working on this? can take a stab at it if not

[2021-05-18 00:01] AgeManning commented on #2325
Not yet, all yours.

Let me know if you need some help or direction

[2021-05-19 06:42] michaelsproul opened #2354 "Accelerate slashing protection import by minification"
## Description

Importing slashing protection data is currently slow for two reasons:

1. We're using a suboptimal method for parsing the JSON (see https://github.com/sigp/lighthouse/pull/2347)
2. It involves _a lot_ of database ops, pretty much equivalent to resigning all of the input attestations. For files >1GB this seems to take >1hr, which is unreasonable.

This issue proposes speeding up (2)

[2021-05-19 21:13] Sajjon opened #2357 "Almost only "did-not-attest""
## Description

On [BeaconScan (my validator address)](https://beaconscan.com/validator/0xa5fe01a1d0912e7784c03b4c79bf8cb82a8f1e878a8bc67f40f4307c0934e6610939ee320356bab7af6b48588eca213c#attestations), I can see that I'm losing funds, and on "attestation" I see almost only "did-not-attest.

I'm running on a maxed out Mac Mini M1 (16GB RAM) with a 1000 mbit/s down and up broadband connection.

## V

[2021-05-19 21:24] michaelsproul commented on #2357
Right now your VC is only using the Infura BN. I recommend adding your local beacon node in there ahead of the Infura node:

[code]

If that configuration still has issues we can look into clock sync & things related to running on M1.

[2021-05-19 21:31] Sajjon commented on #2357
@michaelsproul Thanks, I will try, can you please shed some light on what that means? Do I need to open port 5022? I've only opened 30300 for Geth and 9000 for Lighthouse? Or is this really just locally, so that the two (other lighthouse process being `bn --staking`) can "interact"?

[2021-05-19 21:34] Sajjon commented on #2357
OK cool now I see `Connected to beacon node(s) synced: 2, available: 2, total: 2, service: notifier`, so now connected to **myself** (localhost)  and Infura.

[2021-05-19 21:36] michaelsproul commented on #2357
Yeah, no need to open the port, it's just for a local connection between VC and BN

[2021-05-20 05:38] michaelsproul commented on #1237
Closed by #2333, thank you @ethDreamer! :tada:

[2021-05-20 05:38] #1237 closed

[2021-05-20 06:11] Sajjon commented on #2357
@michaelsproul Thank you VERY much, that (including `http://localhost:5052` as beacon-node) seemed to have fixed it!

Now I'm curios why it is default behaviour to let it be excluded when specifying another one in the list? To me, it seems non-intuitive that my locally running one was so easily ignored. Can we maybe have a discussion about chaning this behaviour? I see many different solutions:
1.

[2021-05-20 11:15] kevlu93 commented on #2169
this one sounds interesting. wouldn't mind taking a stab at it.

[2021-05-20 20:13] nikihana opened #2360 "Lighthouse attestations failing"
## Description

Lighthouse attestations are failing per beaconcha.in
## Version

Please provide your Lighthouse and Rust version. Are you building from
`stable` or `unstable`, which commit?

Lighthouse version 1.3.0 and the latest version of rust (as of today)

## Present Behaviour

I am running lighhouse on an ubuntu 20.04 server with 6 GB RAM and 150 GB SSD. (I am using infura for eth1) It has b

[2021-05-20 23:15] michaelsproul commented on #2360
As diagnosed on Discord, this is an instance of https://github.com/sigp/lighthouse/issues/2159, so I'll close this for now. We can help you sort it out on Discord.

[2021-05-20 23:15] #2360 closed, assigned to nobody

[2021-05-20 23:25] michaelsproul commented on #2357
No worries, I'm glad to hear it :blush:

That's a good suggestion, thanks! I'll discuss it with the team. In general we try to keep the validator client's codebase as simple as possible because it's security critical. I think that your suggestion (3) might be acceptable on the user-friendliness/security tradeoff, but I need to think about it. If you haven't seen the Lighthouse Book you might be in

[2021-05-20 23:25] #2357 closed, assigned to nobody

[2021-05-24 05:14] michaelsproul opened #2364 "Work out how to lint against `u64::pow`"
## Description

As discussed here https://github.com/sigp/lighthouse/pull/2350#issuecomment-846740255, the `disallowed-methods` Clippy lint doesn't seem to work for associated functions on primitive types. This lint was originally created by a Lighthouse contributor for https://github.com/sigp/lighthouse/issues/1621, and has been improved by other Clippy contributors since!

To resolve this issue

[2021-05-24 05:17] michaelsproul commented on #2316
This is even more interesting in Altair, where assignment to a sync committee lasts 512 epochs and requires publishing a `SyncCommitteeSignature` every slot. Perhaps that isn't worth blocking shutdown for, but then it might be nice to have the option.

[2021-05-26 07:50] michaelsproul opened #2370 "Windows VC reports BN as synced before sync completes"
## Description

Testing just now with a Windows VC connected to a Windows BN on Prater, I'm seeing the VC report the BN as synced before it finishes.

BN:

[code]

VC:

[code]

Weirdly the `/eth/v1/node/syncing` endpoint returns `true`:

[code]

Linux doesn't seem to display the same behaviour, but I'll need to do more thorough testing with the exact version.

## Version

Lighthouse/v1.3.0-5d9a1bc

[2021-05-27 02:29] michaelsproul opened #2371 "Implement consensus context optimisation"
## Description

Throughout state processing, we quite often make use of a pattern where we pass in a pre-computed value in order to avoid recomputing it, e.g. the `state_root` passed to `per_slot_processing` or the `total_active_balance` passed to various rewards processing functions. There are more opportunities for such optimisations, including the proposer index (https://github.com/sigp/lightho

[2021-05-27 19:44] onyxrev opened #2372 "BlockDownloadFailed (TimedOut) error downloading Eth1 blocks [Infura, Alchemy, local Geth]"
## Description

My validator has been running on `mainnet` for a few days now. I'm syncing a local Geth client in the background for the long haul, but for now my Beacon node has been hooked up to Infura. I successfully made deposits and my validators are active and attesting, so the ETH1 endpoint was working at some point. But in the past day I've been seeing the following...

`May 27 16:22:00 et

[2021-05-28 00:27] onyxrev commented on #2372
I have a suspicion this has to do with EIP-155.

Geth logs:

`May 28 00:23:55 ethereum geth[802]: WARN [05-28|00:23:55.646] Served eth_chainId                       conn=127.0.0.1:41696 reqid=1 t="24.664µs"  err="chain not synced beyond EIP-155 replay-protection fork block"`

There's a flag to enable the old behavior in Geth...

`--rpc.allow-unprotected-txs`

[2021-05-30 00:29] paulhauner commented on #2372
Hmm, interesting. We haven't seen anything like this before AFAIK so it'll be interesting to see the cause.

Are you running inside a docker container or using any sort of firewall setup?

FYI you can attest without an Eth1 connection, so this is not strictly the case. Sometimes you might have issues producing blocks without Eth1, though. It'll always generate `ERRO` logs if it can't update the Et

[2021-05-30 00:32] paulhauner opened #2377 "Implement forwards iterator for state roots"
## Description

As per https://github.com/sigp/lighthouse/pull/2376, it turns out that deep reverse iterators are causing big memory spikes.

Whilst #2376 addresses this issue for block root lookups, it'll still exist for state roots. Whilst I don't think this is really a big deal for "normal operation" (i.e., following the chain and running validators), it'll mean the calls via the HTTP API to ol

[2021-05-30 01:07] onyxrev commented on #2372
This is running directly on a Zotac mini PC (i5, 32GB RAM, 2TB SSD) running Ubuntu Focal. There is no firewall on the local machine. It’s running behind a UniFi Security Gateway with a firewall, pertinent ports forwarded through NAT, and uPnP turned on. ISP is Verizon FiOS.

[2021-05-30 01:15] onyxrev commented on #2372
Yes, but would the validator deposit have been registered with the beacon node without an Eth1 connection?

[2021-05-30 09:03] paulhauner commented on #2372
Yep, the deposits are included in blocks by other validators. An Eth1 node is only required for *producing* blocks (specifically, producing those blocks where new deposits are to be included).

[2021-05-30 09:07] paulhauner commented on #2372
Thanks for the details. Is it running in a `systemd` service, or straight from the shell of the user that's able to `curl` successfully?

[2021-05-30 19:06] onyxrev commented on #2372
Yup, `systemd`. This is the service definition:

[code]

I followed [this guide](https://someresat.medium.com/guide-to-staking-on-ethereum-2-0-ubuntu-lighthouse-41de20513b12) to set up the validator (although I skipped the metrics and UFW stuff).

If I give the `lighthousebeacon` user a shell, I can curl the endpoints as the user, but the errors persist in the Lighthouse logs.

[code]

[2021-05-31 02:08] AgeManning commented on #2372
Do you have any local firewall rules?
Have you tried disabling all firewalls temporarily and does lighthouse still timeout with geth on localhost?

[2021-05-31 04:12] paulhauner commented on #2372
Thanks for trying this. I'm a bit stumped here, but another option is trying to run the `ExecStart` command from your typical user account and shell.

Also, I noticed the logs in your original post don't contain a failure to reach `localhost:8545`. If you try the above, could you please include the logs with a localhost failure?

[2021-05-31 07:33] paulhauner commented on #2169
Cool! Happy to help on the review :)

[2021-05-31 07:47] paulhauner commented on #2332
I'm going to close this once since I can't see anything actionable here. Thank you for reaching out though :)

`WARN` logs don't always indicate an error. They're letting the user know that something sub-optimal is happening, which is not a cause for alarm itself. On our nodes, `CRIT` gets me out of bed and `ERRO` gets investigated next time I'm online. `WARN` gets added to todo list.

Here are al

[2021-05-31 07:47] #2332 closed, assigned to nobody

[2021-05-31 20:27] onyxrev commented on #2372
I still see the same behavior when running the `ExecStart` command as my privileged user.

Logs:

`
May 31 20:13:27 ethereum lighthouse[53290]: May 31 20:13:27.894 WARN Error connecting to eth1 node endpoint  action: trying fallbacks, endpoint: https://mainnet.infura.io/v3/xxx, service: eth1_rpc
May 31 20:13:27 ethereum lighthouse[53290]: May 31 20:13:27.894 CRIT Couldn't connect to any eth1 node.

[2021-05-31 21:46] onyxrev commented on #2372
I set up Prysm on the same box using the same user and a systemd definition...

`
May 31 21:45:48 ethereum prysm.sh[56326]: time="2021-05-31 21:45:48" level=info msg="Connected to eth1 proof-of-work chain" endpoint="https://eth-mainnet.alchemyapi.io/***" prefix=powchain
`

Prysm can connect to any of the Eth1 endpoints.

[2021-06-01 00:14] paulhauner commented on #2372
Thanks again for detailed troubleshooting steps. I made some progress whilst doing some local testing:

### Scenario 1: Python websever

I ran a local, function-less Python server on 8545:

[code]

Then, I started Lighthouse with:

[code]

I get the following errors from Lighthouse:

[code]

For each request, the Python webserver shows:

[code]

And `tcpdump` shows:

[code]

### Scenario 2: No web

[2021-06-01 00:55] paulhauner commented on #2372
I made some progress with returning more detailed errors :tada: https://github.com/sigp/lighthouse/pull/2383 includes much more detail with these errors (see the PR description for examples that relate to my previous comment in this thread).

So, for you @onyxrev there are two options:

1. Wait for the next release which contains these fixes (we're preparing a new release scheduled for later this

[2021-06-01 06:47] paulhauner opened #2385 "Attestations with a frozen target state"
## Description

In #2384, a specific error type was created to try and pinpoint a scenario where we're getting these type of errors:

[code]

The errors are very rare, but they do occur on Prymont and Mainnet from time to time (monthly?). What's happening here is that an attestation on the network is referencing a `target.root` that is inside the freezer DB. Therefore, we trigger the `Ok(None)` he

[2021-06-01 18:17] onyxrev commented on #2372
Thanks for making those improvements.

I've switched over to Prysm for now on my production validator, but am still running the Lighthouse beacon node alongside. I'll try the next stable release to see what's different. I did verify that Lighthouse was making requests to the Eth1 endpoints, for what it's worth.

[2021-06-02 07:02] paulhauner commented on #1055
See https://github.com/sigp/lighthouse/pull/1912 for a partially-outdated, but still useful implementation of this.

[2021-06-03 13:11] yorickdowne opened #2393 "Enhancement: Support `--beacon-nodes` with validator exit"
## Description

Enhancement request: Add the `--beacon-nodes` flag as an accepted parameter for `lighthouse account validator exit`

## Rationale

This is a QoL change for my eth-docker tool. I have a user request to support splitting the consensus client and validator client to separate machines. Eth-docker gets the beacon node location from a user-specified variable. If the user sets `https://my

[2021-06-03 13:49] remyroy opened #2394 "VC blocks on `SlashingDatabase::open` when running with NSSM on Windows"
## Description

VC blocks on `SlashingDatabase::open` when running with [NSSM](http://nssm.cc/) as a service on Windows. It does not run properly and it cannot attest. It does not leave `SlashingDatabase::open`.

## Version

Lighthouse v1.4.0-rc.0-f6280aa
BLS Library: blst
Specs: mainnet (true), minimal (false), v0.12.3 (false)

Unstable
Windows 10 (10.0.19043 Build 19043)
rustc 1.52.1 (9bc8c42bb

[2021-06-03 14:15] remyroy commented on #2394
NSSM source code can be found on https://git.nssm.cc/nssm/nssm if that can help.

[2021-06-04 01:15] paulhauner commented on #2169
One of our primary goals is to avoid state reads whilst generating an attestation. To avoid this, we presently we only allow attesting for the current slot. However, this is too strict we could also expand it to include *some* prior slots.

To produce an attestation we need the following things from a `BeaconState`:

1. **The beacon committee length**: easily available for prev/current/next epoch

[2021-06-04 05:29] paulhauner commented on #2372
Thanks :pray:  We have a [release candidate](https://github.com/sigp/lighthouse/releases/tag/v1.4.0-rc.0) out now which includes those changes and are expecting to publish the full release next week.

[2021-06-04 06:57] michaelsproul commented on #2394
I've experimented with NSSM and I think it's a file permissions issue. I couldn't recreate the exact hang that you got, but I did get this error when I tried starting after importing the key _not_ as the administrator:

[code]

I think I also got a similar error importing the key as admin _before_ starting the service (will have to recheck this on Monday). The flow that definitely worked was:

* S

[2021-06-04 13:10] remyroy commented on #2394
It really seems like a file permission issue. For some reason the permissions on `C:\ethereum\var\lib\lighthouse\validator\validators\slashing_protection.sqlite` were not what I expected:

[code]

![slashing_protection_perms](https://user-images.githubusercontent.com/303593/120804991-3f2e9500-c513-11eb-85f6-aced8e9db6ac.png)

By adding the SYSTEM account (the account under which services normally

[2021-06-10 04:49] #2186 closed, assigned to realbigsean

[2021-06-10 07:35] xaviarias commented on #2087
Hi ! Is there any progress on this? Thanks

[2021-06-11 06:37] michaelsproul opened #2406 "Build Windows release binaries on CI"
## Description

With v1.4.0 we have beta Windows support. We should start Windows building binaries as part of the release flow here:

https://github.com/sigp/lighthouse/blob/3b600acdc5bf9726367c18277a22486573b8b457/.github/workflows/release.yml

We can run on Github-hosted `windows-latest` machines, and can likely reuse large parts of the `release.yml` setup (although I don't think we'll want to

[2021-06-11 09:50] Animismo opened #2407 "01.a"
## Description

Please provide a brief description of the issue.

## Version

Please provide your Lighthouse and Rust version. Are you building from
`stable` or `unstable`, which commit?

## Present Behaviour

Describe the present behaviour of the application, with regards to this
issue.

## Expected Behaviour

How _should_ the application behave?

## Steps to resolve

Please describe the steps re

[2021-06-11 09:56] Animismo opened #2408 "Bloxxi"
## Description

Please provide a brief description of the issue.

## Version

Please provide your Lighthouse and Rust version. Are you building from
`stable` or `unstable`, which commit?

## Present Behaviour

Describe the present behaviour of the application, with regards to this
issue.

## Expected Behaviour

How _should_ the application behave?

## Steps to resolve

Please describe the steps re

[2021-06-11 10:00] #2408 closed, assigned to nobody

[2021-06-11 14:23] onyxrev commented on #2372
I upgraded to `1.4.0` and am not seeing the timeout errors anymore. I removed my local geth endpoint, leaving just Infura. And voilà... no errors anymore. So I guess the error handling in `1.3.0` was incorrectly logging failures. This makes sense because I could confirm that the requests were being made.

I've cut back over to lighthouse from prysm for my validators now. Thanks for making those ch

[2021-06-12 23:38] #2407 closed, assigned to nobody

[2021-06-14 23:30] paulhauner commented on #2372
Oh glad to hear that has been fixed @onyxrev! Sorry for the inconvenience and I'm glad to hear you're back with Lighthouse :relaxed:

It's a bit of a shame that we didn't manage to pinpoint the issue, but I think we're beyond the point of troubleshooting it now. If we do see it again, at least we have more detailed logs thanks to this issue. That should make it much easier to diagnose.

Thanks aga

[2021-06-14 23:30] #2372 closed, assigned to nobody

[2021-06-16 01:56] michaelsproul opened #2409 "Add file locking for validator_definitions.yml"
## Description

In the quest to improve all of our I/O and make it race-free, one thing remaining is exclusive locking of the `validator_definitions.yml`.

The problem is that account manager commands currently cannot tell if the `validator_definitions.yml` is in use by a validator client, which introduces the possibility for data races. As an example:

1. VC starts, it loads the file and keeps a

[2021-06-21 00:48] jmcph4 commented on #2409
@michaelsproul Is something like dff6f57 what you had in mind?

[2021-06-23 00:37] paulhauner commented on #2259
Hey @realbigsean, would you be interested in this one when you have some spare time? We'd probably want to publish `ssz_types` as well.

[2021-06-23 00:40] paulhauner commented on #2259
Also, I wonder if @sorpaas would be open to us taking over the [`ssz`](https://crates.io/crates/ssz) crate? :pray: I get the feeling that it's not being updated anymore and I'm not sure if it's compatible with the production version of the SSZ spec.

[2021-06-23 04:44] #2354 closed, assigned to nobody

[2021-06-23 04:44] #2322 closed, assigned to nobody

[2021-06-23 13:35] realbigsean commented on #2259
Can do!

[2021-06-25 06:24] paulhauner commented on #2371
I've just come across this again after forgetting about it.

There's some optimizations in #2416 which cover `unslashed_participating_indices` and total balances, but only for Altair. That implements a `ParticipationCache` which would be a good candidate to include in `ConsensusContext.`

[2021-06-25 06:26] paulhauner commented on #2325
Resolved in #2356

[2021-06-25 06:26] #2325 closed, assigned to nobody

[2021-06-25 06:26] paulhauner commented on #2282
Resolved in #2340

[2021-06-25 06:26] #2282 closed, assigned to nobody

[2021-06-25 06:29] paulhauner commented on #2225
This would be a good spare-time task for @realbigsean, @pawanjay176 or @macladson :slightly_smiling_face:

[2021-06-25 06:30] paulhauner commented on #2273
This might be a good spare-time task for @realbigsean :slightly_smiling_face:

[2021-06-25 06:31] paulhauner commented on #2293
Resolved in #2304

[2021-06-25 06:31] #2293 closed, assigned to nobody

[2021-06-25 06:32] paulhauner commented on #2207
I'm closing this since it seems stale and seems unlikely we'll continue to make progress. Feel free to re-open if you disagree! :slightly_smiling_face:

[2021-06-25 06:32] #2207 closed, assigned to nobody

[2021-06-25 06:33] paulhauner commented on #2169
If you're not still working on this @kevlu93, it might be a good one for @realbigsean.

[2021-06-25 06:35] paulhauner commented on #2393
@pawanjay176 this might be a good spare-time task, if you're interested :slightly_smiling_face:

[2021-06-25 06:41] paulhauner commented on #2128
I'm going to close this one since I haven't seen it again and it seems unlikely that we're going to make progress on it at this point. Thanks for raising it @clifton.

I can't help but think it's some form of obscure database corruption.

I am *very* interested in hearing if this has happened again.

[2021-06-25 06:41] #2128 closed

[2021-06-25 06:43] paulhauner commented on #2063
I'm going to close this since it seems stale and unlikely to progress from here. Please re-open if you feel differently.

[2021-06-25 06:43] #2063 closed

[2021-06-25 06:45] paulhauner commented on #2060
I'm going to close this since we haven't seen this problem anywhere else and it seems unlikely we'll make progress from this point. Please re-open if you disagree :slightly_smiling_face:

[2021-06-25 06:45] #2060 closed

[2021-06-25 06:49] paulhauner commented on #1055
I'm closing this for the same reason I closed #1912

[2021-06-25 06:49] #1055 closed

[2021-06-25 06:51] paulhauner commented on #991
I'm going to close this once since it seems unlikely at this point we'll make progress here. If we do start to suffer from lack of backtraces the we can start a new issue (or reopen this).

[2021-06-25 06:51] #991 closed

[2021-06-25 06:52] paulhauner commented on #964
I'm going to close this once since it seems we're certainly going to fix it with Altair in the coming weeks. Feel free to re-open if you want :slightly_smiling_face:

[2021-06-25 06:52] #964 closed

[2021-06-25 06:55] paulhauner commented on #1260
I'm closing this since it's pretty stale. We'll cover these requirements in the next round of the UI.

[2021-06-25 06:55] #1260 closed

[2021-06-25 06:57] paulhauner commented on #2377
I've given @macladson a quick brief on this one. It's might be a bit difficult, but I think it's worth at least having a look this Mac :slightly_smiling_face: Don't hesitate to holler if it's too painful.

[2021-06-25 06:58] paulhauner commented on #2262
This might be a good one for @macladson or @pawanjay176 in their spare time :slightly_smiling_face:

We'll need this type of functionality for the remote signer, so it'll be nice to get it figured out beforehand.

[2021-06-25 07:01] paulhauner commented on #1881
This might be a good spare-time task for @pawanjay176 :slightly_smiling_face:

[2021-06-25 07:02] paulhauner commented on #1611
I'm going to close this once since it seems well covered by fallback nodes.

[2021-06-25 07:02] #1611 closed

[2021-06-25 07:03] paulhauner commented on #2088
Resolved in #2090

[2021-06-25 07:03] #2088 closed

[2021-06-25 07:58] kevlu93 commented on #2169
Started working on this, but currently busy so haven't been able to spend time on it recently. Won't free up until after July 8. Would like to finish this but @realbigsean is more than welcome to take over

[2021-06-25 20:53] realbigsean commented on #2169
Hey @kevlu93, I'll start working on some other things might come back to this before then. But will let you know before I do

[2021-06-27 00:10] michaelsproul opened #2419 "Import slash protection without checking slashability"
We still have a UX issue with the import of slashing protection data from clients that erase the signing roots (e.g. Teku). Discord messages for context:

I need to think more about whether we're safe to ignore slashability of imported files in general, and whether this should be clarified in EIP-3076.

[2021-06-27 15:08] piotrbednarczyk opened #2420 "Lighthouse v1.4.0 does not compile with latest Rust (1.53.0+)"
## Description

Compilation error during lighthouse v1.4.0 compilation:

Compiling lighthouse v1.4.0 (/home/lighthouse/lighthouse)
error[E0275]: overflow evaluating the requirement `(PhantomData<warp::filter::or::Or<warp::filter::or::Or<warp::filter::or::Or<warp::filter::or::Or<warp::filter::or::Or<warp::filter::or::Or<warp::filter$

Full error log in attachment. [error.log](https://github.com/sig

[2021-06-27 22:03] kasper0406 commented on #2420
I hit the same issue with the following version of rust:
[code]
Downgrading to rust 1.52.0 using `rustup default 1.52.0` made it compile for me.

[2021-06-28 00:50] michaelsproul opened #2421 "Preserve orphaned blocks"
## Description

We currently have no way of preserving orphaned blocks, even though they are useful for block explorers and analytics.

## Steps to resolve

* Add a flag to `lighthouse bn` called something like `--keep-orphaned-blocks`
* Add a new column to the database for mapping slots to _vecs of_ orphaned block roots (`DBColumn::OrphanedBlocks`). The blocks themselves can be stored in the hot

[2021-06-28 01:02] michaelsproul commented on #2420
Unfortunately this breakage was out of our control due to a breaking release of the Rust compiler which occurred after Lighthouse v1.4.0 was released. Compatibility with Rust 1.53.0 will be restored in the next Lighthouse release.

For reference, here's the Discord announcement that was made: https://discord.com/channels/605577013327167508/711866597308104745/857047793489936405

And the instruction

[2021-06-28 01:02] #2420 closed, assigned to nobody

[2021-06-28 07:36] michaelsproul commented on #2259
If anyone is interested in working around this in the meantime, you can do so using `patch` and `git` dependencies:

[code]

[2021-06-28 11:40] leruaa commented on #2259
The workaround above works fine for `types`, but I'm having trouble doing the same thing for `eth2` crate:
[code]

I have the following errors:
[code]
What am I missing?

[2021-06-28 17:39] realbigsean commented on #2259
I tried this out locally and it seems like `enr` dependency is being updated from `0.5.0` to `0.5.1`. And even though the versioning suggests this should be non-breaking, it does break things.  I think because its dependency `k256` was updated from `0.7` to `0.8`

For me, adding this to the `[dependencies]` section resolved it:

`enr = { version = "=0.5.0", features = ["ed25519", "k256"] }`

Not s

[2021-06-28 19:06] leruaa commented on #2259
Thanks!

I was able to solve it by cloning and patching the `discv5` latest version:
[code]

[2021-06-29 02:44] realbigsean commented on #2259
@michaelsproul I've made a first pass at implementing this in #2423

I have not implemented this. As a first step though, I've made the CI check also verify that if a crate's version is updated in the PR, the updated version exists on crates.io. So the CI task will fail until a manual publish happens.

I'd be in favor of publishes on merges into `unstable`.  I think it makes sense to separate thes

[2021-06-30 03:54] michaelsproul commented on #2026
Closing this for now, as it hasn't come up again, and naive attempts at detecting SSSE3 support at compile time do not work. One issue is that `rustc` doesn't consider the `ssse3` feature enabled unless it is explicitly turned on (e.g. via `-C target-cpu=native`), so this test fails even on modern CPUs:

[code]

It's "future work" to try `target-cpu=native` builds to see if they are appreciably fa

[2021-06-30 03:54] #2026 closed

[2021-06-30 06:18] #1661 closed

[2021-07-01 14:37] 0xPNZ opened #2428 "rust error (E0257) while upgrading to 1.4"
Stats:
Ubuntu 20.02.2LTS, fully upgraded.
Geth 1.10.4
Lighthouse 1.3.0
rustc 1.53.0
Intel i7
Ram 32GB
SSD 2Tb

Upgrading to lighthouse v 1.4.0 via "make" command, the last job (861/861) gets:
error[E0257]: overflow evaluating the requirement...

full statement here:
https://controlc.com/b2957787

[2021-07-01 16:34] cai-jason opened #2429 "`master` does not build on MacOS"
## Description
After cloning the repo + running `make` in the directory, the project doesn't compile

## Version
Lighthouse: `master`, v.1.4.0
rustc: 1.53.0

## Present Behaviour
Project starts to compile:
[code]

At the last step it produces the following output:
[code]

## Expected Behaviour
Project compiles

## Steps to resolve
N/A

[2021-07-01 17:34] pawanjay176 commented on #2429
@cai-jason there was a breaking change in rustc 1.53. You will have to downgrade to rustc 1.52.1 temporarily for it to work.
See this comment for more details https://github.com/sigp/lighthouse/issues/2420#issuecomment-869260806

[2021-07-01 17:56] pawanjay176 commented on #2428
there was a breaking change in rustc 1.53. You will have to downgrade to rustc 1.52.1 temporarily for it to work.
See this comment for more details #2420 (comment)

[2021-07-02 00:23] cai-jason commented on #2429
That worked. Thanks!

[2021-07-02 00:23] #2429 closed, assigned to nobody

[2021-07-02 00:37] michaelsproul commented on #2428
I've pinned https://github.com/sigp/lighthouse/issues/2420 so that it's more visible on GitHub

[2021-07-02 00:37] #2428 closed, assigned to nobody

[2021-07-02 05:27] macladson commented on #2225
Resolved in #2427. Also see [the corresponding PR](https://github.com/sigp/lighthouse-metrics/pull/25) in `sigp/lighthouse-metrics`.

[2021-07-02 05:27] #2225 closed, assigned to nobody

[2021-07-05 06:19] michaelsproul opened #2430 "Validator client hangs if permissions are not set correctly"
## Description

The VC sometimes hangs (deadlocks) in a mysterious way when permissions aren't set correctly on its files. There are likely multiple permutations of this bug, based on exactly which files or directories are inaccessible: we've seen several users report hangs at different points.

The hang that I've been experimenting is involves setting the permissions on `$datadir/validator` so th

[2021-07-05 06:22] michaelsproul commented on #2430
Another option: mitigate this by checking the file permissions in `ensure_dir_exists` or something. Checking earlier (or not relying on `File::create`) might allow us to sidestep the issue.

[2021-07-06 01:35] paulhauner commented on #2429
Also @cai-jason, I notice you specificed the `master` branch. We recommend using the `stable` branch as per: https://github.com/sigp/lighthouse#branches

Seeing as the `master` branch was deprecated at `v1.1.0` and you've got `v1.4.0`, I suspect you've already worked around this :slightly_smiling_face:

[2021-07-06 01:59] paulhauner commented on #2259
This seems reasonable to me, but it would be nice to be able to optionally merge to `unstable` *without* updating crates.io. I see two options and I prefer (2) since it's simple and flexible.

### 1. Don't publish if there's an `.rc` suffix

 CI won't push to crates.io if there's a `-rc.x` version suffix? With that we could have `unstable` history look like this:

- `ssz v1.0.0`: CI publishes to c

[2021-07-06 06:27] paulhauner commented on #2430
Looking at the logs, it seems likely we're in the following call stack:

1. [`create_with_600_perms`](https://github.com/sigp/lighthouse/blob/3b600acdc5bf9726367c18277a22486573b8b457/common/filesystem/src/lib.rs#L58)
1. [`write_file_via_temporary`](https://github.com/sigp/lighthouse/blob/3b600acdc5bf9726367c18277a22486573b8b457/common/account_utils/src/lib.rs#L68)
1. [`ValidatorDefinitions::save`]

[2021-07-06 07:43] paulhauner commented on #2393
@yorickdowne, we had a look at implementing this in Lighthouse and our feeling is that introducing fall backs here introduces too much complexity in Lighthouse to warrant the convenience to the CLI.

To work around your problem, you could use [shell parameter expansion](https://www.gnu.org/software/bash/manual/html_node/Shell-Parameter-Expansion.html) to extract only the first endpoint. Here's an

[2021-07-06 07:43] #2393 closed, assigned to nobody

[2021-07-06 07:51] michaelsproul commented on #2430
Yeah, that's the code path, but it seemed like there were multiple Tokio tasks running already when I was looking with GDB.

I also realised that #2394 is pretty much an instance of this same problem (bad permissions causing a hang). But I'll leave it open because it's specific to how we set perms on Windows.

[2021-07-06 19:33] realbigsean commented on #2259
I took a peek at the [tokio repo](https://github.com/tokio-rs/tokio), and looks like they tag full releases with this syntax: `tokio-1.2.0`, and also tag commits associated with individual crates: `tokio-streams-0.6.7`. So we could also automatically publish to crates.io when pushing a tag to `unstable` referencing one of the crates?  And we could make the version check a part of CI when merging i

[2021-07-07 01:59] cai-jason commented on #2429
@paulhauner yep - I mistyped the above. Thanks for being explicit :)

[2021-07-07 04:34] michaelsproul commented on #2430
Another way to trigger a hang: change a path in `validator_definitions.yml` so that it points to a file that doesn't exist, or equivalently move your validators dir without munging the paths.

[2021-07-07 06:28] paulhauner commented on #2430
Perhaps this could be the culprit:

https://github.com/sigp/lighthouse/blob/3b600acdc5bf9726367c18277a22486573b8b457/lighthouse/src/main.rs#L377

If we get an error during `ProductionValidatorClient::new`, we fail to log an error or shutdown the client. Instead, we just return an error into the abyss of a `Runtime::spawn`.

[2021-07-07 11:58] dnkolegov opened #2437 "File permissions for validator client API keys are insecure"
## Description

A validator client uses two API keys: ".secp-sk" (secret key) and "api-token.txt" (the corresponding public key).
Both files are stored in a user directory with 644 permission bits.
So any user on the host can read them.

To reproduce the issue just run:

[code]

## Version
Lighthouse/v1.4.0-3b600ac

## Expected Behaviour

Permission bits must be 600.

[2021-07-07 12:20] dnkolegov opened #2438 "API token can be read from a log file by any user"
## Description

A validator client uses two API keys: ".secp-sk" (secret key) and "api-token.txt" (the corresponding public key).
The spec suggests that an API token can be obtained (read) from a file or from logs.

The second method is highly insecure by design and considered as a very bad practice in web application security (e.g., [OWASP Logging](https://cheatsheetseries.owasp.org/cheatsheets/L

[2021-07-07 15:05] realbigsean commented on #2259
I spoke with @paulhauner offline about this. He agreed about auto-publishing crates when we push `<crate-name>-<version>` tags to `unstable`.  He made a good point about the version check being unnecessary if we go this route. Because in order to use an updated crate in `lighthouse`, we'll have have to make a second lighthouse PR updating the crate's version and making any necessary changes. Becau

[2021-07-07 23:25] michaelsproul commented on #2259
Auto-publishing based on tags sounds good to me :+1: The two step workflow of updating the underlying crate and then updating Lighthouse itself sounds fine. I think we can hold off on separate repos for now, but could move to that easily enough if there's friction.

[2021-07-08 00:47] michaelsproul commented on #2377
Closed by #2422

[2021-07-08 00:47] #2377 closed, assigned to macladson

[2021-07-08 03:49] paulhauner commented on #2394
It looks like we have a solution to this over in https://github.com/sigp/lighthouse/pull/2436 :tada:

[2021-07-08 03:58] remyroy commented on #2394
Seems great! Don't forget to relax the permissions on the `slashing_protection.sqlite` file. There is no need for them to be as restricted as they are now when created on Windows.

[2021-07-08 04:03] michaelsproul commented on #2394
Yeah, let's leave this issue open as a way to track the permissions changes for Windows

[2021-07-08 09:44] paulhauner opened #2440 "Altair CPU usage"
## Description

This issue provides a place to track the increased CPU usage when switching to Altair.

Here are some graphs when using https://github.com/paulhauner/lighthouse/commit/9db00d304b7fe2972e73427102ef90212d2def2b from https://github.com/paulhauner/lighthouse/tree/ad0-beta. You can see the increase after that Altair fork at ~19:12:

![altair-block-times](https://user-images.githubuserco

[2021-07-08 14:26] michaelsproul commented on #2440
Another thing that'll help will be tree hash caches for the participation bits, which we lack currently

[2021-07-09 03:11] paulhauner opened #2443 "Vulnerability with `prost` (a libp2p dependency)"
## Description

In #2436 I've ignored the following `cargo audit` vuln: https://github.com/libp2p/rust-libp2p/blob/master/core/Cargo.toml

We need to upgrade to `prost >= 0.8.0` to resolve this vuln, however lip2p is still on `0.7`: https://github.com/libp2p/rust-libp2p/blob/master/core/Cargo.toml

## Steps to resolve

1. Wait for libp2p to update.
2. Remove [the ignore](https://github.com/sigp/li

[2021-07-09 05:36] michaelsproul commented on #2440
#2415 doesn't seem to have helped a great deal, and tree hashing looks like it's running in <10ms.

[2021-07-12 04:24] newearthmartin opened #2444 "DB error when reading head state: SszDecodeError"
## Description

Lighthouse fails to start the beacon node because of problem reading DB head state.

## Version

v1.4.0-3b600ac

## Present Behaviour

Beacon node fails to start because a problem while reading the DB head state. In this case:  `SszDecodeError(OffsetOutOfBounds(4083498482))`. Lighthouse does not try to solve this automatically or present information on how to solve it manually.

[c

[2021-07-12 04:30] paulhauner commented on #2444
Sorry to hear you're having issues. This is an uncommon error, it's typically the result of swapping between testnet/mainnet using the same data directory. It could also be caused by database corruption.

Try the `--purge-db` flag to start with a new database.

I'd be interested to know:

- If `--purge-db` solved your issue.
- If you were using mainnet or a testnet.
- If you already had a fully- o

[2021-07-12 04:40] newearthmartin commented on #2444
Hi thanks for answering.

`--purge-db` solved it.

I was using pyrmont testnet but switched to mainnet, I'd swear that I changed the datadir but maybe I didn't 😀
I was halfway through syncing.

[2021-07-12 05:10] paulhauner commented on #2444
Great to hear!

In that case, it sounds like this is not database corruption or an application error. I've created #2445 which returns more information when this case is encountered, this issue will be automatically closed when that merges :slightly_smiling_face:

[2021-07-12 05:20] newearthmartin commented on #2444
Amazing! Glad to contribute

[2021-07-12 07:21] michaelsproul commented on #2440
Current theory is that it might be to do with processing 512 sync committee messages every slot, at a cost of ~3ms each (on our AWS boxes). That's a whole 1.5 seconds of signature verification!

Using single signature verification seems to be marginally slower on our testnet nodes:

![message_signature_verif](https://user-images.githubusercontent.com/4452260/125246673-6e67cb80-e335-11eb-8a87-5b03e

[2021-07-12 18:26] gotzl opened #2446 "Increased 'WARN' rate due to 'Single block lookup failed'"
## Description
My two lighthouse beacon nodes frequently report a warning in the logs:
[code]
I am not sure what it means and what I can/should do to get rid of it.

## Version
v1.4.0-3b600ac

## Present Behaviour
I run two lighthouse beacon nodes on two separate devices. I monitor the warn rate of these instances, which is usually ~1/h. However, since approx 10.07., both instances report a signif

[2021-07-12 23:58] AgeManning commented on #2446
Thanks for raising this.

Rest assured this warning is no fault of your lighthouse nodes. We are also seeing this on our lh nodes.

The issue appears to be a collection of prysm nodes (of the ones I checked, were running this version: `Prysm/v1.3.10/5ae6e83c7f6238593c6dfa3a8e05fc7c3778783f`) that are not validating correctly on the network. It appears they have not synced their time correctly and

[2021-07-13 01:35] michaelsproul opened #2449 "Import sync committee messages into op pool"
## Description

We sweep all unaggregated attestations from the naive aggregation pool into the op pool before proposing a block. We could do similarly for sync committee messages.

This would provide some way of getting messages on chain when the sync aggregation system fails, which is expected occasionally due to the probabilistic nature of determining aggregator status (although it should be a

[2021-07-13 07:08] gotzl commented on #2446
Thanks for confirmation and the detailed explanation, and the 'fix' ;)

[2021-07-13 08:07] AgeManning commented on #2446
I'm going to mark this as closed. The ban length increase should reduce the occurrence. The operators of the bad nodes should be losing eth and I imagine they will discover and remedy their nodes soon. If these warnings persist we can downgrade the log to a debug.
The ban-timeout will be released in the upcoming `1.5` release.

[2021-07-13 08:07] #2446 closed, assigned to nobody

[2021-07-13 14:16] newearthmartin opened #2452 "using localhost geth but "sync can take longer when using remote eth1 nodes""
## Description

Lighthouse says `sync can take longer when using remote eth1 nodes, service: slot_notifier` even though I'm running lighthouse and geth on the same computer.

## Version

v1.4.0-3b600ac

## Present Behaviour

i'm running lighthouse with argument `--eth1-endpoints http://127.0.0.1:8545`. However in the logs it says it is going slower because I'm using a remote eth1 node

[code]
Mayb

[2021-07-13 17:18] newearthmartin commented on #2082
Hi, I just want to add to this conversation that I read this post https://lighthouse.sigmaprime.io/switch-to-lighthouse.html encouraging users to switch to lighthouse. I believe all the advantages mentioned in the article are true but if distribution packages are not present, it's a huge obstacle for adoption. All tutorials on setting up Lighthouse involve building it yourself (which I tried, and

[2021-07-14 01:45] paulhauner commented on #2082
There's also the option of downloading a pre-built binary, which completely avoids building from source: https://lighthouse-book.sigmaprime.io/installation-binaries.html

I'm also in support of distributing packages, just pointing that out.

[2021-07-14 01:51] paulhauner commented on #2452
It's not simple for Lighthouse to determine if you're using a remote node, unfortunately. It might *seem* so, but there's complications with fallback nodes.

I feel you that this confusing though, so I created #2453 to remove the message completely.

[2021-07-14 02:56] paulhauner opened #2454 "Allow the VC to listen on 0.0.0.0 with a flag"
## Description

Presently, the VC doesn't accept the `--http-address` field for this reasoning:

https://github.com/sigp/lighthouse/blob/3b600acdc5bf9726367c18277a22486573b8b457/validator_client/src/cli.rs#L121-L128

This restriction has showed to be very annoying for Docker setups; you can't access the container from another container, even if you never intend to expose it to the internet. @dappl

[2021-07-14 03:02] newearthmartin commented on #2452
I just see that lighthouse is throwing an error at the beginning: `Eth1 node returned error: `[...] `chain not synced beyond EIP-155 replay-protection fork block`.

[code]

So it may be that this message means something else in reality. I wouldn't just remove the message.

[2021-07-14 03:45] michaelsproul commented on #2452
The error about not being synced past the EIP-155 block is unrelated (https://github.com/sigp/lighthouse/pull/2304), and is to be expected when Geth is early in its sync.

The Lighthouse warning you saw was _always_ shown when syncing the block cache, and we added it provide a bit of context. Seeing as it's potentially misleading, and making it more accurate would be difficult, we decided to remov

[2021-07-14 04:33] newearthmartin commented on #2452
Ah then its correct to remove the message. Otherwise you get the impression that you have configured something wrongly.

[2021-07-14 04:37] newearthmartin commented on #2082
We are on the same page. I just wanted to link it to the article from Sigma trying to get people to adopt Lighthouse, so I believe that binary distribution will drive adoption. I know about the binary downloads, but all tutorials I saw are speaking of building it yourself.

[2021-07-14 04:39] newearthmartin commented on #2082
And then there is the issue that if you want to upgrade you need to manually download the binaries again.

[2021-07-14 05:02] michaelsproul opened #2457 "Remove cargo-audit ignore for secp256k1"
## Description

Although Lighthouse isn't impacted by [`RUSTSEC-2021-0076`](https://rustsec.org/advisories/RUSTSEC-2021-0076) we should still move away from the vulnerable version of libsecp256k1, and get rid of the `--ignore` that was added in #2456.

This should be resolved by #2389.

[2021-07-14 06:04] paulhauner commented on #2082
Are you contrasting this to the `prysm.sh` script on Prysm?

[2021-07-14 12:59] newearthmartin commented on #2082
that or geth which is installed via APT. In both cases you can program it to have the latest version automatically

[2021-07-14 13:04] newearthmartin commented on #2452
While we are at it, another misleading log is this one about not connecting to the eth1 endpoint. It's not that "it couldn't connect" but that it connected but it's giving an error

[code]

[2021-07-15 01:03] paulhauner commented on #2452
Thanks, I've addressed this in https://github.com/sigp/lighthouse/pull/2461.

[2021-07-18 02:32] michaelsproul opened #2466 "Downgrade HeadMissingFromSnapshotCache warning"
## Description

The `HeadMissingFromSnapshotCache` warning can seem quite intimidating, but it occurs for rather innocuous reasons:

1. A block published with an invalid signature, which flushes the cache (see: https://www.reddit.com/r/ethstaker/comments/n31tkq/lighthouse_did_not_advance_head_state_reason/)
2. A block published late, which can interrupt the state advance for the next slot.

We cou

[2021-07-19 13:42] dnkolegov opened #2468 "Possible DoS via /eth/v1/validator/duties/attester/{epoch}"
## Description

The problem is that an attacker can input an arbitrary number of validator indices in the payload for which to obtain the duties.

We sent a bunch of requests from one host with the following command:

[code]

## Version
1.4.0

## Present Behaviour

We observed The response time was more than 50 seconds.

## Steps to resolve

Rate limiting or input validation for the validator indi

[2021-07-19 14:03] zedt3ster commented on #2468
Hey @dnkolegov, this is a known behavior. The validator client's HTTP APIs should not be exposed to external network interfaces (by default, the HTTP API server is only exposed to `localhost`).

By default, in the example you described, an "attacker" would need access to the VC host to trigger this condition. Please refer to the [Security](https://lighthouse-book.sigmaprime.io/api-vc.html#security

[2021-07-19 14:15] dnkolegov commented on #2468
That [section](https://lighthouse-book.sigmaprime.io/api-vc.html#security) says about encryption and transport layer security and it says that for the validator client API. The section also says that
[code]

The reported endpoint is from standard Beacon Node API - https://ethereum.github.io/eth2.0-APIs/#/Validator,
so I don't think that the provided section addresses this.

[2021-07-19 23:46] michaelsproul commented on #2468
What @zedt3ster wrote also applies to some degree to the beacon node API, although you're right that it isn't as well documented.

Several of the beacon node API endpoints require the node to do a lot of work in the background, and it's an intrinsically difficult problem to make them run faster (we're trying, e.g. #2422, #2431). Given that, the API should only be exposed to `localhost` or a restri

[2021-07-20 11:32] dnkolegov commented on #2468
I agree that at least you should document that.

[2021-07-20 23:06] paulhauner commented on #2452
Resolved via #2461

[2021-07-20 23:06] #2452 closed, assigned to paulhauner

[2021-07-21 07:11] michaelsproul commented on #2468
Documented here, let us know if there's anything you'd like to add: https://github.com/sigp/lighthouse/pull/2470

[2021-07-21 07:43] dnkolegov commented on #2468
Looks good. Thank you.

[2021-07-21 09:16] macladson commented on #2454
Closed by #2467

[2021-07-21 09:16] #2454 closed, assigned to macladson

[2021-07-22 03:09] michaelsproul commented on #2468
Awesome. Thanks for reporting!

The new docs are live on the site https://lighthouse-book.sigmaprime.io/api-bn.html#security

[2021-07-22 03:09] #2468 closed, assigned to nobody

[2021-07-22 15:11] hanpeternicholas opened #2475 "make failing on last step"
## Description
'make' is failing on the last step and shows output:

## Version
Lighthouse v1.4.0
rustc 1.53.0 (53cb7b09b 2021-06-17)

## Present Behaviour
[code]

[2021-07-22 23:50] paulhauner commented on #2475
Thanks @hanpeternicholas, sorry to hear you're having issues.

I think some additional text from the failure would be useful. Specifically, it would be good to get the error that is being referred to by:

I suspect it would be just above the first line you shared :)

[2021-07-22 23:53] michaelsproul commented on #2475
`E0275` likely indicates the known issue of Lighthouse v1.4.0 not compiling with Rust 1.53.0: https://github.com/sigp/lighthouse/issues/2420. Please see that issue for instructions on temporarily downgrading the Rust compiler

[2021-07-23 04:15] mstallmo commented on #2114
Would love to take a stab at resolving this if no one is working on it already!

[2021-07-23 04:24] michaelsproul commented on #2114
@mstallmo That would be awesome! There's nobody working on it currently, it's all yours!

[2021-07-23 05:09] hanpeternicholas commented on #2475
Thank you. I downgraded to Rust 1.52.1 and it worked!

[2021-07-23 05:09] #2475 closed, assigned to nobody

[2021-07-24 17:31] WALL-E opened #2477 "upgrade mdbook to latest version"
## Description

The page `https://lighthouse-book.sigmaprime.io/key-recovery.html` , there are some rendering errors

## Present Behaviour

![image](https://user-images.githubusercontent.com/736927/126876687-14bad33c-96cd-43cc-8ddd-ac6a06f629a6.png)

## Expected Behaviour

![image](https://user-images.githubusercontent.com/736927/126876556-a3d6db12-5ad6-4cc4-8150-c488f7ad5d7a.png)

## Steps to res

[2021-07-26 03:02] paulhauner commented on #2169
Hey all, I've had to start working on this since we're getting seeing some related errors on our Prater nodes :slightly_smiling_face:

[2021-07-29 05:39] paulhauner commented on #2313
Resolved by #2352

[2021-07-29 05:39] #2313 closed, assigned to nobody

[2021-07-29 05:40] paulhauner commented on #2316
My current thinking is that we could keep this simple by starting a task at the start each slot that keeps the VC alive until 2s before the next slot. That way, reboots always happen in the last 2s of each slot, when we *should* have already completed all tasks.

[2021-07-29 05:41] paulhauner commented on #2430
I believed this was solved in #2436, feel free to reopen if you disagree :)

[2021-07-29 05:41] #2430 closed, assigned to nobody

[2021-07-29 05:42] paulhauner commented on #2444
Resolved by #2445

[2021-07-29 05:42] #2444 closed, assigned to paulhauner

[2021-07-30 10:48] michaelsproul opened #2485 "Panic in Prometheus timer"
A user on Discord reported this panic in a Prometheus timer, which looks quite curious.

[code]

[lhbn_panicked.txt](https://github.com/sigp/lighthouse/files/6907007/lhbn_panicked.txt)

[2021-07-30 13:44] michaelsproul commented on #2485
Looking into it, it seems that Prometheus uses `Instant::elapsed`, which shouldn't panic unless there are bugs in the implementation of `Instant` at the OS/hardware level. I'll try to find out more about this user's platform so we can narrow it down a bit. The comments in `Instant`'s source hint at a colourful history of timing bugs on different platforms:

https://doc.rust-lang.org/src/std/time.r

[2021-07-31 02:55] michaelsproul commented on #2485
About the environment: the host seems to identify itself as `vServer 20171111`, but I'm not sure if that's a specific hypervisor or just branding by the Hetzner VPS provider.

[2021-07-31 03:03] michaelsproul commented on #2485
Fixed in https://github.com/tikv/rust-prometheus/pull/406

[2021-08-01 02:33] SeaMonkey82 opened #2487 "Explicitly Declare Success of Fallback Node"
## Description

When `WARN Error connecting to eth1 node endpoint  action: trying fallbacks` appears in the output, there is no INFO output explicitly stating that connection to the fallback node succeeded.  I think this would be reassuring, as I ended up running a tcpdump on my fallback node just to verify that traffic was hitting it.

## Version

lighthouse v1.4.0-3b600ac (stable)
rustc 1.53.0 (

[2021-08-02 02:04] paulhauner commented on #2069
Resolved via #2230 :tada:

[2021-08-02 02:04] #2069 closed

[2021-08-02 02:07] paulhauner commented on #884
Resolved in the recent Altair PRs.

[2021-08-02 02:07] #884 closed

[2021-08-02 02:08] paulhauner commented on #635
Resolved in #2319

[2021-08-02 02:08] #635 closed

[2021-08-02 02:11] paulhauner commented on #2487
Sounds like a good idea!

For whoever implements this, I think we should make sure we only log this `INFO` after we log that `WARN` to avoid the case where every HTTP call triggers an INFO log.

[2021-08-02 05:21] SeaMonkey82 opened #2488 "Suppress 'endpoint is not synced' when 'Couldn't connect to any eth1 node'"
## Description

[code]

Those two messages together is kind of confusing to me.  One implies that the endpoint isn't synced and the other implies that it isn't reachable at all.  It seems like the WARN message should be suppressed if the CRIT message is true, as the beacon node can't know the state of the endpoint if it is unable to connect to it.

[2021-08-02 14:04] pawanjay176 commented on #2488
@SeaMonkey82 The crit has been changed to say
`Could not connect to a suitable eth1 node` in https://github.com/sigp/lighthouse/pull/2461

I think the new error message addresses your concern. Let us know if it can be improved even further.

[2021-08-02 23:13] paulhauner commented on #2488
Thanks @SeaMonkey82 and @pawanjay176. I'll close this, assuming it's resolved in #2461. Feel free to re-open if you disagree :)

[2021-08-02 23:13] #2488 closed, assigned to nobody

[2021-08-04 10:28] joe-bowman opened #2498 "Remote Signer Support"
## Description

The current release contains a remote signer implementation, and internal libs to consume the remote signer endpoint, however, it appears that the only validator_definition supported is that of LocalKeystore - and that Lighthose cannot currently be configured to consume a Remote signer endpoint.

 ## Version
Lighthouse v1.4.0/stable
Rust v1.5.0

## Present Behaviour

LocalKeystore

[2021-08-04 21:42] paulhauner commented on #2498
This is on our radar and is planned for the next major release (announcement here https://lighthouse.sigmaprime.io/update-37.html).

It's a high priority for us, we just didn't have a public issue to track it. I'll leave this open to serve that purpose, thanks.

[2021-08-05 02:26] michaelsproul commented on #2477
Thanks for the report! This seems to be fixed now with #2497 merged :tada:

[2021-08-05 02:26] #2477 closed, assigned to nobody

[2021-08-06 07:44] michaelsproul opened #2502 "Add tree hash caching for `inactivity_scores`"
## Description

To my surprise, I found a `FIXME(altair)` in our tree hashing code that I somehow missed when implementing #2459 :open_mouth:. I must have failed to scroll down after implementing the caching for the participation bits :man_facepalming:

https://github.com/sigp/lighthouse/blob/ff85b052496860dede3d99b483533f0b4a963ef4/consensus/types/src/beacon_state/tree_hash_cache.rs#L316-L318

##

[2021-08-09 00:05] paulhauner opened #2503 "Produce attestations after new head block"
## Description

[Attesting]: https://github.com/ethereum/eth2.0-specs/blob/v1.0.1/specs/phase0/validator.md#attesting
[`tokio::select!`]: https://docs.rs/tokio/1.9.0/tokio/macro.select.html

Presently, Lighthouse doesn't exactly follow the [Attesting] section of the honest validator guide. Specifically, we are slack in this section:

We always wait for condition (b) and never check for condition (

[2021-08-09 00:05] paulhauner commented on #2503
Perhaps this would be interesting for @realbigsean?

[2021-08-09 00:56] realbigsean commented on #2503
Interested!

[2021-08-09 01:06] paulhauner commented on #2502
I'm working on this now :)

[2021-08-09 13:23] mxinden commented on #2443
@paulhauner rust-libp2p v0.39.1 uses prost v0.8:

https://github.com/libp2p/rust-libp2p/blob/b814231251a707f8efdff6b4a74019a7635ac470/core/Cargo.toml#L28

[2021-08-09 15:23] realbigsean commented on #2503
Could we add to the fallback service, some idea of a "primary candidate" which is the candidate we are going to try first on the next request? Any request failure could update this.  We could maintain/re-establish the event subscription to this node. Might be a way to minimize the odds of having an inconsistency.

I generally like this idea better because even though it's a bit clunkier, I think i

[2021-08-11 03:22] ethDreamer commented on #1881
Sorry @pawanjay176 I only just saw now that you had assigned this to yourself >.<
Not sure how far you went on this? Hopefully we didn't waste too much duplicate work..

[2021-08-11 09:30] pawanjay176 commented on #1881
Ohh sweet. I had forgotten about this guy. Thanks for finishing this up :)

[2021-08-11 16:10] ethDreamer commented on #2466
I can take a look at this

[2021-08-11 20:09] ethDreamer commented on #2275
Opened a new issue:

* https://github.com/ethereum/eth2.0-APIs/issues/161

[2021-08-12 02:08] paulhauner commented on #2502
Resolved via #2504

[2021-08-12 02:08] #2502 closed, assigned to paulhauner

[2021-08-12 03:53] paulhauner commented on #2443
Resolved via #2493

[2021-08-12 03:53] #2443 closed, assigned to nobody

[2021-08-13 14:13] dnkolegov opened #2511 "VC: Response headers are not signed"
## Description

According to the validator client API [spec](https://github.com/sigp/lighthouse/issues/1269): `sig is a signature using vc_sk across the sha256 of the response headers + body.`

But the implementation signs only the response body: https://github.com/sigp/lighthouse/blob/stable/validator_client/src/http_api/mod.rs#L537

## Expected Behaviour

A signature must be produced over HTTP r

[2021-08-13 14:28] dnkolegov opened #2512 "VC: requests may not contain Authorization header with API token"
## Description

According to the [Validator Client API documentation](https://lighthouse-book.sigmaprime.io/api-vc-endpoints.html#post-lighthousevalidators), all requests (GET, POST, PATCH) must contain Authorization header with the token.

The current implementation only requires the API token in GET requests only, POST/PATCH requests will be processed even if they don't contain the Authorization

[2021-08-14 03:32] paulmillr commented on #2329
Hey folks, this would be awesome to have. The chips are extremely efficient and silent. Nimbus already provides official binaries, now it's lighthouse turn!

[2021-08-14 17:55] mcdee opened #2514 "/eth/v1/validator/synccommitteecontribution returns non-stringified integer"
## Description

The API endpoint `/eth/v1/validator/synccommitteecontribution` returns an incorrect type for `subcommittee_index`

## Version

1.5.0-rc0

## Present Behaviour

Data returned is:

[code]

## Expected Behaviour

The `subcommittee_index` value is returned as a number _i.e._ `1`.  It should be returned as string-quoted, _i.e._ `"1"`.

[2021-08-14 23:39] michaelsproul commented on #2514
Great catch! Thank you.

We can likely fix this for v1.5.0

[2021-08-15 12:33] Sajjon commented on #2329
@paulmillr Ive been running Lighthouse on my M1 for over three months now and it is super stable. I have 100% attestation rate.

[2021-08-17 04:55] michaelsproul commented on #2514
Fixed in https://github.com/sigp/lighthouse/pull/2515 which will ship in v1.5.0-rc.1

[2021-08-17 04:55] #2514 closed, assigned to nobody

[2021-08-17 07:22] paulhauner commented on #2329
Good to hear, thanks for the feedback @Sajjon Are you using the aarch64 binaries we're publish with the releases, or building your own please?

Note: edited because I tagged the wrong person. Sorry.

[2021-08-17 13:24] paulmillr commented on #2329
@paulhauner aarch64 binaries you're publishing don't work with M1. aarch64 != arm64. See the outputs of file for lighthouse and for proper M1 app:

[code]

[2021-08-17 18:46] ethDreamer commented on #2275
@pawanjay176 see comment on the linked issue above. Looks like `404` is the correct code to return in this instance as one of the examples shown is `ValidatorNotFound`. We should inform teku.

[2021-08-18 00:15] paulhauner commented on #2512
Thank you for raising this @dnkolegov :pray: It is indeed an issue and I have a fix over at #2517. We will include this in our next release.

In my testing I noticed that it's only `POST` requests that are missing header checks, whilst both `GET` and `PATCH` are checked. This is at odds with your description; you stated that `PATCH` was also passing without header checks.

The only reason I'm rais

[2021-08-18 01:31] paulhauner commented on #2512
Resolved in #2517

[2021-08-18 01:31] #2512 closed, assigned to nobody

[2021-08-18 03:10] dnkolegov commented on #2512
Hey @paulhauner.

[code]
Your example is incorrect. There is no such endpoint in the API.

I attached two requests illustrating that PATCH requests don't require tokens.
Please fix.

![photo_2021-08-18_10-06-52](https://user-images.githubusercontent.com/6521369/129830640-d2ddba58-e229-4cc8-aa6c-33f5d4f3c408.jpg)

![photo_2021-08-18_10-20-54](https://user-images.githubusercontent.com/6521369/129831

[2021-08-18 06:29] AgeManning opened #2521 "Further VC Metric - Validator duties"
## Description

Other clients expose the time/slot of when a validator needs to make an attestation next. Prysms api provides this information for each validator, indexed by their pubkey. This issue is to add a similar metric to our VC client.

We could do one of the following:
1. Expose for each validator the slot of their next attestation (and potentially the committee/subnet)
2. A metric that i

[2021-08-18 08:01] michaelsproul commented on #2512
@dnkolegov You're right, PATCH requests were also bypassing the header check. Both POST and PATCH are fixed and tested as of #2517.

The expected behaviour is a 400 error with the message about the Authorization header (your first screenshot).

[2021-08-18 19:48] jtomanik commented on #2329
For anyone interested in running lighthouse on M1.
I'm trying to submit a homebrew formula for lighthouse:
https://github.com/Homebrew/homebrew-core/pull/82893

That would allow anyone to get it via `brew install lighthouse` but for the moment it's blocked until 1.5.0

[2021-08-19 12:42] michaelsproul opened #2524 "Fork schedule API not updated for Altair"
## Description

We accidentally missed updating `/eth/v1/config/fork_schedule` when implementing Altair, which is less than ideal and has broken tools like @mcdee's Vouch.

[2021-08-19 12:56] realbigsean commented on #2524
I can work on this today

[2021-08-19 19:17] realbigsean opened #2526 "Unable to restart lighthouse if altair fork is missed"
## Description

If you have lighthouse running v1.4 until after the altair fork occurs and then try to upgrade to v1.5, lighthouse won't start up. This is because we attempt to deserialize the head of the chain by first deserializing the slot of the head block, and comparing it to the fork schedule. But when we saved the block to the database, we used the pre-fork serialization (even though the sl

[2021-08-20 00:20] michaelsproul commented on #2526
I'm going to have a go at this. It already looks like it might be a bit painful: all of our decoding methods assume they can determine the structure from the slot, so it might be messy to backtrack from the head of the minority chain to the pre-fork block while loading + deleting along the way.

[2021-08-20 00:48] paulhauner commented on #2526
I'll flag this as `v1.5.0` for the time being, just so it stays on our radar before we release. If we decide to push it to a later release, that's totally fine :slightly_smiling_face:

[2021-08-20 00:51] paulhauner commented on #2521
If we do (1), we'll have to test to make sure it works OK on our Prater/Pyrmont nodes with thousands of validators. I've had some issues with the validator monitor and thousands of validators before.

It's probably not a big deal and easily fixed somehow, I just wanted to raise it so we don't forget.

[2021-08-20 01:03] paulhauner commented on #2275
It seems like LH is doing the right thing and returning 404, so I'll close this. Please feel free to reopen if I missed something.

Thanks @pawanjay176 and @ethDreamer.

[2021-08-20 01:03] #2275 closed, assigned to nobody

[2021-08-20 01:54] paulhauner commented on #2511
Hmm, good point. Whilst I wouldn't consider #1269 to be a canonical specification of our signing scheme (I'd point to [this](https://lighthouse-book.sigmaprime.io/api-vc-sig-header.html) instead), you're right that it would make sense that we'd follow the [IETF Signature spec](https://tools.ietf.org/id/draft-cavage-http-signatures-01.html) and sign across the headers as well as the body (like you

[2021-08-20 05:31] paulhauner opened #2528 "Additional metrics for block delays"
[attestation production routine]: https://github.com/sigp/lighthouse/blob/12fe72bd372b6ffc788572aa0b3c559961a97a55/beacon_node/beacon_chain/src/beacon_chain.rs#L1254-L1428
[`BEACON_BLOCK_IMPORTED_SLOT_START_DELAY_TIME`]: https://github.com/sigp/lighthouse/blob/12fe72bd372b6ffc788572aa0b3c559961a97a55/beacon_node/beacon_chain/src/metrics.rs#L629-L632
[`BEACON_BLOCK_HEAD_SLOT_START_DELAY_TIME`]: htt

[2021-08-20 07:07] AgeManning commented on #2521
Yeah good point. Potentially we dont want to have a result with 50k values.

Maybe we should make 1 and 2. This way, the user shouldn't hit 1 if its running many k's of vals and can just use 2. But users have access to 1 on a more realistic node with < 100 vals.

[2021-08-20 07:07] AgeManning commented on #2521
@pawanjay176 had interest in taking this on.

[2021-08-21 00:53] paulhauner commented on #2528
#2533 is somewhat related to this.

[2021-08-22 06:06] sorpaas commented on #2259
Sorry I missed this message. Apparently late to the party as the name has decided to be `eth2_ssz`.

I'll be resurrecting the `ssz` crate though. Move it to `rust-ethereum` org and add a group owner so we get more people with push rights. If there are still ways to collaborate please let me know!

[2021-08-23 00:56] paulhauner commented on #2524
I've pushed this to `v1.5.1`, since it's not an issue for mainnet.

[2021-08-23 06:11] #2245 closed, assigned to michaelsproul

[2021-08-23 06:11] #2087 closed

[2021-08-23 06:11] #2169 closed

[2021-08-23 06:11] #2278 closed, assigned to nobody

[2021-08-23 06:11] #2457 closed, assigned to nobody

[2021-08-23 17:01] alx opened #2536 "no matching package named `libp2p` found"
## Description

I'm trying to update to `lighthouse v1.5.0` using `git`, and got the following error with the `make` command:

[code]

## Version

`git checkout v1.5.0`

## Present Behaviour

[code]

## Expected Behaviour

`make` should return a success code.

[2021-08-23 21:48] realbigsean commented on #2536
I wasn't able to reproduce this. You could try running `cargo clean` from the lighthouse dir and deleting the `~/.cargo/git` and `~/.cargo/registry` directories (these locations could be different depending on your `CARGO_HOME`) in case you have something odd cached.

Also is it possible you had a network issue while buildling? Because the error seems to suggest cargo couldn't find that dependency

[2021-08-24 00:54] memsido commented on #2536
Same issue as OP.

Removed `~/.cargo/git` and `~/.cargo/registry`. Followed by `~/git/lighthouse cargo clean`. The issue still persists.

This is the error upon `make`:
cargo install --path lighthouse --force --locked
  Installing lighthouse v1.5.0 (/home/ethstaker/git/lighthouse/lighthouse)
    Updating crates.io index
    Updating git repository `https://github.com/sigp/milagro_bls`
    Updating

[2021-08-24 00:59] michaelsproul commented on #2536
What Rust version are you running @memsido @alx? I'm pretty sure I've seen this error before, but wasn't able to reproduce with 1.52.1, 1.51.0 or 1.54.0.

You can check with `rustc --version` in the `lighthouse` directory.

You can remove any override with:

[code]

[2021-08-24 01:09] memsido commented on #2536
I think you are onto something @michaelsproul.

`~/git/lighthouse/rustc --version`  -> 1.50.0

`rustup update stable` updated me to 1.54.0
`make` is happily compiling now. Thank you 🙏

[2021-08-24 06:38] alx commented on #2536
I can confirm `rust update stable` command solves this issue.

This issue can be closed.

[2021-08-24 06:39] michaelsproul commented on #2536
Awesome! Hopefully this remains useful to anyone else who stumbles on it

[2021-08-24 06:39] #2536 closed, assigned to nobody

[2021-08-25 02:02] MysticRyuujin opened #2538 "Slasher Database Errors (MapFull)"
## Description

Beacon Node throwing errors about slasher service and pruning of slasher database

## Version

Docker image `v1.5.0` (I also saw this in `v1.4.0`)

## Present Behaviour

I get a steady stream of errors related to the slasher service:
[code]

## Expected Behaviour

No errors?

## Steps to resolve

I have two servers, both running via docker, both with the same behavior...

Here is m

[2021-08-25 02:06] MysticRyuujin commented on #2538
Oh and my slasher database is suspiciously almost exactly 256GB lol
[code]

[2021-08-25 02:18] michaelsproul commented on #2538
Unfortunately this is a known issue, particularly when subscribed to all subnets (see https://github.com/sigp/lighthouse/issues/2112).

For now the solution is to either bump up the max database size, or delete the database and start again. There's a rough formula for determining the size to set [here](https://lighthouse-book.sigmaprime.io/slasher.html#max-database-size). Unfortunately the 256GB d

[2021-08-25 02:28] MysticRyuujin commented on #2538
Alright! Thanks, I think for now I'll just increase the `- --slasher-max-db-size` and see how that goes :eagle: :eyes:

I'll keep track of these issues as well. Much appreciated the quick reply.

[2021-08-26 08:04] dong77 opened #2541 "Offer an option to make validator monitor logs less verbose"
## Description

This is not a bug report, but a feature request.

When a beacon chain handles hundreds of validators, the info-level logs become a bit too verbose and the log size increases proportionally with the number of validators. If these logs are aggregated by cloud platforms (AWS and Google Cloud) for monitoring and future analysis, the verbosity translates into a bigger bill.

It will be

[2021-08-26 08:09] michaelsproul commented on #2524
Fixed in `unstable`, will be part of v1.5.1

[2021-08-26 08:09] #2524 closed, assigned to realbigsean

[2021-08-26 11:32] pawanjay176 commented on #2541
@dong77 You can set `--debug-level warn` to get only the warn, error and crit logs. However, that won't satisfy the requirement of logging something per epoch.

[2021-08-27 03:38] #2406 closed, assigned to realbigsean

[2021-08-27 04:42] michaelsproul opened #2545 "Run fork choice spec tests"
## Description

We should add a test runner for the upstream fork choice tests: https://github.com/ethereum/consensus-specs/tree/dev/tests/formats/fork_choice

[2021-08-27 07:36] dong77 commented on #2541
Thank you, @pawanjay176 . However, I think some WARN logs are still too verbose and can be aggregated into **one entry per slot  (or epoch)** instead of using **one entry per validator per slot (or epoch)**.

[code]

Note that I replaced my validator IDs with ****** for privacy.

[2021-08-27 09:44] bk-one opened #2550 "`libp2p` error while compiling - update compiler"
## Description

I compile lighthouse manually, this worked until the 1.5 release for me (also won't work on 1.5.1). It complains about a missing libp2p package, even though the remote git is set.

[code]

[2021-08-27 09:47] bk-one commented on #2550
I fixed the issue by updating rust to the latest version:

[code]

Just leaving this here in case someone else encounters that problem. No action necessary.

[2021-08-27 12:11] michaelsproul commented on #2550
Thanks @bk-one. We've seen a few people stumble on this, so I'll leave this issue open and pin it for a while to give it better visibility (#2536 is a dupe, but is already closed).

[2021-08-27 18:18] pawanjay176 opened #2552 "Validator monitor shows best effort inclusion as sub-optimal"
## Description

For the per epoch report in the validator monitor logs, we show a `Sub-optimal inclusion delay` log for min inclusion distances > 1.
This is misleading to users in cases where the attestation was actually included optimally in the next non missed/ non orphaned slot.

## Version

unstable

## Expected Behaviour

Should show inclusion delay == optimal delay in cases where attestation

[2021-08-29 22:53] JP-Ellis opened #2553 "libp2p Peers per Client is Negative"
## Description

I have noticed that since version 1.5.0 (I believe) the metric `libp2p_peers_per_client` reports negative numbers which I find very odd.  They also don't add up to `libp2p_peer_connected_peers_total`.

![image](https://user-images.githubusercontent.com/3196162/131267862-b266e0ef-e442-4b8d-9fbe-08f04b12a450.png)

## Version

[code]

## Expected Behaviour

The `libp2p_peers_per_clien

[2021-08-30 05:22] michaelsproul commented on #2114
Finally got to the bottom of this here: https://github.com/sigp/lighthouse/pull/2486#pullrequestreview-741274663

For anyone wanting to see the shutdown output in `tee`, run with `tee -i` to stop `tee` from dying on interrupt

[2021-08-30 05:22] #2114 closed

[2021-08-30 13:41] michaelsproul commented on #2552
We currently read the inclusion distance straight from the epoch processing summary, but this approach doesn't work for Altair and doesn't lend itself well to computing the best-effort inclusion delay.

Instead, I wonder if we could compute the minimum attestation inclusion distance per validator when we record attestations from blocks, here:

https://github.com/sigp/lighthouse/blob/b0ac3464ca5fb1

[2021-08-31 00:15] paulhauner commented on #2552
It's not necessarily a deal breaker, but we'd have issues determining the correct inclusion distance when a block is orphaned.

[2021-08-31 00:20] paulhauner commented on #2541
I've also experienced issues with the validator monitor being too verbose in Prometheus metrics with our 5k validator machines on Pyrmont.

I think figuring out how to be more quiet here is a good idea. I like the idea of aggregating the logs like @dong77 suggested.

[2021-08-31 07:14] paulhauner commented on #2553
Thanks @JP-Ellis, this is a bug and we'll fix it.

[2021-08-31 07:59] BeroBurny opened #2554 "LCLI docker push access denied"
## Description

after building `lcli` image its failed to push on docker hub

## Present Behaviour

there is no `lcli` image on the docker hub
https://github.com/sigp/lighthouse/runs/3439538667?check_suite_focus=true

(there is a known issue from a month still not resolved https://github.com/sigp/lighthouse/pull/2469#issuecomment-884186076)

## Expected Behaviour

able to use `lcli` docker image f

[2021-09-01 01:44] michaelsproul opened #2555 "ENR and subscription errors when re-subscribing with --subscribe-all-subnets"
## Description

When using `--subscribe-all-subnets` there seem to be issues updating the ENR when the node drops in and out of sync. It seems that we do a bunch of subscriptions the first time after we sync, and then re-attempt the same subscriptions when sync is attained again, causing the duplicate ENR issues.

This is likely just an issue of logging. There's no indication that this impacts cor

[2021-09-01 23:38] winksaville opened #2557 "Feature Request: simpler and safer workflow to move validators from one lighthouse vc to another"
## Description

There should be a workflow to move one or more validators from one lighthouse vc to another. This workflow should minimize missed attestations, ideally zero, and should make all best attempts to guarantee no slashing.

## Version

v1.5.1-stable

## Present Behavior

Assume I have two lighthouse vc instances running on the same or different computers, VC1 and VC2. Each with a differ

[2021-09-03 01:51] paulhauner commented on #2554
Sorry for the delay, I've manually pushed the image and created the repo (using 5a3bcd290):

https://hub.docker.com/r/sigp/lcli

We can leave this open until we see CI update it successfully.

[2021-09-03 06:12] michaelsproul commented on #2554
It seems it's still broken https://github.com/sigp/lighthouse/runs/3502705442

[2021-09-03 19:33] remyroy opened #2563 "Beacon Node API link moved [Book]"
## Description

On the book on https://lighthouse-book.sigmaprime.io/api-bn.html , the link to the Beacon Node API moved from https://ethereum.github.io/eth2.0-APIs/ to https://ethereum.github.io/beacon-APIs/

## Expected Behaviour

Links on the book should work and point to the proper pages.

## Steps to resolve

Update the book to use the new links.

[2021-09-03 19:35] remyroy commented on #2563
Related to https://github.com/ethereum/beacon-APIs/issues/164

[2021-09-03 19:59] remyroy opened #2564 "Add syncing ETA in Beacon Node API response"
## Description

It would be nice to add syncing time ETA in Beacon Node API response. That value is present in the logs, but it would be nice to make it visible in the API. This is related to https://github.com/ethereum/beacon-APIs/issues/166 .

## Version

Lighthouse/v1.5.1-b0ac346/x86_64-linux

## Present Behaviour

The `/eth/v1/node/syncing` API does not expose syncing time ETA in the response.

[2021-09-04 19:56] newearthmartin opened #2566 "Reduce verbosity of logging on VC when a BN is offline"
## Description

When I set two beacon nodes for redundancy, it seems that lighthouse is trying the first node twice instead of trying both. In case the first one is not synced, it does not fall back to the second one.

## Version

 v1.5.1-b0ac346

Building from stable

## Present Behaviour

I have set up my validator with two beacon nodes for redundancy:

- my local Lighthouse beacon chain
- an ET

[2021-09-05 05:51] paulhauner commented on #2566
Did the VC fail to perform duties via the Infura node all together?

The fallback behaviour is fairly well tested, so I'd be surprised if it's failing to use the fallback at all.

The VC will periodically check the first node and keep logging warnings when it is not online/synced. So, it's expected behaviour to see sustained, multiple warnings for the first beacon node if it's offline.

[2021-09-05 05:57] paulhauner commented on #2566
Oh, I can see in the first log that there is one BN synced. This would be the Infura node and I expect the VC would have used that.

I'm not convinced we should only log warnings once for the offline node. I think it's important to be loud that the first node is down.

Perhaps the solution here is to provide some log that although one node is offline, there is one that is online.

[2021-09-05 11:40] Bombommi opened #2567 "How reduce ligthhouse bandwich"
v1.5.1-b0ac346
Building from sources
Use BN+VC in one machine (Ubuntu 20.04)
ETH 1.0 in another one

How i can reduce ligthhouse bandwich?
Version start from v1.4.0 starting eat to much upload bandwich.
With same configs
v1.5.1 right now eat ~1mb/s
v1.3.0 it only 100-150KB/s

If i  try to reduce target-peers low that 15
`WARN Could not publish message               error: InsufficientPeers, servic

[2021-09-05 16:28] newearthmartin commented on #2566
Ah, thanks! I couldn't understand the log that it meant that one is connected.
And I didn't mean only once in the whole log, I meant that `Offline beacon node` appears repeated every time. And it does feel excessive amount of logging, like it swamps all other logs. I would like to see so many errors if there were no active beacon nodes.

[code]