[2019-09-09 00:10] michaelsproul commented on #527
Nice, getting rid of that hefty git submodule is great. The makefile looks good on the whole, I just have two comments:

* The `SPEC_VERSION` variable is undefined, should be `TESTS_TAG`?
* Using `gzip` and `tar` separately seems unnecessary, `tar -xvf` should take care of decompression too.

[2019-09-11 13:34] AgeManning opened #532 "List of known interop issues to correct"
## Description

This is a listing of known issues that need to be corrected

- Attestations are sent at the start of the slot, not halfway through and can be sent before a block is produced
- RPC request streams are being reset before closed
- Ping requests don't close streams (to be confirmed)
- Timing on new RPC req/resp should be applied per chunk

[2019-09-13 17:18] pscott opened #533 "Broken links in README.md"
## Description

Links to `About Lighthouse:`, and `onboarding documentation` are pointing to deleted content.
## Present Behaviour

Links to `About Lighthouse:` and `onboarding documentation`(respectively [ligthouse.md](https://github.com/sigp/lighthouse/blob/master/docs/lighthouse.md) and [onboarding.md](https://github.com/sigp/lighthouse/blob/master/docs/onboarding.md)) are invalid. They just li

[2019-09-14 17:34] g-r-a-n-t commented on #254
Hey @paulhauner, this something I could pick up?

[2019-09-17 02:29] michaelsproul commented on #430
You mean once you've called `get_crosslink_committee_for_shard` and have a `CrosslinkCommittee`? The validator indices are in the `committee: Vec<usize>` field of the `CrosslinkCommittee`, with the `i`th entry of the vec corresponding to the `i`th validator of the bitfield.

If you want to chat in real-time, join us on Discord and send me a message (`@sproul`): https://discord.gg/MCvg6ty. I tend t

[2019-09-17 07:24] pscott commented on #357
So I'm trying to work on this, but I'm stuck here. Here's the sample code I'm working with:
[code]

Now obviously this code won't work, as I have not updated `eth1_data` (meaning the expected number of deposits == 0).

So I add this right after deposit_num declaration :
[code]

But now I'm getting
```thread 'per_block_processing::tests::max_deposits_exceeded' panicked at 'called `Result::unwrap()`

[2019-09-17 21:35] AgeManning opened #538 "Harden the Discv5 routing table for Sybil and Eclipse attacks"
## Description

There are a few strategies that can be employed that will harden our routing table from Sybil and Eclipse attacks. Some examples are listed here: https://github.com/ethereum/devp2p/blob/master/discv5/discv5-rationale.md#sybil-and-eclipse-attacks

Specifically we should implement:
- Limiting the buckets to 2 nodes per /24 subnet
- Limiting the entire table to 10 nodes per /24 subnet

[2019-09-17 21:36] AgeManning commented on #509
The majority of this has been implemented in other syncing issues. The load balancing is the remaining feature and defining trait of this issue.

[2019-09-18 04:08] paulhauner commented on #254
Hey, thanks for reaching out.

@AgeManning is about to start a refactor of the validator client (primarily making it more async) so it's perhaps not the best time to start coding on this.

However, there's a bit of research that needs to happen first. Primarily about designing the schema of the database so it's space and time efficient. I'd be happy to work with you if you want to start thinking a

[2019-09-18 19:06] g-r-a-n-t commented on #254
@paulhauner Yeah, that sounds good. Maybe after I've done a bit of digging on my own we could hop on a call and discuss what makes sense.

[2019-09-18 23:03] paulhauner commented on #254
Sounds good!

[2019-09-18 23:28] paulhauner commented on #374
I'm going to close this one, I feel like it's no so relevant anymore.

Feel free to re-open if you disagree :)

[2019-09-18 23:28] #374 closed

[2019-09-18 23:30] paulhauner commented on #382
This was completed in #414

[2019-09-18 23:30] #382 closed

[2019-09-18 23:31] paulhauner commented on #312
Closing as this is now irellevant

[2019-09-18 23:31] #312 closed

[2019-09-18 23:32] #335 closed

[2019-09-19 00:12] paulhauner commented on #254
I had a think about this. I think we can make a maximally safe (but not profit maximizing) system given the following rules:

- Unless it is the validators first attestation, every attestation must have an `attestation.data.target.epoch` that is greater than it's previous attestation.

- Unless it is the validators first block proposal, every `block.slot` must be in a greater epoch than it's previ

[2019-09-19 00:12] paulhauner commented on #254
@michaelsproul you might find this interesting :)

[2019-09-19 00:26] paulhauner opened #539 "Underflow when subtracting duration in tests"
## Description

Reported here: https://github.com/sigp/lighthouse/pull/536#issuecomment-532581833

Thanks to @pscott for pointing it out!

## Additional Info

I'm pretty sure this is to do with the slot clock. Shouldn't be too hard to resolve.

Note: the issue is on the `interop` branch, not master.

[2019-09-19 06:03] paulhauner commented on #539
I'm working on this now

[2019-09-19 08:35] g-r-a-n-t commented on #254
Would it be an improvement to only read the file upon initialization of the client and then use a threadsafe `ValidatorHistory` object stored in memory from then on, only writing to the file when it's updated or upon termination. I would imagine blocking messages on reading and writing to this file could be slow. Looking at the client code tho, I'm not sure where this would be stored.

[2019-09-23 10:59] paulhauner commented on #254
This sounds like a sensible optimization!

[2019-09-23 14:22] paulhauner opened #540 "Eth1 data underflow"
https://github.com/sigp/lighthouse/blob/192380cb58c4e0803f9b787d033bc78fd0e9ea49/eth2/state_processing/src/per_block_processing.rs#L380-L383

If we accept that `state.eth1_data` is user-supplied input, I believe this subtraction is an underflow risk.

@michaelsproul, I'm keen to hear your thoughts.

[2019-09-23 23:49] michaelsproul commented on #540
`state.eth1_data` is decided by majority voting, so the network would have to be pretty screwed for it to take on a malicious value. That said, better to be safe than sorry, we may as well change this to a `saturating_sub`.

More broadly, I was thinking of writing a clippy lint to detect and ban _all_ plain additions and subtractions, which we could roll out across the `types`/`state_processing` c

[2019-09-24 23:47] paulhauner commented on #540
I'm also keen to give this a go.

[2019-09-25 00:12] hermanjunge commented on #445
Also

    git lfs fetch

[2019-09-25 07:55] g-r-a-n-t commented on #254
Alright, well, sounds like that's pretty much set :) I'll get to coding this whenever the time is right.

[2019-09-25 23:24] paulhauner commented on #445
Thanks @hermanjunge!

We're going to be merging in the `interop` branch soon, which removes the git-lfs dependency all together. We found it to be quite a pain too.

[2019-09-26 04:02] #482 closed

[2019-09-26 04:02] #503 closed

[2019-09-26 04:02] #519 closed

[2019-09-26 04:02] #539 closed

[2019-09-27 05:47] michaelsproul commented on #440
Assigning myself with some intention of working on this soon (maybe in the lead up and during DevCon, but not necessarily before the 0.0.1 release)

[2019-09-27 06:07] michaelsproul commented on #430
Hey @192-sean, I'm interested in taking over this issue to get it done in the next week or so. Are you still working on it? If you want to push what you have so far, I'd be happy to finish it off

[2019-09-28 01:07] paulhauner opened #546 "Deploy book via CI"
## Description

In `/book` there is an mdbook containing our hand-written documentation (note: this is distinct to the [rust docs](http://lighthouse-docs.sigmaprime.io/)).

The book is presently deployed at http://lighthouse-book.sigmaprime.io/

I deployed it from my local machine (with the same credentials as the ci server) using:

[code]

Over at #543 I have modified the `Dockerfile` and `gitlab

[2019-09-28 01:08] paulhauner commented on #546
@spble I assigned you because you've been the CI-guy so far :)

[2019-09-28 08:25] pscott commented on #540
@michaelsproul would this lint make the cut : https://rust-lang.github.io/rust-clippy/master/#integer_arithmetic ?

[2019-09-28 08:54] michaelsproul commented on #540
Yeah, it kind of does, I started working with it on Thursday (and fixed a bug https://github.com/rust-lang/rust-clippy/pull/4585). I’m now splitting it into one lint for detecting operations that can overflow, and another for detecting operations that have boundary issues (div or mod by 0, shift by >word size).

[2019-09-29 02:02] paulhauner opened #548 "Fork choice does not restore gracefully"
## Description

Fork choice is throwing errors when we shutdown a client and start again from the same database.

This is likely because we do not serialize and store the fork choice store on shutdown (and restore it on startup).

## Steps to resolve

Store the fork choice in the `persist` method (if this is too slow, consider only storing it when the beacon chain gets dropped:

https://github.com

[2019-09-29 10:49] #533 closed

[2019-09-30 02:47] michaelsproul opened #553 "Require Beta and/or Nightly to pass CI"
## Description

We allow compilation to fail on the Beta and Nightly channels, which leaves us blind to upcoming breaking changes in the Rust compiler (as happened today with https://github.com/sigp/lighthouse/pull/550). I think we should require _compilation_ to succeed, but **not** `cargo fmt`, as writing multi-version code is reasonable, but requiring different versions of `rustfmt` to agree is

[2019-09-30 08:08] pscott commented on #359
Seems like we can skip these for the moment, as MAX_TRANSFERS is set to 0 in the current spec.

[2019-10-06 02:51] AgeManning commented on #538
Latest modifications update session logic to a three way handshake. Combined with IP limitations should be sufficient for mitigating Sybil attacks

https://link.springer.com/chapter/10.1007%2F978-3-642-02627-0_6

[2019-10-10 08:17] AgeManning opened #560 "[Discv5] Update table connection status every ping"
## Description

Currently, a Node's status in the routing table is only updated when a new session is established. The status should be updated every time a PING returns to increase it's liveness in the local view of the DHT.

[2019-10-11 11:43] b-m-f commented on #560
Hi, can I pick this one up? Would be free to do it on tuesday :)

[2019-10-12 02:36] AgeManning commented on #560
Hey,

This was like a placeholder issue to remind myself to add this is. The changes will actually be in our `rust-libp2p` fork on the `discv5` branch here: https://github.com/sigp/rust-libp2p/tree/discv5/misc/discv5

There is a function, `connection_updated` https://github.com/sigp/rust-libp2p/blob/discv5/misc/discv5/src/behaviour.rs#L625
which needs to get called when we receive a successful `PI

[2019-10-12 04:10] michaelsproul commented on #527
I'm going to have a go at setting up Gitlab to run the EF tests

[2019-10-12 06:10] paulhauner opened #561 "Add "push_leaf" method to merkle_proof::MerkleTree"
## Description

Add a method to [`merkle_proof::MerkleTree`](https://github.com/sigp/lighthouse/blob/96a327fe500fa762fd3aa3c70fa2a17eb2c4baed/eth2/utils/merkle_proof/src/lib.rs#L28-L42) to improve efficiency.

## Detail

When we're [producing the deposit contract merkle tree](https://github.com/sigp/lighthouse/blob/7eb82125ef1652871ada2d72649082f33e4a04bd/beacon_node/beacon_chain/src/beacon_chain_

[2019-10-13 08:05] pscott commented on #561
Oh lol, I was already working on this particular topic. I just finished the PR, and now I see this issue. Welp, there you go : https://github.com/sigp/lighthouse/pull/563

Hope it helps! :)

[2019-10-15 12:41] b-m-f commented on #560
Hi @AgeManning,

I have opened https://github.com/sigp/rust-libp2p/pull/6 and put two questions in there:
- Should the `connection_updated` also be called when ENR sequence that was received? Or will this be done when the requested new ENR is returned?
- Could it happen that a PING is received for which no ENR can be found?

And Id be happy to learn more and implement some tests. Should these go i

[2019-10-16 01:03] AgeManning commented on #560
Responded on the rust-libp2p repo :)

[2019-10-18 09:57] michaelsproul commented on #254
Re: @paulhauner

I agree with these two maxims, but we need an extra one to guard against surround votes:

* Every attestation must have an `attestation.data.source.epoch` that is greater than or equal to its previous attestation.

Otherwise you might sign an attestation which surrounds a previous one. The existing rules only handle the case of signing a new attestation surround by a previous one.

[2019-10-18 10:07] paulhauner commented on #254
@michaelsproul, agreed. I was wrong.

I think it's safe to invalidate anything I've said here and work off the docs created by @pscott (I linked you to them in chat) :)

[2019-10-18 10:24] michaelsproul commented on #254
No worries, I just necrobumped this issue while trying to remember what the minimal safe algorithm was when reviewing Scott's algo.

[2019-10-21 23:03] paulhauner commented on #481
This was fixed in some prior PR

[2019-10-21 23:03] #481 closed

[2019-10-21 23:06] paulhauner opened #565 "Warn during long beacon state skips"
## Description

The `state_at_slot` function (below) should log a warning whenever trying to skip forward a large number of blocks.

https://github.com/sigp/lighthouse/blob/96a327fe500fa762fd3aa3c70fa2a17eb2c4baed/beacon_node/beacon_chain/src/beacon_chain.rs#L367-L408

I'd suggest we warn if we are skipping more than `3` slots.

[2019-10-22 03:26] michaelsproul commented on #475
Fixed in the update to v0.8.3 some time ago

[2019-10-22 03:26] #475 closed

[2019-10-22 03:26] michaelsproul commented on #464
Fixed in the update to v0.8.3 some time ago

[2019-10-22 03:26] #464 closed

[2019-10-22 03:27] michaelsproul commented on #442
Fixed in the update to v0.8.3 some time ago (removed entirely)

[2019-10-22 03:27] #442 closed

[2019-10-22 03:35] #527 closed

[2019-10-24 04:10] michaelsproul commented on #440
Getting into this now

[2019-10-24 16:55] Magicking opened #568 "[UX] All default values displayed in usage"
## Description

Some default values are displayed in usage while some are not, all default value should be displayed, this is confusing and require the user to research some information that could be displayed easily.

## Present Behaviour

[code]

Only `db`, `debug-level`, `listen-address` and `maxpeers` flags display their default values.

## Expected Behaviour

Display default values for all fl

[2019-10-25 01:03] michaelsproul opened #570 "Update spec to v0.9"
## Description

Spec v0.9 was recently released: https://github.com/ethereum/eth2.0-specs/releases/tag/v0.9.0

[2019-10-25 02:16] paulhauner commented on #568
Thanks @Magicking! I've been thinking about this lately, we'll make sure it happens :)

[2019-10-26 03:26] paulhauner commented on #561
Re-opening because #563 has been reverted.

[2019-10-28 10:42] b-m-f commented on #560
@AgeManning guess this one can be closed now? Or should the revision number in https://github.com/sigp/lighthouse/blob/2399b9bbe0e521fa092fef8bcf592b7b82f7ce3f/beacon_node/eth2-libp2p/Cargo.toml be updated.

[2019-10-28 23:14] paulhauner opened #575 "Move the EthSpec struct"
## Overview

Move the `EthSpec` struct to somewhere more sensible.

## Detail

The `EthSpec` trait definition lives in [`eth2/types/src/beacon_state/beacon_state_types.rs`](https://github.com/sigp/lighthouse/blob/master/eth2/types/src/beacon_state/beacon_state_types.rs).

I propose that we move it to a new `eth2/types/src/eth_spec.rs` file.

[2019-10-29 00:51] AgeManning opened #576 "UI For Lighthouse"
## Description

*This is a major task and is listed as a `good-first-issue` mainly to highlight the issue amongst new contributors who may be looking at the project without a rust background*

We are interested in developing a UI that interfaces with the beacon node and validator client. This would have simple functionality, such as creating validator keypairs, exiting validators, reporting the st

[2019-10-29 01:55] AgeManning commented on #560
Yep, this is complete.
There are number of updates in the rust-libp2p crate that we will be updating all in one hit.  We've made some changes to gossipsub also.
I have a large network update, which will include all of these.

Thanks for the help :)

[2019-10-29 01:55] #560 closed

[2019-10-29 02:51] AgeManning commented on #521
This has been completed. Extended validation is left for #524

[2019-10-29 02:51] #521 closed

[2019-10-29 06:46] AgeManning opened #578 "Makefile incorrect for testing"
## Description

`make test` currently tried to run the EF-test vectors. This will fail for users that have not downloaded the ef tests. This should be modified so that the EF-tests are not run.

[2019-10-30 00:58] AgeManning opened #580 "Attestation Aggregation Topics and Validation"
## Description

A non-trivial attestation aggregation strategy is being developed. Leading up to this, a new topic and aggregation validation has been stipulated in the networking specification: https://github.com/ethereum/eth2.0-specs/blob/dev/specs/networking/p2p-interface.md#global-topics

We need to add the `beacon_aggregate_and_proof` topic along with the required validation. The validation r

[2019-10-30 01:06] AgeManning opened #581 "Support Snappy compression to the RPC"
## Description

Snappy compression needs to be added to the Eth2 rpc as specified in the [networking specification](https://github.com/ethereum/eth2.0-specs/blob/dev/specs/networking/p2p-interface.md).

This involves adding the extra protocol ids and prioritising the compression protocols over their non-compressed counter-parts.

[2019-10-30 01:08] AgeManning opened #582 "Replace Secio with Noise"
## Description

The Secio encryption layer needs to be replaced with Noise. Ideally, for public testnets we would like to maintain support for Secio (to be compatible with other clients) and support both temporarily.

[2019-10-30 01:20] AgeManning opened #583 "Block and Attestation Validation"
## Description

This issue is an extension of #524.

Blocks and attestations need to be validated before being propagated over the gossipsub network. The [networking specification](https://github.com/ethereum/eth2.0-specs/blob/dev/specs/networking/p2p-interface.md#global-topics) provides details on the validation of blocks and attestations.

This issue deals with the naive interop case for attesta

[2019-10-30 08:20] #565 closed

[2019-10-30 10:24] #578 closed

[2019-10-30 23:52] zedt3ster opened #585 "Remove fuzzing targets from master branch"
## Description

The `master` branch presently contains fuzzing targets (_libFuzzer_) for the following crates:

* `eth2_hashing`
* `ssz`
* `swap_or_not_shuffle`

These fuzzing targets are also present in the `fuzzing-state-processing` branch (along with additional state/block processing related fuzzing targets).

## Steps to resolve

Remove all fuzzing targets from the `master` branch.

[2019-10-31 02:13] #585 closed

[2019-11-02 09:18] b-m-f commented on #581
I identified https://github.com/sigp/lighthouse/blob/9aedb12bfc092be95880cdbe4500a1c7768ff2d5/beacon_node/network/src/service.rs#L175 as a place to apply the compression.

Every message that is published will then be snappy compressed. If you agree Id open up a PR using the rust-snappy crate for the algorithm

[2019-11-03 02:10] AgeManning commented on #581
For the compression, we need to support a new `ProtocolId`.

We are using libp2p, essentially, how this works, is clients support a number of strings called `ProtocolId`s. Libp2p, based on the supported strings a client supports, will negotiate a protocol to communicate over.

The [Req/Resp](https://github.com/ethereum/eth2.0-specs/blob/dev/specs/networking/p2p-interface.md#the-reqresp-domain) def

[2019-11-05 03:23] paulhauner opened #592 "Apply eth2.0-specs "config" to ChainSpec"
## Description

The eth2.0-specs repo has a [`configs`](https://github.com/ethereum/eth2.0-specs/tree/dev/configs) directory, which is represented by our `ChainSpec` and `EthSpec`. Let's call the struct that is inferred from these YAML files as the `SpecConfig` struct.

Presently, we do not have the functionality to parse a `SpecConfig`. It would be nice to parse it for:

- Ensuring the configs su

[2019-11-05 03:43] #575 closed

[2019-11-05 04:46] #440 closed

[2019-11-05 09:19] pawanjay176 opened #594 "Keypair `PartialEq` implementation is recursive"
## Description

The `Keypair` struct has the following implementation of `PartialEq`
[code]

Comparing any instances of `Keypair` would recursively keep calling `eq` until stack depth is exceeded causing stack overflow.

## Steps to resolve

Simply deriving the `PartialEq` trait or comparing the fields within the struct should fix the issue.

**Note**: Interestingly, comparing instances of `Keypai

[2019-11-05 11:59] michaelsproul commented on #594
Nice find!

[2019-11-10 23:28] #594 closed

[2019-11-11 04:36] michaelsproul opened #598 "Optimise calculation of proposer indices"
## Description

In v0.9 of the spec, proposer selection was changed so that it depends on a _per slot_ shuffling of the active validators. This invalidates any attempt to use the existing committee cache to compute the proposer, but doesn't rule out doing something else clever.

The relevant functions in the spec are [`get_beacon_proposer_index`](https://github.com/ethereum/eth2.0-specs/blob/v0.9.

[2019-11-11 04:37] michaelsproul commented on #598
Blocked on merging of v0.9 into master: https://github.com/sigp/lighthouse/pull/597

[2019-11-12 05:09] #354 closed

[2019-11-12 05:09] #355 closed

[2019-11-12 05:09] #356 closed

[2019-11-12 05:09] #357 closed

[2019-11-12 05:09] #358 closed

[2019-11-12 05:09] #359 closed

[2019-11-12 18:40] pscott commented on #592
Working on it!

[2019-11-14 02:26] janus commented on #583
Is it still open?

[2019-11-15 03:04] paulhauner opened #602 "Tidy Eth2Config generation at runtime"
## Description

Presently, when the `lighthouse` binary is started an `Environment` is created which contains an `Eth2Config`.

Then, [this code](https://github.com/sigp/lighthouse/blob/bdae7e01a7d2b7cbc9bd760f139e4f1c8e3c4487/beacon_node/src/lib.rs#L59-L65) ignores the `environment.eth2_spec` and replaces the `Eth2Config` in it's local context.

This means that there's no guarantee of consistency

[2019-11-15 03:47] #463 closed

[2019-11-15 07:10] g-r-a-n-t commented on #583
Hey @janus, I am working on this. This issue should have been reserved.

@ceresstation, could you please approve work?

[2019-11-15 22:35] ceresstation commented on #583
Sorry about that @g-r-a-n-t, you're good to go :)

[2019-11-17 05:58] paulhauner opened #604 "Onboarding testnet validators"
Here I propose a workflow for on-boarding validators to Goerli testnets (but it should also work for mainnet tetsnets).

## Proposal

### Components

There are two software components:

1. the `account_manager` crate, executed via the monolithic `lighthouse` binary.
    - Generates cryptographic keys, initializes validator slashing databases and produces eth1 deposit data.
1.  a single-page web ap

[2019-11-18 13:38] pscott commented on #561
@paulhauner this can be closed

[2019-11-19 03:33] yaanhyy opened #607 "the docs on lighthouse-book have been out date."
## Description

on the page http://lighthouse-book.sigmaprime.io/simple-testnet.html.

the command is out data, beacom_node and validator_client are merged to lighthouse, so:
./beacon_node testnet -f recent 8
should change to:
./lighthouse bn testnet -f recent 8

./validator_client testnet -b insecure 0 8
should change to:
./lighthouse vc testnet -b insecure 0 8
etc...

[2019-11-20 06:49] michaelsproul opened #614 "Update block processing tests for v0.9"
## Description

In #597 I commented out some of the new block processing tests because they were failing due to the v0.9 update.

## Steps to Resolve

Update the commented out tests (tagged with `FIXME`) in `state_processing/src/per_block_processing/tests.rs`:

https://github.com/sigp/lighthouse/blob/601951ae991cbd17349cff8a5b6539462450ec37/eth2/state_processing/src/per_block_processing/tests.rs#L

[2019-11-20 06:49] michaelsproul commented on #614
@pscott Would you be interested in taking this?

[2019-11-21 01:06] #570 closed

[2019-11-21 07:06] paulhauner opened #615 "Encoding/decoding reduced tree fork choice"
## Description

We keep a representation of the non-finalized section of the block DAG in memory. We use this cache to run the fork choice algorithm as it's significantly faster than reading the full blocks from the slow HDD.

This issue has been raised because we are not persisting this cache to disk so it is lost each time the process is shutdown. This cache is very useful and hard to come by; w

[2019-11-21 07:15] paulhauner opened #616 "Support gzip encoding on eth1 http json rpc"
## Description

Presently we do not handle gzip encoding when connecting to an eth1 peer. Gzip is commonly used by public Ethereum nodes because it significantly reduces the size of resoonses.

## Detail

I provide details in the comments in the code used to communicate with the eth1 node via HTTP:

https://github.com/sigp/lighthouse/blob/24e941d175a7455209c140157bf8d5d588c87ba1/beacon_node/eth1/s

[2019-11-21 15:40] b-m-f commented on #581
Hi @AgeManning,

started coding on this again and I have a question regarding the stream directions.

There are both Outbound and Inbound en- & decoding on the Codec, which confuses me a bit.

My idea was to decode only on received traffic and to only encode outbound.

So snappy compression would apply to `SSZSnappyOutboundCode.encode` and `SSZSnappyInboundCode.decode`.

Or am I missing something

[2019-11-21 23:14] paulhauner commented on #604
FYI, I have built this website and am working on the necessary changes to Lighthouse.

[2019-11-21 23:16] paulhauner commented on #548
Closed in favor of #615

[2019-11-21 23:16] #548 closed

[2019-11-21 23:17] paulhauner commented on #430
Hey @michaelsproul, is this still relevant? :)

[2019-11-21 23:17] #411 closed

[2019-11-21 23:28] paulhauner commented on #403
FYI, I will do this sometime before testnet release.

[2019-11-22 00:16] michaelsproul commented on #430
We still need to do it at some point, but I don't consider it essential for testnet

[2019-11-22 00:20] michaelsproul opened #619 "Update to spec v0.10"
## Description

Mostly refactoring https://github.com/ethereum/eth2.0-specs/releases/tag/v0.10.0

[2019-11-22 07:11] pawanjay176 opened #620 "Custom derive macros uses incorrect Result type"
## Description

Derive macro implementations in `ssz_derive` and `tree_hash_derive` use `Result` type defined in the calling file. This might result in an issue when `Result` type is aliased in the calling file.

For e.g. in the following derive macro,
[code]
the `Result` type in `from_ssz_bytes` would expect just one type parameter but it receives two. https://github.com/sigp/lighthouse/blob/03e1

[2019-11-23 02:25] paulhauner opened #623 "Lock validators to a SLOTS_PER_EPOCH value"
## Description

Current validator slashing protection assumes that `SLOTS_PER_EPOCH` never changes.

If you change this value, you can get validators to sign messages that are slashable.

## To resolve

Ensure that a validator is created with a specific `SLOTS_PER_EPOCH` parameter and they will never sign a message assuming some other value.

[2019-11-24 01:00] #620 closed

[2019-11-24 01:51] paulhauner commented on #623
Just to elaborate, it is a "slashable offense" to produce two different attestations in the same epoch ([reference](https://github.com/ethereum/eth2.0-specs/blob/dev/specs/core/0_beacon-chain.md#is_slashable_attestation_data)).

If a validator _thinks_ there are 4 slots per epoch, but there are _actually_ 8 slots per epoch, then a vote for slots `0, 4` would be _actually_ slashable, but the valida

[2019-11-24 01:55] paulhauner commented on #607
I have updated the website. Thanks for bringing this up!

[2019-11-24 01:55] #607 closed

[2019-11-24 12:26] pscott opened #626 "Timeout duration too short in test"
## Description

Time out duration being one second often times results in the [cache_consistency](https://github.com/sigp/lighthouse/blob/3ca63cfa83054c6426ae746e9af0b1be06d9befc/beacon_node/eth1/tests/test.rs#L521-L613) test failing due to timeout.

## Steps to resolve

Increasing the timeout should solve this issue.

[2019-11-25 00:19] AgeManning commented on #538
Resolved discv5.

[2019-11-25 00:19] #538 closed

[2019-11-25 00:26] AgeManning commented on #581
Hey,

Yeah I know this part is confusing. There are updates and comments in the `network-spec-update` branch, which I recommend working from (this will be in master very soon).

The reason there are four, is because the encoding and decoding is different depending on whether we are receiving an RPC request or sending one.

More specifically,

An `InboundCodec` deals with requests from an external

[2019-11-25 04:48] #336 closed

[2019-11-25 04:48] #342 closed

[2019-11-25 04:48] #604 closed

[2019-11-25 06:20] AgeManning opened #629 "Remove naughty peers from the DHT"
If a peer has performed a malicious action, they become banned for a period of time.

We should also remove them from the DHT if they exist in a particular bucket so that other nodes also don't find the malicious peer.

[2019-11-25 06:32] AgeManning opened #630 "Add a timeout for banned peers"
Keep a `DelayQueue` of banned peers in the discovery behaviour with a timeout. Peers can then be banned for a period of time, potentially based on the severity of their actions.

Discovery should then return an event after the banning period, such that the libp2p service can un ban the peer id.

[2019-11-25 06:37] paulhauner opened #631 "Optimize validator duties API endpoint"
The `/validator/duites` HTTP endpoint always skips to the first slot of the requested `epoch`:

https://github.com/sigp/lighthouse/blob/78d82d9193ded34948433a73a56cf06dc9119812/beacon_node/rest_api/src/validator.rs#L96-L100

If the requested `epoch` is either the previous, current or next epoch of the head state, then there is no need to do any skipping/state loading. This is likely to be the case

[2019-11-25 09:26] #626 closed

[2019-11-25 10:16] pscott opened #632 "Disabling validator_block_post test when using fake_crypto"
## Description

Currently, the test `validator_block_post` in the `rest_api` crate fails when running with `cargo test --all --all-features`

## Expected Behaviour

We'd like this test to pass when using the aforementioned tests

## Steps to resolve

Disabling the two failing asserts when when using the `fake-crypto` feature should suffice.

[2019-11-26 00:57] FawadHa1der commented on #616
I can take a crack at it

[2019-11-26 01:05] ezcunn1 commented on #616
**** http://www.nutregloproducts.com/

[2019-11-26 06:51] AgeManning opened #635 "Maintain Attestations who reference unknown blocks"
When receiving an attestation that references a block that we don't know of, this will trigger a block search.
Currently, the attestation gets dropped. The preferred logic is to maintain the attestation until the block search either completes or fails and then should be attempted to be reprocessed.

[2019-11-26 20:18] #631 closed

[2019-11-26 20:29] #632 closed

[2019-11-26 23:55] paulhauner commented on #499
Resolved by #508

[2019-11-26 23:55] #499 closed

[2019-11-27 04:04] paulhauner opened #637 "Make eth1 integration fast-sync friendly"
## Description

Presently we are using `call` commands to read contract state at previous blocks. This does not work with fast-synced/pruned eth1 nodes.

## Steps to resolve

Replace the `deposit_count` and `deposit_root` calls with a solution that utilises the `deposit_cache.`

This quite an involved task and will probably need to be done by me.

[2019-11-27 04:22] paulhauner opened #638 "--debug-level flag not working"
## Description

I suspect that the `lighthosue --debug-level` flag is not working.

The flag is defined here:

https://github.com/sigp/lighthouse/blob/97aa8b75b8b259ac1dd95086dc2a34da5a0783ee/lighthouse/src/main.rs#L45-L53

The code that applies the level is here:

https://github.com/sigp/lighthouse/blob/97aa8b75b8b259ac1dd95086dc2a34da5a0783ee/lighthouse/environment/src/lib.rs#L95-L134

## Steps

[2019-11-27 23:27] AgeManning commented on #525
Closed in #587

[2019-11-27 23:27] #525 closed

[2019-11-27 23:27] AgeManning commented on #522
Closed in #587

[2019-11-27 23:27] #522 closed

[2019-11-27 23:27] AgeManning commented on #502
Closed in #587

[2019-11-27 23:27] #502 closed

[2019-11-27 23:27] AgeManning commented on #362
Tests have been added in #587

[2019-11-27 23:27] #362 closed

[2019-11-28 02:20] #592 closed

[2019-11-28 04:44] AgeManning opened #644 "ENR Update Issue"
## Description

Previously we implemented the ability for the application layer to update its own ENR. We enabled Lighthouse to update its own ENR once libp2p socket addresses were established. This was primarily to allows us to get the OS to select the next free open port and then have lighthouse update its ENR based on the OS's choice of port. This allowed for spinning up multiple nodes without

[2019-11-29 02:21] #615 closed

[2019-11-29 02:27] paulhauner opened #647 "Persist fork choice"
## Description

Presently, fork choice is not persisted to the database.

## Steps to resolve

- Ensure the beacon chain stores the fork choice when it calls `self.persist`.
- Ensure the beacon chain loads the fork choice back from disk again.

[2019-11-29 02:27] paulhauner commented on #647
I am working on this

[2019-11-29 02:28] paulhauner opened #648 "Add onboard docs for testnet"
## Description

Create on-boarding docs that guide users through installation, key generation and deposit contract submission via Metamask.

[2019-11-29 02:28] paulhauner commented on #648
I will do this over the weekend.

[2019-11-30 02:31] paulhauner opened #652 "Persist eth1 cache"
## Description

The eth1 cache is not persisted between instances of the `lighthouse` process. This means that a full eth1 sync is required each time lighthouse is restarted.

## Steps to resolve

Define a byte-level representation of the eth1 block and deposit caches using SSZ containers (see `SszForkChoice` for a guide).

## Notes

~~There's not much point doing this until #637 has been done, so

[2019-12-01 00:53] paulhauner commented on #638
So it turns out the flag _is_ working when outputting to the CLI but not when outputting to file (using `--log-file`).

[2019-12-01 06:25] AgeManning commented on #644
Also update the UDP port. This will likely involve adding a configuration parameter to discv5 to auto-update to local port to allow for setting 0 ports.

[2019-12-01 23:01] AgeManning commented on #583
This has been completed in: https://github.com/sigp/lighthouse/pull/608

It will be merged in once a few more updates to master and testing have been completed.

[2019-12-01 23:01] #583 closed

[2019-12-01 23:08] AgeManning opened #654 "Save/load DHT on shutdown/startup"
## Description

Currently we don't store ENR records on shutdown. These should be saved to a database on disk, when the client shuts down and reloaded on startup.

This will involve a modification to the Discv5 protocol itself to allow Lighthouse to read ENR's from the DHT.

[2019-12-02 04:36] AgeManning commented on #654
I've updated discv5, can call `enr_entries` on the service to get an iterator over all the `Enr's`

[2019-12-02 04:42] AgeManning commented on #644
The desired logic, is as follows:
add a flag `--unlock-discv5-enr`
If this flag is set, then update the enr for tcp and udp based on the local ports.
The tcp update already happens in `network/service.rs`, the udp socket is a bit harder and a new configuration parameter may need to be added to the discv5 service. The udp socket gets set in `service.rs` in the libp2p discv5 branch.

[2019-12-03 01:36] g-r-a-n-t commented on #583
@ceresstation @gitcoinbot I think this can be paid out.

[2019-12-03 04:28] #647 closed

[2019-12-03 05:41] michaelsproul opened #658 "Allow multiple block proposals per validator per epoch"
## Description

In the validator client, we assume that each validator only proposes a block at most once per epoch, because that's kinda how things used to be. But with v0.9, the validators are shuffled per slot, so it's possible (and quite likely) that a single validator gets shuffled to first position (and is therefore a block proposer) for more than a single slot.

## Present Behaviour

The va

[2019-12-03 22:32] paulhauner opened #661 "Add a maximum slot number for block imports"
## Description

Presently we will accept a block with any slot number, however in many places throughout the code we do addition to slots/epochs without necessarily considering the implications of the saturation. We're generally quite considerate of the effects of saturation on _subtraction_, but not _addition_.

## Suggestion

I propose that we set a "maximum slot number" that is very far in the

[2019-12-04 23:56] #658 closed

[2019-12-05 00:50] AgeManning opened #664 "Refactor Lighthouse for stable futures"
## Description

Tokio now has a stable version using stable futures and rust-libp2p has an open PR. The refactor of Lighthouse's networking code to use std futures and refactor'd for async/await will have drastic improvements for code readability.

Transitioning to stable futures allows us to use async/await and take advantage of tokio's new features.

[2019-12-05 02:45] AgeManning commented on #664
Within this, re-name and clean up the network crate and threads and task spawning. These can be more elegantly expressed and run on the executor than their current forms.

[2019-12-05 07:30] pscott opened #666 "rest_api test failing due to fake_crypto"
## Description

the test `validator_block_post` located in the `beacon_node/rest_api` crate is failing when running will `--all-features`. It should've been fixed by [this PR](https://github.com/sigp/lighthouse/pull/633/) but, as Michael correctly pointed out, the `fake_crypto` feature is still missing from the `Cargo.toml` file in the crate.

## Present Behaviour

`validator_block_post` failing w

[2019-12-05 10:56] pawanjay176 opened #669 "`beacon_chain.persist()` called twice"
## Description
The beacon chain `persist` method is called in the drop method of both `Client` and `BeaconChain`.
https://github.com/sigp/lighthouse/blob/5e8f958977e5f448d3695f74a8822f6fc7084f32/beacon_node/client/src/lib.rs#L64
https://github.com/sigp/lighthouse/blob/5e8f958977e5f448d3695f74a8822f6fc7084f32/beacon_node/beacon_chain/src/beacon_chain.rs#L1639

## Steps to resolve
Remove the call to

[2019-12-05 13:43] AgeManning commented on #664
Should also pull the syncing thread into the message processor thread and let them handle incomming messages and queues. Then convert the syncing thread into a block processing worker, which consumes the queues from blocks downloaded through sync.

[2019-12-05 18:01] yulidai opened #670 "failed to select a version for `ring`"
## Description

[code]

Maybe should update the dependencies of `eth2_hashing`?

[2019-12-06 02:48] michaelsproul opened #673 "Handle changes to slots_per_restore_point after database initialization"
## Description

At present, Lighthouse assumes that the `slots_per_restore_point` parameter of the database will remain constant. We should either:

1) Store it in the DB and warn if the user configures it differently from the value in the DB.
2) Store it in the DB, and support changing it (up or down) when the user provides a different value.

Option (1) would be easier.

[2019-12-06 09:48] yulidai commented on #670
Whether it needs to update `types (eth2/types/Cargo.toml)` dependencies?
[code]

[2019-12-06 11:42] #666 closed

[2019-12-06 13:15] michaelsproul commented on #670
Have you tried running `cargo update`? The workspace level Cargo.toml should be overriding the crates.io version with the local one

[2019-12-07 20:14] paulhauner opened #680 "Backup logfile before overwriting"
## Description

Presently when using `--logfile`, lighthouse overwrites any existing logile. This results in lost logs, which is bad :(

## Steps to resolve

- When `--logfile` is supplied, check to see if the given file exists. If so, create a backup of it.
    - Avoid causing the same problem as before by overwriting backups. Perhaps add some random suffix to the logfile.

[2019-12-08 01:07] AgeManning commented on #664
The sync thread should send tasks to the block processor worker with oneshot channel callbacks indicating to request more batches from peers.

[2019-12-08 06:30] AgeManning opened #681 "[Syncing] Handle malicious peers"
## Description

Currently when an incorrect/invalid response is given via the RPC, All peers associated with the chain are banned.

Correct handling of repairing the chain and isolating the malicious peer should be built. This makes sense to build once the network refactor (#664) is done such that the sync thread is handled correctly allowing the solution to not have to be re-written in the refact

[2019-12-08 06:33] AgeManning commented on #630
Resolved in #665

[2019-12-08 06:33] #630 closed

[2019-12-09 11:39] #403 closed

[2019-12-09 11:40] AgeManning commented on #509
Closed in #663

[2019-12-09 11:40] #509 closed

[2019-12-09 11:42] #648 closed

[2019-12-09 13:26] paulhauner opened #687 "Slot timer printing "inf" and "NaN""
## Description

The [notifier](https://github.com/sigp/lighthouse/blob/master/beacon_node/client/src/notifier.rs) is printing things like this:

[code]

There must be something off with the float math here, my bad.

[2019-12-09 18:55] djrtwo opened #689 "[Build Error] Lighthouse v0.1.0 fails to build on OSX"
## Description

Lighthouse v0.1.0 fails to build on macOS 10.13.2.

## Present Behaviour

Did a fresh pull of lighthouse v0.1.0 and ran `make` (attempted a couple of times with same result)

Below is the failing snippet of output:

[code]

## Expected Behaviour

It should build!

Note that this is an out-dated version of macOS. You can just tell me that you don't support v10.13 if you don't :)

[2019-12-09 20:00] pawanjay176 commented on #689
Can you try building after running `rustup update` ? I think this might be a new feature in Rust 1.39 which was released recently.

[2019-12-09 21:29] djrtwo commented on #689
Yup, that did it. Thanks!

[2019-12-09 21:30] #689 closed

[2019-12-10 01:41] paulhauner opened #690 "Add note about upgrading rust to docs"
## Description

Add a note to [Installation](https://lighthouse-book.sigmaprime.io/installation.html) troubleshooting about upgrading Rust if you experience compile errors (see #689). We've also had this question on the Discord, so I expect we'll see it again.

[2019-12-10 02:14] AgeManning opened #691 "Naive Attestation Aggregation Strategy"
## Description

This issue is to track the naive attestation aggregation strategy specified in the ethereum 2.0 specs:
https://github.com/ethereum/eth2.0-specs/blob/dev/specs/networking/p2p-interface.md

[2019-12-10 02:21] michaelsproul opened #692 "Use atomic operations in database to harden against failures"
## Description

At present, each insert into the store is its own operation, but we often rely on invariants to be maintained between objects inserted at different times (e.g. if we have a block, we expect to have its state too). Through the use of transactions/atomics at the level of the KV store, we should be able to better maintain these invariants under adverse conditions (the process getting

[2019-12-10 02:22] michaelsproul opened #693 "Stop beacon node on unrecoverable DB issues"
@AgeManning suggested that we halt the node if we receive an unrecoverable database issue, to prevent the node lingering on the network in a bogus state. Currently this is possible if the database has become inconsistent due to a failure between storing a block and its state (see #692)

We should be able to classify errors into unrecoverable ones and gracefully halt the Beacon Node appropriately i

[2019-12-10 06:53] ppratscher opened #694 "API additions required for blockchain explorers"
I had a look on your REST API in order to evaluate the feasibility to plug lighthouse into our open source block explorer beaconcha.in. Most of the API already provides most of the information required for the explorer but some crucial details are still missing:

- The blocks object should also include the block root hash alongside the state root hash and parent root hash
- Currently I could not f

[2019-12-10 07:30] pawanjay176 commented on #687
Happens when head_slot doesn't change over intervals.
The `speedo` accumulates `(head_slot, instant)` with same `head_slot` for different instants.
So the distance calculation here `slots_per_second` function returns 0.0 we get a `Vec<f64>` of zeros.
https://github.com/sigp/lighthouse/blob/e4c56e6c5c929a3112c4a08852be54345b0acc0a/beacon_node/client/src/notifier.rs#L269-L279

Hence, the function re

[2019-12-10 14:51] pscott commented on #430
I can work on that! :)

[2019-12-10 14:58] pscott commented on #690
I'll take this one.
Will talk about `cargo update` as well as `rustup update` :)

[2019-12-10 21:27] ethers opened #698 "Block processing error gets sync in bad state?"
## Description

Syncing was going well, and then a Block processing error appears to have prevented syncing from making progress: the distance starts increasing.

## Present Behaviour

Above.
error: "Block at slot 29828 has an unknown parent."

## Expected Behaviour

After a Block processing error or bad peer, I would expect that the node would still be able to sync from the available peers, witho

[2019-12-10 21:47] ButtaTRiBot opened #699 "Poor Network Connection Error"
## Description
Poor Network Connection  when running
`docker run lighthouse lighthouse beacon --eth1 --http`

`Dec 10 22:40:45.681 WARN RPC Error                               Error: Custom("Protocol negotiation timeout"), request_id: 1, Peer: PeerId("16Uiu2HAm8H7k75DyY2s63LuJetxKDHe6ZHN9acaH1H2ew2MqjpQv"), service: msg_handler, service: network
`

full debug [here](https://pastebin.com/265x0g30)

[2019-12-10 22:07] paulhauner opened #700 "Add metric for random eth1 votes"
## Description

When we fail to run our eth1 voting algorithm due to empty caches, etc we produce a random eth1 vote using this function:

https://github.com/sigp/lighthouse/blob/e4c56e6c5c929a3112c4a08852be54345b0acc0a/beacon_node/beacon_chain/src/eth1_chain.rs#L350-L371

I think we should define a `int_counter` metric in [beacon_chain/src/metrics.rs](https://github.com/sigp/lighthouse/blob/maste

[2019-12-10 22:09] paulhauner commented on #698
@AgeManning I think you might be best placed to answer this :)

[2019-12-10 22:10] paulhauner commented on #694
Thank you, I will get onto this ASAP.

[2019-12-10 22:31] #690 closed

[2019-12-10 22:41] AgeManning commented on #698
Yes. The correct logic is to handle these cases (which is being built in the network re-write) see #681. The reason it is not currently implemented, is that this error should never occur in a lighthouse-only network. We want to identify these issues now, address them, rather than have logic that hides these.

For this particular error, a peer sent you a block that it shouldn't have. There is not e

[2019-12-10 23:16] michaelsproul commented on #430
Awesome! Ping me if you have any questions :)

[2019-12-10 23:26] AgeManning commented on #699
This appears to be excessive load on a single bootnode. The bootnode was out of date, updating this node may help.

[2019-12-10 23:26] #699 closed

[2019-12-11 00:02] #687 closed

[2019-12-11 01:12] paulhauner commented on #694
Hey, thanks for this @ppratscher! I am starting to work on this over in #702. I have had a quick run though the list and had the following comments. Let me know what you think :)

-----

We return `BlockResponse { root: Hash256, beacon_block: BeaconBlock }`. Unless I'm misunderstanding, I think all the info is there. It seems that the [Prysm API](https://github.com/prysmaticlabs/ethereumapis/blob/

[2019-12-11 04:48] paulhauner opened #704 "Missing constant in YamlConfig"
## Description

It seems we're missing a constant in the `YamlConfig`. See:

See https://lighthouse-book.sigmaprime.io/become-a-validator.html

This might be a good one for @pscott :)

[2019-12-11 06:31] pscott commented on #704
For reference: Paul wanted to link [this](https://github.com/eth2-clients/eth2-testnets/). Specifically, I believe we wanted to address [this issue](https://github.com/eth2-clients/eth2-testnets/commit/8f32450e754f44028813d472209b2c1ca1650567) and [this one](https://github.com/eth2-clients/eth2-testnets/commit/04e9070ff75bd55b05731e834553d3d6931ba9ec).

[2019-12-11 07:07] yulidai commented on #670
Yes, but still have dependencies conflict problems. Solved it by changing to relative paths

[2019-12-11 07:07] #670 closed

[2019-12-11 09:43] ppratscher commented on #694
Hm, according to your api docs at https://app.swaggerhub.com/apis-docs/spble/lighthouse_rest_api/0.2.0#/Phase0/get_beacon_blocks the response does not contain the block root or I might have missed it. I did not yet try it with the live api.

For a block explorer we need all duties for a given epoch, otherwise we are unable to identify missed blocks and potentially down validators. We cache the epo

[2019-12-11 10:08] diglos opened #706 "Arm7 support (Raspberry Pi 4 32bits)"
Hi

Lighthouse compiles on Raspberry Pi 4 (Raspbian distro is still 32bits) but throws an error message:

[code]

Is there any way of getting support for ARM7?

Thanks!

[2019-12-11 18:12] ButtaTRiBot opened #708 "Beacon node throws error after syncing successfully"
## Description
Synced the beacon node successfully, after restarting it I couldn't connect anymore.

`docker run -it --name=light-beacon -v $HOME/lighthouse-data:/root/.lighthouse -p 127.0.0.1:10000:10000 lighthouse lighthouse beacon_node --http-address=0.0.0.0 --http-port=10000 --http`

![image](https://user-images.githubusercontent.com/26490734/70647837-24df6800-1c4a-11ea-80a2-b758ac61cd85.png)

[2019-12-11 18:32] Buttaa commented on #708
this issue seems to be linked to docker since `lighthouse beacon --eth1 --http` starts syncing but from slot 1.

[2019-12-11 20:56] AgeManning commented on #708
This occurs from shutting down the client ungracefully whilst the db is processing. This will be resolved when #692 is corrected.

This isn't a docker issue. Removing the docker volume and restarting docker will resolve this. Restarting the db is the current workaround for this.

[2019-12-11 21:59] Buttaa opened #710 "Testnet Documentation suggestions"
1. Write separate guides for docker & rust

2. https://lighthouse-book.sigmaprime.io/docker.html
Add next steps to continue with docker

@agemanning

[2019-12-11 22:10] Buttaa opened #711 "Eth1 block/genesis cache issue"
![image](https://user-images.githubusercontent.com/26490734/70664891-a1367300-1c6b-11ea-8c22-5265a2b4df49.png)

[2019-12-11 22:49] paulhauner commented on #706
Hi, sorry @diglos we're not planning to support 32bit at the moment.

For the Pi4, there are some 64bit Linux distros out there. I have used Manjaro with success in the past.

I will close this for now, thanks for bringing it up though.

[2019-12-11 22:49] #706 closed

[2019-12-11 22:52] paulhauner commented on #711
Hi @Buttaa, presently you're connected to our public Goerli node and it appears to be experiencing some congestion (it is also in Sydney, so there might be some lag).

We will look into providing additional public nodes, however you can run your own eth1 node to solve this issue (this is in fact preferred, otherwise our servers provide a point of trusted centralization).

Here's the command we run

[2019-12-11 22:56] michaelsproul commented on #706
Amongst the reasons that 32-bit support is a bit involved are:

* For simplicity, it's nice to assume that `usize`s are 64 bits. The spec uses a lot of `u64`s as indexes into vectors, lists, etc, and they inevitably end up getting converted to `usize`s. Changing this in Lighthouse would require very careful consideration of all the places where conversions between the two are made (possible, but n

[2019-12-12 00:18] paulhauner opened #713 "JSON for public key does not have 0x prefix"
## Description

The `0x` prefix is not being added when serializing a pubkey as JSON. As an example:

[code]

## Steps to resolve

Ensure that JSON encoding and decoding expects a `0x` prefix for public keys.

[2019-12-12 01:11] paulhauner commented on #694
Ah yes, we had to stop maintaining the OpenAPI docs because they were too burdensome and fiddly to update as the spec kept changing. Apologies we did not reflect this in the docs.

I have started a refactor of the docs in #702. You can preview the work here:

https://github.com/sigp/lighthouse/blob/7bbc82458a17015a624addcd849a76c0181d82e7/book/src/http_beacon.md

Sure, I will make sure we can do a

[2019-12-12 01:17] michaelsproul opened #714 "Validator client sync check is incompatible with recent genesis local testnets"
In #656 a check was introduced in the validator client to ensure that the beacon node is actually synced before producing blocks and attestations. This is definitely a good idea, but the current implementation is a bit too restrictive in the case of a "recent genesis" testnet.

https://github.com/sigp/lighthouse/blob/8a62f3f456633a42c53c0191ead6aac2d3944af0/validator_client/src/duties_service.rs#L

[2019-12-12 01:24] paulhauner commented on #714
Oh yeah, this is interesting. Seems like a recurring case where things that are reasonable to do in testing are not reasonable for production.

My first thought is to add a `--allow-unsynced` flag (and perhaps set it by default whenever the `testnet` subcommand is used).

We do have the problem here were if mainnet gets more than 1 epoch behind we simply stop producing blocks (unless we run with t

[2019-12-12 05:58] michaelsproul opened #716 "Delete obsolete deposit handling from op pool"
The operations pool still has half-baked support for deposits, which are now handled by the ETH1 layer. We should be able to safely delete all of the code related to deposits from the op pool.

[2019-12-12 06:05] #661 closed

[2019-12-12 06:11] #704 closed

[2019-12-12 07:56] pscott commented on #716
I'll have a go :)

[2019-12-12 08:05] pawanjay176 opened #717 "Gossipsub test doesn't always terminate"
## Description

`test_gossipsub_full_mesh_publish` should always terminate successfully. Currently, the test doesn't terminate consistently.

[2019-12-12 08:40] diglos commented on #706
Hi.
Understood, thanks for the response.
I'm afraid I can not maintain an image just for one client so in the Eth on ARM images I'll include Prysm and Nimbus for Raspberry 4 and Prysm, Nimbus and Lighthouse for ARM64 (NanoPC-T4 and RockPro64).
Thanks again!

[2019-12-12 11:32] AgeManning opened #720 "Notifier to get info from sync"
## Description

Currently the notifier doesn't get syncing information from the sync manager. When no peers are connected, the notifier thinks we are syncing, when we are actually `stalled`.

Under the hood there are four kinds of sync state:
- Stalled - No peers, no way to progress
- Finalized - We are syncing a finalized chain to reach a peers known finalized slot
- Head - We are syncing head ch

[2019-12-12 11:38] #717 closed

[2019-12-12 11:39] AgeManning commented on #710
Thanks for this, will update

[2019-12-12 11:43] AgeManning commented on #714
#720 May help with this.
The sync manager knows about whether it's synced or not, and it doesn't do it based on current block slot. It's based on our current blocks relative to all peers we know about. If all peers connected to us, also only have the current head_slot, we are considered synced.

In a single node situation, that node is considered stalled, and perhaps we ant to produce blocks. Perh

[2019-12-12 11:45] AgeManning commented on #711
Marking resolved. Known issue and workaround given.

[2019-12-12 11:45] #711 closed

[2019-12-13 05:11] #638 closed

[2019-12-13 21:45] paulhauner opened #724 "Ensure dbs are found when using --datadir"
## Description

When attempting to use a custom datadir I got a "database not found" (or similar) message. I haven't looked into it, but I suspect there's a bug here.

[2019-12-14 05:50] jacobrosenthal opened #726 "`lighthouse account validator new random` doesnt respect datadir"
I ended up just running it bare and moving the generated validators directory to my datadir manually

[2019-12-14 05:52] paulhauner commented on #726
Thanks!

Looks like datadirs need some love, we should try and pick this up with #724.

[2019-12-14 15:06] pscott opened #727 "Output filename collision"
## Description

We have an output filename collision.

## Present Behaviour

The compiler warns us if we run `cargo test`:
[code]
## Expected Behaviour

This should not happen.

[2019-12-14 18:59] #680 closed

[2019-12-15 02:47] paulhauner opened #729 "Optimise fork choice ancestor iteration"
## Description

Fork choice is running quite slow because it needs to load the state from disk each time it wants the ancestors of a block.

I am working on this presently, this is mainly a placeholder issue.

[2019-12-15 12:20] pawanjay176 commented on #726
Hi @jacobrosenthal, trying to reproduce the issue. What was the command you used? :)

[2019-12-15 13:36] JustinDrake opened #730 "Document the need to open port 9000"
I had to open port 9000 (for both TCP and UDP traffic) on my router for synching to start.

[2019-12-15 13:42] JustinDrake opened #732 "Eth1 node down"
As I understand there's an Eth1 Sigmaprime node from which deposits are fetched. It seems to be down or unreachable as I repeatedly get the following errors.

[code]

[2019-12-15 16:42] jacobrosenthal commented on #726
Something like
`lighthouse account validator new random --datadir /mnt/storage/lighthouse`
but the validators directory wasnt there
`lighthouse account validator new random` and moved it by hand instead

[2019-12-15 21:29] pscott commented on #726
@jacobrosenthal Yup it's because --datadir flag is passed to lighthouse, so the appropriate way of using this would be
`lighthouse --datadir /mnt/storage/lighthouse account validator new random`

Maybe we should warn people when a flag is misplaced, or (better) accept the flag? What do you think @paulhauner ?

[2019-12-15 21:35] pscott commented on #726
I just tried running `lighthouse account validator new random --datadir /tmp/test` or `lighthouse --datadir /tmp/test account validator new random` and both worked... trying to reproduce this issue too but I can't manage to have it failed.
I had it failing when pointing to a restricted directory but the log warned me appropriately, saying
[code]

[2019-12-15 23:36] jacobrosenthal commented on #726
Maybe on my end, Ill check again when the testnet comes back up and reopen if need be

[2019-12-15 23:36] #726 closed

[2019-12-16 01:36] AgeManning commented on #730
This shouldn't be necessary. Regardless of whether you are behind a NAT or not, you should be able to connect to any peer who has their ports open.

I think this may have occurred whilst the main peers were struggling with disk space (due to another crash) and were not responding to your RPC requests.

In the future, you don't need to port forward these ports, although it is required if you want o

[2019-12-16 01:38] #698 closed

[2019-12-16 01:42] AgeManning opened #733 "Syncing Loop"
## Description

A peer that doesn't register blocks, finds itself in a syncing loop. The peer responding to the requests gets messages such as this:
https://gist.github.com/protolambda/c43491a887c6c1b4014cd84b3ef5f469

This issue is to prevent peers from entering this state.

[2019-12-16 10:16] pscott commented on #724
All right so we (@pawanjay176  and I ) tried toying around with --datadir etc, but did not manage to trigger this.
The only way we found something that looks like the error message you got was when I deleted the `chain_db` folder inside `~/.lighthouse/beacon`.
So I'm guessing maybe you used `--datadir` to a location where the was an existing `beacon` folder but no `chain_db`?

[2019-12-16 15:51] JustinDrake commented on #730
Ok, I'll try again soon :) What I observed on Sunday was pretty binary:

* port 9000 closed—sync speed of 0.00 slots per sec
* port 9000 open—sync speed >0.00 slots per sec

[2019-12-16 22:04] #616 closed

[2019-12-16 22:10] paulhauner commented on #693
I like this, I'm just not exactly sure how we define unrecoverable.

We _could_ say that if there's ever a missing beacon state that we're unrecoverable, but we risk the scenario where there's a bug in some old/fork state and but we're still good to produce blocks on the canonical chain. In such a case we'd shutdown prematurely.

I would be tempted to redefine this as "stop syncing if it's enters

[2019-12-16 22:13] paulhauner commented on #724
@AgeManning I think you were the one that came across this after we were recovering from the 13-dec crash. What are your thoughts on the above comment?

[2019-12-16 23:20] #700 closed

[2019-12-16 23:37] #716 closed

[2019-12-17 00:21] paulhauner opened #734 "Enable bulk signature verification"
## Description

Presently we are not using the bulk signature verification method. This has previously shown a 30% decrease in verification times.

The `VerifyBulk` strategy is what we want:

https://github.com/sigp/lighthouse/blob/e7de1b3339818614b209049bc1bbdb4622aef06f/eth2/state_processing/src/per_block_processing.rs#L35-L44

## To resolve

- Ensure all the EF tests are running with `VerifyBul

[2019-12-17 05:01] AgeManning commented on #693
For graceful shutdown, I would imagine the main thread would hold a one-shot or an exit_signal channel. A major error in one of the threads would call this one-shot and the main thread would drop `beacon_chain`.

In regards to keeping a beacon chain alive. Perhaps this is desirable for mainnet when we have a proper peer management in place. For the current iteration, a faulty/corrupt db even witho

[2019-12-17 22:10] timmyers opened #740 "Add option to log as JSON."
## Description

Based on https://github.com/sigp/lighthouse/pull/414, it is possible to log to a file, in which case logs are formatted with JSON, but it should be possible to do so for std out as well, as many log ingestion systems get logs from there and would want them structured.

## Present Behaviour

Only possible to output json logs to a file.

## Expected Behaviour

Option to format logs a

[2019-12-17 22:59] timmyers commented on #724
I am seeing this as well when trying to run with `--datadir` as the root of a docker volume.  It's an empty volume with no existing database, but I want it to create all files in there.

[2019-12-18 01:22] paulhauner opened #742 "Add individual signature verifcation to EF tests"
## Description

See https://github.com/sigp/lighthouse/pull/739#pullrequestreview-333664959.

Probably a good one for @pscott, he has experience here.

[2019-12-18 01:22] #734 closed

[2019-12-18 06:29] paulhauner commented on #693
There's lots of different places that could find this error (anywhere that reads the db), so I think it's going to be easier said than done to ensure that the client always shuts down when the DB is inconsistent. We can't just put it into the store because the store has no idea about a state that _must_ exist (e.g., referenced by a block) vs a state that _can maybe_ exist (e.g., query from the API

[2019-12-18 06:30] paulhauner commented on #693
I'm tempted to pull this off the `v0.1.1` milestone because I have no information to suggest that this is still a pressing issue after we fixed the "storing blocks before states" thing. Has anyone else seen this happen since we made that change?

[2019-12-19 00:45] #694 closed

[2019-12-19 00:45] #713 closed

[2019-12-19 00:47] michaelsproul commented on #693
Yeah, sounds good

[2019-12-19 00:48] paulhauner commented on #693
Pulling this off the `v0.1.1`, feel free to object @AgeManning

[2019-12-19 23:26] AgeManning commented on #724
I was increasing space. If you had a testnet going. I moved the `~/.lighthouse` directory to another folder then tried to re-run with the `datadir`.
For example, moving `~/.lighthouse` to `/tmp` and then running with `datadir=/tmp/.lighthouse` gave this error for me.

I recall having to specify `datadir=/tmp/.lighthouse/beacon_chain` or something, which is unintuitive and it still had issues even

[2019-12-19 23:30] FawadHa1der commented on #576
I am pretty new to RUST. But I do want to eventually work on it. I have more of a background in Swift, Objective C, C++, Java script etc. I am willing to get started on this. Can I get more details on this?

[2019-12-20 04:54] mkinney opened #748 "Docker image is to large"
## Description

If we utilize multi-stage builds, we can shrink the docker image from 1.87GB to something much smaller.

## Present Behaviour

When you run `docker build .` you get a very large docker image.

## Expected Behaviour

Smaller is better.

## Steps to resolve

`docker build .` will build the docker image locally
`docker images` will show size

[2019-12-20 04:58] mkinney commented on #748
Research:

[code]
Dockerfile is based on `rust:1.39.0`

[code]

[2019-12-20 04:59] mkinney commented on #748
I should have a PR shortly.

[2019-12-20 05:06] mkinney commented on #748
Looks like I can get it down to 138mb using debian:buster-slim.

`Step 6/6 : COPY --from=builder /usr/local/cargo/bin/lighthouse /usr/local/bin/lighthouse
 ---> 659e7cf0d890
Successfully built 659e7cf0d890

mikekinneymbp:lighthouse mikekinney$ docker images
REPOSITORY                                TAG                 IMAGE ID            CREATED             SIZE
<none>

[2019-12-20 05:07] mkinney commented on #748
`$ docker run -it 659e7cf0d890 lighthouse bn --http testnet -r quick 8 `date +%s`
Dec 20 05:07:16.146 WARN Ethereum 2.0 is pre-release. This software is experimental.
Dec 20 05:07:16.522 WARN Block production impaired               reason: dummy eth1 backend is enabled`

[2019-12-20 12:17] paulhauner commented on #748
Resolved by #749

Thank you @mkinney!

[2019-12-20 12:17] #748 closed

[2019-12-20 13:02] johnsBeharry commented on #576
Would love to collaborate on this also! If you don't mind working together.

@AgeManning react-native would be for mobile iOS and Android though. Do you mean React + Electron as a desktop app?

[2019-12-21 11:45] pscott commented on #724
Ok so I found the (silly) mistake.
Fixed it (there was a missing `.join(BEACON_NODE_DIR)`, and updated the error message. :D

[2019-12-23 08:55] AgeManning opened #754 "Implement max number of response chunks"
## Description

A maximum number of chunks can be read before an RPC stream is considered failed. This needs to be implemented in the RPC handler.

[2019-12-23 21:12] Moelbeck opened #755 "Error 127"
Tried to install Lighthouse running the instructions from this site:
https://lighthouse-book.sigmaprime.io/installation.html
When I run the "make" command, it gives me an error: "[Makefile:9: install] Error 127"

[2019-12-23 21:42] Moelbeck opened #756 "Could not install Error 101"
I received this error message on installation of Lighthouse:

`   Compiling leveldb v0.8.4
error[E0308]: mismatched types
   --> /home/pi/.cargo/registry/src/github.com-1ecc6299db9ec823/leveldb-0.8.4/src/database/mod.rs:112:35
    |
112 | ...                   c_string.as_bytes_with_nul().as_ptr() as *const i8,
    |                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ expected

[2019-12-23 21:44] paulhauner commented on #755
Thanks @Moelbeck. Do you have more information, please? Code 127 usually means that a command is not found, it would help to know which command is not found.

[2019-12-24 06:31] Moelbeck commented on #755
This was my bad, CARGO_HOME was not included in my path. I'll close this, but will open a new one

[2019-12-24 06:31] #755 closed

[2019-12-24 06:40] Moelbeck opened #757 "Make command gives Error 101"
When running the make command within the Lighthouse folder (step 3 in the detailed instruction),
I get errors after it has succesfully  compiled a few repositories.

The error stack trace looks like this within the console:

`error[E0308]: mismatched types
   --> /home/pi/.cargo/registry/src/github.com-1ecc6299db9ec823/leveldb-0.8.4/src/database/mod.rs:112:35
    |
112 | ...                   c_st

[2019-12-24 10:01] pscott commented on #757
Hi @Moelbeck ! I believe this is because you're trying to run lighthouse on a 32bits machine, whilst we only support 64bits at the moment.
Let me know if that's not the case! :)

[2019-12-27 03:39] wangyinglike1234 commented on #732
I have the same question and I think it may be the network question??
Dec 27 11:31:50.117 ERRO Failed to update eth1 deposit cache     error: Failed to update eth1 cache: GetDepositLogsFailed("Failed to get logs in range: Failed to receive body: \"Failed to receive body: Error(Io(Custom { kind: TimedOut, error: \\\"timed out\\\" }))\""), service: eth1_rpc

[2019-12-27 11:00] paulhauner commented on #732
Thanks @JustinDrake and @wangyinglike1234.

I think we should restructure the docs to push users to run their own eth1 nodes. Whilst providing a sigp-hosted eth1 node is nice for usability in testnets, it's not an accurate reflection of mainnet. Relying upon some centrally hosted API (e.g., our geth node on AWS) for eth1 -> eth2 linking is a major centralization risk. Whomever controls that eth1 n

[2019-12-28 07:33] Moelbeck commented on #757
Sorry, did not see your message before now.

Im running a 64 bit Ubuntu, version 10.19.

Though, it is on a Raspberry PI 4 - not sure if that makes a difference?

[2019-12-28 07:33] #756 closed

[2019-12-28 07:42] paulhauner commented on #757
Oh yep, I’ve had this before. Sorry, I’ve been on holidays and not watching
notifications.

I think this is related to ARM. I solved it by modifying the leveldb crate;
basically just following the guidance of the compile errors to make it
compile. Someone else had the same problem and solved it the same way.

If you’re familiar with Rust and keen to get it to work, you could do the
same. For the l

[2019-12-28 23:07] paulhauner commented on #637
Resolved by #709

[2019-12-28 23:07] #637 closed

[2019-12-28 23:08] paulhauner commented on #652
@pawanjay176 this might be a good one for you? This would be really helpful for when we update the testnet validator nodes, presently they have to re-sync the whole eth1 caches again :(

[2019-12-29 07:33] pawanjay176 commented on #652
Yup had already started working on it. Will get it done asap.

[2020-01-03 00:00] #724 closed

[2020-01-03 00:22] paulhauner opened #763 "Update validator onboarding docs with new deposit contract"
## Description

Please provide a brief description of the issue.

## Present Behaviour

The validator onboard docs presently have the old testnet deposit contract address in the JS. This means that user deposits will go the wrong address.

The new address is: `0x74a03685a1cbc279efe4ea88b5a86d6cb0c6cedb`

[2020-01-03 03:54] AgeManning commented on #576
Hey guys,

I was thinking lighthouse could spin up it's own local http server initially, rather than using Electron.

We currently are in the process of engaging an interested company to help us build this out. So perhaps it would be best to wait to see how this progresses first.

[2020-01-03 04:39] AgeManning opened #765 "Add functionality for lighthouse to modify it's ENR for attestation bitfield"
## Description

The attestation bitfield will be set in the ENR. Lighthouse will therefore be required to modify it's own ENR to populate and maintain it's ENR bitfield. Functionality needs to be added to the behaviour to allow for this.

[2020-01-03 08:51] johnsBeharry commented on #576
@AgeManning, most of the work would be on the UI anyway so complexity is negligible between Electron or the local server.

Is there a bidding/rfp process then for this if other companies are involved? Cause I'd really really love to work on this and have a team at hand also.

[2020-01-03 09:42] AgeManning opened #767 "Lighthouse fails to start with `testnet` and specific `datadir`"
## Description

Setting up a local testnet with the `testnet quick` sub-commands and trying to persist a custom `datadir` will fail due to the directory already existing.
https://github.com/sigp/lighthouse/blob/master/beacon_node/src/config.rs#L397

I believe we want to be able to resume clients with the same custom datadir ?

[2020-01-03 09:58] paulhauner commented on #767
The `testnet` command is for creating a _new_ datadir, not for resuming.

Once you've created a datadir using `lighthouse bn testnet ...`, you can just resume using `lighthouse bn`. The help menu is specific that it's for creating a _new_ datadir:

https://github.com/sigp/lighthouse/blob/55680ab1d34ea7001df32573dd96277486331b21/beacon_node/src/cli.rs#L214

Feel free to add some extra help text if

[2020-01-05 22:26] AgeManning commented on #767
Fair enough.

[2020-01-05 22:26] #767 closed

[2020-01-05 23:32] paulhauner commented on #767
FYI, the reasoning behind have `testnet` be create-only is that if you want it to also resume, then you probably want to check that the values supplied are the same as what it was created with (e.g., genesis time, validator count, etc). Otherwise you end up thinking you have `testnet quick 12 1234` but you're actually running `testnet recent 100` from a few days ago.

Checking that the parameters

[2020-01-06 01:26] #740 closed

[2020-01-06 02:02] michaelsproul commented on #727
Yeah, this looks pretty messy. I think we should just rename the example in `store/examples` to something like `ssz_encode_state_container`.

Adding this to the v0.1.1 milestone (cc @paulhauner)

@pscott would you like to take it?

[2020-01-06 04:38] macsj200 opened #771 "0 peers when following instructions"
I'm following the [Become a validator](https://lighthouse-book.sigmaprime.io/become-a-validator.html#2-start-your-beacon-node) instructions to start a beacon node, but when I run
[code]
I'm forever stuck with 0 peers. Do I need to update my discovery settings?

[2020-01-06 04:42] paulhauner commented on #771
Hi @macsj200, if you're using `master` then you'd be attempting to connect to the old testnet which has been pulled down.

We're planning to announce our new testnet this week, however you can use the `testnet3` branch if you want a sneak peak.

I'll close this for now, assuming that this answers your question. Happy to re-open if not :)

[2020-01-06 04:42] #771 closed

[2020-01-06 04:44] #763 closed

[2020-01-06 23:33] #727 closed

[2020-01-07 04:59] AgeManning commented on #576
We are putting together an RFP for this and will post it here as soon as it's complete.

[2020-01-07 06:19] pawanjay176 opened #776 "Persist Deposit Merkle tree"
## Description

The deposit tree is rebuilt from the persisted tree leaves every time for use in the Eth1 caches (once #760 is merged). Rebuilding the deposit tree from scratch for deposit sizes > 1 million takes a few seconds. Encoding the merkle tree as bytes is not straightforward as its a recursive data structure.

## Steps to resolve

Figure out a way to encode/decode the deposit tree and sav

[2020-01-07 06:43] michaelsproul commented on #776
Relevant: the `MerkleTree` struct could be deleted and replaced by a `TreeHashCache`, which _is_ easily serializable.

[2020-01-07 23:24] #742 closed

[2020-01-08 03:10] paulhauner opened #778 "Sync notifier doesn't start sometimes"
## Description

Myself and @michaelsproul have noticed that the sync notifier doesn't start sometimes.

[2020-01-08 03:12] paulhauner opened #779 "v0.1.1 release"
## Description

TODO for v0.1.1 release:

- [x] Come up with name
- [x] Update lighthouse-docs.sigmaprime.io
- [x] Push dockerfile to Docker Hub
- [x] Update block grafitti

[2020-01-08 03:36] paulhauner opened #780 "Allow users to see validator pubkey"
## Description

There's no easy way to know what the pubkey of your validator is. It would be handy to know so you can look yourself up in https://lighthouse-testnet3.beaconcha.in/validators.

## To Resolve

Perhaps the validator client could periodically push out it's known public keys. This is good for low numbers of validators, however our testnet nodes have 2k nodes and this would be a massive

[2020-01-08 03:43] paulhauner opened #781 "Eth1 genesis service is starting when it doesn't need to"
## Description

I have observed the genesis cache starting when it doesn't need to (i.e., there is a genesis state in the testnet dir)

[2020-01-08 23:53] #781 closed

[2020-01-09 05:58] #644 closed

[2020-01-09 05:59] #524 closed

[2020-01-10 02:56] #710 closed

[2020-01-10 04:47] #780 closed

[2020-01-10 05:01] #778 closed

[2020-01-10 05:34] paulhauner commented on #779
Let's go with [Reverse Giraffe](https://rickandmorty.fandom.com/wiki/Reverse_Giraffe)

[2020-01-10 08:24] jacobrosenthal opened #795 "lighthouse vc testnet -b invalid command"
`lighthouse vc testnet -b insecure 0 8`

Book says to use -b for vc, but that doesnt appear to be a valid subcommand currently

[2020-01-10 08:58] pawanjay176 commented on #795
Hi @jacobrosenthal, The docs on the `Testnets` section seem to be out of date. Will update the docs soon. Thanks for pointing this out :)

I suggest you use the docs in the simple local testnet section if you are trying to spin up local testnets https://lighthouse-book.sigmaprime.io/simple-testnet.html.

[2020-01-10 21:29] #779 closed

[2020-01-10 22:18] paulhauner opened #797 "Add slashing endpoints to beacon node"
## Description

Presently there is no way for a user to submit slashings to the beacon node. We can fix this by providing some API endpoints to insert them into the op pool.

## Steps to resolve

Add two HTTP endpoints to the [`rest_api`](https://github.com/sigp/lighthouse/tree/master/beacon_node/rest_api):

- POST `/beacon/proposer_slashing`: accepts a `ProposerSlashing` and feeds it to [`op_
poo

[2020-01-11 19:58] jacobrosenthal opened #798 "tokio-runtime-worker-2' panicked at 'invalid key'"
## Description
[code]

aarch64 raspberry pi 4 debian:buster

lighthouse tag v0.1.1

Didnt take down the process or container, just logged and kept chugging.

[2020-01-11 22:35] AgeManning commented on #798
Thanks for the report.
This is a bug in discovery. You may need to restart the client, to discover new peers.
We will look into this.

[2020-01-11 22:54] AgeManning opened #799 "Parent lookup non-recursive"
## Description

In issues of large fork choice problems, the recursive parent lookup strategy appears to only run 1 layer deep and performs duplicate calls.

[2020-01-13 01:45] paulhauner opened #800 "Potential memory exhaustion vector"
## Description

In `per_block_processing` we store a list of intermediate states when fast-fowarding a state through skip slots:

https://github.com/sigp/lighthouse/blob/03443c3e5714ae5478173de4a87f92a1c9577549/beacon_node/beacon_chain/src/beacon_chain.rs#L1364-L1378

Given that each state is on the order of MB (they're ~5mb when SSZ encoded, not sure what they consumer when in RAM) there's an att

[2020-01-13 08:42] pscott commented on #800
Should we also maybe provide a way for the user to set this `max-skip slots value`?
Or should we just set this number to be very low? Thinking about the user who has a small droplet that has 1GB RAM and that might find it useful to provide a smaller `max-skip slots value`

[2020-01-14 04:33] pscott opened #805 "Logic error when retrieving attester slashing from op_pool"
## Description
The function `get_slashings` that retrieves attester slashings from the operation pool is currently flawed, as it calls `get_slashable_indices_modular` with an incorrect closure.
https://github.com/sigp/lighthouse/blob/03443c3e5714ae5478173de4a87f92a1c9577549/eth2/operation_pool/src/lib.rs#L224-L225

## Steps to resolve
I believe (idea from @michaelsproul ) that the correct closure

[2020-01-14 04:40] michaelsproul commented on #805
Great find! Definitely a nasty bug

[2020-01-14 07:19] AgeManning commented on #576
Hi all, RFP is here: https://lighthouse.sigmaprime.io/ui-rfp.html

[2020-01-15 01:41] #805 closed

[2020-01-15 02:17] michaelsproul opened #807 "Cache epoch boundary states to reduce disk reads"
## Description

Since we made the hot database sparse, disk reads of states have **increased** from around 100MB/min to 800MB/min. This is due to the loading of epoch boundary states when processing attestations, which bypasses the checkpoint cache.

## Steps to resolve

I have a work-in-progress implementation on my [`epoch-boundary-cache`](https://github.com/michaelsproul/lighthouse/tree/epoch-b

[2020-01-15 04:50] #798 closed

[2020-01-15 17:42] timmyers opened #810 "How to programmatically detect if node is sync'd."
## Description

It would be great if there was a rest API method to detect whether a node is synchronized.

For example, the `prysm` client has a `/eth/v1alpha1/node/syncing` (https://api.prylabs.net/#/Node/GetSyncStatus) which returns a bool.

This is important when orchestrating multiple beacon nodes, and knowing when they are ready to serve traffic.

Potentially related issues: #714 #720

[2020-01-16 02:11] AgeManning commented on #799
I think this is not an issue rather a side effect from crashing nodes.

[2020-01-16 02:11] #799 closed

[2020-01-16 04:16] AgeManning commented on #810
Yep. Along with #720, I'll add this update in #811.

I'll document the exact the endpoint once added in.

[2020-01-16 04:18] AgeManning commented on #795
Closed in #802

[2020-01-16 04:18] #795 closed

[2020-01-16 04:20] #730 closed

[2020-01-17 00:27] AgeManning opened #812 "Specify block state in forwards iterator"
## Description

The forwards block iterator can be given an end state as a reference point. This should be done for non-finalized iterations.

We should pass the state and the block_hash to Store::forwards_block_roots_iterator as the end_state and end_block_root params. At the moment the function on the BeaconChain hardcodes the current head (which should be true for finalized iters).

We should l

[2020-01-19 23:33] #430 closed

[2020-01-19 23:46] michaelsproul commented on #619
I'm working on this now

[2020-01-20 10:48] paulhauner opened #815 "Be clear about local vs. public testnet in docs"
## Description

The docs have a [testnet](https://lighthouse-book.sigmaprime.io/testnets.html) section that instructs users how to create their own testnet. These docs were made before our public testnet, and now that has taken on the name of "the testnet".

This can be confusing for new users, who just want to connect to the public testnet but end up following docs to create a local testnet.

##

[2020-01-22 09:36] thor314 opened #821 "Many documentation links broken"
## Description
All of the links in the documentation in all sections not named “Re-exports” are broken.
https://lighthouse-docs.sigmaprime.io/

## Present Behaviour
Click a link, any link, 404 not found, you will find.

## Expected Behaviour
Documentation links to content

## Steps to resolve
Probably find where the links were supposed to point, update the links.

[2020-01-22 09:38] johnsBeharry commented on #821
Just checked out the docs and the links I clicked seem to be working.
Could you include which urls specifically are returning 404?

[2020-01-22 09:45] johnsBeharry commented on #821
@thor314 the links actually work and do not 404, they are anchors to sections of the current page.

[2020-01-22 14:29] AgeManning opened #822 "Parent block lookup over same peer"
## Description

There appears to be a bug in adding a syncing peer as a peer that can receive unknown gossip blocks.

Alongside this, a failed attempt at retrieving an unknown block will re-request from the same peer. The requests should be distributed amongst peers and should request from the peer that referenced the unknown block first.

[2020-01-22 23:41] michaelsproul commented on #821
I reproduced this by clicking the link to "builder" under the "Modules" heading, which leads to:

https://lighthouse-docs.sigmaprime.io/builder/index.html (404)

Rather than:

https://lighthouse-docs.sigmaprime.io/beacon_chain/builder/index.html

It's probably an HTTP configuration issue, we'll look into it.

[2020-01-23 06:37] pscott opened #824 "Slow API calls for slots that are not synced"
## Description

Slow API calls when trying to fetch data about some slot that is not currently synced but smaller than the current slot (as provided by the slot_clock).

## Present Behaviour

When starting a fresh sync (no DB), the beacon node starts by syncing up the chain. Making an API call that asks for data that is not synced yet, but smaller than the current slot clock will make a call to `s

[2020-01-23 06:41] pscott opened #825 "Parameters too loose on API calls"
## Description

You can pass some extra useless parameters to some API calls.

## Present Behaviour

A number of API calls allow for useless parameters to be passed in. For example `/beacon/head` doesn't check for any parameters, so you can call `/beacon/head?slot=0`.

I don't think this presents any security issues.
However, from a user perspective, it could be confusing.

## Expected Behaviour

[2020-01-23 07:16] #654 closed

[2020-01-23 08:27] #815 closed

[2020-01-24 14:25] fubuloubu opened #829 "There's no way to purge the database"
## Description
I end up in some sort of bad loop where lighthouse could no longer sync blocks, so I wanted to purge the db and have it re-download everything to get past that.

## Present Behaviour
There is no command to do so however.

## Expected Behaviour
Something like `lighthouse beacon purge-db` or `lighthouse purge beacon db`, etc.

## Steps to resolve
Add such a command

[2020-01-24 14:34] fubuloubu opened #830 "Keypair file does not exist"
## Description
`beacon validator -d {non-standard directory location}` yells about not being able to find the keypair file:
[code]

## Present Behaviour
I moved my directory to a non-standard directory, and deleted my `beacon/` folder (as a result of the issue I mentioned in #829), and this error pops up. I solved it by copying the `voting_keypair` file from `lighthouse/validator/{raw-public-key}/

[2020-01-28 02:33] michaelsproul opened #833 "Add ability to delete states from the hot DB"
## Description

We should be able to delete a `BeaconState` from the hot database.

## Steps to resolve

We'll need a dedicated method on the `Store`, which removes the hot state summary, and also the full state if the state being deleted lies on an epoch boundary (more thought required possibly)

[2020-01-29 23:57] michaelsproul commented on #807
Working on this now as part of block and attestation validation for gossip propagation (continuation of #583)

[2020-02-04 01:43] #714 closed

[2020-02-04 06:49] pawanjay176 commented on #669
Resolved in #659

[2020-02-04 06:49] #669 closed

[2020-02-05 19:18] pawanjay176 opened #839 "Docker container doesn't exit gracefully"
## Description

After bringing up the lighthouse docker container using `docker-compose up`, killing the container using `Ctrl + C` causes the `beacon_node` process within the container to exit with SIGKILL instead of SIGTERM. Since the process doesn't exit gracefully, the beacon node doesn't get persisted and subsequently, bringing up the container again using `docker-compose up` errors with

```

[2020-02-10 00:30] #807 closed

[2020-02-10 23:19] #619 closed

[2020-02-11 05:51] michaelsproul opened #845 "Forks longer than two epochs cause invalid blocks to be produced"
## Description

In https://github.com/sigp/lighthouse/pull/820 we disabled the signature check on attestations when drawing them from the op pool, and this saved us a bunch of CPU cycles during block production. However, it also introduced a bug whereby if there are two chains that stay forked for longer than 2 epochs, then _their committee shufflings will diverge_ and the newest attestations from

[2020-02-11 09:48] paulhauner commented on #845
So there's this check:

[code]

This would ensure that we never include any blocks with a distinct shuffling, however it would unnecessarily restrict blocks that might have forked in `state.current_epoch() - 3` and still provide some reward to the block proposer for having a "correct" `attn.data.source`.

This would be a bit of hot-fix that moves us from a glaring liveness issue to a profit maximi

[2020-02-12 01:02] paulhauner opened #847 "100k validators on t2.mediums"
## Description

Our latest testnet is running 8x validator nodes on AWS t2.medium nodes (2-vCPU, 4GB RAM), each with 12.5k validators. These nodes ran fine for the first 24hrs but then started to crumble when the network experienced instability. What I observe is that the nodes get full CPU utilization and are unable to clear their work queue (incoming attestations, blocks, API calls, etc) and get

[2020-02-12 01:16] paulhauner opened #848 "Use the beacon chain pubkey cache for block signature verification"
## Introduction

Previously we had an issue where the beacon state needs to be serialized with _compressed_ pubkeys but we need to do signature verification with _decompressed_ pubkeys. Decompressing is expensive so we want to avoid doing it every time we verify a signature. Our solution was to add an optional decompressed version to each `PublicKeyBytes` struct as a sort-of cache and just try and

[2020-02-12 01:16] paulhauner commented on #848
I'm working on this now

[2020-02-12 01:26] AgeManning commented on #847
For the threading model, if there are expensive long-running tasks, for now we can simply spawn whatever task as an OS thread rather than using the executor. I've done this currently in syncing.

Once we've shifted to stable futures, it won't be difficult to spawn the OS thread back to a blocking thread on the executor.

[2020-02-12 01:28] AgeManning commented on #829
As a temporary current work-around users can delete the datadir, default `~/.lighthouse/beacon`

[2020-02-12 04:26] AgeManning commented on #812
We no longer need this functionality as an update to specs has been made.

[2020-02-12 04:26] #812 closed

[2020-02-12 05:31] michaelsproul commented on #845
I don't quite follow what you mean about a fork from `state.current_epoch() - 3`, I think rejecting attestations from such long-ranged forks is exactly what we want to do (because their signatures will appear invalid).

I think the problem might be that it's too strict for short-ranged forks. If a fork occurs on the first slot of an epoch, then the attestations from both sides will be unnecessaril

[2020-02-12 07:01] paulhauner commented on #845
Oh yep, sorry I should have said ` state.current_epoch() - 2`. My suggestion filters out those forks unnecessarily.

[2020-02-12 08:41] paulhauner opened #850 "Block processing "lanes" (WIP)"
## Description

I've been thinking about block processing and memory usage and I wanted to share an idea about block processing and state caching. **This post is currently a WIP, it's structurally there but missing some detail.**

## The current state caching solution

Presently we store 5 `BeaconState` in a LRU cache in the `Store` maybe/maybe not with their caches built and we just kinda hope th

[2020-02-13 05:50] #839 closed

[2020-02-16 21:30] paulhauner commented on #850
Closing this because I have a better idea that's far less complicated. Will share at some point.

[2020-02-16 21:30] #850 closed

[2020-02-18 06:05] paulhauner opened #864 "Don't add to op-pool if block production is impossible"
## Introduction

Eth2 uses Eth1 to onboard validators (via the deposit contract). Whenever an eth2 validator produces a block, they cast a vote on some info about the eth1 chain. At the end of each `ETH1_VOTING_PERIOD`, these votes are tallied and if there is a majority then new eth1 info is enshrined in the eth2 chain.

Therefore, any eth2 validator should also connect their beacon node to an eth

[2020-02-24 07:02] AgeManning opened #870 "Shift Gossipsub message cache into gossipsub"
## Description

We currently create our own LRU cache on top of gossipsub's mechanism for checking previously seen messages. Our implementation doesn't account for published messages and gossipsub only checks for the last 256 messages.

We should modify gossipsub to make its LRUCache configurable, as well as store message_Id's as bytes to reduce the memory requirements.

This well avoid duplicate

[2020-02-25 00:00] paulhauner opened #871 "DHT persistence tests fail with a running node."
## Description

I'm getting the following error when running `cargo test --all --release`:

[code]

I also have a beacon node running in the background. I assume that it's using a port that the tests expect to have open? It would be nice if we could run a node and also pass tests.

[2020-02-25 00:00] paulhauner commented on #871
@pawanjay176 I think you might be familiar with this test?

[2020-02-25 03:03] AgeManning commented on #871
Yeah, @pawanjay176 looks like will have to use non-standard config. Need to change this guy:
https://github.com/sigp/lighthouse/blob/master/beacon_node/network/src/service/tests.rs#L67

[2020-02-26 06:16] pawanjay176 commented on #871
Sorry, saw this now. Will push a fix soon :)

[2020-02-26 16:35] adaszko opened #875 "Make Lighthouse respect XDG Base Directory Specification"
## Present Behaviour

Currently, when run outside of a Docker container, Lighthouse uses `~/.lighthouse` as its state directory.  This is an outdated convention which results in hard-to-manage dozens of similar directories in user's home directory.

## Expected Behaviour

Nowadays, it is preferred to adhere to [XDG Base Directory Specification](https://specifications.freedesktop.org/basedir-spec/b

[2020-02-26 23:59] paulhauner commented on #875
This seems like good practice to me. I recall Parity behaves like this too.

Thoughts @michaelsproul, @AgeManning?

[2020-02-27 07:53] pawanjay176 opened #876 "Eth1 block cache should store only candidate blocks"
## Description

Currently, the eth1 block cache holds a fixed size of `block_cache_truncation` blocks in its cache. When casting an eth1 vote, we go through the block cache and filter blocks which aren't candidate blocks in the voting period.

However, with the new eth1 voting scheme, we know the range of eth1 blocks (based on their timestamp) which are candidate blocks for that current voting per

[2020-02-28 11:15] adaszko opened #878 "Too many open files"
## Present Behaviour

`make test-debug` fails with a `Too many open files` error in *various* tests.

More precisely, the error message is: `thread 'tokio-runtime-worker-0' panicked at 'failed to open /dev/urandom: Os { code: 24, kind: Other, message: "Too many open files" }', src/libcore/result.rs:1188:5`.

I only tested on macOS.  File descriptors limit may be lower there.

The tests I've seen f

[2020-02-28 11:28] adaszko commented on #878
I'm working on it.

[2020-02-28 18:08] adaszko commented on #878
More precise command to reproduce: `cargo test --all --exclude ef_tests -p eth1 --test test`

[2020-03-02 02:45] paulhauner commented on #797
Resolved by #856

[2020-03-02 02:45] #797 closed

[2020-03-02 02:46] paulhauner commented on #652
Resolved by #760

[2020-03-02 02:46] #652 closed

[2020-03-02 02:47] paulhauner commented on #598
Hey @michaelsproul is this still relevant?

[2020-03-02 02:47] #561 closed

[2020-03-02 02:48] paulhauner commented on #532
Hey @AgeManning is this still relevant?

[2020-03-02 02:49] #512 closed

[2020-03-02 02:49] paulhauner commented on #511
@AgeManning is this still relevant?

[2020-03-02 02:50] paulhauner commented on #341
Closing this since we've heavily refactored the BN and VC since this issue.

[2020-03-02 02:50] #341 closed

[2020-03-02 02:50] paulhauner commented on #338
Closing since we've fully refactored the VC since this issue was created.

[2020-03-02 02:50] #338 closed

[2020-03-02 02:51] paulhauner commented on #203
Closing this since we're using QuickCheck now :)

[2020-03-02 02:51] #203 closed

[2020-03-02 02:55] paulhauner commented on #871
Resolved by #874

[2020-03-02 02:55] #871 closed

[2020-03-02 03:05] paulhauner commented on #864
Resolved by #868

[2020-03-02 03:05] #864 closed

[2020-03-02 03:11] paulhauner commented on #693
I'll close this one since we haven't seen this corruption issue since we started storing blocks before states. Feel free to reopen if you want :)

[2020-03-02 03:11] #693 closed

[2020-03-02 03:12] paulhauner commented on #732
Closing this since we now encourage users to run their own eth1 nodes (and we do not host a public node)

[2020-03-02 03:12] #732 closed

[2020-03-02 03:12] paulhauner commented on #729
Resolved by adding proto-array

[2020-03-02 03:12] #729 closed

[2020-03-02 03:17] paulhauner commented on #576
Closing this since the RfP process is complete and we have selected vendors :)

[2020-03-02 03:17] #576 closed

[2020-03-02 03:24] paulhauner commented on #568
I believe we are conforming to this now, I have certainly been paying attention to it. I'll close this for now :)

[2020-03-02 03:24] #568 closed

[2020-03-02 03:31] paulhauner opened #880 "Out-of-the-box ARM support"
## Description

Lighthouse can run on ARM (e.g., RasPi 4) however it requires some tweaks to the [leveldb](https://github.com/skade/leveldb) crate.

## To Resolve

- Make our own fork of [skade/leveldb](https://github.com/skade/leveldb) which can compile on x86 and ARM.
- Use that repo in our `store` crate, intead of the crates.io package.
- Push a PR to the skade/leveldb with our fork so that we

[2020-03-02 03:32] paulhauner commented on #757
Closing this in favor of #880

[2020-03-02 03:32] #757 closed

[2020-03-02 03:37] paulhauner commented on #673
Just following up to see if this is still relevant?

[2020-03-02 03:42] paulhauner commented on #822
Hey @AgeManning is this still relevant?

[2020-03-02 04:36] paulhauner opened #882 "Update fork choice to v0.10.x"
## Description

Presently our fork choice is not to-spec regarding the updating of the justified checkpoint (i.e., the start block of fork choice).

It should be updated to ensure it is consistent with the spec.

[2020-03-02 05:18] #681 closed

[2020-03-02 05:18] AgeManning commented on #582
We have added support for Noise with Secio as a fallback in #873

[2020-03-02 05:18] #582 closed

[2020-03-02 05:29] AgeManning opened #883 "Peer Management System"
## Description

Build a reputation system for known peers. This will add heuristics about peers as to which peers to prioritise for block downloads, which peers to kick/ban based on their past performance/behaviour.

This system should be built as general as possible for future upgrade-ability. We therefore want to have the ability to kick/ban peers at a per-protocol level.

This will involve not

[2020-03-02 05:40] AgeManning commented on #822
Yeah. Something still to investigate... still on the list

[2020-03-02 05:42] AgeManning commented on #511
Resolved in the Silky Smooth Syncs PR (#816)

[2020-03-02 05:42] #511 closed

[2020-03-02 05:43] AgeManning commented on #532
These issues have all be resolved independently and we have removed the Ping protocol

[2020-03-02 05:43] #532 closed

[2020-03-02 06:01] AgeManning opened #884 "Fork version validator signing handling"
## Description

The validator client must `subscribe` its validators to future slots in order to determine if it is an aggregator of attestations or not. Currently we sign with the fork_version of the current head.

It's possible that the fork version changes by the time we are supposed to aggregate. The validator client should detect fork-version changes and update it's duties accordingly. A duti

[2020-03-02 06:26] paulhauner opened #885 "DHT persistence test failed"
## Description

CI failed on a DHT persistence test:

[code]

Detail:

https://github.com/sigp/lighthouse/pull/865/checks?check_run_id=478747946

Perhaps both of the tests are trying to use the same port and there's a race condition where one fails if they both run at the same time.

[2020-03-02 06:26] paulhauner commented on #885
@pawanjay176 I think this is your domain :)

[2020-03-03 01:15] michaelsproul commented on #673
Yeah it still is. I think implementing (1) as a first step makes the most sense.

[2020-03-03 01:18] michaelsproul commented on #598
I'd concluded that it wasn't really worth doing, because the calculation of a single proposer index doesn't seem to take that long. But I will confirm this suspicion with a benchmark on 100k validators (I think last I looked was with 16k validators)

[2020-03-03 06:39] pawanjay176 commented on #885
I think this was fixed in #874.

[2020-03-03 07:42] paulhauner commented on #885
Ok, perhaps I'm running an outdated master!

I saw this one too, any idea on what that might be?

[code]

[2020-03-03 08:06] adaszko commented on #878
I've tried adding a macOS executor to GitHub CI and [setting `ulimit -n 256`](https://github.com/adaszko/lighthouse/blob/f11a1f63162d0bb3d96c08dbcc806e6f4cc3058f/.github/workflows/macos.yml#L15) (256 is the default on macOS).  The result is [the job simply hangs](https://github.com/adaszko/lighthouse/runs/480337165).

[2020-03-03 08:09] adaszko commented on #878
Attaching `dtruss` run shows it's the `/dev/urandom` file that [gets opened a lot of time](https://gist.github.com/adaszko/1140239814e84f24f703d56ebe6423cc).

[2020-03-03 08:15] pawanjay176 commented on #885
Hmm that's odd. Looks like a port clash again :slightly_frowning_face:
I explicitly specified non-default random(?) port numbers in that test. Not sure what it's clashing with.

Do you have anything running on port 56010?

[2020-03-03 11:50] adaszko commented on #878
I tried gdb on Linux but it crashes with no good reason.  Replacing `random_deposit_data()` with `generate_deterministic_keypair()` did not make any effect either.

Fortunately, [`dtruss` backtraces](https://gist.github.com/bd8f8cd311a156be586f8bf356fba56a) reveal what's going on.  The problem is each instance of `EnvironmentBuilder::minimal().single_thread_tokio_runtime()` uses `std::collections:

[2020-03-03 13:32] AgeManning opened #886 "Test suite for attestation service timing"
## Description

The naive attestation aggregation strategy involves quite a bit of timing logic. Depending on connected validators, a beacon node needs to subscribe to a set of long-lived subnets for a period of time. On top of this, the node needs to subscribe, unsubscribe and search for new peers when a validator needs to attest on a specific slot.

There is significant logic and edge cases that

[2020-03-03 13:37] AgeManning opened #887 "Discv5 ENR-specific queries"
## Description

Currently discv5 only has a simplistic `find_peers()` function. This is satisfactory for finding new peers on the network. However with the addition of the `naive_attestation_aggregation` strategy and without discv5 topics, we need to search for peers with specific ENR keys (in this specific case, the subnet bitfield).

It would be more efficient to implement a search based on ENR'

[2020-03-04 02:14] AgeManning opened #889 "Add DNS support to discovery"
## Description

Discovery is currently based on IP. The PING packets update the ENR's IP.

A configuration should allow the Enr to have a fixed static IP, regardless of the PONG response from other peers. We should allow the static IP to be derived from a DNS name.

When setting the `--discovery-address` flag, the Enr's IP should remain static and ignore reported IP's from PONG responses.

We shou

[2020-03-04 05:48] #833 closed

[2020-03-04 06:09] michaelsproul opened #891 "Prune forks from the database"
## Description

At the moment Lighthouse will keep blocks and states from non-canonical forks in the hot database indefinitely. This wastes disk space, and represents a potential resource exhaustion attack vector.

## Expected Behaviour

When the chain finalizes (or on some subset of finalization events), we should prune all blocks and states that don't descend from the finalized state. This could

[2020-03-04 10:41] adaszko commented on #478
I take a look into this one.  Ping me if you have any additional information please.

[2020-03-05 05:15] michaelsproul commented on #845
I'm starting work on this

[2020-03-05 05:31] AgeManning opened #896 "Shift parent chain lookup block processing to dedicated thread"
## Description

When an unknown block is seen on the gossip channel, lighthouse tries to find a chain of blocks that links it to the current known canonical chain. The depth of the lookup is specified by a constant and can be quite large.

Once a chain can be processed, we process all the downloaded blocks at once. This is currently done in the syncing thread task, which will block the executor. T

[2020-03-05 06:40] AgeManning commented on #883
We should also handle peers that don't send an RPC STATUS message on connect. The manager should provide a timeout then handle these peers appropriately

[2020-03-05 08:28] AgeManning commented on #883
Came across another interesting case. If a node loses connectivity during sync, it's syncing chain will fail and try to re-STATUS peers to restart sync.
The re-STATUS will timeout and the peers will not register as disconnected.

The peer manager may want to store number of status messages sent and if the peer doesn't respond after a specific number we should consider them disconnected and/or disc

[2020-03-05 23:54] #546 closed

[2020-03-06 08:26] adaszko opened #897 "Automate publishing of `cargo doc` documentation"
## Present Behaviour

https://lighthouse-docs.sigmaprime.io/ is out of date.

## Expected Behaviour

https://lighthouse-docs.sigmaprime.io/ docs should be updated whenever a new Git commit is [pushed that has a associated `v*.*.*` tag with it](https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#onpushpull_requestbranchestags), something like:

[code]

## Steps to resolv

[2020-03-06 10:06] adaszko commented on #478
Turns out Chrome doesn't cause the Hyper HTTP server to hang.  The shutdown simply takes a bit longer with Chrome.

Here's how to the `^C` looks with Firefox:
![image](https://user-images.githubusercontent.com/165678/76073357-c7815b80-5f99-11ea-8b5a-d72d3bfc086c.png)

And with Chrome:
![image](https://user-images.githubusercontent.com/165678/76073400-d5cf7780-5f99-11ea-830a-b327a12c83ba.png)

It c

[2020-03-06 14:00] adaszko commented on #891
I'm claiming this issue :)

[2020-03-06 15:59] divagant-martian commented on #896
I'll work on this one

[2020-03-06 18:16] divagant-martian commented on #887
If it's ok I would like to work on this

[2020-03-07 00:37] AgeManning commented on #887
Hey @divagant-martian,

I saw you are also interested in #896. This particular issue has quite a few complexities and there are few updates to this section of code I was hoping to implement.

Currently I think @pawanjay176 had his eye on this, but we always would like the extra help. Perhaps work on #896 first and see where we are at with this issue after that.

[2020-03-07 00:53] AgeManning commented on #896
Awesome! Thanks for the help!

Let me point you at some code to make things a bit clearer (as some parts here are a little convoluted).

Sometimes we see a block flying over the network that we've not seen before. When this happens, we try and add it into our chain. However, if we don't know it's parent, we can't add it.. we have to recursively lookup the blocks ancestry until it either matches ou

[2020-03-07 21:51] realbigsean commented on #886
Hey, I'd be interested in picking this up.

[2020-03-08 23:03] paulhauner commented on #891
Awesome!

Since we don't keep forward-pointers from parent block to child block, we're most likely going to need to start and the head block and iterate backwards through it's ancestors. There are three ways we can iterate backwards:

- From the head (start) block use `block.state_root` to read the corresponding `BeaconState` from the database and use the `state.block_roots` field to iterate backw

[2020-03-08 23:27] michaelsproul commented on #891
I agree that using the parent root seems like the best option at the moment, in terms of simplicity and performance. I suspect that the burden on disk reads won't be too severe, as blocks are reasonably sized and we won't be pruning super often. The [`ParentBlockRootIterator`](https://github.com/sigp/lighthouse/blob/8c5bcfe53a34bc624f79e11b5038c691d18a9477/beacon_node/store/src/iter.rs#L107-L139)

[2020-03-09 03:58] AgeManning commented on #886
Hey @realbigsean, thanks for the interest and the help!

This I've tried to make fairly localised and is a good start to learning some localised sections of the code base.

This issue in particular deals with an object I've called the `attester_service`. This currently exists on the `naive_attestation_aggregation` branch (which I will clean up so that tests can run fine on this branch).

The `atte

[2020-03-10 22:42] paulhauner opened #902 "Typo in docs: /network/peer_id"
## Description

See: https://lighthouse-book.sigmaprime.io/http_network.html#networkpeer_count

The `/network/peer_count` route has a path of `/network/peer_id`. It should be  `/network/peer_count`.

Source is here: https://github.com/sigp/lighthouse/blob/master/book/src/http_network.md

[2020-03-10 23:38] FawadHa1der commented on #902
https://github.com/sigp/lighthouse/pull/903

[2020-03-11 00:05] michaelsproul opened #905 "Ensure CLI args override on-disk config"
## Description

I realised I was running my node with `--dummy-eth1`, so I stopped it, restarted it with `--eth1 --eth1-endpoint $URL`. I expected the node to use the CLI flags, but it still reported:

[code]

Moving the `~/.lighthouse/beacon/beacon-node.toml` file out of the way and restarting got it to recognise the CLI options.

## Expected Behaviour

The CLI arguments should override any on-di

[2020-03-11 00:07] michaelsproul commented on #905
Having some end-to-end tests to catch regressions would also be good.

[2020-03-11 04:27] realbigsean commented on #886
Thanks for the detailed explanation! I've started working on this and will let you know when I have some basic scenarios working, or if I run into any issues.

[2020-03-11 17:30] FawadHa1der commented on #905
Taking a stab at it

[2020-03-12 08:37] paulhauner commented on #478
Great, thanks @adaszko!

I'm confident in saying that this is expected and reasonable behavior and that this issue can be closed :)

[2020-03-12 08:37] #478 closed

[2020-03-12 22:57] rolfyone opened #907 "documentation for /validator/block has a zero randao_reveal in response, but shouldn't"
The /validator/block documentation has the randao_reveal as all zero's in the response, which implies it's zeroed out in the response, but it's not.

Could the documentation be updated to show the response object with a non zero randao much like the POST has?

[2020-03-12 23:44] AgeManning opened #908 "Ensure Sync aligns on epoch boundaries"
## Description

Doing batched block downloads can be processed faster if the batch aligns to an epoch. From memory, this should naturally be the case for Finalized chain sync (provided the `BLOCKS_PER_BATCH` is a multiple of `slots_per_epoch`).

This issue, is to ensure that when a finalized chain is created, the batches always align to an epoch.
There is potentially an edge case when finalized ch

[2020-03-12 23:55] AgeManning opened #909 "[RPC]: End stream after expected chunks have been returned"
## Description

The expected number of chunks from an RPC is known from the request. The RPC handler should end the stream once the expected number of chunks have been returned.

[2020-03-13 16:20] ackintosh commented on #602
Hi, I'm addressing this issue, will file a PR to close this. 😃

[2020-03-15 23:46] ethDreamer commented on #829
I'll take a look at this :)

[2020-03-16 00:38] #907 closed

[2020-03-16 02:53] AgeManning opened #914 "Add REST API tests for new API functions"
## Description

The REST Api functions have been modified for the network upgrade. Unit tests need to be created to ensure they function as expected.

The new API's are on the `v0.2.0` branch.

If anyone wants to pick this up, let me know and I can detail this further.

[2020-03-16 23:45] AgeManning opened #917 "Update REST API docs for v0.2.0 update"
## Description

A number of changes have been made to the REST API. Although this is simply a documentation issue, it will help with understanding how the REST API functions and it's associated methods.

We need to update the book for the methods in the `v0.2.0` branch.

More info available on request.

[2020-03-17 00:30] paulhauner opened #918 "Validator client race condition leading to missed duties"
## Overview

There's a race condition in the validator client that can lead to blocks and attestations being missed.

## Setup

The validator client (specifically, the [`DutiesService`](https://github.com/sigp/lighthouse/blob/master/validator_client/src/duties_service.rs)) periodically polls for duties for the current and next epoch (according its slot clock). It stores these duties in its [`Dutie

[2020-03-17 00:31] paulhauner commented on #918
@adaszko I was thinking you might be interested and available for this one?

@AgeManning I know you've been deep in the validator client with the aggregation strategy changes. Do you think work on this should be stalled or perhaps start on some non-master branch?

[2020-03-17 00:58] hermanjunge opened #920 "Upgrade rewards to v0.11.0 - Handle integer overflow"
## Overview

* u64 overflow detected in reward calculations when total balance exceeds ~1,300,000 ETH

* Reference https://github.com/ethereum/eth2.0-specs/pull/1635

[2020-03-17 01:12] michaelsproul opened #922 "BeaconState::get_active_validator_indices should check epoch"
## Description

The function `BeaconState::get_active_validator_indices` takes an arbitrary epoch and attempts to compute (without the committee cache) the active validators at that epoch. The problem is, we only have limited lookahead because of new validators activating and old validators leaving.

## Steps to resolve

1. Work out the minimum lookahead on the active validator set by reasoning ab

[2020-03-17 01:36] michaelsproul opened #923 "BeaconState::get_beacon_proposer_index should check slot"
## Description

The `BeaconState::get_beacon_proposer_index` function should check that the `slot` argument lies within sensible bounds before attempting to compute a proposer index. Proposer indices are only known for the current epoch and earlier due to the possibility of a validator's effective balance changing upon the next epoch boundary. The lower bound is likely related to the lower bound f

[2020-03-17 06:57] EdsonAlcala commented on #917
Hi, I would like to work on this, can you give me more details?

[2020-03-17 07:52] adaszko commented on #918
Sure, I can take a look.  Feel free to assign the ticket to me.

[2020-03-17 08:12] paulhauner commented on #918
I believe @AgeManning wanted this to start from a non-master branch. I think he was still in the process of creating it, perhaps check with him directly before you dig into this :)

[2020-03-17 11:02] AgeManning commented on #918
Hey, sorry for the late reply. I've been fighting with smaller issues to get my branch to a usable state to work off.

I've made modifications to the validator client and we might get into conflicts if you solve this in master.

I think everything @paulhauner ul has said here still applies. The current plan is to eventually merge `v0.2.0` branch to master. This branch has the latest source of trut

[2020-03-17 11:41] AgeManning opened #927 "Add UPnP support for Lighthouse"
## Description

Adding UPnP support will help grow our DHT by allowing NAT traversal for peers with UPnP supported routers.

The modification is relatively trivial, however searching for the gateway and modifying ports should be done asynchronously.

[2020-03-17 22:22] paulhauner commented on #923
I think we don't have a look-back either -- we'd need to have the effective balances from the previous epoch in order to determine which proposer was used then.

[2020-03-18 02:06] ackintosh opened #930 "Eth2TestnetConfig: Incomplete build"
## Description/Present Behaviour

https://github.com/sigp/lighthouse/blob/58fb1442760cb21c91d72e20a32bb47a82af866b/eth2/utils/eth2_testnet_config/build.rs#L17-L30

* The file downloading via `get_file()` is failed when the machine is offline or under shaky network conditions
* An incomplete `testnet5` directory will be left if the build is failed from the reason above
* If you retry the build, **t

[2020-03-18 02:06] ackintosh commented on #930
I'll file a PR to resolve this issue. 😃

[2020-03-18 07:41] adaszko opened #932 "Benches compilation error"
## Present Behaviour

[code]

## Expected Behaviour

Benches should compile.

## Steps to resolve

Fix the compilation error, possibly also include the benches compilation in CI.

[2020-03-18 10:13] q9f opened #933 "ERRO Failed to update eth1 deposit cache error: GetBlockNumberFailed("Failed to get block number: Request failed: Error(Url(RelativeUrlWithoutBase))"), service: beacon"
### Description

I try to run a custom testnet but it fails to connect to my local Parity Görli node.

### Present Behaviour

I run a local Parity Görli node with all RPC APIs exposed:

[code]

And I run a Lighthouse custom beacon chain node that fails to connect to Görli on Port 9779:

[code]

## Expected Behaviour

I was assuming that connecting to a local Görli node should work smoothly.

## St

[2020-03-18 10:16] q9f commented on #933
Ah, sorry for the buzz, I forgot to pass the protocol (HTTP)

[code]

[2020-03-18 10:16] #933 closed

[2020-03-18 23:02] FawadHa1der commented on #905
@michaelsproul I could not reproduce this one. I did this
Steps
1) Started lighthouse beacon --dummy-eth1 and then Ctrl C to terminate

and then
2) lighthouse beacon --eth1 --http --eth1-endpoint "https://goerli.infura.io/v3/XXXXXX"

Sorry for the very late reply, was adjusting to the new realities around.

[2020-03-18 23:22] michaelsproul commented on #905
Interesting, which branch are you using? I just reproduced it on the machine where I initially saw the bug, but it was using a somewhat old variant of the `testnet5` branch. I'm rebuilding it on `master` now.

[2020-03-18 23:52] FawadHa1der commented on #905
Yep on master.

[2020-03-19 00:03] paulhauner commented on #920
Resolved via #921

[2020-03-19 00:03] #920 closed

[2020-03-19 00:09] michaelsproul commented on #905
I just reproduced it on master. I suspect the issue might be that your on-disk config has `dummy-eth1` disabled. Can you try:

[code]

For me, those exact steps yield: `WARN Block production impaired               reason: dummy eth1 backend is enabled`

[2020-03-19 00:09] michaelsproul commented on #905
Optionally, back up `~/.lighthouse/beacon/beacon-node.toml` before you delete it (it'll have your config options in there)

[2020-03-19 00:16] FawadHa1der commented on #905
yep got it, thanks.

[2020-03-19 00:22] #930 closed

[2020-03-19 09:31] q9f opened #936 "Beacon node is not able to produce a block: NoEth1ChainConnection"
## Description

I configured a custom testnet with custom deposit contract and try to run my own beacon chain. Testnet config: https://gist.github.com/q9f/d6eea3ea3356e41bde81864143284ce9

I made 16 validators and deposits on Görli testnet but my beacon node is not able to create blocks.

## Version

Lighthouse `testnet5` branch.

[code]

## Present Behaviour

I run a local Görli Geth node:

[code

[2020-03-19 10:08] q9f opened #938 "Panic: The next epoch cannot start before now"
## Description

The validator client panicks upon restart.

## Version

[code]

## Present Behaviour

[code]

## Expected Behaviour

It should not panic and start validating.

## Steps to resolve

Unknown.

[2020-03-19 11:02] mpetrunic opened #939 "Deposit contract address cli flag"
## Description

It would be nice if we could use "recent" generated state with custom deposit address.

## Present Behaviour

Currently we can either:
- generate spec yaml with our deposit address and regenerate it so genesis time doesn't get too old which is not satisfactory
- set genesis to start after first deposit which complicates things for developers
- use lcli to update state genesis time

[2020-03-19 11:38] pawanjay176 commented on #936
Hey @q9f  Didn't replicate your testnet setup, but you might be missing the `--eth1` flag.
[code]

[2020-03-19 12:06] pawanjay176 commented on #936
@paulhauner seems redundant to have to specify the `--eth1` flag if we are already specifying an endpoint with `--eth1-endpoint`. We can set `sync_eth1_chain` to `true` in both the cases I think.

[2020-03-19 12:14] q9f commented on #936
Is there any case where you do not want to connect to eth1?

[2020-03-19 12:40] pawanjay176 commented on #936
If you are just syncing the beacon chain and don't have any validators connected, you don't really need to connect to eth1.

[2020-03-19 13:11] q9f commented on #936
I see. I added the `--eth1` flag but I can no longer restart my validators: #938

[2020-03-20 01:09] paulhauner commented on #936
Good point @q9f. This is addressed here: https://github.com/sigp/lighthouse/pull/941

[2020-03-20 01:57] paulhauner opened #942 "Test is failing: test_secio_noise_fallback"
## Description

Test is raising a `AddrInUse` in a non-deterministic fashion. See:

https://github.com/sigp/lighthouse/runs/520858059

This is the second time I've seen this in the last few days.

## Version

On `master`, Rust version not relevant.

## Steps to resolve

I assume this is because sometimes two of these network tests run at the same time. If that's the case, they should use different

[2020-03-20 01:57] paulhauner commented on #942
@pawanjay176 I think this is relevant to you :)

[2020-03-20 03:41] paulhauner commented on #938
Thanks for raising his @q9f.

I've done some looking into this and I can only see the following circumstances where this error can be raised:

### 1. `SECONDS_PER_SLOT == 0`

It seems unlikely that this is the case, I doubt you modified this variable. Furthermore, this check protects against that:

https://github.com/sigp/lighthouse/blob/a5fbaef469df221f16b84601e78a83b009e13247/eth2/utils/slot_clo

[2020-03-20 03:58] AgeManning commented on #885
This is resolved now i believe?

[2020-03-20 03:59] AgeManning commented on #822
This is resolved in #895

[2020-03-20 03:59] #822 closed

[2020-03-20 04:09] AgeManning commented on #927
For this one, I think we can just use igd: https://docs.rs/igd/0.10.0/igd/
I've tested this on my router and seems work fine.
It should be straight forward do something like their example here: https://github.com/sbstp/rust-igd/blob/master/examples/add_port.rs for both the libp2p tcp port and discovery udp port.

I imagine we can run this in it's own thread. We don't need channels or shared memory

[2020-03-20 04:21] AgeManning commented on #629
This is a two part issue.

Firstly, our peer management is quite basic. We ban and kick peers. See here: https://github.com/sigp/lighthouse/blob/enr-v0.2.0/beacon_node/eth2-libp2p/src/service.rs#L168
and here:
https://github.com/sigp/lighthouse/blob/enr-v0.2.0/beacon_node/eth2-libp2p/src/service.rs#L168

We should implement a method on our behaviour that tells discovery to remove the peer from our

[2020-03-20 05:12] AgeManning opened #943 "Improve Syncing Sim to complete on sync"
## Description

Currently the syncing simulator waits for a particular epoch before ending. I think this mimics the beacon simulator.

I think the faster and more accurate test should be that a node achieves sync. The test should end once all connected nodes are in sync, rather than waiting for some pre-determined epoch.

This will also help with dissecting the logs, as sync logs will be closer to

[2020-03-20 06:00] pawanjay176 commented on #942
Looking into it

[2020-03-20 07:11] pawanjay176 commented on #942
I think that the debug and release tests on CI ran at the same time for this particular test which caused the port clash.
@paulhauner did you get this error locally as well? if not, I think the debug release tests running simultaneously is the issue.

[2020-03-20 07:57] paulhauner commented on #942
The debug and release tests run on different instances, so I don’t think it’s possible the would cause port conflicts. Are there two sets of networking tests in the whole codebase? If so, Rust runs inter-crate tests concurrently and that might be the issue.

[2020-03-20 09:41] q9f commented on #938
yes, it's reproducable. I compiled `clock-disparity` branch and can confirm #929 fixes the issue :+1:

[2020-03-21 02:36] paulhauner opened #945 "It is possible to import a block that conflicts with finality"
## Description

It is currently possible to import a block into Lighthouse that conflicts with finality.

For this issue I'm going to refer to the [`gossip_multi_block`](https://github.com/sigp/lighthouse/tree/gossip-multi-block) branch, since it refactors block processing. Do not start to address this issue from `master`, build from `gossip_multi_block`.

## Present Behaviour

During import we us

[2020-03-21 10:17] ackintosh commented on #540
I'm working on this issue, will file a PR to close this. 😃

[2020-03-21 15:46] q9f opened #947 "Cannot get SSZ: No eth1 genesis block found"
## Description

`lcli eth1-genesis` fails to get the genesis state.

## Version

[code]

## Present Behaviour

[code]

## Expected Behaviour

The genesis already occured:

[code]

My beacon chain is synced and I have blocks from local validators:

[code]

`lcli eth1-genesis` should get the genesis state but it doesn't.

## Steps to resolve

Unknown.

[2020-03-23 01:07] #896 closed

[2020-03-23 06:59] paulhauner commented on #939
@mpetrunic have you considered using the [eth2-testnets](https://github.com/eth2-clients/eth2-testnets) format to define testnets? We can take a `--testnet-dir` flag which will load those configs.

We also have an `lcli` command for generating these testnets:

[code]

[2020-03-23 07:01] mpetrunic commented on #939
Can I configure genesis with 8 interop validators preloaded like with "recent" subcommand?

[2020-03-23 08:25] paulhauner commented on #939
Hmm, I haven't used `recent` with an eth1-based testnet before... Do you have a deposit contract deployed somewhere with those interop validators already deposited?

[2020-03-23 08:27] paulhauner commented on #938
Seems like this is a (5) then, which is a little concerning! Glad that the new code fixed it though.

[2020-03-23 08:28] paulhauner commented on #885
This now exists as #942, so I think it's safe to close this one :)

[2020-03-23 09:28] mpetrunic commented on #939
Yeah, we are trying to have working chain with preloaded interop validators at genesis state while being able to add new validators trough deposit contract on private eth1 chain.

Here is working docker-compose: https://github.com/NodeFactoryIo/ChainGuardian/blob/mpetrunic/lighthouse/docker-compose.yml

[2020-03-23 09:48] q9f commented on #947
Workaround:

[code]

[2020-03-23 10:04] q9f opened #949 "Beacon Node: Unable to recover from network fragmentation"
## Description

Given is a custom beacon-chain testnet with nodes in physical distinct network locations `[A, B]`. The nodes have both an ENR supplied in a testnet directory specified as `boot-enr.yaml` and (due to inability to sufficiently network through ENR) a multi-address command line flag.

The ENR file looks like this: [gist/d6eea3ea3356e41bde81864143284ce9#file-4-boot_enr-yaml](https://gis

[2020-03-23 11:13] AgeManning commented on #949
Hey, thanks for registering this.

The source of this problem lies with the CLI ergonomics and lack of documentation around ENR's. I know this is an issue because even our internal team make mistakes with this.

There is a branch which contains a variety of network update features (not merged to master yet). Among them I've adjusted the mechanics around ENR creation and log statements when they ar

[2020-03-23 11:29] paulhauner commented on #949
So after chatting to @agemanning, it seems I shouldn’t have recommended the `libp2p-addresses` flag since it will only try to connect once on boot then never attempt again. Specifying the ENRs is indeed required.

Perhaps we could address this issue by adding some help text to the `libp2p-addresses` flag describing that it’s only for debugging purposes and is not reliable for production.

[2020-03-23 11:32] AgeManning commented on #949
Yep `libp2p-addresses` was originally designed only for interacting with clients that didn't have discv5 support during interop. It should be removed in the future, but it's currently useful for debugging and testing libp2p. Agree we should add a big warning, for that CLI param (along with the random propagation cli flag :) )

[2020-03-23 13:04] q9f commented on #949
I recently posted this: https://ethereum.stackexchange.com/questions/80668/how-to-retrieve-ip-address-and-port-from-ethereum-node-records-enr

Quote:

Why on earth would we encode addresses that way? I've been doing blockchain operations for years now and being able to connect two nodes with each other is one of the most essential tasks. ENR does not allow me to inspect the IP address and port eas

[2020-03-23 13:50] AgeManning commented on #949
In the updated branch, we print the IP and port along with the base64 encoding so you know what's in the ENR.

The reason this needs to be removed is precisely because multiaddrs do not do the required job. Multiaddrs are libp2p specific and do not provide the information that ENR's do. Specifically, given a multiaddr we cannot add a peer to our discovery mechanism (discv5) which strictly requires

[2020-03-23 14:35] AgeManning commented on #949
I might also elaborate on the general design/architecture as to why this is the case.

The idea is to build a robust DHT of known peers. Lighthouse regularly crawls the DHT for more peers until it reaches a max peer count. If a peers disconnect, typically we re-connect with other peers from our DHT which have certain properties that are useful to us.

In order for a peer to participate in the DHT,

[2020-03-23 15:37] mpetrunic commented on #939
@paulhauner @AgeManning
Manage to get it working with this script:
https://github.com/NodeFactoryIo/ChainGuardian/blob/mpetrunic/lighthouse/start.sh

but it seems that it's not tracking eth1 chain and deposits. Keep getting this error message:
[code]

[2020-03-23 15:55] q9f commented on #949
Thanks for taking the time to elaborate. I used `--discovery-address` and extracted the correct ENR for the boot node records. Magically, the fork on node `B` reorganized now. I consider this resolved.

Thanks.

[2020-03-23 17:03] ackintosh commented on #540
Hmm... should we return Err immediately if underflow is occurred in the subtraction instead of proceed the process with `0`?

It looks a critical error if the underflow (`state.eth1_data.deposit_count < state.eth1_deposit_index`) is really happened but I'm not sure due to the lack of understanding about the process. 🤔💦

[2020-03-24 07:00] paulhauner commented on #939
I ran the docker-compose and it seems that the issue is because when the compose environment comes up, it deploys the deposit contract then immediately starts Lighthouse. Since the configuration sets `ETH1_FOLLOW_DISTANCE = 16`, there's nothing to vote on until 16 blocks have passed.

See the following logs, when eth1 block #14 is the latest block we get the "No valid eth1_data votes" error. As so

[2020-03-24 09:08] q9f commented on #949
It does not work, unfortunately.

I updated my ENR to

[code]

Which should contain correct IP addresses for discovery. But apparently, there was another network fragmentation which the client was unable to solve itself.

So, in the end, my peers were unable to discover each other and validators on chains `A` and `B` forked off, unable to reorganize:

[code]

[2020-03-24 22:16] michaelsproul opened #955 "Update to Spec v0.11.x"
## Description

Update `types`, `state_processing` and `beacon_node` for v0.11.x spec changes

[2020-03-24 22:16] michaelsproul commented on #955
I've been working on this for a few days, and I'm close to having all the EF test vectors passing, modulo https://github.com/ethereum/eth2.0-specs/pull/1682

[2020-03-24 23:35] michaelsproul commented on #540
On overflow the spec raises an exception, so you're right, we should error here rather than proceeding with 0. It'll mean that no blocks can be processed until a manual intervention, but the attack requires ~50% of proposers to be compromised, which gets us into social fork territory anyway.

[2020-03-24 23:43] paulhauner commented on #939
@mpetrunic, are you still in need of this flag or does the testnet directory suffice? :)

[2020-03-24 23:59] paulhauner commented on #949
Thanks @q9f. Could you please confirm if the issue you experienced is on `master`? The batch processing logic (where the error appears to be occurring) has been refactored in the `testnet5` branch, it would be useful to know if the error is in the old code or the new code.

Judging from that weird `baby_block_slot` log, I think it's from `master`. I recall finding that log weird and removing the "

[2020-03-25 01:57] AgeManning commented on #949
This log is interesting.
If I understand correctly, the nodes disconnected and formed two chains, A and B.

They must have then re-connected after a period of time in order to get the logs you posted, which looks like a node from A is trying to sync with a node from B.

This looks like a serious a bug. On the re-connect the two nodes should identify themselves as different chains and you shouldn't

[2020-03-25 05:00] AgeManning opened #956 "Minimum peer connection time"
## Description

For the naive attestation aggregation strategy, we need to search for peers for particular subnets to ensure we are connected to a number of peers on a subnet for a given future slot.

Currently the peer management is not sophisticated enough to keep track of current peers, their subnet id's and a timeout from which we should try to connect to them.

Adding a timeout to the `Networ

[2020-03-25 05:06] AgeManning opened #957 "Handle gossipsub topic forking"
## Description

Forks have been introduced into the gossipsub topics. We need the eth2-libp2p service to know about the current fork and when a new fork happens, unsubscribes from current gossip topics and re-subscribes.

This change requires the libp2p service to modify gossip messages from various parts of lighthouse to ensure they are sent on the correct topic

[2020-03-25 05:12] mpetrunic commented on #939
Testnet directory will suffice once we figure out eth1 data votes an deposits 😄

[2020-03-25 05:56] AgeManning opened #958 "Update all discovery searches to predicate-based searches"
## Description

Current discovery searches do not filter nodes based on ENR fields. Performing a search and filtering peers after the query is sub-optimal. We want the query itself to filter peers during the search and return only peers with the required ENR fields.

[2020-03-25 15:08] AgeManning opened #963 "Cache seen ENR's"
## Description

We should cache all seen Enr's over a given time window. This will aid discovery lookups, where we can search through the cache in addition to the local routing table for specific peers before crawling the DHT.

This cache would then be stored in addition to the persisted ENR store we currently have

[2020-03-25 15:32] q9f commented on #949
No, I manually restarted them to force a reconnect with `libp2p-addresses` as they didn't attempt to network through the given ENR bootnodes.

Yes, I'm using `master`. I can recompile `testnet5` and see if the behavior differs.

[2020-03-25 16:26] q9f commented on #949
Switched to `testnet5` branch and nodes `A` and `B` do not talk to each other unless I use the multi-address format.

[2020-03-25 19:40] divagant-martian commented on #908
I'll take this one

[2020-03-25 23:23] paulhauner commented on #939
Ok, thanks! I'll close this for now, feel free to reopen if you wish.

[2020-03-25 23:23] #939 closed

[2020-03-26 03:21] AgeManning commented on #949
Even in the manual-reset case, we shouldn't see the logs you provided. So if you can reproduce, it would be great to get debug logs for that.

In regards to the network re-connection. This is strange. Currently the logic should go:
- Nodes connect to each other via ENR
- Nodes randomly disconnect (do you see a "Peer Disconnected" log?)
- Each node (depending on running time) should search for new

[2020-03-26 03:25] AgeManning opened #964 "Handle Fork switching logic in attestation and subnet subscriptions"
## Description

A client should know about an up-coming fork. When a VC is building subscriptions for a future slot, it should ensure that the subscription does not cross a fork-boundary in which case the signature for a future slot will be invalid.

This is important in determining whether a validator is an aggregator or not.
Similarly, when subscribing to subnets and/or deciding on the current n

[2020-03-26 05:10] AgeManning opened #965 "Improve aggregate validator logic"
## Description

Aggregate validators should not subscribe subnets. Unaggregated attestations received from subnets that have no known aggregate validators attached to a beacon node should be checked for gossipsub propagation then ignored.

[2020-03-26 05:31] paulhauner commented on #949
We're using ENR connections on `testnet5` without issue. @AgeManning any thoughts about why this might be the case?

[2020-03-26 10:04] q9f commented on #949
They clearly don't. That's the reason why I asked Paul on Discord to help me with networking and thus he suggested to play around with the libp2p multi-addresses.

There is no disconnect message in the logs. There is not even any hint of a _connect_. The peer count never goes up. It only goes down at some point.

That would be nice, how can I support that?

There is no initial connect, thus no _re

[2020-03-26 13:52] paulhauner commented on #949
I used @q9f's [blog post](https://dev.to/q9/how-to-run-your-own-beacon-chain-e70) to try and re-create the same testnet. I populated the `boot_enr.yaml` with the nodes from the [above comment](https://github.com/sigp/lighthouse/issues/949#issuecomment-603118463) and ran the following command using `testnet5`:

[code]

I can see the peers being dialed:

[code]

I can also see at least two of the no

[2020-03-26 13:54] paulhauner commented on #949
Notably this all happens prior to the first "Syncing" log, so it appears that there have never been any peers but in fact peers have come and gone:

[code]

[2020-03-26 13:57] paulhauner commented on #949
Here's a copy of the testnet directory for reproduction of the issue:

https://drive.google.com/file/d/1gUxYzUy9UDI9y-PRSdGnXrCiL6vb18Q6/view?usp=sharing

[2020-03-26 15:27] q9f commented on #949
Is there anything else I can provide or does this mean you are able to reproduce the issue?

Note, I changed the genesis delay to `160000`. See https://gist.github.com/q9f/d6eea3ea3356e41bde81864143284ce9#file-1-schlesi-yaml-L88

[2020-03-26 16:04] divagant-martian commented on #943
I'm currently looking into the sync sim, would if be ok for me to check this out?

[2020-03-26 22:55] paulhauner commented on #949
Thanks, I will update on my end. Nothing more required from me :)

[2020-03-27 00:26] AgeManning commented on #943
Yep, all yours

[2020-03-27 00:27] AgeManning commented on #908
All yours

[2020-03-27 16:19] adaszko commented on #692
A candidate for using atomic operations:

https://github.com/sigp/lighthouse/blob/cd0b86f1a3de99a779589d721606edcfc32d42ef/beacon_node/store/src/state_batch.rs#L39-L46

[2020-03-28 03:04] AgeManning commented on #949
I had a look over @paulhauner logs.

They indicate that the newly started node (Pauls) is trying to connect to a chain that has a different genesis root. The behaviour of not finding the parent root and eventually kicking the peer is the desired behaviour as these peers are on different incompatible chains.

An update to the Spec should help isolate these cases, so that peers disconnect immediatel

[2020-03-28 03:25] paulhauner commented on #949
Agreed @agemanning. I believe the different root will be due to the genesis root change mentioned previously. I’ll reflect this change and see if I can sync the chain.

[2020-03-28 08:46] AgeManning opened #970 "Improve range sync invalid batch handling"
## Description

The range sync downloads batches of blocks from a pool of peers. A previously completed batch is cached until a newer batch can be successfully processed. This is because a successfully processed batch may contain no-blocks or the end of the batch may-contain all skip slots. Alternatively a lazy-peer may only return half a batch. We can identify this, by ensuring that at least one

[2020-03-28 15:17] q9f commented on #949
I added a Teku node which is able to keep the network connected between the local and remote host even after the network fragmentation, like this:

[code]

[2020-03-29 22:37] paulhauner commented on #970
We'll have to pass this information down from [`BeaconChain::process_chain_segment`](https://github.com/sigp/lighthouse/blob/93da74e7d630602efc6ccbf731128b90e28ae3a1/beacon_node/beacon_chain/src/beacon_chain.rs#L1148) too. Perhaps we need to return something odd like `(Vec<Hash256>, Result<(), BlockError>)` so that we can detect if any blocks were imported... We can think more about this once some

[2020-03-29 22:43] paulhauner commented on #949
Sorry this was a typo, I should have said "genesis delay" not "genesis root". Since I didn't originally set the genesis delay to `160000` my genesis state had a different genesis time.

Instead of selecting randomly, we do this:

[code]

So, if `MIN_GENESIS_DELAY` is 24hrs, we wait until the next midnight (UTC) that is at least 24hrs away. So an eth1 timestamp at midday Tuesday ends up with an eth

[2020-03-30 02:17] AgeManning commented on #970
Agreed. I think @divagant-martian was picking up sync-related issues like this. So potentially she's interested in this also.

[2020-03-30 21:00] q9f commented on #829
Unfortunately, this deletes the network key and `enr.db`. Usually you only want to purge the beacon chain database without touching any keys. I tried manually removing the chain and freezer db, but I'll get:

[code]

Unfortunately, there is no way to recover from that besides removing the entire beacon directory including the keys.

[2020-03-30 21:14] q9f commented on #949
This situation is getting gradually worse over time. During the weekend, I wasn't able to do the manual recovers of the remote hosts and the chain split became more solidified.

I decided to add more validators to the well connected remote hosts, but it was too late. The overall network finalization is stuck 300 epochs ago. I don't know how to recover from that.

When I try to get the nodes aligne

[2020-03-30 21:29] ethDreamer commented on #829
There will be if my PR from 2 days ago gets merged ;)

[2020-03-31 23:43] ackintosh commented on #540
Thank you for the details! 💡

[2020-04-01 05:44] AgeManning commented on #958
Resolved in #975

[2020-04-01 05:44] #958 closed

[2020-04-01 05:44] AgeManning commented on #957
Resolved in #976

[2020-04-01 05:44] #957 closed

[2020-04-01 06:11] AgeManning opened #978 "Limit Block size by block producer"
## Description

The network is only allowed to transmit blocks that have a maximum SSZ size of 1MB.

Rather than having our block producer produce arbitrarily sized blocks then have our network stack reject them, we should add logic to the producer to make smaller blocks such that they will always fit within this limit.

[2020-04-01 06:40] #938 closed

[2020-04-01 06:42] #947 closed

[2020-04-01 08:01] paulhauner commented on #949
I also agree. We have _some_ testing around recovering from forks, however we haven't done sophisticated testing in this area yet. We're still catching up with the latest spec; fault-finding will come after that.

I suspect this is related to https://github.com/sigp/lighthouse/issues/923. At some point (v0.9.0 IIRC) the specification removed the one-epoch look-ahead for the block proposer such tha

[2020-04-01 08:44] q9f commented on #949
Ok. Thanks for investigating this. My testnet is now in a state where I can no longer recover it. So full success :tada: :smile:

I will create a new testnet soon with better distribution of the validators but will keep the bootnodes running for a couple more days.

[2020-04-01 09:26] AgeManning opened #980 "Asynchronous attestation verification"
## Description

For the time being when we see an attestation over the network that references an unknown block, we drop the attestation. It would be ideal if we temporarily store the attestation whilst we request the requested block. If the block can be found and processed, then we propagate the attestation.

[2020-04-01 09:32] AgeManning commented on #978
@michaelsproul @paulhauner - Thoughts on this bad boy

[2020-04-01 11:03] #955 closed

[2020-04-02 07:08] paulhauner commented on #949
Congrats! Sorry you had a bumpy experience, though.

We're getting to a place now where `master`/`testnet5` is quite far from what we have in `v0.2.0` and performing _deep_ fault analysis is feeling a little redundant. That being said, there's still things to be learned and your input is valuable.

Our `v0.2.0` branch is passing the simulator, which involves starting a new chain from a deposit con

[2020-04-02 07:42] paulhauner commented on #978
Since all of the fields on the block are either fixed-length or variable length with a maximum capacity I would hope that it's impossible to construct a `SignedBeaconBlock` larger than the maximum network message size.

We could do the math and determine this ourselves, but perhaps someone like @djrtwo has already done it? If it's possible to produce oversize blocks I'd be thinking that's a spec i

[2020-04-02 07:45] paulhauner commented on #829
This is true, but for the record you can backup the `network` directory and then replace it after a new datadir has been created. Not an ideal workaround, but just making it known :)

[2020-04-02 07:47] #602 closed

[2020-04-02 08:49] pawanjay176 commented on #978
I was using [this](https://github.com/sigp/lighthouse/blob/67a935a9cdf623c1b3461cef689f58ca494db7bf/eth2/types/src/beacon_block.rs#L52) to get a max sized beacon block for some network testing. From the function, the ssz encoded length of a full block (max capacity) is 124384 bytes.

[2020-04-02 09:16] q9f commented on #949
Sure. I'll reach out on Discord. :+1:

[2020-04-03 14:19] realbigsean commented on #880
Made a PR for this in the skade/leveldb, which has been merged to master:
https://github.com/skade/leveldb/pull/36

[2020-04-05 21:13] divagant-martian commented on #970
I'll take it. Thanks :)

[2020-04-06 02:20] paulhauner commented on #978
Nice @pawanjay176! Given those figures I think we can close this issue?

[2020-04-06 02:28] paulhauner commented on #880
Nice! I guess we need to wait for a release now..

[2020-04-06 04:13] #848 closed

[2020-04-06 04:26] michaelsproul commented on #932
I'm going to take this (need to test some benchmarks, and will add to CI while I'm there)

[2020-04-06 05:07] AgeManning commented on #978
I guess this may become more relevant in later phases. Happy to close for now if we are happy we can't hit the limit

[2020-04-06 05:36] #540 closed

[2020-04-06 05:38] AgeManning opened #987 "Refactor RPC code"
## Description

A number of modifications have happened since the original writing of the RPC. The code should be refactored for greater readability and to rely on the rust type system more.

Immediate changes:
- The `RequestId` should be an option as for some methods we do no require the id.
- More types should be created to srparate the logic of each RPC method. For example, some RPC methods are

[2020-04-06 05:50] paulhauner commented on #978
Closing since everyone seems happy to close

[2020-04-06 05:50] #978 closed

[2020-04-06 07:04] #943 closed

[2020-04-06 10:16] #932 closed

[2020-04-07 00:29] paulhauner commented on #970
So, AUIU the problem is that `BeaconChain::process_chain_segement` returns a `Result` which only gives you two pieces of information:

1. `Ok(..)`: all of the blocks were valid and successfully imported.
2. `Err(..)`: one or more of the blocks were invalid and zero or more blocks were imported.

AIUI, you need a third piece of information that indicates: "one or more of the blocks were valid and s

[2020-04-07 16:43] divagant-martian commented on #970
From @paulhauner's comment I take this belongs to v0.2.0 but from @AgeManning's it would seem to belong to master?

[2020-04-07 22:11] paulhauner commented on #970
@AgeManning is the authority here, I'll let him respond :)

[2020-04-07 23:41] AgeManning commented on #970
I'm merging master into v0.2.0 today, so it will be one and the same :)

[2020-04-08 01:37] AgeManning opened #990 "RPC Peer Reputation Types/Handling"
## Description

A variety of Errors can occur in the RPC protocol. They can have a variety of weights when it comes to adjusting the reputation of a peer. This issue, is to more clearly define (likely via enums) specific types of RPC errors, send them to the peer manager and adjust a peer's score based on their type.

Some things we need to consider:
- A peer should always respond to a PING (it's

[2020-04-08 07:41] adaszko opened #991 "Introduce an error handling library that supports backtraces"
The candidate: https://crates.io/crates/anyhow

[2020-04-08 22:34] paulhauner commented on #991
I found this an appealing justification for the `fehler` way of things:

https://boats.gitlab.io/blog/post/why-ok-wrapping/

I'm not sure I'm fully convinced I'd vote for it though, I'd need to read into it some more.

[2020-04-10 14:11] Youllneverknow0 opened #995 "WARN Peer sent invalid BEACON_BLOCKS response"
## Description

When I follow the steps described here: https://lighthouse-book.sigmaprime.io/become-a-validator-source.html

1. geth --goerli --rpc
2. lighthouse beacon --eth1 --http

Then:
Geth seems to be working fine in goerli mode.

But in lighthouse:
I get "WARN Peer sent invalid BEACON_BLOCKS response" over and over and over again.

## Version

lighthouse v0.1.1
geth 1.9.12-stable-b6f1c8dc

[2020-04-10 23:20] paulhauner commented on #995
Thanks for raising the issue @Youllneverknow0. Could you please confirm if you were using the `master` or `testnet5` branch? Or perhaps the docker?

[2020-04-11 01:55] divagant-martian commented on #990
I'll take this one

[2020-04-11 13:20] AgeManning commented on #995
I imagine this is master connecting to the testnet5 testnet.

Pretty sure those peer's are ours and the warning is likely that using `master` which has the latest spec isn't compatible with the nodes running on the `testnet`.

Try using the `testnet5` branch

[2020-04-12 01:22] jrhea opened #997 "help text for debug-level CLI option"
## Description

I was browsing through the lighthouse code and it looks like the `debug-level` cli option might have the wrong help text:

**code:**
https://github.com/sigp/lighthouse/blob/869b0621d6f51e98473bb67cec0446d3623b8957/lighthouse/src/main.rs#L59-L62

**cli:**
[code]

[2020-04-12 01:27] AgeManning commented on #997
Yep. looks wrong. Will update. Thanks @jrhea

[2020-04-14 05:01] AgeManning commented on #997
Resolved in #999

[2020-04-14 05:01] #997 closed

[2020-04-14 05:02] AgeManning commented on #970
Resolved in #996

[2020-04-14 05:02] #970 closed

[2020-04-14 05:03] #885 closed

[2020-04-14 05:05] AgeManning commented on #942
Should be addressed in #998. It's not entirely rigorous but should suit our needs for the time being.

If it occurs again, we can address it in more detail.

[2020-04-14 05:05] #942 closed

[2020-04-14 05:06] AgeManning commented on #908
@divagant-martian - Is there anything to report on this one?

[2020-04-14 05:07] #902 closed

[2020-04-14 05:08] AgeManning commented on #887
This has been resolved in #975

[2020-04-14 05:08] #887 closed

[2020-04-14 05:10] AgeManning commented on #905
We've updated the logic for the CLI and I've made some modifications in v0.2.0.

I think this has been resolved and #992 updates the CLI use.

Can re-open if I am mistaken

[2020-04-14 05:10] #905 closed

[2020-04-14 05:14] AgeManning commented on #765
This is resolved in #979

[2020-04-14 05:14] #765 closed

[2020-04-14 05:15] AgeManning commented on #691
This is resolved in #979

[2020-04-14 05:15] #691 closed

[2020-04-14 05:15] AgeManning commented on #581
This is resolved in #866

[2020-04-14 05:15] #581 closed

[2020-04-14 05:16] AgeManning commented on #580
This has been resolved in #983

[2020-04-14 05:16] #580 closed

[2020-04-14 06:18] AgeManning commented on #810
Resolved in #994

[2020-04-14 06:18] #810 closed

[2020-04-14 07:14] AgeManning opened #1000 "Cleanup RPC Protocol Names"
## Description

As the RPC protocol names have become more complex it would be nicer to rely the rust type-system to handle correct implementation of all RPC protocols.

Currently we use static string constants and these are implemented in various codecs. These static strings should be converted into an enum type which we can match against in various parts of the code which allows the compiler to

[2020-04-14 07:55] adaszko opened #1002 "Handle errors in iterators"
## Description

By using `ok()` in iterators  at https://github.com/sigp/lighthouse/blob/869b0621d6f51e98473bb67cec0446d3623b8957/beacon_node/store/src/iter.rs#L98 (IO) errors aren't being handled correctly.

## Version

`master`

## Present Behaviour

IO errors are masked as end of iteration.

## Expected Behaviour

Iterators should be producing `Result<>`s rather than plain values.

## Steps to

[2020-04-14 08:30] AgeManning opened #1004 "Update global network behaviour"
## Description

There is currently small hack which gives the peer manager access to libp2p peer connection/disconnection notifications (#1003). This should be removed in favour of a custom global behaviour, rather than using the derive macro.

[2020-04-14 21:37] divagant-martian commented on #908
Hi!, here is my take on the matter:

First, I wasn't able to make it fail _properly_ (I'll explain). I asked @paulhauner for steps to reproduce a scenario where things could get misaligned, but he said this was more of a "I might be happening" thing, so I took his suggestion of playing with the sync sim.

What I did was run the sync sim several times (all strategies) and check that the boundaries

[2020-04-14 22:18] ethers opened #1006 "datadir not working consistently"
## Description

From https://lighthouse-book.sigmaprime.io/become-a-validator-source.html
Run all the lighthouse commands but specify a `-d someDataDir`

There appears to be some implied paths because when you get to
`lighthouse -d someDataDir validator`
You get:
`error: Unable to get voting keypair: Keypair file does not exist`

## Version

Lighthouse 0.1.1
testnet5 branch

## Present Behaviour

[2020-04-14 22:22] ethers opened #1007 "refer to datadir variable in docs"
## Description

To help with #1006 can the docs such as
https://lighthouse-book.sigmaprime.io/become-a-validator-source.html
refer to a variable such as $datadir ?

Instead of assuming defaults:
`This means you've successfully generated a new sub-directory for your validator in the .lighthouse/validators directory.`

Is ".lighthouse" the datadir?  If so, the docs should use "$datadir/validators" t

[2020-04-15 06:02] Youllneverknow0 commented on #995
I finally managed to recompile with testnet5 and it did the trick.
Thank you paulhauner and AgeManning.

beacon node and validator client running.

Any idea where I can find online stats for testnet5?

https://lighthouse-testnet3.beaconcha.in/ seems to be down and a number5 not available.

[2020-04-15 06:15] AgeManning commented on #908
Hey awesome.
This sounds good to me. The case I was worried about off the top of my head, was when we switch to a higher priority (more peers) chain.
https://github.com/sigp/lighthouse/blob/v0.2.0/beacon_node/network/src/sync/range_sync/chain_collection.rs#L206
We stop and start chains in this case:
https://github.com/sigp/lighthouse/blob/v0.2.0/beacon_node/network/src/sync/range_sync/chain_collec

[2020-04-15 23:03] ethDreamer commented on #829
This issue was fixed by #971 so we can close this :)

[2020-04-16 03:29] #829 closed

[2020-04-16 07:23] AgeManning commented on #917
First draft resolved in #1010

[2020-04-16 07:23] #917 closed

[2020-04-16 07:25] pawanjay176 commented on #889
I'll take this one.

[2020-04-16 23:50] divagant-martian commented on #1000
i'm working on this
So far I made the protocol names (ping/metadata/status/etc) and the encoding(ssz/ssz_snappy) into enums, but I didn't find the constants used outside the RPC crate. is there something I'm missing?

[2020-04-17 03:45] kericfrank opened #1012 "Cargo project update failed"
## Description

Updating `https://mirrors.ustc.edu.cn/crates.io-index/` index
error: failed to select a version for the requirement `tree_hash_derive = "^0.2"`
candidate versions found which didn't match: 0.1.0
location searched: `https://mirrors.ustc.edu.cn/crates.io-index/` index
required by package `types v0.1.0 (D:\goSpace\src\github.com\sigp\lighthouse\eth2\types)`

## Version
master,
rustc 1

[2020-04-17 04:33] #995 closed

[2020-04-17 07:50] michaelsproul opened #1013 "Expand checked arithmetic to more crates"
## Description

In #1009 we added lints for unchecked integer arithmetic and switched to checked arithmetic in the `types` and `state_processing` crates. This issue is about expanding that coverage to more crates, probably in `eth2/utils` to start with (i.e. the direct dependencies of `state_processing`).

[2020-04-18 22:23] paulhauner commented on #1007
Thanks @ethers :)

I think we should figure out what we're going to do in #1006, then update the docs.

[2020-04-18 22:46] paulhauner commented on #1006
I agree that the datadir is quite confusing as it is.

So there's two approaches to this:

1. `--datadir` is always `~/.lighthouse` (@ethers suggested this)
1. `--datadir` is application dependent (e.g., `~/.lighthouse/validator`, `~/lighthouse/beacon`)

(2) is completely un-opinionated, each component has its own directory. (1) is somewhat opinionated since it optimizes for the case where there's

[2020-04-18 23:50] paulhauner opened #1017 "test_goodbye_rpc failing"
## Description

I got a failure on `v0.2.0` that I suspect this is a part of the long running "port issues with networking tests" issue:

[code]

Test run: https://github.com/sigp/lighthouse/pull/1001/checks?check_run_id=598510019

@pawanjay176 and @AgeManning perhaps you've seen this one too?

[2020-04-19 04:06] ethers commented on #1006
app dependent datadir looks better for multiple validator scenario.  Main issue is documenting datadir well as scenario2 does.  It wasn't obvious bn and vc datadir should share a common parent dir but actually have different subdirs. Thanks

[2020-04-19 08:25] ackintosh commented on #914
Hi, I would love to address this issue! 😃

[2020-04-20 00:00] paulhauner commented on #995
I'm not sure there's an explorer up anymore. This testnet will likely be dropped within a week and the next one should have something again :)

[2020-04-20 00:32] paulhauner commented on #1017
I just had it happen again:

https://github.com/sigp/lighthouse/pull/1022/checks?check_run_id=600217141

[2020-04-20 00:47] ethers opened #1023 "Beacon node does not recover when eth1 node goes bad"
## Description

Beacon node is not robust enough, starts losing peers, and loses sync with the beacon chain, when the eth1 node goes bad.

## Version

testnet5 branch commit 93da74e7d630602efc6ccbf731128b90e28ae3a1

## Present Behaviour

Assume 3 nodes are all running fine: eth1, beacon, validator.
At some point the eth1 goerli node goes bad, possibly it crashes.
Eventually the beacon node also go

[2020-04-20 01:17] michaelsproul commented on #1017
Same, I had it happen with `test_blocks_by_root_chunked_rpc`: https://github.com/sigp/lighthouse/pull/900/checks?check_run_id=600381121

[2020-04-20 01:29] paulhauner commented on #1023
I don't see the connection between the eth1 node going down and the beacon node going down, apart from the fact that they happened consecutively.

The `testnet5` branch  is now basically end-of-life since it's from an older spec version. We've been working on spec `v0.11.1` over on the local `v0.2.0` branch and a new testnet is being launched in the coming days.

Unless there's some more info you

[2020-04-20 01:29] #1023 closed

[2020-04-20 02:34] #845 closed

[2020-04-20 06:27] AgeManning opened #1028 "Gossip verify block to return block if no parent"
## Description

When verifying a block for gossip propagation, one error that can occur is `ParentUnknown`. In this case, we want to store the block and lookup its parents before processing a chain of blocks.

Currently this return type doesn't return the block and we must clone the block before checking the verification in case we need to do a parent lookup.

To avoid the clone, the `load_parent`

[2020-04-20 08:19] adaszko commented on #1017
https://github.com/adaszko/lighthouse/runs/601041923

[2020-04-20 08:37] paulhauner commented on #1028
Could you just clone the `block.parent_root` instead of the whole thing?

[2020-04-20 08:41] paulhauner commented on #1028
I'm going to un-assign myself from this one since it's a relatively minor optimization. Someone else can come pick it up if they like, otherwise I'll get to it at some point.

[2020-04-20 09:03] AgeManning commented on #1017
To my knowledge this is resolved in v0.2.0

[2020-04-20 09:04] AgeManning commented on #1017
Was resolved in: https://github.com/sigp/lighthouse/pull/1027

[2020-04-20 14:41] adaszko commented on #991
Claiming this issue

[2020-04-20 23:46] michaelsproul commented on #991
I've assigned you! (after accidentally assigning myself -- ignore that)

[2020-04-21 03:24] zedt3ster opened #1031 "[Fuzzing] Derive/Implement Arbitrary Trait for Structural Fuzzing"
## Description

We're about to start performing structural fuzzing on Lighthouse (generated samples will be used in [Beacon Fuzz](https://github.com/sigp/beacon-fuzz)). Since version 0.2.0, `libfuzzer-sys` allows the use of the `Arbitrary` trait which enables the creation of structured inputs from raw byte buffers.

The security team would like to derive/implement the `Arbitrary` trait on the eth2

[2020-04-21 07:46] paulhauner opened #1032 "Investigate SSE with hyper"
## Description

In the Eth2 API standardisation efforts, SSE (server-side events) have been [suggested](https://github.com/ethereum/eth2.0-APIs/issues/25#issuecomment-611919302) to handle the seemingly necessary streaming endpoints.

AFAIK, hyper doesn't come out-of-the-box with support for SSE. That being said, a web search shows several crates purporting to provide SSE in hyper.

It would be gre

[2020-04-21 07:48] adaszko commented on #1032
Pick me, pick me!

[2020-04-21 09:18] AgeManning commented on #1028
Sounds good to me

[2020-04-21 09:25] jrhea opened #1033 "Discv5 panicked at 'Should never be None at this point'"
## Description

When connecting to the topaz testnet it eventually crashes with this error:

[code]

## Version

libp2p:
[code]

## Present Behaviour

I can connect to the topaz testnet, discover peers, and listen to gossip messages for 30 mins just fine, but eventually the error mentioned above crashes the app.  I have recreated the issue twice and captured the logs when running with: RUST_LOG=li

[2020-04-21 09:26] AgeManning commented on #1012
I'm not sure how you are compiling this.

Ensure you have the latest stable rust. If using rustup: `rustup update`.

The lighthouse workspace patches `tree_hash_derive`, see here: https://github.com/sigp/lighthouse/blob/master/Cargo.toml#L54

To reference `tree_hash_derive` in our repo which is version 0.2.0.

The patch in the root directory should tell cargo not to search crates.io and instead us

[2020-04-21 11:18] AgeManning commented on #1033
@jrhea Thank you VERY much for this detailed trace of this error. Has saved me lots of time!!

I think what you are seeing here is the following:
- You are trying to discover a new node
- You send a RandomPacket to the new node to establish an encryption handshake
- Based on whatever config value is set for the timeout of a packet, the random packet times out.
- You have `retries` set to something

[2020-04-21 11:29] AgeManning commented on #1033
I'm preemptively consider this closed, please re-open if the bug persists.

[2020-04-21 11:29] #1033 closed

[2020-04-21 13:48] #1017 closed

[2020-04-21 13:50] AgeManning commented on #1000
Resolved in #1024

[2020-04-21 13:50] #1000 closed

[2020-04-22 08:13] paulhauner opened #1039 "Attn processing: distinguishing between old blocks and unknown blocks"
## Description

So currently our attestation processing code uses fork choice to determine if an `attestation.data.beacon_block_root` is known:

https://github.com/sigp/lighthouse/blob/9c3f76a33b41cbcfd30a710753ff0284f743f701/beacon_node/beacon_chain/src/beacon_chain.rs#L900-L913

This is nice and fast, however it can't determine between:

- A block that is unknown.
- A block that is pre-finalizat

[2020-04-23 00:29] paulhauner opened #1043 "DepositIndexTooHigh with short min_genesis_delay"
## Description

When starting a testnet, `MIN_GENESIS_DELAY` can be set low such that the first block that is voting in via `eth1_data_votes` is _prior_ to the eth1 block that triggered genesis. In this case, it's feasible that the deposit count in that eth1 block is _lower_ than the deposit index in the state. Currently, we fail block production which means that whilst all nodes have the same vie

[2020-04-24 07:29] paulhauner opened #1049 "Add Eth1 IPC support for beacon node"
## Description

In order to function as a block producer, the beacon node (BN) must use connect to an eth1 node and obtain information about the eth1 chain.

Presently, we only support this connection via HTTP-based JSON-RPC and I think we should add support for the IPC seeing as it's simpler and much faster. It would also make things a little nicer for our devops; we use the IPC for submitting de

[2020-04-25 22:54] paulhauner opened #1051 "Eth1 genesis time is incorrect"
## Description

As raised by @q9f in https://github.com/prysmaticlabs/prysm/issues/5616, Lighthouse is triggering genesis too late. It's due to this line:

https://github.com/sigp/lighthouse/blob/a50ade3ffcfdbab78c82f610d90920669ebe4ed9/beacon_node/genesis/src/eth1_genesis_service.rs#L226-L228

I _think_ this is an artifact of an old spec that never got cleaned up, not sure though.

Regardless, it

[2020-04-26 00:00] paulhauner opened #1053 "Add testing to ensure correct genesis time via eth1"
## Description

#1052 fixed an issue where we were triggering genesis early. We should add some tests to prevent regression from this behavior.

We have testing infrastructure [here](https://github.com/sigp/lighthouse/blob/master/beacon_node/eth1/tests/test.rs) that we should be able to use for this.

[2020-04-26 07:17] paulhauner opened #1054 "Ensure fork choice is to-spec"
## Description

Fork choice needs to be checked to ensure it's up-to-spec. I suspect we're off on the following things:

- Justified checkpoint updating.
- Delaying consideration of attestations until they're at least 1 slot old.

I will come back to this one, just leaving some notes so I don't forget.

[2020-04-27 03:45] paulhauner opened #1055 "Allow the "seen" caches to persist to disk"
## Description

#983 introduces several caches that stop objects we've already seen from propagating on the network. We can see all of them here:

https://github.com/sigp/lighthouse/blob/4285f227c43db6b2d6312bff225fc9fcc30f6033/beacon_node/beacon_chain/src/builder.rs#L432-L441

We should persist these caches to disk so they are retained through a restart. The typical way to go about this is to imp

[2020-04-27 03:45] paulhauner commented on #1055
Blocked on #983, this issue is only valid once it has been merged.

[2020-04-27 03:56] AgeManning opened #1056 "RPC BlockByRange Rate Limit"
Peers can request large ranges of blocks during syncing and arbitrary amounts if they are malicious.

The RPC protocol is structured in a stream manner where at the slowest speed we can respond with is one block every 10 seconds. Thus a peer could request 1M blocks and we can then determine the rate we wish to send blocks to this peer. If the peer performs multiple requests simultaneously, we can

[2020-04-27 04:12] AgeManning opened #1057 "Improved discovery handling for subnets"
## Description

The attestation service manages the timing logic for discovery and connecting to particular subnets for attached validators. Currently the service sends a discovery request for a subnet and leaves it at that.

This is not great for a number of reasons. Firstly, if the search reveals no useful peers and we still have time before subscribing to the subnet, we should continue performi

[2020-04-27 04:18] #908 closed

[2020-04-27 07:10] paulhauner opened #1058 "Follow up with attestation "seen" propagation"
## Description

In https://github.com/ethereum/eth2.0-specs/pull/1749 I suggest a fix to the spec.

Over in #983 I've implemented my suggested fix without it being part of the spec:

https://github.com/sigp/lighthouse/blob/8ea5397efa3718a43db1a0f7f6b3b4f77966f039/beacon_node/beacon_chain/src/attestation_verification.rs#L238-L251

We should keep an eye on the spec PR and resolve this TODO eventuall

[2020-04-27 07:10] paulhauner commented on #1058
This issues is blocked on #983, it only becomes valid once it is merged.

[2020-04-27 07:12] paulhauner opened #1059 "Follow up with redundant fork choice check"
## Description

Over in https://github.com/ethereum/eth2.0-specs/pull/1755 I've made a suggestion to the spec that a certain check is redundant. I've already skipped the check in #983:

https://github.com/sigp/lighthouse/blob/8ea5397efa3718a43db1a0f7f6b3b4f77966f039/beacon_node/beacon_chain/src/attestation_verification.rs#L529-L552

We should keep an eye on this PR and resolve the TODO.

[2020-04-27 07:15] paulhauner opened #1060 "Follow up with FFG source/target check"
## Description

Over in https://github.com/ethereum/eth2.0-specs/issues/1636 I've raised an issue about checking FFG source/target in fork choice attn processing. Here's our corresponding code in #983:

https://github.com/sigp/lighthouse/blob/8ea5397efa3718a43db1a0f7f6b3b4f77966f039/beacon_node/beacon_chain/src/attestation_verification.rs#L554-L561

We should keep an eye on this PR and resolve the

[2020-04-27 09:36] JustinDrake opened #1061 "Failed to start lighthouse (invalid testnet directory)"
Tried to run Lighthouse for the first time in many months. Followed the instructions (updated Rust, pulled latest, recompiled) and I'm getting the following error. I'm assuming I need to clear a directory somehow but the error message does not suggest any next steps.

[code]

[2020-04-27 09:41] JustinDrake commented on #1061
I just did `rm -rf ~/.lighthouse` put didn't help.

[2020-04-27 10:56] JustinDrake opened #1064 "Typos"
Started familiarising myself with the codebase and picked up minor typos.

* (beacon_chain.rs, line 1536) "Returns an `Err` if the given block was invalid, or an error was encountered during" => incomplete sentence
* "a HTTP API" => "an HTTP API"
* "The block is malformed/invalid (indicated by all results other than `BeaconChainError`." => missing closing bracket
* "Perform the freezing operation

[2020-04-27 12:08] JustinDrake opened #1065 "Possible consensus bug with proposer slashings"
The `process_proposer_slashings` function has two key steps, namely verifying the proposer slashings in parallel and then calling `slash_validator` once per `proposer_slashing`. The parallel proposer slashing verification seems to assume proposer slashings can be verified independently but there is some state dependency in `assert is_slashable_validator(proposer, get_current_epoch(state))` (see sp

[2020-04-27 12:29] q9f opened #1066 "No valid eth1_data votes, `votes_to_consider` empty, outcome: casting `state.eth1_data` as eth1 vote"
## Description

I'm unsure this is an actual issue, but reporting it here because my beacon node on Schlesi keeps reporting it as `ERRO`.

[code]

## Version

Using Lighthouse from this branch #1052 @ 310cc4fb504f6b3d6f4b0e9a5f53715a0c848138

Using Schlesi config: https://github.com/goerli/schlesi

## Present Behavior

Connected a validator client to a beacon node locally.

[code]

## Expected Beh

[2020-04-27 12:43] q9f opened #1067 "thread 'tokio-runtime-worker-7' panicked at 'elapsed=7481664; when=7481664'"
## Description

The sync manager shut down and I temporarily lost finality on Schlesi Testnet.

[code]

## Version

Using Lighthouse from this branch #1052 @ 310cc4fb504f6b3d6f4b0e9a5f53715a0c848138

Using Schlesi config: https://github.com/goerli/schlesi

## Present Behavior

Connected a validator client to a beacon node locally, lost sync manager on the beacon node:

[code]

Validator lost abili

[2020-04-27 14:01] protolambda commented on #1065
The spec has no explicit concurrency, Lighthouse may have optimized it wrong, and the edge case deserves a test. After first slashing, validator.slashed = True, and is-slashable will be False and abort the 2nd slashing.

[2020-04-27 14:08] protolambda commented on #1065
Can confirm the bug; https://github.com/sigp/lighthouse/blob/32074f0d095d901e77ce039ac02b3687f9cce76c/eth2/state_processing/src/per_block_processing.rs#L288

The operations are verified with a parallel iterator, only *reading* the state. Rust doesn't complain here. And then the slashings are applied, and the two proposer slashings that were valid on the pre-state, but not the specced intermediate

[2020-04-27 21:51] paulhauner commented on #1061
Hi @JustinDrake :)

Are you running on the `testnet5` branch? This is what the [docs instruct](https://lighthouse-book.sigmaprime.io/become-a-validator-source.html#1-download-and-install-lighthouse), since it's the last branch that still points to our current testnet.

If you're on `master` then this is expected behavior until we have a testnet running.

I hoped the "This happens when..." message

[2020-04-27 22:10] paulhauner commented on #1065
Thanks @JustinDrake, this is a great pickup.

I think this comes from back when I was working on [serenity-benches](https://github.com/sigp/serenity-benches), so I'll take responsibility for this.

We do this type of parallel execution for several block-operations processing functions because we saw a significant gain from doing BLS verification on multiple cores. Now we're doing batch BLS verific

[2020-04-27 22:37] paulhauner commented on #1066
I think this is an issue we've seen a few times which stems from a configuration problem. If the warning eventually goes away then it would be consistent with what I've observed.

The issue is when the time between eth1 genesis and eth2 genesis is shorter than `ETH1_FOLLOW_DISTANCE`. What will happen is the node will reach back prior to genesis (or even contract deployment) when it tries to vote m

[2020-04-27 23:57] paulhauner commented on #1067
I couldn't find the tag for `tokio-timer-0.2.13` github.com/tokio-rs, but by looking at the crates.io code, it seems that  `tokio-timer-0.2.12` is equivalent for this purpose.

Digging into that code, it seems that the panic is [here](https://github.com/tokio-rs/tokio/blob/97565c0e7565c2d260bf5ce3102a4034fdd9652b/tokio-timer/src/wheel/mod.rs#L244):

[code]

So I think this panic means `elapsed ==

[2020-04-28 00:03] paulhauner commented on #1067
Trying to test this now. Not having any luck though, perhaps I'm not on the right path.

[2020-04-28 00:53] paulhauner commented on #1067
Hmm `Wheel::insert` [already ensures](https://github.com/tokio-rs/tokio/blob/97565c0e7565c2d260bf5ce3102a4034fdd9652b/tokio-timer/src/wheel/mod.rs#L105-L109) that `when > self.elapsed` before calling `level_for`:

[code]

Shifting focus to [`Wheel::remove`](https://github.com/tokio-rs/tokio/blob/97565c0e7565c2d260bf5ce3102a4034fdd9652b/tokio-timer/src/wheel/mod.rs#L127).

[2020-04-28 01:16] paulhauner commented on #1067
So `Wheel::reset_at` [calls](https://github.com/tokio-rs/tokio/blob/97565c0e7565c2d260bf5ce3102a4034fdd9652b/tokio-timer/src/delay_queue.rs#L505) `Wheel::remove`!

[code]

Going deeper...

[2020-04-28 01:56] paulhauner commented on #1067
Alright, I manged to trigger the panic by adding this test to the end of [hashmap_delay.rs](https://github.com/sigp/lighthouse/blob/master/eth2/utils/hashmap_delay/src/hashmap_delay.rs):

[code]

Now I need to refine this and figure out if tokio is being naughty and how we can avoid it.

[2020-04-28 02:01] paulhauner commented on #1067
For clarity, here's the panic message:

[code]

[2020-04-28 02:50] realbigsean commented on #1057
I can work on this.

[2020-04-28 02:59] michaelsproul commented on #1065
I had a look at attestation processing, and it looks like it's safe because it only verifies the indexed attestations in parallel, and does the actual slashing in series, checking the non-empty slashing condition here:

https://github.com/sigp/lighthouse/blob/26bdc2927b6f51fd7c0deb909ea4e54c03087c45/eth2/state_processing/src/per_block_processing/verify_attester_slashing.rs#L97

For proposer slashi

[2020-04-28 07:33] paulhauner opened #1073 "Validator keypair handling"
This issue is an RFC regarding how we handle validator keypairs.

## Problem statement

Eth2 validators need to keep two keypairs (potentially the same):

- _Voting keypair_: a "hot" keypair used for voting on attestations/blocks and exiting.
- _Withdrawal keypair_: a "cold" keypair used for obtaining ETH after a validator has become withdrawable.

## Definitions

- Keypair: a BLS-381 keypair stor

[2020-04-28 08:32] paulhauner opened #1074 "Eth1 follow distance not respected"
@mpetrunic has noted that `ETH1_FOLLOW_DISTANCE` is not being respected during genesis.

His observation seems valid to me, we should look into this and ensure it is respected.

[2020-04-28 08:36] paulhauner commented on #1074
For the record, I mistakenly made this issue here:

https://github.com/ethereum/eth2.0-specs/issues/1764

:man_facepalming:

[2020-04-28 08:40] q9f commented on #1066
`MIN_GENESIS_TIME` or `MIN_GENESIS_DELAY`?

I can confirm this.

[2020-04-28 09:19] JustinDrake commented on #1061
Aha, I see what's going on :) The top "Documentation" link in `README.md` points to http://lighthouse-book.sigmaprime.io/. The top "Installation Guide" on that page points to https://lighthouse-book.sigmaprime.io/installation.html which does not mention the `testnet5` branch at all.

[2020-04-28 09:21] JustinDrake commented on #1065
In this particular instance it may be wise to remove the `par_iter` especially if the performance gains are small. Having said that, as more of a meta comment for the codebase as a whole, I quite like that you guys are going "beyond" the spec to squeeze out performance :)

[2020-04-28 09:26] JustinDrake opened #1075 "Bug bounty plans"
Is Lighthouse planning to setup a bug bounty program, perhaps after the security review starting May 18? If so, do you know how much consensus bugs (bugs similar to [this one](https://github.com/sigp/lighthouse/issues/1065)) would be rewarded? 😂

[2020-04-28 09:41] JustinDrake opened #1076 "Tidy `process_deposit`"
**Context**: I started yesterday to familiarise myself with the Lighthouse codebase. (I'm enjoyed it BTW—very readable and accessible.) I'll report issues and ask questions as I go along if that's OK :) Apologies in advance if I ask stupid questions :joy:

---

What is the purpose of the following snippet in `process_deposit`?

[code]

1) From what I can tell the `pubkey` variable is only used way

[2020-04-28 09:45] JustinDrake opened #1077 "Unnecessary check in is_valid_indexed_attestation"
I believe the following code snippet in `is_valid_indexed_attestation` is redundant:

[code]

since the length of `indexed_attestation.attesting_indices` is bounded by `MaxValidatorsPerCommittee` by construction.

[2020-04-28 10:18] CarlBeek commented on #1073
### On Mnemonics

Ideally a mnemonic serves as the core backup mechanism for validators. It is much easier for users to backup their keys via a mnemonic instead of via withdrawal keystore(s). Treatment of this is missing from this discussion.

### On Withdrawal keys

I think clients should avoid storing withdrawal credentials entirely. Reasoning:

* Forces users to remember extra password(s)
* Ext

[2020-04-28 10:38] paulhauner commented on #1073
Thanks @CarlBeek! I completely forgot about mnemonics when writing this :man_facepalming:

Do you expect a separate mnemonic for voting and withdrawal keypair?

[2020-04-28 10:40] paulhauner commented on #1075
We haven't discussed it formally, but it's definitely something we're interested it. It would certainly be post-security review.

Not sure! Perhaps we'll consider this once you can find more bugs here than we have in the spec :P

[2020-04-28 10:43] JustinDrake commented on #1075
🤣

[2020-04-28 10:43] #1075 closed

[2020-04-28 10:46] CarlBeek commented on #1073
So the idea is that there is one mnemonic from which all of the keys are derived.

From the mnemonic, a tree of keys is generated where all of the withdrawal and signing keys can be found. The way I defined it in [EIP #2334](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-2334.md#eth2-specific-parameters) is that the `i`th withdrawal keys are at `m/12381/3600/i/0` and the corresponding signi

[2020-04-28 10:48] JustinDrake opened #1078 "Design questions regarding PubkeyCache"
I have questions regarding the design of `PubkeyCache` :)

1) **Reads**—When reading the `PubkeyCache` (specifically calling `.get()`) it is important in some situations that the pubkey cache be up to date. There's a bunch of code (e.g. 8 calls to `update_pubkey_cache`, the `PubkeyCacheIncomplete` error in `get_validator_index`) to deal with that. This feels a bit unnecessarily complicated and err

[2020-04-28 10:51] JustinDrake commented on #1065
As a meta question for @zedt3ster, why didn't the fuzzing infrastructure catch this bug or the recent consensus bug in Prysm regarding reward calculations?

[2020-04-28 11:08] paulhauner commented on #1076
Ordering here is indeed a bit odd. I suspect it's because `get_existing_validator_index` used to take a `PublicKey` not a `PublicKeyBytes`, but not sure.

I'd be tempted to move the `try_into` higher up in the function so we can fail earlier if we get junk BLS. @michaelsproul, thoughts?

We have two ways to represent a public key:

  - `PublicKeyBytes`: some bytes that are supposed to be a compres

[2020-04-28 11:24] paulhauner commented on #1077
Yep, this seems redundant to me too.

Considering that every array access in Rust does a very similar check, I'm not sure this is going to make any observable performance impact. I'm generally in favor of keeping cheap safety checks, however this does seem particularly redundant so I'd be OK with removing it.

@michaelsproul anything I'm missing here?

[2020-04-28 11:26] JustinDrake commented on #1076
That makes sense. Since decompression is expensive do you maintain a cache mapping compressed to uncompressed keys?

[2020-04-28 11:28] protolambda commented on #1065
@JustinDrake Prysm introduced the bug just a few days before testnet launch with a last-minute v0.11 update. Can't catch something with fuzzing when the fuzzer doesn't run the code. But I'm sure it could have it were up to date.
For lighthouse, it's more questionable. Maybe the double proposer slashing is too specific to find with the fuzzer. The fuzzer would need to figure out to duplicate the ex

[2020-04-28 11:29] JustinDrake commented on #1077
One needs to be careful to not be too aggressive with checks. Being too aggressive could lead to consensus bugs where, for example, a block is rejected when it should be considered valid.

[2020-04-28 11:43] zedt3ster commented on #1065
So our beacon fuzz fuzzers were targeting `v0.10` up until a few days ago. As mentioned by @protolambda, the code that was instrumented didn't include the bug in question. We've also ran into multiple issues with the Prysm build (that are now resolved) which prevented us from integrating them into our continuous fuzzing.

We're currently revamping the differential fuzzer completely to include new

[2020-04-28 11:45] zedt3ster commented on #1075
As @paulhauner said we're definitely keen on having substantial payouts for this type of bugs as part of our bounty program. We'll circle back once the security review(s) are completed :)

[2020-04-28 11:45] paulhauner opened #1080 "Always update pubkey cache when calling get"
## Description

To quote @JustinDrake in #1078

I replied with:

I think we should implement Justin's suggestions and then close this issue.

[2020-04-28 11:46] paulhauner commented on #1078
Yep this make sense. I can only put this down to an oversight on my behalf.

So it might be impossible to trigger this in the broad context of the code-base, however in the specific context of the `PubkeyCache` it has no guarantee that it is fed monotonically increasing indices. I recall adding this a defensive programming feature and given then small overhead of the checks I'm inclined to leave i

[2020-04-28 11:46] #1078 closed

[2020-04-28 11:49] paulhauner commented on #1077
Agreed, the challenge is finding the balance :)

[2020-04-28 11:55] paulhauner commented on #1076
We don't maintain an arbitrary cache of compressed bytes -> uncompressed bytes, if that's your question. We keep that `ValidatorPubkeyCache` instead, which does validator index -> uncompressed struct representation.

[2020-04-28 11:58] paulhauner opened #1081 "Remove BlockProcessingOutcome struct"
## Description

The `BlockProcessingOutcome` struct is a legacy shim used to soften the impact of a big merge:

https://github.com/sigp/lighthouse/blob/1166231351709465a1c52615480e6e645129326e/beacon_node/beacon_chain/src/block_verification/block_processing_outcome.rs#L7

We should remove this so we can improve code quality.

Thanks to @JustinDrake in #1079 for highlighting this again.

[2020-04-28 12:02] paulhauner commented on #1061
Good point, will fix this. Thanks.

[2020-04-28 19:19] divagant-martian commented on #1056
:raising_hand: I'll take it

[2020-04-29 01:37] #1051 closed

[2020-04-29 01:48] paulhauner commented on #1073
I think I'm going to need to think though this and come up with something that's based around hierarchical generation from a mnemonic.

Perhaps taking inspiration from @mcdee's very cool [ethdo](https://github.com/wealdtech/ethdo).

Thanks to @CarlBeek for your input and @protolambda for offline input.

[2020-04-29 06:59] JustinDrake commented on #1078
For a purist like me having consensus critical code be subject to timing assumptions through timeouts feels dirty 😂

I agree with that aspiration :) What about a "good first issue" for this? (I may even try to tackle it myself for fun and bugs.)

[2020-04-29 07:30] michaelsproul commented on #1065
I'm going to fix this

[2020-04-29 08:19] paulhauner commented on #1067
Alright, so I've been looking into this some more and I'll document where I'm up to for history sake.

So the panic we're looking for comes from `elapsed == when` in [`wheel::level_for`](https://github.com/tokio-rs/tokio/blob/97565c0e7565c2d260bf5ce3102a4034fdd9652b/tokio-timer/src/wheel/mod.rs#L241-L249) which is a private fn and only called in two places:

- [`Wheel::insert`](https://github.com/

[2020-04-29 16:23] q9f commented on #1067
[code]

[2020-04-30 01:39] paulhauner commented on #1067
Alright, new progress. I still think it's possible to make `tokio_timer` panic if you do a `Wheel::remove` between calls to `Wheel::poll`, however I don't think that's what we're doing here. The fact that we're taking mutable references to `HashSetDelay` means that we can statically analyze the struct on it's own and determine that it's impossible for this to happen with the current code. Ofc, I h

[2020-04-30 05:21] #1065 closed

[2020-04-30 05:33] AgeManning commented on #1067
Seems tokio::DelayQueue is all kinds of broken in the version we are using.

We've added a patch, which corrects its behaviour is some initial testing. Was not able to reproduce the panic in a testing environment but hopefully the corrected behaviour addresses this in the wild.

[2020-04-30 06:19] #1061 closed

[2020-04-30 07:08] paulhauner commented on #1067
We discovered that if you call `DelayQueue::insert` during a series of `DelayQueue::poll` calls it will cause the next `DelayQueue:poll` to return `Async::NotReady`. I believe this can cause the issue I mentioned in https://github.com/sigp/lighthouse/issues/1067#issuecomment-621058472. We were not able to recreate, though.

We tested against the latest version of `tokio` and did not observe this w

[2020-04-30 07:14] #1074 closed

[2020-04-30 09:14] JustinDrake opened #1089 "Isolate consensus from the rest of the codebase"
In Bitcoin-land they have isolated the consensus part in a library called [Libbitcoin Consensus](https://github.com/libbitcoin/libbitcoin-consensus). Isolating the consensus logic into a separate library (I guess in Rust that means a separate crate?) comes with  bunch of security advantages:

* easier to reason about and audit
* minimises complexities arising from unforeseen interactions with the

[2020-04-30 10:07] #1066 closed

[2020-04-30 10:08] q9f commented on #949
I can no longer observe this. Networking seems to have improved in that regard. Happy to close this.

[2020-04-30 10:41] JustinDrake opened #1090 "Possible consensus bug in `process_exits`"
The `process_exits` function verifies the voluntary exits in parallel. If there is a duplicate voluntary exit then

[code]

will not trigger, allowing for voluntary exists to be initiated multiple times. The spec requires voluntary exits to not have been initiated.

[code]

(It seems `initiate_validator_exit` does not provide protection by silently returning early if the validator already initiate

[2020-04-30 15:16] michaelsproul commented on #1090
Another good catch. I think this is confirmation that we should go through an remove all the parallel iterators from block processing.

[2020-05-01 01:54] AgeManning commented on #949
:+1:

[2020-05-01 01:54] #949 closed

[2020-05-01 04:58] paulhauner commented on #467
As mentioned in #1089, it would be nice to have a separation of "consensus critical" code from other code. As such, here's an updated proposal:

## Proposal

Here are the directories that should live in the root:

- `lighthouse`: binary that encapsulates `beacon_node`, `validator_client` and `account_manager`.
- `beacon_node`: library + any crates that are specific to the binary.
- `validator_clie

[2020-05-01 05:15] paulhauner commented on #1089
I also agree that isolating consensus code is desired. We already do separate it into crates, where `/eth2/state_processing` and `eth2/proto_array_fork_choice` are the top-level consensus crates. Below them we only have:

- `eth2/utils/bls`
- `eth2/utils/ssz_types`
- `eth2/utils/merkle_proof`
- `eth2/utils/safe_arith`
- `eth2/types`
- `eth2/utils/eth2_hashing`
- `eth2_utils/int_to_bytes`

Each of

[2020-05-01 05:17] #1073 closed

[2020-05-01 05:22] paulhauner opened #1096 "Remove lock timeouts from BeaconChain"
## Description

Remove old `..._LOCK_TIMEOUT` variables from `BeaconChain`.

## Detail

Whilst trying to find a deadlock, we added sometimes to our core `Mutex`/`RwLock` so that we'd get errors when things were locking. Now we've identified that the cause was running long-running tasks on the tokio executor, we can clear these. I believe they're all listed here, but part of the issue would be to f

[2020-05-01 05:22] paulhauner commented on #1078
@JustinDrake see #1096 :)

[2020-05-01 06:56] michaelsproul commented on #1090
I'm working on fixing this, and improving our block processing tests in the process. I'm going to see if I can improve the ergonomics of the test builders, which have been long considered quite unwieldy :crossed_fingers:

[2020-05-01 08:38] q9f commented on #1067
I can no longer observe this.

[2020-05-01 08:45] JustinDrake commented on #1089
Enumerating all the consensus dependencies like that is helpful for me in the short term to familiarise myself with the codebase :)

👍👍👍

Directory separation of consensus code is definitely helpful 👍

Makes sense :)

[2020-05-01 09:27] JustinDrake commented on #1096
Does the consensus code contain any locking logic? (In #1089 you mentioned consensus code is "a series of pure functions completed abstracted from databases, networking etc.". Having zero locking logic would help auditing.)

[2020-05-01 09:36] JustinDrake opened #1098 "Rules for using `SafeArith`"
What are the rules for using `SafeArith`? For example, why is `safe_add` not used in

[code]

or

[code]

[2020-05-03 13:18] #889 closed

[2020-05-03 13:20] AgeManning commented on #1067
Closing as this is either resolved currently, or will soon be resolved with upgrades to tokio

[2020-05-03 13:46] q9f commented on #1067
Happened again this morning on master @ b6c027b9ecc77182d64f99594e6d4418764d01b8

[code]

[2020-05-03 21:40] paulhauner opened #1100 "Saturating arith on Slot/Epoch should fail state transition"
## Description

A long time ago, we declared add/sub on `Slot` and `Epoch` to be saturating. This was a good idea at the time (the great genesis slot debate of 2018/2019), however the spec has recently made itself clear on overflows during state trans:

This means that there exist states/blocks that we should reject due to overflow but we accept through saturation.

Making a non-API-breaking chang

[2020-05-03 21:44] paulhauner commented on #1098
`SafeArith` was added a week or two ago so it's still pretty fresh, but we're using [clippy](https://github.com/rust-lang/rust-clippy) during CI to lint for unsafe arith in any crates where we [explicitly ask for it](https://github.com/sigp/lighthouse/blob/36f213c092eb4802e603cff5901269168637c3f6/eth2/state_processing/src/lib.rs#L1).

So, the rules _should_ be pretty simple: No unsafe arith in cra

[2020-05-03 21:55] paulhauner commented on #1089
I might close this one for now and it can live on via #467 :)

[2020-05-03 21:55] #1089 closed

[2020-05-03 21:59] paulhauner commented on #1096
No* it doesn't. We've gone to significant lengths to avoid this. For example all the signatures sets use a generic "getter" closure to obtain the pubkey during signature verification which allows us to abstract away global caches and other messy things:

https://github.com/sigp/lighthouse/blob/36f213c092eb4802e603cff5901269168637c3f6/eth2/state_processing/src/per_block_processing/signature_sets.rs

[2020-05-03 22:07] paulhauner commented on #1067
Nooooo! That commit should indeed have the #1087 fix in it...

I might just re-open this until we haven't seen it for a while and/or our [upstream issue](https://github.com/tokio-rs/tokio/issues/2473) is resolved.

[2020-05-04 00:06] michaelsproul commented on #1098
Ooh the `sum()` function is interesting. The lint doesn't inspect the code of called functions at all (and it would be unwise to make it do that IMO), but we could add a check for calls to `Iterator::{sum,product}` and any other functions that do meaningful arithmetic from `std`.

[2020-05-04 01:30] AgeManning commented on #1067
Tokio upgrades are inbound (this week) which should hopefully address this

[2020-05-04 10:11] pventuzelo opened #1101 "Improvement `lcli` tool (stderr and pretty subcommand)"
## Description

Some extra features to improve `lcli` since we are using it in (under development) new beacon-fuzz tool.

### First feature

When you provide bad stuff to `lcli` you will get something like that as output
[code]
All logs are written using stdout and it will be good to have the error message `Failed to run lcli: Failed to transition blocks: Ssz decode failed: OffsetIntoFixedPortion(

[2020-05-04 14:01] b-m-f commented on #914
Hi @ackintosh ,

Did you start on this?

[2020-05-04 14:03] b-m-f commented on #754
@AgeManning is this done with #811?

[2020-05-04 14:05] b-m-f commented on #909
Would like to give this a go @AgeManning

[2020-05-05 08:44] AgeManning commented on #754
No, I've left this one out. Still on the old to-do list.

[2020-05-05 09:31] AgeManning commented on #914
Hey @ackintosh
Thanks for your interest.

This issue is about extending our current test suite for the rest api. We are undergoing a refactor to stable futures, but I believe this shouldn't effect this issue too much.

Currently we have a series of tests here:
https://github.com/sigp/lighthouse/blob/master/beacon_node/rest_api/tests/test.rs

However these are lacking a number of endpoints. The tes

[2020-05-05 11:16] thor314 commented on #1028
Working on this now.

[2020-05-05 11:23] thor314 commented on #1028
@AgeManning Haven't contributed to your repo before, so excuse the dumb questions.
"Store the block/Lookup its parents" - store/lookup where
"before processing chain of blocks" - Unclear what chain of blocks referred to
"Don't want to clone the block" - Seems right
return `signedBeaconBlock` in error message - Seems right

I assume the team is generally busy and don't expect fast response

[2020-05-05 11:40] AgeManning commented on #1028
Hey @thor314. Thanks for the interest.
Let me explain this issue in a little more detail.

We get a `SignedBeaconBlock` in from the network and we need to make a decision about whether we should propagate it to the rest of the network or not (to filter out spam and bad blocks etc). The function that deals with this is here:
https://github.com/sigp/lighthouse/blob/master/beacon_node/network/src/rou

[2020-05-05 15:27] b-m-f commented on #754
Thanks for the quick reply. I would like to pick this one up if there is no blocker

[2020-05-05 15:39] divagant-martian commented on #990
@AgeManning should we consider this one closed?

[2020-05-05 16:42] q9f opened #1106 "thread 'tokio-runtime-worker-11' panicked at 'supplied instant is later than self'"
## Description

Happy to report that latest master is broken :sob:

I can no longer run beacon nodes on Schlesi.

## Version

master @ 353e496bcb6aceafb8b6731a6a4972e779a90f6e

## Present Behaviour

This happened on all beacon nodes I upgraded:

[code]

## Expected Behaviour

The application should behave!

## Steps to resolve

N/A

[2020-05-05 21:22] pawanjay176 commented on #1106
The panic must have occurred at https://github.com/sigp/lighthouse/blob/353e496bcb6aceafb8b6731a6a4972e779a90f6e/beacon_node/eth2-libp2p/src/peer_manager/mod.rs#L396 when `self.last_updated < since`.

One possible path that could have led to panic is:
1. Peer gets connected
2. Peer gets disconnected
3. [`notify_disconnect`](https://github.com/sigp/lighthouse/blob/master/beacon_node/eth2-libp2p/src