[2018-07-08 05:26] paulhauner opened #1 "Enhance the BLS library to be fit-for-purpose"
Presently the code-base is missing the following features for BLS signatures and public keys:

1. Support for aggregate pub keys. Presently there is support for aggregate signatures, but not aggregate public keys, meaning each pubkey needs to be individually checked against the aggregate sig.
2. ~~Ability to be cloned (i.e., they don't have the `Clone` trait)~~
3. Ability to be encoded to some pri

[2018-07-09 03:43] paulhauner opened #2 "Implement new serialization format"
As detailed here: https://ethresear.ch/t/blob-serialisation/1705

[2018-07-15 23:52] paulhauner commented on #2
Closing this as it is not immediately required.

[2018-07-15 23:52] #2 closed

[2018-07-16 00:40] paulhauner commented on #1
The ability to clone a PublicKey was added to the SigP BLS repo here:

https://github.com/sigp/bls/commit/cc0c75cdf12ac46454a1be406e23e2f3e8dc99df

We likely don't need to implement clone for SecretKey/KeyPair.

[2018-07-16 04:58] paulhauner commented on #1
Some resources for you @AgeManning:

- ethereum/beacon_chain implemenation: https://github.com/ethereum/beacon_chain/blob/master/beacon_chain/utils/bls.py
- Our fork of str4d's BLS lib: https://github.com/sigp/bls
- Some other implementation (which I have no reason to trust): https://github.com/lovesh/signature-schemes

Note: tests take ages to run on the BLS lib. Use cargo's pattern matching to s

[2018-07-16 05:11] paulhauner commented on #1
There's some interesting stuff going on here:

https://github.com/sigp/bls/blob/cc0c75cdf12ac46454a1be406e23e2f3e8dc99df/src/lib.rs#L97-L111

[2018-07-16 06:36] paulhauner opened #3 "Attestation BLS verification is bypassed"
https://github.com/sigp/rust_beacon_chain/blob/6f0bbd47fac20652472c1ff5799aac367af5d929/src/state/transition/attestations.rs#L30-L37

This is blocked by #1.

[2018-07-20 07:44] paulhauner opened #4 "Randao for new epoch"
https://github.com/sigp/lighthouse/blob/0ae97eea5cfc70a614662a3dd818398bba1e281c/src/state/transition/epoch.rs#L116

Randao for new epoch is not correctly generated. Implement the same (incomplete) method used in the reference impl:

https://github.com/ethereum/beacon_chain/blob/509387c5a1eb4eaa9f636ae01dedf4b340c4f09e/beacon_chain/state/state_transition.py#L439-L441

[2018-07-21 03:17] paulhauner commented on #4
Wont fix, invalid issue.

[2018-07-21 03:17] #4 closed

[2018-08-23 05:26] paulhauner commented on #1
Issue is no longer current -- this can be addressed in the future.

[2018-08-23 05:26] #1 closed

[2018-08-23 05:26] paulhauner commented on #3
No longer relevant -- v2.1 spec requires a full re-write

[2018-08-23 05:26] #3 closed

[2018-08-30 16:06] paulhauner opened #7 "Update simpleserialize"
We presently have a `ssz` crate which uses the wrong type of serialization. It follows the [ethereum/research/py_ssz](https://github.com/ethereum/research/tree/master/py_ssz) scheme instead of the [ethereum/beacon_chain](https://github.com/ethereum/beacon_chain/blob/master/beacon_chain/utils/simpleserialize.py) scheme.

Also, it doesn't decode.

It should follow the beacon_chain serialization form

[2018-09-13 03:10] paulhauner commented on #7
Done in https://github.com/sigp/lighthouse/commit/88f9295e1020394bd736765bf21dfda5730ccb36

[2018-09-13 03:10] #7 closed

[2018-09-13 03:14] paulhauner opened #8 "Update README for ssz"
The ssz crate has been updated so it follows the [beacon_chain](https://github.com/ethereum/beacon_chain) version, however the README has not been updated to describe it.

Add a README.md which describes:

1. An overview of the crate.
2. An overview of the SSZ serialization method.
3. How to encode something.
4. How to decode something.
5. How to implement your own `Encode` and `Decode` traits.

[2018-09-13 03:16] paulhauner opened #9 "There is no method for serializing an AggregateSignature"
Presently we do not serialize the `aggregate_sig` field on an `AttestationRecord`.

We need to:

1. Figure out some way to sensibly serialize the value.
2. Check this method with the EF researchers (via the ethereum/sharding gitter)
3. Implement serializing the `aggregate_sig` on the `AttestationRecord` struct.

[2018-09-13 06:12] AgeManning opened #10 "Implement hash types removing dependency on ethereum_types"
Implement our own version of the types that are currently pulled from `ethereum_types` removing the create as a dependency.

[2018-09-13 06:42] paulhauner opened #11 "Implement block validation"
Items in-scope of this task:

- Receiving some message from the network
- Determining that message is sending blocks
- Validate the block (according to the "Initial Block Validation" diagram)

Items specifically out-of-scope:

- Doing a state transition on the block.
- Verifying the attestation records.

[2018-09-17 06:23] paulhauner opened #12 "Implement generic trait for DB"
Implement a generic "wrapper" trait so we can use a proper, persistent db (e.g., Rocks) during prod and a fast, transient db (e.g., memory) during testing.

[2018-09-17 07:54] paulhauner commented on #11
Work for this lives here: https://github.com/sigp/lighthouse/tree/block_processing

[2018-09-18 04:54] paulhauner commented on #9
Here's a comment from Danny Ryan on gitter:

_It is currently an array of 2 int256. The ordering of these two points is defined in the python repo inside bls.py
I’m not familiar enough with bls implementations to know if the ordering here follows some sort of canonical ordering or not
This is not terribly important in the context of single client testing, but we’ll need to lock it down sooner rath

[2018-09-18 07:59] paulhauner opened #15 "Implement in-memory database for testing"
We have abstracted the database into a `ClientDB` trait and implemented a `DiskDB` using RocksDB for production.

It would be useful to have an implementation of an in-memory database that can be used in testing. The benefits would be speed (i.e., RAM is faster than disk) and convenience (we don't need to touch the filesystem).

The in-memory database doesn't need to be particularly optimized or e

[2018-09-20 07:00] paulhauner commented on #15
Please let me know before you start working on this, I am presently expanding the `ClientDB` trait.

[2018-09-21 00:02] paulhauner opened #20 "SSZ encodes a Hash32 with a length prefix"
https://github.com/sigp/lighthouse/blob/cc2e2103645be3fa31c3d2397147192ccf6f1a25/ssz/src/impl_encode.rs#L50

Presently, SSZ prefixes a Hash32 with a length prefix. It should not do this, as a Hash32 is fixed-length and does not need a length prefix.

When this is implemented, it will break the `SszBlock` struct. I am more than happy to fix that struct personally when the time comes.

[2018-09-21 00:02] paulhauner commented on #20
@NatoliChris this is probably something you'll want to consider in your SSZ works :)

[2018-09-21 01:49] paulhauner commented on #15
I am implementing this now

[2018-09-22 03:02] paulhauner opened #22 "BooleanBitfield needs to be made sane"
There is an implementation of a Boolean Bitfield here:

https://github.com/sigp/lighthouse/tree/master/boolean-bitfield

It (kinda) does the job for now, but it really needs some work done. If you spend some time looking at it I think you'll soon find out what I mean. As an example;

- There is a possibility of overflows: we return the number of bits as a `usize`, however there can theoretically b

[2018-09-22 03:03] #15 closed

[2018-09-22 03:04] paulhauner commented on #20
We should be able to close this when #16 is merged.

[2018-09-22 06:43] paulhauner commented on #22
This would be great if it were stable:

http://blog.vrinek.io/rust/doc/collections/struct.Bitv.html

If we can't use this (or some other lib) we should use its API

[2018-09-25 20:36] ralexstokes commented on #22
What exactly does "unbounded" mean? Is there more info in the spec you could point me to?

Is the idea that there is a bitvector but its size can change (up to) every incoming network message?

[2018-09-25 23:59] paulhauner commented on #22
Hey, thanks for jumping on this one :)

For background, this was one of the first things built in the repo before it had aspirations of becoming a client. A lot has changed since then so I'm totally to a re-design it. If you can come up with a cleaner/more-standard API I have no objections to changing it.

Unbounded (I think) was me trying to express that it's dynamically extendable, not based on

[2018-09-26 02:01] paulhauner commented on #22
FYI, I have merged those changes onto master. I'll leave the bitfield crate alone now :)

[2018-09-26 02:34] paulhauner opened #23 "Implement more testing for db/stores"
There are some basic implementations of "stores" here:

https://github.com/sigp/lighthouse/tree/master/lighthouse/db/stores

The goal of the `stores` concept is to abstract database operations away from "higher-level" parts of the application. Each store is initialized with some underlying database implementing the `ClientDB` trait. The store provides read/write access to specific parts of the dat

[2018-09-26 19:13] ralexstokes commented on #22
Great -- So it seems like there are two cases to consider before we can specify the nature of this bitfield:

1) this client gets an attestation record off the wire -- in this case, I'm assuming someone else has already determined the size and the most this client does is to read which bits are set (or not set) and possibly write its own bit (which it knows from some other protocol state orthogona

[2018-09-27 15:47] paulhauner opened #25 "Fix get_new_shuffling bug detected by Danny Ryan"
Description here:

https://github.com/ethereum/eth2.0-specs/pull/12

[2018-10-02 06:52] AgeManning opened #27 "Update structs to specification"

[2018-10-02 06:54] AgeManning opened #28 "Implement Casper FFG Fork choice"
TODO: fill out this description

[2018-10-02 06:58] AgeManning opened #29 "Implement Add Validator"
Implement the add validator routine as defined: https://github.com/ethereum/eth2.0-specs/blob/master/specs/casper_sharding_v2.1.md#routine-for-adding-a-validator

[2018-10-02 07:01] AgeManning opened #30 "Implement Block Processing Functionality"
Add subtasks.

In particular this requires #11

[2018-10-02 07:03] AgeManning opened #31 "Complete state transition logic"
TBD: https://github.com/ethereum/eth2.0-specs/blob/master/specs/casper_sharding_v2.1.md#state-recalculations-every-cycle_length-blocks

[2018-10-02 07:05] AgeManning opened #32 "Implement Dynasty Transitions"
TBD: https://github.com/ethereum/eth2.0-specs/blob/master/specs/casper_sharding_v2.1.md#dynasty-transition

[2018-10-02 07:11] rawfalafel commented on #22
yep, the client can derive the committee size by looking at `CrystallizedState.shard_and_committee_for_slots`.

with the current spec, the committee size (and therefore the size of the bitfield) is fixed at 128. `usize` should be sufficient for now.

[2018-10-02 07:59] paulhauner commented on #11
This is presently up for review in #33

[2018-10-02 07:59] #12 closed

[2018-10-02 08:00] paulhauner commented on #9
This has been solved with the `signature_schemes` crate.

[2018-10-02 08:00] #9 closed

[2018-10-02 08:00] paulhauner commented on #8
Thank you @NatoliChris!

[2018-10-02 08:00] #8 closed

[2018-10-02 08:00] #20 closed

[2018-10-02 08:29] paulhauner commented on #22
Hey,
  Thanks for the input @rawfalafel! :)

I'm not exactly sure what the limit for a committee is, but I believe it's larger than `409`. 10% of present ETH supply staking means a committee size of `305`, so I would hope that the `409` maximum isn't the case -- how did you determine that please? (For reference, here's where I got those numbers: https://github.com/ethereum/beacon_chain/issues/103)

[2018-10-02 08:44] rawfalafel commented on #22
Oh whoops, I missed a digit! I got 4096 validators per committee.

I'm assuming 2²² maximum validators and 2⁶ slots per cycle. In addition, there are 2⁴ (`SHARD_COUNT // CYCLE_LENGTH`) max committees per slot.

2²² / 2⁶ / 2⁴ = 2¹² = 4096 validators.

[2018-10-03 02:13] paulhauner opened #34 "`shuffle()` needs to be updated"
Shuffle needs the following work:

- It's still using the old blake2s hashing, which makes it incorrect.
- It should have some more test vectors.
- It should be separated into its own crate

[2018-10-03 02:13] paulhauner commented on #34
I am working on this now.

[2018-10-03 05:33] paulhauner commented on #34
Issue completed. Tests were not implemented as we're block on the EF producing a standardize test format. This will be implemented in a new PR.

[2018-10-03 05:33] #34 closed

[2018-10-03 09:44] paulhauner commented on #22
Ah cool, good to know!

On Tue, 2 Oct 2018 at 6:44 pm, Yutaro Mori <notifications@github.com> wrote:

[2018-10-04 03:56] AgeManning opened #39 "Improve tests for validator delegation"
Currently validator delegation, more specifically, `generate_cycle()` in `transition/delegation/validator.rs` could do with extra logic in the tests.

Specifically checking expected committee sizes and more tests checking edge cases.

[2018-10-06 23:33] ralexstokes commented on #22
Thanks @paulhauner and @rawfalafel for the input.

I have a pretty straightforward translation of the Python implementation you can see in this playground: https://play.rust-lang.org/?gist=01e011922837f2ca057244bfdeb28558&version=stable&mode=debug&edition=2015

If we like this, then I can add a wrapper type that owns a Vec<u8> and uses the BitFieldView to get/set bits.

From there, you can wrap a

[2018-10-08 06:38] paulhauner commented on #22
Cool, looks good!

Sorry if this is obvious, but we'll have to return `Result` instead of panicking. General ethos of Lighthouse is never panic.

I updated the description with a list of functions. I'm not attached to any of the variable names in the title -- I just used them because they were short. I like your use of `index` and generally prefer long descriptive names.

Re: `bit_count`, I can't

[2018-10-10 05:51] #25 closed

[2018-10-10 07:13] paulhauner opened #44 "SszBlock requires each block to have one attestation record"
https://github.com/sigp/lighthouse/blob/817b52ffa7c41101b37797e9a838a247d14c5bbb/beacon_chain/utils/ssz_helpers/src/ssz_block.rs#L52-L59

# Problem

This concern shouldn't be enforced at this stage, SszBlock should be general enough to handle zero attestation records.

# Required Fix

Remove the requirement that the SSZ must be long enough to accommodate one attestation record.

[2018-10-10 20:42] ralexstokes commented on #22
@paulhauner  so I wasn't thinking far enough ahead and the `Bitfield` struct i was going to make that wraps a `BitfieldView` is not going to work out as we don't want a Rust struct to have a reference to an internal field. A way I usually see this worked around is that you just keep `usize` indexes into the backing storage instead of references. It isn't immediately clear to me that this is going

[2018-10-10 21:13] ralexstokes commented on #22
@paulhauner the idea w/ `bit_count` was that it would act as a mask for any "spare bits" but the more I think about it, you probably want to mix in some of the validation concerns to this struct, rather than have the validation happen upstream and just use an instance of `Bitfield` for some bit-twiddling over already validated data. Given that we are getting arbitrary inputs off the wire I think y

[2018-10-12 05:42] paulhauner commented on #22
You raised an excellent point about read/write structs. I just went on a rather long and magical journey across the internet and found [std::borrow::Cow](https://doc.rust-lang.org/std/borrow/enum.Cow.html).

CoW is copy-on-write. In a nutshell, reference whilst reading and then copy once a write is required. A.K.A lazy-copy.

Check out my example:

https://play.rust-lang.org/?gist=91146bacb1a76acc

[2018-10-14 06:51] paulhauner opened #47 "Add guidance on installing Rust & running tests"
## Description

It would be great to have a guide that directs users on how to install Rust and run the test suite. For example:

1. Obtain and install cargo (linux, mac and windows)
2. Use cargo to install `stable`
3. Use stable to run the test suite (e.g., `cargo test --all`)

I recommend giving high-level steps that an experienced developer could follow, then linking to more detailed articles t

[2018-10-15 00:05] paulhauner opened #49 "Block -> BeaconBlock"
## Description

Update `types::Block` to bring it inline with the latest spec updates.

## Present Behaviour

Presently, we're using the block struct from several spec revisions ago.

## Expected Behaviour

Be up-to-date

## Steps to resolve

1. Change `Block` -> `BeaconBlock`.
2. Add/remove fields as per new spec.
3. Update `SszBlock`.
4. Update all dependant functions.

[2018-10-15 00:44] paulhauner commented on #44
I'm going to fix this issue whilst I'm working on https://github.com/sigp/lighthouse/issues/49

[2018-10-15 01:02] paulhauner commented on #22
Also, I forgot to mention: that binary notation with the underscores is cool. I didn't know that.

[2018-10-16 05:08] paulhauner opened #51 "Update shuffle() as per latest spec update"
## Description

The `shuffle()` function in the Eth 2.0 spec has changed. We need to update our function.

Resources:
- Our shuffle crate: https://github.com/sigp/lighthouse/tree/master/beacon_chain/utils/shuffling
- Spec update PR: https://github.com/ethereum/eth2.0-specs/pull/65

## Present Behaviour

`RAND_MAX` is presently set to `2**24`.

## Expected Behaviour

`RAND_MAX` should be `2**24 - 1

[2018-10-16 06:05] paulhauner opened #52 "Fix clippy lints in SSZ"
## Description

The [clippy](https://github.com/rust-lang-nursery/rust-clippy) linter has a lot to say about our [ssz](https://github.com/sigp/lighthouse/tree/master/beacon_chain/utils/ssz) implementation. We'd like to remove these warnings so we can eventually start failing builds if they trigger clippy.

## Present Behaviour

Clippy outputs warnings when run against the ssz crate.

## Expected B

[2018-10-17 00:36] ralexstokes commented on #22
Yeah I think you can use them in any numeric literal -- helps when there
are a lot of zeros in the mix ;)

On Sun, Oct 14, 2018 at 6:02 PM Paul Hauner <notifications@github.com>
wrote:

[2018-10-19 19:54] aj07 commented on #47
@paulhauner I have submitted the patch. Please, have a look.

[2018-10-20 02:18] g-r-a-n-t commented on #52
I've got the lint errors popping up locally. Are there any tests around the existing functionality?

[2018-10-20 04:47] mahim23 commented on #52
Hey guys, I've started fixing the warnings. Can send a PR by tonight!

[2018-10-20 16:54] pinkiebell commented on #51
I wasn't sure if this is just a approval-only bounty by accident or not because of the PR @6ug opened.
However, couldn't withstand to play with Rust this weekend, so I thought I play with Rust and solving this issue along the way 👍

[2018-10-20 22:41] g-r-a-n-t commented on #52
I've thinned out most of the warnings and added ignores for a couple tricky ones: https://github.com/sigp/lighthouse/compare/master...g-r-a-n-t:clippy-warnings

[2018-10-21 07:47] paulhauner commented on #51
I'm new to this bounty thing, so please bear with me whilst I figure it out.

I can see that @pinkiebell was the first to apply and has already submitted some great work at #57, so it seems fair to me that they receive the grant.

I will ask the person who funded the issue (not me) to approve the funding. Thanks to all who applied!

[2018-10-21 08:35] 6ug commented on #51
I was little late while applying and work, I agree with decision and @pinkiebell should get grant, closing my PR, good job buddy! :100:

[2018-10-21 10:44] paulhauner commented on #49
Resolved with #50

[2018-10-21 10:44] #49 closed

[2018-10-21 11:07] #51 closed

[2018-10-21 11:18] pinkiebell commented on #51
@paulhauner @6ug
No problem, I normally wait for a comment but because it was already weekend and assuming 'first dibs', I just dived into the codebase 😄 .

[2018-10-21 18:27] paulhauner opened #59 "Unnecessary saturating_sub in shuffler"
https://github.com/sigp/lighthouse/blob/7995200903e42d3a5e4a933d7f90278a6568abb4/beacon_chain/utils/vec_shuffle/src/lib.rs#L32

Underflow impossible due to `if list.is_empty()` check above. Remove `saturating_sub()`.

[2018-10-21 19:16] mkosowsk commented on #51
@pinkiebell you have been approved to start work (now that you have finished it 😂). Please submit your work [here ](https://gitcoin.co/issue/sigp/lighthouse/51/1548)and I will pay out ASAP.

[2018-10-21 19:32] mkosowsk commented on #52
@mahim23 and @g-r-a-n-t, great work! But in the future, please do not start Gitcoin bounties until you have been approved for the work. This way we can avoid two people doing the same work :)

@paulhauner is @g-r-a-n-t's PR what you had in mind?

@mahim23 how much work have you done on this bounty? Thanks!

[2018-10-22 11:09] mkosowsk commented on #22
@ralexstokes you have been approved to work on this bounty, please submit the PR at your earliest convenience. Thanks!

[2018-10-22 11:09] mahim23 commented on #52
Hey @mkosowsk, I had just set up the repository and fixed a couple of warnings. Was waiting for approval.

[2018-10-22 11:10] mahim23 commented on #52
Hey @mkosowsk, I had just set up the repository and fixed a couple of warnings. Was waiting for approval.

[2018-10-22 16:46] g-r-a-n-t commented on #52
@mkosowsk I'll avoid that in the future. Didn't mean to put you in a awkward position, just had some trouble stopping after I got a taste of Rust.

[2018-10-23 20:31] mkosowsk commented on #52
I have approved @mahim23 as he was first to apply 👍

[2018-10-23 20:34] mkosowsk commented on #52
@g-r-a-n-t you have been approved to start work

[2018-10-25 13:35] g-r-a-n-t commented on #52
@mkosowsk Could you please pay this out? The work has been merged.

[2018-10-27 16:08] paulhauner commented on #44
Issue was resolve in a merge

[2018-10-27 16:08] #44 closed

[2018-10-27 18:32] paulhauner commented on #23
@g-r-a-n-t is working on this.

[2018-10-28 16:45] ralexstokes commented on #22
@gitcoinbot there is an open PR at #62 .

[2018-10-28 17:13] aj07 commented on #47
It's already there @gitcoinbot . Folks are waiting for Devocn :)

[2018-11-01 16:38] aj07 commented on #47
@gitcoinbot folks are in devcon.

[2018-11-01 16:43] ralexstokes commented on #22
@gitcoinbot there is an open PR at #62. we are all busy at devcon ;)

[2018-11-04 11:52] paulhauner commented on #11
This feature has been merged to master.

[2018-11-04 11:52] #11 closed

[2018-11-04 11:54] paulhauner commented on #29
Implemented here: https://github.com/sigp/lighthouse/tree/master/beacon_chain/validator_induction

[2018-11-04 11:54] #29 closed

[2018-11-04 11:55] paulhauner commented on #32
This is semi-implemented here: https://github.com/sigp/lighthouse/blob/master/beacon_chain/validator_change/src/lib.rs

It's not complete as the specification isn't complete. Will close this so that when the spec is updated we can re-open.

[2018-11-04 11:55] #32 closed

[2018-11-04 11:57] paulhauner commented on #31
This is partially included in PR #66.

Active state "extensions" are supported (adding to the active state throughout a cycle), however crystallized state transitions are not yet implemented.

[2018-11-04 11:58] paulhauner commented on #30
PR #66 adds block processing functionality, but leaves it untested.

[2018-11-04 11:58] paulhauner commented on #52
Thank you @g-r-a-n-t and @gitcoinbot :)

[2018-11-04 11:58] #52 closed

[2018-11-04 12:04] paulhauner commented on #27
I just checked and we're all up to date!

[2018-11-04 12:04] #27 closed

[2018-11-04 12:18] paulhauner opened #68 "Code base needs to be formatted using `rustfmt`"
## Description

My personal `rustfmt` extension failed and a lot of the code I wrote is not formatted using `rustfmt`. I would like to run it across the entire code base.

## Present Behaviour

Code _is not_ formatted using `rustfmt`.

## Expected Behaviour

Code _should be_ formatted using `rustfmt`.

## Steps to resolve

1. Halt as much development as possible.
2. Run `rustfmt` on the entire cod

[2018-11-04 17:18] aj07 commented on #47
Submitted https://github.com/sigp/lighthouse/pull/69

[2018-11-04 17:19] aj07 commented on #47
Already submitted https://github.com/sigp/lighthouse/pull/61

[2018-11-04 23:23] paulhauner opened #70 "Implement tree hashing function"
## Description

Implement the function described here: https://github.com/ethereum/eth2.0-specs/issues/54

## Present Behaviour

Function doesn't exist.

## Expected Behaviour

Function should exist.

## Steps to resolve

AFAIK, the function is still experimental so be on the lookout for bugs and optimisations.

At this stage, I think we should implement it as a separate crate.

[2018-11-07 17:36] aj07 commented on #47
@paulhauner Will you please merge that PR ?

[2018-11-07 22:34] ralexstokes commented on #22
@gitcoinbot there is an open PR at #62.

[2018-11-08 15:28] vs77bb commented on #47
Hi @aj07 snoozing Gitcoin Bot here... I know @paulhauner is still coming back from Devcon and will need to do a thorough review before merging / deciding next steps . Will let him chime in when he's back 👍

[2018-11-12 22:02] ralexstokes commented on #22
@gitcoinbot there is an open PR at #62

[2018-11-12 23:54] frankchen07 commented on #47
snoozed Gitcoin bot for you, @paulhauner to review the PR for when he's recovered from Devcon crazies.

[2018-11-14 16:12] #68 closed

[2018-11-19 23:51] ralexstokes commented on #22
@gitcoinbot after talking through some design decisions, i just need to wrangle a few more tests in #62

[2018-11-22 22:45] paulhauner commented on #22
@gitcoinbot this has been completed! Bounty can be paid out.

Thank you :)

[2018-11-22 22:45] #22 closed

[2018-11-23 21:12] paulhauner commented on #47
Hey @aj07, @spble left some comments in the PR ~15 days ago :)

[2018-11-24 01:15] mjkeating commented on #59
A couple of questions:

1. Was an underflow really possible 'in an empty list' here? The code directly above looks for an empty list and returns OK if one is found. Perhaps using `saturated_sub()` is good practice in any case since it doesn't rely on such checks.
2. This shuffler now seems to live in util/vec_shuffle where the change to `saturating_sub()` has been made. Did we want to make this ch

[2018-11-24 01:51] paulhauner commented on #59
Oh, it looks like this issue may have been outdated. Sorry! Looks like there's a bit of conflict between my change and @pinkiebell's change.

You're correct, this crate was moved and is now called `vec_shuffle`.

I prefer to only use saturating math where it's necessary. It's not so much that it's slower, it's more to avoid the scenario where one thinks they can not think deeply about integer wrap

[2018-11-25 03:17] paulhauner opened #73 "Merge Crystallized and Active states"
## Description

The spec updated and the `CrystallizedState` and `ActiveState` are now merged into the one object.

## Present Behaviour

We have two, distinct states.

## Expected Behaviour

The states should be unified

[2018-11-25 03:34] paulhauner opened #74 "Implement tests for the BeaconChain structure"
## Description

Implement a test suite for the `BeaconChain` struct.

## Present Behaviour

Presently there are no end-to-end tests for the `BeaconChain` struct. It's very important that this piece is heavily tested.

[2018-11-25 10:46] aj07 commented on #47
@paulhauner got it. Submitting it.

[2018-11-26 08:02] paulhauner commented on #59
Fixed in #72 :)

[2018-11-26 08:02] #59 closed

[2018-11-27 04:06] paulhauner commented on #70
@mjkeating has started working on this issue, so please drop a line in here if you wish to start working on it

[2018-11-27 04:10] #73 closed

[2018-11-27 04:12] paulhauner commented on #30
This was implemented!

[2018-11-27 04:12] #30 closed

[2018-11-28 16:42] ralexstokes opened #77 "Clean up `beacon_chain/types::common`"
## Description

It looks like this module is not being used. It does provide duplicate definitions of `AttesterMap` and `ProposerMap` which is confusing. It seems like this module is just dangling after a refactor.

## Present Behaviour

it exists.

## Expected Behaviour

this module should not exist if it is not being used.

## Steps to resolve

Let's just remove it.

Opening this issue to confir

[2018-11-28 19:41] Geenustthanapuss commented on #30
Boss do you think what am I speak right or wrong.

[2018-11-29 17:11] ralexstokes commented on #31
I'm working on some of this if anyone needs to coordinate work w/ what i'm doing

[2018-11-29 18:23] ralexstokes opened #79 "Missing validation of `ancestor_hashes` in block"
## Description

Seems like we are missing a check on the incoming block data during validation.

We want to make sure that the block's `ancestor_hashes` align with our expectations given our local view of the chain.

## Present Behaviour

We deserialized `ancestor_hashes` and just accept the data as given.

## Expected Behaviour

The block should be invalid if we don't derive the expected updates

[2018-12-02 09:31] ceresstation commented on #70
Hey @mjkeating you're approved, glad to hear from Paul that you're already making progress :)

[2018-12-02 22:47] paulhauner opened #80 "Update `BeaconChain` struct to use a single state."
## Description

The `BeaconChain` struct is still using `CrystallizedState` or `ActiveState`.

## Present Behaviour

Uses old structs.

## Expected Behaviour

Not use old structs.

## Steps to resolve

Refactor!

[2018-12-03 00:49] paulhauner opened #81 "Update `ValidatorRecord` as per new spec"
## Description

`ValidatorRecord` has been outdated. Update it and all dependencies.

[validator_induction](https://github.com/sigp/lighthouse/tree/master/beacon_chain/validator_induction) is a definite dependency and it also needs to be updated to reflect the [new spec definition](https://github.com/ethereum/eth2.0-specs/blob/master/specs/core/0_beacon-chain.md#routine-for-activating-a-validator)

[2018-12-03 01:08] paulhauner opened #82 "Update `AtttestationRecord` as per new spec"
## Description

The spec has update and `AttestationRecord` needs to be updated.

This will likely be a fairly significant refactor as the `AttestationRecord` validation will need to be upated.

[2018-12-03 03:26] paulhauner opened #83 "Update `BeaconState` as per new spec"
## Description

What's the only thing that changes more than Australian prime ministers?
....
The Eth 2.0 spec!!! lololol

The `BeaconState` object has changed and we need to update!

[2018-12-03 04:16] paulhauner commented on #80
I am going to block this on #82 for now.

Will come back to this once it's complete.

[2018-12-03 04:23] #83 closed, assigned to paulhauner

[2018-12-03 05:31] #47 closed

[2018-12-03 06:17] paulhauner opened #86 "BooleanBitfield test failing"
## Description

I have created a test for BooleanBitfield that I think should pass, but fails.

https://github.com/sigp/lighthouse/commit/bedc1abec00ef72f57b447c0136937cc39bf5232

## Present Behaviour

Test fails

## Expected Behaviour

I think this test should pass

## Steps to resolve

I haven't looked into how to resolve it.

[2018-12-03 17:46] ralexstokes commented on #86
i'll take a look

[2018-12-03 17:57] ralexstokes commented on #22
@gitcoinbot this issue has been resolved and the PR merged.

see this comment: https://github.com/sigp/lighthouse/issues/22#issuecomment-441130193

[2018-12-04 03:54] paulhauner commented on #74
Blocking on #80.

[2018-12-04 04:05] ralexstokes commented on #86
@paulhauner will push a fix shortly -- this led me on a journey to see what the canonical impl does after seeing that the parity impl does something different (serializes bytes w/ length, which imo is preferred)

the bug here comes down to not extending the bitfield long enough as it stops at the highest set bit. we need to set any `ssz-deserialized` bitfield to the maximum length of the bytes (in

[2018-12-04 23:41] mkosowsk commented on #22
@ralexstokes you have been paid out, sorry about the delay. Thanks!

[2018-12-05 05:56] paulhauner commented on #70
@mjkeating has implemented a fairly complex function here so we'll probably need a few days to review it. Might be worth throwing a solid snooze on this one :)

[2018-12-06 07:05] paulhauner opened #91 "There is no "domain" for BLS signatures"
## Description

The spec declares that `BLSVerify` should take a  "domain".

## Present Behaviour

Our code base has no concept of a domain.

## Expected Behaviour

Match the spec.

## Steps to resolve

I am not aware how domain is implemented, this is a placeholder issue as a `TODO` was created in the code.

1. Figure out what a domain is in a BLS signature verification.
2. Implement it.

[2018-12-06 07:15] paulhauner opened #92 "`canonical_root` methods are stubbed out on several states"
## Description

SSZ tree hashing is not yet implemented, therefore we have had to "stub out" some of the canonical root methods.

## Present Behaviour

The following states have the `canonical_root` method "stubbed out":

- `AttestationData`

## Expected Behaviour

`canonical_root()` should return the canonical hash of an object. In all cases so far, this should be the SSZ tree hash (aka merkle ro

[2018-12-06 07:28] paulhauner opened #93 "Update onboarding docs"
## Description

The on-boarding docs should be updated as we learn from gaining new contributors.

This issue can serve as a list of `TODO`s for items to add to the onboarding docs:

1. Every `TODO` must be accompanied by a link to a Github issue. This is to assist with project management.
2. Explain why we almost always don't use `panic`.
3. Point out that we use `///` to generate doc comments.

[2018-12-06 07:39] paulhauner opened #94 "Enhance testing for `validate_attestation_signature`"
## Description

There are scenarios in `attestation_validation::validate_attestation_signature` that are untested.

You can find the crate at `/beacon_chain/attestation_validation` (once #85 has been merged into master).

Here is a non-comprehensive list to get you started:

- No signatures at all (aggregate signature is empty/at infinity).
- There is an extra signature on the attestation.
- The d

[2018-12-06 07:41] paulhauner commented on #23
Completed!

[2018-12-06 07:41] #23 closed

[2018-12-06 07:43] paulhauner commented on #77
I'm refactoring some stuff around this in #85 so I'll see what the outcome of that is.

Good find though!

[2018-12-06 07:45] paulhauner commented on #79
Good find! I think the spec has updated since we implemented this.

[2018-12-06 08:50] paulhauner opened #95 "Attestation validation makes assumption about spec"
## Description

This issue here details an issue with the spec:

https://github.com/ethereum/eth2.0-specs/issues/224

## Present Behaviour

We have implemented a method that doesn't underflow _or_ accept blocks until the `min_attestation_inclusion_delay`'th block.

## Expected Behaviour

We must match the spec, but the spec is wrong IMO.

## Steps to resolve

Wait until this issue is resolved, the

[2018-12-06 08:50] paulhauner opened #202 "Attestation validation makes assumption about spec"
## Description

This issue here details an issue with the spec:

https://github.com/ethereum/eth2.0-specs/issues/224

## Present Behaviour

We have implemented a method that doesn't underflow _or_ accept blocks until the `min_attestation_inclusion_delay`'th block.

## Expected Behaviour

We must match the spec, but the spec is wrong IMO.

## Steps to resolve

Wait until this issue is resolved, the

[2018-12-09 03:10] mjkeating commented on #70
I updated https://github.com/sigp/lighthouse/pull/88 to, hopefully, reflect @paulhauner's helpful review comments.

I also added TreeHash implementations for Vec<T> and HashMap<K, V>.  Testing those against officially known tests/results should verify basic functionality is correct and consistent with other clients. I'm pretty sure that tweaks will be needed (there are disparities/confusion betwee

[2018-12-09 22:21] paulhauner opened #96 "Update `BeaconBlock` as per spec update"
## Description

`BeaconBlock` has been split into `BeaconBlock` and `BeaconBlockBody`.

The code base must be updated to suit.

https://github.com/ethereum/eth2.0-specs/blob/master/specs/core/0_beacon-chain.md#beacon-chain-blocks

[2018-12-09 22:29] paulhauner opened #97 "Attestation Validation tests are not implemented"
## Description

Attestation validation has been implemented, however the tests are not.

The tests rely upon the new block structure (#96) which has not been implemented.

## Steps to resolve

Once #96 is complete, come back an implement tests.

[2018-12-09 22:53] paulhauner opened #98 "Block processing has been removed from chain"
## Description

Significant spec updates have required a re-write of block processing.

All existing block processing code has been removed and stubbed out.

## To Resolve

Re-implement block processing

[2018-12-09 22:57] paulhauner opened #99 "Update genesis as per new spec"
## Description

The `genesis_states` function in the `chain` crate has been stubbed out as new updates to the spec have made it mostly redundant.

## Steps to resolve

Implement the new genesis code after #96 has been merged.

[2018-12-10 23:41] paulhauner commented on #81
You're good to go on this one @g-r-a-n-t :)

[2018-12-11 00:26] paulhauner opened #100 "Update definitions of all core types"
## !! WAITING ON RELEASE CANDIDATE !!

This issue is presently on-hold until the specification is stable.

## Description

This is a "mega issue" which contains multiple discreet tasks. Mega issues exist to avoid cluttering the issues page a multitude of small tasks.

If you wish to work on one of these tasks, comment below and a maintainer will break the task out into a separate issue.

## Mega I

[2018-12-11 00:32] paulhauner opened #101 "Include all spec "constants" in a `ChainSpec` structure."
## !! WAITING ON RELEASE CANDIDATE !!

This issue is presently on-hold until the specification is stable.

## Description

The [Constants](https://github.com/ethereum/eth2.0-specs/blob/master/specs/core/0_beacon-chain.md#constants) section of the specification lists a set of "constants" that will define aspects of the Eth2.0 chain.

As far as the specification of a specific chain is concerned, the

[2018-12-11 01:00] paulhauner opened #102 "Deposit contract log processing"
## Description

This is a "mega issue" which contains multiple discreet tasks. Mega issues exist to avoid cluttering the issues page a multitude of small tasks.

If you wish to work on one of these tasks, comment below and a maintainer will break the task out into a separate issue.

## Log Processing

Validators enter the 2.0 chain through "deposit" smart contract on the 1.0 chain. Therefore, it i

[2018-12-11 01:00] paulhauner opened #218 "Deposit contract log processing"
## Description

This is a "mega issue" which contains multiple discreet tasks. Mega issues exist to avoid cluttering the issues page a multitude of small tasks.

If you wish to work on one of these tasks, comment below and a maintainer will break the task out into a separate issue.

## Log Processing

Validators enter the 2.0 chain through "deposit" smart contract on the 1.0 chain. Therefore, it i

[2018-12-11 01:04] paulhauner opened #103 "Implement fork-choice rule"
## !! WAITING ON RELEASE CANDIDATE !!

This issue is presently on-hold until the specification is stable.

## Description

Presently, the [Beacon chain fork choice rule](https://github.com/ethereum/eth2.0-specs/blob/master/specs/core/0_beacon-chain.md#beacon-chain-fork-choice-rule) section of the spec declares that the fork choice rule is "Latest Message Driven (LMD) Greediest Heaviest Observed Su

[2018-12-11 01:04] paulhauner commented on #28
Replaced by #103

[2018-12-11 01:04] #28 closed

[2018-12-11 01:31] paulhauner opened #104 "State transition helpers"
## Description

This is a "mega issue" which contains multiple discreet tasks. Mega issues exist to avoid cluttering the issues page a multitude of small tasks.

If you wish to work on one of these tasks, comment below and a maintainer will break the task out into a separate issue.

## Mega Issue Tasks

The beacon chain state transition function [Helper functions](https://github.com/ethereum/eth2.

[2018-12-11 03:20] ralexstokes commented on #104
i'll likely be tackling most of this as I handle #31 .

feel free to reach out for status as we can likely parallelize :)

[2018-12-11 03:39] paulhauner commented on #104
Great stuff! Let me know as you progress through them and I'll keep this updated.

[2018-12-11 04:33] aj07 commented on #47
@frankchen07 @gitcoinbot  ^^

[2018-12-11 05:20] paulhauner commented on #81
Just letting you know that I updated this issue description and increased the scope (sorry!).

[2018-12-11 05:23] paulhauner opened #105 "Startup (genesis) functions"
## Description

The [On startup](https://github.com/ethereum/eth2.0-specs/blob/master/specs/core/0_beacon-chain.md#on-startup) section of the spec defines:

- A genesis block
- A genesis `BeaconState`

## Tasks

- Build a function to generate the genesis block.
- Build a function generate a genesis `BeaconState`

## Blocking

This is blocked on the following:

- #81

[2018-12-11 05:39] paulhauner opened #106 "Validator exit function"
## !! DO NOT IMPLEMENT !!

## !! WAITING ON RELEASE CANDIDATE !!

This issue is presently on-hold until the specification is stable.

## Description

The [Routine for exiting a validator](https://github.com/ethereum/eth2.0-specs/blob/master/specs/core/0_beacon-chain.md#routine-for-exiting-a-validator) section of the spec describes the method for exiting a an active validator.

## Tasks

- Implemen

[2018-12-11 05:42] paulhauner commented on #99
Replaced by #105

[2018-12-11 05:42] #99 closed

[2018-12-11 05:42] paulhauner commented on #105
There is presently existing genesis code in the `chain` crate, however it will be pulled out in #85.

[2018-12-11 06:26] paulhauner opened #107 "Per-slot processing"
## !! WAITING ON RELEASE CANDIDATE !!

This issue is presently on-hold until the specification is stable.

## Description

This is a "mega issue" which contains multiple discreet tasks. Mega issues exist to avoid cluttering the issues page a multitude of small tasks.

If you wish to work on one of these tasks, comment below and a maintainer will break the task out into a separate issue.

## Per-sl

[2018-12-11 07:05] paulhauner opened #108 "Per-epoch processing"
## !! WAITING ON RELEASE CANDIDATE !!

This issue is presently on-hold until the specification is stable.

## Description

This is a "mega issue" which contains multiple discreet tasks. Mega issues exist to avoid cluttering the issues page a multitude of small tasks.

If you wish to work on one of these tasks, comment below and a maintainer will break the task out into a separate issue.

## Per-ep

[2018-12-11 07:07] paulhauner commented on #39
Closing as spec updates have antiquated our existing code. See #104: `get_new_shuffling`

[2018-12-11 07:07] #39 closed

[2018-12-11 07:10] paulhauner commented on #79
Block validation has been antiquated and the code is scrapped in #85.

#107 now tracks the task of implementing block processing (we have to write it all again :face_with_head_bandage:)

[2018-12-11 07:10] #79 closed

[2018-12-11 07:12] paulhauner commented on #98
This is now tracked in #107

[2018-12-11 07:12] #98 closed

[2018-12-11 22:36] #86 closed

[2018-12-12 01:42] ralexstokes opened #111 "Update hash function"
## Description

The older spec used `blake2` as the hash function. The latest spec uses `keccak256`.

## Present Behaviour

Uses the old hash.

## Expected Behaviour

Should use the new hash.

## Steps to resolve

Use the correct hash function.

I started this work on a branch and seem to be triggering a panic due to this line:

https://github.com/sigp/signature-schemes/blob/master/src/amcl_utils.

[2018-12-12 01:44] ralexstokes commented on #111
ideally that function is just generic over our hashing function... i just checked though and the tiny_keccak hash does not implement `std::hash::Hasher`

[2018-12-12 03:13] #82 closed

[2018-12-12 03:51] paulhauner commented on #106
This task is on-ice. Initially we're going to target a static validator set, therefore we will not need an `exit` function.

There's no good reason to build this component at this point.

[2018-12-12 04:02] paulhauner commented on #101
Working on this now.

[2018-12-12 05:33] paulhauner opened #113 "Remove `types::ChainConfig`"
## Description

`types::ChainConfig` has been replaced by the `beacon_chain/spec` crate.

## Steps to resolve

- Remove the `types::ChainConfig` struct.
- Update all dependent code to use `spec::ChainSpec` instead.

[2018-12-12 06:05] paulhauner commented on #111
Oh yep, I didn't notice the change to keccack!

I also noticed that the hashing libs I saw didn't use `std::hash::Hasher`. I don't know/can't remember why that is.

I agree that it would be ideal that `signature-schemes` is generic over different hashers, but I wouldn't spend much time upgrading it because we're hopefully going to move to something by zcash in the medium-term.

Why exactly is ther

[2018-12-12 06:11] paulhauner commented on #105
Blocked on #80

[2018-12-12 06:32] ralexstokes commented on #111
I believe it has to do w/ this:

https://github.com/sigp/lighthouse/blob/master/beacon_chain/utils/hashing/src/lib.rs#L13

and pretty sure it traces to this:

https://github.com/sigp/signature-schemes/blob/master/src/amcl_utils.rs#L36

Seems like `GroupG1::map_it` expects a buffer of a certain size (which is the panic I'm seeing)...

Is there a reason the buffer is this size?

[2018-12-12 22:39] paulhauner opened #115 "Remove `ActiveState` and `CrystallizedState`"
## Description

`types::ActiveState` and `types::CrystallizedState` have been deprecated in favor of `types::BeaconState` (see #113).

## Steps to resolve

- Remove both of these old types.
- Update any dependencies to use `BeaconState` instead.

[2018-12-12 23:12] frankchen07 commented on #47
@aj07 - were you paid out for the issue? (@mkosowsk)

[2018-12-13 01:18] paulhauner opened #117 "Improve tests for genesis"
## Description

The tests in the `beacon_chain/genesis` crate are not comprehensive.

## Steps to resolve

For `genesis_beacon_state`:
- Check all fields on the generated `BeaconState`.
- Check to see that errors from `shard_and_committees_for_cycle` are handled well.

[2018-12-13 02:48] aj07 commented on #47
@frankchen07 Nope as of now.

[2018-12-13 06:02] ralexstokes opened #120 "Implementation should match the shuffling test vectors"
## Description

There are a number of test vectors for cross-client implementation of the shuffling functionality.

## Present Behaviour

The test that exercises the vectors in `vec_shuffle` is broken but passes `cargo test` with a temporary `#[should_panic]` attribute.

## Expected Behaviour

It should not panic and successfully execute the test cases.

## Steps to resolve

Get it working

[2018-12-13 07:45] aj07 commented on #47
thanks to all. See you at next bounty :)

[2018-12-16 21:51] paulhauner commented on #70
Hey @gitcoinbot, please snooze for 10 days. We're waiting on some test vectors from the EF :)

[2018-12-16 22:14] paulhauner opened #121 "`vec_shuffle` test vectors are outdated"
## Description

The YAML test vectors for [utils/vec_shuffle](https://github.com/sigp/lighthouse/tree/master/beacon_chain/utils/vec_shuffle/src/specs) use blake2 instead of keccak.

## Steps to resolve

- Reach out on the gitter.im/ethereum/sharding gitter to find new test vectors.
- Implement test vectors.

If our code does not pass the tests, please raise a new issue.

[2018-12-17 05:34] paulhauner commented on #81
Following up from our discussion on Gitter, I think we should ditch the `ValidatorInductor` struct and just go with a simple function, much like the `process_deposit()` fn in the spec.

I think the function should have the following signature:

[code]

Where the returned `usize` is the index of the new/updated validator in `BeaconState.validator_registry`.

The `Deposit` struct is not presently in

[2018-12-17 12:57] drozdziak1 commented on #121
FYI started hacking on this

[2018-12-17 15:19] drozdziak1 commented on #121
@mratsim on ethereum/sharding pointed me to a repo containing this https://github.com/status-im/eth2-testgen/blob/master/test_vectors/test_vector_shuffling.yml, trying to hook it up with the `vec_shuffle` subcrate

[2018-12-17 16:15] drozdziak1 opened #122 "Move on to Rust 2018"
## Description
Most of Rust 2018 edition has recently made it to stable https://blog.rust-lang.org/2018/12/06/Rust-1.31-and-rust-2018.html and it should be easy enough to move `lighthouse` on to it. The switch is **backwards-incompatible, but at dependency level everything is 100% compatible**, i.e. if you have older edition deps they'll work and vice versa (provided your `rustc` knows how to use

[2018-12-18 01:31] ralexstokes commented on #120
Closing in favor of #121

[2018-12-18 01:31] #120 closed

[2018-12-18 01:31] ralexstokes commented on #121
there is a test for this that is marked `#[should_panic]` when it should in fact not panic -- need to update for the new test vectors

[2018-12-18 05:17] paulhauner commented on #122
I completely agree. @ralexstokes and I were discussing this in the [gitter channel](http://gitter.im/sigp/lighthouse) recently.

I think we casually decided that we'll start new crates with `edition = "2018"` and then do a mass upgrade at some point.

I'm more than happy for you to be the mass-upgrader if you'd like @drozdziak1  :)

[2018-12-19 06:11] #111 closed

[2018-12-19 10:00] drozdziak1 commented on #122
FYI started on this

[2018-12-20 20:22] drozdziak1 commented on #115
I'd be happy to hack on this, is #113 a blocker? What part of the spec would best give me context about how to hook stuff up together with `BeaconState`? (At first glance `BeaconState ≠ ActiveState + CrystallizedState` and I didn't read the whole spec yet)

[2018-12-20 22:12] mjkeating commented on #70
Hmm. I guess that snooze button never got hit after @paulhauner request?  Anyway, we're waiting, at this point, for something to test against from EF.

[2018-12-20 22:34] paulhauner commented on #70
Oh no! The mods are coming!

The EF don't have any vectors and apparently there are still some open questions about how this should work.

I think I'll jump onto this and together we can get something that works for now.

It's Friday here and the last working day before "holidays" so I'll jump onto it next week :)

[2018-12-20 22:37] paulhauner commented on #115
Awesome. Let's wait on #126 and #114 for this one. They've cleared out a whole bunch of instances of the old states.

I should be able to get it out in the next few days. Dealing with some EoY and PM stuff presently.

[2018-12-23 15:03] drozdziak1 commented on #113
Decided to try tackle this one, let me know if there's anything extra I should know about this

[2018-12-24 17:53] g-r-a-n-t commented on #81
Hey @paulhauner, the `validator_change` stuff looks like it's pretty out of date. Is this worth refactoring or should I just remove it?

[2018-12-25 22:14] paulhauner commented on #70
Please snooze this for 10 days :)

[2018-12-25 22:15] paulhauner commented on #81
Just pull it out. I've been doing a lot of that lately :(

[2018-12-25 22:16] paulhauner commented on #113
Awesome. We're removing antiquated code quite frequently so this task should be getting easier and easier by the day, haha!

[2018-12-25 23:49] #96 closed

[2018-12-26 23:10] #105 closed

[2018-12-27 03:12] mjkeating commented on #70
Gratuitous snooze comment :)

[2019-01-01 21:39] g-r-a-n-t commented on #91
I see that this relates to a [comment](https://github.com/sigp/lighthouse/pull/116#discussion_r244520952) I made on #116. I'm interested in picking this up, getting into the weeds with BLS sounds fun. Thoughts @paulhauner?

[2019-01-01 23:01] paulhauner commented on #91
Yep, this works for me. I noticed @ralexstokes asking about BLS domains on the sharding gitter. Alex could you please confirm there wouldn't be a conflict here?

[2019-01-02 15:55] g-r-a-n-t commented on #91
Thanks for the info @ralexstokes. I'll get started on this within the next week and follow up with any questions that may come up.

[2019-01-03 14:22] paulhauner commented on #70
In the Eth 2 call (happening now) Hsaio-Wei stated there will be work starting on SSZ test vectors next week. I think the best course here is to wait for these vectors before I do a review on #88.

@gitcoinbot could you please snooze for another 10 days.

[2019-01-04 00:03] #113 closed

[2019-01-04 05:42] paulhauner commented on #121
Issue has been resolved :)

[2019-01-04 05:42] #121 closed

[2019-01-04 17:09] vlopes11 commented on #10
Hello, I'll tackle this one.

I'll fork the code "as is", apply our style and remove the unused types (if any). Ok?

[2019-01-04 23:53] chronaeon commented on #104
Nice touch!

[2019-01-05 09:40] paulhauner commented on #70
Hi @gitcoinbot, can you please see the above comment :)

[2019-01-07 06:01] #115 closed

[2019-01-07 06:09] paulhauner commented on #74
Closing this as it will be outdated by #129

[2019-01-07 06:09] #74 closed

[2019-01-07 06:10] paulhauner commented on #77
This will be cleaned out by #129

[2019-01-07 06:10] paulhauner commented on #80
Will be addressed in #129

[2019-01-07 06:12] paulhauner commented on #93
Closed with #124

[2019-01-07 06:12] #93 closed

[2019-01-07 06:34] paulhauner commented on #100
FYI, I just compared our `master` branch with the eth2.0-specs `master` branch and the issue description has been updated accordingly.

TLDR; I updated this.

[2019-01-07 07:15] paulhauner commented on #104
Description has been updated to match the current spec.

[2019-01-07 20:49] ralexstokes commented on #94
what is this blocked on? just impl'ing the latest logic per the spec?

[2019-01-07 21:02] ralexstokes commented on #102
i'm w/ you in leanings towards not storing a bunch of logs and handling all the serde and related disk IO... my concern w/ "request on-demand" just comes down to the event where there are many Deposit messages in a given epoch and then Lighthouse slows down waiting on an Eth1.0 endpoint. we would need to benchmark this to know if its worth the work.

another option which afaik is possible w/ any o

[2019-01-07 21:26] ralexstokes opened #135 "Domain-specific types"
Saw this in some code and got to thinking about crafting some domain specific types

[code]

We can do something like
[code]

to get type-safety where we know we want units of Gwei.

The downside is ergonomics as now we either need to implement some number of traits (e.g. `std::ops::{Add,...}` or have a bunch of manual wrapping/unwrapping to do...

Figured I would bring this up for discussion...

[2019-01-08 09:48] drozdziak1 commented on #135
I say those should be macros, imagine all the code for all the math operations, and all that for a measly newtype.

[2019-01-08 15:38] chronaeon opened #136 "What are the reasons for licensing under GPL?"
## Description

Lighthouse is focusing on modularity, but if someone wants to include a Lighthouse module in their codebase, they are required to share the entire codebase. While this seems to work in favor of open source, enterprises and other commercial entities _will tend to not use Lighthouse_ because they won't see it worth the risk of sharing all of their code. This is a significant trade-of

[2019-01-08 19:35] chronaeon commented on #136
I can't speak for the EEA, I can only speak as someone who stood by and witnessed certain events. I have no idea if they'd want to use Lighthouse or not, and I'll leave that up to them. I was just using the situation of the GPL licensing debacle on CPP-Ethereum (which spawned the EEA) as an example of how copyleft can work against itself.

Also I'm using it as a basis for deciding whether I want t

[2019-01-08 22:34] ralexstokes commented on #104
btw -- we just had a call where ppl are looking for good first issue -- i can take a pass by end of today at splitting this up into multiple functions

[2019-01-08 22:36] ralexstokes commented on #104
also for the `integer_squareroot` above i suggest we use this: https://crates.io/crates/integer-sqrt

i started on a [generic fn using the `num` crate](https://github.com/ralexstokes/lighthouse/tree/integer-sqrt) but like the above crate better

[2019-01-08 22:38] drozdziak1 commented on #135
BTW What's the preferred 256-bit type we're going to use?

[2019-01-08 22:51] ralexstokes opened #137 "Update validator status flags"
NOTE: in terms of project management this may belong in another issue but i'll post here bc i started this thread and it is a chunk of work -- that may be a good first issue? the "good first issue"-ness can be scaled by just commenting out or stubbing out the various functionality that is broken.

## Description

The spec team is working to simplify the validator life cycle state machine. This mea

[2019-01-09 01:47] ralexstokes commented on #104
i would suggest we divide this issue into multiple issues to implement helpers so that it isn't all blocked on one or a few people; i'll put each chunk of related functions imo into a separate `code` block:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2019-01-09 04:09] paulhauner commented on #104
Good call @ralexstokes. I'll split this up :)

[2019-01-09 12:59] johnsBeharry commented on #104
@paulhauner @ralexstokes

For `merkle_root` from what I've gathered there's a few other functionalities that are required to get this root hash:

[code]

Would this be correct?

[2019-01-09 17:54] ralexstokes commented on #104
@johnsBeharry you would just need to translate this code into Rust for inclusion in our repo: https://github.com/ethereum/eth2.0-specs/blob/master/specs/core/0_beacon-chain.md#merkle_root

it isn't typed but `values` is something like a `&[Hash32]` in Rust and you just need to compute the root given the flat array as input.

seems like it would be a great way to get acquainted with Rust, Lighthous

[2019-01-10 16:12] ralexstokes opened #139 "Add active validator helpers"
Add `is_active_validator` and `get_active_validator_indices` to match the spec

[2019-01-10 16:13] ralexstokes commented on #137
Closed in favor of #139

[2019-01-10 16:13] #137 closed

[2019-01-10 16:16] ralexstokes commented on #104
looks like @drozdziak1 is gonna tackle this one: `get_attestation_participants`

[2019-01-10 16:17] drozdziak1 commented on #104
Yup, @paulhauner please assign me when you find the time to make the split

[2019-01-10 16:30] ralexstokes opened #141 "Discussion: Upgrade randomized testing for generative testing?"
## Description

Wanted to have a discussion around the `TestRandom` trait added to the repo recently.

## Present Behaviour

We implement `TestRandom` so that on each test run a different value is used. This helps ensure a more robust test suite as we cover more of the value space than the few values we would be able to code by hand.

## Expected Behaviour

I would suggest we look at moving to usi

[2019-01-10 16:30] ralexstokes opened #203 "Discussion: Upgrade randomized testing for generative testing?"
## Description

Wanted to have a discussion around the `TestRandom` trait added to the repo recently.

## Present Behaviour

We implement `TestRandom` so that on each test run a different value is used. This helps ensure a more robust test suite as we cover more of the value space than the few values we would be able to code by hand.

## Expected Behaviour

I would suggest we look at moving to usi

[2019-01-10 16:34] ralexstokes opened #142 "Derive mechanical implementations where appropriate."
## Description

This issue hosts a feature request to re-implement certain functionality as procedural macros so they are `#[derive]`-able.

1. `ssz` serde
2. `TestRandom` impl

## Present Behaviour

We have to derive each of these by hand and it puts higher burden on the maintainer/author.

## Expected Behaviour

Would be great to do something like:

[code]
## Steps to resolve

Implement the desi

[2019-01-10 16:34] ralexstokes opened #204 "Derive mechanical implementations where appropriate."
## Description

This issue hosts a feature request to re-implement certain functionality as procedural macros so they are `#[derive]`-able.

1. `ssz` serde
2. `TestRandom` impl

## Present Behaviour

We have to derive each of these by hand and it puts higher burden on the maintainer/author.

## Expected Behaviour

Would be great to do something like:

[code]
## Steps to resolve

Implement the desi

[2019-01-10 20:44] ralexstokes opened #143 "Require `cargo fmt` for CI to pass"
## Description

Will be great for code quality (and frequency of `cargo fmt` commits) if we require `cargo fmt` to have no change on the repo source passed to CI.

## Present Behaviour

There is no such requirement.

## Expected Behaviour

The CI should run `cargo fmt` and get back no diffs.

## Steps to resolve

Looks like we can follow this:
https://kneit.in/2016/11/26/rustfmt-in-travisci.html

[2019-01-10 22:12] paulhauner commented on #94
I don't believe it is blocked :)

[2019-01-10 22:14] #143 closed

[2019-01-10 22:18] paulhauner commented on #142
I totally agree, deriving `ssz` and `test_random` would be awesome.

I looked into this when I was doing all the laborious and horrendous manual implementations. It's not trivial, but would be a pretty fun task for the right person.

[2019-01-10 22:22] paulhauner commented on #142
Just for clarity, this is a `good-first-issue` because it's a neat and isolated task.

Recommended for experienced crustaceans :crab:, not beginners.

[2019-01-10 22:34] paulhauner commented on #141
I'm totally open to this, `TestRandom` is a limited approach.

I'm not familiar with QuickCheck, but I think I get the gist and it looks useful. A brief look through some docs didn't make it immediately obvious how it would look in our code-base. Could we replace `TestRandom` for the SSZ tests?

[2019-01-10 22:41] paulhauner commented on #135
The `ethereum-types` [U256](https://docs.rs/ethereum-types/0.4.0/ethereum_types/struct.U256.html), unless there are any objections.

The [num_derive](https://docs.rs/num-derive/0.2.3/num_derive/) library might be useful here. It gives things like `#derive(num_ops)` for newtypes (the inner type must already implement NumOps).

I haven't used it though, so I can't speak for it's quality.

[2019-01-10 22:47] paulhauner commented on #80
Resolved in #129

[2019-01-10 22:47] #80 closed

[2019-01-10 22:48] paulhauner commented on #81
Resolved in #116

[2019-01-10 22:48] #81 closed

[2019-01-10 22:48] paulhauner commented on #77
Resolved in #129

[2019-01-10 22:48] #77 closed

[2019-01-10 22:52] paulhauner commented on #102
I agree, caching will probably be ideal.

We could take an approach where we implement without caching at first, but we design the interface such that caching can be implemented later with minimal changes required to calling functions.

[2019-01-10 22:54] paulhauner commented on #103
Removing the block for the release candidate.

[2019-01-10 22:56] paulhauner opened #145 "Implement `get_attestation_participants`"
## Description

Implement the `get_attestation_participants` function.

This issue was split-off from the #104 mega-issue.

[2019-01-10 22:58] paulhauner commented on #145
@drozdziak1 is working on this one.

[2019-01-10 23:00] paulhauner opened #146 "Implement `merkle_root`"
## Description

Implement the `merkle_root` function from the spec.

This was split-off from the #104 mega-issue.

[2019-01-10 23:00] paulhauner opened #205 "Implement `merkle_root`"
## Description

Implement the `merkle_root` function from the spec.

This was split-off from the #104 mega-issue.

[2019-01-10 23:02] paulhauner commented on #146
@JohnsBeharry is working on this.

[2019-01-10 23:12] paulhauner commented on #146
Replying to a convo from #104:

I don't think we need tree-hashing for this. The spec uses the `hash` function which it describes as `keccak-256`. Our equivalent is the [`canonical_hash`](https://github.com/sigp/lighthouse/blob/master/beacon_chain/utils/hashing/src/lib.rs) function :)

[2019-01-10 23:19] paulhauner opened #147 "Alex's transition helper bouquet"
## Description

Implement the following functions:

* `get_shard_committees_at_slot`: given a slot, returns the ShardAndCommittees for each shard.
* `get_block_root`: returns a hash from the state.
* `get_beacon_proposer_index`: returns the index of the beacon block proposer for a given slot.
* `get_effective_balance`: returns the validators "effective balance". This balance can never be higher th

[2019-01-10 23:22] paulhauner commented on #147
Just a heads up to @ralexstokes and @g-r-a-n-t that the `get_domain` issue is likely related to #91.

[2019-01-10 23:32] paulhauner opened #149 "Implement `verify_slashable_vote_data`"
## Description

Implement the `verify_slashable_vote_data` function from the spec.

This was split from the #104 mega-issue.

[2019-01-10 23:32] paulhauner opened #206 "Implement `verify_slashable_vote_data`"
## Description

Implement the `verify_slashable_vote_data` function from the spec.

This was split from the #104 mega-issue.

[2019-01-10 23:34] paulhauner opened #150 "Implement double and surround vote functions"
## Description

Implement the following functions from the spec:

* is_double_vote: determines if two attestations are a slashable "double vote".
* is_surround_vote: determines if two attestations are a slashable "surround vote".

This was split-off from the #104 mega-issue.

[2019-01-10 23:34] paulhauner opened #207 "Implement double and surround vote functions"
## Description

Implement the following functions from the spec:

* is_double_vote: determines if two attestations are a slashable "double vote".
* is_surround_vote: determines if two attestations are a slashable "surround vote".

This was split-off from the #104 mega-issue.

[2019-01-10 23:44] paulhauner opened #151 "Implement/update `get_shuffling`"
## Description

Implement `get_shuffling` from the spec.

There is an [existing implementation](https://github.com/sigp/lighthouse/blob/master/beacon_chain/validator_shuffling/src/shuffle.rs) that I highly suspect has been outdated.

## Steps to complete

- Rename the existing function to `get_shuffling` (instead of `shard_and_committees_for_cycle`).
- Identify and fix any logic differences betwee

[2019-01-10 23:49] paulhauner commented on #104
The only function left in here is `integer_squareroot`. I have some vauge recollection of @ralexstokes working on this?

[2019-01-14 09:43] drozdziak1 commented on #151
I'll try handling this one

[2019-01-14 09:51] drozdziak1 opened #156 "Initialize ChainSpec into a mutexed global or break it down into real constants"
## Description
The spec defines several constants which currently are mostly placed in `ChainSpec`. This causes some of the spec-defined functions in Lighthouse to have different signatures (the `ChainSpec` has to be instantiated and my guess is it doesn't make sense to instantiate the spec every time)
## Present Behaviour
^^^^

## Expected Behaviour
We should be able to reference the necessary co

[2019-01-14 09:51] drozdziak1 opened #208 "Remove constants from function parameters"
## Description
The spec defines several constants which currently are mostly placed in `ChainSpec`. This causes some of the spec-defined functions in Lighthouse to have different signatures - constants are passed instead of just being globally referenced (the `ChainSpec` has to be instantiated and my guess is it doesn't make sense to instantiate it every time)
## Present Behaviour
^^^^

## Expecte

[2019-01-15 01:04] paulhauner commented on #156
My intention with `ChainSpec` was as follows:

1. Defined at first boot, according to some CLI flags. (Likely use whatever the EF defines by default), or
2. Loaded from the local `~/.lighthouse` (or w/e) directory along with the database.

During run-time there should be a single, immutable instance. Rust will be fine to send it anywhere if it's in an `Arc` or `'static`.

It's important to me that

[2019-01-15 04:02] paulhauner commented on #139
PR is in #140

[2019-01-15 11:50] drozdziak1 commented on #156
yeah, swapping out constant values easily is convincing. What do you think of a global `ChainSpec` instance though? It shouldn't be too difficult to use and provide researchers, chain owners etc. with easy enough way to change how a chain operates.

**Short-term note:** We'll most likely want to actually have both. e.g. I've found that the stack overflow I get in #157 was caused by the initial val

[2019-01-16 06:10] kirk-baird commented on #91
This also applies to #149 which requires the implementation of:
`bls_verify_multiple() `
which allows for one signature over multiple messages (and pub keys) and requires domains.

[2019-01-16 18:33] ralexstokes commented on #156
to chime in here, i would recommend we parameterize the codebase wrt to the constants for the reasons given above. i would suggest we avoid global statics or anything like this as i find its easier to achieve the goals of parametricity when you can simply provide the relevant values to as small a scope as possible (general notion is principle of least authority here).

if we can agree on this, the

[2019-01-16 21:53] ralexstokes commented on #150
i can tackle this one next

[2019-01-16 21:56] ralexstokes commented on #147
`get_shard_committees_at_slot` and `get_beacon_proposer_index` are done in #148 pending review

[2019-01-17 01:55] paulhauner commented on #156
I'm not sure if you're suggesting that swapping chains requires a re-compile. If so, I don't think that's permissible as we need to allow typical users to be able to switch to different chain specs, via CLI flags or some JSON file. It's used very heavily in Ethereum 1.0 for test-nets (Ropsten, etc.)

I agree we read them from a config file for now.

I'm still not convinced that someone should need

[2019-01-17 02:10] paulhauner commented on #156
I'm also preferring to parameterize the functions with spec variables. I'm not sure what we gain from having constants, apart from matching the function signatures of the spec. As I've said before, I see the present rendering of the spec as temporary.

For me, the choices are:
1. Pass individual variables (e.g., `fn foo(bar, epoch_length, slot_duration...)`
2. Pass the whole spec struct (e.g., `fn

[2019-01-17 02:20] paulhauner commented on #156
In summary, I think the major question at the moment is: _"should we require a recompile to change the spec"._

IMO, we shouldn't require a recompile and I feel pretty strongly about that for UX reasons. As always, I'm open to have my mind changed.

Following the decision tree down the "no recompile" path, we then need to choose between `lazy_static` or passing params around. I've not used `lazy_s

[2019-01-17 03:49] ralexstokes commented on #156
Yeah, some combination of (1) and (2) seem nice.

It is what I would do if I was making the decision -- but I figured you had some extra semantics around `ChainSpec` that I didn't know so it didn't feel appropriate to suggest a big change without discussing it first. I would pull out the "dynamic" bits of `ChainSpec` so that it is just the constant data and then, like you suggest, we pass around a

[2019-01-17 06:02] #139 closed

[2019-01-17 16:38] ralexstokes commented on #104
@paulhauner refer this comment for `integer_squareroot`: https://github.com/sigp/lighthouse/issues/104#issuecomment-452477141

i looked at implementing it ourselves and all things considered i now prefer to just use that crate as needed

[2019-01-18 01:37] kirk-baird commented on #91
No worries :)
Not yet, I got plenty to do first.

[2019-01-21 22:48] paulhauner opened #160 "Validator client status"
## Description

This issue serves to track the state of the validator client.

It is a `mega-issue`, therefore if you wish to work on some task here, leave a comment and it will be split into a new issue.

## Known issues

- `ChainSpec` is fixed to foundation; it should be loaded from disk or generated at first boot.

[2019-01-21 22:48] paulhauner opened #223 "Validator client status"
## Description

This issue serves to track the state of the validator client.

It is a `mega-issue`, therefore if you wish to work on some task here, leave a comment and it will be split into a new issue.

## Known issues

- `ChainSpec` is fixed to foundation; it should be loaded from disk or generated at first boot.
- Validator public keys are randomly generated at boot; they should be loaded fro

[2019-01-21 23:14] paulhauner opened #161 "SSZ spec missing explicit checks container decoding"
## Description

@holiman has picked up a potential bug with SSZ": https://github.com/ethereum/eth2.0-specs/issues/479

Presence of bug is not confirmed, but likely.

## To Resolve

1. Confirm bug exists.
2. Reproduce in unit tests.
3. Fix.

[2019-01-21 23:14] paulhauner opened #217 "SSZ spec missing explicit checks container decoding"
## Description

@holiman has picked up a potential bug with SSZ": https://github.com/ethereum/eth2.0-specs/issues/479

Presence of bug is not confirmed, but likely.

## To Resolve

1. Confirm bug exists.
2. Reproduce in unit tests.
3. Fix.

[2019-01-22 22:34] paulhauner commented on #103
I am working on this

[2019-01-22 22:35] #117 closed

[2019-01-22 22:36] #104 closed

[2019-01-23 04:16] kirk-baird commented on #149
Blocking until `verify_multiple` is added to the signature-scheme
https://github.com/sigp/signature-schemes/pull/3

[2019-01-23 14:30] Feng94 opened #165 "protos build fails on Windows due to incorrect directory separator character"
## Description

When doing a cargo build in Windows it may fail.

This is due to the build.rs file in protos folder using a hardcoded backwards slash `/` character for a directory which is the opposite of Windows' (`\`). The build should work for both UNIX and Windows systems and therefore it should obtain the correct system directory separator.

## Present Behaviour

It uses a string literal "src

[2019-01-23 14:37] Feng94 commented on #165
I think I don't have permission access the repo yet, but I made local commit for it. The screenshot below could give you guys a heads up review on what's coming.

![image](https://user-images.githubusercontent.com/8751189/51613837-74f10580-1f78-11e9-9e73-5d22a720c6f7.png)

[2019-01-23 20:54] paulhauner commented on #165
Hey, looks good @Feng94! Thanks for building on Windows, this is a big help.

If you've solved it, [create a PR](https://www.dasblinkenlichten.com/how-to-create-a-github-pull-request-pr/) and we'll get it merged!

[2019-01-24 05:47] kirk-baird opened #166 "Add TreeHash Trait to all types"
## Description

TreeHash trait allows calling hash_tree_root() function to be called on objects which is required.

## Present Behaviour

Trait exists but functionality is only added for primitive / core types.

[2019-01-24 10:52] ChihChengLiang commented on #161
@paulhauner The spec is updated 🚀

[2019-01-25 00:53] kirk-baird opened #170 "Add test vectors to hash_tree_root for all types"
## Description

The function `hash_tree_root` provides merkle hashing for structs and primitives alike.

Tests are required to ensure these are the correct hashes.

The test vectors need to be provided by Ethereum Foundation.

Add tests to `eth2/utils/ssz/src/impl_tree_hash`
Add test to all types in `eth2/types`

## Present Behaviour

Currently these return a hash but without test vectors we are u

[2019-01-25 00:53] kirk-baird opened #209 "Add test vectors to hash_tree_root for all types"
## Description

The function `hash_tree_root` provides merkle hashing for structs and primitives alike.

Tests are required to ensure these are the correct hashes.

The test vectors need to be provided by Ethereum Foundation.

Add tests to `eth2/utils/ssz/src/impl_tree_hash`
Add test to all types in `eth2/types`

## Present Behaviour

Currently these return a hash but without test vectors we are u

[2019-01-25 04:24] #70 closed, assigned to nobody

[2019-01-25 06:41] paulhauner commented on #92
This is fixed in #163

[2019-01-25 06:43] paulhauner commented on #70
Hey @gitcoinbot, this issue has been fixed!

@mjkeating did a great job. Please feel free to pay out his bounty.

[2019-01-25 18:24] thojest commented on #150
hmm i would like to try to tackle this one. had a short look at the codebase, where would you put them?
Maybe under eth2/attestation_validation/justified_slot.rs ? Please be nice :)

[2019-01-27 02:10] paulhauner commented on #150
Thanks for reaching out @thojest! We're keen to have your help :)

I think the best place for this would be directly on the [`SlashableVoteData`](https://github.com/sigp/lighthouse/blob/master/eth2/types/src/slashable_vote_data.rs) object.

For example:

[code]

Notice I have included a borrowed `ChainSpec` as an input to the function. This is how we can access the `EPOCH_LENGTH` constant. In Ligh

[2019-01-27 22:06] paulhauner commented on #150
You're welcome :)

I can see the `EPOCH_LENGTH` constant in there, see below:

[code]
Are you saying they shouldn't be in the specification at all?

[2019-01-28 10:05] thojest commented on #150
You are absolutely right. Im asking myself how I could miss this :)

Your suggestion about including a borrowed ChainSpec comes along with some "cyclic package dependency" issues, because now the type crate has to import the spec crate.

A simple solution would be to pass the epoch_length as a u64, e.g.:
[code]
What do you think? Maybe there is a better alternative including to resolve these circu

[2019-01-30 14:52] paulhauner commented on #97
This functionality is removed in #163

[2019-01-30 19:41] ralexstokes opened #177 "Add aggressive caching for crosslink committee calculation"
## Description

The basic logic for computing crosslink committees at a given slot was implemented in #148. As per the spec, a production implementation will want to avoid re-computing the committees for each slot. This implies we want to add some caching of the crosslink committee calculation to the `BeaconState`.

## Present Behaviour

Every call computes the full committee assignment for a give

[2019-01-30 19:41] ralexstokes opened #219 "Add caching for crosslink committee calculation"
## Description

The basic logic for computing crosslink committees at a given slot was implemented in #148. As per the spec, a production implementation will want to avoid re-computing the committees for each slot. This implies we want to add some caching of the crosslink committee calculation to the `BeaconState`.

## Present Behaviour

Every call computes the full committee assignment for a give

[2019-01-31 02:33] ralexstokes commented on #147
rest of these helpers are in #178

[2019-02-01 23:39] #165 closed

[2019-02-02 04:06] Feng94 commented on #94
I would like to try this one if nobody's already working on it :)

[2019-02-04 07:19] paulhauner commented on #136
Hey, sorry I missed this! I remember it showing up in a notification once but I couldn't find it! I was looking for it in eth2.0-specs as I saw Preston's name with it!

I stumbled across it by typing in the wrong URL, lucky!

Thanks for the response @prestonvanloon :)

@chronaeon, switching the lighthouse license has crossed my mind actually. We (foolishly) added GPL without much thought, before w

[2019-02-04 13:16] chronaeon commented on #136
No prob :)

After describing the events to prestonvanloon I realized it probably wasn't the best topic to put as an issue, since licensing debates can get dicey and cause divisions. Do you mind if we continue on a telegram chat?

[2019-02-04 13:20] chronaeon commented on #136
@paulhauner I found your name in the ETH security group so I'll PM you

[2019-02-04 13:20] prestonvanloon commented on #136
@chronaeon @paulhauner if you all have some compelling reasons to change from GPL, I'd love to hear them! I'm @prestonvanloon on telegram, if you'd like my input as well (no problem if not).

[2019-02-05 05:57] #92 closed

[2019-02-05 06:06] paulhauner opened #181 "Implement newtypes for `Slot` and `Epoch`"
## Description

Implement `Slot` and `Epoch` newtypes. To ensure we have type-safety between the two.

## Present Behaviour

The new `v0.1` spec makes "epochs first class citizens" and uses `Epoch` in some scenarios and `Slot` in others.

It is easy to get the two mixed up and this would result in significant, difficult-to-find errors.

## Expected Behaviour

Enforce type safety.

## Steps to reso

[2019-02-05 06:06] paulhauner commented on #181
I will be working on this next

[2019-02-05 06:08] paulhauner opened #182 "Update spec to spec v0.1"
## Description

Update to the [January pre-Release](https://github.com/ethereum/eth2.0-specs/releases/tag/v0.1) spec.

## Present Behaviour

We have implemented some previous version.

## Steps to resolve

This will be completed after #181.

[2019-02-05 06:08] paulhauner opened #210 "Update spec to spec v0.2"
## Description

Update to the [January pre-Release](https://github.com/ethereum/eth2.0-specs/releases/tag/v0.1) spec.

## Present Behaviour

We have implemented some previous version.

## Steps to resolve

This will be completed after #181.

[2019-02-05 06:09] paulhauner commented on #31
Addressed in #180

[2019-02-05 06:09] #31 closed

[2019-02-05 06:12] paulhauner commented on #94
Unfortunately this function has been removed with spec updates! Buzz me on Gitter if you're keen for something else, I'm going to make lots of new issues!

[2019-02-05 06:12] #94 closed

[2019-02-05 06:49] paulhauner commented on #91
I am closing this as domain has been added to signature-schemes as of `v0.4.1`. I'll open up a fresh issue to track it's implementation to Lighthouse. Thank you all <3

[2019-02-05 06:49] #91 closed

[2019-02-05 06:52] paulhauner opened #183 "Update to signature-schemes v0.4.1"
## Description

Our BLS library has upgrade to [`v0.4.1`](https://github.com/sigp/signature-schemes/releases/tag/0.4.1) to include a `domain` parameter.

## Present Behaviour

There is no domain information included on signatures.

## Expected Behaviour

Domains should be added to all signing and verification.

## Steps to resolve

1. Bump the `Cargo.toml` version to `v0.4.1`
2. Ensure all existin

[2019-02-05 06:52] paulhauner opened #211 "Update to signature-schemes v0.4.1"
## Description

Our BLS library has upgrade to [`v0.4.1`](https://github.com/sigp/signature-schemes/releases/tag/0.4.1) to include a `domain` parameter.

## Present Behaviour

There is no domain information included on signatures.

## Expected Behaviour

Domains should be added to all signing and verification.

## Steps to resolve

1. Bump the `Cargo.toml` version to `v0.4.1`
2. Ensure all existin

[2019-02-05 06:52] paulhauner commented on #183
I will cover this with #182

[2019-02-05 06:53] paulhauner commented on #100
Closing in favor of #182. Yay for a versioned spec.

[2019-02-05 06:53] #100 closed

[2019-02-05 06:53] paulhauner commented on #107
Closing in favor of #182.

[2019-02-05 06:53] #107 closed

[2019-02-05 06:54] paulhauner commented on #108
Closing in favor of #182

[2019-02-05 06:54] #108 closed

[2019-02-05 06:54] paulhauner commented on #103
Addressed in #180. We can make a new issue to track fork choice once @AgeManning is done.

[2019-02-05 06:54] #103 closed

[2019-02-05 06:56] paulhauner commented on #135
Closing this in favor of #181.

We can address further newtypes as we go.

[2019-02-05 06:56] #135 closed

[2019-02-05 06:56] paulhauner commented on #106
Closing in favor of #182

[2019-02-05 06:56] #106 closed

[2019-02-05 06:57] paulhauner commented on #145
This was implemented in #180.

[2019-02-05 06:57] #145 closed

[2019-02-05 07:01] paulhauner commented on #147
Closing in favor of #182

[2019-02-05 07:01] #147 closed

[2019-02-05 07:02] paulhauner commented on #182
Note, we should merge #178 and #148 as a part of this issue.

[2019-02-05 07:05] paulhauner commented on #149
Blocking on #183

[2019-02-05 07:17] paulhauner commented on #151
Closing this as it was implemented in #180. Discussion exists at #157. Sorry!

[2019-02-05 07:17] #151 closed

[2019-02-05 07:18] paulhauner commented on #97
Closing in favor of #182

[2019-02-05 07:18] #97 closed

[2019-02-05 07:20] paulhauner commented on #150
Just following up on this one, it's going to be blocked on #182 for now, as we need  `justified_epoch` instead of `justified_slot`.

[2019-02-05 07:22] kirk-baird commented on #183
Be aware of how `verify_hashed` works on this one, as messages are hashed twice. Once for the real part (append '0x01') and once for the imaginary part (append '0x02') of the X-coordinates.

It may be easier to not use `new_hashed` and  'verify_hashed' and instead use 'new' and 'verify'.

[2019-02-05 07:28] paulhauner opened #220 "Allow block and attestation production at past slots"
## Description

It might be useful for the `BeaconChain` to allow for producing blocks/attestations at previous slots (e.g., late message from a validator).

## Present Behaviour

Attestations and blocks are only produced at the current slot.

## Expected Behaviour

Go back and attempt to load a state from a previous slot and produce based upon it.

## Steps to resolve

NA

[2019-02-05 07:32] paulhauner opened #185 "AttestationAggregate needs better memory management"
## Description

The `AttestationAggregator` implementation is rather naive.

## Present Behaviour

- Stores all `Attestations` in-memory.
- Never deletes `Attestations`.

## Expected Behaviour

It should have a sane memory management strategy.

## Steps to resolve

1. Figure out a sensible strategy.
2. Discuss it here.
3. Implement it, once it is agreed upon.

[2019-02-05 07:32] paulhauner opened #221 "AttestationAggregator needs better memory management"
## Description

The `AttestationAggregator` implementation is rather naive.

## Present Behaviour

- Stores all `Attestations` in-memory.
- Never deletes `Attestations`.

## Expected Behaviour

It should have a sane memory management strategy.

## Steps to resolve

1. Figure out a sensible strategy.
2. Discuss it here.
3. Implement it, once it is agreed upon.

[2019-02-05 07:33] paulhauner commented on #182
Note to self: ensure all the old `proposer_nonce` artifacts are removed.

https://github.com/sigp/lighthouse/search?utf8=%E2%9C%93&q=proposer_slots&type=

[2019-02-05 07:41] paulhauner opened #186 "Rename "block producer" to "block proposer""
## Description

We presently use the term "block producer" to refer to what the spec refers to as a "block proposer". My bad

## Steps to resolve

All occurrences of "block producer" should be replaced with "block proposer".

1. Rename the [`eth2/block_proposer`](https://github.com/sigp/lighthouse/tree/master/eth2/block_producer) crate.
3. Look for usage in the [`validator_client`](https://github.

[2019-02-05 07:41] paulhauner opened #212 "Rename "block producer" to "block proposer""
## Description

We have a crate named "block_producer" that should be named "block_proposer".

"block_proposer" aligns to the spec better.

## Steps to resolve

1. Rename the [`eth2/block_proposer`](https://github.com/sigp/lighthouse/tree/master/eth2/block_producer) crate.

We don't need to update the sigp/lighthouse-beacon or lighthouse-validator implementations at this point. We can do that next

[2019-02-06 22:19] kirk-baird commented on #149
Function has changed name to `verify_slashable_attestation`

[2019-02-08 11:43] chronaeon opened #188 "SSZ Link Gives 404"
## Description

The link to the [SSZ Implementation](https://github.com/sigp/lighthouse/tree/master/beacon_chain/utils/ssz) in  README.md gives a 404 error.

## Expected Behaviour

The link to the [SSZ Implementation](https://github.com/sigp/lighthouse/tree/master/beacon_chain/utils/ssz) in README.md does not give a 404 error.

## Steps to resolve

Put an address that resolves or remove link from

[2019-02-08 11:43] chronaeon opened #213 "SSZ Link Gives 404"
## Description

The link to the [SSZ Implementation](https://github.com/sigp/lighthouse/tree/master/beacon_chain/utils/ssz) in  README.md gives a 404 error.

## Expected Behaviour

The link to the [SSZ Implementation](https://github.com/sigp/lighthouse/tree/master/beacon_chain/utils/ssz) in README.md does not give a 404 error.

## Steps to resolve

Put an address that resolves or remove link from

[2019-02-08 12:28] Feng94 commented on #186
Guess I'll take a look at this one!

Already got a question, in lighthouse now there are instances of the word "produce" being used instead of "propose" for what seems to be within the context of "block producer/proposer". An example of this is:

` /// Request that the node produces a block.`

Should the terminology "produce" be changed to "propose" for all instances?
If so, the example would then

[2019-02-10 20:54] paulhauner commented on #10
Hey @AgeManning, I suggest we close this issue for now. Partly because of the points raised in #132 and also because I don't think this is a priority at the moment. Thoughts?

[2019-02-11 05:36] paulhauner commented on #182
Swapping to v0.2.0 spec.

[2019-02-11 19:14] mjkeating opened #193 "Update TreeHash to spec"
Please provide a brief description of the issue.

Needs necessary padding as per https://github.com/ethereum/eth2.0-specs/pull/538

Describe the present behaviour of the application, with regards to this
issue.

Doesn't have padding

## Steps to resolve

1. Change current hash_tree_root to hash_tree_root_internal
2. Add new hash_tree_root that pads result to 32 bytes if necessary
3. Add necessary

[2019-02-11 19:14] mjkeating opened #214 "Update TreeHash to spec - add necessary padding"
Please provide a brief description of the issue.

Needs necessary padding as per https://github.com/ethereum/eth2.0-specs/pull/538

Describe the present behaviour of the application, with regards to this
issue.

Doesn't have padding

## Steps to resolve

1. Change current `hash_tree_root` to `hash_tree_root_internal`
2. Add new `hash_tree_root` that pads result of `hash_tree_root_internal` to 32 b

[2019-02-11 20:13] mjkeating commented on #193
I've started working on this.

[2019-02-11 22:15] AgeManning commented on #10
Yep agreed. We can circle back when we need to.

[2019-02-11 22:15] #10 closed

[2019-02-11 22:21] AgeManning commented on #181
This has been completed.

[2019-02-11 22:21] #181 closed

[2019-02-11 22:28] AgeManning opened #194 "Implement Optimised LMD Ghost"
## Description

Currently the LMD-GHOST algorithm is suboptimal. There are other implementations proposed such as vitaliks (https://github.com/ethereum/research/blob/master/ghost/ghost.py). These should be implemented and the fork-choice algorithm should be generalised to allow the `beacon_chain` to select which fork choice to use.

[2019-02-11 22:28] AgeManning opened #222 "Implement Optimised LMD Ghost"
## Description

Currently the LMD-GHOST algorithm is suboptimal. There are other implementations proposed such as vitaliks (https://github.com/ethereum/research/blob/master/ghost/ghost.py). These should be implemented and the fork-choice algorithm should be generalised to allow the `beacon_chain` to select which fork choice to use.

[2019-02-12 02:57] paulhauner opened #196 "Migrate SSZ to little-endian."
## Description

SSZ has moved from big-endian to little-endian.

Our [ssz crate](https://github.com/sigp/lighthouse/tree/master/eth2/utils/ssz) still uses big-endian. It needs to be migrated to little-endian.

## Steps to resolve

- Ensure the `eth2/utils/ssz` crate matches the endianness defined in the [SSZ spec](https://github.com/ethereum/eth2.0-specs/blob/v0.2.0/specs/simple-serialize.md).
- L

[2019-02-12 02:57] paulhauner opened #215 "Migrate SSZ to little-endian"
## Description

SSZ has moved from big-endian to little-endian.

Our [ssz crate](https://github.com/sigp/lighthouse/tree/master/eth2/utils/ssz) still uses big-endian. It needs to be migrated to little-endian.

## Steps to resolve

- Ensure the `eth2/utils/ssz` crate matches the endianness defined in the [SSZ spec](https://github.com/ethereum/eth2.0-specs/blob/v0.2.0/specs/simple-serialize.md).
- L

[2019-02-12 05:34] paulhauner opened #197 "New repository structure"
## Problem

Whenever we need to bump up a spec version, it requires a single PR to update the _entire_ repository, including eth2 libraries, the beacon node binary and the validator client binary.

The present all-in-one repository structure means that updates to the spec:

- Create giant PRs that are impractical to review.
- Almost always create merge conflicts as it touches a lot of files.
- Cre

[2019-02-12 11:48] darrenlangley commented on #196
Hi guys, I have done this task - just sanity checking and looking for other test vectors. Will PR by the end of the week.

[2019-02-12 20:31] paulhauner commented on #196
Awesome @darrenlangley, thank you!

It's looking like we're going to do #197 today, so you might have to do a copy/paste the changes into another repo, sorry.

I'll make sure no-one touches SSZ so it doesn't get messy :)

[2019-02-12 20:58] paulhauner opened #199 "Update to ethereum-types 0.5.0"
## Description

We're presently using [`ethereum-types`](https://crates.io/crates/ethereum-types) version `0.4.0`.

We're getting some `deprecated` lints from clippy regarding using `H256::from()` for slices. If we upgrade to `0.5.x` we can start using the new API.

## Steps to resolve

- Upgrade all `ethereum-types` to version `0.4` (note: _not_ `0.4.0`, we're going to ignore the PATCH version fo

[2019-02-12 20:58] paulhauner opened #216 "Update to ethereum-types 0.5.0"
## Description

We're presently using [`ethereum-types`](https://crates.io/crates/ethereum-types) version `0.4.0`.

We're getting some `deprecated` lints from clippy regarding using `H256::from()` for slices. If we upgrade to `0.5.x` we can start using the new API.

## Steps to resolve

- Upgrade all `ethereum-types` to version `0.4` (note: _not_ `0.4.0`, we're going to ignore the PATCH version fo

[2019-02-13 00:29] protolambda commented on #197
A few days ago I requested prysmatic labs to move their SSZ lib to its own repo, and I would like to see the same here. Not only as an effort to prevent bigger change-sets for releases to either library, but also to invite community projects to contribute back to the common libraries.

See Prysm issue: https://github.com/prysmaticlabs/prysm/issues/1549

[2019-02-13 00:46] AgeManning commented on #197
Our current thinking is that there are quite a few such libraries that will be cross-project such that it would be infeasible to maintain a separate repo for each individually.
Our plan is to separate these into their own crates in the lighthouse-common repo.
Each crate can be maintained and upgraded independently and pulled individually from crates.io.

[2019-02-13 02:55] paulhauner commented on #196
New repo is here: https://github.com/sigp/lighthouse-common

Sorry if this caused some inconvenience!

I'm going to transfer this issue to the new repo :)

[2019-02-13 02:56] paulhauner commented on #193
Moving to https://github.com/sigp/lighthouse-common

Apologies if the repo re-org has caused inconvenience! (See #197)

[2019-02-13 02:57] paulhauner commented on #186
I'm going to transfer this to https://github.com/sigp/lighthouse-common.

We can make the changes to the validator client and beacon node in separate PRs :)

[2019-02-13 03:00] paulhauner commented on #182
#192 partially addressed this. The new shuffling algorithm still needs to be implemented.

[2019-02-13 03:04] paulhauner commented on #146
Transferring this to: https://github.com/sigp/lighthouse-common

[2019-02-13 03:46] paulhauner commented on #197
I agree @protolambda that it would be great to have SSZ split out into a new repo, but I also agree with @AgeManning that we should hold off on that for the time being.

[2019-02-13 03:47] paulhauner commented on #197
Accidental close -- I subconsciously clicked "close" because I wanted to abandon the message I was typing. Oops!

[2019-02-14 01:43] #197 closed

[2019-02-14 03:47] paulhauner opened #224 "Implement v0.2.0 shuffling algo"
## Description

Implement `get_permutated_index` (see below):

[code]

[2019-02-14 03:48] paulhauner commented on #211
This is open for anyone, I didn't end up starting it.

[2019-02-14 03:48] paulhauner commented on #224
Related to #210

[2019-02-14 13:34] paulhauner opened #229 "Add crate with int_to_bytes[n] functions"
## Description

The spec defines some functions that turn `int -> bytes` and `bytes -> int`:

https://github.com/ethereum/eth2.0-specs/blob/dev/specs/core/0_beacon-chain.md#int_to_bytes1-int_to_bytes2-

We have these functions spread out across the code-base at the moment. We should collect them all into one tidy crate.

[2019-02-15 01:32] paulhauner commented on #229
I've submitted a PR for this in #230

[2019-02-15 02:29] paulhauner opened #231 "Ensure `test_harness` works with v0.2.0"
## Description

`test_harness` is failing since the latest v0.2.0 spec updates.

## Task

Ensure it functions again.

[2019-02-15 02:30] paulhauner commented on #231
I'm on this now

[2019-02-15 04:33] #224 closed

[2019-02-15 07:04] #229 closed

[2019-02-17 09:27] paulhauner opened #237 "Shift `CachedBeaconState` across to references"
## Description

`CachedBeaconState` is duplicating the entire `BeaconState`. This is a huge waste of memory.

Instead, it should take a reference to `BeaconState`

## Steps to resolve

I think this would be best done with an `Arc`, using lifetime specifiers (e.g., `'a`) will be a bit burdensome.

[2019-02-18 00:52] kirk-baird opened #239 "Update to validate_proof_of_possession"
## Description

The method `verify_proof_of_possession` has been changed to `validate_proof_of_possession`.
The new method has already been written in eth2/types/beacon_state.rs but has not been implemented.

This also requires eth2/utils/bls/lib.rs create_proof_of_possession to be updated to reflect the the changes in validation.

## Present Behaviour

Currently it operates functionally based on

[2019-02-19 23:39] paulhauner opened #244 "Simplify repeated SSZ "round-trip" tests into macro"
## Description

Each type in `types` repeats a SSZ test for encoding then decoding the object.

https://github.com/sigp/lighthouse/blob/a1118e13ae1279d9bfcc7e4a9faff5a55da2507d/eth2/types/src/attestation.rs#L90-L99

https://github.com/sigp/lighthouse/blob/a1118e13ae1279d9bfcc7e4a9faff5a55da2507d/eth2/types/src/deposit.rs#L65-L74

This is a prime target for a macro.

## Steps to resolve

- Create a

[2019-02-19 23:41] paulhauner opened #245 "Create derive macro for TreeHash"
## Description

Presently we manually implement `TreeHash` on all types.

https://github.com/sigp/lighthouse/blob/a1118e13ae1279d9bfcc7e4a9faff5a55da2507d/eth2/types/src/attestation.rs#L62-L71

This is a prime target for a procedural derive macro, like implemented in #242.

## Steps to resolve

- Add a `#[derive(TreeHash)]` macro in the `ssz_derive` crate.
- Replace manual implementations with the

[2019-02-19 23:43] paulhauner commented on #245
@mjkeating you might find this interesting :)

[2019-02-19 23:47] paulhauner opened #246 "Create derive macro for TestRandom"
## Description

Presently we manually implement `TestRandom` on all types.

https://github.com/sigp/lighthouse/blob/a1118e13ae1279d9bfcc7e4a9faff5a55da2507d/eth2/types/src/attestation.rs#L73-L82

This is a prime target for a procedural derive macro, like implemented in #242.

## Steps to resolve

- Create a `test_random_derive` library crate in `eth2/utils`, using `eth2/utils/ssz_derive` as inspir

[2019-02-19 23:48] paulhauner commented on #204
Closed in favor of #245, #246 and the PR #242.

[2019-02-19 23:48] #204 closed

[2019-02-20 15:32] mjkeating commented on #245
Cool. I'll start looking at this.

[2019-02-20 23:45] AgeManning opened #247 "Build test scenario's for bitwise LMD Ghost Fork Choice"
## Description

[Bitwise LMD-GHOST](https://ethresear.ch/t/bitwise-lmd-ghost/4749) is a fork choice algorithm which selects the chain which has the most votes. The algorithm is here: [bitwise_lmd_ghost](https://github.com/sigp/lighthouse/blob/master/eth2/fork_choice/src/bitwise_lmd_ghost.rs). The testing framework is [here](https://github.com/sigp/lighthouse/blob/master/eth2/fork_choice/tests/test

[2019-02-22 00:38] AgeManning opened #248 "Build network server framework with Libp2p Gossipsub"
## Description

Build a network server struct which can run as it's own task spawned in a tokio thread pool. This will utilize rust-libp2p gossipsub and allow Lighthouse nodes to connect to each other.

Further details will be added as this issue progresses.

[2019-02-22 10:52] thojest commented on #246
work started :)

[2019-02-23 03:26] #214 closed

[2019-02-23 21:21] paulhauner opened #252 "ChainSpec is fixed to foundation."
## Description

The [ChainSpec](https://github.com/sigp/lighthouse/blob/master/eth2/types/src/chain_spec.rs) for the validator client is presently fixed to `foundation`.

`foundation` is the specification from the EF that is expected to be used in the production beacon chain.

This is not ideal as it doesn't allow for testnets.

## Steps to resolve

In the long-term, I think it would be best to lo

[2019-02-23 21:42] paulhauner opened #253 "Validator keys are generated randomly"
## Description

Keys for the validator client are randomly generated at runtime. They should be loaded from the filesystem.

## Steps to resolve

- Define some file structure for validator client local files.
- At runtime, read the local directory and instantiate all validators.
- Define a key generation routine which can generate these local files.

## Additional Info

### File structure

I propo

[2019-02-23 21:51] paulhauner opened #254 "Implement slash protection"
## Description

The validator client does not store the messages it signs and is therefore vulnerable to generating slashable messages

## Steps to resolve

- Determine a suitable database format.
- Ensure all signed messages are stored in the database.
- Ensure that newly signed messages are not in conflict with any previously signed messages.

### Additional Info

#### Database formats

We want

[2019-02-23 21:53] paulhauner opened #255 "Implement attester service"
## Description

The [`attester`](https://github.com/sigp/lighthouse/tree/master/eth2/attester) logic is not yet implemented in the validator client (however it does run in tests and simulations).

## Steps to resolve

- Implement the `attester` crate in a similar fashion to the `block_proposer` crate.

[2019-02-23 21:56] paulhauner opened #256 "Load genesis_time from the beacon node."
## Description

`genesis_time` is required to determine the present slot.

Presently, the val client assumes that the `genesis_time` is known, this will not be the case whilst we're waiting for the deposit contract to fill up and emit a chain-start event.

## Steps to resolve

- Implement some service that can poll the beacon node and determine (a) if a `genesis_time` exists and (b) what it is.

[2019-02-23 22:20] paulhauner opened #257 "Signature domains are not generated correctly"
## Description

The validator client is presently using dummy values for the `domain` parameter required for BLS signatures.

Determining this value requires knowledge of the current [`Fork`](https://github.com/ethereum/eth2.0-specs/blob/dev/specs/core/0_beacon-chain.md#fork) struct for the present `BeaconState`. See ['get_domain'](https://github.com/ethereum/eth2.0-specs/blob/dev/specs/core/0_bea

[2019-02-23 22:20] paulhauner commented on #223
Closed in favor of:
- #252
- #253
- #254
- #255
- #256
- #257

[2019-02-23 22:20] #223 closed

[2019-02-24 19:35] #237 closed

[2019-02-25 21:43] #211 closed

[2019-03-01 03:43] paulhauner commented on #213
Fixed in #267

[2019-03-01 03:43] #213 closed

[2019-03-01 06:41] AgeManning opened #269 "Create optimised lmd-ghost fork choice from bitwise-lmd-ghost"
## Description

Currently we have bitwise_lmd_ghost which as an optimised fork choice rule. This will be useful in phase 1 of the spec. Currently we require an optimised version of lmd-ghost for phase 0. This can be easily created from bitwise-lmd-ghost by modifying the `choose_best_child` function: https://github.com/sigp/lighthouse/blob/8671c5790c453a9a945469baa4f15c4a8157956b/eth2/fork_choice/s

[2019-03-01 13:33] AgeManning commented on #222
Closed in #243

[2019-03-01 13:33] #222 closed

[2019-03-01 17:19] thojest commented on #252
work started

[2019-03-02 00:17] paulhauner commented on #246
Fixed in #250

[2019-03-02 00:17] #246 closed

[2019-03-02 00:17] paulhauner commented on #245
Fixed in #251

[2019-03-02 00:17] #245 closed

[2019-03-02 00:17] paulhauner commented on #231
Fixed with #234

[2019-03-02 00:17] #231 closed

[2019-03-02 00:18] paulhauner commented on #219
Now exists in `BeaconState` :)

[2019-03-02 00:18] #219 closed

[2019-03-02 00:18] paulhauner commented on #212
Fixed in #241

[2019-03-02 00:18] #212 closed

[2019-03-02 00:18] paulhauner commented on #210
Resolved with #224

[2019-03-02 00:18] #210 closed

[2019-03-02 00:19] paulhauner commented on #207
Fixed in #226

[2019-03-02 00:19] #207 closed

[2019-03-02 16:39] mjkeating opened #272 "Fix TreeHash algorithm for containers"
## Description

The current TreeHash implementation for structs (containers) does not use merkle_hash as per the [spec](https://github.com/ethereum/eth2.0-specs/blob/dev/specs/simple-serialize.md#container-2).

## Present Behaviour

Fields within a container are TreeHashed, concatenated, and hashed.

## Expected Behaviour

Fields within a container should be TreeHashed, added to a list which is th

[2019-03-02 16:43] mjkeating commented on #272
I'm starting on this.

[2019-03-03 05:02] paulhauner opened #275 "Devise strategy for handling included deposits, exits and slashings"
## Description

Presently, whenever a `Deposit`, `Exit`, `AttesterSlashing` or `ProposerSlashing` is seen in a block it is deleted from our "inclusion queues" to prevent it being re-included.

This strategy is optimal if there are no forks, however if the `BeaconChain` swaps to another branch where that object has not been included, it will not re-include it again.

## Steps to resolve

Note: this

[2019-03-03 05:02] paulhauner opened #276 "Verify deposits, exits and slashings before queueing"
## Description

Presently, whenever a `Deposit`, `Exit`, `AttesterSlashing` or `ProposerSlashing` is given to the `BeaconChain` it does not verify it before adding it to the "inclusion queue".

Therefore, if one submits an invalid object it will cause block production to fail indefinitely thereafter.

## Steps to resolve

Note: this code is currently in #264, do not start issue until it has been m

[2019-03-03 07:01] #272 closed

[2019-03-03 23:37] michaelsproul commented on #216
I'm working on this

[2019-03-04 02:19] #206 closed

[2019-03-05 00:52] michaelsproul commented on #244
I've started working on this, it looks quite straight-forward (a macro already exists in `slot_epoch_macros`)

[2019-03-05 06:07] paulhauner opened #281 "Implement a sensible block-operations pool"
## Overview

We need to implement a sustainable block-operations pool for storage of objects that may be included in blocks.

### Details

The following [v0.4.0](https://github.com/ethereum/eth2.0-specs/blob/0.4.0/specs/core/0_beacon-chain.md) block operations (blops, lol) are covered in the scope of this issue:

- `Attestation`
- `Deposit`
-  `ProposerSlashing`
- `AttesterSlashing`
- `VoluntaryEx

[2019-03-05 06:09] paulhauner commented on #281
I'm thinking it might be sensible to leave `Attestation` out of scope now -- it's pretty significant. Apologies for the giant text.

[2019-03-05 20:51] #244 closed

[2019-03-05 21:00] paulhauner commented on #281
Note: I just updated the deletion conditions for `Attestation`

[2019-03-05 22:49] michaelsproul commented on #281
To clarify, we're talking about an in-memory-only pool for now, yeah?

[2019-03-05 22:51] paulhauner commented on #281
Yep!

[2019-03-06 01:58] paulhauner commented on #281
I'm doing a refactor of the block/state processing logic for `v0.4.0` and it's producing a lot of functions that will be useful for the inclusion validator conditions here.

Hopefully I can get a WIP PR up this afternoon -- I'll point out the useful functions to you :)

[2019-03-06 21:26] #252 closed

[2019-03-06 23:06] paulhauner opened #285 "Endianess for hash comparisons"
## Description

When ordering hashes (e.g., "choose the smallest hash") endianness needs to be considered. It seems that little-endian should be used for comparisons, I am not sure what is used for `Hash256`.

See: https://github.com/ethereum/eth2.0-specs/issues/556#issuecomment-461512041

## Steps to resolve

- Check endianness of `Hash256` comparisons.
- Fix if required.

[2019-03-06 23:07] michaelsproul commented on #216
@paulhauner we can close this now (sorry, I should have done it in my commit)

[2019-03-06 23:31] #216 closed

[2019-03-07 22:46] paulhauner opened #287 "SignedRoot macro could be more flexible"
## Description

In the `ssz_derive` crate, there is a `SignedRoot` macro which implements the `SignedRoot` trait.

## Present Behaviour

Definition: `fn signed_root(&self) -> Hash256`

The macro will serialize each field until it finds one where the type path (e.g., `types::Signature`) ends with either `"Signature"` or `"AggregateSignature"`. Note: it's checking for the text, not the actual type -

[2019-03-08 00:04] mjkeating opened #288 "Update TreeHash to the lastest spec"
## Description

The [SSZ spec](https://github.com/ethereum/eth2.0-specs/blob/dev/specs/simple-serialize.md) has been rewritten which include TreeHash changes.

## Present Behaviour

Old Spec Behavior.

## Expected Behaviour

-  ChunkSize is now 32 bytes in merkle_hash
- number of chunks are extended to the next power of 2 if necessary
- `tree_hash_root_interna()`l is removed (just `tree_hash_root(

[2019-03-08 00:04] mjkeating commented on #288
Working on this.

[2019-03-08 12:46] thojest commented on #255
work started

[2019-03-11 04:37] kirk-baird commented on #239
This has changed slightly in the new spec and validate_proof_of_possession is no longer a function as the logic is done inside process_deposit.
Create_proof_of_possession also needs to reflect this change in logic and should be covered in #291

[2019-03-12 02:48] 192-sean commented on #269
im interestd in taking on this issue.

[2019-03-12 04:07] AgeManning commented on #269
Hey @192-sean. Currently I think @pawanjay176 had started this issue.

However there is a more advanced fork-choice project I could help you with, if you are interested.

[2019-03-12 05:25] 192-sean commented on #269
Alright sounds good

[2019-03-12 11:09] AgeManning opened #296 "Implement protolambda's `simple_back_prop` lmd ghost"
## Description

This is a more involved first issue. Some learning may be required.

@protolambda has created a number of optimised versions of LMD ghost in go. This issue is for porting one of these implementations into rust and lighthouse.

The repository containing the optimised go algorithms is [here](https://github.com/protolambda/lmd-ghost).

It would be useful to add the `simple_back_prop`

[2019-03-12 11:10] AgeManning commented on #269
@192-sean - See #296 :).

If you think it may be too difficult, I can find something else :).

[2019-03-12 13:36] 192-sean commented on #296
I'll give it a go

[2019-03-13 00:30] paulhauner commented on #285
@pawanjay176 has started looking at this :)

[2019-03-13 00:31] paulhauner commented on #276
Closing in favor of #281

[2019-03-13 00:31] #276 closed

[2019-03-13 00:31] paulhauner commented on #275
Closing in favor of #281

[2019-03-13 00:31] #275 closed

[2019-03-13 00:32] paulhauner commented on #208
Closing this as I can't see us implementing this anytime soon.

[2019-03-13 00:32] #208 closed

[2019-03-13 00:33] paulhauner commented on #202
No longer relevant.

[2019-03-13 00:33] #202 closed

[2019-03-14 03:10] AgeManning commented on #247
Will add more test vectors when released in the phase 0 test vectors.

[2019-03-14 03:10] #247 closed

[2019-03-14 03:10] AgeManning commented on #269
Closed in #297

[2019-03-14 03:10] #269 closed

[2019-03-15 23:16] #288 closed

[2019-03-16 13:41] djrtwo commented on #287
note: `signature_field` is removed in v0.5.0. The convention is to have signature last and for `signed_root(obj)` to slice off the last field and do a`hash_tree_root`

[2019-03-17 01:15] AgeManning opened #309 "Correct optimised LMD Ghost rules for > 60,000 blocks"
## Description
There's a bug in the log-lookups which will panic if trying to run the fork choice over 60,000 blocks. This should be accounted for and corrected.

[2019-03-17 12:40] paulhauner commented on #287
Thanks Danny!

Given this, I think we should ditch my earlier proposal and use a field attribute to mark the "stop hashing" field.

E.g.,

[code]
Example: [this commit](https://github.com/sigp/lighthouse/pull/308/commits/01bfd386375f69e20bc157c8bc26217077b8e97b) allows test random to support the changes introduced in [this later commit](https://github.com/sigp/lighthouse/pull/308/commits/c648491c4

[2019-03-18 22:34] #239 closed

[2019-03-19 00:36] paulhauner commented on #281
Hey, related to our conversation a few minutes ago -- here's how my step-by-step of attestation aggregation should work.

_Note: I'm not 100% sure this is accurate. Keep an eye out for edge cases or oversights on my behalf._

1. Get an `Attestation` (`a`) from the network.
1. [Validate](https://github.com/sigp/lighthouse/blob/37b8e9f39a50737bd7d74f984fc614d6bf6e5f49/eth2/state_processing/src/per_b

[2019-03-19 00:49] AgeManning opened #312 "Re-write RPC over Libp2p"
## Description

The current implementation mixes the RPC commands with the lower level libp2p protocol. This was originally done to perform the SSZ decoding as we receive packets.

It is cleaner and has better logic separation to perform the decoding and RPC logic in its own module which deals with the associated functions, separating it from the networking stack.

This needs a re-write and re-des

[2019-03-19 01:23] paulhauner opened #313 "Parse state transition tests."
## Description

_Parse_ the tests, but not necessarily _pass_ them.

## Overview

For now, fork my [v0.5.0](https://github.com/sigp/lighthouse/pull/308) branch and build on top of it. (Please don't commit to that branch directly).

There are test vectors here: https://github.com/ethereum/eth2.0-tests/tree/master/state. Note: one of them is 34Mb so we **don't** want to commit it to our repo -- we'l

[2019-03-19 05:26] michaelsproul opened #314 "Use BitOr instead of BitAnd for union operation on bitfields"
## Description

At the moment we're using `BitAnd` (i.e. `&`) as an operator for computing the union of two bitfields, despite the underlying operation being more like a `BitOr` (i.e. `|`). We should change to using `BitOr` for union, and possibly `BitAnd` for intersection.

## Steps to resolve

Change `BitOr` to `BitAnd`, fix all usage sites (looks like not many: I've already done this on my oper

[2019-03-19 16:36] pawanjay176 commented on #312
would love to help out on this issue

[2019-03-20 23:22] AgeManning commented on #312
Oh cool. This one is tricky because it refers to the libp2p RPC spec (RPC across the network for nodes to directly communicate) which is still being debated.
I've written an initial version, and am not happy with it. The re-write will need to happen after I jig around with the rest of the networking.

I'll let you know when its ready to re-implement.

In the meantime, we still need to write and de

[2019-03-20 23:29] paulhauner commented on #285
The spec has changed and we no longer need this!

[2019-03-20 23:29] #285 closed

[2019-03-20 23:29] paulhauner commented on #221
Closing in favor of #281

[2019-03-20 23:29] #221 closed

[2019-03-20 23:43] paulhauner opened #317 "Test committee building with registry update"
## Description

Add a new test case for committee building.

## Details

The specification has a [`get_crosslink_committees_at_slot`](https://github.com/ethereum/eth2.0-specs/blob/v0.5.0/specs/core/0_beacon-chain.md#get_crosslink_committees_at_slot) function with returns a list of crosslink committees for that slot.

Our implementation is a little different -- we build all the committees for all t

[2019-03-20 23:43] paulhauner commented on #317
@g-r-a-n-t I heard you might be interested in this :)

[2019-03-21 00:45] g-r-a-n-t commented on #317
Hey @paulhauner, you've heard right. Can pick this up and start working on it over the weekend.

[2019-03-21 07:57] AgeManning commented on #257
What if we modified, `produce_beacon_block()` on the `BeaconNode` to return a tuple `(block, domain)`.
On a quick glance, it seems to only be used in `BlockProposer` when signing blocks.

[2019-03-21 08:02] AgeManning commented on #256
I'm considering a service which is akin to an `info()`. This requests basic information from the beacon node, to initiate the validator client. Information would include,
[code]

[2019-03-21 08:05] spble commented on #256
I think this is a good idea, and should also possibly include a `syncing` status, or `currentBlockNumber` and `highestBlockNumber` (to infer if it's syncing)

[2019-03-21 23:17] paulhauner commented on #317
Awesome, let me know if I can help!

[2019-03-21 23:18] paulhauner commented on #256
Yep, agreed. Including the `fork` info in there would be relevant. It's the BLS signature equivalent of `network_id`.

[2019-03-22 02:02] kirk-baird opened #320 "Empty Signature"
## Description

The specs states that Empty Signatures are represented as 96 bytes of 0.
Neither `bls-aggregates` nor `apache milagro crypto library` has a representation for an empty Signature as these libraries represent a valid point (including infinity).

## Present Behaviour

Currently we are using empty_signature `bls::Signature::empty_signature()` as the point at infinity but `ssz_decode(em

[2019-03-22 05:20] #320 closed

[2019-03-24 20:34] paulhauner opened #323 "Block processing testing"
## Description

During the latest spec update and code restructure we lost a lot of our block processing testing.

The objective of this issue is:

**implement regression testing that ensures block processing fails when supplied an invalid parameter.**

## Detail

Block processing lives in the [`state_processing`](https://github.com/sigp/lighthouse/tree/master/eth2/state_processing) crate, specifi

[2019-03-24 20:35] paulhauner commented on #323
@darrenlangley I believe you're interested in this issue :)

[2019-03-25 06:33] kirk-baird opened #324 "SSZ Length for bytesN"
## Description

SSZ List items are to be prepended with 4 bytes to show the length.
Should Address, Bitfield, PublicKey, Hash256, and Signature, AggregateSiganture have the length prepended?

## Present Behaviour

Currently the following prepend the length bytes:
- Bitfield (N bytes)
- Signature (96 bytes)
- AggregateSignature (96 bytes)
- PublicKey (48 bytes)

While the following types do not pre

[2019-03-26 00:59] kirk-baird commented on #324
The verdict is that any types with a fixed number of bytes can be considered tuples hence do not prepend the length e.g. Signatures, Addresses,...
Those with a variable number of bytes e.g. Bitfield will require the length to be prepended.

# TODO
Remove encoding/decoding of length from
- Signature
- Aggregate Signature
- PublicKey
- Any other types with fixed number of bytes
Ensure Bitfield and o

[2019-03-26 03:29] zedt3ster opened #326 "Lighthouse re-licensing: GPL 2.0 -> Apache 2.0"
Sigma Prime core contributors (@paulhauner , @AgeManning , @spble , @kirk-baird, @michaelsproul and others) have recently been discussing licensing for Lighthouse. We would like to change the licensing on Lighthouse to a more permissive, less restrictive license: Apache 2.0 (presently GPL 2.0).

We would like to request our [contributors](https://github.com/sigp/lighthouse/graphs/contributors) to

[2019-03-26 03:29] zedt3ster commented on #326
I agree with re-licensing my work on this project to Apache 2.0.

[2019-03-26 03:31] paulhauner commented on #326
I agree with re-licensing my work on this project to Apache 2.0

[2019-03-26 03:31] AgeManning commented on #326
I agree with re-licensing my work on this project to Apache 2.0.

[2019-03-26 03:32] kirk-baird commented on #326
I agree with the change to Apache 2.0.

[2019-03-26 03:35] NatoliChris commented on #326
I agree with re-licensing my work on this project to Apache 2.0.

[2019-03-26 04:17] spble commented on #326
I agree with re-licensing my work on this project to Apache 2.0.

[2019-03-26 05:14] michaelsproul commented on #326
I agree with re-licensing my work on this project to Apache 2.0

[2019-03-26 05:31] mjkeating commented on #326
I agree with re-licensing my work on this project to Apache 2.0!!

[2019-03-26 06:05] paulhauner commented on #326
Gotta be different, eh? :laughing:

[2019-03-26 06:11] kirk-baird opened #329 "Pass State Transition Test"
## Description

Now there is the methodology to parse the state transition tests into rust format, run them and confirm the output.

## Present Behaviour

N/a

## Expected Behaviour

The test should run and pass!

## Steps to resolve

Create rust tests to run the test case.
Ensure correct output.

[2019-03-26 06:56] seansu4you87 commented on #209
I'm interested in tackling this.  Do you know where these test vectors can be found?

[2019-03-26 07:09] mjkeating commented on #209
As far as I know, they don't yet exist. This issue has been a place holder/reminder so we follow up on it when they come into existence.

[2019-03-26 09:20] thojest commented on #326
I agree with re-licensing my work on this project to Apache 2.0

[2019-03-26 14:48] g-r-a-n-t commented on #326
I agree with re-licensing my work on this project to Apache 2.0

[2019-03-26 22:46] seansu4you87 commented on #287
@paulhauner I'm interested in taking this on if no one else has started.

Just to make sure I'm understanding this correctly, is the idea for only fields before #[signed_root(end)] to be used in a call to hash_tree_root?  So in your example of
[code]

We would only pass `sign_this` and `and_this` to `hash_tree_root` to get the signed root of a `Things` struct, and skip `dont_sign_this` and `or_thi

[2019-03-27 11:35] darrenlangley commented on #326
I agree with re-licensing my work to Apache 2.0

[2019-03-27 15:21] mjkeating commented on #287
So, to get the hash_tree_root of an object we call `hash_tree_root` of its member structs and then `merkle_hash` the resulting list of hashes. This is currently done in the `TreeHash` macro in `szz_derive`. We should be able to add this change to the `TreeHash` macro. In the macro, we simply stop hashing the object's member fields when we see the field name 'signature'.  So:

[code]

This should w

[2019-03-27 16:03] aj07 commented on #326
I agree

[2019-03-27 18:37] seansu4you87 commented on #287
@mjkeating I see, so the desired functionality is to stop hashing implicitly when we detect a field name in the struct named `signature`?

In terms of comparing the implicit stop based on a field name, vs an explicit `#[signed_root(end)]`, I personally think that the explicit annotation is preferable.  I feel like the implicit interface can lead to unexpected behavior and bugs for the user.  Howev

[2019-03-27 19:59] mjkeating commented on #287
Sure, using the annotation sounds good to me.

[2019-03-28 11:50] #256 closed

[2019-03-28 22:41] AgeManning commented on #248
The basic implementation for this was completed in #286

[2019-03-28 22:41] #248 closed

[2019-03-28 22:44] AgeManning commented on #136
We are re-licencing in #326

[2019-03-28 22:44] #136 closed

[2019-03-28 23:10] drozdziak1 commented on #326
I agree

[2019-03-30 04:15] AgeManning opened #335 "Simplify validator generics"
## Description

The validator client allows for a generic `Signer` type and generic `BeaconNode` types.

The `Signer` type abstracts objects that can sign messages. It is currently implemented on the `Keypair` type, but may be used for hardware wallets or more sophisticated objects in the future.

The `BeaconNodeDuties`,  `BeaconNodeBlock` and `BeaconNodeAttestation` traits abstract the grpc serve

[2019-03-30 04:32] AgeManning opened #336 "Validator client to request block production at specific slot"
## Description

Once #220 is complete. We should force the validator client to ask for a specific slot to be produced, in case there is timing issues in the grpc or validator client. This may mean the validator client signs a block at the wrong slot.

Once implemented, we may want the validator client to also ensure the block it is signing is of the correct slot, for added protection.

[2019-03-30 04:44] paulhauner opened #337 "BLS serialization is not consistent"
## Description

The following test fails (when run in the `eth2/utils/bls` crate).

[code]
It only fails on the third `assert_eq`.

## Steps to resolve

Figure out what's causing this.

[2019-03-30 05:15] paulhauner commented on #337
Here's a branch with the failing test: https://github.com/sigp/lighthouse/tree/failing-bls

[2019-03-30 05:21] AgeManning opened #338 "Combine all custom errors using error_chain in validator client"
## Description

The validator client has a number of custom errors in the block producer and attestation producer. These can and should be simplified by chaining the errors using `error_chain` which is implemented in the validator `Service`.

[2019-03-30 21:35] seansu4you87 commented on #326
I agree with re-licensing my work on this project to Apache 2.0.

[2019-03-31 02:55] AgeManning opened #340 "Change the gRPC interface to allow for lighthouse specific errors"
## Description

Currently we are handling all BeaconNode errors are RPCStatus errors. Which are handled in the validator client as `BeaconNodeError(string)`. It would be more useful to have specific errors which allows the validator client to perform error-specific handling.

For example, if we request a slot that is in the future, the beacon node could return an error of, slot in the future. The

[2019-03-31 03:01] AgeManning opened #341 "Implement Retries for block / attestation production"
## Description

If we request a future block, the validator client will return an `RpcStatus::OutOfRange` error.

For the remaining duration of the block, we should get the validator to re-attempt to produce a block/attestation.

This can happen if the node is busy processing logic and hasn't updated the state, when the validator asks it to produce output.

This would likely require #340 so that w

[2019-03-31 09:23] pawanjay176 commented on #337
I'll pick this up

[2019-04-01 03:32] AgeManning opened #342 "Re-implement seperate threading for validator client duties"
## Description

I've removed the threading for the request for duties. This is because at the start of an epoch, the duties will update in parallel, and `process_duties` may not see the updated duties when processing.

The current work-around is to make the duties request sequential, such that `process_duties` always runs after the duties have been updated.

This is not good, as the core timing th

[2019-04-01 03:34] AgeManning commented on #255
This is resolved in #334

[2019-04-01 03:34] #255 closed

[2019-04-03 00:33] ralexstokes commented on #326
I agree with re-licensing my work on this project to Apache 2.0.

[2019-04-04 22:43] #313 closed

[2019-04-05 05:24] #314 closed

[2019-04-09 23:56] hwwhww commented on #337
Hey, as discussed yesterday, I tried to run this case in `py_ecc`:
[code]

We don't have API as `as_uncompressed_bytes`, so I only tried `pubkey_to_G1` instead.

Output
[code]

Do we get the same `pubkey` here?

[2019-04-09 23:58] darrenlangley commented on #323
Hi @gitcoinbot - just groking and will submit a WIP PR shortly :)

[2019-04-11 18:59] pawanjay176 commented on #337
The pubkey seems to be different.
[code]

Output
`PublicKey(PublicKey { point: (11C772735AB6055C672F116CDEFBBF26F7AD6DDA775F105A3CBB49C12FFDF3B4A6AE62F7F048571CED1271DE9F9626BF,0D801F73ED1A7B916F0E00286008306A52B7BE06E9BB3985C8F0BF321D85E140C010ADF6AC8805D2B3D9A76ED3A8498A) })`

[2019-04-12 03:48] Feng94 commented on #326
I agree with re-licensing my work on this project to Apache 2.0.

[2019-04-12 05:05] kirk-baird commented on #337
Hey guys, I just found out why this was happening it's because `int_to_bytes48()` converts it to little endian whereas `SecretKey::from_bytes()` is big endian.

Why the the conversion too / from uncompressed bytes occurs when fails when using little endian - 830 I'm not sure but my guess would be something funky happening as you have a secret key bigger than the curve order. Theoretically that sho

[2019-04-12 07:21] terenc3t commented on #326
I agree with re-licensing my work on this project to Apache 2.0.

[2019-04-12 09:51] chronaeon commented on #326
I agree with re-licensing my work on this project to Apache 2.0

[2019-04-13 03:28] johnomarkid commented on #326
I agree with re-licensing my work on this project to Apache 2.0.

[2019-04-13 18:44] pawanjay176 commented on #326
I agree with re-licensing my work on this project to Apache 2.0

[2019-04-14 08:45] ltfschoen commented on #326
I agree with re-licensing my work on this project to Apache 2.0

[2019-04-14 22:26] zedt3ster commented on #326
Thanks to everyone who agreed to this re-licensing! We're only missing one approval from @pinkiebell to move to Apache 2.0!

@pinkiebell - could you please let us know if you agree with this? Many thanks!

[2019-04-14 22:36] pinkiebell commented on #326
@zedt3ster 👍 Never got a notification until yet :)

Here it comes:

I agree with re-licensing my work on this project to Apache 2.0.

🎉

[2019-04-14 22:47] zedt3ster commented on #326
Thank you so much everyone! This is a big step in making this project even more open!

[2019-04-14 22:47] #326 closed

[2019-04-14 23:23] paulhauner commented on #337
Thanks @kirk-baird!

I'm thinking we should either:

1. Leave this issue open to ensure we investigate.
2. Open a new, more specific issue to examine the point you raise.

Happy to take your guidance Kirk.

[2019-04-14 23:34] paulhauner opened #348 "Travis build is exceeding 50min maximum"
## Description

Travis has a 50min max run-time for tests and we're exceeding it, causing builds to fail.

I suspect we can improve this disabling some complex tests in debug (only running them in release).

## Steps to resolve

Move some long-running tests to release-only

[2019-04-14 23:35] paulhauner commented on #348
I will have a fix for this today.

[2019-04-14 23:46] michaelsproul commented on #348
@paulhauner, I was thinking we could consider _only_ running the tests in `--release`? In #345 I've had to add yet-another test configuration (`--release` with `--features fake_crypto`), so I was thinking we could do something like:

Travis:

* Run most  tests in `--release`
* Run small state transition tests with `--release --features fake_crypto`

Jenkins:
* Run all tests in `--release` (using `

[2019-04-14 23:46] michaelsproul commented on #348
i.e. do away with running anything in debug mode

[2019-04-14 23:47] michaelsproul commented on #348
Oh, but we'd lose panic-on-overflow behaviour :(

[2019-04-15 00:02] darrenlangley commented on #323
Hi @gitcoinbot - yes I am working on this task.

[2019-04-15 00:27] paulhauner commented on #348
Hmm, this is a good point. The issue with Jenkins is that it only runs for "contributors" because if you edit the Dockerfile in this repo you basically have root on our Jenkins box.

I've been chatting to @spble to try and figure out a way that we can have fast, public CI.

I have a PR over at #349, maybe we can kick the can down the road a bit with it.

[2019-04-15 00:31] michaelsproul commented on #348
Yeah I think that should be good for now

[2019-04-15 04:21] kirk-baird commented on #337
I'll leave this one here for now :)

This should be done in https://github.com/sigp/signature-schemes/blob/master/src/keys.rs

We have two options:
a) Have `SecretKey::from_bytes()` include modulus curve order before returning the secret key.
b) Having a check to ensure `0 <= secret_key < curve order` and returning Err() if not

I'm leaning more towards b) as it's bad practice to have secret keys

[2019-04-16 01:25] #348 closed

[2019-04-18 20:27] darrenlangley opened #354 "Block Processing Tests - Proposer Slashing"
# Detail

Block processing lives in the `state_processing` crate, specifically in the `per_block_processing.rs` file and `per_block_processing/` dir.

Tests are implemented in the file: ... `state_processing/src/per_block_processing/tests.rs`.

The task will primarily consist of:

For each test, modify the valid block (or state?) to trigger some invalidity condition and assert that that condition

[2019-04-18 20:31] darrenlangley opened #355 "Block Processing Tests - Attester Slashing"
# Detail

Block processing lives in the `state_processing` crate, specifically in the `per_block_processing.rs` file and `per_block_processing/` dir.

Tests are implemented in the file: ... `state_processing/src/per_block_processing/tests.rs`.

The task will primarily consist of:

For each test, modify the valid block (or state?) to trigger some invalidity condition and assert that that condition

[2019-04-18 20:35] darrenlangley opened #356 "Block Processing Tests - Attestations"
# Detail

Block processing lives in the `state_processing` crate, specifically in the `per_block_processing.rs` file and `per_block_processing/` dir.

Tests are implemented in the file: ... `state_processing/src/per_block_processing/tests.rs`.

The task will primarily consist of:

For each test, modify the valid block (or state?) to trigger some invalidity condition and assert that that condition

[2019-04-18 20:42] darrenlangley opened #357 "Block Processing Tests - Deposits"
# Detail

Block processing lives in the `state_processing` crate, specifically in the `per_block_processing.rs` file and `per_block_processing/` dir.

Tests are implemented in the file: ... `state_processing/src/per_block_processing/tests.rs`.

The task will primarily consist of:

For each test, modify the valid block (or state?) to trigger some invalidity condition and assert that that condition

[2019-04-18 20:45] darrenlangley opened #358 "Block Processing Tests - Exits"
# Detail

Block processing lives in the `state_processing` crate, specifically in the `per_block_processing.rs` file and `per_block_processing/` dir.

Tests are implemented in the file: ... `state_processing/src/per_block_processing/tests.rs`.

The task will primarily consist of:

For each test, modify the valid block (or state?) to trigger some invalidity condition and assert that that condition

[2019-04-18 20:47] darrenlangley opened #359 "Block Processing Tests - Transfers"
# Detail

Block processing lives in the `state_processing` crate, specifically in the `per_block_processing.rs` file and `per_block_processing/` dir.

Tests are implemented in the file: ... `state_processing/src/per_block_processing/tests.rs`.

The task will primarily consist of:

For each test, modify the valid block (or state?) to trigger some invalidity condition and assert that that condition

[2019-04-18 20:54] darrenlangley commented on #323
This issue is a very large piece of work so we have broken it up into the following:

_Proposer Slashing_ https://github.com/sigp/lighthouse/issues/354
_Attester Slashing_ https://github.com/sigp/lighthouse/issues/355
_Attestations_ https://github.com/sigp/lighthouse/issues/356
_Deposits_ https://github.com/sigp/lighthouse/issues/357
_Exits_ https://github.com/sigp/lighthouse/issues/358
_Transfers

[2019-04-25 23:04] #281 closed

[2019-04-25 23:05] #215 closed

[2019-04-25 23:05] #217 closed

[2019-04-25 23:06] paulhauner commented on #257
@AgeManning I'm guessing this has been rectified?

[2019-04-25 23:06] #287 closed

[2019-04-25 23:07] paulhauner commented on #317
Closing this as spec 0.6.0 does not have the with/without registry change path.

[2019-04-25 23:07] #317 closed

[2019-04-25 23:07] paulhauner commented on #323
Closing in favor of @darrenlangley's issue.

[2019-04-25 23:07] #323 closed

[2019-04-25 23:07] paulhauner commented on #324
Closing -- I understand this has been fixed.

[2019-04-25 23:07] #324 closed

[2019-04-25 23:08] paulhauner commented on #329
Tests are passing!

[2019-04-25 23:08] #329 closed

[2019-04-29 09:03] darrenlangley commented on #323
Hi @gitcoinbot I am still working on this.

[2019-04-29 23:51] paulhauner opened #361 "Refactor database wrapper"
## Description

Serialization/deserialization to the database is presently tightly coupled to SSZ serialization. This creates awkward and verbose code when it comes to objects with fields that should not be serialized for consensus but _should_ be serialized for stores in the DB (e.g., caches).

## Steps to resolve

Define some new traits (naming subject to change):

- `DBItem`: defined on each to

[2019-04-29 23:51] paulhauner commented on #361
I am working on this now.

[2019-05-01 01:41] AgeManning opened #362 "Write Libp2p tests"
## Description

`rust-libp2p` is currently unstable and is frequently updating its external API's. Manual testing every update is time-consuming and inefficient.

A series of unit tests, which spin up a node, send messages over various protocols and verifies each  libp2p `behaviour` will be useful, help find errors and minimize effort of manual testing.

[2019-05-04 08:08] paulhauner opened #364 "Upgrade SSZ to use SOS"
## Description

Implement SOS-style offsets for SSZ, as per spec v0.6.1 ([link](https://github.com/ethereum/eth2.0-specs/blob/v0.6.1/specs/simple-serialize.md).

## Steps to resolve

Update `ssz` and `ssz_derive` crates.

[2019-05-07 05:10] paulhauner opened #367 "Fixed-length SSZ lists"
## Description

During #364 I have come across an issue with how we deal with spec "constants".

## Summary

When SSZ decoding some bytes into a `BeaconState`, we must know the length of any fixed-length list (e.g., `latest_randao_mixes`, `current_crosslinks`, etc) in order to decode it.

Presently we have these lists as variable-length `Vec` and we have a chicken/egg problem where we don't know h

[2019-05-07 05:19] AgeManning commented on #367
(4) - combined with a macro seems like a good solution to me

[2019-05-07 06:08] paulhauner commented on #367
I have verbal approval for (4) from @michaelsproul so I'll go ahead and create a PR for it.

[2019-05-07 06:10] #205 closed

[2019-05-07 06:46] michaelsproul commented on #367
Yep, I'm in favour of (4) so long as we limit the number of type parameters introduced on Beacon State to 1.

I also think we should consider using `typenum`/`generic_array` to reduce the amount of boilerplate we have to write. My PoC for this is here, including boxing the array so it's stored on the heap: https://gist.github.com/michaelsproul/2c8e0d68617c736352ce9f4055cb295b

The only thing we lo

[2019-05-10 06:26] paulhauner opened #373 "Add type safety to cached_tree_hash::TreeHashCache"
## Description

`cached_tree_hash::TreeHashCache` presently provides no type safety between the type that created it and the type which updates it.

It would be nice to add a `PhantomData` field to ensure you can only call `TreeHashCache::update(..)` with the same type that instantiated it (e.g., `TreeHashCache::new(..)` or `TreeHashCache::from_bytes(..)`.

## Notes

This may end up rather complic

[2019-05-12 05:54] mslipper opened #374 "JSON log output for testing"
## Description

Hi Lighthouse team,

Antoine Toulmne and I are working on an ETH2 test runner that needs access to the state of the clients under test at each block. Currently, we're doing this by exposing a JSON log with the following format:

[code]

We were thinking that the log would be exposed by either:

1. A CLI flag to write the log to the specified directory.
2. A JSON-RPC endpoint to get

[2019-05-12 09:14] paulhauner commented on #374
Hi @mslipper,
  Thanks for reaching out!

I'll start with our present plans for APIs, then ask a couple of questions about this format.

We are intending to provide two APIs average users just care about (1) and advanced users can use (2):

1. HTTP-REST (JSON) "General Purpose" API: Basically the same functionality as existing Eth1 clients. Provides information about the canonical chain and allows

[2019-05-13 05:16] #367 closed

[2019-05-13 05:50] paulhauner opened #375 "Remove Jenkinsfile"
## Description

There is a `Jenkinsfile` in the crate root. I suspect it is not supposed to be there, @spble can you please remove it if so :)

[2019-05-13 06:20] mslipper commented on #374
Man, my bad for that find-replace. That's what I get for not proofreading. Hope I didn't come across as impersonal.

`block_root` does refer to the client's "best" block root (@atoulmne can you confirm?). Regarding the Websocket API, if it streams the same information as is currently included within the proposed JSON schema then I'm all for using it. It's relatively trivial for us to write a wrapp

[2019-05-13 09:00] paulhauner commented on #374
No worries, happens to the best of us! I appreciate you reaching out.

We don't have the WS API yet, nor have we spec'd it out. I imagine that'll happen in the coming weeks. However, I'm thinking that your request sounds like it would be best served from the HTTP API, considering you're after _canonical_ info, not just _all_ info, do you agree?

Luke has been specifying the validator HTTP API via

[2019-05-13 09:05] paulhauner commented on #374
Just looking at the equivalent issue on the Prysm repo and saw this:

For testing we have been using a function we (inelegantly) named "chain dump". It produces an array of these objects, from genesis through to head:

[code]
Perhaps this is the info you're after?

[2019-05-14 01:29] #375 closed

[2019-05-14 01:33] paulhauner opened #377 "Implement EF test runner"
## Description

The specs repo contains/can generate YAML test vectors. We need the ability to parse and implement these tests.

## Steps to resolve

My present thinking is that we build a new crate which contains all the logic to parse and execute the tests, and execute each file from the `tests/` dir of that crate.

This is opposed to the strategy where we have each individual crate run itself a

[2019-05-14 02:31] darrenlangley commented on #323
Hi @gitcoinbot I am still working on this.

[2019-05-15 01:21] #364 closed

[2019-05-16 13:21] vs77bb commented on #323
Thanks @darrenlangley for keeping us posted here. We've snoozed Gitcoin Bot for 10 days here as I know you've broken this up elsewhere.

[2019-05-17 00:13] mslipper commented on #374
Yes, this is the info we're after! How shall I call that method? Is it accessible via CLI/RPC, or is it something I'll have to write a tool to link against?

[2019-05-17 06:34] paulhauner opened #379 "Enforce minimum validator count"
## Description

There are assumptions some assumptions made about the minimum validator count (e.g., there is at least one validator for each slot per epoch).

Presently we do not enforce a minimum validator count, we just don't spin up systems with too few validators. This works for testing, but will soon become frustrating. We should throw a major error (effectively a panic) if a chain is starte

[2019-05-17 14:10] michaelsproul commented on #379
Definitely agree, the errors you get at the moment with too few validators are very strange

[2019-05-20 01:20] paulhauner commented on #323
This issue is complete! @gitcoinbot you can do your magic :)

[2019-05-20 01:24] paulhauner commented on #379
There has been some progress towards this here: 399ad6e

[2019-05-21 04:34] kirk-baird commented on #337
The solution to the issue is:
https://github.com/sigp/signature-schemes/pull/26

Note we will be required make release "0.7.0" in the signature schemes library and update the tag in eth2/utils/bls/Cargo.toml to match.

[2019-05-21 04:42] kirk-baird commented on #209
I'm closing this as these tests are checked in `tests/ef_tests/eth2.0-spec-tests/ssz_static` as part of ssz tests.
They are currently on branch `ef-tests`

[2019-05-21 04:42] #209 closed

[2019-05-21 05:26] paulhauner opened #382 "Implement a flag for logging to file"
## Description

We use `slog` to log to CLI for both the `beacon_node` and `validator_client`.

It's working well but we also need the option to log to file so we can examine the logs later.

I think the best UX would be adding a CLI flag that allows setting the debug level for the log file, then dumping into some JSON file.

## Steps to resolve

1. Figure out if there's some established flag by g

[2019-05-21 05:43] AgeManning commented on #382
Hit me up if you have any issues with CLI options or misc beacon client things.

[2019-05-22 00:45] #361 closed

[2019-05-22 04:37] paulhauner opened #384 "Deposit signatures & pubkeys may not be valid BLS"
## Description

The deposit contract does not verify BLS signatures or pubkeys and therefore they may contain arbitrary bytes.

Presently we would fail to parse any `Deposit` with an invalid signature or pubkey, this is a consensus-breaking bug.

## Steps to resolve

My suggestion is to create a `MaybeInvalidSignature` (or more aptly named) wrapper around `Signature` that permits parsing invalid b

[2019-05-22 07:12] michaelsproul commented on #384
A wrapper around `Signature` sounds like a good option

[2019-05-22 13:48] vlopes11 opened #385 "SSZ ambiguous reference in tests module"
## Description

Upon the execution of `cargo +nightly test` in `eth2/utils/ssz` module, we receive

[code]

## Present Behaviour

The impact is the impossibility to execute the tests on a nightly toolchain (and consequentially on a future stable build)

## Expected Behaviour

All tests run should be successful in stable, beta and nightly

## Steps to resolve

There should be a small fix to refer `

[2019-05-24 00:11] kirk-baird commented on #384
You could have a struct `SignatureBytes([u8; 96])` and implement a few methods such as
- `toSignature()`
- `isValid()`

[2019-05-24 00:18] kirk-baird commented on #385
What version of nightly are you using?

This compiled and ran fine for me on v1.36.0

[2019-05-24 01:07] kirk-baird commented on #385
Scratch that I can reproduce the error now

[2019-05-30 16:42] b-m-f commented on #296
Hi @AgeManning,
Is this up for grabs again? Would like to start helping abit whenever I have some time.

[2019-05-30 19:00] protolambda commented on #296
Do take a look at one of the later additions, an array based one: https://github.com/protolambda/lmd-ghost#array-based-stateful-dag-proto_array It turned out to be the fastest in my latest simulation, which I posted a few weeks ago in the sharding gitter, here: https://gist.github.com/protolambda/23cc276b8562c811b3e36b21676a8ef6 (disclaimer: note that different algos are favored by different simul

[2019-05-31 00:49] AgeManning commented on #296
Thanks @protolambda!
@b-m-f - Hey. Yep this is on the back-burner at the moment and we would love some help building it whenever you have the time.
I'm available whenever you need to help explain anything / where to start, which code to look at etc.
Ping me either here or on gitter if/when you need help :).

[2019-06-06 13:49] paulhauner opened #394 "RPC Encoding is broken"
## Description

Nodes are failing to communicate because the SSZ encoding for `RPCEvent` is broken.

[2019-06-11 10:08] b-m-f commented on #296
@AgeManning alright , thanks :) I am quite busy right now so I cant yet start. If anyone reads this and has time and motivation, feel free to grab it!

[2019-06-11 10:17] spble commented on #340
This issue is no longer relevant as the gRPC interface will be replaced with a RESTful HTTP interface.

[2019-06-11 10:17] #340 closed

[2019-06-13 01:46] AgeManning commented on #394
This will be updated in the re-write. I think our temporary fix is good.

[2019-06-13 01:46] #394 closed

[2019-06-19 08:14] jzaki opened #401 "Running benchmarks as per README.md currently fails"
## Description

`cargo bench --all`
...
`error: build failed`

## Present Behaviour

Several errors when compiling.

## Expected Behaviour

Build and show benchmark results.

## Steps to resolve

Fix compile issues.

[2019-06-19 08:37] paulhauner opened #402 "Inconsistent committees"
## Description

It appears that the same state (by tree hash root) can give two different results for block proposer.

The following code produces the following output.

#### Code

[code]

#### Output

[code]

[2019-06-19 08:39] paulhauner commented on #402
I'm looking into this now.

[2019-06-19 08:54] jzaki opened #403 "Cargo.lock file ignored, so builds between machines could use different dependencies"
## Description

Cargo.lock shouldn't be ignored for binaries [https://doc.rust-lang.org/cargo/faq.html#why-do-binaries-have-cargolock-in-version-control-but-not-libraries](https://doc.rust-lang.org/cargo/faq.html#why-do-binaries-have-cargolock-in-version-control-but-not-libraries)

## Present Behaviour

Dev who runs `cargo update` after a dependency update will have a different version to existing

[2019-06-19 08:55] jzaki commented on #403
This may not be a priority whilst at this stage of development, and everyone runs `cargo update` on occasion.

[2019-06-19 21:54] paulhauner commented on #402
Update: seems to be an error with `generate_seed` where `epoch == current_epoch + 1`.

[2019-06-22 17:15] c-o-l-o-r opened #404 "SSZ cannot compile to target `wasm32-unknown-unknown`"
## Present Behaviour

There appears to be two main issues:
1. The `hashing` crate depends on `ring`, which does not compile to WebAssembly due to its reliance on custom assembly: https://github.com/briansmith/ring/issues/657#issuecomment-396416821
2. There are a couple places where a 64-bit architecture is assumed, but wasm only supports 32-bit [at this time](https://github.com/rust-lang/rustup.rs

[2019-06-24 05:51] paulhauner opened #406 "Add free attestations to fork choice"
## Description

Presently, only attestations that are included in blocks are included in fork choice.

They were not implemented in the fork-choice refactor (#398), instead we deferred them for later implementation.

## Steps to resolve

Attestations provided to the [`process_attestation`](https://github.com/sigp/lighthouse/blob/8afe8b3569085d05eba78a0cb11399485320405b/beacon_node/beacon_chain/src

[2019-06-24 06:08] paulhauner opened #407 "Remove "next epoch" committee cache"
## Description

On the `BeaconState` we store three committee caches:

- `RelativeEpoch::Previous`: for `state.current_epoch() - 1`
- `RelativeEpoch::Current`: for `state.current_epoch()`
- `RelativeEpoch::Next`: for `state.current_epoch() + 1`

I propose that the `RelativeEpoch::Next` is unnecessary whilst `MIN_SEED_LOOKAHEAD < 2` (it is presently `1`).

As we process randao reveals during `state

[2019-06-24 06:09] paulhauner commented on #253
Resolved in #346

[2019-06-24 06:09] #253 closed

[2019-06-24 06:09] paulhauner commented on #257
Resolved at some point in the past

[2019-06-24 06:09] #257 closed

[2019-06-24 06:16] paulhauner commented on #296
Our wide selection of fork choice algos was removed in #398 and replaced with the "reduced tree" fork choice.

We did this because maintaining several fork choice implementations was burdensome.

Perhaps in the future we can start a new effort to benchmark fork choice algorithms, but I'll close this issue until we decide to do that.

[2019-06-24 06:16] #296 closed

[2019-06-24 06:16] paulhauner commented on #309
We removed this fork choice algo in #398 :)

[2019-06-24 06:16] #309 closed

[2019-06-24 06:18] paulhauner commented on #337
Hey @kirk-baird, can you please confirm that this is solved and we can close the issue? :)

[2019-06-24 06:18] paulhauner commented on #377
Resolved in #378

[2019-06-24 06:18] #377 closed

[2019-06-24 06:19] paulhauner commented on #385
Resolved in #386

[2019-06-24 06:19] #385 closed

[2019-06-24 06:20] paulhauner commented on #402
Resolved this -- turns out it was related to #407. Solved in #398 by ensuring that the "next" committee cache must be rebuilt after an epoch transition.

[2019-06-24 06:20] #402 closed

[2019-06-24 23:08] paulhauner opened #408 "Tidy Cargo dependencies"
## Description

Cargo dependencies (`Cargo.toml`) could use some love.

I suggest we:

- Remove any unused dependencies (I suspect there are many).
- ~~Add a caret (`^`) to deps we want to keep upgrading.~~
- Add `Cargo.lock` to git.

[2019-06-24 23:11] paulhauner commented on #220
Resolved by #398

[2019-06-24 23:11] #220 closed

[2019-06-25 01:03] michaelsproul commented on #408
Deps without any signifier are implicitly taken to be caret dependencies, so bullet (2) may not be necessary: https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#specifying-dependencies-from-cratesio

[2019-06-25 04:14] paulhauner opened #410 "The validator key ... did not match the directory filename"
## Description

The validator client is giving the following error:

[code]

## How to reproduce

1. Start a beacon node (otherwise the validator will not read keys): `./beacon_node -r --rpc`
2. Generate keys: `./account_manager -d ~/.lighthouse-validator generate_deterministic -i 0 -n 16`
3. Start validator: `./validator_client`

[2019-06-25 04:32] paulhauner opened #411 "Tracking: v0.0.1 milestone"
## Description

This issue should track the features we want to include/exclude from the `v0.0.1` release milestone.

**Tentative date: 15/7/19**

## Required Features:

- A phase 0 testnet that can run on 1s slot times for 2 days.
- VC/BN communications via HTTP.
- A HTTP API beyond that of the minimal validator requirements.
- Should not bypass any significant part consensus (except deposit cont

[2019-06-25 04:44] paulhauner commented on #408
Related to #403

[2019-06-25 05:02] paulhauner opened #412 "Syncing instability"
## Description

When running on 1s block times, nodes are falling out of sync permanently.

I suspect this is a fundamental flaw in our syncing logic that only becomes visible in "extreme" environments.

[2019-06-25 08:18] kirk-baird commented on #337
Yep this is solved in the `milargo_bls` library.

[2019-06-25 08:18] #337 closed

[2019-06-27 05:40] paulhauner opened #417 "SSZ Partials API"
## Description

High-level discussion about implementing SSZ partials in Lighthouse.

## API Design

I have thought of two potential designs, one has stronger type-level guarantees whilst the other is simpler to implement on a struct.

My preference is **API 1**.

The code provided is intended as a rough example, it wouldn't compile.

I'm keen for input/feedback.

### API 1: Not wrapping all the f

[2019-06-27 06:08] paulhauner commented on #417
Re-opening. I closed the issue because I accidentally posted it before I completed writing it.

[2019-06-27 20:56] c-o-l-o-r commented on #417
This is great, thanks Paul!

I think the first API would be a great place to start. Here are my thoughts on it:

* the simplicity is great
* the lack of type-level make me feel like there are better solutions
* most of the work for this interface would need to be implemented anyways for more complex interfaces
* I don't see a major use case for accessing elements via their path vs. the dot syntax

[2019-06-28 23:03] axic commented on #417
For prototyping reasons I'd argue **API 1** is a good starting point, assuming it won't take too much time to implement compared to **API 2**.

We can experiment with this API within execution environments, which should give a good indication whether individual leaf nodes or bigger branches are accessed more frequently and should also clarify how frequently unavailable nodes are accessed (e.g. tho

[2019-07-01 08:12] michaelsproul opened #419 "BlockRootsIterator skips the block at the start slot"
## Description

The `BlockRootsIterator` iterates backwards over all blocks from a given slot, but doesn't ever return the block at the `start_slot` which the iterator is instantiated with.

## Present Behaviour

Iterates backwards over blocks from `start_slot - 1` (inclusive)

## Expected Behaviour

Iterates backwards over blocks from `start_slot` (inclusive)

## Steps to resolve

I think we shou

[2019-07-02 01:23] AgeManning opened #420 "Eth 2.0 RPC Request/Response Stream Handling"
## Description

Re-write the Eth2.0 libp2p RPC protocol to support request/response handling as outlined here: https://github.com/ethereum/eth2.0-specs/pull/1158

This involves opening a substream per-request, waiting for a varied number of responses (we will use a tokio codec) before closing the substream.

Shift the decoding up from the libp2p layer into the beacon-chain for efficiency.

[2019-07-03 00:19] kirk-baird opened #421 "Underflow in verify_transfer"
## Description

In `eth2/state_processing/src/per_block_processing/verify_transfer.rs`
Verifying the balance of `sender` should check against `amount + fee` rather just `amount`.

## Present Behaviour

Currently the code has a check `sender_balance >= transfer.amount`
[code]
Which does not account for the fee.

## Expected Behaviour

`sender_balance >= total_amount`

## Steps to resolve

Change `t

[2019-07-03 03:48] #412 closed

[2019-07-03 06:10] paulhauner opened #422 "Publish SSZ crate on crates.io"
## Description

Our SSZ crate should be published on crates.io so it can be used in other projects (e.g., Scout)

## Steps to Resolve

- Solve the conflict between our crate and the `ssz` crate Parity already published on crates.io
- Publish it.

[2019-07-03 08:48] g-r-a-n-t commented on #406
Hey @paulhauner, is it cool if I pick this one up?

[2019-07-03 08:50] paulhauner commented on #406
Please do! I think this will be a good one for you.

We're in the process of updating to the "frozen" spec (v0.8.0) but I don't think that'll affect you. In the worst case I imagine there will be a small merge conflict at some point -- nothing to worry about.

If you need anything, @michaelsproul and I are happy to help!

[2019-07-03 21:28] c-o-l-o-r commented on #404
Closed with #405

[2019-07-03 21:28] #404 closed

[2019-07-04 04:44] paulhauner commented on #410
Closing this -- I understand the bug has been fixed.

[2019-07-04 04:44] #410 closed

[2019-07-04 04:55] paulhauner commented on #419
Good pick up, thanks for raising this. I've been meaning to explain my rationale here.

The root at `state.slot` is a little tricky. Firstly, we can never get it from `state.block_roots` because it only gets included when `process_slot` transitions into the next slot.

There is the possibility that if `state.beacon_block_header.slot == state.slot` we could determine the beacon_block root, however

[2019-07-04 04:56] paulhauner commented on #417
Cool! Seem's we agree :)

I'll close this for now, feel free to open up if you want to discuss

[2019-07-04 04:56] #417 closed

[2019-07-04 08:04] michaelsproul commented on #407
This is probably not a great first issue until the linked eth-specs issue is resolved

[2019-07-04 10:09] paulhauner commented on #407
Consider it blocked!

[2019-07-09 03:40] kirk-baird commented on #419
This may cause issues when trying to target slots that are not the current.
For example:
`current_slot = 100`
`target_slot = 50`
`BlockRootsIterator::new(target_slot)` will start counting down from `49` and skip the `target_slot`

Proposing a solution to:
Iterate backwards from `start_slot` (inclusive)
If `start_slot == state.current_slot -> return None`

This will involve putting `self.slot -= 1`

[2019-07-09 06:53] paulhauner commented on #419
You're right, it's unnecessarily strict. Good catch!

Looking foward to seeing the fix in your PR :)

[2019-07-09 07:28] michaelsproul opened #430 "Update operation pool to use correct attestation inclusion reward"
## Description

The operation pool needs to take the effective balances of the validators into account when calculating which attestations will yield the most rewards.

## Present Behaviour

Previously, we had misunderstood the spec and were paying proposers rewards proportional to their own effective balance, when the correct reward is: `get_base_reward(state, attester_index) // PROPOSER_REWARD_Q

[2019-07-09 09:46] paulhauner opened #431 "Implement new BitList/BitVec structs"
## Description

Spec v0.8.0 has two bitfields.

- `BitVector`: fixed-capacity
- `BitList`: variable capacity, with a maximum

## Steps to resolve

Implement these types

[2019-07-09 10:02] paulhauner opened #432 "Implement v0.8.0 tree hash"
## Description

Spec v0.8.0 makes breaking changes to [Merklization](https://github.com/ethereum/eth2.0-specs/blob/v0.8.0/specs/simple-serialize.md#merkleization).

The largest change for us is the requirement that most lists be padded out to a maximum size before hashing. This necessitates a good "zero-tree" caching algo (i.e., a strategy to avoid performing hashes on parts of the tree that are z

[2019-07-09 10:03] paulhauner commented on #432
I am working on this in the coming days/week.

[2019-07-09 10:07] paulhauner opened #433 "Implement new SSZ types across codebase"
## Description

#426 contains some new structs that are required for v0.8.0 compliance.

## Steps to resolve

Once #426 is merged, implement these types across the entire codebase.

[2019-07-09 13:18] michaelsproul commented on #433
I'll do this as part of the v0.8 upgrade

[2019-07-09 16:06] AgeManning opened #434 "Save ENR to disk on shutdown"
## Description

ENR's will likely get updated due to a changing IP address when connecting with other nodes. The updated ENR should be saved for future use.

[2019-07-09 16:08] AgeManning opened #435 "Combine poll_fn's in Network service"
## Description

A cleaner approach to polling the network channel as well as driving the libp2p service is to combine both poll fn's rather than forming a loop over them.

[2019-07-10 22:58] jzaki commented on #357
Still getting my head around the code, and will look into this.

[2019-07-10 23:22] #422 closed

[2019-07-11 01:59] jzaki commented on #357
Updating above:
- [ ]  Invalid::DepositCountInvalid
_verify_deposit_merkle_proof_
    - [ ]  Invalid::BadMerkleProof
_verify_deposit_index_
    - [ ]  Invalid::BadIndex
_verify_deposit_signature_
    - [ ]  Invalid::BadSignature

[2019-07-11 06:53] #431 closed

[2019-07-11 07:59] paulhauner commented on #357
@jzaki thanks for jumping onto this, these tests are important!

I think it might be a good idea to wait on @michaelsproul's input before going too far. The state transition code is his domain and we're updating to `v0.8.0` now.

[2019-07-12 02:29] paulhauner commented on #432
I'm working on this in #436.

[2019-07-12 02:39] paulhauner commented on #411
I think we should push this date back. I propose the 25/07 but I'm flexible.

@AgeManning, @spble, @michaelsproul keen to hear your thoughts :)

[2019-07-12 02:50] spble commented on #411
Agreed, 25th July sounds good!

[2019-07-12 06:52] jzaki commented on #408
[cargo fix with unused_imports lint](https://github.com/rust-lang/rust/pull/56645)

[2019-07-16 05:28] jzaki commented on #430
I'll join on this one...

[2019-07-16 08:53] paulhauner opened #440 "Implement v0.8 optimized cached tree hash"
## Description

As mentioned in #432, spec v0.8.0 changes Merkleization to have significantly more padding nodes than previous specs.

Our current tree hash caching implementation wastes space by storing padding nodes.

## Notes

I've discussed this with @michaelsproul who expressed some interest in taking this issue. We have some strategies in mind, but I won't go to the effort of detailing them

[2019-07-16 08:54] paulhauner commented on #432
Implemented in #436.

Note: this does not implement cached tree hash, that is tracked with #440.

[2019-07-16 08:54] #432 closed

[2019-07-16 10:59] b-m-f commented on #434
Hi @AgeManning,

Could https://github.com/sigp/lighthouse/blob/master/beacon_node/eth2-libp2p/src/discovery.rs#L297 be used for this?

If yes, what would be an appropriate place to extract this functionality to?

And the moment this should happen would probably be somewhere after https://github.com/sigp/lighthouse/blob/master/beacon_node/src/run.rs#L130 ?

[2019-07-16 12:48] AgeManning commented on #434
Hi @b-m-f ,
Exactly! Sorry I didn't give extra detail in the issue, I should have been more verbose, but you've tracked it down it seems!

I've just had a quick look at this, and my first thought too was to save on shutdown. However, it's quite important for discovery that we don't lose our updated ENR's, which we might do for ungraceful shutdowns.

Also, I realize that I don't expose the updated

[2019-07-17 04:55] michaelsproul commented on #407
Closing as v0.8.1 of the spec fixes the off-by-one error and makes the next epoch cache viable again!

[2019-07-17 04:55] #407 closed

[2019-07-17 06:41] b-m-f commented on #434
Cheers. I will give it a try.

[2019-07-17 08:23] michaelsproul opened #442 "Simplify next_epoch_start_shard"
## Description

`next_epoch_start_shard` could be implemented in terms of `get_epoch_start_shard`, using `RelativeEpoch::Next` now that we definitely have a stable committee cache for the next epoch.

[2019-07-17 19:19] b-m-f commented on #434
Hi @AgeManning,

I just opened https://github.com/sigp/lighthouse/pull/443 . Havent tested it yet, will get around to it this weekend.

Maybe you have some feedback already, then Id be happy to update the PR.
I am new to both Rust and the ETH spec :)

[2019-07-18 01:52] paulhauner commented on #407
MNECVA!

[2019-07-18 18:59] vs77bb commented on #406
@g-r-a-n-t Funded this via our the EF budget and reserved for you. Please 'Start Work' whenever you can 🙂 good luck!

[2019-07-19 01:48] paulhauner commented on #440
We should ensure we test the new cached tree has in the `ssz_static` EF tests.

See: https://github.com/sigp/lighthouse/blob/bbde06eb9f2b7a5ae00a3c6f41295bb8f1fcd083/tests/ef_tests/src/cases/ssz_static.rs#L124-L135

[2019-07-21 13:33] b-m-f opened #445 "13 failed tests on master"
## Description
Checking out `master` at bbde06eb and running `cargo test --all --release` results in 13 errors

## Present Behaviour

[code]
## Expected Behaviour
All tests should be green

## Steps to resolve
Fix the tests

[2019-07-22 02:36] michaelsproul commented on #445
This looks like it's failing because you don't have the YAML files for the EF tests loaded, did you see any messages like this?

[code]

To get the YAML files, you'll need [Git LFS](https://git-lfs.github.com/), and to run:

[code]

[2019-07-22 03:53] luomijie opened #446 "Cannot start client before genesis"
## Description

Please provide a brief description of the issue.

## Present Behaviour

I can't fix this Error "Cannot start client before genesis！"

## Expected Behaviour

How _should_ the application behave?

## Steps to resolve
Today ,I was update my code to v0.8 version, Complied successfully,But running the beacon_node was failed ,show error "Cannot start client before genesis！"

[2019-07-22 03:55] #446 closed

[2019-07-22 05:03] michaelsproul opened #447 "Fork choice should examine beacon_block_root rather than target.root"
## Description

Fork choice looks at the epoch boundary block (`attestation.data.target.root`) rather than the most recent Beacon block when determining the head (`attestation.data.beacon_block_root`), here: https://github.com/sigp/lighthouse/blob/bbde06eb9f2b7a5ae00a3c6f41295bb8f1fcd083/beacon_node/beacon_chain/src/fork_choice.rs#L135

## Steps to resolve

We should change fork choice to use the

[2019-07-22 08:41] b-m-f commented on #445
@michaelsproul thanks! That was it.

Somehow `git submodule init && git submodule update` did not work for me.

Doing a fresh clone with `git clone --recursive https://github.com/sigp/lighthouse` worked though.

I have also added a PR for `installation.md` at https://github.com/sigp/lighthouse/pull/448, the dependency list was somehow misaligned :)

[2019-07-22 08:41] #445 closed

[2019-07-24 05:25] michaelsproul opened #452 "Implement genesis EF tests"
## Description

v0.8 introduces new EF tests for genesis, described here: https://github.com/ethereum/eth2.0-specs/blob/v0.8.1/specs/test_formats/genesis/README.md

We don't yet have a parser and executor for them.

## Steps to resolve

Add a parser and executor for the genesis tests.

[2019-07-24 05:26] michaelsproul commented on #452
@paulhauner I'm thinking we could leave this until after v0.0.1 and the v0.8 merge, if we're short on time

[2019-07-24 10:11] AgeManning commented on #434
Completed in #443

[2019-07-24 10:11] #434 closed

[2019-07-24 10:11] AgeManning commented on #420
Completed in #441

[2019-07-24 10:11] #420 closed

[2019-07-24 12:57] b-m-f commented on #435
@AgeManning Would love to give this a go if no one is working on it

[2019-07-25 01:39] AgeManning commented on #435
Hey, yep. I've had another think about this. Perhaps we don't need to actually combine the poll_fn's rather, revert them back to two separate loops (I had this before, I can't think of reason not to at the moment).

Currently, we ensure that the two Poll's are not ready, before returning NotReady: see here: https://github.com/sigp/lighthouse/blob/master/beacon_node/network/src/service.rs#L110

I t

[2019-07-26 02:34] AgeManning opened #453 "Improve logging format"
## Description

I think the logs would be nicer if we have a dedicated space between the message title and the key-values associated with `slog`.

An example of this format is in geth.

[code]

This issue involves changing the format of the `slog::Logger`. Hopefully a single change in `main.rs` will propagate this format through the codebase :).

[2019-07-26 03:06] AgeManning opened #454 "Add logic to handle whether to drop peers given their protocol support"
## Description

Currently lighthouse will disconnect from peers that do not support all the libp2p protocols that we do (Gossipsub / Ping / All Eth 2 RPC's). Note: We will be removing Ping in favour of discv5 ping in the near future.

This issue is about adding specific logic around which minimal protocols a peer can support that we accept without disconnecting.

Potentially we should allow a subs

[2019-07-26 09:48] blacktemplar commented on #442
I had a look into this issue (my first work on this repo here), but it seems that the committee cache for the next epoch is not always initialized.

I created a small test (see https://github.com/blacktemplar/lighthouse/blob/5ebcd445ab132114b4f42a4b3eff4bfa925b2b58/eth2/types/src/beacon_state.rs#L310) for this and for example the following test run prints some uninitialized messages:

`cargo test

[2019-07-26 10:36] michaelsproul commented on #442
Welcome! Thanks for checking us out!

You're on exactly the right track. It's true that on `master` the cache isn't always initialised. However, that's changing as part of our move to v0.8 of the spec (PR #444). We'll probably merge that PR on Monday, at which point we'll be ready for a PR from you on this issue :)

[2019-07-26 17:34] adlerjohn opened #458 "Fix installation docs: git submodules command"
## Description

The installation docs have the incorrect command for setting up git submodules.

## Present Behaviour

`git submodule init`

## Expected Behaviour

`git submodule init; git submodule update`

## Steps to resolve

Change line as above.

[2019-07-26 17:48] blacktemplar opened #460 "Clippy Error in package boolean-bitfield"
## Description

I ran today clippy on the whole project and got an error in the package boolean-bitfield.

## Present Behaviour

After running `cargo clippy --package boolean-bitfield` we get:

[code]

## Expected Behaviour

Successfully finish with no error.

## Steps to resolve

If I understand the comment in https://github.com/sigp/lighthouse/blob/b5af73d056e896c6ed8d1033c9e9cbc562cf6ec8/eth2/u

[2019-07-26 18:02] blacktemplar commented on #453
I took a take on this, see: #461. Not sure if this is the most elegant way to do it, but it does what we want. Although there are quit many logs which have a quite long message, so it looks not totally aligned. We can also change the width of the alignment, at the moment it is 30 characters for the message. I just saw your geth example uses 40 characters, I can increase that if you want.

[2019-07-26 18:13] g-r-a-n-t commented on #406
@gitcoinbot wrapping this up

[2019-07-27 03:37] #458 closed

[2019-07-27 06:22] michaelsproul commented on #460
Nice find! We're actually deleting that boolean-bitfield implementation as part of the move to v0.8, so I'm going to close this issue. Lighthouse is a fast-moving target at the moment! 🚀

[2019-07-27 06:22] #460 closed

[2019-07-28 23:55] #408 closed

[2019-07-29 07:08] paulhauner opened #463 "Implement Eth1 RPC linking"
## Description

Beacon nodes must connect to Eth1 nodes and gather (at a minimum):

- Logs emitted by the deposit contract.
- The values of the `get_hash_tree_root()` and `get_deposit_count()` calls on the deposit contract.
- The hash of some block at some height in the Eth1 chain.

## Steps to resolve

@pawanjay176 is working on this and we have discussed a lot offline.

[2019-07-29 07:08] paulhauner commented on #218
Superseded by #463

[2019-07-29 07:08] #218 closed

[2019-07-29 07:16] paulhauner commented on #447
Fixed in #451

https://github.com/sigp/lighthouse/blob/177df12149f2719c305958a76bcdca71ee7e83e4/beacon_node/beacon_chain/src/fork_choice.rs#L130

[2019-07-29 07:16] #447 closed

[2019-07-29 08:51] blacktemplar commented on #384
I will have a look into this :)

[2019-07-29 10:52] paulhauner commented on #421
Closed via #457

[2019-07-29 10:52] #421 closed

[2019-07-29 10:54] paulhauner commented on #384
Thanks for the initiative @blacktemplar!

@pawanjay176 is working on the deposit processing over in #463, so the eth1-rpc side of things is not in the code-base presently.

We could still create a wrapper struct and update state processing as such, however, that should be done off the `v0.8` branch. If you can wait a day or two we'll have v0.8 in master. Alternatively, you could work off the `v0.8

[2019-07-30 02:44] #433 closed

[2019-07-30 02:51] michaelsproul opened #464 "Confirm behaviour of attestations with extra bits"
## Description

We should delete the commented out check [here](https://github.com/sigp/lighthouse/blob/a236003a7b8e2293432ceff7741a61471ee47089/eth2/state_processing/src/common/get_attesting_indices.rs#L20-L24) once it is confirmed that extra bits are allowed in the aggregation bits (https://github.com/ethereum/eth2.0-specs/pull/1327)

[2019-07-30 06:21] paulhauner opened #467 "Project directory restructure"
## Description

Our current directory structure is not clear when it comes to the `eth2/utils` directory. For example:

- `serde_hex` is not ethereum specific.
- Why is `ssz` in `eth2/utils`, not in `eth2`? (and vice-versa for things in `eth2/`, why aren't they in `eth2/utils`?)

I propose the following change.

## Proposal

Here are the directories that should live in the root:

- `beacon_node`:

[2019-07-30 06:57] paulhauner commented on #384
`v0.8` has been merged into master now, so as long as you're based off `master` you'll be fine :)

[2019-07-30 07:02] #452 closed

[2019-07-30 07:19] #401 closed

[2019-07-30 23:06] #453 closed

[2019-07-31 00:29] paulhauner opened #473 "Add rustfmt to Travis"
## Description

TravisCI does not run a check for `cargo fmt`. I think this would be a simple test that could help contributors more easily detect when they've defied cargo fmt.

[2019-07-31 00:39] michaelsproul commented on #464
Looks like the resolution is to _keep_ the check, we can update once the next v0.8.x spec is released

[2019-07-31 00:50] michaelsproul opened #475 "Remove compact committees root workaround"
## Description

We've implemented an unsightly workaround for a bug in the compact committees roots calculation, here: https://github.com/sigp/lighthouse/blob/309b10c4a84c512e88c339ff93417ec916c71228/eth2/state_processing/src/common/get_compact_committees_root.rs#L14-L21

Once a new spec is released we'll be able to remove the workaround, and also resolve #442

[2019-07-31 04:45] #473 closed

[2019-07-31 06:10] spble opened #478 "HTTP API Prevents Graceful Shutdown w/ Chrome"
## Description

With the inclusion of the `graceful_shutdown` function in the RESTful HTTP API, Lighthouse should properly shutdown on an interrupt such as `Ctrl+C`, however it does not.

## Present Behaviour

 1. Start the `beacon_node`
 2. Make a HTTP request to the API
 3. Shutdown the `beacon_node`
 4. `beacon_node` hangs indefinitely, until...
 5. Make another HTTP request to the API
 6. `bea

[2019-07-31 21:56] paulhauner commented on #478
Note: this issue is only present when using Chrome to access the API. Using `curl` does not result in Hyper "hanging".

This leads me to believe that Chrome is keeping a connection alive and Hyper is acting correctly.

I still think we should leave this open until we figure out exactly what's going on with Chrome :)

[2019-07-31 22:46] michaelsproul commented on #467
I quite like this restructure!

I was thinking we should maybe use subdirectories for `beacon` and `shard` code, but actually I think the prefix is better because it trivially propagates to the crate name (you don't end up with two crates called `state_processing`).

One crate that's missing in the current plan is the operation pool, it could live under either `eth/beacon_op_pool` (similar to the

[2019-08-01 16:16] b-m-f commented on #454
Hi @AgeManning,

I found https://github.com/sigp/lighthouse/blob/master/beacon_node/network/src/sync/simple_sync.rs#L169 ,  https://github.com/sigp/lighthouse/blob/master/beacon_node/network/src/message_handler.rs#L246 and https://github.com/sigp/lighthouse/blob/master/beacon_node/network/src/sync/simple_sync.rs#L115 as places where a peer is or could be disconnected.

Is there any other place I a

[2019-08-02 01:29] paulhauner opened #481 "Skip slots causing issues with ancestor iters"
## Description

The [`StateRootsIterator`](https://github.com/sigp/lighthouse/blob/89cb01cc93c637ca489a01e5867c80690eb4ed9a/beacon_node/store/src/iter.rs#L24-L78) assumes that all roots in `state.state_roots` are valid keys in the database.

This assumption is incorrect, because don't store states when there is a skip-slot. There are two places (I can think of) where we produce a state without sto

[2019-08-02 01:49] paulhauner opened #482 "Problems with BeaconChain::current_state(..)"
## Description

Presently we keep a [`state`](https://github.com/sigp/lighthouse/blob/89cb01cc93c637ca489a01e5867c80690eb4ed9a/beacon_node/beacon_chain/src/beacon_chain.rs#L76-L79) field on the `BeaconState`. Each time the slot-clock ticks, we advance it to ensure it's up-to-date with the current slot (we call this process a "catch up").

This was originally added as a sort-of cache to ensure we c

[2019-08-02 02:01] michaelsproul opened #483 "Switch on-disk database from LevelDB to RocksDB"
## Description

Currently we use LevelDB as our on-disk store, however, the Rust bindings for it are very minimally maintained and missing a few useful features like range queries, i.e. "give me all the values between key X and X + N". See: https://github.com/skade/leveldb

In contrast, the [RocksDB bindings](https://github.com/rust-rocksdb/rust-rocksdb) are much more actively maintained (updates

[2019-08-02 02:10] paulhauner commented on #483
I remember @AgeManning having some issues with RocksDB and I think I remember @kirk-baird saying that someone at Parity said they wished they used LevelDB instead of Rocks.

My understanding is that Rocks is a bit faster, however it is more susceptible to corruption. This understanding is pretty loose though, I might try and ask around :)

[2019-08-02 02:22] michaelsproul commented on #481
As an alternative solution, could we make `StateRootsIterator` reconstruct the skipped states? It could iterate back until it finds a real state and then run forwards again, caching the results for future iterations. Sounds a bit complicated and slow though, and maintaining the invariant that if a state is stored in the database then all its ancestors are too is nicer anyway...

In that case I'm h

[2019-08-02 02:52] paulhauner commented on #481
I don't think this works in all cases. For example, if we skip > `SLOTS_PER_HISTORICAL_ROOT` slots then we won't have any reference to a full-state.

[2019-08-02 06:23] michaelsproul opened #484 "Optimise state storage with Chunked Ranges™"
## Motivation

At the moment we duplicate _a lot_ of data when we store `BeaconState`s in the database. For example, the `active_index_roots` vector is `2**16 elements * 32 bytes = 2MiB` in size, is updated only once per epoch, and is stored in every single state! Over the course of the time it takes to change every element in that vector (`2**16` epochs), this field alone accounts for `2**16 epoc

[2019-08-02 22:27] paulhauner opened #485 "DoS vector when processing blocks with big skips"
## Description

As mentioned in #482, when we receive a block for processing we load its previous state from disk and advance the state to the slot of the to-be-processed block.

Advancing the state requires significant computation (hashing, per-epoch processing, etc) which scales linearly with the slot-wise distance between the block and it's parent. With an unbounded distance, it's not unreasona

[2019-08-02 22:34] terencechain commented on #485
@prestonvanloon was just talking about this today, we saw big timeout when beacon node has to process a bunch of skip slots to compute the assignments. We are researching a proper way to cache for long skip slots and redundant advancements

[2019-08-02 22:53] paulhauner commented on #482
Upon second thoughts, I'm not sure that making `beacon_chain.state` private is the best solution. This will result in duplication of work at run-time and duplication of code (calling `per_slot_processing`). I think the best solution might be to provide a method on `BeaconChain` that has a similar function signature to:

[code]

This way we obtain the following properties:

- It becomes more obviou

[2019-08-02 23:10] paulhauner commented on #485
Great minds! :D

We have a cached `BeaconState` that we use for faster block production and committee retrieval. It's a bit naive at the moment, but I'm looking to improve it with #482. I'll be interested to hear what you come up with!

I think this issue is similar to that, but a solution to the block _production_ and committee retrieval problem doesn't necessarily address this problem about bloc

[2019-08-02 23:24] paulhauner commented on #485
@protolambda just pointed out that there's a safe `MAX_DISTANCE` that doesn't restrict the set of processable blocks because at some point all validators will be slashed out.

[2019-08-04 04:40] g-r-a-n-t commented on #406
@gitcoinbot Waiting on a review.

[2019-08-05 01:07] paulhauner commented on #482
I'm going to start implementing the solution directly above this ^^

These works will also address #485

[2019-08-05 01:08] paulhauner commented on #485
I'm working on this now

[2019-08-05 06:56] michaelsproul commented on #484
@paulhauner and I had a meeting offline where we discussed this issue and our conclusions were:

* We'll tackle tree hash caching (#440) separately for now, because the requirements are different: we want tree hash caching only for recent states, whereas we want the DB store to be long-term. There's also an issue with the tree hashes of chunks not being relevant to the tree hash of the whole vecto

[2019-08-05 19:28] prestonvanloon commented on #485
Why would a block at slot 1,000,000 have a parent block that is genesis and still be valid? (Assuming there is at least one finalized epoch since genesis.) We already know that this block can never be the head of the chain since we already have a finalized fork height that is greater than the parent of this block.

I'm thinking that we can reject any block from the future and any block that refere

[2019-08-06 00:55] michaelsproul commented on #484
I'm going to start prototyping this

[2019-08-06 01:02] AgeManning commented on #454
This one is a little more involved in libp2p land. We should solidify this issue as we progress with interop. For now, I think we just let peers support arbitrary protocols so clients don't drop others instantly.

When negotiating protocols, if an error occurs when negotiating an outbound request the peer gets dropped. This logic needs to be handled in our fork of rust-libp2p for gossipsub, and oc

[2019-08-06 01:56] AgeManning commented on #435
Resolved in #471

[2019-08-06 01:56] #435 closed

[2019-08-06 02:48] paulhauner commented on #485
Agreed, we're taking this approach too.

However, if the last finalized epoch is 4 epochs ago, there's still this problem where a malicious actor can force us to replay 4 epochs worth of skipping when it's very unlikely that `4 * 64` blocks have been skipped.

The real concern is that we can't even verify the signature of the block before we do this skipping as we can't map `block.slot -> validato

[2019-08-06 03:49] #384 closed

[2019-08-06 05:37] arnetheduck commented on #485
We've been contemplating this one mostly - it applies to most of the spec that it would be nice to be able to apply only relevant parts. We have yet to make the data dependency analysis to find out which parts of the spec code touch which parts of the state and therefore can be made independent. Has anyone conducted a study like this? I imagine with a control flow graph one could generate it from

[2019-08-06 08:22] paulhauner commented on #485
I haven't done anything like this, but as I just mentioned here https://github.com/ethereum/eth2.0-specs/issues/1339, you probably need to scan the validator registry at least once during this process.

Validator exit or activation epochs might occur during the skips and you need to keep track of that in order to know the active validator indices (and therefore the shuffling) for the to-be-verifie

[2019-08-06 21:23] paulhauner commented on #485
Here's a fairly detailed analysis from Vitalik: https://github.com/ethereum/eth2.0-specs/issues/1340

[2019-08-08 03:24] AgeManning opened #495 "Update to latest Eth2 Networking Spec"
## Description

A new Ethereum network specification has been merged.

This issue is to track Lighthouse's update to conform to this specification.

[2019-08-08 03:31] AgeManning opened #496 "Sync Re-write"
## Description

The RPC methods are changing in the network upgrade. The `SimpleSync` logic will need to be re-written accordingly.

In this process it may be useful to remove `NetworkContext` all together.

[2019-08-09 00:10] michaelsproul commented on #484
Whilst prototyping I've noticed an issue with this idea:

* The `state_roots` of a given `state` do not contain enough history to successfully reconstruct the `randao_mixes`, `active_index_roots` or `compact_committees_roots`. This is obvious in hindsight, as these vectors are long-term archives (~0.8 years of history), rather than short-term archives (~13 hours of state roots). While it would be

[2019-08-09 22:35] paulhauner opened #498 "Increasing block processing times"
## Description

Block processing times seem to be increasing linearly throughout the life of a testnet, doubling ever 2-3 hours (on 1s slot times).

## Steps to Resolve

Add fine-grained metering to block processing and identify which process is causing the blow-up.

[2019-08-12 00:18] michaelsproul commented on #484
Closing, the prototype code is preserved [here](https://github.com/michaelsproul/lighthouse/tree/chunked-vec).

[2019-08-12 00:18] #484 closed

[2019-08-12 00:42] michaelsproul opened #499 "Optimise state storage with long-term freezer database"
## Description

As raised in #484 we need to do something about the duplication of state in the database. This RFC proposes to solve the problem by storing state efficiently before the last finalized checkpoint, in tables similar to those used in #484 (sequential DB keys, multiple values per key).

## Design Details

This is more of a quick idea dump before I start prototyping:

* Separate "hot" a

[2019-08-12 01:02] paulhauner commented on #499
Sounds good! I've been thinking about this a bit and I'm totally on board!

Here's some points I've been considering:

- Having some overlap between hot/cold might be nice too (e.g., a few epochs).
   - This works well with a background process that's working over time to migrate values from hot
- Using an arbitrary, user configurable hot/cold boundary range would be useful (e.g., not just always

[2019-08-12 01:17] michaelsproul commented on #499
Yeah I'm on-board with all your points!

I think the configurable boundary point is a particularly good idea, I'll make sure the code is generic over that.

You mean you ask the node to switch more data into the hot/cold database while it's running? I can see how that would be useful, and doing the cold -> hot transfer could probably mirror the hot -> cold transfer quite easily.

[2019-08-12 01:20] paulhauner commented on #499
Correct! I didn't consider that we'd need to go cold -> hot. If that turns out to be complicated, I think just getting a non-dynamic system running would be a very significant improvement alone!

[2019-08-12 08:10] michaelsproul commented on #499
I'm prototyping, so far so good...

[2019-08-12 10:20] g-r-a-n-t commented on #406
@gitcoinbot The commits are making their way in.

[2019-08-14 00:55] #406 closed

[2019-08-14 02:31] paulhauner commented on #406
@gitcoinbot please feel free to payout this issue :)

Thanks @g-r-a-n-t and @gitcoinbot!

[2019-08-14 02:34] paulhauner commented on #499
I just had a thought, when we start syncing from some mid-chain finalized state (e.g., weak subjectivity bounary) we'll want to be able to drop blocks/state directly into the freezer (without touching the hot db).

[2019-08-15 07:04] michaelsproul commented on #499
Yeah, with the way things are shaping up, I think support syncing "middle out" from some finalized block should work well

[2019-08-15 09:32] AgeManning opened #502 "Update Discovery v5"
## Description

Discovery v5 has been updated by this PR: https://github.com/ethereum/devp2p/pull/108

Lighthouse's implementation needs to be updated to match these changes.

[2019-08-17 03:28] michaelsproul commented on #430
If someone feels like tackling this, I'm happy to mentor. Otherwise I'll get to it in a little while

[2019-08-19 11:02] #498 closed

[2019-08-21 08:28] paulhauner opened #503 "CLI strategy"
## Problem

We have several months of testing ahead of us that's going involve starting and restarting the `beacon_node` binary  in all different configurations. E.g., during the interop event we're going to be using several different configurations per day.

The CLI interface is getting a little cluttered and it's not clear as to what's going to happen. For example:

- What happens if I give a di

[2019-08-21 13:20] AgeManning commented on #503
I like the idea of subcommands for CLI parameters that we can group into them. I agree we have a few different ways to start the client and I like the testnet subcommand idea for setting up various forms of the network.

I don't think we should throw and error for all new users who run `./beacon_node` however. I think we should make it as simple and easy for new users to use lighthouse. Therefore

[2019-08-21 21:35] paulhauner commented on #503
Agreed, that's what I meant by this:

I just think that whilst the default setting is unclear (i.e., no testnet, no mainnet), we just throw an error.

[2019-08-22 06:09] AgeManning commented on #503
Yeah cool.

Let's do this then. As things evolve, this part is really easy to change so if we go down a different path later, not much time is lost :)

[2019-08-22 06:10] paulhauner commented on #503
I'll roll this in with some of the interop works I'm doing.

[2019-08-22 06:44] paulhauner commented on #373
`TreeHashCache` has been removed.

[2019-08-22 06:44] #373 closed

[2019-08-22 06:44] paulhauner commented on #419
Solved in recent PRs.

[2019-08-22 06:44] #419 closed

[2019-08-22 14:44] hermanjunge opened #505 "Could not find directory of OpenSSL installation [cargo test failing in ubuntu 18.04]"
## Description

Error at building in Ubuntu 18.04

[code]

## Present Behaviour

**Command**

[code]

**Output**

[code]

OpenSSL is installed in this machine

[code]

## Expected Behaviour

Build is completed and tests are ran.

## Steps to resolve

Please, include in the [environment docs](https://github.com/sigp/lighthouse/blob/master/docs/env.md) the following package for Ubuntu

[code]

Relat

[2019-08-23 02:22] paulhauner commented on #505
Thank you!

[2019-08-23 15:16] #505 closed

[2019-08-23 16:28] hermanjunge commented on #445
Got the same problem. Solved, is all about `git-lfs`, for some reason, the download of the lfs-pointed files wasn't being triggered.
Playing with the directory, got into there and did

[code]

But that wasn't good :stuck_out_tongue: as I got into a different branch than `aaa167` (the right branch of the submodule at the time. Had to `git checkout aaa167` into it, and got the right YAMLs and worked

[2019-08-24 09:59] AgeManning opened #509 "Improve Syncing Strategy - Load balancing"
## Description

The current syncing mechanism sequentially requests batches of blocks from peers. Although the requests are asynchronous an un-ordered between each peer, for an individual peer, these are requested sequentially and ordered.

The mechanism should updated to allow for batched, un-ordered, asynchronous requests from an individual peer. This will be useful to simultaneously request bat

[2019-08-26 14:38] AgeManning opened #511 "Upgrade to sequential processing of batch sync and correct thread handling"
## Description

The current sync strategy downloads sequential batches of blocks from known peers. Once an entire chain that is linked to our finalized head block is identified, all downloaded blocks are processed.

This is undesirable for a number of reasons.

1. We need to maintain, potentially large memory stores of downloaded blocks before processing
2. The processing of all blocks at one peri

[2019-08-26 14:38] AgeManning commented on #496
Resolved in #510

[2019-08-26 14:38] #496 closed

[2019-08-26 14:38] AgeManning commented on #495
Resolved in #510

[2019-08-26 14:38] #495 closed

[2019-08-26 23:59] paulhauner opened #512 "Remove old SSZ doc"
## Description

There's a really old [readme](https://github.com/sigp/lighthouse/tree/master/eth2/utils/ssz) in the ssz crate.

It describes a very old version of SSZ and is therefore misleading.

## Steps to resolve
Remove https://github.com/sigp/lighthouse/tree/master/eth2/utils/ssz. Replace it with a simple readme like below:

[code]

Where <crates.io badge> is a cargo badge for this crates.io

[2019-08-27 00:01] paulhauner commented on #403
Hey @krsnnik, thanks for reaching out!

I haven't thought about this one in a while. It's in fact _adding_ the `Cargo.lock` file to the repo :)

I would love your help, but my feeling is that we should have a "core developer" (someone with write access to this repo) do this one. It would generate a rather large file that would be difficult to audit, exposing an opportunity to inject a bad dep.

I

[2019-08-29 18:27] djrtwo opened #519 "Issue in README "Simple Local Testnet""
## Description

When going to Step 3 ([Start Another Beacon Node](https://github.com/sigp/lighthouse#3-start-another-beacon-node)) in the readme simple testnet instructions, the second node fails due to a collision in the RestAPI port.

## Present Behaviour

The current behaviour is that `./beacon_node` defaults to having the Rest API enabled due to the following default config.

https://github.co

[2019-08-31 20:37] AgeManning commented on #519
Hey Danny. Thanks for this. This has been fixed on our local branches but not pushed to master. Will correct in next merge.

[2019-09-01 23:29] 192-sean commented on #430
I'd like to tackle this.

[2019-09-02 06:19] michaelsproul commented on #430
Hey @192-sean! Thanks for offering to take this on!

Here's a rough plan for how you might get started if you'd like some tips:

1. Add a field to [`AttMaxCover`](https://github.com/sigp/lighthouse/blob/master/eth2/operation_pool/src/attestation.rs) which stores a mapping from fresh validator index to those validators' effective balances (or rewards). Something like `fresh_validator_rewards: HashM

[2019-09-02 09:21] AgeManning opened #521 "Network validation"
## Description

Need to employ validation for blocks and attestations received on the network.

We want an optimized strategy for doing so, which requires partial ssz decoding to validate the signature of blocks.

Further, gossipsub needs to allow for validation before propagation. Both Lighthouse and gossipsub need to be modified for achieve this.

[2019-09-02 09:24] AgeManning opened #522 "RPC/Sync Error Handling"
## Description

Handling various errors over the RPC channel need to be employed.

Specifically

- Requesting too many blocks may result in the peer returning an error and a smaller request should be re-issued (this depends on some standardised error message)
- Handling error cases gracefully with the RPC error response.
- Propagate errors to sync to cancel requests and remove peers from memory

[2019-09-03 14:00] jtomanik commented on #483
Have you guys considered LMDB?

Monero team is using it successfully as well as Mozilla. Here are some considerations behind their choice:
[https://monero.stackexchange.com/questions/702/why-did-monero-choose-lmdb-over-alternative-database-types/784](https://monero.stackexchange.com/questions/702/why-did-monero-choose-lmdb-over-alternative-database-types/784)

[https://mozilla.github.io/firefox-br

[2019-09-04 15:28] AgeManning opened #524 "Efficient Decoding and Improved Message Validation"
## Description

The current behaviour is to decode entire blocks and attestations. If decoded and processed semi-successfully (we consider a block with an unknown parent successful, which isn't great) we forward these objects to other peers.

Ideally we would like to partially decode blocks, verify the proposer's signature before forwarding/processing. This currently may open up DOS vectors in pro

[2019-09-04 15:41] AgeManning opened #525 "Segregate message handler and sync into seperate threads"
## Description

The logic between the message handler and syncing should be separated and split into separate threads. The message handler currently handles all decoding and validation of messages before passing them onto the sync manager. We should add responding to RPC messages to the list of message handler duties. The message handler now also determines whether objects should be forwarded acro

[2019-09-05 06:55] michaelsproul commented on #483
Thanks for the tip @jtomanik, we hadn't! LMDB does look like a strong contender, particularly with bindings maintained by Mozilla.

There's a lot going on with Lighthouse at the moment, but in a few weeks we should have time to do some benchmarks and try some alternatives.

[2019-09-07 18:39] paulhauner opened #527 "eth2.0-spec-tests submodule removed"
## Description

[This commit](https://github.com/sigp/lighthouse/commit/9461b5063b3ea9e0af05527af7dacf3d9d13f438) removes the `eth2.0-spec-tests` submodule and introduces a `Makefile` that downloads the files previously supplied by the submodule. The makefile downloads files from the [test releases](https://github.com/ethereum/eth2.0-spec-tests/releases).

Why this was done:
- According to @protol